-dump-list-1LQMOC7dR2hQSFWw.json
{"updatedAt":"2025-11-16T11:23:09.029Z","createdAt":"2025-08-05T13:42:23.326Z","id":"1LQMOC7dR2hQSFWw","name":"ATIVIDADES / DUMP LIST","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"d9eb98e2-9cf4-4f9e-80ea-EWQE12321","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,-288],"id":"45f7c408-9d84-4c31-a708-b766ce32a90f","name":"Webhook","webhookId":"d9eb98e2-9cf4-4f9e-80ea-eadba3a0be28"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[992,-416],"id":"421ae650-376b-4931-a5de-60179203b35a","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"=data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[784,-416],"id":"c9a2f8b5-9218-4869-835a-777262b8a723","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7b1a5f5b-ce5d-424e-814f-ad0d8aac65c8","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-416],"id":"e2334252-1c75-47e0-a9c8-00aaa128db3d","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,-416],"id":"4b4e60ba-82b7-445d-9089-60aca645d006","name":"Se for audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,-160],"id":"c2f0b78c-08dd-43a9-8a5d-0208aadb9f9a","name":"Se for texto"},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901317254427/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_42999166_JKJ05V8K692OIZCKQTO418TQ8KOALQ0J"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1312,-240],"id":"41ce1e44-4b0c-40e0-9dd7-0be963e98d87","name":"CLICKUP_NEW_TASK1"},{"parameters":{"resource":"messages-api","instanceName":"=notificacoes","remoteJid":"=120363401580142650@g.us","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[864,-160],"id":"387b96c8-d3a7-4f58-ac44-4b90aa331ed6","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=notificacoes","remoteJid":"=120363401580142650@g.us","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1584,-416],"id":"54ded6f6-5111-49e5-a4b3-605b1e6e7e01","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o audio para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'WPP' após o texto), está no placeholder = {nome_da_tarefa}. NAO DEIXE DE SEGUIR ESSE PASSO. \n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]).\n\n\nRetorne somente: \"Task created in BACKLOG✅\"","role":"system"},{"content":"=Audio: {{ $json.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1232,-416],"id":"d11d08a0-ea59-483e-9b39-ae305980df9e","name":"Message a model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o texto ou link para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'WPP' após o texto), está no placeholder = {nome_da_tarefa}. NAO DEIXE DE SEGUIR ESSE PASSO. \n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]).\n\n\nRetorne somente: \"Task created in BACKLOG✅\"","role":"system"},{"content":"={{ $json.body.data.message.conversation }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[512,-160],"id":"bdfbe6ac-c7d3-4c90-b851-b91a64a30d2d","name":"Message a model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901317254427/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_42999166_JKJ05V8K692OIZCKQTO418TQ8KOALQ0J"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[608,32],"id":"c8270473-1dc8-448f-bebe-4efc7e50eda4","name":"CLICKUP_NEW_TASK2"}],"connections":{"Webhook":{"main":[[{"node":"Se for audio","type":"main","index":0},{"node":"Se for texto","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Se for audio":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Se for texto":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"CLICKUP_NEW_TASK1":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Enviar texto":{"main":[[]]},"Message a model":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"CLICKUP_NEW_TASK2":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.8.3","content-length":"760","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.232.12","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"4GbXwPDDTIOklLXUn6XIxQ","x-real-ip":"162.220.232.12","x-request-start":"1754402249858"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Miqueias","data":{"key":{"remoteJid":"120363401580142650@g.us","fromMe":true,"id":"3FCA50146C182291ECFD","participant":"556294342576@s.whatsapp.net"},"pushName":"Miqueias","status":"SERVER_ACK","message":{"conversation":"Configurar tidycall do Claudio"},"contextInfo":{"expiration":0},"messageType":"conversation","messageTimestamp":1754402247,"instanceId":"55f1ff5a-e540-42b1-92f6-5a9a135c5d49","source":"desktop"},"destination":"https://primary-production-70c40.up.railway.app/webhook/86351806-11bc-468d-84dd-fcf535477df5","date_time":"2025-08-05T10:57:28.739Z","sender":"556294342576@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"4F0EA3313304-4B23-9AF6-C9E3F779D547"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/d9eb98e2-9cf4-4f9e-80ea-EWQE12321","executionMode":"production"}}]},"versionId":"a067106d-89d4-403c-8834-6f4da2c02bb2","activeVersionId":"a067106d-89d4-403c-8834-6f4da2c02bb2","triggerCount":1,"shared":[{"updatedAt":"2025-08-05T13:42:23.326Z","createdAt":"2025-08-05T13:42:23.326Z","role":"workflow:owner","workflowId":"1LQMOC7dR2hQSFWw","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"a067106d-89d4-403c-8834-6f4da2c02bb2","workflowId":"1LQMOC7dR2hQSFWw","nodes":[{"parameters":{"httpMethod":"POST","path":"d9eb98e2-9cf4-4f9e-80ea-EWQE12321","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,-288],"id":"45f7c408-9d84-4c31-a708-b766ce32a90f","name":"Webhook","webhookId":"d9eb98e2-9cf4-4f9e-80ea-eadba3a0be28"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[992,-416],"id":"421ae650-376b-4931-a5de-60179203b35a","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"=data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[784,-416],"id":"c9a2f8b5-9218-4869-835a-777262b8a723","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7b1a5f5b-ce5d-424e-814f-ad0d8aac65c8","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-416],"id":"e2334252-1c75-47e0-a9c8-00aaa128db3d","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,-416],"id":"4b4e60ba-82b7-445d-9089-60aca645d006","name":"Se for audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,-160],"id":"c2f0b78c-08dd-43a9-8a5d-0208aadb9f9a","name":"Se for texto"},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901317254427/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_42999166_JKJ05V8K692OIZCKQTO418TQ8KOALQ0J"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1312,-240],"id":"41ce1e44-4b0c-40e0-9dd7-0be963e98d87","name":"CLICKUP_NEW_TASK1"},{"parameters":{"resource":"messages-api","instanceName":"=notificacoes","remoteJid":"=120363401580142650@g.us","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[864,-160],"id":"387b96c8-d3a7-4f58-ac44-4b90aa331ed6","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"=notificacoes","remoteJid":"=120363401580142650@g.us","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1584,-416],"id":"54ded6f6-5111-49e5-a4b3-605b1e6e7e01","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o audio para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'WPP' após o texto), está no placeholder = {nome_da_tarefa}. NAO DEIXE DE SEGUIR ESSE PASSO. \n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]).\n\n\nRetorne somente: \"Task created in BACKLOG✅\"","role":"system"},{"content":"=Audio: {{ $json.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1232,-416],"id":"d11d08a0-ea59-483e-9b39-ae305980df9e","name":"Message a model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o texto ou link para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'WPP' após o texto), está no placeholder = {nome_da_tarefa}. NAO DEIXE DE SEGUIR ESSE PASSO. \n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]).\n\n\nRetorne somente: \"Task created in BACKLOG✅\"","role":"system"},{"content":"={{ $json.body.data.message.conversation }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[512,-160],"id":"bdfbe6ac-c7d3-4c90-b851-b91a64a30d2d","name":"Message a model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901317254427/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_42999166_JKJ05V8K692OIZCKQTO418TQ8KOALQ0J"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[608,32],"id":"c8270473-1dc8-448f-bebe-4efc7e50eda4","name":"CLICKUP_NEW_TASK2"}],"connections":{"Webhook":{"main":[[{"node":"Se for audio","type":"main","index":0},{"node":"Se for texto","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Se for audio":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Se for texto":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"CLICKUP_NEW_TASK1":{"ai_tool":[[{"node":"Message a model","type":"ai_tool","index":0}]]},"Enviar texto":{"main":[[]]},"Message a model":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"CLICKUP_NEW_TASK2":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}