1---curadoria-oB0qAW0yEiYUHfrT.json
{"updatedAt":"2025-07-03T18:16:02.468Z","createdAt":"2025-07-03T15:40:32.297Z","id":"oB0qAW0yEiYUHfrT","name":"1 - Curadoria","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E","mode":"list","cachedResultName":"Robô DarkContent Miqueias","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"conteudos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Rascunho"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[20,-60],"id":"152cbbfc-a984-40be-ada7-a33e90516596","name":"Pega linhas pendentes","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,-60],"id":"7cf36e58-a87b-43e0-9965-a067b711cc46","name":"A cada minuto"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Crie um post para blog baseado na palavra chave '{{ $('Pega linhas pendentes').item.json['Palavra Chave Foco'] }}' com o título \"{{ $('ChatGPT - SEO1').item.json.message.content.titulo }}\", seguindo as diretrizes:\n\n**ESTRUTURA DE RESPOSTA:**\n- A resposta deve ser em formato JSON válido\n- Organize o conteúdo em seções com títulos e parágrafos\n- Cada seção deve ter um título e conteúdo correspondente\n\n**DIRETRIZES DE CONTEÚDO:**\n1. **Readability:** Score de 70-80 e nível 7th grade\n2. **Extensão:** Mínimo de 2000 palavras\n3. **Subtítulos:** Desenvolva os subtítulos: {{ $('ChatGPT - SEO1').item.json.message.content.subtitulos }}\n4. **Evite:** Introdução e conclusão tradicionais\n5. **Idioma:** Português brasileiro\n\n**FORMATAÇÃO:**\n- Use marcações HTML dentro do conteúdo JSON: <p>, <strong>, <em>, <h3>, <ul>, <li>\n- Títulos de seção como <h2> no início de cada subtítulo\n- NÃO inclua título <h1>\n\n**ESTRUTURA JSON ESPERADA:**\n```json\n{\n  \"sections\": [\n    {\n      \"title\": \"Título da Seção 1\",\n      \"content\": \"<h2>Título da Seção 1</h2><p>Conteúdo da seção com <strong>formatação HTML</strong>...</p>\"\n    },\n    {\n      \"title\": \"Título da Seção 2\", \n      \"content\": \"<h2>Título da Seção 2</h2><p>Conteúdo da seção...</p><ul><li>Item 1</li><li>Item 2</li></ul>\"\n    }\n  ],\n  \"word_count\": 2000,\n  \"keyword_focus\": \"{{ $('Pega linhas pendentes').item.json['Palavra Chave Foco'] }}\"\n}\n```\n\n**EXEMPLO DE RESPOSTA:**\n```json\n{\n  \"sections\": [\n    {\n      \"title\": \"O que é SEO?\",\n      \"content\": \"<h2>O que é SEO?</h2><p>SEO, ou <strong>otimização para mecanismos de busca</strong>, é o processo de melhorar a visibilidade de um site nos resultados orgânicos dos motores de busca, como o Google. Quando alguém procura por informações, o Google usa algoritmos para determinar quais páginas devem ser mostradas.</p>\"\n    },\n    {\n      \"title\": \"Por que o SEO é Importante?\",\n      \"content\": \"<h2>Por que o SEO é Importante?</h2><p>O SEO é crucial por várias razões:</p><ul><li><strong>Aumento de Tráfego:</strong> Quanto melhor seu posicionamento, mais visitantes você receberá.</li><li><strong>Credibilidade:</strong> Sites que aparecem nas primeiras posições são vistos como mais confiáveis.</li></ul>\"\n    }\n  ],\n  \"word_count\": 2000,\n  \"keyword_focus\": \"SEO\"\n}\n```\n\n**IMPORTANTE:** \n- Retorne APENAS o JSON válido, sem texto adicional\n- Garanta que o JSON seja bem formatado e válido\n- Mantenha a qualidade e profundidade do conteúdo"},{"content":"Você é um especialista em SEO, seja capaz de criar conteúdos poderosos e otimizados para SEO, que alcance as melhores posições no rank do Google.","role":"system"}]},"jsonOutput":true,"options":{}},"id":"7ba0165b-e413-4ed0-8cbc-8c775d51197d","name":"ChatGPT - Conteúdo1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1200,-60],"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{},"id":"d2e75a37-7e57-4b2b-ae15-00f8e12e6bd6","name":"Aguarde1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,-60],"webhookId":"f81fd37f-c67e-4994-a936-3c3ccc700cd3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Gere um objeto JSON com os seguintes itens para um post de blog, 'titulo', 'descricao', 'introducao' e 'subtitulos', com base na palavra chave '{{ $('Pega linhas pendentes').item.json['Palavra Chave Foco'] }}' e nas regras específicas:\n\n- 'titulo': Crie um título que gere curiosidade e incentivará cliques nos resultados de busca, o título deve conter entre 45 e 63 caracteres, use a palavra chave de forma proeminente no início;\n\n- 'descricao': Crie uma descrição com até 20 palavras, use a palavra chave de forma proeminente no início;\n\n- 'introducao': Crie uma introdução para capturar a atenção do leitor, inclua palavras-chave relevante para SEO no primeiro parágrafo, evite criar títulos, use marcações HTML, considere readability com 70 – 80 de escore e 7th grade, leve em consideração os subtítulos criados;\n\n- 'subtitulos': Crie apenas 10 subtítulos distintos, evite enumerar os subtitulos;\n\n# Observações:\nNão altere o nome dos atributo;\nNão crie atributos;\nNão crie nenhuma intro nos resultados ou prefixo.\nEscreva no idioma português (brasileiro);\n\nExample Json Output: {\"titulo\":\"O que é SEO: Descubra Como Melhorar Seu Site Agora!\",\"descricao\":\"O que é SEO e como ele pode transformar o seu site?\",\"introducao\":\"<p>Você já se perguntou <strong>o que é SEO</strong> e por que é tão importante? Entender os conceitos de <em>otimização para mecanismos de busca</em> pode ser a chave para o sucesso online. Neste artigo, vamos explorar <strong>o que é SEO</strong>, seus benefícios e as melhores práticas para aplicar em seu site.</p>\",\"subtitulos\":[\"A Importância do SEO para Seu Negócio\",\"Principais Elementos do SEO\",\"Técnicas de SEO que Você Deve Conhecer\",\"Como Medir o Sucesso do SEO\"...]}"},{"content":"You are an SEO specialist with expertise in content creation.","role":"system"}]},"jsonOutput":true,"options":{}},"id":"c0b5a3c9-b06b-4397-b7a5-b35d8a0de808","name":"ChatGPT - SEO1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[520,-60],"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"315e631b-bd76-4058-8d26-7e2abc3df8fa","name":"Object","value":"={{ $json.message.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,-60],"id":"a13538d5-cc64-49e6-90d2-1e1e78248bcd","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E","mode":"list","cachedResultName":"Robô DarkContent Miqueias","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"conteudos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","ID da Execução":"={{ $execution.id }}"},"matchingColumns":["row_number"],"schema":[{"id":"Palavra Chave Foco","displayName":"Palavra Chave Foco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Execução","displayName":"Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID da Execução","displayName":"ID da Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[260,-60],"id":"32a5ecfe-25bd-4de3-980d-87770cfcfdb1","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E","mode":"list","cachedResultName":"Robô DarkContent Miqueias","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"conteudos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Pega linhas pendentes').item.json.row_number }}","Título":"={{ $('ChatGPT - SEO1').item.json.message.content.titulo }}","Status":"Revisão pendente","Topicos":"={{ $json.Object.sections }}"},"matchingColumns":["row_number"],"schema":[{"id":"Palavra Chave Foco","displayName":"Palavra Chave Foco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Topicos","displayName":"Topicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Execução","displayName":"Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID da Execução","displayName":"ID da Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1840,-60],"id":"321ee569-cd4a-441d-ba6d-8e2272f0289f","name":"Inserindo Título","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[300,420],"id":"2608dd8a-a5b6-4579-8e11-85296213c714","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E","mode":"list","cachedResultName":"Robô DarkContent Miqueias","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"conteudos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fry5QKq7TVFRRpbnp6cxTH-Crsk3hfvH7VunaWwRu8E/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID da Execução","lookupValue":"412267"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[560,420],"id":"1fe6e141-252e-424e-ac1e-2eeaae73f5c1","name":"Pega linhas pendentes1","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8fcae0f7-824c-4f81-82ce-b97266b79f5e","name":"data","value":"={{ $json.Topicos }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,420],"id":"dfa5a840-e66e-4398-abfb-569555d04f92","name":"Edit Fields1"}],"connections":{"A cada minuto":{"main":[[{"node":"Pega linhas pendentes","type":"main","index":0}]]},"Aguarde1":{"main":[[{"node":"ChatGPT - Conteúdo1","type":"main","index":0}]]},"ChatGPT - SEO1":{"main":[[{"node":"Aguarde1","type":"main","index":0}]]},"Pega linhas pendentes":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"ChatGPT - Conteúdo1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Inserindo Título","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"ChatGPT - SEO1","type":"main","index":0}]]},"Inserindo Título":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Pega linhas pendentes1","type":"main","index":0}]]},"Pega linhas pendentes1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"867d71cf-d651-4071-8132-56b8e13084de","triggerCount":0,"shared":[{"updatedAt":"2025-07-03T15:40:32.297Z","createdAt":"2025-07-03T15:40:32.297Z","role":"workflow:owner","workflowId":"oB0qAW0yEiYUHfrT","projectId":"BlSED80HESP48veq"}],"tags":[{"updatedAt":"2025-05-26T11:52:15.168Z","createdAt":"2025-05-26T11:52:15.168Z","id":"hOPLf9DaOSdzSnCT","name":"Robô de SEO"}]}