1.mineração-lvu7oslRLAXZMwHE.json
{"updatedAt":"2025-07-21T18:47:16.498Z","createdAt":"2025-07-21T14:19:52.239Z","id":"lvu7oslRLAXZMwHE","name":"1.Mineração","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const url = item.json[\"Url\"].trim(); // pega o campo \"Url\"\n  const handle = '@' + url.split('@')[1].toLowerCase(); // extrai o handle do canal\n\n  return {\n    json: {\n      channelNames: [handle],\n      ...item.json // mantém os outros dados (como row_number etc.)\n    }\n  };\n});\n\nreturn updatedItems;\n"},"id":"3b44a96f-b44c-46e4-8639-cf73bfbfc5f1","name":"Get Channel Handle","type":"n8n-nodes-base.code","typeVersion":2,"position":[140,140]},{"parameters":{"fieldToSplitOut":"items","options":{}},"id":"66dadca9-cc9a-4150-9ac2-3b670fd93436","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[520,480]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"id":"e9f91658-e677-4099-b910-c007317a5714","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[120,800]},{"parameters":{"fieldToSplitOut":"items","options":{}},"id":"cbbb39b8-4049-4a48-a533-432a2c5ba8f5","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[860,800]},{"parameters":{"content":"## Adicionando novos canais ao banco de dados\n","height":370,"width":1883},"id":"970ddb67-2467-44e3-b70a-c859287a1e75","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-360,-40]},{"parameters":{"content":"## Buscar vídeos de canais","height":270,"width":1683,"color":2},"id":"f5511711-29ef-410e-a5f9-4aae2e093735","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-360,380]},{"parameters":{"content":"## Obter estatísticas de vídeo do Youtube","height":270,"width":3842,"color":3},"id":"4c272eec-ccde-42f4-9761-c849c24f8d99","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-360,700]},{"parameters":{"url":"=https://youtube.googleapis.com/youtube/v3/search?part=snippet&channelId={{ $json.IdCanal }}&maxResults=50&order=date&type=video","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"b0a5ed39-3709-4e4e-9ad2-aec9d6c5f21a","name":"Fetch Videos From API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,480],"credentials":{"youTubeOAuth2Api":{"id":"3zFCJAwV7O482crb","name":"YouTube DARK"}}},{"parameters":{"jsCode":"function mapYouTubeToSupabase(youtubeDataItems) {\n  return youtubeDataItems.map(item => ({\n    id: item.id.videoId,\n    kind: item.kind,\n    etag: item.etag,\n    published_at: item.snippet.publishedAt,\n    channel_id: item.snippet.channelId,\n    channel_title: item.snippet.channelTitle,\n    title: item.snippet.title,\n    description: item.snippet.description,\n    thumbnail: item.snippet.thumbnails.default.url,\n    category_id: item.snippet.categoryId,\n    tags: item.snippet.tags || [],\n    live_broadcast_content: item.snippet.liveBroadcastContent\n  }));\n}\n\nreturn $input.all().map(i => ({ json: { items: mapYouTubeToSupabase(i.json.items) } }))\n"},"id":"fe669a20-7093-4f6f-8ccc-1897939eb022","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,480]},{"parameters":{"jsCode":"const items = $input.all().map((item) => item.json)[0].id;\n\nconst result = [];\nfor (let i = 0; i < items.length; i += 10) {\n  result.push({ json: { ids: items.slice(i, i + 10) } });\n}\n\nreturn result;\n"},"id":"68e41c8c-c886-4290-8b83-c2fd5f19c040","name":"Split Out IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[340,800]},{"parameters":{"url":"=https://youtube.googleapis.com/youtube/v3/videos?part=statistics,snippet&id={{ $json.ids }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"17f3a1fc-e8db-4c84-b379-3a869deb343c","name":"Fetch Video Stat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,800],"credentials":{"youTubeOAuth2Api":{"id":"3zFCJAwV7O482crb","name":"YouTube DARK"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e90af2ca-cc43-41ef-8af2-3e8d44bc6ca1","leftValue":"={{ $json['Nome do canal'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"8a7045a1-fa12-4ada-9210-9ecb1283b12f","leftValue":"={{ $json.Status }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,140],"id":"152a5a34-8847-488a-951d-d7229c322c0b","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"CanalJaExistente","typeVersion":1,"position":[880,0],"id":"03506732-ff13-4f67-b47a-1ea8baafde16"},{"parameters":{"url":"=https://youtube.googleapis.com/youtube/v3/channels?part=snippet&forHandle={{ $('Get Channel Handle').item.json.channelNames[0] }}&key=Kj8dL9mN4pQ7vR2xT6wY9hB3fC5nM1aS8gU4bE3kL7pH","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","options":{}},"id":"0ef4fa57-a466-4848-94f0-6be24bb3c2c3","name":"BuscaInformaçõesDaApi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,180],"credentials":{"youTubeOAuth2Api":{"id":"3zFCJAwV7O482crb","name":"YouTube DARK"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Nome do canal":"={{ $json.items[0].snippet.title }}","Url":"={{ $('Loop Over Items').item.json.Url }}","IdCanal":"={{ $json.items[0].id }}","ThumbCanal":"={{ $json.items[0].snippet.thumbnails.high.url }}","Descrição":"={{ $json.items[0].snippet.localized.description }}","Status":"Em execução"},"matchingColumns":["Url"],"schema":[{"id":"Nome do canal","displayName":"Nome do canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IdCanal","displayName":"IdCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ThumbCanal","displayName":"ThumbCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,180],"id":"08c2a811-8636-4063-be0c-266e84b2c34b","name":"InsereBase","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Em execução"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,480],"id":"388a2d0c-2d3a-4df6-801d-21c64560722e","name":"BuscaCanais","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","tipo":"={{ $json.kind }}","etag":"={{ $json.etag }}","publicado_em":"={{ $json.published_at }}","id_canal":"={{ $json.channel_id }}","titulo_canal":"={{ $json.channel_title }}","titulo_video":"={{ $json.title }}","descrição":"={{ $json.description }}","thumb":"={{ $json.thumbnail }}","tag":"={{ $json.live_broadcast_content }}","Nome_Canal":"={{ $json.channel_title }}","Status":"Em execução"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publicado_em","displayName":"publicado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo_canal","displayName":"titulo_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"titulo_video","displayName":"titulo_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descrição","displayName":"descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb","displayName":"thumb","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_Canal","displayName":"Nome_Canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visualizações","displayName":"Visualizações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Comentarios","displayName":"Comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[780,480],"id":"300db917-9c17-4f0c-9edf-8da7ae569499","name":"InsereBaseVideos","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Em execução"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,800],"id":"2416ae48-d2bf-4156-8e3f-ce3a4426e71f","name":"BuscaVideos","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Visualizações":"={{ $json.statistics.viewCount }}","Likes":"={{ $json.statistics.likeCount }}","Comentarios":"={{ $json.statistics.commentCount }}","id_canal":"={{ $json.snippet.channelId }}","Status":"Minerado","descrição":"={{ $json.snippet.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"publicado_em","displayName":"publicado_em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titulo_canal","displayName":"titulo_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titulo_video","displayName":"titulo_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"descrição","displayName":"descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb","displayName":"thumb","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_canal","displayName":"id_canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_Canal","displayName":"Nome_Canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visualizações","displayName":"Visualizações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comentarios","displayName":"Comentarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1160,800],"id":"93037764-5163-4623-9c5c-42012adaf31f","name":"AtualizaEstatisticas","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b582f089-b6e2-4e41-a358-1e901494030d","name":"IdSheets","value":"1CL070KzFkHFLtm1CRU1yxiI6SUjePstn11rvA9VZtvE","type":"string"},{"id":"e15a0c51-3cd3-4e5f-ab78-12e89919e9a9","name":"IdAbaCanais","value":"0","type":"string"},{"id":"dabbf026-4923-4ab6-b3d3-a44e953aa033","name":"IdAbaVideos","value":"1031761347","type":"string"},{"id":"a90295f2-e55a-4d74-9795-a4818cab60ba","name":"IdAbaEscolhidos","value":"680933368","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,140],"id":"b6f3127a-daab-439d-bebe-a4fd897c7272","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1000,960],"id":"14b258f2-bbea-4bcd-96a2-99256d34ccbd","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1040,480],"id":"11704b1b-edf1-4a8f-a082-2c5c0cfc157e","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1400,800],"id":"8b92b057-ca15-4444-863b-ae57084536e7","name":"Limit1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Nome do canal":"=","Status":"Minerado","IdCanal":"={{ $('BuscaVideos').first().json.id_canal }}"},"matchingColumns":["IdCanal"],"schema":[{"id":"Nome do canal","displayName":"Nome do canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"IdCanal","displayName":"IdCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ThumbCanal","displayName":"ThumbCanal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1660,800],"id":"f1f1eeef-c9f1-47e9-99b3-07f364691a51","name":"AtualizaCanal","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1020,140],"id":"49ed935e-4b17-4011-8ae0-6e6c04f71ca1","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-180,120],"id":"d3a77982-d452-4bde-97f0-6657352e8d92","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"bc2a1f30-ef5c-480f-ab34-6a28e05f727b","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2280,800]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaVideos }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"id_canal","lookupValue":"={{ $('BuscaInformaçõesDaApi').item.json.items[0].id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1900,800],"id":"7f319560-42fc-4e85-8c7c-b0941eed8fcb","name":"BuscaVideos1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em análise de canais do YouTube. Analise os vídeos com base nos critérios objetivos abaixo, SEM exceções:\n\nCritérios de Qualificação (todos devem ser atendidos por um vídeo individualmente):\nO vídeo deve ter mais de 20.000 visualizações\n\nO vídeo deve ter mais de 100 curtidas\n\nIgnore os vídeos que não atendem esses dois critérios ao mesmo tempo.\n\nClassificação Final:\nQualificado: mais de 80% dos vídeos atendem os dois critérios\n\nMediano: entre 50% e 80%\n\nDesqualificado: menos de 50%\n\nNão considere o crescimento por data ou comentários como critério obrigatório, apenas como observação complementar.\n\nDados dos vídeos:\n{{ $json.data.toJsonString() }}\n\n\nRetorne apenas uma das opções abaixo, sem adicionar nenhuma explicação:\n\nQualificado\nMediano\nDesqualificado\n\nAtenção: analise rigorosamente os critérios de visualizações e curtidas. Apenas vídeos que atendem ambos os critérios contam como válidos na contagem.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2580,780],"id":"e67bd1f6-f219-49c8-a94e-a42dcc8e25a5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2480,1100],"id":"893d233d-f0e8-4cd3-b963-49dae9e13f6b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"210f7c57-9605-472e-8107-2971116d216f","leftValue":"={{ $json.output }}","rightValue":"Qualificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d92cd44a-eb97-464a-8ab5-db6c68f78eeb","leftValue":"={{ $json.output }}","rightValue":"Mediano","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2980,780],"id":"9553168e-463c-4f17-b38f-20e3e32a6846","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaEscolhidos }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('InsereBase').item.json.IdCanal }}","Nome":"={{ $('InsereBase').item.json[\"Nome do canal\"] }}","Descrição":"={{ $('InsereBase').item.json[\"Descrição\"] }}","Nível engajamento":"={{ $('AI Agent').item.json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nível engajamento","displayName":"Nível engajamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3260,780],"id":"12716efd-21de-4c0a-8f0a-8d71d753025e","name":"AtualizaCanalEscolhido","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdSheets }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Edit Fields').item.json.IdAbaCanais }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-520,140],"id":"39e6a1a9-2cd1-4dfb-a418-c3aa51b6692f","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}}],"connections":{"Get Channel Handle":{"main":[[{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"InsereBaseVideos","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out IDs","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"AtualizaEstatisticas","type":"main","index":0}]]},"Fetch Videos From API":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out IDs":{"main":[[{"node":"Fetch Video Stat","type":"main","index":0}]]},"Fetch Video Stat":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"If":{"main":[[{"node":"BuscaInformaçõesDaApi","type":"main","index":0}],[{"node":"CanalJaExistente","type":"main","index":0}]]},"BuscaInformaçõesDaApi":{"main":[[{"node":"InsereBase","type":"main","index":0}]]},"InsereBase":{"main":[[{"node":"BuscaCanais","type":"main","index":0}]]},"BuscaCanais":{"main":[[{"node":"Fetch Videos From API","type":"main","index":0}]]},"InsereBaseVideos":{"main":[[{"node":"Limit","type":"main","index":0}]]},"BuscaVideos":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AtualizaEstatisticas":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit":{"main":[[{"node":"BuscaVideos","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"AtualizaCanal","type":"main","index":0}]]},"AtualizaCanal":{"main":[[{"node":"BuscaVideos1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Channel Handle","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"BuscaVideos1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"AtualizaCanalEscolhido","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"AtualizaCanalEscolhido":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9eec4a1d-aa8e-43e5-8a7f-915698509c82","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-07-21T14:19:52.239Z","createdAt":"2025-07-21T14:19:52.239Z","role":"workflow:owner","workflowId":"lvu7oslRLAXZMwHE","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}