[cmz-ops]---nova-demanda-qZIyVByo5XscagCC.json
{"updatedAt":"2025-10-21T18:24:22.201Z","createdAt":"2025-09-02T17:38:08.952Z","id":"qZIyVByo5XscagCC","name":"[Cmz-ops] - Nova Demanda","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aa11faf4-51c2-4449-a3b7-61404add8695-2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-144],"id":"fdb99f26-334f-42d0-a57e-8cc5d592781f","name":"Webhook","webhookId":"c31d2bc2-3c81-4b87-8c10-20cfb7fa18a5"},{"parameters":{"team":"3052532","space":"90139711046","folder":"901312347380","list":"901318700690","name":"=Teste - {{ $('Webhook').first().json.body[\"TipoDeServiço2\"].toUpperCase() }}","additionalFields":{"assignees":[42999166],"content":"={{ $('Webhook').first().json.body[\"DescriçãoDaSolicitação\"] }}","dueDate":"={{ $now.plus($('Webhook').first().json.body.PrazoEmDias.Label, 'days') }}","priority":"={{\n  (function() {\n    const prioridade = $('Webhook').first().json.body.Prioridade?.toLowerCase().trim();\n    const map = {\n      'urgente': 1,\n      'alta': 2,\n      'normal': 3,\n      'baixa': 4\n    };\n    return map[prioridade] || 3; // fallback = Normal\n  })()\n}}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[320,-144],"id":"d5af2e5a-f701-4045-b932-cf85974f0e4e","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"23fd2c36-e70e-4f9f-971a-86ed77c46a57","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[960,-144],"id":"4ee197e1-dee6-4ebf-b167-89b1ef2beb8d","name":"Set a custom Field on a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"list","operation":"member","id":"901318700690"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-128,-144],"id":"90f73e9e-d25a-4735-994c-409a634b4c3d","name":"Get list members","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"jsCode":"/**\n * Input: itens do \"Get list members\" (cada item = um membro).\n * Campo alvo (nome do responsável): $('Webhook').first().json.body[\"Responsável\"].Label\n * Saída: único item com assigneeId, assigneeUsername, debug.\n */\n\n// Nome vindo do Webhook\nconst targetRaw = $('Webhook').first().json.body?.[\"Responsável\"]?.Label;\nif (!targetRaw) {\n  throw new Error('Nome do responsável não encontrado em Webhook.body[\"Responsável\"].Label');\n}\n\n// Normalização: trim, minúsculas, sem acentos e espaços repetidos\nconst normalize = (s) => String(s || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '') // remove diacríticos\n  .toLowerCase()\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst target = normalize(targetRaw);\n\n// Coleta os membros vindos do node anterior (cada item.json é um membro)\nconst members = $input.all().map(i => i.json);\n\n// Estratégia de match:\n// 1) match exato por username normalizado\n// 2) match exato por email (se o webhook tiver email no futuro, adapte aqui)\n// 3) match por \"contains\" no username\nlet match =\n  members.find(m => normalize(m.username) === target) ||\n  members.find(m => normalize(m.email) === target) ||\n  members.find(m => normalize(m.username).includes(target));\n\n// Se não achar, tentamos um fallback simples por primeiras palavras (ex.: \"Miqueias Brandão\" vs \"Miquéias Brandão\")\nif (!match) {\n  const parts = target.split(' ').filter(Boolean);\n  if (parts.length >= 2) {\n    const firstLast = `${parts[0]} ${parts[parts.length - 1]}`;\n    match = members.find(m => normalize(m.username) === firstLast) ||\n            members.find(m => normalize(m.username).includes(firstLast));\n  }\n}\n\n// Retorna um único item com o id (ou null)\nreturn [{\n  json: {\n    assigneeId: match?.id ?? null,\n    assigneeUsername: match?.username ?? null,\n    searchedName: targetRaw,\n    found: Boolean(match),\n    _debug: {\n      membersCount: members.length,\n      sampleUsernames: members.slice(0, 5).map(m => m.username),\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-144],"id":"d37d293a-cb5e-4124-9f16-53435789a937","name":"Seach users"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = '23fd2c36-e70e-4f9f-971a-86ed77c46a57';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body.Cliente.Label;\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-144],"id":"9b46d8e1-18a5-45b3-af50-7fe07056721f","name":"Pesquisa Cliente ID","onError":"continueRegularOutput"},{"parameters":{"content":"### RESPONSAVEL","height":208,"width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-160,-192],"typeVersion":1,"id":"750e7a7c-7ce0-4a58-8ab6-9990ef751130","name":"Sticky Note"},{"parameters":{"content":"### CLIENTE - CUSTOM FIELD","height":240,"width":464,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,-192],"typeVersion":1,"id":"bd34a7ef-fd73-4540-9958-3072b377d739","name":"Sticky Note1"},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"feee9889-2b56-4af3-beb5-23a0cf938688","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[960,112],"id":"5525526e-050a-418c-b714-4f7b26debdf4","name":"Set a custom Field on a task1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"onError":"continueRegularOutput"},{"parameters":{"content":"### SOLICITANTE - CUSTOM FIELD","height":240,"width":464,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,64],"typeVersion":1,"id":"c6b3e217-c729-4da0-a6ad-13067b3a2555","name":"Sticky Note2"},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"9b78b412-f459-4e23-8ee8-c00a0daba311","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[960,368],"id":"23a75566-827f-46dc-890f-a18075ecf972","name":"Set a custom Field on a task2","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"onError":"continueRegularOutput"},{"parameters":{"content":"### TIPO DE SERVIÇO - CUSTOM FIELD","height":240,"width":464,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,320],"typeVersion":1,"id":"ca5d231e-955b-4020-9c9c-1269e4344774","name":"Sticky Note3"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = 'feee9889-2b56-4af3-beb5-23a0cf938688';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body.Solicitante.Label;\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,112],"id":"2b4d1f03-98c2-4d55-8b4a-90d3b4c1c721","name":"Pesquisa Solicitante ID","onError":"continueRegularOutput"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = '9b78b412-f459-4e23-8ee8-c00a0daba311';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body[\"TipoDeServiço2\"];\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,368],"id":"3a20345e-6ae7-4e3b-9015-4bb17d9abf28","name":"Pesquisa Tipo de serviço ID","onError":"continueRegularOutput"},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"32fd50f9-8196-429c-b776-d856ae5c2e6d","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[960,-400],"id":"f243e9a0-0330-4d8e-9f6f-552fb9eae0a1","name":"Set a custom Field on a task3","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"onError":"continueRegularOutput"},{"parameters":{"content":"### PLANO - CUSTOM FIELD","height":240,"width":464,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,-448],"typeVersion":1,"id":"1863febf-046b-427a-a189-9a24f73dc6a9","name":"Sticky Note4"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = '32fd50f9-8196-429c-b776-d856ae5c2e6d';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body[\"RazãoSocial2\"];\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-400],"id":"d1a6b3bd-b8fc-4553-b66f-ffd8754012ec","name":"Pesquisa Tipo de serviço ID1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7076201a-ec7c-45e7-b247-dac42fdbed61","name":"aa","value":"={{ $('Webhook').all().last().json.body.AnexosDaSolicitação }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-672],"id":"5865bf7a-8477-467e-8784-985d6ab1e5a2","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"aa","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[960,-672],"id":"216c354c-8372-419d-9561-a5c4492c9c31","name":"Split Out","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,-672],"id":"8dedb86b-51a1-4b37-83ea-4e81a7bc096a","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Create a task').item.json.id }}/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_42999166_MQDHOBIMY1XGFIB2LYSJ0TNEYJOODH5Q"},{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachment","inputDataFieldName":"data"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,-672],"id":"08c4b23f-f5c7-4a7e-9bf7-f07f480ca9ee","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"content":"### ENVIAR ANEXOS DA SOLICITAÇÃO","height":256,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","position":[672,-720],"typeVersion":1,"id":"c4fc5d73-49c0-4714-a188-b582bfabb388","name":"Sticky Note5"},{"parameters":{"url":"={{ $json.File }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,-672],"id":"f7c382aa-70ad-4a90-9265-c3aac742a382","name":"GET - Base64","onError":"continueRegularOutput"},{"parameters":{"team":"3052532","space":"90139711046","folder":"901312347380","list":"901318700690","name":"=Teste - {{ $('Webhook').first().json.body[\"TipoDeServiço2\"].toUpperCase() }}","additionalFields":{"assignees":"={{ [$json.assigneeId] }}","content":"={{ $('Webhook').first().json.body[\"DescriçãoDaSolicitação\"] }}","dueDate":"={{ $now.plus($('Webhook').first().json.body.PrazoEmDias.Label, 'days') }}","priority":"={{\n  (function() {\n    const prioridade = $('Webhook').first().json.body.Prioridade?.toLowerCase().trim();\n    const map = {\n      'urgente': 1,\n      'alta': 2,\n      'normal': 3,\n      'baixa': 4\n    };\n    return map[prioridade] || 3; // fallback = Normal\n  })()\n}}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[320,-336],"id":"30a49670-3cc8-4f77-a903-5d1741090db0","name":"Create a task1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Get list members","type":"main","index":0}]]},"Create a task":{"main":[[{"node":"Pesquisa Cliente ID","type":"main","index":0},{"node":"Pesquisa Solicitante ID","type":"main","index":0},{"node":"Pesquisa Tipo de serviço ID","type":"main","index":0},{"node":"Pesquisa Tipo de serviço ID1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Get list members":{"main":[[{"node":"Seach users","type":"main","index":0}]]},"Seach users":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Pesquisa Cliente ID":{"main":[[{"node":"Set a custom Field on a task","type":"main","index":0}]]},"Pesquisa Solicitante ID":{"main":[[{"node":"Set a custom Field on a task1","type":"main","index":0}]]},"Pesquisa Tipo de serviço ID":{"main":[[{"node":"Set a custom Field on a task2","type":"main","index":0}]]},"Pesquisa Tipo de serviço ID1":{"main":[[{"node":"Set a custom Field on a task3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GET - Base64","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GET - Base64":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"CognitoForms","content-length":"2428","content-type":"application/json","expect":"100-continue","request-id":"|6a510347-aa84-462e-aa90-00b484753755.09ad5f6375e7ed35.","traceparent":"00-bd36e9b72b8880af84882bc9a50780f2-09ad5f6375e7ed35-00","x-forwarded-for":"4.156.104.40","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"SY7uzTnGSkKVI9c8Aax-fw","x-real-ip":"4.156.104.40","x-request-start":"1756904383638","x-requested-with":"XMLHttpRequest","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Form":{"Id":"50","InternalName":"NovaDemanda","Name":"Nova Demanda"},"PrazoEmDias":{"Id":"49-10","Label":"2"},"Cliente":{"Id":"51-171","Label":"VOZZ DIGITAL LTDA"},"AnexosDaSolicitação":[],"Prioridade":"Normal","DescriçãoDaSolicitação":"Maicon\nLembram que temos o contrato sem assinatura com o Henrique este ano, certo?\n____________________\n\nMaicon\nAgora ele me enviou o contrato para assinarmos. Ou seja, querem garantir que vão encerrar dia 31/12. Mas estamos com a mesma intenção.\n__________________\n\nMaicon\nO que preciso é que analisem com calma e minuciosamente, visto que há 99,9% de chance de as partes não quererem continuar pro próximo ano.\n_______________________\nMaicon\nVocês poderiam analisar e agendarmos uma conversa?","Solicitante":{"Id":"52-389","Label":"Vozz Digital + C&D Blindagem Digital"},"Responsável":{"Id":"62-15","Label":"Thais Nascimento"},"TipoDeServiço2":"Análise de documento - Prestação de Serviços","TempoEstimado":"2h","Entry":{"AdminLink":"https://www.cognitoforms.com/CláudioCamozzi/50/entries/9170","DateCreated":"2025-09-03T12:59:40.919Z","DateSubmitted":"2025-09-03T12:59:40.919Z","DateUpdated":"2025-09-03T12:59:40.919Z","EditLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemanda#KPnySR9fyLKzGxnahpq_em2PZmF973A7h2n_wXLYejI$*","Number":9170,"Order":null,"Origin":{"City":null,"CountryCode":null,"IpAddress":"187.58.58.203","IsImported":false,"Region":null,"Timezone":null,"UserAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"},"Timestamp":"2025-09-03T12:59:40.919Z","User":null,"Version":1,"ViewLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemanda#ZWQVoc6E5tCiwhjrE4R0D2KWGcogflySz4vs1biaKw0$*","Action":"Submeter","Role":"Public","Status":"Submitted","PublicLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemanda#8qCzoQjXLtKlmSuyD5Qw3G-3Nl7msD6sPdkshTV3hFM$*","InternalLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemanda#xcqDrEI_aMlQJDAuD1cPhCFmKdNBNevjT9ni3CGtLQE$*","ReviewerLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemanda#Olp_a9eCkbops6AW3pC2YjaY__YUZrTkK0eITj73S-U$*","Document1":"https://www.cognitoforms.com/d/HAlBTQyV4kezA48rf0XZiA?code=wWA1cBetYV-lxM5P9P2j8YU2gvqTaSLTrtyyHda4gc0$","Document2":"https://www.cognitoforms.com/d/HAlBTQyV4kezA48rf0XZiA?code=NuU9Of8D_70gIghJpU_DAtL--uG5pAccKfTQ7RFjX4Q$"},"Id":"50-9170"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/aa11faf4-51c2-4449-a3b7-61404add8695-2","executionMode":"production"}}]},"versionId":"6af3c34d-afca-486c-b9bd-5404343f1338","triggerCount":1,"shared":[{"updatedAt":"2025-09-02T17:38:08.952Z","createdAt":"2025-09-02T17:38:08.952Z","role":"workflow:owner","workflowId":"qZIyVByo5XscagCC","projectId":"BlSED80HESP48veq"}],"tags":[]}