[cmz-ops]---clientes-database-PPpYYoxqFud91AY1.json
{"updatedAt":"2025-09-03T15:59:55.913Z","createdAt":"2025-09-03T15:41:54.188Z","id":"PPpYYoxqFud91AY1","name":"[Cmz-ops] - Clientes DataBase","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"=https://www.cognitoforms.com/api/forms/51/entries/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-64],"id":"3260052b-431d-49a9-9288-fe0c8c2a7bb9","name":"List Clientes - Cognito","retryOnFail":false,"credentials":{"httpBearerAuth":{"id":"h0PcF6RaUiY0NLkd","name":"Cognito Forms"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d465784c-bc03-4b26-af22-3e92171756d3","name":"entrie-id","value":"={{ $json.body.Entry.Number }}","type":"string"},{"id":"d8dc38ec-165b-4fbc-bf53-34894df43ea1","name":"JWT","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InNiVkFxWkNGdVJBPSJ9.eyJ1c2VyIjo0Mjk5OTE2NiwidmFsaWRhdGVkIjp0cnVlLCJ3c19rZXkiOiI0MzI1NTE3NDY0Iiwic2Vzc2lvbl90b2tlbiI6dHJ1ZSwid29ya3NwYWNlcyI6W3sidHlwZSI6InBhc3N3b3JkIn1dLCJpYXQiOjE3NTY3MzgzMDgsImV4cCI6MTc1NjkxMTEwOH0.aOWKXZcxcXWO326IzHPcXO-mDAVTOzhI5FzCG9Ebi6w","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,-112],"id":"bf4a432d-d2db-4baf-8a65-1dddb2bc24a4","name":"ultimo cliente id"},{"parameters":{"jsCode":"const MIN_ID = 36; // <<< ajuste aqui se precisar\nconst lastId = Number($input.first().json[\"entrie-id\"] ?? MIN_ID);\nconst items = [];\nfor (let i = lastId; i >= MIN_ID; i--) {\n  items.push({ json: { id: i } });\n}\nreturn items;"},"id":"4fb93a09-92bb-47e8-a45b-e86b9103044f","name":"Code - Gerar IDs (lastId → 0)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-112]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,-112],"id":"4d9d44f8-1a1a-4815-ae6e-7ee29ca85687","name":"Loop Over Items"},{"parameters":{"jsCode":"const data = $getWorkflowStaticData('global');\nif (!data.results) data.results = [];\nif (!data.failed) data.failed = [];\n\nconst status = $json.statusCode;\n// Pega o id direto do item que entrou no HTTP\nconst id = $json.request?.url?.split('/').pop() || null;\n\nif (status === 200) {\n  data.results.push({ id, ...($json.body ?? {}) });\n} else {\n  data.failed.push({ id, status, body: $json.body });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-256],"id":"3145f46d-50c4-41a1-b220-6b256a434615","name":"All Clients"},{"parameters":{"httpMethod":"POST","path":"e0bb6535-fefb-4769-870e-840ed88d0a67","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,-112],"id":"20977579-fdba-4330-b27c-1f59006fe490","name":"Webhook","webhookId":"e0bb6535-fefb-4769-870e-840ed88d0a67"}],"connections":{"ultimo cliente id":{"main":[[{"node":"Code - Gerar IDs (lastId → 0)","type":"main","index":0}]]},"Code - Gerar IDs (lastId → 0)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"All Clients","type":"main","index":0}],[{"node":"List Clientes - Cognito","type":"main","index":0}]]},"List Clientes - Cognito":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"All Clients":{"main":[[]]},"Webhook":{"main":[[{"node":"ultimo cliente id","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"global":{"results":[],"failed":[{"id":null},{"id":null}]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"CognitoForms","content-length":"3000","content-type":"application/json","expect":"100-continue","request-id":"|e85bf2ba-0849-44bb-91bc-99696805ef34.4fc9cfacfd5a836f.","traceparent":"00-3f0eb46c36a69db247ef80e66167dfe3-4fc9cfacfd5a836f-00","x-forwarded-for":"4.156.104.40","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"AK05P8teQFmGfydXBT7zVQ","x-real-ip":"4.156.104.40","x-request-start":"1756234332800","x-requested-with":"XMLHttpRequest","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Form":{"Id":"51","InternalName":"Clientes","Name":"Clientes"},"RazãoSocial":"teste","NomeDoSócioAdministrador":"miqueias","Endereço":{"City":"goiania","CityStatePostalCode":"goiania, go 74921510","Country":"Brasil","CountryCode":"BR","FullAddress":"r1, goiania, go 74921510","FullInternationalAddress":"r1, goiania, go 74921510, Brasil","Latitude":null,"Line1":"r1","Line2":"","Line3":null,"Longitude":null,"PostalCode":"74921510","State":"go","StreetAddress":"r1","Type":"Home"},"TelefonePrincipal":"62994342576","TelefoneSecundário":null,"EmailPrincipal":"ti01@camozziconsultoria.com.br","EmailSecundário":null,"StatusFinanceiro":"Medium","CNPJ":"0564649787979","CPFDoSócioAdministrador":"04901605143","Contratos":[{"ContentType":"application/pdf","Id":"F-MWjw9FsE02ermKKsRrYgPk","IsEncrypted":false,"Name":"ADAMANTIUM_NOTIFICAÇÃO EXTRAJUDICIAL_34.413.301 FRANCIELE PIEDADE TIGRE.pdf","Size":138305,"StorageUrl":null,"File":"https://www.cognitoforms.com/fa/HAlBTQyV4kezA48rf0XZiA?token=dwC6HTDrfdaVURk3gymiGEWPTx_Zpw7zEiFMa59jUsqaDZczunhmto9G03wrkrzRAFX2l07bhtdRJq7asalyeA$$"}],"DocumentosPessoaisConstitutivos":[{"ContentType":"application/pdf","Id":"F-yG9oub$OJIyASfBJOiwuE!","IsEncrypted":false,"Name":"ADAMANTIUM_NOTIFICAÇÃO EXTRAJUDICIAL_34.413.301 FRANCIELE PIEDADE TIGRE.pdf","Size":138305,"StorageUrl":null,"File":"https://www.cognitoforms.com/fa/HAlBTQyV4kezA48rf0XZiA?token=OYmYZ1H5zkHEjRSDhPng3GXNevkF3HzV1h_W5dAerj6lUKB-WXFuuVFuhAv6LU9j019pWYyT-UAXjCmf8h_c9A$$"}],"Observações":null,"Entry":{"AdminLink":"https://www.cognitoforms.com/CláudioCamozzi/51/entries/178","DateCreated":"2025-08-26T18:52:11.701Z","DateSubmitted":"2025-08-26T18:52:11.701Z","DateUpdated":"2025-08-26T18:52:11.701Z","EditLink":"https://www.cognitoforms.com/CláudioCamozzi/Clientes#VX7oQ44QI5aCxjqQDHbB2P6eUE2WNRvugj_Mlaan3HQ$*","Number":178,"Order":null,"Origin":{"City":null,"CountryCode":null,"IpAddress":"189.5.177.16","IsImported":false,"Region":null,"Timezone":null,"UserAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"},"Timestamp":"2025-08-26T18:52:11.701Z","User":{"Email":"ti01@camozziconsultoria.com.br","Name":"Miqueias Brandão"},"Version":1,"ViewLink":"https://www.cognitoforms.com/CláudioCamozzi/Clientes#Jy6oksYvnvgyt9X7WCF3YxvHTATCQfxj8DQ4khSo0ts$*","Action":"Submeter","Role":"Public","Status":"Submitted","PublicLink":"https://www.cognitoforms.com/CláudioCamozzi/Clientes#CGXxq1DnsL68PteAQ-MTKIBEQyAZOzX_9owZkALbwmc$*","InternalLink":"https://www.cognitoforms.com/CláudioCamozzi/Clientes#pzjxGWrz7Qr7LscbLh603y2c2lfD5vDtvxAdBw0f_9M$*","ReviewerLink":"https://www.cognitoforms.com/CláudioCamozzi/Clientes#5o7SC7U4aG3siN9mpLuGVwB9NJXuSUAB5ml6zNhRcJQ$*","Document1":"https://www.cognitoforms.com/d/HAlBTQyV4kezA48rf0XZiA?code=bQwmWYuHEK75bPmKdLTzrIqfXRRj156HC_JnEQI0kyA$","Document2":"https://www.cognitoforms.com/d/HAlBTQyV4kezA48rf0XZiA?code=0zF2cNyuJGIfPNHRrexV2lh_3UsrF59HNUE_gzGQTgA$"},"Id":"51-178"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/8dbc65c7-78f5-484e-8090-bf9046d62290","executionMode":"production"}}]},"versionId":"63b9853c-8fa6-4cbc-bc8b-059b7b0cbca6","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-03T15:41:54.188Z","createdAt":"2025-09-03T15:41:54.188Z","role":"workflow:owner","workflowId":"PPpYYoxqFud91AY1","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}