[cmz-ops]---nova-demanda-bkp-RV0rXZ1qHiOKBVx3.json
{"updatedAt":"2025-09-02T18:39:41.476Z","createdAt":"2025-09-01T19:48:45.801Z","id":"RV0rXZ1qHiOKBVx3","name":"[Cmz-ops] - Nova Demanda bkp","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aa11faf4-51c2-4449-a3b7-61404add8695","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-144],"id":"bb71f777-6432-45e4-a10d-fa10bc6fb0ad","name":"Webhook","webhookId":"aa11faf4-51c2-4449-a3b7-61404add8695"},{"parameters":{"team":"3052532","space":"90139711046","folder":"901312347380","list":"901318700690","name":"={{ $('Webhook').first().json.body[\"TipoDeServiço2\"].toUpperCase() }}","additionalFields":{"assignees":"={{ [$json.assigneeId] }}","content":"={{ $('Webhook').first().json.body[\"DescriçãoDaSolicitação\"] }}","dueDate":"={{ $now.plus($('Webhook').first().json.body.PrazoEmDias.Label, 'days') }}","priority":"={{\n  (function() {\n    const prioridade = $('Webhook').first().json.body.Prioridade?.toLowerCase().trim();\n    const map = {\n      'urgente': 1,\n      'alta': 2,\n      'normal': 3,\n      'baixa': 4\n    };\n    return map[prioridade] || 3; // fallback = Normal\n  })()\n}}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[320,-144],"id":"48210f4d-07ce-4e8a-bde2-a9fab58f3a3a","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"23fd2c36-e70e-4f9f-971a-86ed77c46a57","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1104,-288],"id":"bc448897-012d-43df-a9e5-d618a81fb53b","name":"Set a custom Field on a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"resource":"list","operation":"member","id":"901318700690"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-128,-144],"id":"fa36ddd9-03f5-498e-8c5b-404abb3714a3","name":"Get list members","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"jsCode":"/**\n * Input: itens do \"Get list members\" (cada item = um membro).\n * Campo alvo (nome do responsável): $('Webhook').first().json.body[\"Responsável\"].Label\n * Saída: único item com assigneeId, assigneeUsername, debug.\n */\n\n// Nome vindo do Webhook\nconst targetRaw = $('Webhook').first().json.body?.[\"Responsável\"]?.Label;\nif (!targetRaw) {\n  throw new Error('Nome do responsável não encontrado em Webhook.body[\"Responsável\"].Label');\n}\n\n// Normalização: trim, minúsculas, sem acentos e espaços repetidos\nconst normalize = (s) => String(s || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '') // remove diacríticos\n  .toLowerCase()\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst target = normalize(targetRaw);\n\n// Coleta os membros vindos do node anterior (cada item.json é um membro)\nconst members = $input.all().map(i => i.json);\n\n// Estratégia de match:\n// 1) match exato por username normalizado\n// 2) match exato por email (se o webhook tiver email no futuro, adapte aqui)\n// 3) match por \"contains\" no username\nlet match =\n  members.find(m => normalize(m.username) === target) ||\n  members.find(m => normalize(m.email) === target) ||\n  members.find(m => normalize(m.username).includes(target));\n\n// Se não achar, tentamos um fallback simples por primeiras palavras (ex.: \"Miqueias Brandão\" vs \"Miquéias Brandão\")\nif (!match) {\n  const parts = target.split(' ').filter(Boolean);\n  if (parts.length >= 2) {\n    const firstLast = `${parts[0]} ${parts[parts.length - 1]}`;\n    match = members.find(m => normalize(m.username) === firstLast) ||\n            members.find(m => normalize(m.username).includes(firstLast));\n  }\n}\n\n// Retorna um único item com o id (ou null)\nreturn [{\n  json: {\n    assigneeId: match?.id ?? null,\n    assigneeUsername: match?.username ?? null,\n    searchedName: targetRaw,\n    found: Boolean(match),\n    _debug: {\n      membersCount: members.length,\n      sampleUsernames: members.slice(0, 5).map(m => m.username),\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-144],"id":"e53aa050-5bfb-4697-afc5-7182e3893caf","name":"Seach users"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = '23fd2c36-e70e-4f9f-971a-86ed77c46a57';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body.Cliente.Label;\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-288],"id":"ab2672d3-0708-4bc0-b64b-4667728332c2","name":"Pesquisa Cliente ID"},{"parameters":{"content":"### RESPONSAVEL","height":208,"width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-160,-192],"typeVersion":1,"id":"160121c6-3ca6-442d-8d4a-4260ad6d2df2","name":"Sticky Note"},{"parameters":{"content":"### CLIENTE - CUSTOM FIELD","height":240,"width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[816,-336],"typeVersion":1,"id":"2e3e6198-93ce-4847-9267-6b0fe6d1ab47","name":"Sticky Note1"},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"feee9889-2b56-4af3-beb5-23a0cf938688","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1104,-16],"id":"4065cb1f-1298-4f26-99b4-9fdd9426525e","name":"Set a custom Field on a task1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"content":"### SOLICITANTE - CUSTOM FIELD","height":240,"width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[816,-64],"typeVersion":1,"id":"965dea5f-58f5-4da7-be98-cf52e2d871bb","name":"Sticky Note2"},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"9b78b412-f459-4e23-8ee8-c00a0daba311","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1104,256],"id":"d764efc0-fc05-4146-83dc-dc866d961611","name":"Set a custom Field on a task2","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"content":"### TIPO DE SERVIÇO - CUSTOM FIELD","height":240,"width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[816,208],"typeVersion":1,"id":"e1c434ba-00ad-4791-b18d-550155e66b9c","name":"Sticky Note3"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = 'feee9889-2b56-4af3-beb5-23a0cf938688';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body.Solicitante.Label;\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-16],"id":"e3ba0224-eaf1-4de7-9db1-0af939887eb7","name":"Pesquisa Solicitante ID"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = '9b78b412-f459-4e23-8ee8-c00a0daba311';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body[\"TipoDeServiço2\"];\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,256],"id":"0e650228-d073-4985-b899-9e89f04e9637","name":"Pesquisa Tipo de serviço ID"},{"parameters":{"operation":"setCustomField","task":"={{ $('Create a task').item.json.id }}","field":"32fd50f9-8196-429c-b776-d856ae5c2e6d","value":"={{ $json.selectedOptionId }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1104,-576],"id":"da865f71-77d9-4975-b156-80a897a6a3c3","name":"Set a custom Field on a task3","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"content":"### PLANO - CUSTOM FIELD","height":240,"width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[816,-624],"typeVersion":1,"id":"f3ddeed2-7279-4cf9-b1c8-71c104e757f4","name":"Sticky Note4"},{"parameters":{"jsCode":"/**\n * Entrada esperada:\n * $input.first().json.custom_fields = [\n *   { id: '23fd2c36-...', name: '...', options: [ {id, name, ...}, ... ] },\n *   ...\n * ]\n * Nome a buscar: do Webhook -> body.Cliente.Label\n */\n\nconst CUSTOM_FIELD_ID = '32fd50f9-8196-429c-b776-d856ae5c2e6d';\n\n// Nome vindo do Webhook (ajuste se precisar outro caminho)\nconst searchNameRaw = $('Webhook').first().json.body[\"RazãoSocial2\"];\nif (!searchNameRaw) {\n  throw new Error('Nome de busca vazio (Webhook.body.Cliente.Label).');\n}\n\nconst norm = (s) => String(s || '').trim().toLowerCase();\n\nconst customFields = $input.first().json?.custom_fields;\nif (!Array.isArray(customFields)) {\n  throw new Error('custom_fields não encontrado ou não é array na entrada do Code.');\n}\n\n// Localiza o custom field alvo\nconst cf = customFields.find(f =>\n  f?.id === CUSTOM_FIELD_ID || f?.field_id === CUSTOM_FIELD_ID\n);\n\nif (!cf) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Custom field alvo não encontrado.',\n      fieldIdProcurado: CUSTOM_FIELD_ID,\n      disponiveis: customFields.map(f => f.id),\n    }\n  }];\n}\n\n// Em algumas respostas do ClickUp, options pode vir em cf.options ou cf.type_config.options\nconst options = Array.isArray(cf.options) ? cf.options\n  : Array.isArray(cf?.type_config?.options) ? cf.type_config.options\n  : null;\n\nif (!options) {\n  return [{\n    json: {\n      selectedOptionId: null,\n      _debug: 'Nenhum options[] encontrado dentro do custom field.',\n      fieldEncontrado: cf.id,\n    }\n  }];\n}\n\n// Match: tenta primeiro exato (case-insensitive), depois contém\nconst target = norm(searchNameRaw);\nlet match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text) === target);\nif (!match) {\n  match = options.find(o => norm(o.name ?? o.label ?? o.value ?? o.text).includes(target));\n}\n\n// Saída: adiciona o id da option escolhida\nreturn [{\n  json: {\n    selectedOptionId: match?.id ?? null,\n    selectedOptionName: match ? (match.name ?? match.label ?? match.value ?? match.text) : null,\n    _debug: {\n      buscado: searchNameRaw,\n      optionsCount: options.length,\n      fieldId: cf.id,\n      matchEstrito: !!match && norm(match.name ?? match.label ?? match.value ?? match.text) === target\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-576],"id":"11b6f651-8f7d-435e-96a1-a199fbae6360","name":"Pesquisa Tipo de serviço ID1"},{"parameters":{"assignments":{"assignments":[{"id":"7076201a-ec7c-45e7-b247-dac42fdbed61","name":"aa","value":"={{ $('Webhook').all().last().json.body.AnexosDaSolicitação }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-864],"id":"3a37e9b8-d68e-4034-b35c-6beeea62452a","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"aa","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1072,-864],"id":"8882b915-30b8-447f-8490-b8d3682af6f1","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1296,-864],"id":"a35dee19-833a-43d8-ae55-88ea2dbe6ba4","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.File }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-944],"id":"fef3cb28-b251-4102-b562-4858724e13e0","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/86abffmfp/attachment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_55112888_ZZOSUFL32VBJVO9OGS7YRVA36EK43IE6"},{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,-864],"id":"fe7a5a81-f6c7-4bac-ad8c-2d4574c9736e","name":"HTTP Request","disabled":true},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1824,-1104],"id":"99aa0012-6dca-45bc-bc37-6bab8d901e86","name":"Extract from File","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Get list members","type":"main","index":0}]]},"Create a task":{"main":[[{"node":"Pesquisa Cliente ID","type":"main","index":0},{"node":"Pesquisa Solicitante ID","type":"main","index":0},{"node":"Pesquisa Tipo de serviço ID","type":"main","index":0},{"node":"Pesquisa Tipo de serviço ID1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Get list members":{"main":[[{"node":"Seach users","type":"main","index":0}]]},"Seach users":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Pesquisa Cliente ID":{"main":[[{"node":"Set a custom Field on a task","type":"main","index":0}]]},"Pesquisa Solicitante ID":{"main":[[{"node":"Set a custom Field on a task1","type":"main","index":0}]]},"Pesquisa Tipo de serviço ID":{"main":[[{"node":"Set a custom Field on a task2","type":"main","index":0}]]},"Pesquisa Tipo de serviço ID1":{"main":[[{"node":"Set a custom Field on a task3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"CognitoForms","content-length":"2115","content-type":"application/json","expect":"100-continue","request-id":"|ee1d4689-f19d-42d6-b2d8-e365a497f47e.cc3dc3b7daf09670.","traceparent":"00-d3510b6145bd87915aa7d7b9fa9fd6eb-cc3dc3b7daf09670-00","x-forwarded-for":"4.156.104.40","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"Fe627KtEQZij6xiXPvyhXg","x-real-ip":"4.156.104.40","x-request-start":"1756822177644","x-requested-with":"XMLHttpRequest","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Form":{"Id":"122","InternalName":"NovaDemandaTestes","Name":"Nova Demanda - testes"},"PrazoEmDias":{"Id":"123-32","Label":"2"},"Cliente":{"Id":"124-72","Label":"AGENCIA PINGUIM MARKETING E SERVICOS DIGITAIS LTDA"},"AnexosDaSolicitação":[{"ContentType":"application/pdf","Id":"F-s3oTo9uxhoOvSPmPlSh16E","IsEncrypted":false,"Name":"ia.br.pdf","Size":269230,"StorageUrl":null,"File":"https://www.cognitoforms.com/fa/HAlBTQyV4kezA48rf0XZiA?token=rnqGk-b07dAf4QOGmpppZpNhIebXmmAmfapZLrLli6kojOfO17Xrg54CkFVerM8rXEWaXP1EP_DlLN_dnjk_RQ$$"},{"ContentType":"application/pdf","Id":"F-s3oTo9uxhoOvSPmPlSh16E","IsEncrypted":false,"Name":"ia.br.pdf","Size":269230,"StorageUrl":null,"File":"https://www.cognitoforms.com/fa/HAlBTQyV4kezA48rf0XZiA?token=rnqGk-b07dAf4QOGmpppZpNhIebXmmAmfapZLrLli6kojOfO17Xrg54CkFVerM8rXEWaXP1EP_DlLN_dnjk_RQ$$"}],"Prioridade":"Alta","DescriçãoDaSolicitação":"teste teste teste teste teste teste teste teste teste teste","Solicitante":{"Id":"125-254","Label":"Micha Menezes"},"Responsável":{"Id":"62-10","Label":"Miqueias Brandão"},"TipoDeServiço2":"Contrato de Estágio","RazãoSocial2":"Medium","Entry":{"AdminLink":"https://www.cognitoforms.com/CláudioCamozzi/122/entries/3","DateCreated":"2025-09-02T14:09:36.134Z","DateSubmitted":"2025-09-02T14:09:36.134Z","DateUpdated":"2025-09-02T14:09:36.134Z","Number":3,"Order":null,"Origin":{"City":null,"CountryCode":null,"IpAddress":"187.58.58.203","IsImported":false,"Region":null,"Timezone":null,"UserAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"},"Timestamp":"2025-09-02T14:09:36.134Z","User":{"Email":"ti01@camozziconsultoria.com.br","Name":"Miqueias Brandão"},"Version":1,"Action":"Submeter","Role":"Public","Status":"Submitted","PublicLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemandaTestes#KJCtZvAVpFjQsYnnMcm0pH_PJJVc5HBDiK-MldTgjsI$*","InternalLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemandaTestes#5Hx8B7cv2D0c-g4ipucCALzSMIo1NycoVyokUbukVMY$*","ReviewerLink":"https://www.cognitoforms.com/CláudioCamozzi/NovaDemandaTestes#SVws7rAh9ZInm_vfcfN6EmZDOSx53sINqmoD1L1f09g$*","Document1":"https://www.cognitoforms.com/d/HAlBTQyV4kezA48rf0XZiA?code=v05j-6KqOO8rydLBLePtsfk_C_YTxrYCX8bJ0wQOYFE$","Document2":"https://www.cognitoforms.com/d/HAlBTQyV4kezA48rf0XZiA?code=beKvToN67jCX8iTQL84y0RR_pnhYg16oqkY6p3fboPo$"},"Id":"122-3"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/aa11faf4-51c2-4449-a3b7-61404add8695","executionMode":"production"}}]},"versionId":"d7760562-a6bd-4113-9690-3be73df666ab","triggerCount":1,"shared":[{"updatedAt":"2025-09-01T19:48:45.801Z","createdAt":"2025-09-01T19:48:45.801Z","role":"workflow:owner","workflowId":"RV0rXZ1qHiOKBVx3","projectId":"BlSED80HESP48veq"}],"tags":[]}