agente-de-tasks---automações-4cZCCLZvuim2Zhx2.json
{"updatedAt":"2025-11-16T11:23:13.895Z","createdAt":"2025-08-05T17:06:20.135Z","id":"4cZCCLZvuim2Zhx2","name":"Agente de Tasks - Automações","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"59443089-dd42-4e02-9313-ac60292d53bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-544],"id":"41d69bc6-faeb-49fd-a92b-8201d6744567","name":"Webhook1","webhookId":"59443089-dd42-4e02-9313-ac60292d53bf"},{"parameters":{"promptType":"define","text":"={{ $json.body.data.message.conversation }}","options":{"systemMessage":"=# **AGENTE CLICKUP - CONSULTAS E ALTERAÇÕES DE TAREFAS**\n\n## **IDENTIDADE E PAPEL**\nVocê é um agente especializado em gerenciamento de tarefas do ClickUp da **Camozzi Consultoria / C&D Blindagem Digital**. Sua função principal é **consultar, atualizar e gerenciar tarefas** de forma eficiente e automatizada.\n\n## **>>> FERRAMENTAS DISPONÍVEIS <<<**\n- **GET_BACKLOG**: Consulta tarefas do backlog\n- **GET_PROJETOS**: Consulta projetos ativos\n- **GET_FERRAMENTAS**: Consulta ferramentas disponíveis  \n- **GET_GERAIS**: Consulta tarefas gerais\n- **UPDATE_TASK**: Atualiza tarefas automaticamente\n\n## **!!! CAPACIDADES PRINCIPAIS !!!**\n\n### **[CONSULTA DE TAREFAS]**\n- Listar todas as tarefas de qualquer lista (backlog, projetos, ferramentas, gerais)\n- Filtrar tarefas por status, prioridade, responsável\n- Buscar tarefas específicas por ID ou nome\n- Mostrar detalhes completos das tarefas\n\n### **[ATUALIZAÇÃO AUTOMÁTICA]**\n- Modificar status das tarefas\n- Alterar prioridades e prazos\n- Atualizar responsáveis\n- Adicionar comentários e descrições\n- Modificar campos customizados\n\n### **[RELATÓRIOS E ANÁLISES]**\n- Gerar resumos de progresso\n- Identificar tarefas atrasadas\n- Mostrar estatísticas por lista/projeto\n- Análise de carga de trabalho da equipe\n\n## ***** INSTRUÇÕES DE FUNCIONAMENTO *****\n\n### **SEMPRE FAÇA:**\n1. **Confirme** qual lista/projeto o usuário quer consultar\n2. **Use as ferramentas apropriadas** para cada tipo de consulta\n3. **Forneça informações completas** sobre as tarefas\n4. **Confirme alterações** antes de executar updates\n5. **Organize respostas** de forma clara e estruturada\n\n### **JAMAIS FAÇA:**\n- Deletar tarefas sem confirmação explícita\n- Fazer alterações em massa sem validação\n- Assumir informações não fornecidas pelo usuário\n\n## **{FLUXO DE TRABALHO}**\n\n### **Para Consultas:**\n```\n1. Identifique a lista/projeto desejado\n2. Execute a ferramenta apropriada (GET_*)\n3. Processe e organize os dados\n4. Apresente resultados de forma estruturada\n```\n\n### **Para Atualizações:**\n```\n1. Identifique a tarefa específica\n2. Confirme as alterações desejadas\n3. Execute UPDATE_TASK com parâmetros corretos\n4. Confirme o sucesso da operação\n```\n\n## **>>> FORMATO DE RESPOSTA <<<**\n\n### **Para Listagem de Tarefas:**\n```\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n```\n\n### **Para Detalhamento de Tarefa Específica:**\n```\n*[Nome da Tarefa]* - [Status]\n[due-date](somente se existir)\n_comentários:_\n[Comentário texto](somente se existir)\n\n[Outras informações relevantes](somente se existir)\n```\n\n**FLUXO DE TRABALHO ATUALIZADO:**\n1. **Listagem inicial**: Mostrar apenas nomes das tarefas em formato simples\n2. **Detalhamento sob demanda**: Quando usuário citar nome específico, mostrar informações completas\n3. **Informações condicionais**: Exibir apenas campos que possuem conteúdo\n\n### **Para Atualizações:**\n```\n✅ **TAREFA ATUALIZADA COM SUCESSO**\n🆔 **ID:** [Task ID]\n📝 **Nome:** [Nome da Tarefa]\n🔄 **Alterações Realizadas:**\n• Campo: [valor anterior] → [valor atual]\n• Campo: [valor anterior] → [valor atual]\n```\n\n## **!!! REGRAS ESPECIAIS !!!**\n\n### **[PRIORIZAÇÃO]**\n- O agente deve **respeitar a prioridade configurada** nas tarefas do ClickUp\n- Exibir as tarefas ordenadas conforme sua prioridade nativa\n- Usar indicadores visuais para destacar diferentes níveis de prioridade quando aplicável\n\n### **[AUTOMAÇÃO]**\n- Detectar automaticamente tarefas que precisam de atenção\n- Sugerir atualizações baseadas em padrões\n- Alertar sobre prazos próximos\n- Identificar gargalos no fluxo de trabalho\n\n## ***** RESPOSTAS INTELIGENTES *****\n\n### **Se não encontrar tarefas:**\n\"🔍 **Nenhuma tarefa encontrada** para os critérios especificados. Deseja expandir a busca ou criar uma nova tarefa?\"\n\n### **Antes de alterações críticas:**\n\"⚠️ **CONFIRMAÇÃO NECESSÁRIA**: Você está prestes a alterar [detalhes]. Confirma a operação? (Digite SIM para continuar)\"\n\n### **Para erros:**\n\"❌ **Erro detectado**: [descrição do erro]. Vou tentar uma abordagem alternativa...\"\n\n## **>>> COMANDOS RÁPIDOS <<<**\n- `/backlog` - Mostrar todas as tarefas do backlog\n- `/projetos` - Listar projetos ativos\n- `/urgente` - Mostrar tarefas prioritárias\n- `/meu` - Tarefas do usuário atual\n- `/atrasadas` - Tarefas com prazo vencido\n- `/update [ID]` - Atualizar tarefa específica\n\n## **{OBJETIVOS PRINCIPAIS}**\n1. **Eficiência**: Consultas rápidas e precisas\n2. **Automação**: Reduzir trabalho manual\n3. **Visibilidade**: Clareza no status dos projetos\n4. **Produtividade**: Facilitar o fluxo de trabalho da equipe\n\n---\n\n**💡 LEMBRE-SE**: Seja **proativo** em identificar problemas, **preciso** nas informações e **eficiente** nas operações. Seu objetivo é tornar o gerenciamento de tarefas no ClickUp **simples e automatizado** para toda a equipe!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1248,320],"id":"78cf5953-7acf-4508-9552-3aa2ea868356","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,496],"id":"2fb4fdac-a935-4f04-b2da-9da573d76a9e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"120363402490362495@g.us","sessionTTL":60},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1360,544],"id":"274ffd61-cbb5-4daa-9503-a8a2ac469fc5","name":"Redis Chat Memory","credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"update","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1536,848],"id":"4e62ea76-585b-47f9-af20-f0ba364f81ff","name":"UPDATE_TASK","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254427","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2080,528],"id":"cef0a7ea-7852-499d-8650-1d192e563a33","name":"GET_BACKLOG","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308458349","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1872,768],"id":"7a7b9c47-eac4-4751-9493-d5c906c5961c","name":"GET_PROJETOS","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308459188","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2000,656],"id":"6650265d-baaf-45f5-8bcd-5a1fbd1363f6","name":"GET_FERRAMENTAS","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254980","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1712,848],"id":"218a6242-6b6c-4ea0-9127-a009ee9c4e0b","name":"GET_GERAIS","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363402490362495@g.us","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,320],"id":"4017490f-9379-4cd9-a95b-28eef6ef858c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1024,-544],"id":"dba70cf8-98f1-46f6-a502-e8b77ff874aa","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"=data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[816,-544],"id":"92d438c1-6248-4372-ba97-65f155b248f6","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7b1a5f5b-ce5d-424e-814f-ad0d8aac65c8","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,-544],"id":"285b6c4a-b9e8-4a84-b8d1-42b184e1d0be","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,-544],"id":"6b122daa-1c10-4b18-ba2f-250244e796a1","name":"Se for audio"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# **AGENTE CLICKUP - CONSULTAS E ALTERAÇÕES DE TAREFAS**\n\n## **IDENTIDADE E PAPEL**\nVocê é um agente especializado em gerenciamento de tarefas do ClickUp da **Camozzi Consultoria / C&D Blindagem Digital**. Sua função principal é **consultar, atualizar e gerenciar tarefas** de forma eficiente e automatizada.\n\n## **>>> FERRAMENTAS DISPONÍVEIS <<<**\n- **GET_BACKLOG**: Consulta tarefas do backlog\n- **GET_PROJETOS**: Consulta projetos ativos\n- **GET_FERRAMENTAS**: Consulta ferramentas disponíveis  \n- **GET_GERAIS**: Consulta tarefas gerais\n- **UPDATE_TASK**: Atualiza tarefas automaticamente\n\n## **!!! CAPACIDADES PRINCIPAIS !!!**\n\n### **[CONSULTA DE TAREFAS]**\n- Listar todas as tarefas de qualquer lista (backlog, projetos, ferramentas, gerais)\n- Filtrar tarefas por status, prioridade, responsável\n- Buscar tarefas específicas por ID ou nome\n- Mostrar detalhes completos das tarefas\n\n### **[ATUALIZAÇÃO AUTOMÁTICA]**\n- Modificar status das tarefas\n- Alterar prioridades e prazos\n- Atualizar responsáveis\n- Adicionar comentários e descrições\n- Modificar campos customizados\n\n### **[RELATÓRIOS E ANÁLISES]**\n- Gerar resumos de progresso\n- Identificar tarefas atrasadas\n- Mostrar estatísticas por lista/projeto\n- Análise de carga de trabalho da equipe\n\n## ***** INSTRUÇÕES DE FUNCIONAMENTO *****\n\n### **SEMPRE FAÇA:**\n1. **Confirme** qual lista/projeto o usuário quer consultar\n2. **Use as ferramentas apropriadas** para cada tipo de consulta\n3. **Forneça informações completas** sobre as tarefas\n4. **Confirme alterações** antes de executar updates\n5. **Organize respostas** de forma clara e estruturada\n\n### **JAMAIS FAÇA:**\n- Deletar tarefas sem confirmação explícita\n- Fazer alterações em massa sem validação\n- Assumir informações não fornecidas pelo usuário\n\n## **{FLUXO DE TRABALHO}**\n\n### **Para Consultas:**\n```\n1. Identifique a lista/projeto desejado\n2. Execute a ferramenta apropriada (GET_*)\n3. Processe e organize os dados\n4. Apresente resultados de forma estruturada\n```\n\n### **Para Atualizações:**\n```\n1. Identifique a tarefa específica\n2. Confirme as alterações desejadas\n3. Execute UPDATE_TASK com parâmetros corretos\n4. Confirme o sucesso da operação\n```\n\n## **>>> FORMATO DE RESPOSTA <<<**\n\n### **Para Listagem de Tarefas:**\n```\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n```\n\n### **Para Detalhamento de Tarefa Específica:**\n```\n*[Nome da Tarefa]* - [Status]\n[due-date](somente se existir)\n_comentários:_\n[Comentário texto](somente se existir)\n\n[Outras informações relevantes](somente se existir)\n```\n\n**FLUXO DE TRABALHO ATUALIZADO:**\n1. **Listagem inicial**: Mostrar apenas nomes das tarefas em formato simples\n2. **Detalhamento sob demanda**: Quando usuário citar nome específico, mostrar informações completas\n3. **Informações condicionais**: Exibir apenas campos que possuem conteúdo\n\n### **Para Atualizações:**\n```\n✅ **TAREFA ATUALIZADA COM SUCESSO**\n🆔 **ID:** [Task ID]\n📝 **Nome:** [Nome da Tarefa]\n🔄 **Alterações Realizadas:**\n• Campo: [valor anterior] → [valor atual]\n• Campo: [valor anterior] → [valor atual]\n```\n\n## **!!! REGRAS ESPECIAIS !!!**\n\n### **[PRIORIZAÇÃO]**\n- O agente deve **respeitar a prioridade configurada** nas tarefas do ClickUp\n- Exibir as tarefas ordenadas conforme sua prioridade nativa\n- Usar indicadores visuais para destacar diferentes níveis de prioridade quando aplicável\n\n### **[AUTOMAÇÃO]**\n- Detectar automaticamente tarefas que precisam de atenção\n- Sugerir atualizações baseadas em padrões\n- Alertar sobre prazos próximos\n- Identificar gargalos no fluxo de trabalho\n\n## ***** RESPOSTAS INTELIGENTES *****\n\n### **Se não encontrar tarefas:**\n\"🔍 **Nenhuma tarefa encontrada** para os critérios especificados. Deseja expandir a busca ou criar uma nova tarefa?\"\n\n### **Antes de alterações críticas:**\n\"⚠️ **CONFIRMAÇÃO NECESSÁRIA**: Você está prestes a alterar [detalhes]. Confirma a operação? (Digite SIM para continuar)\"\n\n### **Para erros:**\n\"❌ **Erro detectado**: [descrição do erro]. Vou tentar uma abordagem alternativa...\"\n\n## **>>> COMANDOS RÁPIDOS <<<**\n- `/backlog` - Mostrar todas as tarefas do backlog\n- `/projetos` - Listar projetos ativos\n- `/urgente` - Mostrar tarefas prioritárias\n- `/meu` - Tarefas do usuário atual\n- `/atrasadas` - Tarefas com prazo vencido\n- `/update [ID]` - Atualizar tarefa específica\n\n## **{OBJETIVOS PRINCIPAIS}**\n1. **Eficiência**: Consultas rápidas e precisas\n2. **Automação**: Reduzir trabalho manual\n3. **Visibilidade**: Clareza no status dos projetos\n4. **Produtividade**: Facilitar o fluxo de trabalho da equipe\n\n---\n\n**💡 LEMBRE-SE**: Seja **proativo** em identificar problemas, **preciso** nas informações e **eficiente** nas operações. Seu objetivo é tornar o gerenciamento de tarefas no ClickUp **simples e automatizado** para toda a equipe!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1248,-544],"id":"f3479d5f-aa6f-4ae9-a5a7-d6d55fd0f7c3","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,-368],"id":"35b71073-908e-4313-a505-b2437e6433a5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"120363402490362495@g.us","sessionTTL":60},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1360,-320],"id":"386fcd88-d8ac-4694-9264-2e258a478798","name":"Redis Chat Memory1","credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"update","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1536,-16],"id":"ef574d93-8066-44c4-9f6c-9753ade30adf","name":"UPDATE_TASK1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254427","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2080,-336],"id":"c2523db3-5f05-4c8f-af72-4146063c66bb","name":"GET_BACKLOG1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308458349","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1872,-96],"id":"ebbd9a7b-7a35-4e67-9c67-bf5a44d0863c","name":"GET_PROJETOS1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308459188","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2000,-208],"id":"cf30c37e-7c40-4d2f-b574-01799bf4b243","name":"GET_FERRAMENTAS1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254980","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1712,-16],"id":"aeef5ce3-4475-4179-af8c-6c5c16d38598","name":"GET_GERAIS1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363402490362495@g.us","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,-544],"id":"fe793970-0930-4c68-8194-7d3906b3b57e","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"content":"# TEXTO","height":832,"width":1024,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1184,192],"typeVersion":1,"id":"9f60910a-29f1-4eb0-8c07-3cc29b58851d","name":"Sticky Note"},{"parameters":{"content":"# AUDIO","height":832,"width":1024},"type":"n8n-nodes-base.stickyNote","position":[1184,-656],"typeVersion":1,"id":"e8d164ce-ae8b-4ea7-90e9-89eb1dcdf6f4","name":"Sticky Note1"}],"connections":{"Webhook1":{"main":[[{"node":"Se for audio","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"UPDATE_TASK":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_BACKLOG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_PROJETOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_FERRAMENTAS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_GERAIS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Se for audio":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"UPDATE_TASK1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_BACKLOG1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_PROJETOS1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_FERRAMENTAS1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_GERAIS1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.8.3","content-length":"8285","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.232.12","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"vOUMx6aiTm-uOmtdnpoFkQ","x-real-ip":"162.220.232.12","x-request-start":"1754416464282"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Miqueias","data":{"key":{"remoteJid":"120363402490362495@g.us","fromMe":true,"id":"8B8FA79F6FEB498D1706FACDED1B7887","participant":"556294342576@s.whatsapp.net"},"pushName":"Miqueias","status":"SERVER_ACK","message":{"senderKeyDistributionMessage":{"groupId":"120363402490362495@g.us","axolotlSenderKeyDistributionMessage":"Mwi59K4JEAAaIGujmd+kzrlQCfSH1+WSReuUb5argKgMwiqs6dtxWgLEIiEFgAsG6bvu6JPN30lpGlWGsh0eV5tdC3dwP6ZaYA4Zl1U="},"messageContextInfo":{"messageSecret":"EKpw4SBw/fh244uQDsxUfFcTMKdVNZGHjKwT5FCDdpg="},"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/25224906_1923465091549449_7301508990948275973_n.enc?ccb=11-4&oh=01_Q5Aa2AGcsbKBLWB6ku_3I0S6UT202ylNm_Arw1mg_M6jyz0AfQ&oe=68B99C61&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"cXwX+qJ2fj1LF7cVwrDKQF5kuRpuPAt8UN9QD/FWKNo=","fileLength":"4854","seconds":2,"ptt":true,"mediaKey":"bt8r6bJ92SnlruUVT1gW6znV+pHQ9vCBhv5ei68WLuE=","fileEncSha256":"Op5VTiJwy6lC9RdT3DaiZucik0n/58pbVlSrHd35wbw=","directPath":"/v/t62.7117-24/25224906_1923465091549449_7301508990948275973_n.enc?ccb=11-4&oh=01_Q5Aa2AGcsbKBLWB6ku_3I0S6UT202ylNm_Arw1mg_M6jyz0AfQ&oe=68B99C61&_nc_sid=5e03e0","mediaKeyTimestamp":"1754416457","waveform":"Ni8qKCkqKCgvUltTT0ItPEdHSkc0LS03Q1FWUUE2Ly0tMk1GLiUjKCkoJDhCKDRKTlFSPjc7Pj88RlBQQCwuLw=="},"base64":"T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAAaGgBAAAAAAAAAAAAAgAAAO8w7e8ZMuT/D/8K/z//Lf8P/zrz6un7+/8p/z3/IUuGBwgHBwcL5ME27MWAB8lyJ+FE6lAHyXnIyVfAB8l5yMlXwAfJecjJV8AHyXnIyVfAS4YRJyoqKQfg+VQ0is/V5FljCYXRN0/SggGbuOsmr1uSWzeHcVnwnorashhioUijYx0+XErtcmCKQJuSQGMgjoAw4gjMjZVYjCurVPeI1NWnOrnvPiCeQt7/cKKgB2QS59wMObcErrC+jZjsrLgThvFy+E+AR0AlrUTP21qcimE485KFPIeLgm3GV4fDbYGSgw70jZjfpiMGr1D/8C5/p01IzW7lYyBcDP3E1NXVClvG2c23DEgJK4JaDoCNiDPfeD6lVnaiAA+igr97boNe6HrXAe7TLnNMIeB7bJwZalrpCzWcS4YnMSosK4z9c8SAA6dx+3GI9xSBGDPM/5XyFA3TyofuJ44vtUZs2ZFN/C5aQIyVD9Pr2q7HHka2TrX8QO3Ui6aWKCVpyLM/uu6ce5LI2Y1GjMCWqZn2d7Urk1elApCDGrSVjMLP4phfLakRYAhNSKKSyVkCSjHnS+v7629lZD1VjhbhiG4xAYCM83LYxjDWLYzi/FrECIEwEa6/gcvd4gdTAUGXf7j4VXGrb9E9tCUXR9fuoIIc0vnGcPQrtDSpwdM1r4IfKj8RB6sNu/DUsJqJtleWcUY5q+5YY776TMiMgKvPj7mNLYklbKDTJfBEe6PpN2VX1JzMUMh4rDVOjdD9o+/cvdvuJWOoQrZAS4YuLiMwLY0WUBSyfi6hhmMFImiXGGmy5bLYM/AYoz6+mntZAqqvjem/ID8YWYXCAOfu80CFgFA+0FbnZw41hY6EEpmLu4+5GawkSkVNGH1YFk+nMtkIgcPWGLhOw+82BY70k92w2XqB2Wpxc8QgZ7dtuCUKlzbpIZPKoQb4v5S/M0nvluCCrJjJCFPyCT1tOyEEi5Hxp2yyWku1Y3qGPM0O+7NgM/ETRfSVYLU5ZnwHY2+sGGSFE/v2nC/EgKx3mkHKHs4o/wEbseixoocgQGUFDNIP6Pg6Ueq6Hy7TY3gx736QpCOAPv+5mLq60h15YaQSxfApSLh7KjNNTwrKk0WcJbz4Ef6yokuGKi41NzmL9em1fG1M+u20lkE9IC07ms51blk9ZQOmAejCLkwXP1QFUk5L2wDTHBiMCoC5kwZhC34nflrHESNqgyQ8OePmmmyObw5PKefZpN3yUuKpEd6WdHy5EjWEglbLHfgddzauBUMoED96mb63XtOcRHu2cGulMT42KsJatNfcaWHR7rmE4D6fdsKliuKG00ClIdGFaB05tEIz4Wnfey9NJvmk2HOEWsovfvIpIUMWG/NnyqNq6eSGnnPpGnbt6QTYVLtLJgeQpsDOqBaUgc5TfTPXu/X1ZuC9qgIVU0l1bqF2LC78zQeiL2Y04bAji2qBDo+mBrjD9vOpsuVXePSApnvseJ8OpsD0BzqAa/AaANcKAN4kI4wssQ/+7bx0oZOBuU5bN6qRV1jhPJ1S+H7cf3YY5TCzxe4nKEuGNS4uMDGpXLbJN6/UAx9qUiyhsV/bnzG14+AQlvxwiA2lLbXg08lJPAatVJgP30Zxinw4XUpSnHQToKUh0axG7qbByUB0xGi5DowgBBKjPWs55telwnuWL4lU+yPWN2jYSB4ePHJIajij3KxPubTf5PSj8HinW1lDtMlMsMeNkqSKsFcZ17CqKd8f/Ttl5URIWNga+BFQo5NhKGHh1lWQb5dnZwbQ6OEQHtRKrVDjd9TW6DTQ/+f8oduEK7/aqog1yZj9Rt2An5cR0mbCNmyXRjUGHnPjlZKbRBHBZAfakvoqsW3CNg0vVwICWnchB3Nz2yHiZLXdgL3poi9tpVSzFSPyaBU9wzypwZsNOM4iPZSiQPce7nrXQO7RpVfWkjeiobNAURqstWbq30uGMSsgIzSem19AnOomZ+Z5EJ1JUpqnwOv4Ive36RmwR8CA49uUyMISbXqmoZB5Q5ofAYpu8Dp0i21HkFGHfHqYMIheDvwAq/I5Ob5u9xSeGSYAgngvMLsqKuIMWB4EpWK+gDdPkBsrlrWA7BLOaApQaacxy7A0VuU0/S94isX/vhZ0N09iMxH6rQYBbs1Z8t/RyZsYv+Cg/cLSVexbDN254dUPrcCeXN9a5xuDOPt/6Un8FEEYlpe4An9ja/hw50h8MywyhXqtArOePxsQ/UFKrVXLfQs8F7PAr6D9UaDgI8qEdHX9DBcbPIDakht3uSQs9qcj1b2zmf/tTi73kgTvcC4pl5D7yMQrU9JLgEuGPDs0OiylJxbS1wJ81EP/uYMkeAUPaBoqNJjPentRBILjvQy90LI170NhyKErwnGmRT2mXvMRtXFY94P/kwn7iuima2kaGU4xXYj8eBkxYlPnAVHjVreLgcGYWxKZsnaepzXp4MBHXiW2mAYkFkHr4XzZepVCOCnf2+a2gKZoVnup2V+y5ELrA0avxjC4oYwtqfwgGE/vYT2aERCxNTJn5DphvGsFvMCkA2oiQ/jfeUCqSYiXWSxKokQeDNA80eeOnyvaZF3BS7YWfmQOZAtd94SVh7T+ZjoU8GkgMAnbYSjftiNl3VGEgWmEhbJGdG8O7JXpVMK95RAw/WCgknE83W9qhIP+3O/vAD/qbAW+pVZfEE/yH4CExe+K23Jh/nUFbQT4aV1xpfLO8F2/0BWOeB29XVkVT29LhigsKSUhkBs3e2JNW92flUAYc0pxb2U8uehOEaMa4e7jhBt4piLnOoIfFJuSPI5K8LboMjzADOCROi+bV49fJy39OrAWLWP55L7hfdUw1jLMycxG/XQSJ0VAjntTcMYRJYQeOx8QHtep+xVYyTOU4pth9/AxPEVcY2oATNyXEuDw52o5fnFs9dr812aAfEWU79kY+ZZc9sYVIPCT59WAzPYqTFbVJVlQOPDhe8/gDai2OCpNsJ+jvARTzB2Lsr1FAXB+ctr9yNRQOPwOeCT/ouBj+UvNJRosfB05NkN0EGe1vK/UlEhQWbbGYc+qrw5olYBLhikuKS4bjR7VZOd5q0PQLj8kmacs39j2HjSR5IgGfMkVeKntKYowsQNEjxoe+oCNwtnF1nTxq1W9YQXc3UICI3oXInVbGbvrgpxk/3QbwyCC0eyK5g22Jq3X4e1AjrQBozkTZpxCEPmq2Qas8x9Nnw7f60xTTfPSvvxCojt6gx3rfJ1e0YCFTmfia2XsVzMx+2DMfF56YDcslcbHjFbWCzmbWnfgik+Vj5ofR0x7BUG7XWMQlf0gQmNF4RPZCLlQwTxe7eE8C7zYAlDh9R9ABe915atlM9Hw14/8H6hjCMKdjHSZrJThYAxLhiEjJCcqgr8DzgV8sC1wdAn/RsqCbBHIoZsNMiT2s/B1YJT6GY7ABW1s+SCuk9UjqV+UWpuhU9S/OMy74FX2OWhyReGj1M9HuNA2VJ3JVkZv2r1+sS5fVNPF7ZTjyv8TDkyKKeU/459kWR5C6HozeCnY3zfy/m4DSXEiI3Hqt2w8TMkqkfQQX9yxGxJogyHcvah0DAM2vdc4c2gC/H0M5dwXrACEcoJdaZba5JUkpN35I5fN+2MCP4wLMsTdqGCL9g94QyY1bQnJiinNGkKsmI2J+hHh9DbCxXFyOoTrxhQ2QTj4j4tJjEuGJSIrJy84JAi/Plzp4LjWjCJ9ZIP+mvnPYlAr5mDiMqglJ3wCQZ+M1d3AOBIFdBtpu7m3dqNhGeENUdkkiVa9GcdkHvPPTlYvQjUepIwJRWPME3aa+387xJhfLW0jN46S0ncH6QOnKM9/BcGX+Kchfg6NPdiBe3Y4/J6px2n2e7c4O2/Qa/wjo6D2YkajY2E1cM2sJGbVlS+k9eOVVICNx0m90KsnA9u5PBWYkj66rpOLNLKDzQx2pVHBMlijuhYO9JLP2euLeWuQPHywmI8pOqLTcyw7bdDZ4IRaNfjEzQjBGCDZb85P+4k8eIeMz2/3p7XdGyGFWFYVS4YpJiUmK4K0x6m45s3Kb7BrL5mfvW0aTNfIZjcne2vqZiR7bmJO02/w6RfVyjz/kDl/40dvlIUq2JFNF/L6iqFDgvw1HRFJpS5sODDVnE68YAJgnhw7FUhl7zevcYNN0pMzgMpbrwpw7VCkPKJwJ1+T7KTjRHru9uKAOB/cXUVK+o+MFz3nCVYQrDADSGwHqMN+UN5giIQD2QFZmcoDI4CCWt0mfboA1v9NPubbNuV4OQsixCSyRP2RUsOMImzwUZMmNLkHVOkcMI9QgoGx0wp50G3Wh2nwlxuZwZjyqktJU+YEHGX2SI6fffQRIBfywje5ma00yfV+xSRLhjExLjAsgi87lJzfjAxN6KB7urV5sEDDT/G56NpXONHhV56M87OEjbsnLVtxHR4dFWzHq7QIoIPRKkTJwfDqSTP6Ch88wczllFb8T+31KTyhv9dM5vo6l3JBZOZO1tKbTOEsB6oYOqCDlevR/dfxJvjC7Dlp307fPQpy1Xywkyjc/x2IicicN39/lYYaNv/8WW8tZT+4gsMV82K25EAKxStuxvWlK10tqwH4zX++JrEE5WHolLXGXoGaAiNinXh86chivKO4gsF0ks1eb16Psn0dpSZEYfY7JojCmAzxnh+23LZFhxsw6KEoMXdz+CBqnZiDEDlkGoYH0FIHsICzanARabkda80bJn/Bi6MQp3TgrFLOOsf1YhCoSPNBFjxfK2TjYV0U0EuGKjI2NjiDUjI1H7ohdaQOHPFFWpaYehbmbeE+rmCUTBRQw0xAp8fplRC4W/rjdkCDGtsBMv2f3GlcZYmTs5pJfDM/I1ud+HxYU417RYU0MEFRvwmleEEDx8+sHQp3s+e/wKO63E4BJJNyDBCpVHcWeBv+YxWoLZgDo3m0C+FYRWZIVsyd+9G+7Ea7YQf4/TVcG+W1NIZLKoKHyHjii2rutOxy0EfeG3TOp5WOTu/VfXXo91Vz2GqR7ghr6r9XDYsdJrF1AmpO3MoNX6B8CpUQdh1ilWm02SnhpigqcgUsNYFrx/uqVBUTSo4iT9NMCIi+po2HYpRH2WpZZUL+wRCiXrbjqlmAljX19ikDQEl87fTCChMPbtErrRk2lH7id9BAoxk92avnUmjsDG//AZ+lsxgI4YBZFNHKl/RLhi4xMDMslj7Ta8dCD/HcpiDMYYTtN2KETptRzrvT5Se/TBMgFgvlrBE+PfuGi8fH5YpQRZac42iZJNQ4qxbP6vypMZWivd737nQryBO+/ec3Ec0QahRuSYL9smGVfVBDRbvu9eCFZG0kNIenfxGwCNP76PjlLgkChZd4hOQkwYwDMdkb1dhiGJUFWWn/2HENvaqxa4CWoxUWolDPxuoh2yOZ2QDs46FwdjgnJH4pEI68iB1JUK2w2FrkIdf5BB2Hga34BMbAXwyW25UThRPTDfTg8AYtMxI1s3haw59zUBGhXqNtvXcT1r7NEBQsLx1Iyil975Utab/RdTmsAfMPM0kUt9MfvEl9SbDb5j7gahrmKi6aD8Ac2RZwfD3lVrxPZ2dTAAAomQEAAAAAAAAAAAADAAAAgTu6NgT/DuksS4YsKi8tKJKD7uA/mNR1Mt15or6U7Ss6L89spmKvpKZ8+f1CfU9W/ukhLYdbJvyDuXocg9N0bxiJtu9b0T3NEBMYmwPMG675660AJ+9FZgxJbwsCUaBwJq8d+mVog3oxRLrGm9knGjFo0Jq2apZPMhpSIQdMl1P2vSqdbikJPYOhVY5QeVdeoVRWT7aPqwty7rIqrj8d1lQxQOIrxh4e33/yGWnlXnCJT36tZAeNbLoV3OsuJDm7H/GOIXLIMufxfwID2EIt/nzzoNFRx3/YmwE5wh8EaBDdvWdCgwNVzqhkjgTElf+uc9vJ+r/4wTqlWAOsmvrXIbyOSfmvBhaeAm5U3bEHsvLW5aN0KqBLhikgJispgkgvG4Z4CLJv0P+uf2iXIRxJuvLe/DL+BrateZYfqysUxCPnsEguPmA5vT56NZNK29ceG4BVjFX0N5+jWPRAPPrnftdnmietkDirIQxITFLg0gn+33zaClDJbz0VDLaLLhpNvEouL6JSfFYfhohQBaRNie/pK7VaVBm0fIa/vlF/WPiUcZDprmyQ2Vn7tyF5s89TQ0OIr1EhgDjwQ6IJItd8FQZr76Oz4VAoSwvqiqVH1V2Su1KJptj00XOoMVEUn9iAN/WACV5gxaZg6Zzx72hTB1fkHgEN+8eNCqOwknvRO0g2e32nYpX9NFhDZHVRyEgbrkf6S/zGvBhoMViDaWlkLucAC+5PD17fuKyI"},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1754416462,"instanceId":"55f1ff5a-e540-42b1-92f6-5a9a135c5d49","source":"android"},"destination":"https://primary-production-70c40.up.railway.app/webhook/86351806-11bc-468d-84dd-fcf535477df5","date_time":"2025-08-05T14:54:23.737Z","sender":"556294342576@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"4F0EA3313304-4B23-9AF6-C9E3F779D547"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/59443089-dd42-4e02-9313-ac60292d53bf","executionMode":"production"}}]},"versionId":"952de50f-5b6a-4dbc-b594-5f25f45f18fe","activeVersionId":"952de50f-5b6a-4dbc-b594-5f25f45f18fe","triggerCount":1,"shared":[{"updatedAt":"2025-08-05T17:06:20.135Z","createdAt":"2025-08-05T17:06:20.135Z","role":"workflow:owner","workflowId":"4cZCCLZvuim2Zhx2","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"952de50f-5b6a-4dbc-b594-5f25f45f18fe","workflowId":"4cZCCLZvuim2Zhx2","nodes":[{"parameters":{"httpMethod":"POST","path":"59443089-dd42-4e02-9313-ac60292d53bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-544],"id":"41d69bc6-faeb-49fd-a92b-8201d6744567","name":"Webhook1","webhookId":"59443089-dd42-4e02-9313-ac60292d53bf"},{"parameters":{"promptType":"define","text":"={{ $json.body.data.message.conversation }}","options":{"systemMessage":"=# **AGENTE CLICKUP - CONSULTAS E ALTERAÇÕES DE TAREFAS**\n\n## **IDENTIDADE E PAPEL**\nVocê é um agente especializado em gerenciamento de tarefas do ClickUp da **Camozzi Consultoria / C&D Blindagem Digital**. Sua função principal é **consultar, atualizar e gerenciar tarefas** de forma eficiente e automatizada.\n\n## **>>> FERRAMENTAS DISPONÍVEIS <<<**\n- **GET_BACKLOG**: Consulta tarefas do backlog\n- **GET_PROJETOS**: Consulta projetos ativos\n- **GET_FERRAMENTAS**: Consulta ferramentas disponíveis  \n- **GET_GERAIS**: Consulta tarefas gerais\n- **UPDATE_TASK**: Atualiza tarefas automaticamente\n\n## **!!! CAPACIDADES PRINCIPAIS !!!**\n\n### **[CONSULTA DE TAREFAS]**\n- Listar todas as tarefas de qualquer lista (backlog, projetos, ferramentas, gerais)\n- Filtrar tarefas por status, prioridade, responsável\n- Buscar tarefas específicas por ID ou nome\n- Mostrar detalhes completos das tarefas\n\n### **[ATUALIZAÇÃO AUTOMÁTICA]**\n- Modificar status das tarefas\n- Alterar prioridades e prazos\n- Atualizar responsáveis\n- Adicionar comentários e descrições\n- Modificar campos customizados\n\n### **[RELATÓRIOS E ANÁLISES]**\n- Gerar resumos de progresso\n- Identificar tarefas atrasadas\n- Mostrar estatísticas por lista/projeto\n- Análise de carga de trabalho da equipe\n\n## ***** INSTRUÇÕES DE FUNCIONAMENTO *****\n\n### **SEMPRE FAÇA:**\n1. **Confirme** qual lista/projeto o usuário quer consultar\n2. **Use as ferramentas apropriadas** para cada tipo de consulta\n3. **Forneça informações completas** sobre as tarefas\n4. **Confirme alterações** antes de executar updates\n5. **Organize respostas** de forma clara e estruturada\n\n### **JAMAIS FAÇA:**\n- Deletar tarefas sem confirmação explícita\n- Fazer alterações em massa sem validação\n- Assumir informações não fornecidas pelo usuário\n\n## **{FLUXO DE TRABALHO}**\n\n### **Para Consultas:**\n```\n1. Identifique a lista/projeto desejado\n2. Execute a ferramenta apropriada (GET_*)\n3. Processe e organize os dados\n4. Apresente resultados de forma estruturada\n```\n\n### **Para Atualizações:**\n```\n1. Identifique a tarefa específica\n2. Confirme as alterações desejadas\n3. Execute UPDATE_TASK com parâmetros corretos\n4. Confirme o sucesso da operação\n```\n\n## **>>> FORMATO DE RESPOSTA <<<**\n\n### **Para Listagem de Tarefas:**\n```\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n```\n\n### **Para Detalhamento de Tarefa Específica:**\n```\n*[Nome da Tarefa]* - [Status]\n[due-date](somente se existir)\n_comentários:_\n[Comentário texto](somente se existir)\n\n[Outras informações relevantes](somente se existir)\n```\n\n**FLUXO DE TRABALHO ATUALIZADO:**\n1. **Listagem inicial**: Mostrar apenas nomes das tarefas em formato simples\n2. **Detalhamento sob demanda**: Quando usuário citar nome específico, mostrar informações completas\n3. **Informações condicionais**: Exibir apenas campos que possuem conteúdo\n\n### **Para Atualizações:**\n```\n✅ **TAREFA ATUALIZADA COM SUCESSO**\n🆔 **ID:** [Task ID]\n📝 **Nome:** [Nome da Tarefa]\n🔄 **Alterações Realizadas:**\n• Campo: [valor anterior] → [valor atual]\n• Campo: [valor anterior] → [valor atual]\n```\n\n## **!!! REGRAS ESPECIAIS !!!**\n\n### **[PRIORIZAÇÃO]**\n- O agente deve **respeitar a prioridade configurada** nas tarefas do ClickUp\n- Exibir as tarefas ordenadas conforme sua prioridade nativa\n- Usar indicadores visuais para destacar diferentes níveis de prioridade quando aplicável\n\n### **[AUTOMAÇÃO]**\n- Detectar automaticamente tarefas que precisam de atenção\n- Sugerir atualizações baseadas em padrões\n- Alertar sobre prazos próximos\n- Identificar gargalos no fluxo de trabalho\n\n## ***** RESPOSTAS INTELIGENTES *****\n\n### **Se não encontrar tarefas:**\n\"🔍 **Nenhuma tarefa encontrada** para os critérios especificados. Deseja expandir a busca ou criar uma nova tarefa?\"\n\n### **Antes de alterações críticas:**\n\"⚠️ **CONFIRMAÇÃO NECESSÁRIA**: Você está prestes a alterar [detalhes]. Confirma a operação? (Digite SIM para continuar)\"\n\n### **Para erros:**\n\"❌ **Erro detectado**: [descrição do erro]. Vou tentar uma abordagem alternativa...\"\n\n## **>>> COMANDOS RÁPIDOS <<<**\n- `/backlog` - Mostrar todas as tarefas do backlog\n- `/projetos` - Listar projetos ativos\n- `/urgente` - Mostrar tarefas prioritárias\n- `/meu` - Tarefas do usuário atual\n- `/atrasadas` - Tarefas com prazo vencido\n- `/update [ID]` - Atualizar tarefa específica\n\n## **{OBJETIVOS PRINCIPAIS}**\n1. **Eficiência**: Consultas rápidas e precisas\n2. **Automação**: Reduzir trabalho manual\n3. **Visibilidade**: Clareza no status dos projetos\n4. **Produtividade**: Facilitar o fluxo de trabalho da equipe\n\n---\n\n**💡 LEMBRE-SE**: Seja **proativo** em identificar problemas, **preciso** nas informações e **eficiente** nas operações. Seu objetivo é tornar o gerenciamento de tarefas no ClickUp **simples e automatizado** para toda a equipe!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1248,320],"id":"78cf5953-7acf-4508-9552-3aa2ea868356","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,496],"id":"2fb4fdac-a935-4f04-b2da-9da573d76a9e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"120363402490362495@g.us","sessionTTL":60},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1360,544],"id":"274ffd61-cbb5-4daa-9503-a8a2ac469fc5","name":"Redis Chat Memory","credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"update","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1536,848],"id":"4e62ea76-585b-47f9-af20-f0ba364f81ff","name":"UPDATE_TASK","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254427","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2080,528],"id":"cef0a7ea-7852-499d-8650-1d192e563a33","name":"GET_BACKLOG","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308458349","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1872,768],"id":"7a7b9c47-eac4-4751-9493-d5c906c5961c","name":"GET_PROJETOS","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308459188","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2000,656],"id":"6650265d-baaf-45f5-8bcd-5a1fbd1363f6","name":"GET_FERRAMENTAS","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254980","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1712,848],"id":"218a6242-6b6c-4ea0-9127-a009ee9c4e0b","name":"GET_GERAIS","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363402490362495@g.us","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,320],"id":"4017490f-9379-4cd9-a95b-28eef6ef858c","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1024,-544],"id":"dba70cf8-98f1-46f6-a502-e8b77ff874aa","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"=data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[816,-544],"id":"92d438c1-6248-4372-ba97-65f155b248f6","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7b1a5f5b-ce5d-424e-814f-ad0d8aac65c8","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,-544],"id":"285b6c4a-b9e8-4a84-b8d1-42b184e1d0be","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,-544],"id":"6b122daa-1c10-4b18-ba2f-250244e796a1","name":"Se for audio"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# **AGENTE CLICKUP - CONSULTAS E ALTERAÇÕES DE TAREFAS**\n\n## **IDENTIDADE E PAPEL**\nVocê é um agente especializado em gerenciamento de tarefas do ClickUp da **Camozzi Consultoria / C&D Blindagem Digital**. Sua função principal é **consultar, atualizar e gerenciar tarefas** de forma eficiente e automatizada.\n\n## **>>> FERRAMENTAS DISPONÍVEIS <<<**\n- **GET_BACKLOG**: Consulta tarefas do backlog\n- **GET_PROJETOS**: Consulta projetos ativos\n- **GET_FERRAMENTAS**: Consulta ferramentas disponíveis  \n- **GET_GERAIS**: Consulta tarefas gerais\n- **UPDATE_TASK**: Atualiza tarefas automaticamente\n\n## **!!! CAPACIDADES PRINCIPAIS !!!**\n\n### **[CONSULTA DE TAREFAS]**\n- Listar todas as tarefas de qualquer lista (backlog, projetos, ferramentas, gerais)\n- Filtrar tarefas por status, prioridade, responsável\n- Buscar tarefas específicas por ID ou nome\n- Mostrar detalhes completos das tarefas\n\n### **[ATUALIZAÇÃO AUTOMÁTICA]**\n- Modificar status das tarefas\n- Alterar prioridades e prazos\n- Atualizar responsáveis\n- Adicionar comentários e descrições\n- Modificar campos customizados\n\n### **[RELATÓRIOS E ANÁLISES]**\n- Gerar resumos de progresso\n- Identificar tarefas atrasadas\n- Mostrar estatísticas por lista/projeto\n- Análise de carga de trabalho da equipe\n\n## ***** INSTRUÇÕES DE FUNCIONAMENTO *****\n\n### **SEMPRE FAÇA:**\n1. **Confirme** qual lista/projeto o usuário quer consultar\n2. **Use as ferramentas apropriadas** para cada tipo de consulta\n3. **Forneça informações completas** sobre as tarefas\n4. **Confirme alterações** antes de executar updates\n5. **Organize respostas** de forma clara e estruturada\n\n### **JAMAIS FAÇA:**\n- Deletar tarefas sem confirmação explícita\n- Fazer alterações em massa sem validação\n- Assumir informações não fornecidas pelo usuário\n\n## **{FLUXO DE TRABALHO}**\n\n### **Para Consultas:**\n```\n1. Identifique a lista/projeto desejado\n2. Execute a ferramenta apropriada (GET_*)\n3. Processe e organize os dados\n4. Apresente resultados de forma estruturada\n```\n\n### **Para Atualizações:**\n```\n1. Identifique a tarefa específica\n2. Confirme as alterações desejadas\n3. Execute UPDATE_TASK com parâmetros corretos\n4. Confirme o sucesso da operação\n```\n\n## **>>> FORMATO DE RESPOSTA <<<**\n\n### **Para Listagem de Tarefas:**\n```\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n-*[Nome da Tarefa]*\n```\n\n### **Para Detalhamento de Tarefa Específica:**\n```\n*[Nome da Tarefa]* - [Status]\n[due-date](somente se existir)\n_comentários:_\n[Comentário texto](somente se existir)\n\n[Outras informações relevantes](somente se existir)\n```\n\n**FLUXO DE TRABALHO ATUALIZADO:**\n1. **Listagem inicial**: Mostrar apenas nomes das tarefas em formato simples\n2. **Detalhamento sob demanda**: Quando usuário citar nome específico, mostrar informações completas\n3. **Informações condicionais**: Exibir apenas campos que possuem conteúdo\n\n### **Para Atualizações:**\n```\n✅ **TAREFA ATUALIZADA COM SUCESSO**\n🆔 **ID:** [Task ID]\n📝 **Nome:** [Nome da Tarefa]\n🔄 **Alterações Realizadas:**\n• Campo: [valor anterior] → [valor atual]\n• Campo: [valor anterior] → [valor atual]\n```\n\n## **!!! REGRAS ESPECIAIS !!!**\n\n### **[PRIORIZAÇÃO]**\n- O agente deve **respeitar a prioridade configurada** nas tarefas do ClickUp\n- Exibir as tarefas ordenadas conforme sua prioridade nativa\n- Usar indicadores visuais para destacar diferentes níveis de prioridade quando aplicável\n\n### **[AUTOMAÇÃO]**\n- Detectar automaticamente tarefas que precisam de atenção\n- Sugerir atualizações baseadas em padrões\n- Alertar sobre prazos próximos\n- Identificar gargalos no fluxo de trabalho\n\n## ***** RESPOSTAS INTELIGENTES *****\n\n### **Se não encontrar tarefas:**\n\"🔍 **Nenhuma tarefa encontrada** para os critérios especificados. Deseja expandir a busca ou criar uma nova tarefa?\"\n\n### **Antes de alterações críticas:**\n\"⚠️ **CONFIRMAÇÃO NECESSÁRIA**: Você está prestes a alterar [detalhes]. Confirma a operação? (Digite SIM para continuar)\"\n\n### **Para erros:**\n\"❌ **Erro detectado**: [descrição do erro]. Vou tentar uma abordagem alternativa...\"\n\n## **>>> COMANDOS RÁPIDOS <<<**\n- `/backlog` - Mostrar todas as tarefas do backlog\n- `/projetos` - Listar projetos ativos\n- `/urgente` - Mostrar tarefas prioritárias\n- `/meu` - Tarefas do usuário atual\n- `/atrasadas` - Tarefas com prazo vencido\n- `/update [ID]` - Atualizar tarefa específica\n\n## **{OBJETIVOS PRINCIPAIS}**\n1. **Eficiência**: Consultas rápidas e precisas\n2. **Automação**: Reduzir trabalho manual\n3. **Visibilidade**: Clareza no status dos projetos\n4. **Produtividade**: Facilitar o fluxo de trabalho da equipe\n\n---\n\n**💡 LEMBRE-SE**: Seja **proativo** em identificar problemas, **preciso** nas informações e **eficiente** nas operações. Seu objetivo é tornar o gerenciamento de tarefas no ClickUp **simples e automatizado** para toda a equipe!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1248,-544],"id":"f3479d5f-aa6f-4ae9-a5a7-d6d55fd0f7c3","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,-368],"id":"35b71073-908e-4313-a505-b2437e6433a5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"120363402490362495@g.us","sessionTTL":60},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1360,-320],"id":"386fcd88-d8ac-4694-9264-2e258a478798","name":"Redis Chat Memory1","credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"update","id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1536,-16],"id":"ef574d93-8066-44c4-9f6c-9753ade30adf","name":"UPDATE_TASK1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254427","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2080,-336],"id":"c2523db3-5f05-4c8f-af72-4146063c66bb","name":"GET_BACKLOG1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308458349","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1872,-96],"id":"ebbd9a7b-7a35-4e67-9c67-bf5a44d0863c","name":"GET_PROJETOS1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901308459188","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[2000,-208],"id":"cf30c37e-7c40-4d2f-b574-01799bf4b243","name":"GET_FERRAMENTAS1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"operation":"getAll","team":"3052532","space":"90133113294","folderless":true,"list":"901317254980","filters":{}},"type":"n8n-nodes-base.clickUpTool","typeVersion":1,"position":[1712,-16],"id":"aeef5ce3-4475-4179-af8c-6c5c16d38598","name":"GET_GERAIS1","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363402490362495@g.us","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1696,-544],"id":"fe793970-0930-4c68-8194-7d3906b3b57e","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"content":"# TEXTO","height":832,"width":1024,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1184,192],"typeVersion":1,"id":"9f60910a-29f1-4eb0-8c07-3cc29b58851d","name":"Sticky Note"},{"parameters":{"content":"# AUDIO","height":832,"width":1024},"type":"n8n-nodes-base.stickyNote","position":[1184,-656],"typeVersion":1,"id":"e8d164ce-ae8b-4ea7-90e9-89eb1dcdf6f4","name":"Sticky Note1"}],"connections":{"Webhook1":{"main":[[{"node":"Se for audio","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"UPDATE_TASK":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_BACKLOG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_PROJETOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_FERRAMENTAS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GET_GERAIS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Se for audio":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"UPDATE_TASK1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_BACKLOG1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_PROJETOS1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_FERRAMENTAS1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GET_GERAIS1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}