api-interna---teams-R6pM1TtZozwBtrDD.json
{"updatedAt":"2026-01-07T16:38:43.938Z","createdAt":"2026-01-07T16:33:16.008Z","id":"R6pM1TtZozwBtrDD","name":"API INTERNA - TEAMS","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"email"},{"name":"mensagem"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[720,352]},{"parameters":{"method":"POST","url":"https://default675f64d27529404aba9e844f7d3b0a.9b.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/3343502ad0ce480f81e43f20d241ca23/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AKxwynPObGOt_E647JGDBQaBHllcrHO3wugt0EuHMu8","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.email }}"},{"name":"mensagem","value":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[496,352],"id":"7ea9b7ea-e05c-49e7-96d1-f856d9b1aae3","name":"HTTP Request"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"email":"ti01@camozziconsultoria.com.br","mensagem":"teste"}}]},"versionId":"d5148136-99b9-4e96-8b93-fcff2ab3bec9","activeVersionId":"d5148136-99b9-4e96-8b93-fcff2ab3bec9","triggerCount":0,"shared":[{"updatedAt":"2026-01-07T16:33:16.008Z","createdAt":"2026-01-07T16:33:16.008Z","role":"workflow:owner","workflowId":"R6pM1TtZozwBtrDD","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2026-01-07T16:38:43.934Z","createdAt":"2026-01-07T16:38:43.934Z","versionId":"d5148136-99b9-4e96-8b93-fcff2ab3bec9","workflowId":"R6pM1TtZozwBtrDD","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"email"},{"name":"mensagem"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[720,352]},{"parameters":{"method":"POST","url":"https://default675f64d27529404aba9e844f7d3b0a.9b.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/3343502ad0ce480f81e43f20d241ca23/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AKxwynPObGOt_E647JGDBQaBHllcrHO3wugt0EuHMu8","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.email }}"},{"name":"mensagem","value":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[496,352],"id":"7ea9b7ea-e05c-49e7-96d1-f856d9b1aae3","name":"HTTP Request"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]}},"authors":"Miqueias Brandão","name":null,"description":null,"autosaved":false},"tags":[]}