automação-petrus-HcvaPYQekXszn02t.json
{"updatedAt":"2025-09-26T16:58:17.465Z","createdAt":"2025-09-22T17:00:10.060Z","id":"HcvaPYQekXszn02t","name":"Automação Petrus","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8ffd8df9-7eb9-4224-9e30-bdf8c97a32cf","name":"data","value":"=[\n  {\n    \"row_number\": 4,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"miqueiasbrandaogyn@gmail.com\",\n    \"col_3\": 5562994342576,\n    \"CPF\": \"04901605143\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-16 14:47:19\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  }\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,256],"id":"82b21049-4289-4af8-a887-110088c18e31","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,256],"id":"35d3397a-1775-4d0e-84fb-6f9dfe2ac62b","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,256],"id":"c2a6ecc0-4e48-4538-928f-411f08886235","name":"Loop Over Items"},{"parameters":{"operation":"get","documentURL":"1e9-kLXUcgxnlSY6E3vHZsx94zH_4o_CDQZioUdfMJJM"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[880,192],"id":"5e7e405f-a678-4acd-abdc-a5a6c292671e","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"l4JShKcRObBKsZ3G","name":"Google Docs ti01"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{{ NOME }}","replaceText":"={{ $('Loop Over Items').item.json.NOME }}","matchCase":true},{"action":"replaceAll","text":"{{ EMAIL }}","replaceText":"={{ $('Loop Over Items').item.json.EMAIL }}","matchCase":true},{"action":"replaceAll","text":"{{ CPF }}","replaceText":"={{ $('Loop Over Items').item.json.CPF }}","matchCase":true}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1328,192],"id":"84e46bcc-05d9-40da-ad2b-05a4c9428d87","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"l4JShKcRObBKsZ3G","name":"Google Docs ti01"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"name":"=NDASC EDITON - {{ $('Loop Over Items').item.json.NOME }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1cIOefiocuUtnaCbZZkE4Hvyfj_QLGA73","mode":"list","cachedResultName":"AUTOMAÇÃO PETRUS","cachedResultUrl":"https://drive.google.com/drive/folders/1cIOefiocuUtnaCbZZkE4Hvyfj_QLGA73"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1104,192],"id":"0ebc9984-8a19-4c23-9243-595bb8a1201a","name":"Copy file","credentials":{"googleDriveOAuth2Api":{"id":"14gGXod5FmPuZJ5h","name":"Google Drive account 2"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1776,192],"id":"7eeb69d6-735a-4f1d-9573-771ab080d220","name":"Extrair base64"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1552,192],"id":"2ed745e2-4938-454f-a49a-bc0186e77a5d","name":"Baixar arquivo","credentials":{"googleDriveOAuth2Api":{"id":"14gGXod5FmPuZJ5h","name":"Google Drive account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,256],"id":"d7c46c6a-7fbf-48ce-9a5f-5e28699aee90","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"a3e43f21-8906-430e-b33f-77811d221b72","name":"signers","value":"={{ $json.signers }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,256],"id":"eb6cbff1-d54d-4ce7-a54f-e61937648f55","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"=https://api.zapsign.com.br/api/v1/signers/{{ $json.signers[0].token }}/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"send_automatic_email","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,160],"id":"f92fcb4a-a454-4620-9b82-6d6fa5031d86","name":"Enviar e-mail cliente1"},{"parameters":{"method":"POST","url":"https://api.zapsign.com.br/api/v1/docs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Copy file').item.json.name }}\",\n  \"base64_docx\": \"{{ $json.data }}\",\n  \"external_id\": \"\",\n  \"lang\": \"pt-br\",\n  \"signers\": [\n    {\n      \"name\": \"{{ $('Loop Over Items').item.json.EMAIL }}\",\n      \"email\": \"{{ $('Loop Over Items').item.json.EMAIL }}\"\n    },\n    {\n      \"name\": \"adm@editon.com.br\",\n      \"email\": \"adm@editon.com.br\"\n    }\n  ],\n  \"disable_signer_emails\": false,\n  \"brand_logo\": \"\",\n  \"brand_primary_color\": \"\",\n  \"brand_name\": \"\",\n  \"folder_path\": \"/Automação NDASC/NDASC Labclub2/\",\n  \"created_by\": \"\",\n  \"date_limit_to_sign\": null,\n  \"signature_order_active\": false,\n  \"observers\": [\n    \"test@observer.com\"\n  ],\n  \"reminder_every_n_days\": 0,\n  \"allow_refuse_signature\": false,\n  \"disable_signers_get_original_file\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,192],"id":"9f1a877f-89c3-4433-af6f-efddf7c0001c","name":"Envio - ZapSign2"},{"parameters":{"method":"POST","url":"https://api.zapsign.com.br/api/v1/docs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Copy file').item.json.name }}\",\n  \"base64_docx\": \"{{ $json.data }}\",\n  \"external_id\": \"\",\n  \"lang\": \"pt-br\",\n  \"signers\": [\n    {\n      \"name\": \"miqueiasbrandaogyn@gmail.com\",\n      \"email\": \"miqueiasbrandaogyn@gmail.com\"\n    },\n    {\n      \"name\": \"adm@editon.com.br\",\n      \"email\": \"adm@editon.com.br\"\n    }\n  ],\n  \"disable_signer_emails\": false,\n  \"brand_logo\": \"\",\n  \"brand_primary_color\": \"\",\n  \"brand_name\": \"\",\n  \"folder_path\": \"/Automação NDASC/NDASC Labclub/\",\n  \"created_by\": \"\",\n  \"date_limit_to_sign\": null,\n  \"signature_order_active\": false,\n  \"observers\": [\n    \"test@observer.com\"\n  ],\n  \"reminder_every_n_days\": 0,\n  \"allow_refuse_signature\": false,\n  \"disable_signers_get_original_file\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,-64],"id":"d2ce8007-985d-4a2a-9ce5-66456903bcc7","name":"Envio - ZapSign"},{"parameters":{"method":"POST","url":"=https://api.zapsign.com.br/api/v1/signers/{{ $json.signers[1].token }}/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"send_automatic_email","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,352],"id":"38d5729c-36ee-4b5c-af81-bd7ab4e8f508","name":"Enviar e-mail cliente"},{"parameters":{"assignments":{"assignments":[{"id":"8ffd8df9-7eb9-4224-9e30-bdf8c97a32cf","name":"data","value":"=[\n  {\n    \"row_number\": 4,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"agencia.lxflux@gmail.com\",\n    \"col_3\": 5551998961494,\n    \"CPF\": \"031.065.810-18\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-16 14:47:19\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 6,\n    \"NOME\": \"Ana Paula.costa Soares\",\n    \"EMAIL\": \"vidayvidao@yahoo.com.br\",\n    \"col_3\": 554799297938,\n    \"CPF\": \"019.416.899-90\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-15 22:25:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 8,\n    \"NOME\": \"Evelin Cristine Franchi Elias\",\n    \"EMAIL\": \"evelincristine@gmail.com\",\n    \"col_3\": 5511985511100,\n    \"CPF\": \"307.131.128-16\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-15 14:46:22\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 9,\n    \"NOME\": \"Vera Lucia Medina Ferreira Alves\",\n    \"EMAIL\": \"vera.medina1@gmail.com\",\n    \"col_3\": 5511934554183,\n    \"CPF\": \"100.997.548-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-14 22:59:52\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 11,\n    \"NOME\": \"Karine Peixoto Santiago\",\n    \"EMAIL\": \"karinepsp.ka@gmail.com\",\n    \"col_3\": 5521983716688,\n    \"CPF\": \"088.555.537-63\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-13 23:23:02\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 12,\n    \"NOME\": \"THOMAS DEYVSON DA SILVA GONÇALVES\",\n    \"EMAIL\": \"thomasdeyvson@gmail.com\",\n    \"col_3\": 5581984596947,\n    \"CPF\": \"102.898.024-82\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-13 19:39:24\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 13,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"lenoncardooso90@gmail.com\",\n    \"col_3\": 5551998961494,\n    \"CPF\": \"031.065.810-18\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub - Ideia\",\n    \"col_8\": \"2025-09-13 18:59:36\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 14,\n    \"NOME\": \"Alexander Mathias Cavalcanti de Albuquerque\",\n    \"EMAIL\": \"alexmathiasux@gmail.com\",\n    \"col_3\": 5511992626365,\n    \"CPF\": \"425.252.840-20\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 18:47:45\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 15,\n    \"NOME\": \"Fernanda Carrara do Nascimento Cortez\",\n    \"EMAIL\": \"labclubdiamante@gmail.com\",\n    \"col_3\": 5511963575909,\n    \"CPF\": \"322.434.248-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 18:14:13\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 16,\n    \"NOME\": \"Thomas Deyvson da Silva Gonçalves\",\n    \"EMAIL\": \"thomasdeyvson@gmail.com\",\n    \"col_3\": 5581984596947,\n    \"CPF\": \"102.898.024-82\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-13 16:22:00\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 17,\n    \"NOME\": \"Alessandro Correia\",\n    \"EMAIL\": \"alecenografia@gmail.com\",\n    \"col_3\": 5511970580381,\n    \"CPF\": \"279.034.898-79\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 16:17:49\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 18,\n    \"NOME\": \"CLAUDIA ROZELI GOMES DE OLIVEIRA\",\n    \"EMAIL\": \"claudiarozeli1@gmail.com\",\n    \"col_3\": 5531992535918,\n    \"CPF\": \"477.998.036-49\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 09:39:25\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 19,\n    \"NOME\": \"soraya affonso\",\n    \"EMAIL\": \"sorayaaffonso38@gmail.com\",\n    \"col_3\": 5521999627023,\n    \"CPF\": \"020.522.037-10\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 01:13:43\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 20,\n    \"NOME\": \"Giselle Lyra Rodrigues França\",\n    \"EMAIL\": \"gisellelyra122@gmail.com\",\n    \"col_3\": 5581994249498,\n    \"CPF\": \"088.278.374-26\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 23:56:03\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 21,\n    \"NOME\": \"Vinicius Magnabosco de Oliveira\",\n    \"EMAIL\": \"vinimagnabosco87@gmail.com\",\n    \"col_3\": 5551999745333,\n    \"CPF\": \"019.794.740-95\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 23:20:02\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 22,\n    \"NOME\": \"Philippe Rocha\",\n    \"EMAIL\": \"philippe.23@hotmail.com\",\n    \"col_3\": 5521971110088,\n    \"CPF\": \"118.656.657-46\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - O próximo nível\",\n    \"col_8\": \"2025-09-12 22:06:52\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 23,\n    \"NOME\": \"Jefferson Ribeiro Takakura\",\n    \"EMAIL\": \"takaneles@gmail.com\",\n    \"col_3\": 5513997012914,\n    \"CPF\": \"345.841.078-31\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 21:32:51\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 24,\n    \"NOME\": \"JEFFERSON DE ANDRADE BALBINO\",\n    \"EMAIL\": \"trabalhecomjfb@gmail.com\",\n    \"col_3\": 5585981014854,\n    \"CPF\": \"499.789.693-49\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 19:35:41\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 25,\n    \"NOME\": \"Jonathan Baltazar\",\n    \"EMAIL\": \"jnbinfo@hotmail.com\",\n    \"col_3\": 5521992724716,\n    \"CPF\": \"120.603.277-41\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:25:04\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 26,\n    \"NOME\": \"Leandro Passos Ferreira\",\n    \"EMAIL\": \"leandropassos110@gmail.com\",\n    \"col_3\": 5562981161850,\n    \"CPF\": \"201.862.868-21\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 17:01:38\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 27,\n    \"NOME\": \"Bruno Correia Vidigal de Vasconcellos\",\n    \"EMAIL\": \"brunovidigal@gmail.com\",\n    \"col_3\": 5521981368478,\n    \"CPF\": \"902.947.007-06\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:18:42\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 28,\n    \"NOME\": \"Ciro Gomes da Rosa\",\n    \"EMAIL\": \"ciro@desirius.com.br\",\n    \"col_3\": 5551992408820,\n    \"CPF\": \"026.919.560-24\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:17:18\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 29,\n    \"NOME\": \"Ana Paula Marques Machado\",\n    \"EMAIL\": \"m.anapaula@hotmail.com\",\n    \"col_3\": 5555999300537,\n    \"CPF\": \"975.923.310-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 16:16:55\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 30,\n    \"NOME\": \"Adriana Neves\",\n    \"EMAIL\": \"adneves10@gmail.com\",\n    \"col_3\": 5561981882717,\n    \"CPF\": \"248.972.508-46\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 13:48:42\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 31,\n    \"NOME\": \"Genesio Marcondes Junior\",\n    \"EMAIL\": \"genesiomjr@gmail.com\",\n    \"col_3\": 5512982613802,\n    \"CPF\": \"266.031.858-14\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub - Ideia\",\n    \"col_8\": \"2025-09-12 12:44:02\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 32,\n    \"NOME\": \"Genesio Marcondes Junior\",\n    \"EMAIL\": \"genesiomjr@gmail.com\",\n    \"col_3\": 5512982613802,\n    \"CPF\": \"266.031.858-14\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 12:39:47\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 33,\n    \"NOME\": \"Eric Barreto Malzone\",\n    \"EMAIL\": \"ericb.malzone@gmail.com\",\n    \"col_3\": 5511966719633,\n    \"CPF\": \"347.776.728-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 15:40:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 34,\n    \"NOME\": \"Murilo Pereira Ramos\",\n    \"EMAIL\": \"professormurilo@gmail.com\",\n    \"col_3\": 5562981852447,\n    \"CPF\": \"006.586.131-03\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 01:52:12\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 35,\n    \"NOME\": \"Marcelo Ramos Pereira\",\n    \"EMAIL\": \"marcelo.ramos10@yahoo.com.br\",\n    \"col_3\": 5531998833436,\n    \"CPF\": \"585.534.286-72\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:40:31\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 36,\n    \"NOME\": \"JOAO CARLOS LOPES DE SOUZA\",\n    \"EMAIL\": \"jclsouza2004@yahoo.com.br\",\n    \"col_3\": 5521994399601,\n    \"CPF\": \"975.663.147-34\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:14:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 37,\n    \"NOME\": \"Ricardo Ribeiro Guimarães\",\n    \"EMAIL\": \"rgbrio@gmail.com\",\n    \"col_3\": 5561992003082,\n    \"CPF\": \"413.779.586-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:12:03\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 38,\n    \"NOME\": \"Ludmila de Moura\",\n    \"EMAIL\": \"artedeviajarbem@gmail.com\",\n    \"col_3\": 5513991983333,\n    \"CPF\": \"013.192.328-50\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:57:15\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 39,\n    \"NOME\": \"Virginia Lara Marçal\",\n    \"EMAIL\": \"virginiamarcal@gmail.com\",\n    \"col_3\": 5563992122339,\n    \"CPF\": \"392.650.802-72\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:57:06\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 40,\n    \"NOME\": \"Alan Kardec Viana do Nascimento Júnior\",\n    \"EMAIL\": \"kardecorum@hotmail.com\",\n    \"col_3\": 5522998796390,\n    \"CPF\": \"037.792.087-84\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:38:56\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 41,\n    \"NOME\": \"Maria de Fátima Oliveira Martins\",\n    \"EMAIL\": \"fatimamartins.sam@gmail.com\",\n    \"col_3\": 5522988335550,\n    \"CPF\": \"860.924.217-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 00:26:52\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 42,\n    \"NOME\": \"Claudia Marise Torres dos Santos Barreto\",\n    \"EMAIL\": \"claudiabarreto.iteep@gmail.com\",\n    \"col_3\": 5537991494464,\n    \"CPF\": \"777.252.206-15\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 00:26:41\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 43,\n    \"NOME\": \"Luciene De Jesus Lana\",\n    \"EMAIL\": \"lucienej.lana@gmail.com\",\n    \"col_3\": 5531995879693,\n    \"CPF\": \"049.592.266-84\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:24:13\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 44,\n    \"NOME\": \"Claudia Marise Torres dos Santos Barreto\",\n    \"EMAIL\": \"claudiabarreto.iteep@gmail.com\",\n    \"col_3\": 5537991494464,\n    \"CPF\": \"777.252.206-15\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - O próximo nível\",\n    \"col_8\": \"2025-09-12 00:21:07\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 45,\n    \"NOME\": \"Alessander Barbosa da Silva\",\n    \"EMAIL\": \"alexsupport@live.com\",\n    \"col_3\": 5533991164917,\n    \"CPF\": \"878.577.076-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:19:58\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 46,\n    \"NOME\": \"Ana Paula Marques Machado\",\n    \"EMAIL\": \"m.anapaula@hotmail.com\",\n    \"col_3\": 5555999300537,\n    \"CPF\": \"975.923.310-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 00:17:26\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 47,\n    \"NOME\": \"Alexandre Duarte dos Santos\",\n    \"EMAIL\": \"aduartos@gmail.com\",\n    \"col_3\": 5512997605214,\n    \"CPF\": \"291.007.678-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:08:58\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 48,\n    \"NOME\": \"Alessandra de Abreu Pestana Rodrigues\",\n    \"EMAIL\": \"alessandraapestana@gmail.com\",\n    \"col_3\": 5571996056888,\n    \"CPF\": \"159.105.568-78\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:08:48\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 49,\n    \"NOME\": \"DJALMA FLORENCIO DE SOUZA FILHO\",\n    \"EMAIL\": \"djalmasouza2710@gmail.com\",\n    \"col_3\": 5581981203307,\n    \"CPF\": \"594.507.384-91\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:02:56\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 50,\n    \"NOME\": \"LUIZ ALBERTO NICHELE\",\n    \"EMAIL\": \"lanich2014@gmail.com\",\n    \"col_3\": 5541999962535,\n    \"CPF\": \"535.977.459-20\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:00:35\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 51,\n    \"NOME\": \"Leonardo Felipe Peixoto Borsatti\",\n    \"EMAIL\": \"leofborsatti@gmail.com\",\n    \"col_3\": 5569999944262,\n    \"CPF\": \"725.125.121-34\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:58:06\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 52,\n    \"NOME\": \"IvaNa Maria FRanco Ribeiro\",\n    \"EMAIL\": \"ivanamfribeiro@gmail.com\",\n    \"col_3\": 5511974609092,\n    \"CPF\": \"040.343.618-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:56:04\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 53,\n    \"NOME\": \"Lucas Pereira de Almeida\",\n    \"EMAIL\": \"lpalmeidabh@gmail.com\",\n    \"col_3\": 5531984836364,\n    \"CPF\": \"012.206.946-30\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:55:16\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  }\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,480],"id":"a0a0f473-ec87-475e-8b45-d38a2cb22cd3","name":"Edit Fields2"}],"connections":{"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Baixar arquivo","type":"main","index":0}]]},"Extrair base64":{"main":[[{"node":"Envio - ZapSign2","type":"main","index":0}]]},"Baixar arquivo":{"main":[[{"node":"Extrair base64","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Enviar e-mail cliente1","type":"main","index":0},{"node":"Enviar e-mail cliente","type":"main","index":0}]]},"Enviar e-mail cliente1":{"main":[[]]},"Envio - ZapSign2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Enviar e-mail cliente":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8957f1da-67c7-482f-9177-198b2f1c6b09","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-22T17:00:10.060Z","createdAt":"2025-09-22T17:00:10.060Z","role":"workflow:owner","workflowId":"HcvaPYQekXszn02t","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}