aviso-diário-Quo2ANwI6P5zi0H7.json
{"updatedAt":"2025-10-09T19:37:06.188Z","createdAt":"2025-09-23T18:49:52.569Z","id":"Quo2ANwI6P5zi0H7","name":"Aviso Diário","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,-256],"id":"5e4e9695-da46-4073-934f-6b7dbc76e9a7","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1813abc2-f388-472a-aec4-b4be412f5109","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-400],"id":"ef862fd5-effa-4f1e-9b8f-44d581b24356","name":"If"},{"parameters":{"url":"=https://tidycal.com/api/bookings/{{ $('Extrai dados da reunião').item.json['id-reuniao'] }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-464],"id":"8702fe1d-cb0f-4f30-b0f5-2e01ca03d94d","name":"GET Reunião"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[544,-400],"id":"e028fa26-260f-4a68-b03d-468b57a90bbd","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"85f443d2-0cec-49aa-b69e-09cfd0188304","name":"id-reuniao","value":"={{ $json.id }}","type":"string"},{"id":"9c015f50-48ce-4b04-89f1-dda3af2a57ab","name":"contato","value":"={{ $json.contact }}","type":"object"},{"id":"bea8e1cb-4b61-462e-884e-0de08fff3a28","name":"Celular","value":"={{ $json.questions[1] }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-464],"id":"c4d2e1e1-b499-4d9c-b1f7-b022acc6952c","name":"Extrai dados da reunião"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,-384],"id":"2cd92d46-5c02-4499-837c-850f4f2aec85","name":"Pra cada reunião"},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\nconst raw = $input.first().json?.Celular?.answer ?? \"\";\n\nfunction onlyDigits(s) {\n  return String(s).replace(/\\D+/g, \"\");\n}\n\nfunction normalizeBR(d) {\n  // remove não-dígitos\n  let digits = onlyDigits(d);\n\n  // remove zeros à esquerda redundantes\n  digits = digits.replace(/^0+/, \"\");\n\n  // tira o prefixo 55 se já vier com DDI\n  if (digits.startsWith(\"55\")) digits = digits.slice(2);\n\n  // agora esperamos 10 (fixo) ou 11 (móvel) dígitos: 2 de DDD + 8/9 do número\n  // alguns cadastros vêm só com 8/9 dígitos (sem DDD) — sem DDD não dá pra padronizar corretamente\n  if (digits.length === 8 || digits.length === 9) {\n    throw new Error(\"Número sem DDD. Informe com DDD (ex: 62994342576).\");\n  }\n\n  if (!(digits.length === 10 || digits.length === 11)) {\n    throw new Error(\"Formato inválido. Use DDD + número (10 ou 11 dígitos).\");\n  }\n\n  const ddd = digits.slice(0, 2);\n  const local = digits.slice(2); // 8 ou 9 dígitos\n\n  // monta saídas\n  return {\n    ddd,\n    local,\n    custom: `55(${ddd})${local}`, // pedido: 55(62)94342576\n    e164: `+55${ddd}${local}`,    // útil p/ APIs que pedem E.164\n    compact: `55${ddd}${local}`   // tudo junto, sem parênteses\n  };\n}\n\nconst out = normalizeBR(raw);\n\nreturn [\n  {\n    json: {\n      input: raw,\n      ddd: out.ddd,\n      local: out.local,\n      phone_custom: out.custom,   // -> use este\n      phone_e164: out.e164,\n      phone_compact: out.compact\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-464],"id":"d94bd718-2390-450b-a30f-3887e186c1b9","name":"phone_custom"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/Juridico06","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('phone_custom').item.json.phone_compact }}"},{"name":"text","value":"=📢 Prezado(a) {{ $('Extrai dados da reunião').item.json.contato.name }},\n\nInformamos que *HOJE* está agendada reunião com nossa equipe.\n\nPedimos que esteja disponível no horário combinado para tratarmos dos pontos relevantes.\n\n🗓 Horário: {{ DateTime.fromISO($json.starts_at).toFormat(\"dd/LL/yyyy HH:mm\") }}\n🔗 Acesse pelo link: {{ $('GET Reunião').item.json.meeting_url }}\n\nAtenciosamente,  \nEquipe C&D Blindagem Digital | Camozzi Consultoria\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,-400],"id":"09b74b50-f663-4301-8370-02fbcc693839","name":"Enviando Transcrição1"},{"parameters":{"url":"=https://tidycal.com/api/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"starts_at","value":"={{ $now.setZone('America/Sao_Paulo').plus({ days: 1 }).startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"},{"name":"ends_at","value":"={{ $now.setZone('America/Sao_Paulo').plus({ days: 2 }).startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-112],"id":"05c9aec9-fe54-426e-8432-e1b5316a2746","name":"Listar Reuniões dia seguinte","disabled":true},{"parameters":{"url":"=https://tidycal.com/api/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"starts_at","value":"={{ $now.setZone('America/Sao_Paulo').startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"},{"name":"ends_at","value":"={{ $now.setZone('America/Sao_Paulo').plus({ days: 1 }).startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"},{"name":"cancelled","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-400],"id":"4f0bff85-d30c-40a0-93ae-8d1c525b2ab9","name":"Listar Reuniões dia atual"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1813abc2-f388-472a-aec4-b4be412f5109","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-112],"id":"8ccadc81-eff5-4ac1-8107-e91324956b69","name":"If1","disabled":true},{"parameters":{"url":"=https://tidycal.com/api/bookings/{{ $('Extrai dados da reunião1').item.json['id-reuniao'] }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-176],"id":"1220b884-4244-4ccf-9d33-7b78d8000e21","name":"GET Reunião1","disabled":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[544,-112],"id":"533ff526-6de0-4550-9d09-af8c601c96bd","name":"Split Out1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"85f443d2-0cec-49aa-b69e-09cfd0188304","name":"id-reuniao","value":"={{ $json.id }}","type":"string"},{"id":"9c015f50-48ce-4b04-89f1-dda3af2a57ab","name":"contato","value":"={{ $json.contact }}","type":"object"},{"id":"bea8e1cb-4b61-462e-884e-0de08fff3a28","name":"Celular","value":"={{ $json.questions[1] }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-176],"id":"63a7683c-f50b-467c-87e6-654263985554","name":"Extrai dados da reunião1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,-112],"id":"52676099-8f7f-4b27-976e-7996e4e7782a","name":"Pra cada reunião1","disabled":true},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\nconst raw = $input.first().json?.Celular?.answer ?? \"\";\n\nfunction onlyDigits(s) {\n  return String(s).replace(/\\D+/g, \"\");\n}\n\nfunction normalizeBR(d) {\n  // remove não-dígitos\n  let digits = onlyDigits(d);\n\n  // remove zeros à esquerda redundantes\n  digits = digits.replace(/^0+/, \"\");\n\n  // tira o prefixo 55 se já vier com DDI\n  if (digits.startsWith(\"55\")) digits = digits.slice(2);\n\n  // agora esperamos 10 (fixo) ou 11 (móvel) dígitos: 2 de DDD + 8/9 do número\n  // alguns cadastros vêm só com 8/9 dígitos (sem DDD) — sem DDD não dá pra padronizar corretamente\n  if (digits.length === 8 || digits.length === 9) {\n    throw new Error(\"Número sem DDD. Informe com DDD (ex: 62994342576).\");\n  }\n\n  if (!(digits.length === 10 || digits.length === 11)) {\n    throw new Error(\"Formato inválido. Use DDD + número (10 ou 11 dígitos).\");\n  }\n\n  const ddd = digits.slice(0, 2);\n  const local = digits.slice(2); // 8 ou 9 dígitos\n\n  // monta saídas\n  return {\n    ddd,\n    local,\n    custom: `55(${ddd})${local}`, // pedido: 55(62)94342576\n    e164: `+55${ddd}${local}`,    // útil p/ APIs que pedem E.164\n    compact: `55${ddd}${local}`   // tudo junto, sem parênteses\n  };\n}\n\nconst out = normalizeBR(raw);\n\nreturn [\n  {\n    json: {\n      input: raw,\n      ddd: out.ddd,\n      local: out.local,\n      phone_custom: out.custom,   // -> use este\n      phone_e164: out.e164,\n      phone_compact: out.compact\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-176],"id":"f48a6fb1-32d1-46e5-b22a-30bdb14d6645","name":"phone_custom1","disabled":true},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5562994342576"},{"name":"text","value":"=📢 Prezado(a) {{ $('Extrai dados da reunião1').item.json.contato.name }},\n\nInformamos que *AMANHÃ* está agendada reunião com nossa equipe.\n\nPedimos que esteja disponível no horário combinado para tratarmos dos pontos relevantes.\n\n🗓 Horário: {{ DateTime.fromISO($json.starts_at).toFormat(\"dd/LL/yyyy HH:mm\") }}\n🔗 Acesse pelo link: {{ $('GET Reunião1').item.json.meeting_url }}\n\nAtenciosamente,  \nEquipe C&D Blindagem Digital | Camozzi Consultoria\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,-112],"id":"b0f33ef0-ddb6-4461-be4f-52c7cc56394b","name":"Enviando Transcrição","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"674eb1c5-8bba-4807-9c8f-7f1d791c31cf","leftValue":"={{ $json.cancelled_at }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,-448],"id":"17cbadda-aead-4df3-891b-b7d2abf785b0","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11aa670a-93af-4d26-9770-3a05e2bc8bda","leftValue":"={{ $json.cancelled_at }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,-176],"id":"391fbe05-589d-4155-afc7-19c4c6d3c816","name":"If3","disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Listar Reuniões dia seguinte","type":"main","index":0},{"node":"Listar Reuniões dia atual","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Pra cada reunião","type":"main","index":0}]]},"Extrai dados da reunião":{"main":[[{"node":"phone_custom","type":"main","index":0}]]},"Pra cada reunião":{"main":[[],[{"node":"Extrai dados da reunião","type":"main","index":0}]]},"phone_custom":{"main":[[{"node":"GET Reunião","type":"main","index":0}]]},"Enviando Transcrição1":{"main":[[{"node":"Pra cada reunião","type":"main","index":0}]]},"GET Reunião":{"main":[[{"node":"If2","type":"main","index":0}]]},"Listar Reuniões dia seguinte":{"main":[[{"node":"If1","type":"main","index":0}]]},"Listar Reuniões dia atual":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"GET Reunião1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Pra cada reunião1","type":"main","index":0}]]},"Extrai dados da reunião1":{"main":[[{"node":"phone_custom1","type":"main","index":0}]]},"Pra cada reunião1":{"main":[[],[{"node":"Extrai dados da reunião1","type":"main","index":0}]]},"phone_custom1":{"main":[[{"node":"GET Reunião1","type":"main","index":0}]]},"Enviando Transcrição":{"main":[[{"node":"Pra cada reunião1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Enviando Transcrição1","type":"main","index":0}],[{"node":"Pra cada reunião","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviando Transcrição","type":"main","index":0}],[{"node":"Pra cada reunião1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"4c160260-977e-48b3-8656-2e7e0701ad93","activeVersionId":"4c160260-977e-48b3-8656-2e7e0701ad93","triggerCount":1,"shared":[{"updatedAt":"2025-09-23T18:49:52.569Z","createdAt":"2025-09-23T18:49:52.569Z","role":"workflow:owner","workflowId":"Quo2ANwI6P5zi0H7","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"4c160260-977e-48b3-8656-2e7e0701ad93","workflowId":"Quo2ANwI6P5zi0H7","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,-256],"id":"5e4e9695-da46-4073-934f-6b7dbc76e9a7","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1813abc2-f388-472a-aec4-b4be412f5109","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-400],"id":"ef862fd5-effa-4f1e-9b8f-44d581b24356","name":"If"},{"parameters":{"url":"=https://tidycal.com/api/bookings/{{ $('Extrai dados da reunião').item.json['id-reuniao'] }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-464],"id":"8702fe1d-cb0f-4f30-b0f5-2e01ca03d94d","name":"GET Reunião"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[544,-400],"id":"e028fa26-260f-4a68-b03d-468b57a90bbd","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"85f443d2-0cec-49aa-b69e-09cfd0188304","name":"id-reuniao","value":"={{ $json.id }}","type":"string"},{"id":"9c015f50-48ce-4b04-89f1-dda3af2a57ab","name":"contato","value":"={{ $json.contact }}","type":"object"},{"id":"bea8e1cb-4b61-462e-884e-0de08fff3a28","name":"Celular","value":"={{ $json.questions[1] }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-464],"id":"c4d2e1e1-b499-4d9c-b1f7-b022acc6952c","name":"Extrai dados da reunião"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,-384],"id":"2cd92d46-5c02-4499-837c-850f4f2aec85","name":"Pra cada reunião"},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\nconst raw = $input.first().json?.Celular?.answer ?? \"\";\n\nfunction onlyDigits(s) {\n  return String(s).replace(/\\D+/g, \"\");\n}\n\nfunction normalizeBR(d) {\n  // remove não-dígitos\n  let digits = onlyDigits(d);\n\n  // remove zeros à esquerda redundantes\n  digits = digits.replace(/^0+/, \"\");\n\n  // tira o prefixo 55 se já vier com DDI\n  if (digits.startsWith(\"55\")) digits = digits.slice(2);\n\n  // agora esperamos 10 (fixo) ou 11 (móvel) dígitos: 2 de DDD + 8/9 do número\n  // alguns cadastros vêm só com 8/9 dígitos (sem DDD) — sem DDD não dá pra padronizar corretamente\n  if (digits.length === 8 || digits.length === 9) {\n    throw new Error(\"Número sem DDD. Informe com DDD (ex: 62994342576).\");\n  }\n\n  if (!(digits.length === 10 || digits.length === 11)) {\n    throw new Error(\"Formato inválido. Use DDD + número (10 ou 11 dígitos).\");\n  }\n\n  const ddd = digits.slice(0, 2);\n  const local = digits.slice(2); // 8 ou 9 dígitos\n\n  // monta saídas\n  return {\n    ddd,\n    local,\n    custom: `55(${ddd})${local}`, // pedido: 55(62)94342576\n    e164: `+55${ddd}${local}`,    // útil p/ APIs que pedem E.164\n    compact: `55${ddd}${local}`   // tudo junto, sem parênteses\n  };\n}\n\nconst out = normalizeBR(raw);\n\nreturn [\n  {\n    json: {\n      input: raw,\n      ddd: out.ddd,\n      local: out.local,\n      phone_custom: out.custom,   // -> use este\n      phone_e164: out.e164,\n      phone_compact: out.compact\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-464],"id":"d94bd718-2390-450b-a30f-3887e186c1b9","name":"phone_custom"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/Juridico06","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('phone_custom').item.json.phone_compact }}"},{"name":"text","value":"=📢 Prezado(a) {{ $('Extrai dados da reunião').item.json.contato.name }},\n\nInformamos que *HOJE* está agendada reunião com nossa equipe.\n\nPedimos que esteja disponível no horário combinado para tratarmos dos pontos relevantes.\n\n🗓 Horário: {{ DateTime.fromISO($json.starts_at).toFormat(\"dd/LL/yyyy HH:mm\") }}\n🔗 Acesse pelo link: {{ $('GET Reunião').item.json.meeting_url }}\n\nAtenciosamente,  \nEquipe C&D Blindagem Digital | Camozzi Consultoria\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,-400],"id":"09b74b50-f663-4301-8370-02fbcc693839","name":"Enviando Transcrição1"},{"parameters":{"url":"=https://tidycal.com/api/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"starts_at","value":"={{ $now.setZone('America/Sao_Paulo').plus({ days: 1 }).startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"},{"name":"ends_at","value":"={{ $now.setZone('America/Sao_Paulo').plus({ days: 2 }).startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-112],"id":"05c9aec9-fe54-426e-8432-e1b5316a2746","name":"Listar Reuniões dia seguinte","disabled":true},{"parameters":{"url":"=https://tidycal.com/api/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"starts_at","value":"={{ $now.setZone('America/Sao_Paulo').startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"},{"name":"ends_at","value":"={{ $now.setZone('America/Sao_Paulo').plus({ days: 1 }).startOf('day').toUTC().toFormat(\"yyyy-LL-dd'T'HH:mm:ss'Z'\") }}"},{"name":"cancelled","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-400],"id":"4f0bff85-d30c-40a0-93ae-8d1c525b2ab9","name":"Listar Reuniões dia atual"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1813abc2-f388-472a-aec4-b4be412f5109","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-112],"id":"8ccadc81-eff5-4ac1-8107-e91324956b69","name":"If1","disabled":true},{"parameters":{"url":"=https://tidycal.com/api/bookings/{{ $('Extrai dados da reunião1').item.json['id-reuniao'] }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDVlNmZiOWZiYzYzZjQzZTc0YmI1NWY1NzY1ZjU2MTM5OTM4Yzk3YzExNGUwYjkyMDMyMGY2ZWY1M2JmNjY0MzJlOWU0ZTc0Y2RkYzExN2EiLCJpYXQiOjE3NTg2NTM0ODEuNDM5NTc0LCJuYmYiOjE3NTg2NTM0ODEuNDM5NTc2LCJleHAiOjQ5MTQzMjcwODEuNDMyMzA4LCJzdWIiOiI1MTY2MiIsInNjb3BlcyI6W119.DN9rjQtgiRpY3042YCDeCrhAa_oXm1Pwy6e3kZtvwLAuhb9AliIOqfg5dCtVa7AO6Z1ch11q6QjOmthGAChQtSVGQMW-IVWml38BM7IKbDeqYlUMWnkqMyDouP0piMnppa_iPMD9DD3jA-bxNiDSD__q2_ad7uUpRiuIoNgUBkhc62EXU0quBOFY2vGXKQ65U6ulacrtTlWL5PmEvvwJK8pydCXLZLes0GFjxhgNL5zrHJcDn8JaO5yCk6Ae1RVGOzfO3mrws6BVm49uGZdhBE7dumjUOmtQ7vbJHbJUpUoH15wp_CToT6E1xj2uEjYLd41BLDG9TkGaR3m9yPg8HPGzQPWYplwh6kl7AH6OSC07IPzEgoRZpYTQeMXFRmmLwB4eTCcDjLHUvX63irPk9qU8c7wXlUWZ7dS0q5SJYRFL48LCGmB47YIZo4AlI5UVKoEg5K9tqR5SkBKaeet0FR01ylMEl80na1fj3F2ooBryAHGtFQsw9J1BBjsG96QqYz3JovYEztjVXMmJsTXXvqNNHdPxEGWl5FwwpKzGSsNcXmP7LcV4PgFXvstgNnpyotqZRP-nPT8Xg4gFRQY3IBgYlJXE8zhLDmJDTOO2NfmIEZRCUFxqnjccoBHVdYDHzelAj20yjF94AT_i9H8Sq3twPyP9SPSfhLYsJYNWUEs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-176],"id":"1220b884-4244-4ccf-9d33-7b78d8000e21","name":"GET Reunião1","disabled":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[544,-112],"id":"533ff526-6de0-4550-9d09-af8c601c96bd","name":"Split Out1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"85f443d2-0cec-49aa-b69e-09cfd0188304","name":"id-reuniao","value":"={{ $json.id }}","type":"string"},{"id":"9c015f50-48ce-4b04-89f1-dda3af2a57ab","name":"contato","value":"={{ $json.contact }}","type":"object"},{"id":"bea8e1cb-4b61-462e-884e-0de08fff3a28","name":"Celular","value":"={{ $json.questions[1] }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-176],"id":"63a7683c-f50b-467c-87e6-654263985554","name":"Extrai dados da reunião1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,-112],"id":"52676099-8f7f-4b27-976e-7996e4e7782a","name":"Pra cada reunião1","disabled":true},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\nconst raw = $input.first().json?.Celular?.answer ?? \"\";\n\nfunction onlyDigits(s) {\n  return String(s).replace(/\\D+/g, \"\");\n}\n\nfunction normalizeBR(d) {\n  // remove não-dígitos\n  let digits = onlyDigits(d);\n\n  // remove zeros à esquerda redundantes\n  digits = digits.replace(/^0+/, \"\");\n\n  // tira o prefixo 55 se já vier com DDI\n  if (digits.startsWith(\"55\")) digits = digits.slice(2);\n\n  // agora esperamos 10 (fixo) ou 11 (móvel) dígitos: 2 de DDD + 8/9 do número\n  // alguns cadastros vêm só com 8/9 dígitos (sem DDD) — sem DDD não dá pra padronizar corretamente\n  if (digits.length === 8 || digits.length === 9) {\n    throw new Error(\"Número sem DDD. Informe com DDD (ex: 62994342576).\");\n  }\n\n  if (!(digits.length === 10 || digits.length === 11)) {\n    throw new Error(\"Formato inválido. Use DDD + número (10 ou 11 dígitos).\");\n  }\n\n  const ddd = digits.slice(0, 2);\n  const local = digits.slice(2); // 8 ou 9 dígitos\n\n  // monta saídas\n  return {\n    ddd,\n    local,\n    custom: `55(${ddd})${local}`, // pedido: 55(62)94342576\n    e164: `+55${ddd}${local}`,    // útil p/ APIs que pedem E.164\n    compact: `55${ddd}${local}`   // tudo junto, sem parênteses\n  };\n}\n\nconst out = normalizeBR(raw);\n\nreturn [\n  {\n    json: {\n      input: raw,\n      ddd: out.ddd,\n      local: out.local,\n      phone_custom: out.custom,   // -> use este\n      phone_e164: out.e164,\n      phone_compact: out.compact\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-176],"id":"f48a6fb1-32d1-46e5-b22a-30bdb14d6645","name":"phone_custom1","disabled":true},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5562994342576"},{"name":"text","value":"=📢 Prezado(a) {{ $('Extrai dados da reunião1').item.json.contato.name }},\n\nInformamos que *AMANHÃ* está agendada reunião com nossa equipe.\n\nPedimos que esteja disponível no horário combinado para tratarmos dos pontos relevantes.\n\n🗓 Horário: {{ DateTime.fromISO($json.starts_at).toFormat(\"dd/LL/yyyy HH:mm\") }}\n🔗 Acesse pelo link: {{ $('GET Reunião1').item.json.meeting_url }}\n\nAtenciosamente,  \nEquipe C&D Blindagem Digital | Camozzi Consultoria\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,-112],"id":"b0f33ef0-ddb6-4461-be4f-52c7cc56394b","name":"Enviando Transcrição","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"674eb1c5-8bba-4807-9c8f-7f1d791c31cf","leftValue":"={{ $json.cancelled_at }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,-448],"id":"17cbadda-aead-4df3-891b-b7d2abf785b0","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11aa670a-93af-4d26-9770-3a05e2bc8bda","leftValue":"={{ $json.cancelled_at }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,-176],"id":"391fbe05-589d-4155-afc7-19c4c6d3c816","name":"If3","disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Listar Reuniões dia seguinte","type":"main","index":0},{"node":"Listar Reuniões dia atual","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Pra cada reunião","type":"main","index":0}]]},"Extrai dados da reunião":{"main":[[{"node":"phone_custom","type":"main","index":0}]]},"Pra cada reunião":{"main":[[],[{"node":"Extrai dados da reunião","type":"main","index":0}]]},"phone_custom":{"main":[[{"node":"GET Reunião","type":"main","index":0}]]},"Enviando Transcrição1":{"main":[[{"node":"Pra cada reunião","type":"main","index":0}]]},"GET Reunião":{"main":[[{"node":"If2","type":"main","index":0}]]},"Listar Reuniões dia seguinte":{"main":[[{"node":"If1","type":"main","index":0}]]},"Listar Reuniões dia atual":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"GET Reunião1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Pra cada reunião1","type":"main","index":0}]]},"Extrai dados da reunião1":{"main":[[{"node":"phone_custom1","type":"main","index":0}]]},"Pra cada reunião1":{"main":[[],[{"node":"Extrai dados da reunião1","type":"main","index":0}]]},"phone_custom1":{"main":[[{"node":"GET Reunião1","type":"main","index":0}]]},"Enviando Transcrição":{"main":[[{"node":"Pra cada reunião1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Enviando Transcrição1","type":"main","index":0}],[{"node":"Pra cada reunião","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviando Transcrição","type":"main","index":0}],[{"node":"Pra cada reunião1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}