backup-credenciais-to-google-drive-Hbpj7lIRfyrpzgeY.json
{"updatedAt":"2025-07-04T14:34:40.478Z","createdAt":"2025-07-04T13:46:05.129Z","id":"Hbpj7lIRfyrpzgeY","name":"BACKUP CREDENCIAIS TO GOOGLE DRIVE","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,320],"id":"75da0d61-f393-41f0-a475-a9357aace0d5","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,120],"id":"7b2b3783-60eb-494b-9997-46ccbcc07c48","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"folder","name":"={{$today.toFormat(\"yyyy-MM-dd\")}}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"14hdFbv920oNy8AGVvDyuy5lg2ydKtuuC","mode":"list","cachedResultName":"BACKUP CREDENCIAIS N8N","cachedResultUrl":"https://drive.google.com/drive/folders/14hdFbv920oNy8AGVvDyuy5lg2ydKtuuC"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,320],"id":"cc55ce03-2f3f-46cf-9a46-4fd2e6863395","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}},"disabled":true},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,320],"id":"ee3d05d6-fdbf-4dcd-b7aa-81949b72d82c","name":"Convert to File"},{"parameters":{"name":"={{$node[\"PEGA TODOS OS WORKFLOWS\"].json[\"name\"]}}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,320],"id":"8770b127-b0b6-439e-8e7f-ff41d0dc8ddf","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}},"disabled":true},{"parameters":{"command":"npx n8n export:credentials --backup --decrypted --output=/home/node/.n8n/backups/credentials/"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[420,320],"id":"e72778b6-cc30-4263-814a-a6ad3ad60117","name":"Extrai Credenciais"},{"parameters":{"fileSelector":"/home/node/.n8n/backups/credentials/**/*.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[660,320],"id":"de8e4002-c7f7-4933-974f-7052fdad0ae3","name":"Lê os arquivos"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Extrai Credenciais","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Extrai Credenciais":{"main":[[{"node":"Lê os arquivos","type":"main","index":0}]]},"Lê os arquivos":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"609d6493-4801-4feb-9223-f093b9e4b292","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-07-04T13:46:05.129Z","createdAt":"2025-07-04T13:46:05.129Z","role":"workflow:owner","workflowId":"Hbpj7lIRfyrpzgeY","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[{"updatedAt":"2025-07-03T14:26:57.953Z","createdAt":"2025-07-03T14:26:57.953Z","id":"iT4To1HXLDvxhkLN","name":"BACKUP"}]}