backup-workflows-to-google-drive-A1e9gHHx3Uy4TfDz.json
{"updatedAt":"2025-07-04T13:54:13.124Z","createdAt":"2025-07-03T14:17:21.017Z","id":"A1e9gHHx3Uy4TfDz","name":"BACKUP WORKFLOWS TO GOOGLE DRIVE","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,60],"id":"c61b91b4-8c0e-4935-96f4-df6017e4206c","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,-140],"id":"c5697da7-76ba-4dde-87b2-76aa4c00694a","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[300,60],"id":"06780747-b1f2-44f5-9fa4-199cc433713d","name":"PEGA TODOS OS WORKFLOWS","credentials":{"n8nApi":{"id":"Ei8tlivlA9sjcDWN","name":"n8n account"}}},{"parameters":{"resource":"folder","name":"={{$today.toFormat(\"yyyy-MM-dd\")}}\n","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1LKUbWCvHkG5UHMhl9m0siY565gPl_tmU","mode":"list","cachedResultName":"BACKUP WORKFLOWS N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1LKUbWCvHkG5UHMhl9m0siY565gPl_tmU"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,60],"id":"358f000b-a1ca-46b0-8fd7-12e724b928a6","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[520,60],"id":"57259423-6a90-4ed9-b4de-7b254a02c6cb","name":"Convert to File"},{"parameters":{"name":"={{$node[\"PEGA TODOS OS WORKFLOWS\"].json[\"name\"]}}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[740,60],"id":"1969b1be-d3df-4573-b2c4-7dc61df4d24a","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"PEGA TODOS OS WORKFLOWS":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"PEGA TODOS OS WORKFLOWS","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43692827-f997-48b5-9625-a57e708d1933","activeVersionId":"43692827-f997-48b5-9625-a57e708d1933","triggerCount":1,"shared":[{"updatedAt":"2025-07-03T14:17:21.017Z","createdAt":"2025-07-03T14:17:21.017Z","role":"workflow:owner","workflowId":"A1e9gHHx3Uy4TfDz","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"43692827-f997-48b5-9625-a57e708d1933","workflowId":"A1e9gHHx3Uy4TfDz","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,60],"id":"c61b91b4-8c0e-4935-96f4-df6017e4206c","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,-140],"id":"c5697da7-76ba-4dde-87b2-76aa4c00694a","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[300,60],"id":"06780747-b1f2-44f5-9fa4-199cc433713d","name":"PEGA TODOS OS WORKFLOWS","credentials":{"n8nApi":{"id":"Ei8tlivlA9sjcDWN","name":"n8n account"}}},{"parameters":{"resource":"folder","name":"={{$today.toFormat(\"yyyy-MM-dd\")}}\n","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1LKUbWCvHkG5UHMhl9m0siY565gPl_tmU","mode":"list","cachedResultName":"BACKUP WORKFLOWS N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1LKUbWCvHkG5UHMhl9m0siY565gPl_tmU"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,60],"id":"358f000b-a1ca-46b0-8fd7-12e724b928a6","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[520,60],"id":"57259423-6a90-4ed9-b4de-7b254a02c6cb","name":"Convert to File"},{"parameters":{"name":"={{$node[\"PEGA TODOS OS WORKFLOWS\"].json[\"name\"]}}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[740,60],"id":"1969b1be-d3df-4573-b2c4-7dc61df4d24a","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"PEGA TODOS OS WORKFLOWS":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"PEGA TODOS OS WORKFLOWS","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-07-03T14:26:57.953Z","createdAt":"2025-07-03T14:26:57.953Z","id":"iT4To1HXLDvxhkLN","name":"BACKUP"}]}