backup-workflows-to-google-drive-so2oYscZN6v4BrKn.json
{"updatedAt":"2025-11-14T15:52:12.698Z","createdAt":"2025-11-14T15:35:59.046Z","id":"so2oYscZN6v4BrKn","name":"BACKUP WORKFLOWS TO GOOGLE DRIVE","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-208,128],"id":"4e506c66-84ce-423a-8023-4aab6adf00e5","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,-80],"id":"3e5ff352-5e75-4f4e-8473-98b8e9fe1ec9","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[128,128],"id":"0002a6fc-c47a-43f5-968e-a91b3a7ded0b","name":"PEGA TODOS OS WORKFLOWS","credentials":{"n8nApi":{"id":"yJZK0XhZS4jt6KxT","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,128],"id":"3b1e4ad4-db87-47d0-ac53-2734b8eb6c15","name":"Convert to File"},{"parameters":{"name":"={{$node[\"PEGA TODOS OS WORKFLOWS\"].json[\"name\"]}}.json","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[784,128],"id":"232d17f1-d5c2-4216-83b9-b6605b510380","name":"Upload file"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-miqueiasbrandaogyn","mode":"list","cachedResultName":"Backup-n8n-miqueiasbrandaogyn","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-miqueiasbrandaogyn"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[560,128],"id":"8c80c380-6918-49bc-b0a6-1f9c82b62a2f","name":"Create a file","webhookId":"f74fef0c-9193-4084-a0f3-4858c7498513","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"PEGA TODOS OS WORKFLOWS","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"PEGA TODOS OS WORKFLOWS","type":"main","index":0}]]},"PEGA TODOS OS WORKFLOWS":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e0ab8424-642c-4645-adcb-9270a96cccd3","triggerCount":0,"shared":[{"updatedAt":"2025-11-14T15:35:59.046Z","createdAt":"2025-11-14T15:35:59.046Z","role":"workflow:owner","workflowId":"so2oYscZN6v4BrKn","projectId":"YZrYS4wxuA4kpfiB"}],"tags":[{"updatedAt":"2025-07-03T14:26:57.953Z","createdAt":"2025-07-03T14:26:57.953Z","id":"iT4To1HXLDvxhkLN","name":"BACKUP"}]}