backup-n8n-workflows---github-iv2PyweOGz9dKT1m.json
{"updatedAt":"2025-11-14T17:31:45.740Z","createdAt":"2025-11-14T17:12:06.694Z","id":"iv2PyweOGz9dKT1m","name":"Backup n8n workflows - GITHUB","active":true,"isArchived":false,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $now.format(\"dd-MM-yyyy/HH:mm\") }}"}]},"options":{}},"id":"f335e711-0bf9-45a1-babb-b36cad09e12d","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,272]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-ti01","mode":"list","cachedResultName":"Backup-n8n-ti01","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-ti01"},"filePath":"="},"id":"8f9589c9-f2ad-41b6-9a8b-9531e3f601fe","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,272],"alwaysOutputData":true,"webhookId":"796e857a-c09a-40fa-a3b7-826c2fe75223","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"d8874b53-3439-421c-878c-b7068f306f8e","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,272]},{"parameters":{"filters":{},"requestOptions":{}},"id":"926ed7cd-4eee-425a-9c16-6b83282aafde","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,272],"credentials":{"n8nApi":{"id":"Ei8tlivlA9sjcDWN","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"e60ef6e9-37d1-4686-a07a-a426ffa6d470","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,272]},{"parameters":{"batchSize":1,"options":{}},"id":"94f624a0-15cb-4db2-a626-48884a2a2cfa","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,272]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"a9eaafb7-e171-40df-a2b1-12e96ba29c30","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,272]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-ti01","mode":"list","cachedResultName":"Backup-n8n-ti01","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-ti01"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2bf7ffe9-2cec-461c-8273-2232be607bd9","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-16,144],"webhookId":"4c0e25bc-3b0a-4d6c-b805-aea9b581d5ce","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-ti01","mode":"list","cachedResultName":"Backup-n8n-ti01","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-ti01"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"55068198-16fa-4d90-aa61-cc9a142af7b3","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-16,368],"webhookId":"5c54fff2-f702-419b-b839-8a5303500669","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1744,272],"id":"75fa4161-dc3a-44fa-a5de-86f6713897ff","name":"Schedule Trigger"}],"connections":{"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set commit date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"b837c8de-ad5f-4413-ba1c-18f84960e35e","activeVersionId":"b837c8de-ad5f-4413-ba1c-18f84960e35e","triggerCount":1,"shared":[{"updatedAt":"2025-11-14T17:12:06.694Z","createdAt":"2025-11-14T17:12:06.694Z","role":"workflow:owner","workflowId":"iv2PyweOGz9dKT1m","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"b837c8de-ad5f-4413-ba1c-18f84960e35e","workflowId":"iv2PyweOGz9dKT1m","nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $now.format(\"dd-MM-yyyy/HH:mm\") }}"}]},"options":{}},"id":"f335e711-0bf9-45a1-babb-b36cad09e12d","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,272]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-ti01","mode":"list","cachedResultName":"Backup-n8n-ti01","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-ti01"},"filePath":"="},"id":"8f9589c9-f2ad-41b6-9a8b-9531e3f601fe","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,272],"alwaysOutputData":true,"webhookId":"796e857a-c09a-40fa-a3b7-826c2fe75223","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"d8874b53-3439-421c-878c-b7068f306f8e","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,272]},{"parameters":{"filters":{},"requestOptions":{}},"id":"926ed7cd-4eee-425a-9c16-6b83282aafde","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,272],"credentials":{"n8nApi":{"id":"Ei8tlivlA9sjcDWN","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"e60ef6e9-37d1-4686-a07a-a426ffa6d470","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,272]},{"parameters":{"batchSize":1,"options":{}},"id":"94f624a0-15cb-4db2-a626-48884a2a2cfa","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,272]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"a9eaafb7-e171-40df-a2b1-12e96ba29c30","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,272]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-ti01","mode":"list","cachedResultName":"Backup-n8n-ti01","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-ti01"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2bf7ffe9-2cec-461c-8273-2232be607bd9","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-16,144],"webhookId":"4c0e25bc-3b0a-4d6c-b805-aea9b581d5ce","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/MiqueiasBrandaoDev/","mode":"url"},"repository":{"__rl":true,"value":"Backup-n8n-ti01","mode":"list","cachedResultName":"Backup-n8n-ti01","cachedResultUrl":"https://github.com/MiqueiasBrandaoDev/Backup-n8n-ti01"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"55068198-16fa-4d90-aa61-cc9a142af7b3","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-16,368],"webhookId":"5c54fff2-f702-419b-b839-8a5303500669","credentials":{"githubApi":{"id":"mSeuFq7IYT4ud2fh","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1744,272],"id":"75fa4161-dc3a-44fa-a5de-86f6713897ff","name":"Schedule Trigger"}],"connections":{"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set commit date","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}