calendar-juridico-06-n7L2iLvW9ZUDxyPV.json
{"updatedAt":"2025-12-05T13:58:36.305Z","createdAt":"2025-06-16T20:34:59.017Z","id":"n7L2iLvW9ZUDxyPV","name":"Calendar Juridico 06","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventCreated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,-128],"id":"2988fc00-4737-452b-92db-629b619c5c95","name":"Google Calendar Trigger","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventUpdated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,64],"id":"4f919917-b1ab-49e2-9601-f46956256dd0","name":"Google Calendar Trigger1","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=Novo evento adicionado agenda\n\n{{ $json.summary }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-208,-128],"id":"053d652d-d1a0-456e-82d0-1a4bb946af26","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=*{{ $('Google Calendar Trigger').item.json.summary }}*\n\n{{ $('Google Calendar Trigger').item.json.description }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[48,-128],"id":"a6246391-0a24-4bc8-9e7a-980318f00877","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,64],"id":"29301c0b-ea28-437d-aa31-77336c28f28f","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"disabled":true},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $('Google Calendar Trigger').item.json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $('Google Calendar Trigger').item.json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,-320],"id":"539ddc33-53ed-4e87-9802-52063d9eda50","name":"Create a task1","credentials":{"clickUpApi":{"id":"elYiqqs3roFy2sJQ","name":"ClickUp TI"}}}],"connections":{"Google Calendar Trigger":{"main":[[{"node":"Create a task1","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"Google Calendar Trigger1":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TEVMGLrS1YT4Ob07"},"staticData":{"node:Google Calendar Trigger":{"lastTimeChecked":"2025-12-08T18:50:23Z"},"node:Google Calendar Trigger1":{"lastTimeChecked":"2025-10-10T16:34:01Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Calendar Trigger":[{"json":{"kind":"calendar#event","etag":"\"3529872098344926\"","id":"72g7jo03bm44o95p63clfbtqj0","status":"confirmed","htmlLink":"https://www.google.com/calendar/event?eid=NzJnN2pvMDNibTQ0bzk1cDYzY2xmYnRxajAgY190ZmNhdGx0aGNlMzNzYmE3N2xzYzViYjQ0NEBn","created":"2025-12-05T12:00:38.000Z","updated":"2025-12-05T12:00:49.172Z","summary":"Proact (Jonathas) + C&D Blindagem Digital","description":"C&D Blindagem Digital está convidando você para uma reunião Zoom agendada.\nIngressar na reunião Zoom\nhttps://us02web.zoom.us/j/81261898199?pwd=EkfbanpwVT1tKg9YaiIwlMnvVLwnAH.1\n\nVisualizar informações sobre reuniões com o Zoom AI Companion\nhttps://us02web.zoom.us/launch/edl?muid=e3ba57ad-4e57-437a-939f-0b95c6a0aa60\n\nID da reunião: 812 6189 8199\nSenha: 670072\n\nInstruções de adesão\nhttps://us02web.zoom.us/meetings/81261898199/invitations?signature=4vvsU-cxdNhT-LTHJF_jaaZjQTv5Uskhzs9FQ4xFPtw\n\n","location":"https://us02web.zoom.us/j/81261898199?pwd=EkfbanpwVT1tKg9YaiIwlMnvVLwnAH.1","creator":{"email":"juridico04camozziconsultoria@gmail.com"},"organizer":{"email":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","displayName":"Camozzi Consultoria","self":true},"start":{"dateTime":"2025-12-05T14:00:00-03:00","timeZone":"America/Sao_Paulo"},"end":{"dateTime":"2025-12-05T15:00:00-03:00","timeZone":"America/Sao_Paulo"},"iCalUID":"72g7jo03bm44o95p63clfbtqj0@google.com","sequence":0,"extendedProperties":{"shared":{"zmMeetingNum":"81261898199","meetingEventId":"HMbR_yXnRjKiM3DS8zE1iQ"}},"reminders":{"useDefault":true},"eventType":"default"}}]},"versionId":"6beb2367-bdc6-4f78-8a40-23491439a24e","activeVersionId":"6beb2367-bdc6-4f78-8a40-23491439a24e","triggerCount":1,"shared":[{"updatedAt":"2025-06-16T20:34:59.017Z","createdAt":"2025-06-16T20:34:59.017Z","role":"workflow:owner","workflowId":"n7L2iLvW9ZUDxyPV","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-05T13:58:36.291Z","createdAt":"2025-12-05T13:58:36.291Z","versionId":"6beb2367-bdc6-4f78-8a40-23491439a24e","workflowId":"n7L2iLvW9ZUDxyPV","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventCreated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,-128],"id":"2988fc00-4737-452b-92db-629b619c5c95","name":"Google Calendar Trigger","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventUpdated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,64],"id":"4f919917-b1ab-49e2-9601-f46956256dd0","name":"Google Calendar Trigger1","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=Novo evento adicionado agenda\n\n{{ $json.summary }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-208,-128],"id":"053d652d-d1a0-456e-82d0-1a4bb946af26","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=*{{ $('Google Calendar Trigger').item.json.summary }}*\n\n{{ $('Google Calendar Trigger').item.json.description }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[48,-128],"id":"a6246391-0a24-4bc8-9e7a-980318f00877","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,64],"id":"29301c0b-ea28-437d-aa31-77336c28f28f","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"disabled":true},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $('Google Calendar Trigger').item.json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $('Google Calendar Trigger').item.json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,-320],"id":"539ddc33-53ed-4e87-9802-52063d9eda50","name":"Create a task1","credentials":{"clickUpApi":{"id":"elYiqqs3roFy2sJQ","name":"ClickUp TI"}}}],"connections":{"Google Calendar Trigger":{"main":[[{"node":"Create a task1","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"Google Calendar Trigger1":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]}},"authors":"Miqueias Brandão","name":null,"description":null},"tags":[]}