calendar-juridico-06-n7L2iLvW9ZUDxyPV.json
{"updatedAt":"2026-01-07T16:42:03.844Z","createdAt":"2025-06-16T20:34:59.017Z","id":"n7L2iLvW9ZUDxyPV","name":"Calendar Juridico 06","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventCreated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,-128],"id":"2988fc00-4737-452b-92db-629b619c5c95","name":"Google Calendar Trigger","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventUpdated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,64],"id":"4f919917-b1ab-49e2-9601-f46956256dd0","name":"Google Calendar Trigger1","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}},"disabled":true},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,64],"id":"29301c0b-ea28-437d-aa31-77336c28f28f","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"disabled":true},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $('Google Calendar Trigger').item.json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $('Google Calendar Trigger').item.json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,-128],"id":"539ddc33-53ed-4e87-9802-52063d9eda50","name":"Create a task1","credentials":{"clickUpApi":{"id":"elYiqqs3roFy2sJQ","name":"ClickUp TI"}}},{"parameters":{"workflowId":{"__rl":true,"value":"R6pM1TtZozwBtrDD","mode":"list","cachedResultUrl":"/workflow/R6pM1TtZozwBtrDD","cachedResultName":"API INTERNA - TEAMS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"email":"juridico06@camozziconsultoria.com.br","mensagem":"=Nova reunião cadastrada no clickup\n\nNome: {{ $json.name }}\nLink Clickup: {{ $json.url }}\n"},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[16,-128],"id":"1b93f44b-edcc-48c4-af6d-b92dace8b185","name":"Execute Workflow"}],"connections":{"Google Calendar Trigger":{"main":[[{"node":"Create a task1","type":"main","index":0}]]},"Google Calendar Trigger1":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Create a task1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"TEVMGLrS1YT4Ob07"},"staticData":{"node:Google Calendar Trigger":{"lastTimeChecked":"2026-01-12T20:14:58Z"},"node:Google Calendar Trigger1":{"lastTimeChecked":"2025-10-10T16:34:01Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Calendar Trigger":[{"json":{"kind":"calendar#event","etag":"\"3535605316808638\"","id":"777201q5ba88131ivdcdkhbp8k","status":"confirmed","htmlLink":"https://www.google.com/calendar/event?eid=Nzc3MjAxcTViYTg4MTMxaXZkY2RraGJwOGsgY190ZmNhdGx0aGNlMzNzYmE3N2xzYzViYjQ0NEBn","created":"2026-01-07T16:17:19.000Z","updated":"2026-01-07T16:17:38.404Z","summary":"Daiane Silva + C&D Blindagem Digital","description":"C&D Blindagem Digital está convidando você para uma reunião Zoom agendada.\nIngressar na reunião Zoom\nhttps://us02web.zoom.us/j/84184907292?pwd=tbXhlWjBNK2rzF436KNejvYLTQ7Wh2.1\n\nVisualizar informações sobre reuniões com o Zoom AI Companion\nhttps://us02web.zoom.us/launch/edl?muid=273d2ec7-7a82-4340-b7db-d1a2ca71a8a0\n\nID da reunião: 841 8490 7292\nSenha: 506931\n\nInstruções de adesão\nhttps://us02web.zoom.us/meetings/84184907292/invitations?signature=QJPNij8Uo-xZJP5BaT7LVyNxlkgFu2fQLXIxOTCW34g\n\n","location":"https://us02web.zoom.us/j/84184907292?pwd=tbXhlWjBNK2rzF436KNejvYLTQ7Wh2.1","creator":{"email":"juridico06@camozziconsultoria.com.br"},"organizer":{"email":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","displayName":"Camozzi Consultoria","self":true},"start":{"dateTime":"2026-01-09T13:00:00-03:00","timeZone":"America/Sao_Paulo"},"end":{"dateTime":"2026-01-09T14:00:00-03:00","timeZone":"America/Sao_Paulo"},"iCalUID":"777201q5ba88131ivdcdkhbp8k@google.com","sequence":0,"extendedProperties":{"shared":{"zmMeetingNum":"84184907292","meetingEventId":"psAzXq1TQ3Kxnk1CtbcQ5g"}},"reminders":{"useDefault":true},"eventType":"default"}}]},"versionId":"3e582f7d-7001-4a42-8f1d-ef7ca924216e","activeVersionId":"3e582f7d-7001-4a42-8f1d-ef7ca924216e","triggerCount":1,"shared":[{"updatedAt":"2025-06-16T20:34:59.017Z","createdAt":"2025-06-16T20:34:59.017Z","role":"workflow:owner","workflowId":"n7L2iLvW9ZUDxyPV","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2026-01-07T16:42:03.824Z","createdAt":"2026-01-07T16:42:03.824Z","versionId":"3e582f7d-7001-4a42-8f1d-ef7ca924216e","workflowId":"n7L2iLvW9ZUDxyPV","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventCreated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,-128],"id":"2988fc00-4737-452b-92db-629b619c5c95","name":"Google Calendar Trigger","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"calendarId":{"__rl":true,"value":"c_tfcatlthce33sba77lsc5bb444@group.calendar.google.com","mode":"list","cachedResultName":"Camozzi Consultoria"},"triggerOn":"eventUpdated","options":{}},"type":"n8n-nodes-base.googleCalendarTrigger","typeVersion":1,"position":[-448,64],"id":"4f919917-b1ab-49e2-9601-f46956256dd0","name":"Google Calendar Trigger1","credentials":{"googleCalendarOAuth2Api":{"id":"ebrWxUXi52A5SpZZ","name":"Google Calendar Juridico06"}},"disabled":true},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,64],"id":"29301c0b-ea28-437d-aa31-77336c28f28f","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}},"disabled":true},{"parameters":{"team":"3052532","space":"60963728","folder":"121066721","list":"210961933","name":"={{ $('Google Calendar Trigger').item.json.summary }}","additionalFields":{"assignees":[48925905],"content":"={{ $('Google Calendar Trigger').item.json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-208,-128],"id":"539ddc33-53ed-4e87-9802-52063d9eda50","name":"Create a task1","credentials":{"clickUpApi":{"id":"elYiqqs3roFy2sJQ","name":"ClickUp TI"}}},{"parameters":{"workflowId":{"__rl":true,"value":"R6pM1TtZozwBtrDD","mode":"list","cachedResultUrl":"/workflow/R6pM1TtZozwBtrDD","cachedResultName":"API INTERNA - TEAMS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"email":"juridico06@camozziconsultoria.com.br","mensagem":"=Nova reunião cadastrada no clickup\n\nNome: {{ $json.name }}\nLink Clickup: {{ $json.url }}\n"},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[16,-128],"id":"1b93f44b-edcc-48c4-af6d-b92dace8b185","name":"Execute Workflow"}],"connections":{"Google Calendar Trigger":{"main":[[{"node":"Create a task1","type":"main","index":0}]]},"Google Calendar Trigger1":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Create a task1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"authors":"Miqueias Brandão","name":null,"description":null,"autosaved":false},"tags":[]}