clickup-alterar-nome-substasks-p1cRMIx8BWjRWgjD.json
{"updatedAt":"2025-08-22T17:47:09.588Z","createdAt":"2025-08-20T13:27:09.598Z","id":"p1cRMIx8BWjRWgjD","name":"Clickup Alterar nome substasks","active":true,"isArchived":false,"nodes":[{"parameters":{"team":"3052532","space":"90139020048","folder":"901311248091","list":"901317498541","name":"=Automação {{ $now.format('dd/MM/yyyy HH:mm:ss') }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[304,304],"id":"5632de1f-78f7-45bc-af72-81901c943fe5","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"httpMethod":"POST","path":"14f3ea00-5ccc-4052-b8b0-aae5f2bf6d03","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,480],"id":"30076885-ebe7-4232-9acd-5840e117adb8","name":"Webhook","webhookId":"14f3ea00-5ccc-4052-b8b0-aae5f2bf6d03"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,480],"id":"6923a2b9-e11a-402b-b9ed-148846677fc3","name":"Pra cada Subtask"},{"parameters":{"fieldToSplitOut":"body.payload.subtask_ids","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,480],"id":"0808210d-3daa-4109-a69a-8a202cca2ecf","name":"Split Out"},{"parameters":{"operation":"update","id":"={{ $json.id }}","updateFields":{"name":"={{ $('Webhook').item.json.body.payload.name }} - {{ $json.name }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[752,480],"id":"c39f340f-f21c-4462-b46b-5c9e30442ba1","name":"Update a task","credentials":{"clickUpApi":{"id":"elYiqqs3roFy2sJQ","name":"ClickUp TI"}}},{"parameters":{"operation":"get","id":"={{ $json['body.payload.subtask_ids'] }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[528,480],"id":"dc24e672-815c-4b02-bb7b-ec9dceeeb91f","name":"Get a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,304],"id":"0ed8dba4-3709-4905-bec2-f5564c8a3a7c","name":"Schedule Trigger","disabled":true},{"parameters":{"amount":"={{ [16,17,18,19,21,22,23,24,26,27,28,29,31,32,33,34,36,37,38,39][Math.floor(Math.random() * 20)] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,304],"id":"9a9410fe-1ab6-42e1-840f-8dcd58b02ed4","name":"Wait Random","webhookId":"210fccad-2366-44b2-b1f0-ff33bb6ed1da"}],"connections":{"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Pra cada Subtask":{"main":[[],[{"node":"Get a task","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Pra cada Subtask","type":"main","index":0}]]},"Get a task":{"main":[[{"node":"Update a task","type":"main","index":0}]]},"Update a task":{"main":[[{"node":"Pra cada Subtask","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Wait Random","type":"main","index":0}]]},"Wait Random":{"main":[[{"node":"Create a task","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/0.24.0","content-length":"3167","accept":"application/json, text/plain, */*","b3":"68a5d0fc0000000074369552bf08a5fe-74369552bf08a5fe-0","content-type":"application/json","traceparent":"00-68a5d0fc0000000074369552bf08a5fe-74369552bf08a5fe-00","tracestate":"dd=t.tid:68a5d0fc00000000;t.dm:-3;s:-1;p:74369552bf08a5fe","x-b3-sampled":"0","x-b3-spanid":"74369552bf08a5fe","x-b3-traceid":"68a5d0fc0000000074369552bf08a5fe","x-datadog-parent-id":"8374044739766887934","x-datadog-sampling-priority":"-1","x-datadog-tags":"_dd.p.tid=68a5d0fc00000000","x-datadog-trace-id":"8374044739766887934","x-forwarded-for":"3.21.141.156","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"zRLIh1gXS4q7UrzWAax-fw","x-real-ip":"3.21.141.156","x-request-start":"1755697404418","accept-encoding":"gzip"},"params":{},"query":{},"body":{"auto_id":"813e22ee-e045-4fbd-8976-25d5c2addb8f:long_running","trigger_id":"cc565a63-3bbc-4ea9-89c9-4e3f71517248","date":"2025-08-20T13:43:24.311Z","payload":{"id":"86ab4539j","name":"Teste n8n 2025-08-20T09:43:16.080-04:00","content":"{\"ops\":[{\"insert\":\"\\n\",\"attributes\":{\"block-id\":\"block-b5b0b424-4c69-415e-99ff-b9dbd4c0a9b8\"}}]}","lower_name":"teste n8n 2025-08-20t09:43:16.080-04:00","html_content":null,"text_content":"","content_size":"none","sprint_points":null,"coverimage":null,"priority":null,"personal_priority":[],"draft_uuid":null,"custom_id":null,"custom_type":null,"status_id":"p90139020048_wdWlq4CM","workspace_id":"3052532","subcategory":"901317498541","direct_parent":null,"root_parent":null,"merged_to":null,"subtask_sort":null,"subtask_sort_dir":null,"reccurence":{"v1":{"recurring":false,"recur_type":null,"recur_next":null,"recur_new_status":null,"recur_due_date":null,"recur_data":null,"recur_rule":null,"recur_task":null,"recur_skip_missed":false,"recur_on_status":null,"recur_on":null,"recur_copy_original":false,"recur_time":false,"recur_immediately":false,"recur_until":null,"recur_dst":null,"recur_tz_offset":null,"recur_tz":null,"recur_daily":false,"recur_ignore_today":false},"v2":{"set_time":false,"create_new_task":false,"periodically":false,"simple_settings":false,"ignore_weekends":false,"recur_on_schedule":false}},"privacy":{"private":false,"public":false,"public_token":null,"public_permission_level":null,"public_fields":null,"public_share_expires_on":null,"public_sharing":false,"seo_optimized":false,"made_public_by":null,"made_public_time":null},"templating":{"template":false,"original_subcat":null,"template_name":null,"team_id":null,"template_field_ids":null,"permanent_template_id":null,"visibility":null},"states":{"is_archived":false,"is_deleted":false,"is_encrypted":false},"time_mgmt":{"is_summary_task":false,"start_date":null,"start_date_time":false,"date_closed":null,"date_created":"1755697396558","date_updated":"1755697396558","due_date":null,"due_date_time":false,"date_deleted":null,"date_active":null,"date_unstarted":null,"date_done":null,"date_delegated":null,"time_estimate":null,"time_estimate_string":null,"time_spent":null,"sent_due_date_notif":false,"duration":{},"duration_is_elapsed":false},"checklists":[],"ownership":{"created_by_email":null,"owner":42999166,"creator":42999166,"deleted_by":null,"source":"api","delegator":null,"form_id":null,"merged_to":null},"subtask_ids":["86ab453ak","86ab453aw","86ab453b7","86ab453bh","86ab453bt","86ab453c5","86ab453cc","86ab453cp","86ab453cu","86ab453cz","86ab453d5","86ab453db","86ab453dk","86ab453dt","86ab453dz","86ab453e6","86ab453e8"],"tags":[],"fields":[],"lists":[{"list_id":"901317498541","type":"home"}],"users":[{"userid":42999166,"type":"watcher"},{"userid":42999166,"type":"owner"},{"userid":42999166,"type":"creator"}],"groups":[],"related_tasks":[{"task_id":"86ab453e8","type":"linked"}],"related_tasks_count":{"dependsOn":0,"dependedBy":0},"attachments":[],"docs":[],"_version_vector":{"workspace_id":3052532,"object_type":"task","object_id":"86ab4539j","vector":[{"master_id":19,"version":1755697403928000,"deleted":false}]}}},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/14f3ea00-5ccc-4052-b8b0-aae5f2bf6d03","executionMode":"production"}}]},"versionId":"51704fca-aba1-4d57-8cde-b439c68d23a5","activeVersionId":"51704fca-aba1-4d57-8cde-b439c68d23a5","triggerCount":1,"shared":[{"updatedAt":"2025-08-20T13:27:09.598Z","createdAt":"2025-08-20T13:27:09.598Z","role":"workflow:owner","workflowId":"p1cRMIx8BWjRWgjD","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"51704fca-aba1-4d57-8cde-b439c68d23a5","workflowId":"p1cRMIx8BWjRWgjD","nodes":[{"parameters":{"team":"3052532","space":"90139020048","folder":"901311248091","list":"901317498541","name":"=Automação {{ $now.format('dd/MM/yyyy HH:mm:ss') }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[304,304],"id":"5632de1f-78f7-45bc-af72-81901c943fe5","name":"Create a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"httpMethod":"POST","path":"14f3ea00-5ccc-4052-b8b0-aae5f2bf6d03","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,480],"id":"30076885-ebe7-4232-9acd-5840e117adb8","name":"Webhook","webhookId":"14f3ea00-5ccc-4052-b8b0-aae5f2bf6d03"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,480],"id":"6923a2b9-e11a-402b-b9ed-148846677fc3","name":"Pra cada Subtask"},{"parameters":{"fieldToSplitOut":"body.payload.subtask_ids","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,480],"id":"0808210d-3daa-4109-a69a-8a202cca2ecf","name":"Split Out"},{"parameters":{"operation":"update","id":"={{ $json.id }}","updateFields":{"name":"={{ $('Webhook').item.json.body.payload.name }} - {{ $json.name }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[752,480],"id":"c39f340f-f21c-4462-b46b-5c9e30442ba1","name":"Update a task","credentials":{"clickUpApi":{"id":"elYiqqs3roFy2sJQ","name":"ClickUp TI"}}},{"parameters":{"operation":"get","id":"={{ $json['body.payload.subtask_ids'] }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[528,480],"id":"dc24e672-815c-4b02-bb7b-ec9dceeeb91f","name":"Get a task","credentials":{"clickUpApi":{"id":"Ojf4svHZEpjVSlYw","name":"ClickUp Miqueias"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,304],"id":"0ed8dba4-3709-4905-bec2-f5564c8a3a7c","name":"Schedule Trigger","disabled":true},{"parameters":{"amount":"={{ [16,17,18,19,21,22,23,24,26,27,28,29,31,32,33,34,36,37,38,39][Math.floor(Math.random() * 20)] }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,304],"id":"9a9410fe-1ab6-42e1-840f-8dcd58b02ed4","name":"Wait Random","webhookId":"210fccad-2366-44b2-b1f0-ff33bb6ed1da"}],"connections":{"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Pra cada Subtask":{"main":[[],[{"node":"Get a task","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Pra cada Subtask","type":"main","index":0}]]},"Get a task":{"main":[[{"node":"Update a task","type":"main","index":0}]]},"Update a task":{"main":[[{"node":"Pra cada Subtask","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Wait Random","type":"main","index":0}]]},"Wait Random":{"main":[[{"node":"Create a task","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}