conteúdo-automatico-com-api-ke89ArR4o8uVh8NL.json
{"updatedAt":"2025-06-14T14:56:30.250Z","createdAt":"2025-05-27T18:16:31.242Z","id":"ke89ArR4o8uVh8NL","name":"CONTEÚDO AUTOMATICO COM API","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"13d4f71d-ef24-4144-a830-1a7a0fe32ba8","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[280,-140]},{"parameters":{"url":"=https://newsapi.org/v2/everything?q=impostos&apiKey=26f467d171ae468a94ec882f285ee41d&sortBy=popularity&pageSize=1&page=1","options":{}},"id":"8151b7fb-2820-4456-a220-4e6b62914763","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[540,-140]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,80],"id":"0ad4c0fe-a584-4ae0-8681-6ec19d02df7e","name":"Loop Over Items"},{"parameters":{"team":"3052532","space":"90133113294","folderless":true,"list":"901313953374","name":"={{ $('OpenAI').item.json.message.content }}","additionalFields":{"content":"={{ $('Loop Over Items').item.json.url }}\n\n{{ $('Loop Over Items').item.json.description }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1580,80],"id":"89a7442f-6fb4-48fd-9435-24ca3de048e2","name":"ClickUp","alwaysOutputData":false,"credentials":{"clickUpApi":{"id":"k1jbvr8LjiIFKdRz","name":"clickup@"}}},{"parameters":{"fieldToSplitOut":"articles","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[540,80],"id":"b4ba02f2-853c-45fa-9105-a8055ef67e25","name":"Split Out"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é um especialista em criação de títulos de notícias virais. Sua tarefa é reescrever títulos de notícias para torná-los mais atrativos e aumentar o engajamento.\n\nREGRAS:\n- Use gatilhos emocionais: curiosidade, urgência, medo, surpresa, indignação\n- Mantenha a veracidade da informação original\n- Limite: máximo 80 caracteres\n- Use linguagem direta e impactante\n- Prefira verbos de ação no presente\n- Inclua números quando relevante\n- Evite clickbait falso ou enganoso\n\nTÉCNICAS EFICAZES:\n- Perguntas diretas: \"Você sabia que...?\"\n- Consequências: \"O que acontece quando...\"\n- Exclusividade: \"Revelado:\", \"Descoberto:\"\n- Contraste: \"Enquanto X, Y acontece\"\n\nENTRADA:\nTítulo original: [TÍTULO]\nLegenda: [LEGENDA]\n\nSAÍDA:\nForneça apenas o novo título reescrito, sem explicações adicionais.\n\nEXEMPLO:\nTítulo: \"Preço da gasolina sobe 5% esta semana\"\nLegenda: \"Aumento foi anunciado pela Petrobras devido à alta do petróleo\"\nNovo título: \"ALERTA: Gasolina dispara 5% e pode chegar a R$ 6,50\"","role":"system"},{"content":"=Titulo:{{ $json.title }}\nLegenda: {{ $json.description }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1040,80],"id":"e855d2a9-d429-40ea-899e-cb4870da831d","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"=Crie uma imagem fotorealística e profissional para uma matéria jornalística com o tema: {{ $json.message.content }}\n\nESTILO VISUAL:\n- Fotografia jornalística de alta qualidade\n- Iluminação natural e realista\n- Composição cinematográfica\n- Cores vibrantes mas não saturadas\n- Foco nítido no elemento principal\n\nELEMENTOS OBRIGATÓRIOS:\n- Aparência 100% fotográfica (não arte digital)\n- Sem elementos obviamente gerados por IA\n- Sem texto ou palavras na imagem\n- Pessoas com expressões naturais e proporções corretas\n- Objetos e cenários hiper-realistas\n\nCOMPOSIÇÃO:\n- Formato 16:9 (landscape) ideal para redes sociais\n- Elemento visual que represente o tema da notícia\n- Primeiro plano bem definido\n- Profundidade de campo apropriada\n\nEVITAR:\n- Aparência de arte digital ou ilustração\n- Rostos deformados ou mãos estranhas\n- Objetos flutuando\n- Efeitos artificiais exagerados\n- Saturação excessiva\n\nCONTEXTO BRASILEIRO:\n- Cenários e pessoas que façam sentido no Brasil\n- Arquitetura e paisagens brasileiras quando relevante\n\nEXEMPLO DE USO:\nTítulo: \"ALERTA: Gasolina dispara 5% e pode chegar a R$ 6,50\"\nPrompt: \"Crie uma imagem fotorealística de um posto de gasolina brasileiro movimentado, com carros fazendo fila, foco no painel de preços eletrônico mostrando valores altos, luz natural do dia, estilo jornalístico profissional\"","options":{"style":"natural","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1400,80],"id":"fe8f0435-3896-456c-80df-8d47b3d74b17","name":"OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"list","team":"3052532","space":"90133113294","folderless":true,"list":"901313953374"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1900,-320],"id":"fbecf025-6cbd-42ba-ae1e-161c67e94fe2","name":"GET Custons fields","credentials":{"clickUpApi":{"id":"k1jbvr8LjiIFKdRz","name":"clickup@"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI","type":"main","index":0}]]},"ClickUp":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"ClickUp","type":"main","index":0}]]},"GET Custons fields":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d4a76c4-398a-4d9d-b28d-322858d46587","triggerCount":0,"shared":[{"updatedAt":"2025-05-27T18:16:31.242Z","createdAt":"2025-05-27T18:16:31.242Z","role":"workflow:owner","workflowId":"ke89ArR4o8uVh8NL","projectId":"BlSED80HESP48veq"}],"tags":[]}