criação-das-imagens-hQZWoCu60j8KZN05.json
{"updatedAt":"2025-06-14T14:56:30.250Z","createdAt":"2025-06-11T20:16:15.683Z","id":"hQZWoCu60j8KZN05","name":"Criação das imagens","active":true,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c793e16e-45ac-4854-a317-0bb3ea368d83","name":"response","value":"={{ $json.query }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,80],"id":"f544ef75-147d-4679-92ed-720da4cc47ac","name":"Json"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a high-impact Instagram cover post designed to stop the scroll and generate maximum engagement. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram posts\nAttention-grabbing design with dramatic visual impact\nEmotionally compelling presentation\n\nTEXT ELEMENTS:\nMain title in bold, impactful typography: {{ $json.response.titulo_geral }}\nEmotional hook or compelling question as subtitle\nSmall text in bottom right corner: 'Arraste para o lado'\n\nVISUAL DESIGN:\nRealistic human face showing strong emotion (concern, shock, fear, surprise) related to the topic\nHigh-quality photorealistic imagery with dramatic lighting\nStrong emotional expression that connects to the topic's impact\nProfessional photography style with cinematic quality\nDark, moody background with spotlight effect on the subject\n\nEMOTIONAL IMPACT ELEMENTS:\nFacial expressions showing genuine concern, worry, or realization\nBody language that conveys the seriousness of the topic\nEnvironmental elements that reinforce the emotional state\nDramatic lighting and shadows for maximum visual impact\nColors that evoke strong emotional response\n\nCOMPOSITION:\nClose-up or medium shot focusing on facial expression\nSubject positioned to create connection with viewer\nBackground elements that support the narrative without distraction\nText overlay positioned to complement, not compete with the face\n\nCOLOR SCHEME:\nHigh contrast with dramatic shadows and highlights\nWarm/cool color contrast for emotional depth\nColors that enhance the emotional impact of the subject\nMaintain text readability while maximizing visual drama\n\nSTYLE:\nCinematic photography aesthetic\nDocumentary-style emotional storytelling\nPhotojournalism approach\nHuman-centered narrative focus\nMaximum emotional engagement design\n\nCONTENT FOCUS:\nTopic: {{ $json.response.titulo_geral }}\nEmotional connection to the subject matter\nImmediate visual impact and curiosity generation\nSocial media optimized for maximum engagement\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: High-impact, emotionally engaging, scroll-stopping design\nOptimized for maximum click-through and engagement","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,80],"id":"5fb8d5a7-7ddd-47c9-8876-5eae1b22ac41","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,1100],"id":"e5e08c02-ccad-4a76-8982-5ec684a556a5","name":"When Executed by Another Workflow"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[880,80],"id":"570f1b5c-a98b-4ed1-b512-99197c01d6ca","name":"Evolution API","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,80],"id":"19b4ab2f-046a-4a81-be15-f618540e2538","name":"Extract from File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,420],"id":"1010b832-18f5-430e-b5ef-8cfa024d2aec","name":"Loop Over Items"},{"parameters":{"content":"## CAPA DO POST","height":280,"width":760},"type":"n8n-nodes-base.stickyNote","position":[360,0],"typeVersion":1,"id":"4c119c58-ef3e-4d0f-a727-5120327f7e98","name":"Sticky Note"},{"parameters":{"fieldToSplitOut":"=response.topicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,420],"id":"66a4c5b5-14cf-4235-9740-fb873b815e5b","name":"Split Out"},{"parameters":{"content":"## DEMAIS IMAGENS","height":360,"width":1360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[360,320],"typeVersion":1,"id":"c84066bf-9d3d-4d9b-b09c-f993226a267f","name":"Sticky Note1"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram carousel slide with a clean, educational design for topic content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram carousel\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nTopic title at the top in bold, readable typography: {{ $json.titulo }}\n3 bullet points with the key information from: {{ $json.pontos_chave }}\nSummary text at the bottom: {{ $json.resumo }}\n\nCRITICAL TEXT REQUIREMENTS:\nREPRODUCE THE TEXT EXACTLY as provided in the JSON variables\nDO NOT modify, translate, or alter any words\nDO NOT add or remove accents (á, é, í, ó, ú, ã, õ, ç)\nDO NOT change spelling or grammar\nCOPY the text character-by-character exactly as given\nMaintain original Portuguese language formatting and special characters\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.titulo }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the specific topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nTEXT FORMATTING:\nMain topic title: Large, bold font with text shadow or background for readability\nBullet points: Medium-sized, well-spaced, easy to read with bullet symbols (•)\nSummary: Smaller italic text, clearly separated at bottom\nAll text should have high contrast and readability over background image\nENSURE ALL ACCENTS AND SPECIAL CHARACTERS ARE PRESERVED\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\nConsistent with cover slide design\n\nCONTENT FOCUS:\nTopic: {{ $json.titulo }}\nKey points: {{ $json.pontos_chave }}\nSummary: {{ $json.resumo }}\nEducational and informative tone\nEasy to read on mobile devices\nSocial media optimized design\n\nTEXT ACCURACY PRIORITY:\nThe most important requirement is TEXT ACCURACY\nDouble-check all Portuguese accents and spelling\nUse exactly the text provided in the JSON variables\nNO modifications to the original text content\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram carousel slide with subtle visual enhancement\nConsistent design language with the cover post\nPERFECT text reproduction without any errors","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1020,420],"id":"aeec014f-8d1d-483a-bc54-f3cdccaa6aaa","name":"OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1460,420],"id":"e4cd47f5-902d-4df6-8757-07ece9043fe4","name":"Evolution API1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1240,420],"id":"aab5fec7-c7a9-4d5b-8e33-ce6c93ca8a0b","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"c793e16e-45ac-4854-a317-0bb3ea368d83","name":"response","value":"={{ $json.query }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,1100],"id":"fd246bf8-4bdb-4a28-a3f5-cdb256295cac","name":"Json1"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram cover post with a clean, modern design for educational content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram posts\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nMain title at the top in bold, readable typography: {{ $json.response.titulo_geral }}\nSubtitle or brief description in smaller text below the main title\nSmall text in bottom right corner: 'Arraste para o lado' (in elegant, readable font)\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.response.titulo_geral }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\n\nCONTENT FOCUS:\nTopic: {{ $json.response.titulo_geral }}\nEducational and informative tone\nSocial media optimized design\nVisual storytelling approach\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram-ready with subtle visual enhancement","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,1100],"id":"20bb8370-4db2-4a6c-85f5-70dd86926235","name":"OpenAI2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,1100],"id":"85f112ed-fa47-47ad-82b7-9aad29dba594","name":"Evolution API2","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[740,1100],"id":"fc10815b-c2f6-4ec1-af60-a71d120e0de3","name":"Extract from File2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,1440],"id":"33ce4727-746a-4d88-b901-015a84347482","name":"Loop Over Items1"},{"parameters":{"content":"## CAPA DO POST","height":280,"width":1360},"type":"n8n-nodes-base.stickyNote","position":[360,1100],"typeVersion":1,"id":"6f6940fd-ed82-42dd-a9e1-e524f85ae20d","name":"Sticky Note2"},{"parameters":{"fieldToSplitOut":"=response.topicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,1440],"id":"56a5a420-653c-4317-b084-76c4854b1da2","name":"Split Out1"},{"parameters":{"content":"## DEMAIS IMAGENS","height":360,"width":1360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[360,1340],"typeVersion":1,"id":"8e0e5575-12b0-48ef-85b2-c491590cc894","name":"Sticky Note3"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram carousel slide with a clean, educational design for topic content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram carousel\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nTopic title at the top in bold, readable typography: {{ $json.titulo }}\n3 bullet points with the key information from: {{ $json.pontos_chave }}\nSummary text at the bottom: {{ $json.resumo }}\n\nCRITICAL TEXT REQUIREMENTS:\nREPRODUCE THE TEXT EXACTLY as provided in the JSON variables\nDO NOT modify, translate, or alter any words\nDO NOT add or remove accents (á, é, í, ó, ú, ã, õ, ç)\nDO NOT change spelling or grammar\nCOPY the text character-by-character exactly as given\nMaintain original Portuguese language formatting and special characters\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.titulo }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the specific topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nTEXT FORMATTING:\nMain topic title: Large, bold font with text shadow or background for readability\nBullet points: Medium-sized, well-spaced, easy to read with bullet symbols (•)\nSummary: Smaller italic text, clearly separated at bottom\nAll text should have high contrast and readability over background image\nENSURE ALL ACCENTS AND SPECIAL CHARACTERS ARE PRESERVED\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\nConsistent with cover slide design\n\nCONTENT FOCUS:\nTopic: {{ $json.titulo }}\nKey points: {{ $json.pontos_chave }}\nSummary: {{ $json.resumo }}\nEducational and informative tone\nEasy to read on mobile devices\nSocial media optimized design\n\nTEXT ACCURACY PRIORITY:\nThe most important requirement is TEXT ACCURACY\nDouble-check all Portuguese accents and spelling\nUse exactly the text provided in the JSON variables\nNO modifications to the original text content\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram carousel slide with subtle visual enhancement\nConsistent design language with the cover post\nPERFECT text reproduction without any errors","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1020,1440],"id":"532a1d82-5ac4-404b-a570-1d5e5ec64dae","name":"OpenAI3","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1460,1440],"id":"825ec96b-8f4f-4a46-b8fe-511d783d9a55","name":"Evolution API3","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1240,1440],"id":"403a0b57-26c5-4393-857e-df572e3c1155","name":"Extract from File3"},{"parameters":{"content":"## PROMPT COM IMAGENS","height":740,"width":1840,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-20,1000],"typeVersion":1,"id":"9e95cbbe-ecac-477d-8f64-de62c63912ca","name":"Sticky Note4"},{"parameters":{"content":"## COM CAPA CHAMATIVA","height":760,"width":1840,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-40,-20],"typeVersion":1,"id":"a21b05fb-d781-4bb0-a4d7-dc49d3171a23","name":"Sticky Note5"}],"connections":{"Json":{"main":[[{"node":"OpenAI","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Json1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Json1":{"main":[[{"node":"OpenAI2","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Extract from File2","type":"main","index":0}],[]]},"Extract from File2":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"OpenAI3","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Extract from File3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API2":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"{\n\"titulo_geral\": \"Compliance Jurídico: Sua Empresa Precisa\",\n\"quantidade_topicos\": 4,\n\"topicos\": [\n  {\n    \"id\": 1,\n    \"titulo\": \"Introdução ao Compliance Jurídico\",\n    \"pontos_chave\": [\n      \"Definição de compliance jurídico e sua importância\",\n      \"Origem e evolução do compliance no ambiente corporativo\",\n      \"Objetivos principais do compliance dentro de uma empresa\"\n    ],\n    \"resumo\": \"O compliance jurídico visa garantir que uma empresa cumpra todas as leis e regulamentos aplicáveis, evitando riscos legais.\"\n  },\n  {\n    \"id\": 2,\n    \"titulo\": \"Benefícios do Compliance Jurídico para Empresas\",\n    \"pontos_chave\": [\n      \"Redução de riscos legais e proteção contra multas\",\n      \"Melhoria da reputação e confiança no mercado\",\n      \"Aumento da eficiência e transparência organizacional\"\n    ],\n    \"resumo\": \"Implementar compliance jurídico proporciona proteção legal e benefícios reputacionais, promovendo confiança nos negócios.\"\n  },\n  {\n    \"id\": 3,\n    \"titulo\": \"Principais Componentes do Programa de Compliance\",\n    \"pontos_chave\": [\n      \"Código de conduta e políticas internas\",\n      \"Treinamentos e atualizações contínuas para funcionários\",\n      \"Sistemas de monitoramento e auditoria internos\"\n    ],\n    \"resumo\": \"Um programa eficaz de compliance jurídico inclui políticas claras, educação contínua e auditorias regulares.\"\n  },\n  {\n    \"id\": 4,\n    \"titulo\": \"Passos para Implementar Compliance Jurídico na Sua Empresa\",\n    \"pontos_chave\": [\n      \"Avaliação das necessidades e riscos específicos da empresa\",\n      \"Desenvolvimento de políticas e procedimentos claros\",\n      \"Implementação de sistemas de monitoramento e revisão\"\n    ],\n    \"resumo\": \"Para implementar o compliance jurídico, personalize políticas conforme os riscos e monitore continuamente.\"\n  }\n]\n}"}}]},"versionId":"3cf9746c-d844-47bd-9522-463580555962","activeVersionId":"3cf9746c-d844-47bd-9522-463580555962","triggerCount":0,"shared":[{"updatedAt":"2025-06-11T20:16:15.683Z","createdAt":"2025-06-11T20:16:15.683Z","role":"workflow:owner","workflowId":"hQZWoCu60j8KZN05","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"3cf9746c-d844-47bd-9522-463580555962","workflowId":"hQZWoCu60j8KZN05","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c793e16e-45ac-4854-a317-0bb3ea368d83","name":"response","value":"={{ $json.query }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,80],"id":"f544ef75-147d-4679-92ed-720da4cc47ac","name":"Json"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a high-impact Instagram cover post designed to stop the scroll and generate maximum engagement. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram posts\nAttention-grabbing design with dramatic visual impact\nEmotionally compelling presentation\n\nTEXT ELEMENTS:\nMain title in bold, impactful typography: {{ $json.response.titulo_geral }}\nEmotional hook or compelling question as subtitle\nSmall text in bottom right corner: 'Arraste para o lado'\n\nVISUAL DESIGN:\nRealistic human face showing strong emotion (concern, shock, fear, surprise) related to the topic\nHigh-quality photorealistic imagery with dramatic lighting\nStrong emotional expression that connects to the topic's impact\nProfessional photography style with cinematic quality\nDark, moody background with spotlight effect on the subject\n\nEMOTIONAL IMPACT ELEMENTS:\nFacial expressions showing genuine concern, worry, or realization\nBody language that conveys the seriousness of the topic\nEnvironmental elements that reinforce the emotional state\nDramatic lighting and shadows for maximum visual impact\nColors that evoke strong emotional response\n\nCOMPOSITION:\nClose-up or medium shot focusing on facial expression\nSubject positioned to create connection with viewer\nBackground elements that support the narrative without distraction\nText overlay positioned to complement, not compete with the face\n\nCOLOR SCHEME:\nHigh contrast with dramatic shadows and highlights\nWarm/cool color contrast for emotional depth\nColors that enhance the emotional impact of the subject\nMaintain text readability while maximizing visual drama\n\nSTYLE:\nCinematic photography aesthetic\nDocumentary-style emotional storytelling\nPhotojournalism approach\nHuman-centered narrative focus\nMaximum emotional engagement design\n\nCONTENT FOCUS:\nTopic: {{ $json.response.titulo_geral }}\nEmotional connection to the subject matter\nImmediate visual impact and curiosity generation\nSocial media optimized for maximum engagement\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: High-impact, emotionally engaging, scroll-stopping design\nOptimized for maximum click-through and engagement","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,80],"id":"5fb8d5a7-7ddd-47c9-8876-5eae1b22ac41","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,1100],"id":"e5e08c02-ccad-4a76-8982-5ec684a556a5","name":"When Executed by Another Workflow"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[880,80],"id":"570f1b5c-a98b-4ed1-b512-99197c01d6ca","name":"Evolution API","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,80],"id":"19b4ab2f-046a-4a81-be15-f618540e2538","name":"Extract from File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,420],"id":"1010b832-18f5-430e-b5ef-8cfa024d2aec","name":"Loop Over Items"},{"parameters":{"content":"## CAPA DO POST","height":280,"width":760},"type":"n8n-nodes-base.stickyNote","position":[360,0],"typeVersion":1,"id":"4c119c58-ef3e-4d0f-a727-5120327f7e98","name":"Sticky Note"},{"parameters":{"fieldToSplitOut":"=response.topicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,420],"id":"66a4c5b5-14cf-4235-9740-fb873b815e5b","name":"Split Out"},{"parameters":{"content":"## DEMAIS IMAGENS","height":360,"width":1360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[360,320],"typeVersion":1,"id":"c84066bf-9d3d-4d9b-b09c-f993226a267f","name":"Sticky Note1"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram carousel slide with a clean, educational design for topic content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram carousel\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nTopic title at the top in bold, readable typography: {{ $json.titulo }}\n3 bullet points with the key information from: {{ $json.pontos_chave }}\nSummary text at the bottom: {{ $json.resumo }}\n\nCRITICAL TEXT REQUIREMENTS:\nREPRODUCE THE TEXT EXACTLY as provided in the JSON variables\nDO NOT modify, translate, or alter any words\nDO NOT add or remove accents (á, é, í, ó, ú, ã, õ, ç)\nDO NOT change spelling or grammar\nCOPY the text character-by-character exactly as given\nMaintain original Portuguese language formatting and special characters\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.titulo }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the specific topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nTEXT FORMATTING:\nMain topic title: Large, bold font with text shadow or background for readability\nBullet points: Medium-sized, well-spaced, easy to read with bullet symbols (•)\nSummary: Smaller italic text, clearly separated at bottom\nAll text should have high contrast and readability over background image\nENSURE ALL ACCENTS AND SPECIAL CHARACTERS ARE PRESERVED\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\nConsistent with cover slide design\n\nCONTENT FOCUS:\nTopic: {{ $json.titulo }}\nKey points: {{ $json.pontos_chave }}\nSummary: {{ $json.resumo }}\nEducational and informative tone\nEasy to read on mobile devices\nSocial media optimized design\n\nTEXT ACCURACY PRIORITY:\nThe most important requirement is TEXT ACCURACY\nDouble-check all Portuguese accents and spelling\nUse exactly the text provided in the JSON variables\nNO modifications to the original text content\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram carousel slide with subtle visual enhancement\nConsistent design language with the cover post\nPERFECT text reproduction without any errors","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1020,420],"id":"aeec014f-8d1d-483a-bc54-f3cdccaa6aaa","name":"OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1460,420],"id":"e4cd47f5-902d-4df6-8757-07ece9043fe4","name":"Evolution API1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1240,420],"id":"aab5fec7-c7a9-4d5b-8e33-ce6c93ca8a0b","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"c793e16e-45ac-4854-a317-0bb3ea368d83","name":"response","value":"={{ $json.query }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,1100],"id":"fd246bf8-4bdb-4a28-a3f5-cdb256295cac","name":"Json1"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram cover post with a clean, modern design for educational content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram posts\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nMain title at the top in bold, readable typography: {{ $json.response.titulo_geral }}\nSubtitle or brief description in smaller text below the main title\nSmall text in bottom right corner: 'Arraste para o lado' (in elegant, readable font)\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.response.titulo_geral }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\n\nCONTENT FOCUS:\nTopic: {{ $json.response.titulo_geral }}\nEducational and informative tone\nSocial media optimized design\nVisual storytelling approach\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram-ready with subtle visual enhancement","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,1100],"id":"20bb8370-4db2-4a6c-85f5-70dd86926235","name":"OpenAI2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,1100],"id":"85f112ed-fa47-47ad-82b7-9aad29dba594","name":"Evolution API2","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[740,1100],"id":"fc10815b-c2f6-4ec1-af60-a71d120e0de3","name":"Extract from File2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,1440],"id":"33ce4727-746a-4d88-b901-015a84347482","name":"Loop Over Items1"},{"parameters":{"content":"## CAPA DO POST","height":280,"width":1360},"type":"n8n-nodes-base.stickyNote","position":[360,1100],"typeVersion":1,"id":"6f6940fd-ed82-42dd-a9e1-e524f85ae20d","name":"Sticky Note2"},{"parameters":{"fieldToSplitOut":"=response.topicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,1440],"id":"56a5a420-653c-4317-b084-76c4854b1da2","name":"Split Out1"},{"parameters":{"content":"## DEMAIS IMAGENS","height":360,"width":1360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[360,1340],"typeVersion":1,"id":"8e0e5575-12b0-48ef-85b2-c491590cc894","name":"Sticky Note3"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram carousel slide with a clean, educational design for topic content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram carousel\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nTopic title at the top in bold, readable typography: {{ $json.titulo }}\n3 bullet points with the key information from: {{ $json.pontos_chave }}\nSummary text at the bottom: {{ $json.resumo }}\n\nCRITICAL TEXT REQUIREMENTS:\nREPRODUCE THE TEXT EXACTLY as provided in the JSON variables\nDO NOT modify, translate, or alter any words\nDO NOT add or remove accents (á, é, í, ó, ú, ã, õ, ç)\nDO NOT change spelling or grammar\nCOPY the text character-by-character exactly as given\nMaintain original Portuguese language formatting and special characters\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.titulo }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the specific topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nTEXT FORMATTING:\nMain topic title: Large, bold font with text shadow or background for readability\nBullet points: Medium-sized, well-spaced, easy to read with bullet symbols (•)\nSummary: Smaller italic text, clearly separated at bottom\nAll text should have high contrast and readability over background image\nENSURE ALL ACCENTS AND SPECIAL CHARACTERS ARE PRESERVED\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\nConsistent with cover slide design\n\nCONTENT FOCUS:\nTopic: {{ $json.titulo }}\nKey points: {{ $json.pontos_chave }}\nSummary: {{ $json.resumo }}\nEducational and informative tone\nEasy to read on mobile devices\nSocial media optimized design\n\nTEXT ACCURACY PRIORITY:\nThe most important requirement is TEXT ACCURACY\nDouble-check all Portuguese accents and spelling\nUse exactly the text provided in the JSON variables\nNO modifications to the original text content\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram carousel slide with subtle visual enhancement\nConsistent design language with the cover post\nPERFECT text reproduction without any errors","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1020,1440],"id":"532a1d82-5ac4-404b-a570-1d5e5ec64dae","name":"OpenAI3","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"120363418455505955@g.us","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1460,1440],"id":"825ec96b-8f4f-4a46-b8fe-511d783d9a55","name":"Evolution API3","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1240,1440],"id":"403a0b57-26c5-4393-857e-df572e3c1155","name":"Extract from File3"},{"parameters":{"content":"## PROMPT COM IMAGENS","height":740,"width":1840,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-20,1000],"typeVersion":1,"id":"9e95cbbe-ecac-477d-8f64-de62c63912ca","name":"Sticky Note4"},{"parameters":{"content":"## COM CAPA CHAMATIVA","height":760,"width":1840,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-40,-20],"typeVersion":1,"id":"a21b05fb-d781-4bb0-a4d7-dc49d3171a23","name":"Sticky Note5"}],"connections":{"Json":{"main":[[{"node":"OpenAI","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Json1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OpenAI1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Json1":{"main":[[{"node":"OpenAI2","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Extract from File2","type":"main","index":0}],[]]},"Extract from File2":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"OpenAI3","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Extract from File3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Evolution API2":{"main":[[]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}