curadoria-com-gpt-com-tela-EEJeEBJpCSygny98.json
{"updatedAt":"2025-06-13T23:16:31.609Z","createdAt":"2025-06-12T17:06:16.365Z","id":"EEJeEBJpCSygny98","name":"CURADORIA com GPT com tela","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.body.data.message.conversation }}","options":{"systemMessage":"=Você é um agente especializado em criação de conteúdo educacional. Siga estas etapas OBRIGATORIAMENTE:\n\nETAPA 1 - COLETA DE INFORMAÇÕES:\nPrimeiro, pergunte ao usuário:\n\"Sobre o tema '{{ $json.chatInput }}', você tem algum tópico específico que gostaria de incluir obrigatoriamente na lista? Responda com os tópicos desejados ou digite 'NENHUM' se não tiver preferências específicas.\"\nAGUARDE A RESPOSTA DO USUÁRIO antes de prosseguir para a Etapa 2.\n\nETAPA 2 - GERAÇÃO DE CONTEÚDO:\nSomente após receber a resposta do usuário, crie uma lista de tópicos sobre {{ $json.chatInput }} com base nas seguintes configurações:\nConfigurações obrigatórias:\n- Quantidade de tópicos: [USUÁRIO DEVE INFORMAR O NÚMERO]\n- Tópicos específicos obrigatórios: [USAR A RESPOSTA DA ETAPA 1]\n- Tema: {{ $json.chatInput }}\n- Nível: intermediário\n- Público-alvo: Geral\n\nCritérios de conteúdo:\n- Linguagem didática e acessível\n- Relevância prática para iniciantes/intermediários\n- Sequência lógica de aprendizado\n- Foco em conceitos fundamentais e práticos\n- Cada tópico deve ter 3-4 pontos-chave explicativos\n- Incluir uma frase resumo por tópico\n\nESTRUTURA JSON para a tool:\n{\n\"titulo_geral\": \"Título Principal do Tema\",\n\"quantidade_topicos\": X,\n\"topicos\": [\n  {\n    \"id\": 1,\n    \"titulo\": \"Título do Tópico\",\n    \"pontos_chave\": [\n      \"Ponto principal 1\",\n      \"Ponto principal 2\",\n      \"Ponto principal 3\",\n      \"Ponto principal 4 (opcional)\"\n    ],\n    \"resumo\": \"Uma frase explicativa do conceito central\"\n  }\n]\n}\n\nETAPA 3 - GERAÇÃO DE IMAGENS:\nIMEDIATAMENTE após criar o JSON, chame a tool #Gerando_Imagens passando o JSON completo como parâmetro.\n\nETAPA 4 - DISPONIBILIZAÇÃO DOS LINKS:\nQuando você receber a resposta da tool com o array de links, extraia todos os URLs do array \"links\" e envie em uma única mensagem, separando cada link com uma quebra de linha (\\n).\n\nFORMATO DA RESPOSTA DA TOOL:\n{\n  \"links\": [\n    \"https://drive.google.com/file/d/ID1/view?usp=drivesdk\",\n    \"https://drive.google.com/file/d/ID2/view?usp=drivesdk\"\n  ]\n}\n\nResponda ao usuário com todos os links assim:\nhttps://drive.google.com/file/d/ID1/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID2/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID3/view?usp=drivesdk\n\nREGRAS CRÍTICAS:\n1. NUNCA pule a Etapa 1 - sempre pergunte primeiro\n2. Na Etapa 1: responda APENAS com a pergunta\n3. Na Etapa 2: crie o JSON internamente (não mostre ao usuário)\n4. Na Etapa 3: SEMPRE chame a tool #Gerando_Imagens com o JSON\n5. Na Etapa 4: envie todos os links juntos, separados apenas por quebra de linha\n6. Se o usuário informou tópicos específicos, OBRIGATORIAMENTE os inclua na lista\n7. TODAS as 4 etapas devem ser executadas em sequência\n8. O usuário só deve ver a pergunta da Etapa 1 e depois todos os links juntos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[100,60],"id":"2a42f169-82ed-4cfd-9396-984373ac515a","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,280],"id":"dfc6fd8a-2b4a-40fa-ab67-41d7a6a303af","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"## CURADORIA DO CONTEÚDO","height":420,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-140,0],"typeVersion":1,"id":"aa1b30d3-7988-4d1c-9dc0-e4ccd760f5a1","name":"Sticky Note1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,280],"id":"06e76b9c-de84-4008-963f-5f6db117589b","name":"Simple Memory1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[720,60],"id":"09971d46-c64b-4638-93ef-1bc21bb7c3d5","name":"Respond to Webhook"},{"parameters":{"toolDescription":"Chame esta ferramenta quando tiver o json estruturado.\n\n{\n \"titulo_geral\": \"Título Principal do Tema\",\n \"quantidade_topicos\": X,\n \"topicos\": [\n   {\n     \"id\": 1,\n     \"titulo\": \"Título do Tópico\",\n     \"pontos_chave\": [\n       \"Ponto principal 1\",\n       \"Ponto principal 2\",\n       \"Ponto principal 3\",\n       \"Ponto principal 4 (opcional)\"\n     ],\n     \"resumo\": \"Uma frase explicativa do conceito central\"\n   }\n ]\n}","method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/ff875e15-5519-4da8-bb1f-100884628bf8","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[460,280],"id":"4c3795a8-59e7-4307-bdce-4f12709a7d8c","name":"Gerando_Imagens"},{"parameters":{"httpMethod":"POST","path":"78631e44-1c30-4dc3-9ff2-0098c4190223","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,60],"id":"7e9928f8-6f15-40be-905a-6e4c50547700","name":"Webhook","webhookId":"78631e44-1c30-4dc3-9ff2-0098c4190223"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-340,700],"id":"28815c15-6a15-457e-a509-f6ba311970a2","name":"When chat message received","webhookId":"f41fd03c-c8af-4539-977f-61e68cec9685"},{"parameters":{"options":{"systemMessage":"=Você é um agente especializado em criação de conteúdo educacional. Siga estas etapas OBRIGATORIAMENTE:\n\nETAPA 1 - COLETA DE INFORMAÇÕES:\nPrimeiro, pergunte ao usuário:\n\"Sobre o tema '{{ $json.chatInput }}', você tem algum tópico específico que gostaria de incluir obrigatoriamente na lista? Responda com os tópicos desejados ou digite 'NENHUM' se não tiver preferências específicas.\"\nAGUARDE A RESPOSTA DO USUÁRIO antes de prosseguir para a Etapa 2.\n\nETAPA 2 - GERAÇÃO DE CONTEÚDO:\nSomente após receber a resposta do usuário, crie uma lista de tópicos sobre {{ $json.chatInput }} com base nas seguintes configurações:\nConfigurações obrigatórias:\n- Quantidade de tópicos: [USUÁRIO DEVE INFORMAR O NÚMERO]\n- Tópicos específicos obrigatórios: [USAR A RESPOSTA DA ETAPA 1]\n- Tema: {{ $json.chatInput }}\n- Nível: intermediário\n- Público-alvo: Geral\n\nCritérios de conteúdo:\n- Linguagem didática e acessível\n- Relevância prática para iniciantes/intermediários\n- Sequência lógica de aprendizado\n- Foco em conceitos fundamentais e práticos\n- Cada tópico deve ter 3-4 pontos-chave explicativos\n- Incluir uma frase resumo por tópico\n\nESTRUTURA JSON para a tool:\n{\n\"titulo_geral\": \"Título Principal do Tema\",\n\"quantidade_topicos\": X,\n\"topicos\": [\n  {\n    \"id\": 1,\n    \"titulo\": \"Título do Tópico\",\n    \"pontos_chave\": [\n      \"Ponto principal 1\",\n      \"Ponto principal 2\",\n      \"Ponto principal 3\",\n      \"Ponto principal 4 (opcional)\"\n    ],\n    \"resumo\": \"Uma frase explicativa do conceito central\"\n  }\n]\n}\n\nETAPA 3 - GERAÇÃO DE IMAGENS:\nIMEDIATAMENTE após criar o JSON, chame a tool #Gerando_Imagens passando o JSON completo como parâmetro.\n\nETAPA 4 - DISPONIBILIZAÇÃO DOS LINKS:\nQuando você receber a resposta da tool com o array de links, extraia todos os URLs do array \"links\" e envie em uma única mensagem, separando cada link com uma quebra de linha (\\n).\n\nFORMATO DA RESPOSTA DA TOOL:\n{\n  \"links\": [\n    \"https://drive.google.com/file/d/ID1/view?usp=drivesdk\",\n    \"https://drive.google.com/file/d/ID2/view?usp=drivesdk\"\n  ]\n}\n\nResponda ao usuário com todos os links assim:\nhttps://drive.google.com/file/d/ID1/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID2/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID3/view?usp=drivesdk\n\nREGRAS CRÍTICAS:\n1. NUNCA pule a Etapa 1 - sempre pergunte primeiro\n2. Na Etapa 1: responda APENAS com a pergunta\n3. Na Etapa 2: crie o JSON internamente (não mostre ao usuário)\n4. Na Etapa 3: SEMPRE chame a tool #Gerando_Imagens com o JSON\n5. Na Etapa 4: envie todos os links juntos, separados apenas por quebra de linha\n6. Se o usuário informou tópicos específicos, OBRIGATORIAMENTE os inclua na lista\n7. TODAS as 4 etapas devem ser executadas em sequência\n8. O usuário só deve ver a pergunta da Etapa 1 e depois todos os links juntos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[100,700],"id":"5d62a014-ea55-4720-9efa-176b399a6233","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,920],"id":"9b99f648-fb37-4743-b9e1-7be33b366bce","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"## CURADORIA DO CONTEÚDO","height":420,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-140,640],"typeVersion":1,"id":"7bf922af-29ce-42d6-92a9-b855a937169e","name":"Sticky Note"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,920],"id":"05c38a62-975d-4359-8b45-56f013daf759","name":"Simple Memory"},{"parameters":{"toolDescription":"Chame esta ferramenta quando tiver o json estruturado.\n\n{\n \"titulo_geral\": \"Título Principal do Tema\",\n \"quantidade_topicos\": X,\n \"topicos\": [\n   {\n     \"id\": 1,\n     \"titulo\": \"Título do Tópico\",\n     \"pontos_chave\": [\n       \"Ponto principal 1\",\n       \"Ponto principal 2\",\n       \"Ponto principal 3\",\n       \"Ponto principal 4 (opcional)\"\n     ],\n     \"resumo\": \"Uma frase explicativa do conceito central\"\n   }\n ]\n}","method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/ff875e15-5519-4da8-bb1f-100884628bf8","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[460,920],"id":"53756440-eecc-4053-93e6-aa9bfb145b69","name":"Gerando_Imagens1"}],"connections":{"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Gerando_Imagens":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Gerando_Imagens1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"abbcd61b-9d37-47bd-bee6-30ef48843f4c","activeVersionId":"abbcd61b-9d37-47bd-bee6-30ef48843f4c","triggerCount":2,"shared":[{"updatedAt":"2025-06-12T17:06:16.365Z","createdAt":"2025-06-12T17:06:16.365Z","role":"workflow:owner","workflowId":"EEJeEBJpCSygny98","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"abbcd61b-9d37-47bd-bee6-30ef48843f4c","workflowId":"EEJeEBJpCSygny98","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.body.data.message.conversation }}","options":{"systemMessage":"=Você é um agente especializado em criação de conteúdo educacional. Siga estas etapas OBRIGATORIAMENTE:\n\nETAPA 1 - COLETA DE INFORMAÇÕES:\nPrimeiro, pergunte ao usuário:\n\"Sobre o tema '{{ $json.chatInput }}', você tem algum tópico específico que gostaria de incluir obrigatoriamente na lista? Responda com os tópicos desejados ou digite 'NENHUM' se não tiver preferências específicas.\"\nAGUARDE A RESPOSTA DO USUÁRIO antes de prosseguir para a Etapa 2.\n\nETAPA 2 - GERAÇÃO DE CONTEÚDO:\nSomente após receber a resposta do usuário, crie uma lista de tópicos sobre {{ $json.chatInput }} com base nas seguintes configurações:\nConfigurações obrigatórias:\n- Quantidade de tópicos: [USUÁRIO DEVE INFORMAR O NÚMERO]\n- Tópicos específicos obrigatórios: [USAR A RESPOSTA DA ETAPA 1]\n- Tema: {{ $json.chatInput }}\n- Nível: intermediário\n- Público-alvo: Geral\n\nCritérios de conteúdo:\n- Linguagem didática e acessível\n- Relevância prática para iniciantes/intermediários\n- Sequência lógica de aprendizado\n- Foco em conceitos fundamentais e práticos\n- Cada tópico deve ter 3-4 pontos-chave explicativos\n- Incluir uma frase resumo por tópico\n\nESTRUTURA JSON para a tool:\n{\n\"titulo_geral\": \"Título Principal do Tema\",\n\"quantidade_topicos\": X,\n\"topicos\": [\n  {\n    \"id\": 1,\n    \"titulo\": \"Título do Tópico\",\n    \"pontos_chave\": [\n      \"Ponto principal 1\",\n      \"Ponto principal 2\",\n      \"Ponto principal 3\",\n      \"Ponto principal 4 (opcional)\"\n    ],\n    \"resumo\": \"Uma frase explicativa do conceito central\"\n  }\n]\n}\n\nETAPA 3 - GERAÇÃO DE IMAGENS:\nIMEDIATAMENTE após criar o JSON, chame a tool #Gerando_Imagens passando o JSON completo como parâmetro.\n\nETAPA 4 - DISPONIBILIZAÇÃO DOS LINKS:\nQuando você receber a resposta da tool com o array de links, extraia todos os URLs do array \"links\" e envie em uma única mensagem, separando cada link com uma quebra de linha (\\n).\n\nFORMATO DA RESPOSTA DA TOOL:\n{\n  \"links\": [\n    \"https://drive.google.com/file/d/ID1/view?usp=drivesdk\",\n    \"https://drive.google.com/file/d/ID2/view?usp=drivesdk\"\n  ]\n}\n\nResponda ao usuário com todos os links assim:\nhttps://drive.google.com/file/d/ID1/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID2/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID3/view?usp=drivesdk\n\nREGRAS CRÍTICAS:\n1. NUNCA pule a Etapa 1 - sempre pergunte primeiro\n2. Na Etapa 1: responda APENAS com a pergunta\n3. Na Etapa 2: crie o JSON internamente (não mostre ao usuário)\n4. Na Etapa 3: SEMPRE chame a tool #Gerando_Imagens com o JSON\n5. Na Etapa 4: envie todos os links juntos, separados apenas por quebra de linha\n6. Se o usuário informou tópicos específicos, OBRIGATORIAMENTE os inclua na lista\n7. TODAS as 4 etapas devem ser executadas em sequência\n8. O usuário só deve ver a pergunta da Etapa 1 e depois todos os links juntos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[100,60],"id":"2a42f169-82ed-4cfd-9396-984373ac515a","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,280],"id":"dfc6fd8a-2b4a-40fa-ab67-41d7a6a303af","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"## CURADORIA DO CONTEÚDO","height":420,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-140,0],"typeVersion":1,"id":"aa1b30d3-7988-4d1c-9dc0-e4ccd760f5a1","name":"Sticky Note1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,280],"id":"06e76b9c-de84-4008-963f-5f6db117589b","name":"Simple Memory1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[720,60],"id":"09971d46-c64b-4638-93ef-1bc21bb7c3d5","name":"Respond to Webhook"},{"parameters":{"toolDescription":"Chame esta ferramenta quando tiver o json estruturado.\n\n{\n \"titulo_geral\": \"Título Principal do Tema\",\n \"quantidade_topicos\": X,\n \"topicos\": [\n   {\n     \"id\": 1,\n     \"titulo\": \"Título do Tópico\",\n     \"pontos_chave\": [\n       \"Ponto principal 1\",\n       \"Ponto principal 2\",\n       \"Ponto principal 3\",\n       \"Ponto principal 4 (opcional)\"\n     ],\n     \"resumo\": \"Uma frase explicativa do conceito central\"\n   }\n ]\n}","method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/ff875e15-5519-4da8-bb1f-100884628bf8","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[460,280],"id":"4c3795a8-59e7-4307-bdce-4f12709a7d8c","name":"Gerando_Imagens"},{"parameters":{"httpMethod":"POST","path":"78631e44-1c30-4dc3-9ff2-0098c4190223","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,60],"id":"7e9928f8-6f15-40be-905a-6e4c50547700","name":"Webhook","webhookId":"78631e44-1c30-4dc3-9ff2-0098c4190223"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-340,700],"id":"28815c15-6a15-457e-a509-f6ba311970a2","name":"When chat message received","webhookId":"f41fd03c-c8af-4539-977f-61e68cec9685"},{"parameters":{"options":{"systemMessage":"=Você é um agente especializado em criação de conteúdo educacional. Siga estas etapas OBRIGATORIAMENTE:\n\nETAPA 1 - COLETA DE INFORMAÇÕES:\nPrimeiro, pergunte ao usuário:\n\"Sobre o tema '{{ $json.chatInput }}', você tem algum tópico específico que gostaria de incluir obrigatoriamente na lista? Responda com os tópicos desejados ou digite 'NENHUM' se não tiver preferências específicas.\"\nAGUARDE A RESPOSTA DO USUÁRIO antes de prosseguir para a Etapa 2.\n\nETAPA 2 - GERAÇÃO DE CONTEÚDO:\nSomente após receber a resposta do usuário, crie uma lista de tópicos sobre {{ $json.chatInput }} com base nas seguintes configurações:\nConfigurações obrigatórias:\n- Quantidade de tópicos: [USUÁRIO DEVE INFORMAR O NÚMERO]\n- Tópicos específicos obrigatórios: [USAR A RESPOSTA DA ETAPA 1]\n- Tema: {{ $json.chatInput }}\n- Nível: intermediário\n- Público-alvo: Geral\n\nCritérios de conteúdo:\n- Linguagem didática e acessível\n- Relevância prática para iniciantes/intermediários\n- Sequência lógica de aprendizado\n- Foco em conceitos fundamentais e práticos\n- Cada tópico deve ter 3-4 pontos-chave explicativos\n- Incluir uma frase resumo por tópico\n\nESTRUTURA JSON para a tool:\n{\n\"titulo_geral\": \"Título Principal do Tema\",\n\"quantidade_topicos\": X,\n\"topicos\": [\n  {\n    \"id\": 1,\n    \"titulo\": \"Título do Tópico\",\n    \"pontos_chave\": [\n      \"Ponto principal 1\",\n      \"Ponto principal 2\",\n      \"Ponto principal 3\",\n      \"Ponto principal 4 (opcional)\"\n    ],\n    \"resumo\": \"Uma frase explicativa do conceito central\"\n  }\n]\n}\n\nETAPA 3 - GERAÇÃO DE IMAGENS:\nIMEDIATAMENTE após criar o JSON, chame a tool #Gerando_Imagens passando o JSON completo como parâmetro.\n\nETAPA 4 - DISPONIBILIZAÇÃO DOS LINKS:\nQuando você receber a resposta da tool com o array de links, extraia todos os URLs do array \"links\" e envie em uma única mensagem, separando cada link com uma quebra de linha (\\n).\n\nFORMATO DA RESPOSTA DA TOOL:\n{\n  \"links\": [\n    \"https://drive.google.com/file/d/ID1/view?usp=drivesdk\",\n    \"https://drive.google.com/file/d/ID2/view?usp=drivesdk\"\n  ]\n}\n\nResponda ao usuário com todos os links assim:\nhttps://drive.google.com/file/d/ID1/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID2/view?usp=drivesdk\nhttps://drive.google.com/file/d/ID3/view?usp=drivesdk\n\nREGRAS CRÍTICAS:\n1. NUNCA pule a Etapa 1 - sempre pergunte primeiro\n2. Na Etapa 1: responda APENAS com a pergunta\n3. Na Etapa 2: crie o JSON internamente (não mostre ao usuário)\n4. Na Etapa 3: SEMPRE chame a tool #Gerando_Imagens com o JSON\n5. Na Etapa 4: envie todos os links juntos, separados apenas por quebra de linha\n6. Se o usuário informou tópicos específicos, OBRIGATORIAMENTE os inclua na lista\n7. TODAS as 4 etapas devem ser executadas em sequência\n8. O usuário só deve ver a pergunta da Etapa 1 e depois todos os links juntos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[100,700],"id":"5d62a014-ea55-4720-9efa-176b399a6233","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,920],"id":"9b99f648-fb37-4743-b9e1-7be33b366bce","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"## CURADORIA DO CONTEÚDO","height":420,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-140,640],"typeVersion":1,"id":"7bf922af-29ce-42d6-92a9-b855a937169e","name":"Sticky Note"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,920],"id":"05c38a62-975d-4359-8b45-56f013daf759","name":"Simple Memory"},{"parameters":{"toolDescription":"Chame esta ferramenta quando tiver o json estruturado.\n\n{\n \"titulo_geral\": \"Título Principal do Tema\",\n \"quantidade_topicos\": X,\n \"topicos\": [\n   {\n     \"id\": 1,\n     \"titulo\": \"Título do Tópico\",\n     \"pontos_chave\": [\n       \"Ponto principal 1\",\n       \"Ponto principal 2\",\n       \"Ponto principal 3\",\n       \"Ponto principal 4 (opcional)\"\n     ],\n     \"resumo\": \"Uma frase explicativa do conceito central\"\n   }\n ]\n}","method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/ff875e15-5519-4da8-bb1f-100884628bf8","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[460,920],"id":"53756440-eecc-4053-93e6-aa9bfb145b69","name":"Gerando_Imagens1"}],"connections":{"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Gerando_Imagens":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Gerando_Imagens1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}