doc-assinado---zapsign-Wsd2rXHxeczqAF4k.json
{"updatedAt":"2025-11-16T11:23:05.258Z","createdAt":"2025-08-11T18:12:22.591Z","id":"Wsd2rXHxeczqAF4k","name":"DOC ASSINADO - ZAPSIGN","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"0b480195-0237-43df-a741-044dd3979196","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-32],"id":"d777600d-7c5e-43fb-84b9-5ae3412fd9de","name":"Assinado","webhookId":"0b480195-0237-43df-a741-044dd3979196"},{"parameters":{"httpMethod":"POST","path":"18085604-0470-400e-a84a-beb3ba9c9dae","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-192],"id":"84e49f19-0e1d-413d-b79c-3b49a311e3eb","name":"Visualizado","webhookId":"18085604-0470-400e-a84a-beb3ba9c9dae"},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=[ZAPSIGN NOTIFICACOES] \n\n{{ $json.body.signer_who_viewed.name }} - {{ $json.body.signer_who_viewed.email }} \n\nACABOU DE VISUALIZAR O DOCUMENTO *{{ $json.body.name }}*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,-192],"id":"dfedcce3-a473-4ba3-a611-813f44e4b71a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=[ZAPSIGN NOTIFICACOES] \n\nDOCUMENTO ASSINADO *{{ $json.body.name }}*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,-32],"id":"f9e65ffd-defc-48f7-be32-59c7655e9d53","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}}],"connections":{"Visualizado":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Assinado":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3e641ef0-a776-46c1-982b-8e6365585ee6","activeVersionId":"3e641ef0-a776-46c1-982b-8e6365585ee6","triggerCount":2,"shared":[{"updatedAt":"2025-08-11T18:12:22.591Z","createdAt":"2025-08-11T18:12:22.591Z","role":"workflow:owner","workflowId":"Wsd2rXHxeczqAF4k","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"3e641ef0-a776-46c1-982b-8e6365585ee6","workflowId":"Wsd2rXHxeczqAF4k","nodes":[{"parameters":{"httpMethod":"POST","path":"0b480195-0237-43df-a741-044dd3979196","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-32],"id":"d777600d-7c5e-43fb-84b9-5ae3412fd9de","name":"Assinado","webhookId":"0b480195-0237-43df-a741-044dd3979196"},{"parameters":{"httpMethod":"POST","path":"18085604-0470-400e-a84a-beb3ba9c9dae","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-192],"id":"84e49f19-0e1d-413d-b79c-3b49a311e3eb","name":"Visualizado","webhookId":"18085604-0470-400e-a84a-beb3ba9c9dae"},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=[ZAPSIGN NOTIFICACOES] \n\n{{ $json.body.signer_who_viewed.name }} - {{ $json.body.signer_who_viewed.email }} \n\nACABOU DE VISUALIZAR O DOCUMENTO *{{ $json.body.name }}*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,-192],"id":"dfedcce3-a473-4ba3-a611-813f44e4b71a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"556293474664","messageText":"=[ZAPSIGN NOTIFICACOES] \n\nDOCUMENTO ASSINADO *{{ $json.body.name }}*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,-32],"id":"f9e65ffd-defc-48f7-be32-59c7655e9d53","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}}],"connections":{"Visualizado":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Assinado":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}