enviar-acesso-manual-YcVQn2STBpf8bPiY.json
{"updatedAt":"2025-08-12T00:56:41.139Z","createdAt":"2025-08-12T00:16:13.946Z","id":"YcVQn2STBpf8bPiY","name":"Enviar Acesso Manual","active":false,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $json.email }}","subject":"Seu acesso - Intellizapp","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Seu acesso ao InteliZapp está pronto!</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f5f5f5;\n            color: #333;\n            line-height: 1.6;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: white;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #25D366, #128C7E);\n            color: white;\n            padding: 40px 30px;\n            text-align: center;\n        }\n        \n        .logo {\n            font-size: 32px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .welcome-title {\n            font-size: 24px;\n            color: #128C7E;\n            margin-bottom: 20px;\n            text-align: center;\n        }\n        \n        .message {\n            font-size: 16px;\n            margin-bottom: 30px;\n            text-align: center;\n            color: #555;\n        }\n        \n        .credentials-box {\n            background-color: #f8f9fa;\n            border: 2px solid #e9ecef;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n        }\n        \n        .credentials-title {\n            font-size: 18px;\n            font-weight: bold;\n            color: #128C7E;\n            margin-bottom: 15px;\n            text-align: center;\n        }\n        \n        .credential-item {\n            margin-bottom: 15px;\n        }\n        \n        .credential-label {\n            font-weight: bold;\n            color: #333;\n            display: block;\n            margin-bottom: 5px;\n        }\n        \n        .credential-value {\n            background-color: white;\n            padding: 10px;\n            border-radius: 5px;\n            border: 1px solid #ddd;\n            font-family: monospace;\n            font-size: 14px;\n            word-break: break-all;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #25D366, #128C7E);\n            color: white;\n            padding: 15px 30px;\n            text-decoration: none;\n            border-radius: 25px;\n            font-size: 16px;\n            font-weight: bold;\n            margin: 20px 0;\n            text-align: center;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .button-container {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .steps {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            font-weight: bold;\n            color: #128C7E;\n            margin-bottom: 20px;\n            text-align: center;\n        }\n        \n        .step {\n            display: flex;\n            align-items: flex-start;\n            margin-bottom: 15px;\n        }\n        \n        .step-number {\n            background-color: #25D366;\n            color: white;\n            border-radius: 50%;\n            width: 25px;\n            height: 25px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n            margin-right: 15px;\n            flex-shrink: 0;\n        }\n        \n        .step-text {\n            font-size: 14px;\n            color: #555;\n        }\n        \n        .warning-box {\n            background-color: #fff3cd;\n            border: 1px solid #ffeaa7;\n            border-radius: 5px;\n            padding: 15px;\n            margin: 20px 0;\n        }\n        \n        .warning-text {\n            font-size: 14px;\n            color: #856404;\n            text-align: center;\n        }\n        \n        .footer {\n            background-color: #f8f9fa;\n            padding: 30px;\n            text-align: center;\n            border-top: 1px solid #e9ecef;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            color: #666;\n            margin-bottom: 10px;\n        }\n        \n        .support-text {\n            font-size: 12px;\n            color: #888;\n        }\n        \n        .support-link {\n            color: #128C7E;\n            text-decoration: none;\n        }\n        \n        @media only screen and (max-width: 600px) {\n            .container {\n                margin: 10px;\n            }\n            \n            .header, .content, .footer {\n                padding: 20px;\n            }\n            \n            .logo {\n                font-size: 24px;\n            }\n            \n            .welcome-title {\n                font-size: 20px;\n            }\n            \n            .credentials-box, .steps {\n                padding: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 InteliZapp</div>\n            <div class=\"header-subtitle\">Automação Inteligente para WhatsApp</div>\n        </div>\n\n        <!-- Main Content -->\n        <div class=\"content\">\n            <h1 class=\"welcome-title\">🎉 Seu acesso está pronto!</h1>\n            \n            <p class=\"message\">\n                Olá <strong>{{ $json.email }}</strong>!<br><br>\n                Ficamos muito felizes em ter você conosco. Sua conta no InteliZapp foi criada com sucesso \n                e você já pode começar a usar todas as funcionalidades da nossa plataforma.\n            </p>\n\n            <!-- Credentials Box -->\n            <div class=\"credentials-box\">\n                <div class=\"credentials-title\">🔐 Suas credenciais de acesso</div>\n                \n                <div class=\"credential-item\">\n                    <span class=\"credential-label\">Email:</span>\n                    <div class=\"credential-value\">{{ $json.email }}</div>\n                </div>\n                \n                <div class=\"credential-item\">\n                    <span class=\"credential-label\">Senha:</span>\n                    <div class=\"credential-value\">{{ $json.senha }}</div>\n                </div>\n\n            </div>\n\n            <!-- Warning -->\n            <div class=\"warning-box\">\n                <div class=\"warning-text\">\n                    ⚠️ <strong>Importante:</strong> Por segurança, recomendamos que você altere sua senha \n                    no primeiro acesso através das configurações da sua conta.\n                </div>\n            </div>\n\n            <!-- CTA Button -->\n            <div class=\"button-container\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🚀 Acessar minha conta\n                </a>\n            </div>\n\n            <!-- Getting Started Steps -->\n            <div class=\"steps\">\n                <div class=\"steps-title\">🎯 Primeiros passos</div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">1</div>\n                    <div class=\"step-text\">\n                        <strong>Faça login</strong> usando suas credenciais acima\n                    </div>\n                </div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">2</div>\n                    <div class=\"step-text\">\n                        <strong>Conecte seu WhatsApp</strong> escaneando o QR Code nas configurações\n                    </div>\n                </div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">3</div>\n                    <div class=\"step-text\">\n                        <strong>Configure seus grupos</strong> para começar a receber resumos automáticos\n                    </div>\n                </div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">4</div>\n                    <div class=\"step-text\">\n                        <strong>Personalize suas configurações</strong> e explore todas as funcionalidades\n                    </div>\n                </div>\n            </div>\n\n            <p class=\"message\">\n                🌟 <strong>Dica:</strong> Explore o dashboard para ver todas as métricas e relatórios \n                dos seus grupos do WhatsApp em tempo real!\n            </p>\n        </div>\n\n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                <strong>InteliZapp</strong> - Transforme suas conversas em insights valiosos\n            </p>\n            <p class=\"support-text\">\n                Precisa de ajuda? Entre em contato com nosso \n                <a href=\"mailto:suporte@intellizapp.com.br\" class=\"support-link\">suporte técnico</a>\n            </p>\n            <p class=\"support-text\">\n                Este é um email automático, não responda esta mensagem.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-448,288],"id":"91f8bc9d-2df2-4e9c-91b0-1701cee4e44e","name":"Send NEW USER1","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-656,80],"id":"433e339a-a4f7-4ef8-bbd7-9cacaf47e728","name":"When clicking ‘Execute workflow’"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Seu acesso ao InteliZapp está pronto!</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f5f5f5;\n            color: #333;\n            line-height: 1.6;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: white;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #25D366, #128C7E);\n            color: white;\n            padding: 40px 30px;\n            text-align: center;\n        }\n        \n        .logo {\n            font-size: 32px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .welcome-title {\n            font-size: 24px;\n            color: #128C7E;\n            margin-bottom: 20px;\n            text-align: center;\n        }\n        \n        .message {\n            font-size: 16px;\n            margin-bottom: 30px;\n            text-align: center;\n            color: #555;\n        }\n        \n        .credentials-box {\n            background-color: #f8f9fa;\n            border: 2px solid #e9ecef;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n        }\n        \n        .credentials-title {\n            font-size: 18px;\n            font-weight: bold;\n            color: #128C7E;\n            margin-bottom: 15px;\n            text-align: center;\n        }\n        \n        .credential-item {\n            margin-bottom: 15px;\n        }\n        \n        .credential-label {\n            font-weight: bold;\n            color: #333;\n            display: block;\n            margin-bottom: 5px;\n        }\n        \n        .credential-value {\n            background-color: white;\n            padding: 10px;\n            border-radius: 5px;\n            border: 1px solid #ddd;\n            font-family: monospace;\n            font-size: 14px;\n            word-break: break-all;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #25D366, #128C7E);\n            color: white;\n            padding: 15px 30px;\n            text-decoration: none;\n            border-radius: 25px;\n            font-size: 16px;\n            font-weight: bold;\n            margin: 20px 0;\n            text-align: center;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .button-container {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .steps {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            font-weight: bold;\n            color: #128C7E;\n            margin-bottom: 20px;\n            text-align: center;\n        }\n        \n        .step {\n            display: flex;\n            align-items: flex-start;\n            margin-bottom: 15px;\n        }\n        \n        .step-number {\n            background-color: #25D366;\n            color: white;\n            border-radius: 50%;\n            width: 25px;\n            height: 25px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n            margin-right: 15px;\n            flex-shrink: 0;\n        }\n        \n        .step-text {\n            font-size: 14px;\n            color: #555;\n        }\n        \n        .warning-box {\n            background-color: #fff3cd;\n            border: 1px solid #ffeaa7;\n            border-radius: 5px;\n            padding: 15px;\n            margin: 20px 0;\n        }\n        \n        .warning-text {\n            font-size: 14px;\n            color: #856404;\n            text-align: center;\n        }\n        \n        .footer {\n            background-color: #f8f9fa;\n            padding: 30px;\n            text-align: center;\n            border-top: 1px solid #e9ecef;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            color: #666;\n            margin-bottom: 10px;\n        }\n        \n        .support-text {\n            font-size: 12px;\n            color: #888;\n        }\n        \n        .support-link {\n            color: #128C7E;\n            text-decoration: none;\n        }\n        \n        @media only screen and (max-width: 600px) {\n            .container {\n                margin: 10px;\n            }\n            \n            .header, .content, .footer {\n                padding: 20px;\n            }\n            \n            .logo {\n                font-size: 24px;\n            }\n            \n            .welcome-title {\n                font-size: 20px;\n            }\n            \n            .credentials-box, .steps {\n                padding: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 InteliZapp</div>\n            <div class=\"header-subtitle\">Automação Inteligente para WhatsApp</div>\n        </div>\n\n        <!-- Main Content -->\n        <div class=\"content\">\n            <h1 class=\"welcome-title\">🎉 Seu acesso está pronto!</h1>\n            \n            <p class=\"message\">\n                Olá <strong>{{NOME_USUARIO}}</strong>!<br><br>\n                Ficamos muito felizes em ter você conosco. Sua conta no InteliZapp foi criada com sucesso \n                e você já pode começar a usar todas as funcionalidades da nossa plataforma.\n            </p>\n\n            <!-- Credentials Box -->\n            <div class=\"credentials-box\">\n                <div class=\"credentials-title\">🔐 Suas credenciais de acesso</div>\n                \n                <div class=\"credential-item\">\n                    <span class=\"credential-label\">Email:</span>\n                    <div class=\"credential-value\">{{EMAIL_USUARIO}}</div>\n                </div>\n                \n                <div class=\"credential-item\">\n                    <span class=\"credential-label\">Senha:</span>\n                    <div class=\"credential-value\">!es!A#Wt3Iu65%7p</div>\n                </div>\n\n            </div>\n\n            <!-- Warning -->\n            <div class=\"warning-box\">\n                <div class=\"warning-text\">\n                    ⚠️ <strong>Importante:</strong> Por segurança, recomendamos que você altere sua senha \n                    no primeiro acesso através das configurações da sua conta.\n                </div>\n            </div>\n\n            <!-- CTA Button -->\n            <div class=\"button-container\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🚀 Acessar minha conta\n                </a>\n            </div>\n\n            <!-- Getting Started Steps -->\n            <div class=\"steps\">\n                <div class=\"steps-title\">🎯 Primeiros passos</div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">1</div>\n                    <div class=\"step-text\">\n                        <strong>Faça login</strong> usando suas credenciais acima\n                    </div>\n                </div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">2</div>\n                    <div class=\"step-text\">\n                        <strong>Conecte seu WhatsApp</strong> escaneando o QR Code nas configurações\n                    </div>\n                </div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">3</div>\n                    <div class=\"step-text\">\n                        <strong>Configure seus grupos</strong> para começar a receber resumos automáticos\n                    </div>\n                </div>\n                \n                <div class=\"step\">\n                    <div class=\"step-number\">4</div>\n                    <div class=\"step-text\">\n                        <strong>Personalize suas configurações</strong> e explore todas as funcionalidades\n                    </div>\n                </div>\n            </div>\n\n            <p class=\"message\">\n                🌟 <strong>Dica:</strong> Explore o dashboard para ver todas as métricas e relatórios \n                dos seus grupos do WhatsApp em tempo real!\n            </p>\n        </div>\n\n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                <strong>InteliZapp</strong> - Transforme suas conversas em insights valiosos\n            </p>\n            <p class=\"support-text\">\n                Precisa de ajuda? Entre em contato com nosso \n                <a href=\"mailto:suporte@intellizapp.com.br\" class=\"support-link\">suporte técnico</a>\n            </p>\n            <p class=\"support-text\">\n                Este é um email automático, não responda esta mensagem.\n            </p>\n        </div>\n    </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-448,80],"id":"a62fa428-1978-4dc4-a253-a18492d7f723","name":"HTML"},{"parameters":{"formTitle":"Acesso Manual","formFields":{"values":[{"fieldLabel":"email","fieldType":"email","requiredField":true},{"fieldLabel":"senha","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-656,288],"id":"448fbd44-c6e7-4372-a1d0-e6b9ceeed726","name":"On form submission","webhookId":"ed9a1bfc-65ac-44a2-8c87-bee2928fef1f"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[]]},"Send NEW USER1":{"main":[[]]},"On form submission":{"main":[[{"node":"Send NEW USER1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9c92f1f5-6055-4daa-b4bf-14baa5910525","triggerCount":0,"shared":[{"updatedAt":"2025-08-12T00:16:13.946Z","createdAt":"2025-08-12T00:16:13.946Z","role":"workflow:owner","workflowId":"YcVQn2STBpf8bPiY","projectId":"BlSED80HESP48veq"}],"tags":[]}