etapa-1-–-captura-de-mensagens-8XnTV01k4ff4S9iY.json
{"updatedAt":"2025-05-09T14:34:56.511Z","createdAt":"2025-04-24T14:22:41.342Z","id":"8XnTV01k4ff4S9iY","name":"Etapa 1 – Captura de Mensagens","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-280,-140],"id":"786853f6-23c7-4d11-8324-ef7bd402ab25","name":"30 minutos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-140],"id":"01354778-6a76-4d5e-a326-49f3b1dd8df9","name":"Pra cada grupo"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `grupos`\n  WHERE `id-grupo-externo` = \"120363027444232484@g.us\";","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-60,-140],"id":"17c21eb9-d397-4532-b052-33ef8160aa4d","name":"Query - Pegar grupos","credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `msg`\n  WHERE `grupo-id` = \"{{ $json[\"id-grupo-externo\"] }}\"","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[400,-420],"id":"9a2c4ae0-456b-4f32-a8b3-e0c8e12ccd32","name":"Query - Pegar mensagens do grupo","credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"workflowId":{"__rl":true,"value":"xFA1OkxRlVwlT3zV","mode":"list","cachedResultName":"AGENT-WZAP-NOVA-TASK"},"workflowInputs":{"mappingMode":"defineBelow","value":{"grupo-id":"={{ $('Pra cada grupo').item.json[\"id-grupo-externo\"] }}"},"matchingColumns":["grupo-id"],"schema":[{"id":"grupo-id","displayName":"grupo-id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1000,-420],"id":"4a71fa84-2a57-4142-99fb-3c0253e6c49f","name":"Invoke AGENT-WZAP-NOVA-TASK","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"025c24b5-f288-4b3c-8b67-9ce190b7848e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,-420],"id":"40d89cb3-7405-4522-af07-04a8ca6b72ca","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f2ecce6-01a1-48dc-a823-2cc6ead555a4","leftValue":"={{ $json.return }}","rightValue":"NULL","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,-420],"id":"8586431f-72b9-4a34-b7c6-fd8b7d206f7e","name":"IF not NULL"},{"parameters":{"promptType":"define","text":"=Você faz parte do time da C&D Blindagem Digital e Camozzi COnsultoria, em tese é a mesma empresa, trabalhamos com consultoria Jurídica e Empresarial.\nSeu papel é entender a semanda de acordo com o que recebeu e informar o nosso controler(pessoa responsavel por criar as solicitações no nosso CLICKUP).\n\nVocê vai usar linguagem tecnica para informar isso ao controler. Fale o nome do cliente, o grupo que ele está solicitando o tipo da solicitação\n\nO conteúdo que você vai analisar são mensagens de um grupo de whatsapp e cada cliente tem seu grupo, o nome do grupo desse cliente é: {{ $('Pra cada grupo').item.json.nome }}\n\nAnálise de outro agente com a tarefa solicitada: {{ $('Invoke AGENT-WZAP-NOVA-TASK').item.json.return }}\n\nNão passe as informações para o controler em JSON, passe em uma linguagem coloquial a estrutura da tarefa.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1520,-120],"id":"7dcccfca-d242-417d-95b6-4efd217b0c1e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1500,100],"id":"c6f641ad-8ca7-47a5-a2bc-866885feddd5","name":"4o Mini","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://prod-47.westus.logic.azure.com:443/workflows/3343502ad0ce480f81e43f20d241ca23/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1MqeEff1-YgI5EQZBRKxDJbrHFp1aXUi9sP4ZCPhods","sendBody":true,"bodyParameters":{"parameters":[{"name":"=email","value":"ti01@camozziconsultoria.com.br"},{"name":"mensagem","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,-100],"id":"3d41870b-99b5-44f5-a7b5-28ecacde3c9b","name":"Teams - Enviar primeiro aviso"}],"connections":{"30 minutos":{"main":[[{"node":"Query - Pegar grupos","type":"main","index":0}]]},"Pra cada grupo":{"main":[[],[{"node":"Query - Pegar mensagens do grupo","type":"main","index":0}]]},"Query - Pegar grupos":{"main":[[{"node":"Pra cada grupo","type":"main","index":0}]]},"Query - Pegar mensagens do grupo":{"main":[[{"node":"If","type":"main","index":0}]]},"Invoke AGENT-WZAP-NOVA-TASK":{"main":[[{"node":"IF not NULL","type":"main","index":0}]]},"If":{"main":[[{"node":"Invoke AGENT-WZAP-NOVA-TASK","type":"main","index":0}],[{"node":"Pra cada grupo","type":"main","index":0}]]},"IF not NULL":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Pra cada grupo","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Pra cada grupo","type":"main","index":0},{"node":"Teams - Enviar primeiro aviso","type":"main","index":0}]]},"4o Mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Teams - Enviar primeiro aviso":{"main":[[{"node":"Pra cada grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"17a99c35-0347-459c-8f98-2409a7af1f15","triggerCount":0,"shared":[{"updatedAt":"2025-04-24T14:22:41.342Z","createdAt":"2025-04-24T14:22:41.342Z","role":"workflow:owner","workflowId":"8XnTV01k4ff4S9iY","projectId":"BlSED80HESP48veq"}],"tags":[{"updatedAt":"2025-04-15T17:22:06.213Z","createdAt":"2025-04-15T17:22:06.213Z","id":"dj75wiwsp56Shp4j","name":"WZAP"}]}