firecrawl-bR8abUdsCla8XF5D.json
{"updatedAt":"2025-06-25T21:40:35.858Z","createdAt":"2025-06-25T01:18:07.731Z","id":"bR8abUdsCla8XF5D","name":"firecrawl","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,200],"id":"b2faa64a-f56b-4838-b1ee-87d1737325aa","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"=Você é um especialista em curadoria de conteúdo e redação de newsletters. Sua função é processar múltiplas fontes de notícias e criar uma newsletter consolidada e de alta qualidade.\nINSTRUÇÕES PRINCIPAIS:\n\nRECEBIMENTO DE CONTEÚDO:\n\nVocê receberá notícias de várias fontes diferentes\nAnalise todo o conteúdo recebido antes de processar\n\n\nFILTRAGEM E CURADORIA:\n\nRemova notícias duplicadas ou muito similares\nPriorize notícias relevantes, atuais e de qualidade\nDescarte spam, clickbait ou conteúdo irrelevante\nMantenha apenas as 5-8 notícias mais importantes\n\n\nESTRUTURA DA NEWSLETTER:\n🗞️ **NEWSLETTER DIÁRIA** - [DATA]\n\n**📈 DESTAQUES DO DIA**\n[Notícia principal com resumo de 2-3 linhas]\n\n**📰 OUTRAS NOTÍCIAS IMPORTANTES**\n• [Título da notícia] - [Resumo de 1 linha]\n• [Título da notícia] - [Resumo de 1 linha]\n• [Título da notícia] - [Resumo de 1 linha]\n\n**💡 EM DESTAQUE**\n[Uma notícia interessante com análise breve]\n\n---\n📧 Newsletter gerada automaticamente\n\nREGRAS DE ENVIO:\n\nEnvie APENAS UMA newsletter por dia\nNão envie se não houver conteúdo relevante suficiente\nMantenha o texto conciso e objetivo\nUse emojis para melhor visualização\n\n\nCRITÉRIOS DE QUALIDADE:\n\nLinguagem clara e profissional\nInformações verificáveis\nRelevância para o público brasileiro\nEquilíbrio entre diferentes temas (tecnologia, economia, política, etc.)\n\n\n\nEXEMPLO DE SAÍDA:\nProcesse todas as notícias recebidas, filtre por relevância e qualidade, consolide em uma única newsletter formatada e envie para a Evolution API."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[120,-320],"id":"59911052-0789-4204-ae9c-cb8a6d7c7950","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,-120],"id":"48edd2bc-e8b3-44a5-af7c-fdc401605f57","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"Default","operation":"Scrape A Url And Get Its Content","url":"https://www.tecmundo.com.br/tags/tecnologia","formats":["markdown"],"requestOptions":{}},"type":"n8n-nodes-firecrawl.fireCrawl","typeVersion":1,"position":[-360,-400],"id":"a43b966c-7d0a-4cde-af20-7adc93ae8c2f","name":"TecMundo","credentials":{"fireCrawlApi":{"id":"xCy5uJdqQlz6w86O","name":"FireCrawl account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-80,-320],"id":"cab0d60a-7bc7-442b-97ac-d3e9334b4b5e","name":"Merge"},{"parameters":{"resource":"Default","operation":"Scrape A Url And Get Its Content","url":"https://g1.globo.com/tecnologia/","formats":["markdown"],"requestOptions":{}},"type":"n8n-nodes-firecrawl.fireCrawl","typeVersion":1,"position":[-360,-240],"id":"3f4b9c33-d10d-40c2-a8b8-460040b68010","name":"Globo","credentials":{"fireCrawlApi":{"id":"xCy5uJdqQlz6w86O","name":"FireCrawl account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"Create a premium glass/acrylic medal or medallion featuring a majestic lion head. The medal should have:\n\nThick transparent glass or acrylic circular base (like a coin or medal)\nThe lion head engraved or embedded within the glass with holographic blue/purple lighting\nBeveled edges around the circular medal perimeter\nCrystal-clear glass material with internal neon lighting effects\nThe lion design glowing from within the glass structure\nRealistic glass reflections and refractions\nMedal should look like a premium award or trophy component\nDepth and dimension showing the glass thickness\nPolished, professional finish\nThe lion should appear to be laser-etched or holographically embedded inside the glass\nSoft ambient lighting highlighting the glass edges\nBackground should be dark to emphasize the glass clarity and internal glow\nMedal diameter should look substantial and premium\nInclude subtle surface reflections typical of polished glass\n\nStyle: Photorealistic 3D render, premium glass craftsmanship, award medal design, luxury materials, professional lighting","options":{"size":"1536x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-60,200],"id":"232dd8c3-248d-4703-9272-e55987ecc60e","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"TecMundo":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Globo":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b6c31839-ecf8-486c-9a16-3d838daa6601","triggerCount":0,"shared":[{"updatedAt":"2025-06-25T01:18:07.731Z","createdAt":"2025-06-25T01:18:07.731Z","role":"workflow:owner","workflowId":"bR8abUdsCla8XF5D","projectId":"BlSED80HESP48veq"}],"tags":[{"updatedAt":"2025-06-25T01:23:13.490Z","createdAt":"2025-06-25T01:23:13.490Z","id":"VdxvSdI5yl6A0bAT","name":"Scraping"}]}