fluxo-principal-fy3aWmEa4lgupbN7.json
{"updatedAt":"2026-01-15T17:51:53.805Z","createdAt":"2026-01-15T15:51:17.015Z","id":"fy3aWmEa4lgupbN7","name":"fluxo-principal","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,128],"id":"ec876d48-50f3-4b40-afc6-c46244bd51a4","name":"Para cada hora"},{"parameters":{"operation":"getAll","tableId":"usuarios","filters":{"conditions":[{"keyName":"horaResumo","condition":"eq","keyValue":"={{ $now.format('HH') }}:00"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-320,128],"id":"920daa0c-65db-4651-82e0-86247f90149a","name":"Get many rows","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,128],"id":"d2f26c8b-b3ce-442d-86b6-5b95ea223813","name":"Para cada usuario1"},{"parameters":{"workflowId":{"__rl":true,"value":"W5mV4XhxuqN0gRpgUvcC_","mode":"list","cachedResultUrl":"/workflow/W5mV4XhxuqN0gRpgUvcC_","cachedResultName":"subflow - agent resumefy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumoDiaAnterior":"={{ $json.resumoDiaAnterior }}","ludico":"={{ $json.ludico }}","dia-renovacao-tokens":"={{ $json['dia-renovacao-tokens'] }}","max_grupos":"={{ $json.max_grupos }}","id":"={{ $json.id }}","auth_id":"={{ $json.auth_id }}","nome":"={{ $json.nome }}","email":"={{ $json.email }}","instancia":"={{ $json.instancia }}","is_admin":"={{ $json.is_admin }}","plano_ativo":"={{ $json.plano_ativo }}","tokens_mes":"={{ $json.tokens_mes }}","horaResumo":"={{ $json.horaResumo }}","transcricao_ativa":"={{ $json.transcricao_ativa }}","transcricao-pvd":"={{ $json['transcricao-pvd'] }}","transcreverEu":"={{ $json.transcreverEu }}","agendamento":"={{ $json.agendamento }}","key-openai":"={{ $json['key-openai'] }}","ambiente":"={{ $json.ambiente }}","avatar_url":"={{ $json.avatar_url }}","criado_em":"={{ $json.criado_em }}","updated_at":"={{ $json.updated_at }}"},"matchingColumns":["usuario_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"auth_id","displayName":"auth_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"is_admin","displayName":"is_admin","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"plano_ativo","displayName":"plano_ativo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"max_grupos","displayName":"max_grupos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"tokens_mes","displayName":"tokens_mes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"horaResumo","displayName":"horaResumo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoDiaAnterior","displayName":"resumoDiaAnterior","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"transcricao_ativa","displayName":"transcricao_ativa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"transcricao-pvd","displayName":"transcricao-pvd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"transcreverEu","displayName":"transcreverEu","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"ludico","displayName":"ludico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"agendamento","displayName":"agendamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"key-openai","displayName":"key-openai","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ambiente","displayName":"ambiente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"avatar_url","displayName":"avatar_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"dia-renovacao-tokens","displayName":"dia-renovacao-tokens","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[160,128],"id":"7708f807-5dd5-4e62-9172-ffbffaa3177c","name":"Execute Workflow1","alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"Para cada hora":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Para cada usuario1","type":"main","index":0}]]},"Para cada usuario1":{"main":[[],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Para cada usuario1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Para cada hora":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0838a4ff-adb9-4c38-9e13-85c1062d5302","activeVersionId":"0838a4ff-adb9-4c38-9e13-85c1062d5302","triggerCount":1,"shared":[{"updatedAt":"2026-01-15T15:51:17.015Z","createdAt":"2026-01-15T15:51:17.015Z","role":"workflow:owner","workflowId":"fy3aWmEa4lgupbN7","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2026-01-15T17:52:39.949Z","createdAt":"2026-01-15T17:51:53.808Z","versionId":"0838a4ff-adb9-4c38-9e13-85c1062d5302","workflowId":"fy3aWmEa4lgupbN7","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,128],"id":"ec876d48-50f3-4b40-afc6-c46244bd51a4","name":"Para cada hora"},{"parameters":{"operation":"getAll","tableId":"usuarios","filters":{"conditions":[{"keyName":"horaResumo","condition":"eq","keyValue":"={{ $now.format('HH') }}:00"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-320,128],"id":"920daa0c-65db-4651-82e0-86247f90149a","name":"Get many rows","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,128],"id":"d2f26c8b-b3ce-442d-86b6-5b95ea223813","name":"Para cada usuario1"},{"parameters":{"workflowId":{"__rl":true,"value":"W5mV4XhxuqN0gRpgUvcC_","mode":"list","cachedResultUrl":"/workflow/W5mV4XhxuqN0gRpgUvcC_","cachedResultName":"subflow - agent resumefy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumoDiaAnterior":"={{ $json.resumoDiaAnterior }}","ludico":"={{ $json.ludico }}","dia-renovacao-tokens":"={{ $json['dia-renovacao-tokens'] }}","max_grupos":"={{ $json.max_grupos }}","id":"={{ $json.id }}","auth_id":"={{ $json.auth_id }}","nome":"={{ $json.nome }}","email":"={{ $json.email }}","instancia":"={{ $json.instancia }}","is_admin":"={{ $json.is_admin }}","plano_ativo":"={{ $json.plano_ativo }}","tokens_mes":"={{ $json.tokens_mes }}","horaResumo":"={{ $json.horaResumo }}","transcricao_ativa":"={{ $json.transcricao_ativa }}","transcricao-pvd":"={{ $json['transcricao-pvd'] }}","transcreverEu":"={{ $json.transcreverEu }}","agendamento":"={{ $json.agendamento }}","key-openai":"={{ $json['key-openai'] }}","ambiente":"={{ $json.ambiente }}","avatar_url":"={{ $json.avatar_url }}","criado_em":"={{ $json.criado_em }}","updated_at":"={{ $json.updated_at }}"},"matchingColumns":["usuario_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"auth_id","displayName":"auth_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"is_admin","displayName":"is_admin","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"plano_ativo","displayName":"plano_ativo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"max_grupos","displayName":"max_grupos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"tokens_mes","displayName":"tokens_mes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"horaResumo","displayName":"horaResumo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoDiaAnterior","displayName":"resumoDiaAnterior","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"transcricao_ativa","displayName":"transcricao_ativa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"transcricao-pvd","displayName":"transcricao-pvd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"transcreverEu","displayName":"transcreverEu","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"ludico","displayName":"ludico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"agendamento","displayName":"agendamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"key-openai","displayName":"key-openai","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ambiente","displayName":"ambiente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"avatar_url","displayName":"avatar_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"dia-renovacao-tokens","displayName":"dia-renovacao-tokens","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"criado_em","displayName":"criado_em","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[160,128],"id":"7708f807-5dd5-4e62-9172-ffbffaa3177c","name":"Execute Workflow1","alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"Para cada hora":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Para cada usuario1","type":"main","index":0}]]},"Para cada usuario1":{"main":[[],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Para cada usuario1","type":"main","index":0}]]}},"authors":"Miqueias Brandão","name":"Version 0838a4ff","description":"","autosaved":false},"tags":[]}