gerando-imagens-mqgJ8tqXdjKPZSwn.json
{"updatedAt":"2025-06-14T00:23:01.596Z","createdAt":"2025-06-12T17:04:08.441Z","id":"mqgJ8tqXdjKPZSwn","name":"Gerando Imagens","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c793e16e-45ac-4854-a317-0bb3ea368d83","name":"response","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,60],"id":"68fe189d-d418-4c55-85f9-beb0d1e68cd5","name":"Json1"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram cover post with a clean, modern design for educational content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram posts\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nMain title at the top in bold, readable typography: {{ $json.response.titulo_geral }}\nSubtitle or brief description in smaller text below the main title\nSmall text in bottom right corner: 'Arraste para o lado' (in elegant, readable font)\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.response.titulo_geral }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\n\nCONTENT FOCUS:\nTopic: {{ $json.response.titulo_geral }}\nEducational and informative tone\nSocial media optimized design\nVisual storytelling approach\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram-ready with subtle visual enhancement","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,60],"id":"d8f62380-e8c0-4050-bf60-9878cc50a218","name":"OpenAI2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,460],"id":"fc3acfe8-bdc9-4715-901e-423fc861b463","name":"Loop Over Items1"},{"parameters":{"content":"## CAPA DO POST","height":280,"width":1000},"type":"n8n-nodes-base.stickyNote","position":[280,0],"typeVersion":1,"id":"89eb6bae-3c8a-4a02-bd96-e5eb2f94aae6","name":"Sticky Note2"},{"parameters":{"fieldToSplitOut":"=response.topicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[380,460],"id":"acfc56ea-ebfb-47dd-a5f8-6b212efbb2cf","name":"Split Out1"},{"parameters":{"content":"## DEMAIS IMAGENS","height":360,"width":1660,"color":4},"type":"n8n-nodes-base.stickyNote","position":[280,360],"typeVersion":1,"id":"55f22b55-c108-4b10-b1f1-3eecb64c14c9","name":"Sticky Note3"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram carousel slide with a clean, educational design for topic content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram carousel\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nTopic title at the top in bold, readable typography: {{ $json.titulo }}\n3 bullet points with the key information from: {{ $json.pontos_chave }}\nSummary text at the bottom: {{ $json.resumo }}\n\nCRITICAL TEXT REQUIREMENTS:\nREPRODUCE THE TEXT EXACTLY as provided in the JSON variables\nDO NOT modify, translate, or alter any words\nDO NOT add or remove accents (á, é, í, ó, ú, ã, õ, ç)\nDO NOT change spelling or grammar\nCOPY the text character-by-character exactly as given\nMaintain original Portuguese language formatting and special characters\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.titulo }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the specific topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nTEXT FORMATTING:\nMain topic title: Large, bold font with text shadow or background for readability\nBullet points: Medium-sized, well-spaced, easy to read with bullet symbols (•)\nSummary: Smaller italic text, clearly separated at bottom\nAll text should have high contrast and readability over background image\nENSURE ALL ACCENTS AND SPECIAL CHARACTERS ARE PRESERVED\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\nConsistent with cover slide design\n\nCONTENT FOCUS:\nTopic: {{ $json.titulo }}\nKey points: {{ $json.pontos_chave }}\nSummary: {{ $json.resumo }}\nEducational and informative tone\nEasy to read on mobile devices\nSocial media optimized design\n\nTEXT ACCURACY PRIORITY:\nThe most important requirement is TEXT ACCURACY\nDouble-check all Portuguese accents and spelling\nUse exactly the text provided in the JSON variables\nNO modifications to the original text content\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram carousel slide with subtle visual enhancement\nConsistent design language with the cover post\nPERFECT text reproduction without any errors","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[940,460],"id":"571572c4-8d54-4be4-920c-d0838653d531","name":"OpenAI3","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## PROMPT COM IMAGENS","height":780,"width":2500,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-140,-40],"typeVersion":1,"id":"947ab54d-55b7-46de-a376-fe4173586f01","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"ff875e15-5519-4da8-bb1f-100884628bf8","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-360,60],"id":"7656a7b3-c408-4682-b12c-72f669e45833","name":"Webhook","webhookId":"ff875e15-5519-4da8-bb1f-100884628bf8"},{"parameters":{"name":"=capa{{ $now }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1XgIU1z-lor_URwysOv24isKlBTu_U5Ww","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1XgIU1z-lor_URwysOv24isKlBTu_U5Ww"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,60],"id":"1dae60a3-7b59-4fa0-afe3-aad5c20d8658","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[980,-300],"id":"1813823f-eb2d-4a53-8981-2c719e0554e7","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"name":"=image{{ $now }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1XgIU1z-lor_URwysOv24isKlBTu_U5Ww","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1XgIU1z-lor_URwysOv24isKlBTu_U5Ww"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1240,460],"id":"84434a37-87fd-4f63-872e-9c54649624b7","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1260,-300],"id":"ce08b82d-51e2-41b0-898c-40d52eb7adc3","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1440,80],"id":"fb8d8b7f-c88a-4893-bedc-4c4bcc8ebb2a","name":"Merge"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[2120,80],"id":"c2d3d879-f972-4c79-94a4-271f6f9222e5","name":"Respond to Webhook"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"webViewLink"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1820,80],"id":"6a527c91-113e-41ad-a22c-9de9adfe99bf","name":"Aggregate"}],"connections":{"Json1":{"main":[[{"node":"OpenAI2","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"OpenAI3","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Google Drive2","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"Json1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Google Drive1":{"main":[[]]},"Google Drive2":{"main":[[{"node":"Google Drive3","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Drive3":{"main":[[]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a562a311-072d-492e-8cc2-707627009e00","activeVersionId":"a562a311-072d-492e-8cc2-707627009e00","triggerCount":1,"shared":[{"updatedAt":"2025-06-12T17:04:08.441Z","createdAt":"2025-06-12T17:04:08.441Z","role":"workflow:owner","workflowId":"mqgJ8tqXdjKPZSwn","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"a562a311-072d-492e-8cc2-707627009e00","workflowId":"mqgJ8tqXdjKPZSwn","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"c793e16e-45ac-4854-a317-0bb3ea368d83","name":"response","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,60],"id":"68fe189d-d418-4c55-85f9-beb0d1e68cd5","name":"Json1"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram cover post with a clean, modern design for educational content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram posts\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nMain title at the top in bold, readable typography: {{ $json.response.titulo_geral }}\nSubtitle or brief description in smaller text below the main title\nSmall text in bottom right corner: 'Arraste para o lado' (in elegant, readable font)\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.response.titulo_geral }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\n\nCONTENT FOCUS:\nTopic: {{ $json.response.titulo_geral }}\nEducational and informative tone\nSocial media optimized design\nVisual storytelling approach\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram-ready with subtle visual enhancement","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,60],"id":"d8f62380-e8c0-4050-bf60-9878cc50a218","name":"OpenAI2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,460],"id":"fc3acfe8-bdc9-4715-901e-423fc861b463","name":"Loop Over Items1"},{"parameters":{"content":"## CAPA DO POST","height":280,"width":1000},"type":"n8n-nodes-base.stickyNote","position":[280,0],"typeVersion":1,"id":"89eb6bae-3c8a-4a02-bd96-e5eb2f94aae6","name":"Sticky Note2"},{"parameters":{"fieldToSplitOut":"=response.topicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[380,460],"id":"acfc56ea-ebfb-47dd-a5f8-6b212efbb2cf","name":"Split Out1"},{"parameters":{"content":"## DEMAIS IMAGENS","height":360,"width":1660,"color":4},"type":"n8n-nodes-base.stickyNote","position":[280,360],"typeVersion":1,"id":"55f22b55-c108-4b10-b1f1-3eecb64c14c9","name":"Sticky Note3"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a professional Instagram carousel slide with a clean, educational design for topic content. The image should include:\n\nLAYOUT REQUIREMENTS:\nSquare format (1080x1080px) ideal for Instagram carousel\nClean, minimalist design with plenty of white space\nProfessional presentation style suitable for educational content\n\nTEXT ELEMENTS:\nTopic title at the top in bold, readable typography: {{ $json.titulo }}\n3 bullet points with the key information from: {{ $json.pontos_chave }}\nSummary text at the bottom: {{ $json.resumo }}\n\nCRITICAL TEXT REQUIREMENTS:\nREPRODUCE THE TEXT EXACTLY as provided in the JSON variables\nDO NOT modify, translate, or alter any words\nDO NOT add or remove accents (á, é, í, ó, ú, ã, õ, ç)\nDO NOT change spelling or grammar\nCOPY the text character-by-character exactly as given\nMaintain original Portuguese language formatting and special characters\n\nVISUAL DESIGN:\nLight, subtle background image related to {{ $json.titulo }} topic (very low opacity, 15-25%)\nSemi-transparent overlay to ensure text readability\nModern gradient or subtle overlay on top of background image\nClean borders or subtle frame\nTypography should remain the main focus, with background image as subtle support\n\nBACKGROUND IMAGE STYLE:\nRelevant to the specific topic being discussed\nVery light opacity (15-25%) so text remains highly readable\nBlurred or soft focus effect\nPositioned to not interfere with text placement\nProfessional, high-quality imagery\n\nTEXT FORMATTING:\nMain topic title: Large, bold font with text shadow or background for readability\nBullet points: Medium-sized, well-spaced, easy to read with bullet symbols (•)\nSummary: Smaller italic text, clearly separated at bottom\nAll text should have high contrast and readability over background image\nENSURE ALL ACCENTS AND SPECIAL CHARACTERS ARE PRESERVED\n\nCOLOR SCHEME:\nPrimary: Navy blue (#1e3a8a) and white\nSemi-transparent overlay in light blue or white (60-80% opacity)\nHigh contrast maintained for text readability\nBackground image should complement, not compete with text\n\nSTYLE:\nInformational infographic style with visual appeal\nEducational slide appearance with enhanced visual interest\nBusiness presentation aesthetic\nText-focused layout with supporting imagery\nProfessional, trustworthy appearance\nConsistent with cover slide design\n\nCONTENT FOCUS:\nTopic: {{ $json.titulo }}\nKey points: {{ $json.pontos_chave }}\nSummary: {{ $json.resumo }}\nEducational and informative tone\nEasy to read on mobile devices\nSocial media optimized design\n\nTEXT ACCURACY PRIORITY:\nThe most important requirement is TEXT ACCURACY\nDouble-check all Portuguese accents and spelling\nUse exactly the text provided in the JSON variables\nNO modifications to the original text content\n\nFINAL SPECIFICATIONS:\nResolution: High quality for Instagram\nFormat: Square (1:1 ratio)\nStyle: Clean, professional, educational, Instagram carousel slide with subtle visual enhancement\nConsistent design language with the cover post\nPERFECT text reproduction without any errors","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[940,460],"id":"571572c4-8d54-4be4-920c-d0838653d531","name":"OpenAI3","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## PROMPT COM IMAGENS","height":780,"width":2500,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-140,-40],"typeVersion":1,"id":"947ab54d-55b7-46de-a376-fe4173586f01","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"ff875e15-5519-4da8-bb1f-100884628bf8","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-360,60],"id":"7656a7b3-c408-4682-b12c-72f669e45833","name":"Webhook","webhookId":"ff875e15-5519-4da8-bb1f-100884628bf8"},{"parameters":{"name":"=capa{{ $now }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1XgIU1z-lor_URwysOv24isKlBTu_U5Ww","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1XgIU1z-lor_URwysOv24isKlBTu_U5Ww"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,60],"id":"1dae60a3-7b59-4fa0-afe3-aad5c20d8658","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[980,-300],"id":"1813823f-eb2d-4a53-8981-2c719e0554e7","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"name":"=image{{ $now }}.png","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1XgIU1z-lor_URwysOv24isKlBTu_U5Ww","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1XgIU1z-lor_URwysOv24isKlBTu_U5Ww"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1240,460],"id":"84434a37-87fd-4f63-872e-9c54649624b7","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1260,-300],"id":"ce08b82d-51e2-41b0-898c-40d52eb7adc3","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1440,80],"id":"fb8d8b7f-c88a-4893-bedc-4c4bcc8ebb2a","name":"Merge"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[2120,80],"id":"c2d3d879-f972-4c79-94a4-271f6f9222e5","name":"Respond to Webhook"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"webViewLink"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1820,80],"id":"6a527c91-113e-41ad-a22c-9de9adfe99bf","name":"Aggregate"}],"connections":{"Json1":{"main":[[{"node":"OpenAI2","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"OpenAI3","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Google Drive2","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"Json1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Google Drive1":{"main":[[]]},"Google Drive2":{"main":[[{"node":"Google Drive3","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Drive3":{"main":[[]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}