gerar-imagens-das-cenas-OFCxGdmMTisWhS1C.json
{"updatedAt":"2025-07-17T18:03:05.941Z","createdAt":"2025-07-17T16:54:42.228Z","id":"OFCxGdmMTisWhS1C","name":"Gerar Imagens das cenas","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,0],"id":"0c67f959-4305-4998-ba9b-9f6f7d7cfb21","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"4c4d0096-27ea-4870-8f81-745cff0338e9","name":"Script","value":"{   \"scenes\": [     {       \"id\": 1,       \"title\": \"Cold‑Open\",       \"voiceover\": \"Your car might be plotting its own demise right now—while the dash smugly flashes “All Good.” The real danger isn’t a rogue deer or a texting driver; it’s the normal things you do every single day. From “lifetime” fluids that silently curdle to over‑the‑air updates that nibble horsepower while you sleep, today we’re exposing fifteen habits that bankrupt engines, cripple batteries, and turn commutes into ticking time bombs. Ready? Buckle up—because the first myth starts where the dealer’s warranty politely ends.\",       \"beat\": \"Quick beat…\"     },     {       \"id\": 2,       \"title\": \"1 | The “Lifetime Fluid” Lie\",       \"voiceover\": \"Remember when automakers bragged that new transmissions never need servicing? Tell that to the owners behind the Hydra‑Matic 8‑speed class‑action—thousands complained of violent shuddering barely 40 000 miles in. Courts just let the lawsuit against GM proceed even after a recent attempt to kill it on appeal, spotlighting fluid starvation that scorches torque‑converter clutches.\",       \"hook\": \"If a billion‑dollar carmaker can spin “sealed for life,” what else is sealed—your bank account?\"     },     {       \"id\": 3,       \"title\": \"2 | Cold Starts vs. Cold Tech\",       \"voiceover\": \"You know revving a sleeping engine scrapes metal—but did you know winter steals up to 41 % of an EV’s range when drivers crank the heater at 20 °F? Even the newest heat‑pump rigs still average 80 % of ideal range in freezing temps.\",       \"transition\": \"Metal engines hate cold oil; lithium ions hate cold electrons. Either way, frost bites first.\"     },     {       \"id\": 4,       \"title\": \"3 | Recall Roulette\",       \"voiceover\": \"Twenty‑nine million vehicles were recalled last year. Yet 31 % never saw the free fix—meaning one out of three cars beside you at a stoplight could harbor an unfixed airbag or steering defect.\",       \"transition\": \"Ignoring a recall is a gamble, but the next gamble is DIY—and the house never loses.\"     },     {       \"id\": 5,       \"title\": \"4 | The DIY Disaster Boom\",       \"voiceover\": \"Inflation shoved more than a quarter of NRMA‑surveyed drivers to skip professional service, wrenching at home instead. Roadside call‑outs spiked as worn brakes and half‑fastened suspension pieces failed on the highway.\",       \"hook\": \"Saving a buck in the garage can cost a fortune on a tow‑truck.\"     },     {       \"id\": 6,       \"title\": \"5 | Overload — The Summer Scorcher\",       \"voiceover\": \"Heat magnifies every weakness—especially when you cram the SUV for that “just one more” jet‑ski trip. Under‑inflated tires on hot asphalt blow like grenades; seasoned mechanics call summer the blowout season.\",       \"transition\": \"But sometimes the killer isn’t cargo weight—it’s software weight.\"     },     {       \"id\": 7,       \"title\": \"6 | Updates That Brick Hardware\",       \"voiceover\": \"A California judge just green‑lit a lawsuit claiming Tesla’s silent OTA patches shaved 20 % range and accelerated battery wear. Owners call it a “stealth downgrade” masked as an upgrade. Turbo and hybrid drivers whisper similar stories: aggressive throttle maps after updates over‑spin turbos into early graveyards.\",       \"hook\": \"When the cloud tweaks your car overnight, do you really own the drivetrain—or just the payments?\"     },     {       \"id\": 8,       \"title\": \"7 | Premium‑Fuel FOMO\",       \"voiceover\": \"AAA’s lab cars proved premium octane gives zero benefit in engines designed for 87—yet 16 million U.S. drivers pay 18 % more each fill‑up anyway. The ECU simply dials back timing to normal; the only thing that gets a boost is oil‑company profits.\"     },     {       \"id\": 9,       \"title\": \"8 | The Empty‑Tank Gamble 2.0\",       \"voiceover\": \"Modern fuel pumps rely on gasoline for cooling. Habitually dipping below one‑quarter tank lets them overheat and suck debris, priming a four‑figure failure. Independent repair networks list chronic low‑fuel driving as the #1 cause of premature pump death.\"     },     {       \"id\": 10,       \"title\": \"9 | Topping‑Off Trauma\",       \"voiceover\": \"When you squeeze extra clicks after the nozzle shuts off, liquid fuel floods the charcoal canister, crippling the evap system and tripping a check‑engine light that kills resale value. Repairs? North of $600 for parts alone, says every indie shop forum you never wanted to visit.\"     },     {       \"id\": 11,       \"title\": \"10 | Timing‑Belt Russian Roulette\",       \"voiceover\": \"Interference engines don’t forgive. One skipped interval, one snapped belt, and pistons punch valves into metallic confetti. A $1 000 preventive job dodges a $6 000 rebuild—but only if you ignore the next feel‑good myth: “dealer said it’s a chain, so I’m safe.” Chains stretch; they aren’t immortal.\",       \"hook\": \"Metal fatigue has patience—until it doesn’t.\"     },     {       \"id\": 12,       \"title\": \"11 | Coolant — The Vanishing Act\",       \"voiceover\": \"Coolant doesn’t “just evaporate.” If your overflow drops, you have a leak or a head‑gasket whispering goodbye. Top‑up and drive on, and you’re boiling the inside of the block.\"     },     {       \"id\": 13,       \"title\": \"12 | Oil: Too Little, Too Much, Too Late\",       \"voiceover\": \"Skip changes and sludge thickens into black pudding that starves cam lobes; overfill and the crank whips oil into cappuccino foam, dropping pressure to zero. Either way, bearings spin, engines seize, wallets cry.\"     },     {       \"id\": 14,       \"title\": \"13 | Hard Launches on Cold Oil\",       \"voiceover\": \"Dry starts already scrape metal; red‑lining in the first mile multiplies the wear. Alloy pistons expand slower than steel cylinders—result: piston slap, lifter ticks, and a warranty claim denied for “abuse.”\"     },     {       \"id\": 15,       \"title\": \"14 | Riding the Clutch & Brakes\",       \"voiceover\": \"Hovering over the clutch keeps it half‑engaged—heat‑soaks the disc, warps the pressure plate, and melts release bearings long before 50 k. Downhill brake‑drag does the same to rotors. Engine‑brake and pulse the pedal instead.\"     },     {       \"id\": 16,       \"title\": \"15 | Injector Ice‑Bath (Direct‑Injection’s Dirty Secret)\",       \"voiceover\": \"Running low on gas stirs sediment that sandblasts precision injectors. In direct‑injection systems, a single contaminated nozzle can lean‑out a cylinder and torch a piston in under a minute. Enjoy that new‑car payment and a reman engine.\",       \"transition\": \"What starts with a tiny habit ends with a catastrophic bill…\"     },     {       \"id\": 17,       \"title\": \"Conclusion & CTA\",       \"voiceover\": \"Every item today shares the same moral: neglect accumulates interest—compounded by heat, cold, software, and human optimism. You don’t need a degree in wrenchology; you need vigilance:\\n• Read the manual, not the marketing.\\n• Respect the dash lights—scan, don’t guess.\\n• Service on time, not “someday.”\\n• Keep fluids honest—levels, grades, and miles.\\n• Let mechanics, not myths, touch critical systems.\\nNeed one more reason? In our next drop we’ll dissect a maintenance myth so big even dealership techs whisper it off‑record—hint: it starts every time you fast‑charge. Miss it and you might just miss your warranty window, too.\",       \"endCard\": \"Like, subscribe, and share before your friend’s “lifetime” fluid turns lifetime savings into smoke.\"     }   ] }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,0],"id":"d2d8dd79-075f-4bc4-b8ad-8224827933d1","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"Script.scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,0],"id":"ee999b5f-338e-4bc0-ae76-e52b4265f735","name":"Split Out"},{"parameters":{"name":"={{ $('Split Out').item.json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1a1HbhFd5QXEU8aEXJhygcQ-TocgP6Vuv","mode":"list","cachedResultName":"Cenas Video 1","cachedResultUrl":"https://drive.google.com/drive/folders/1a1HbhFd5QXEU8aEXJhygcQ-TocgP6Vuv"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,60],"id":"0612bd0a-5d81-49bc-bf3c-de5ff1ca0239","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,0],"id":"604a8e0b-5a90-48ab-93c9-802a8b8a893e","name":"Loop Over Items"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Crie uma imagem ULTRA REALISTA e extremamente chamativa sobre [{{ $json.voiceover }}]. A imagem deve:\n\n**ESTILO VISUAL:**\n- Fotorrealismo cinematográfico de alta qualidade\n- Iluminação dramática e contrastante\n- Cores vibrantes e saturadas que chamem atenção\n- Textura detalhada e hiper-realista\n- Qualidade 8K, nítida e profissional\n\n**ELEMENTOS DE IMPACTO:**\n- Composição que gere curiosidade imediata\n- Elemento surpresa ou inesperado na cena\n- Contraste visual marcante (claro/escuro, grande/pequeno)\n- Perspectiva única ou ângulo inusitado\n- Expressões faciais intensas (se houver pessoas)\n\n**GANCHOS VISUAIS:**\n- Algo que faça a pessoa parar o scroll e olhar\n- Elemento intrigante que gere pergunta mental\n- Situação aparentemente impossível ou surreal\n- Justaposição de elementos contrastantes\n- Detalhes que recompensem uma segunda olhada\n\n**ESPECIFICAÇÕES TÉCNICAS:**\n- Estilo: Fotografia profissional, hiper-realista\n- Qualidade: 8K, extremamente detalhada\n- Iluminação: Cinematográfica, dramática\n- Enquadramento: [especificar se close-up, plano médio, etc.]\n- Mood: [especificar se misterioso, impactante, intrigante, etc.]\n\n**TEMA ESPECÍFICO:** [INSERIR TEMA AQUI]\n\nA imagem deve ser tão realista que pareça uma fotografia real, mas com elementos que gerem curiosidade e façam as pessoas pararem para observar.","options":{"size":"1536x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,0],"id":"eaca1b6e-1c66-4677-9802-cd1f5f47bae0","name":"Generate an image","retryOnFail":true,"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueErrorOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Generate an image","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d4748cf-619b-4360-bf10-6010e30caf8f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-07-17T16:54:42.228Z","createdAt":"2025-07-17T16:54:42.228Z","role":"workflow:owner","workflowId":"OFCxGdmMTisWhS1C","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}