get-msg---grupo-clickmax-hrMlbBhziyHzVZxt.json
{"updatedAt":"2025-11-16T11:23:38.146Z","createdAt":"2025-09-17T15:59:01.650Z","id":"hrMlbBhziyHzVZxt","name":"GET MSG - Grupo clickmax","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"978cb295-0a1a-47f2-b97f-100a0c6f6dd1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"68d00b9d-818d-4d25-8c84-008d3063b72f","name":"Webhook","webhookId":"978cb295-0a1a-47f2-b97f-100a0c6f6dd1"},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $json.body.data.key.remoteJid }}-bilhon"},{"column":"usuario_id","value":"=3"},{"column":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"column":"data_mensagem","value":"={{ $now.toISO({ includeOffset: false }) }}"},{"column":"nome-autor","value":"={{ $('Webhook').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Webhook').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[672,-16],"id":"a1eda04a-75cc-4ed8-8bfe-52c64f6cb5df","name":"Insert Msg MySql","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fa709b2-22a7-4406-9e41-7a86e9627444","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,-16],"id":"8fbd592b-4ac6-4e52-a96c-900d7eb5f909","name":"Se for texto"},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"5562994342576","messageText":"=Mensagem do grupo {{ $json.data.subject }}\n\n{{ $('Webhook').item.json.body.data.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[672,-208],"id":"5b737646-9184-4c5a-bf5b-08912bf036da","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"Claudio Camozzi","searchMethod":"groupJid","groupJid":"={{ $json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-208],"id":"2fa69f6c-daad-4408-9c81-f35f83f62f45","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"1048883a-f4be-408f-9bba-c2177f261de9"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,-112],"id":"2fb83255-0ab7-4fb3-a7fb-62769e65ccd6","name":"Se texto"}],"connections":{"Webhook":{"main":[[{"node":"Se texto","type":"main","index":0}]]},"Se for texto":{"main":[[{"node":"Insert Msg MySql","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Se texto":{"main":[[{"node":"Buscar grupos","type":"main","index":0},{"node":"Se for texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.8.3","content-length":"1146","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.232.13","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"sdNC0FRNS82eZd_txtoGcA","x-real-ip":"162.220.232.13","x-request-start":"1758216310336"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Claudio Camozzi","data":{"key":{"remoteJid":"120363203554366453@g.us","fromMe":false,"id":"3EB087FF29A7F9B7ED809E","participant":"5521969485191@s.whatsapp.net","participantLid":"214748515823832@lid"},"pushName":"Tiago Brendon","status":"DELIVERY_ACK","message":{"messageContextInfo":{"messageSecret":"IfG2CicEYSNmonQcPqblgGLSIOP3cP01mrzYn8vLtOo="},"conversation":"Vlw!"},"contextInfo":{"stanzaId":"3ACCABC3BF631BC2499C","participant":"13653244532@s.whatsapp.net","quotedMessage":{"conversation":"Eu uso teachable via zapier. Mas temos memberkit e astronmembers com integração direta.","messageContextInfo":{"messageSecret":"donoBux7uw9j05glMkyeiUnHMm1DpaL8O7it8uzCCBE="}}},"messageType":"conversation","messageTimestamp":1758216308,"instanceId":"f229795a-3d59-47fd-be83-a8d94da4e995","source":"web"},"destination":"https://primary-production-70c40.up.railway.app/webhook/86351806-11bc-468d-84dd-fcf535477df5","date_time":"2025-09-18T14:25:09.802Z","sender":"556296960102@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"935392D23AE6-430B-AA45-21A0D28A3D8E"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/978cb295-0a1a-47f2-b97f-100a0c6f6dd1","executionMode":"production"}}]},"versionId":"9451cd74-5210-4d2b-a03f-79fa6e130e14","activeVersionId":"9451cd74-5210-4d2b-a03f-79fa6e130e14","triggerCount":1,"shared":[{"updatedAt":"2025-09-17T15:59:01.650Z","createdAt":"2025-09-17T15:59:01.650Z","role":"workflow:owner","workflowId":"hrMlbBhziyHzVZxt","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"9451cd74-5210-4d2b-a03f-79fa6e130e14","workflowId":"hrMlbBhziyHzVZxt","nodes":[{"parameters":{"httpMethod":"POST","path":"978cb295-0a1a-47f2-b97f-100a0c6f6dd1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"68d00b9d-818d-4d25-8c84-008d3063b72f","name":"Webhook","webhookId":"978cb295-0a1a-47f2-b97f-100a0c6f6dd1"},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $json.body.data.key.remoteJid }}-bilhon"},{"column":"usuario_id","value":"=3"},{"column":"mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"column":"data_mensagem","value":"={{ $now.toISO({ includeOffset: false }) }}"},{"column":"nome-autor","value":"={{ $('Webhook').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Webhook').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[672,-16],"id":"a1eda04a-75cc-4ed8-8bfe-52c64f6cb5df","name":"Insert Msg MySql","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fa709b2-22a7-4406-9e41-7a86e9627444","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,-16],"id":"8fbd592b-4ac6-4e52-a96c-900d7eb5f909","name":"Se for texto"},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"5562994342576","messageText":"=Mensagem do grupo {{ $json.data.subject }}\n\n{{ $('Webhook').item.json.body.data.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[672,-208],"id":"5b737646-9184-4c5a-bf5b-08912bf036da","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"Claudio Camozzi","searchMethod":"groupJid","groupJid":"={{ $json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-208],"id":"2fa69f6c-daad-4408-9c81-f35f83f62f45","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"1048883a-f4be-408f-9bba-c2177f261de9"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,-112],"id":"2fb83255-0ab7-4fb3-a7fb-62769e65ccd6","name":"Se texto"}],"connections":{"Webhook":{"main":[[{"node":"Se texto","type":"main","index":0}]]},"Se for texto":{"main":[[{"node":"Insert Msg MySql","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Se texto":{"main":[[{"node":"Buscar grupos","type":"main","index":0},{"node":"Se for texto","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}