get---trasnscripts-hAilvH5NpDBs7TOu.json
{"updatedAt":"2025-12-04T16:09:31.943Z","createdAt":"2025-10-09T19:42:34.810Z","id":"hAilvH5NpDBs7TOu","name":"GET - Trasnscripts","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-464,-192],"id":"2859a9ea-cdc4-436a-9d1b-e0c348c7b8e8","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1MNZeQmtahzEifr9nEdNmpeSDVysZb0cg","mode":"list","cachedResultName":"Tactiq Transcription","cachedResultUrl":"https://drive.google.com/drive/folders/1MNZeQmtahzEifr9nEdNmpeSDVysZb0cg"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-240,-192],"id":"d672ecc2-6849-45fd-a9a4-2a1225095784","name":"Pega todas as transcrições nao processadas","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"14gGXod5FmPuZJ5h","name":"Google Drive account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e627762-eae9-4b46-b653-7869454cc8ea","leftValue":"={{ Number($('Pega todas as transcrições nao processadas').item.json.values().length) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,-192],"id":"50f0472e-23bd-4bdd-92de-4c6b6bd6d300","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"6jmwK9fFM5AJOZh7","mode":"list","cachedResultName":"SubFlow - Ata Reuniões"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,-192],"name":"Call SubFlow - Ata Reuniões","id":"67f0d130-b10e-4a35-99b6-928f6cf8c729"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Pega todas as transcrições nao processadas","type":"main","index":0}]]},"Pega todas as transcrições nao processadas":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Call SubFlow - Ata Reuniões","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-10-10T14:26:35Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-10-13T08:38:39.003-03:00","Readable date":"October 13th 2025, 8:38:39 am","Readable time":"8:38:39 am","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"13","Hour":"08","Minute":"38","Second":"39","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"4ed8b516-ba8d-47ff-9782-fc0db2407ef2","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-09T19:42:34.810Z","createdAt":"2025-10-09T19:42:34.810Z","role":"workflow:owner","workflowId":"hAilvH5NpDBs7TOu","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}