intellizap---iniciando-resumos---loop-usuarios-uJyzgGXmKbHFGOpY.json
{"updatedAt":"2025-09-17T20:40:23.967Z","createdAt":"2025-04-03T19:02:34.874Z","id":"uJyzgGXmKbHFGOpY","name":"Intellizap - Iniciando resumos - Loop Usuarios","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1120,-688],"id":"70902ca3-b8c6-4016-91dc-05721ba02245","name":"Para cada hora"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM usuarios \nWHERE `plano_ativo` = '1' \n  AND `ambiente` = \"prod\"\n  AND `tokens_mes` > 1\n  AND `horaResumo` = '{{ $now.toFormat(\"HH:00:00\") }}';\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-832,-832],"id":"b08f6bcd-26a8-4560-b664-871566b46811","name":"Usuario desta hora","alwaysOutputData":false,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-512,-832],"id":"90c34378-c58a-4bff-bc1c-e7173ab5b939","name":"Para cada usuario"},{"parameters":{"content":"## GATILHOS ##","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-1184,-736],"typeVersion":1,"id":"783a567a-e41e-4e76-be95-f87d3165077f","name":"Sticky Note8"},{"parameters":{"workflowId":{"__rl":true,"value":"RaxSn4fCpvjFeGj6","mode":"list","cachedResultName":"Intellizap - Subfluxo - Loop Grupos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"usuario_id":"={{ $json.id }}","instance-id":"={{ $json.instancia }}","instance-name":"={{ $json.nome }}","resumoDiaAnterior":"={{ $json.resumoDiaAnterior }}","ludico":"={{ $json.ludico }}","enviar-grupo-padrao":"={{ $json[\"enviar-grupo-padrao\"] }}","enviar-teste":"={{ $json[\"enviar-teste\"] }}","id-grupo-teste":"={{ $json[\"id-grupo-teste\"] }}"},"matchingColumns":["usuario_id"],"schema":[{"id":"usuario_id","displayName":"usuario_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"instance-id","displayName":"instance-id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance-name","displayName":"instance-name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoDiaAnterior","displayName":"resumoDiaAnterior","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"ludico","displayName":"ludico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"enviar-teste","displayName":"enviar-teste","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"enviar-grupo-padrao","displayName":"enviar-grupo-padrao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id-grupo-teste","displayName":"id-grupo-teste","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,-832],"id":"97d41f25-34b0-426e-8768-4f3910582137","name":"Execute Workflow","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM usuarios \nWHERE `plano_ativo` = '1' \n  AND `ambiente` = \"prod\"\n  AND `tokens_mes` < 1\n  AND `horaResumo` = '{{ $now.toFormat(\"HH:00:00\") }}';\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-832,-528],"id":"778b0985-7a05-4965-9797-3655528cb4d5","name":"Tokens Expirados","alwaysOutputData":false,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $json.email }}","subject":"Tokens Expirados - Intellizapp","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>IntelliZapp.IA - IntelliCoins Expirados</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .expiration-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .expiration-title {\n            font-size: 24px;\n            color: #e74c3c;\n            margin-bottom: 15px;\n        }\n        \n        .expiration-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .warning-section {\n            background-color: #fff5f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e74c3c;\n        }\n        \n        .warning-title {\n            font-size: 20px;\n            color: #c0392b;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .consequences-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .consequences-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .consequences-list li:before {\n            content: \"⚠️\";\n            position: absolute;\n            left: 0;\n            font-size: 16px;\n        }\n        \n        .action-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n        }\n        \n        .action-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .action-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            counter-reset: step;\n        }\n        \n        .action-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .action-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #3498db;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .renewal-info {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc107;\n        }\n        \n        .renewal-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .renewal-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .expiration-title {\n                font-size: 20px;\n            }\n            \n            .warning-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 IntelliZapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Expiration Message -->\n            <div class=\"expiration-message\">\n                <h1 class=\"expiration-title\">⏰ IntelliCoins Expirados</h1>\n                <p class=\"expiration-text\">\n                    Seus IntelliCoins expiraram e não será possível gerar novos resumos \n                    até a próxima renovação automática.\n                </p>\n            </div>\n            \n            <!-- Warning Section -->\n            <div class=\"warning-section\">\n                <h2 class=\"warning-title\">\n                    <span>🚫</span>\n                    O que isso significa?\n                </h2>\n                <ul class=\"consequences-list\">\n                    <li>Novos resumos não serão gerados automaticamente</li>\n                    <li>Grupos continuam sendo monitorados</li>\n                    <li>Mensagens ficam armazenadas para o próximo ciclo</li>\n                    <li>Histórico anterior permanece disponível</li>\n                </ul>\n            </div>\n            \n            <!-- Action Section -->\n            <div class=\"action-section\">\n                <h2 class=\"action-title\">\n                    <span>📋</span>\n                    Como verificar a renovação\n                </h2>\n                <ol class=\"action-list\">\n                    <li>Acesse sua conta na plataforma IntelliZapp.IA</li>\n                    <li>Vá na seção \"Meu Plano\"</li>\n                    <li>Verifique a data da próxima renovação</li>\n                    <li>Aguarde a renovação automática dos seus IntelliCoins</li>\n                </ol>\n            </div>\n            \n            <!-- Renewal Info -->\n            <div class=\"renewal-info\">\n                <h2 class=\"renewal-title\">🔄 Renovação Automática</h2>\n                <p class=\"renewal-text\">\n                    Seus IntelliCoins são renovados automaticamente todo mês na data \n                    definida em sua conta. Não é necessária nenhuma ação da sua parte.\n                </p>\n                <div style=\"background-color: white; border-radius: 8px; padding: 15px; margin-top: 15px; text-align: center;\">\n                    <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 5px;\">\n                        📅 Acesse o sistema para ver sua data de renovação\n                    </p>\n                    <p style=\"font-size: 14px; color: #7f8c8d;\">\n                        Meu Plano > IntelliCoins Disponíveis\n                    </p>\n                </div>\n            </div>\n            \n            <!-- CTA Button -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Minha Conta\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Nossa equipe está sempre disponível para te ajudar através do e-mail \n                    <strong>suporte@intellizapp.com.br</strong> ou respondendo diretamente este e-mail.\n                </p>\n            </div>\n            \n            <!-- Additional Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #e8f8f5; border-radius: 10px; border-left: 4px solid #27ae60;\">\n                <h3 style=\"color: #27ae60; margin-bottom: 15px; font-size: 18px;\">\n                    ✅ Lembre-se\n                </h3>\n                <ul style=\"list-style: none; margin: 0; padding: 0;\">\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Seus grupos continuam conectados\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Mensagens ficam armazenadas\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Renovação é automática\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Histórico anterior disponível\n                    </li>\n                </ul>\n            </div>\n            \n            <!-- Important Note -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 20px; margin: 30px 0; border-left: 4px solid #ffc107; text-align: center;\">\n                <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 10px;\">\n                    📱 Mantenha-se Conectado\n                </p>\n                <p style=\"font-size: 14px; color: #856404;\">\n                    Assim que seus IntelliCoins forem renovados, os resumos voltarão \n                    a ser gerados automaticamente nos horários configurados.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Seus IntelliCoins serão renovados automaticamente. Acesse o sistema para ver quando!\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 IntelliZapp.IA - Todos os direitos reservados<br>\n                Dúvidas? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-512,-528],"id":"0821d6c7-f891-4e45-bcba-84ebc7eef1ed","name":"Avisar dos Tokens Expirados","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}}],"connections":{"Para cada hora":{"main":[[{"node":"Usuario desta hora","type":"main","index":0},{"node":"Tokens Expirados","type":"main","index":0}]]},"Usuario desta hora":{"main":[[{"node":"Para cada usuario","type":"main","index":0}]]},"Para cada usuario":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Para cada usuario","type":"main","index":0}],[]]},"Tokens Expirados":{"main":[[{"node":"Avisar dos Tokens Expirados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Para cada hora":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"f7da6715-8291-4238-a8e2-37c97bf92a30","activeVersionId":"f7da6715-8291-4238-a8e2-37c97bf92a30","triggerCount":1,"shared":[{"updatedAt":"2025-04-03T19:02:34.874Z","createdAt":"2025-04-03T19:02:34.874Z","role":"workflow:owner","workflowId":"uJyzgGXmKbHFGOpY","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"f7da6715-8291-4238-a8e2-37c97bf92a30","workflowId":"uJyzgGXmKbHFGOpY","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1120,-688],"id":"70902ca3-b8c6-4016-91dc-05721ba02245","name":"Para cada hora"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM usuarios \nWHERE `plano_ativo` = '1' \n  AND `ambiente` = \"prod\"\n  AND `tokens_mes` > 1\n  AND `horaResumo` = '{{ $now.toFormat(\"HH:00:00\") }}';\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-832,-832],"id":"b08f6bcd-26a8-4560-b664-871566b46811","name":"Usuario desta hora","alwaysOutputData":false,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-512,-832],"id":"90c34378-c58a-4bff-bc1c-e7173ab5b939","name":"Para cada usuario"},{"parameters":{"content":"## GATILHOS ##","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-1184,-736],"typeVersion":1,"id":"783a567a-e41e-4e76-be95-f87d3165077f","name":"Sticky Note8"},{"parameters":{"workflowId":{"__rl":true,"value":"RaxSn4fCpvjFeGj6","mode":"list","cachedResultName":"Intellizap - Subfluxo - Loop Grupos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"usuario_id":"={{ $json.id }}","instance-id":"={{ $json.instancia }}","instance-name":"={{ $json.nome }}","resumoDiaAnterior":"={{ $json.resumoDiaAnterior }}","ludico":"={{ $json.ludico }}","enviar-grupo-padrao":"={{ $json[\"enviar-grupo-padrao\"] }}","enviar-teste":"={{ $json[\"enviar-teste\"] }}","id-grupo-teste":"={{ $json[\"id-grupo-teste\"] }}"},"matchingColumns":["usuario_id"],"schema":[{"id":"usuario_id","displayName":"usuario_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"instance-id","displayName":"instance-id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance-name","displayName":"instance-name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoDiaAnterior","displayName":"resumoDiaAnterior","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"ludico","displayName":"ludico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"enviar-teste","displayName":"enviar-teste","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"enviar-grupo-padrao","displayName":"enviar-grupo-padrao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"id-grupo-teste","displayName":"id-grupo-teste","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,-832],"id":"97d41f25-34b0-426e-8768-4f3910582137","name":"Execute Workflow","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM usuarios \nWHERE `plano_ativo` = '1' \n  AND `ambiente` = \"prod\"\n  AND `tokens_mes` < 1\n  AND `horaResumo` = '{{ $now.toFormat(\"HH:00:00\") }}';\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-832,-528],"id":"778b0985-7a05-4965-9797-3655528cb4d5","name":"Tokens Expirados","alwaysOutputData":false,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $json.email }}","subject":"Tokens Expirados - Intellizapp","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>IntelliZapp.IA - IntelliCoins Expirados</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .expiration-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .expiration-title {\n            font-size: 24px;\n            color: #e74c3c;\n            margin-bottom: 15px;\n        }\n        \n        .expiration-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .warning-section {\n            background-color: #fff5f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e74c3c;\n        }\n        \n        .warning-title {\n            font-size: 20px;\n            color: #c0392b;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .consequences-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .consequences-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .consequences-list li:before {\n            content: \"⚠️\";\n            position: absolute;\n            left: 0;\n            font-size: 16px;\n        }\n        \n        .action-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n        }\n        \n        .action-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .action-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            counter-reset: step;\n        }\n        \n        .action-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .action-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #3498db;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .renewal-info {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc107;\n        }\n        \n        .renewal-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .renewal-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .expiration-title {\n                font-size: 20px;\n            }\n            \n            .warning-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 IntelliZapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Expiration Message -->\n            <div class=\"expiration-message\">\n                <h1 class=\"expiration-title\">⏰ IntelliCoins Expirados</h1>\n                <p class=\"expiration-text\">\n                    Seus IntelliCoins expiraram e não será possível gerar novos resumos \n                    até a próxima renovação automática.\n                </p>\n            </div>\n            \n            <!-- Warning Section -->\n            <div class=\"warning-section\">\n                <h2 class=\"warning-title\">\n                    <span>🚫</span>\n                    O que isso significa?\n                </h2>\n                <ul class=\"consequences-list\">\n                    <li>Novos resumos não serão gerados automaticamente</li>\n                    <li>Grupos continuam sendo monitorados</li>\n                    <li>Mensagens ficam armazenadas para o próximo ciclo</li>\n                    <li>Histórico anterior permanece disponível</li>\n                </ul>\n            </div>\n            \n            <!-- Action Section -->\n            <div class=\"action-section\">\n                <h2 class=\"action-title\">\n                    <span>📋</span>\n                    Como verificar a renovação\n                </h2>\n                <ol class=\"action-list\">\n                    <li>Acesse sua conta na plataforma IntelliZapp.IA</li>\n                    <li>Vá na seção \"Meu Plano\"</li>\n                    <li>Verifique a data da próxima renovação</li>\n                    <li>Aguarde a renovação automática dos seus IntelliCoins</li>\n                </ol>\n            </div>\n            \n            <!-- Renewal Info -->\n            <div class=\"renewal-info\">\n                <h2 class=\"renewal-title\">🔄 Renovação Automática</h2>\n                <p class=\"renewal-text\">\n                    Seus IntelliCoins são renovados automaticamente todo mês na data \n                    definida em sua conta. Não é necessária nenhuma ação da sua parte.\n                </p>\n                <div style=\"background-color: white; border-radius: 8px; padding: 15px; margin-top: 15px; text-align: center;\">\n                    <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 5px;\">\n                        📅 Acesse o sistema para ver sua data de renovação\n                    </p>\n                    <p style=\"font-size: 14px; color: #7f8c8d;\">\n                        Meu Plano > IntelliCoins Disponíveis\n                    </p>\n                </div>\n            </div>\n            \n            <!-- CTA Button -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Minha Conta\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Nossa equipe está sempre disponível para te ajudar através do e-mail \n                    <strong>suporte@intellizapp.com.br</strong> ou respondendo diretamente este e-mail.\n                </p>\n            </div>\n            \n            <!-- Additional Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #e8f8f5; border-radius: 10px; border-left: 4px solid #27ae60;\">\n                <h3 style=\"color: #27ae60; margin-bottom: 15px; font-size: 18px;\">\n                    ✅ Lembre-se\n                </h3>\n                <ul style=\"list-style: none; margin: 0; padding: 0;\">\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Seus grupos continuam conectados\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Mensagens ficam armazenadas\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Renovação é automática\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #27ae60;\">•</span>\n                        Histórico anterior disponível\n                    </li>\n                </ul>\n            </div>\n            \n            <!-- Important Note -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 20px; margin: 30px 0; border-left: 4px solid #ffc107; text-align: center;\">\n                <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 10px;\">\n                    📱 Mantenha-se Conectado\n                </p>\n                <p style=\"font-size: 14px; color: #856404;\">\n                    Assim que seus IntelliCoins forem renovados, os resumos voltarão \n                    a ser gerados automaticamente nos horários configurados.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Seus IntelliCoins serão renovados automaticamente. Acesse o sistema para ver quando!\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 IntelliZapp.IA - Todos os direitos reservados<br>\n                Dúvidas? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-512,-528],"id":"0821d6c7-f891-4e45-bcba-84ebc7eef1ed","name":"Avisar dos Tokens Expirados","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}}],"connections":{"Para cada hora":{"main":[[{"node":"Usuario desta hora","type":"main","index":0},{"node":"Tokens Expirados","type":"main","index":0}]]},"Usuario desta hora":{"main":[[{"node":"Para cada usuario","type":"main","index":0}]]},"Para cada usuario":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Para cada usuario","type":"main","index":0}],[]]},"Tokens Expirados":{"main":[[{"node":"Avisar dos Tokens Expirados","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-04-07T12:37:26.562Z","createdAt":"2025-04-07T12:37:26.562Z","id":"rcOkvcAOOtPP3cQ8","name":"INTELLIZAP"}]}