intellizap---interface-conexão-5k0gsYQ7LtdWYQdR.json
{"updatedAt":"2025-08-15T12:49:09.979Z","createdAt":"2025-06-03T15:59:53.757Z","id":"5k0gsYQ7LtdWYQdR","name":"Intellizap - Interface conexão","active":false,"isArchived":true,"nodes":[{"parameters":{"path":"qrcode","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,-140],"id":"d332de83-02df-4ae4-97b9-7b5c31ef30e8","name":"Webhook","webhookId":"84e6f4f8-db74-46ca-a45b-ca80e0c8638d"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,-260],"id":"772b6311-0e96-416a-a4a2-c0a4808bb7e0","name":"Respond to Webhook"},{"parameters":{"operation":"instance-connect","instanceName":"aceleradormedico"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-320,-140],"id":"2a6244a9-ef9b-431b-8cb5-6b4943cef939","name":"Evolution API","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fd3b95-a562-46fb-a210-f2a09978fe0f","leftValue":"={{ $json.data.instance.state }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-140],"id":"d15f3349-ccfa-4fa0-adc8-a816fa141cea","name":"If"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,0],"id":"97e17401-2dc7-44be-a893-ee1226197769","name":"Respond to Webhook1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>IntelliZap - Conecte-se</title>\n    <link rel=\"stylesheet\" href=\"styles.css\"> <!-- Se este arquivo existir e tiver estilos para .grid, pode precisar de ajuste também -->\n    <link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css\" rel=\"stylesheet\">\n    <style>\n\n        * {\n    margin: 0;\n    padding: 0;\n    box-sizing: border-box;\n    }\n\n    body {\n        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n        background: linear-gradient(135deg, #f0fdf4, #dbeafe, #faf5ff);\n        min-height: 100vh;\n        color: #1f2937;\n    }\n\n    .container {\n        max-width: 1200px;\n        margin: 0 auto;\n        padding: 0 24px;\n    }\n\n    /* Header */\n    .header {\n        background: rgba(255, 255, 255, 0.8);\n        backdrop-filter: blur(12px);\n        border-bottom: 1px solid #e5e7eb;\n        position: sticky;\n        top: 0;\n        z-index: 50;\n    }\n\n    .header-content {\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        padding: 16px 0;\n    }\n\n    .logo {\n        display: flex;\n        align-items: center;\n        gap: 12px;\n    }\n\n    .logo-icon {\n        width: 32px;\n        height: 32px;\n        background: linear-gradient(135deg, #10b981, #2563eb);\n        border-radius: 8px;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-size: 16px;\n    }\n\n    .logo-text {\n        font-size: 24px;\n        font-weight: bold;\n        background: linear-gradient(135deg, #059669, #2563eb);\n        -webkit-background-clip: text;\n        -webkit-text-fill-color: transparent;\n        background-clip: text;\n    }\n\n    .connection-status {\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        padding: 8px 16px;\n        border-radius: 20px;\n        font-size: 14px;\n        font-weight: 600;\n        background: #f3f4f6;\n        color: #6b7280;\n        transition: all 0.3s ease;\n    }\n\n    .connection-status.connected {\n        background: #dcfce7;\n        color: #166534;\n    }\n\n    /* Main Content */\n    .main {\n        padding: 48px 0;\n    }\n\n    .hero {\n        text-align: center;\n        margin-bottom: 64px;\n    }\n\n    .hero-title {\n        font-size: 48px;\n        font-weight: bold;\n        color: #111827;\n        margin-bottom: 24px;\n        line-height: 1.1;\n    }\n\n    .gradient-text {\n        background: linear-gradient(135deg, #059669, #2563eb);\n        -webkit-background-clip: text;\n        -webkit-text-fill-color: transparent;\n        background-clip: text;\n    }\n\n    .hero-description {\n        font-size: 20px;\n        color: #6b7280;\n        max-width: 600px;\n        margin: 0 auto 32px;\n        line-height: 1.6;\n    }\n\n    .grid {\n        display: grid;\n        /* grid-template-columns: 1fr 1fr; */ /* Linha original comentada/removida */\n        grid-template-columns: 1fr;       /* Nova linha: Garante uma única coluna */\n        justify-items: center;            /* Nova linha: Centraliza os itens na coluna */\n        gap: 48px;\n        max-width: 1000px;\n        margin: 0 auto;\n        align-items: start;\n    }\n\n    /* Cards */\n    .card {\n        background: rgba(255, 255, 255, 0.9);\n        backdrop-filter: blur(12px);\n        border-radius: 16px;\n        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n        border: 0;\n        transition: all 0.3s ease;\n    }\n\n    .card:hover {\n        transform: translateY(-2px);\n        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n    }\n\n    .card-header {\n        padding: 32px 32px 0;\n        text-align: center;\n    }\n\n    .card-title {\n        font-size: 24px;\n        font-weight: 600;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        gap: 12px;\n        margin-bottom: 8px;\n    }\n\n    .card-title i {\n        color: #059669;\n        font-size: 20px;\n    }\n\n    .card-description {\n        color: #6b7280;\n        font-size: 16px;\n    }\n\n    .card-content {\n        padding: 32px;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        gap: 24px;\n    }\n\n    /* QR Code */\n    .qr-display {\n        position: relative;\n    }\n\n    .qr-container {\n        width: 208px;\n        height: 208px;\n        background: white;\n        border-radius: 16px;\n        border: 4px solid #f3f4f6;\n        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);\n        overflow: hidden;\n        position: relative;\n        animation: fadeIn 0.5s ease-out;\n    }\n\n    .qr-container img {\n        width: 100%;\n        height: 100%;\n        object-fit: cover;\n        padding: 16px;\n    }\n\n    .qr-loading {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n\n    .spinner {\n        width: 32px;\n        height: 32px;\n        border: 4px solid #f3f4f6;\n        border-top: 4px solid #059669;\n        border-radius: 50%;\n        animation: spin 1s linear infinite;\n    }\n\n    .qr-overlay {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.1));\n        border-radius: 16px;\n        pointer-events: none;\n    }\n\n    .scan-line {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 4px;\n        background: linear-gradient(to right, transparent, #10b981, transparent);\n        animation: pulse 2s infinite;\n    }\n\n    .qr-connected {\n        width: 208px;\n        height: 208px;\n        background: #dcfce7;\n        border-radius: 16px;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        animation: scaleIn 0.5s ease-out;\n    }\n\n    .connected-icon {\n        width: 64px;\n        height: 64px;\n        background: #10b981;\n        border-radius: 50%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-size: 32px;\n        margin-bottom: 16px;\n    }\n\n    .connected-title {\n        color: #166534;\n        font-weight: 600;\n        font-size: 18px;\n        margin-bottom: 4px;\n    }\n\n    .connected-subtitle {\n        color: #059669;\n        font-size: 14px;\n    }\n\n    .session-code {\n        text-align: center;\n    }\n\n    .session-label {\n        font-size: 14px;\n        color: #6b7280;\n        margin-bottom: 8px;\n    }\n\n    .session-value {\n        background: #f3f4f6;\n        padding: 8px 16px;\n        border-radius: 8px;\n        font-size: 14px;\n        font-family: 'Courier New', monospace;\n        font-weight: 600;\n    }\n\n    .btn {\n        padding: 12px 24px;\n        border-radius: 8px;\n        font-weight: 500;\n        font-size: 14px;\n        cursor: pointer;\n        transition: all 0.2s ease;\n        border: none;\n        text-decoration: none;\n        display: inline-flex;\n        align-items: center;\n        justify-content: center;\n    }\n\n    .btn-outline {\n        background: transparent;\n        border: 1px solid #d1d5db;\n        color: #374151;\n        max-width: 200px;\n    }\n\n    .btn-outline:hover {\n        background: #f9fafb;\n        border-color: #9ca3af;\n    }\n\n    /* Instructions Card */\n    .instructions-card {\n        background: linear-gradient(135deg, #10b981, #2563eb);\n        color: white;\n    }\n\n    .instructions-card .card-title {\n        color: white;\n        font-size: 24px;\n    }\n\n    .step {\n        display: flex;\n        align-items: flex-start;\n        gap: 12px;\n        margin-bottom: 16px;\n    }\n\n    .step:last-child {\n        margin-bottom: 0;\n    }\n\n    .step-number {\n        width: 24px;\n        height: 24px;\n        background: rgba(255, 255, 255, 0.2);\n        border-radius: 50%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-size: 12px;\n        font-weight: bold;\n        flex-shrink: 0;\n        margin-top: 2px;\n    }\n\n    /* Features */\n    .features {\n        display: flex;\n        flex-direction: column;\n        gap: 16px;\n        margin-top: 32px;\n    }\n\n    .feature-card {\n        background: rgba(255, 255, 255, 0.7);\n        backdrop-filter: blur(12px);\n        border-radius: 12px;\n        padding: 24px;\n        display: flex;\n        align-items: flex-start;\n        gap: 16px;\n        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\n        transition: all 0.3s ease;\n    }\n\n    .feature-card:hover {\n        transform: scale(1.02);\n        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);\n    }\n\n    .feature-icon {\n        width: 48px;\n        height: 48px;\n        background: linear-gradient(135deg, #10b981, #2563eb);\n        border-radius: 12px;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-size: 20px;\n        flex-shrink: 0;\n    }\n\n    .feature-content h4 {\n        font-weight: 600;\n        color: #111827;\n        margin-bottom: 8px;\n    }\n\n    .feature-content p {\n        color: #6b7280;\n        font-size: 14px;\n        line-height: 1.5;\n    }\n\n    /* Status Banner */\n    .status-banner {\n        margin-top: 64px;\n        max-width: 800px;\n        /* margin-left: auto; /* Estas podem ser removidas se justify-items: center no pai já centraliza o banner */\n        /* margin-right: auto; */\n        animation: slideUp 0.5s ease-out;\n    }\n\n    .success-card {\n        border: 1px solid #bbf7d0;\n        background: #f0fdf4;\n    }\n\n    .success-content {\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        padding: 32px;\n    }\n\n    .success-icon {\n        font-size: 48px;\n        color: #059669;\n        margin-right: 16px;\n    }\n\n    .success-title {\n        font-size: 24px;\n        font-weight: bold;\n        color: #166534;\n        margin-bottom: 8px;\n    }\n\n    .success-description {\n        color: #166534;\n    }\n\n    #qrImage{\n        background-color: #111827;\n    }\n\n    /* Animations */\n    @keyframes fadeIn {\n        from {\n            opacity: 0;\n            transform: translateY(10px);\n        }\n        to {\n            opacity: 1;\n            transform: translateY(0);\n        }\n    }\n\n    @keyframes scaleIn {\n        from {\n            transform: scale(0.95);\n            opacity: 0;\n        }\n        to {\n            transform: scale(1);\n            opacity: 1;\n        }\n    }\n\n    @keyframes slideUp {\n        from {\n            opacity: 0;\n            transform: translateY(20px);\n        }\n        to {\n            opacity: 1;\n            transform: translateY(0);\n        }\n    }\n\n    @keyframes spin {\n        to {\n            transform: rotate(360deg);\n        }\n    }\n\n    @keyframes pulse {\n        0%, 100% {\n            opacity: 1;\n        }\n        50% {\n            opacity: 0.5;\n        }\n    }\n\n    /* Responsive */\n    @media (max-width: 768px) {\n        .hero-title {\n            font-size: 32px;\n        }\n        \n        .hero-description {\n            font-size: 16px;\n        }\n        \n        .grid {\n            /* A regra grid-template-columns: 1fr; já está aqui,\n               e justify-items: center; da regra base será aplicado. */\n            gap: 32px;\n        }\n        \n        .qr-section {\n            order: 2;\n        }\n        \n        .instructions-section { /* Esta classe não está no HTML fornecido, mas se estivesse... */\n            order: 1;\n        }\n        \n        .card-header,\n        .card-content {\n            padding: 24px;\n        }\n        \n        .qr-container,\n        .qr-connected {\n            width: 160px;\n            height: 160px;\n        }\n    }\n    </style>\n</head>\n<body>\n    <!-- Header -->\n    <header class=\"header\">\n        <div class=\"container\">\n            <div class=\"header-content\">\n                <div class=\"logo\">\n                    <div class=\"logo-icon\">\n                        <i class=\"fas fa-bolt\"></i>\n                    </div>\n                    <h1 class=\"logo-text\">IntelliZap</h1>\n                </div>\n                <div class=\"connection-status\" id=\"connectionStatus\">\n                    <i class=\"fas fa-wifi-slash\"></i>\n                    <span>Aguardando conexão</span>\n                </div>\n            </div>\n        </div>\n    </header>\n\n    <main class=\"main\">\n        <div class=\"container\">\n            <!-- Hero Section -->\n            <div class=\"hero\">\n                <h2 class=\"hero-title\">\n                    Conecte-se ao <span class=\"gradient-text\">IntelliZap</span>\n                </h2>\n                <p class=\"hero-description\">\n                    Escaneie o QR code abaixo com seu dispositivo móvel para estabelecer uma conexão segura \n                    e começar a automação inteligente dos seus processos.\n                </p>\n            </div>\n\n            <div class=\"grid\">\n                <!-- QR Code Section -->\n                <div class=\"qr-section\">\n                    <div class=\"card qr-card\">\n                        <div class=\"card-header\">\n                            <h3 class=\"card-title\">\n                                <i class=\"fas fa-qrcode\"></i>\n                                Conexão\n                            </h3>\n                            <p class=\"card-description\">\n                                Use o aplicativo Whatsapp para escanear este código\n                            </p>\n                        </div>\n                        <div class=\"card-content\">\n                            <div class=\"qr-display\" id=\"qrDisplay\" style=\"width: 200px; height: 200px;\"> <!-- Considerar se esta largura/altura fixa é necessária aqui ou se deve vir do CSS -->\n                                <div class=\"qr-container\" id=\"qrContainer\">\n                                    <img id=\"qrImage\" src=\"{{ $json.data.base64 }}\" alt=\"QR Code para conectar ao IntelliZap\" />\n                                    <div class=\"qr-overlay\"></div>\n                                    <div class=\"scan-line\"></div>\n                                </div>\n                                <div class=\"qr-connected\" id=\"qrConnected\" style=\"display: none;\">\n                                    <div class=\"connected-icon\">\n                                        <i class=\"fas fa-qrcode\"></i> <!-- Deveria ser um ícone de check ou similar? -->\n                                    </div>\n                                    <p class=\"connected-title\">Conectado!</p>\n                                    <p class=\"connected-subtitle\">Conexão estabelecida</p>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n            <!-- Status Banner -->\n            <div class=\"status-banner\" id=\"statusBanner\" style=\"display: none;\">\n                <div class=\"card success-card\">\n                    <div class=\"card-content success-content\">\n                        <i class=\"fas fa-check-circle success-icon\"></i>\n                        <div>\n                            <h3 class=\"success-title\">Conexão Estabelecida!</h3>\n                            <p class=\"success-description\">\n                                Seu dispositivo está conectado com sucesso. Você pode começar a usar o IntelliZap.\n                            </p>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </main>\n      <script>\n        // Define o intervalo de tempo em milissegundos (10 segundos = 10000 ms)\n        const reloadInterval = 10000;\n        let countdownValue = reloadInterval / 1000; // Convertendo para segundos\n\n        // Função para atualizar a hora atual na página\n        function displayCurrentTime() {\n            const timeElement = document.getElementById('currentTime');\n            if (timeElement) {\n                const now = new Date();\n                timeElement.textContent = now.toLocaleTimeString('pt-BR');\n            }\n        }\n\n        // Função para atualizar o contador regressivo\n        function updateCountdown() {\n            const countdownElement = document.getElementById('countdown');\n            if (countdownElement) {\n                countdownElement.textContent = countdownValue;\n                countdownValue--;\n            }\n        }\n\n        // Exibe a hora atual imediatamente ao carregar\n        displayCurrentTime();\n        // Inicia o contador regressivo\n        updateCountdown(); // Chama uma vez para exibir o valor inicial\n        \n        // Intervalo para o contador regressivo (a cada 1 segundo)\n        const countdownTimer = setInterval(function() {\n            if (countdownValue < 0) {\n                // Não é necessário resetar aqui, pois a página vai recarregar\n            } else {\n                updateCountdown();\n            }\n        }, 1000);\n\n\n        // Define o intervalo para o reload da página\n        const reloadTimer = setInterval(function() {\n            // Adiciona um log no console para ver quando o reload está prestes a acontecer\n            console.log('Recarregando a página em ' + new Date().toLocaleTimeString('pt-BR'));\n            window.location.reload();\n        }, reloadInterval);\n\n        // Opcional: Se você quiser parar o reload em algum momento (por exemplo, com um botão),\n        // você pode usar clearInterval(reloadTimer); e clearInterval(countdownTimer);\n        // Para este exemplo, não há como parar, ele continuará recarregando.\n\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,-260],"id":"82468cd0-3237-48f3-87d4-3c7d90cc4b7e","name":"A conectar"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>IntelliZap - Conectado</title>\n    <link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css\" rel=\"stylesheet\">\n    <style>\n        /* ... (estilos anteriores) ... */\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: linear-gradient(135deg, #f0fdf4, #dbeafe, #faf5ff);\n            min-height: 100vh;\n            color: #1f2937;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n            padding: 0 24px;\n            width: 100%;\n        }\n\n        /* Header ... */\n        .header {\n            background: rgba(255, 255, 255, 0.8);\n            backdrop-filter: blur(12px);\n            border-bottom: 1px solid #e5e7eb;\n            position: sticky;\n            top: 0;\n            z-index: 50;\n        }\n\n        .header-content {\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 16px 0;\n        }\n\n        .logo {\n            display: flex;\n            align-items: center;\n            gap: 12px;\n        }\n\n        .logo-icon {\n            width: 32px;\n            height: 32px;\n            background: linear-gradient(135deg, #10b981, #2563eb);\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n            font-size: 16px;\n        }\n\n        .logo-text {\n            font-size: 24px;\n            font-weight: bold;\n            background: linear-gradient(135deg, #059669, #2563eb);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .connection-status {\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            padding: 8px 16px;\n            border-radius: 20px;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s ease;\n        }\n\n        .connection-status.connected {\n            background: #dcfce7;\n            color: #166534;\n        }\n\n\n        /* Main Content */\n        .main {\n            padding: 48px 0;\n            flex-grow: 1;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .hero {\n            text-align: center;\n            margin-bottom: 48px;\n        }\n\n        .hero-title {\n            font-size: 40px;\n            font-weight: bold;\n            color: #111827;\n            margin-bottom: 16px;\n            line-height: 1.2;\n        }\n\n        .gradient-text {\n            background: linear-gradient(135deg, #059669, #2563eb);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .hero-description {\n            font-size: 18px;\n            color: #6b7280;\n            max-width: 700px;\n            margin: 0 auto 32px;\n            line-height: 1.6;\n        }\n\n        .content-wrapper {\n            display: flex;\n            flex-direction: column;\n            align-items: center; /* Centraliza os filhos diretos (hero, card, next-steps) */\n            width: 100%;         /* Ocupa a largura disponível até o max-width */\n            max-width: 700px;    /* Largura máxima para o bloco de conteúdo principal */\n            margin: 0 auto;      /* ADICIONADO: Centraliza o próprio .content-wrapper dentro do .container */\n        }\n\n        /* Cards */\n        .card {\n            background: rgba(255, 255, 255, 0.9);\n            backdrop-filter: blur(12px);\n            border-radius: 16px;\n            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n            border: 0;\n            transition: all 0.3s ease;\n            width: 100%; /* O card ocupa 100% do .content-wrapper */\n            animation: fadeIn 0.5s ease-out;\n        }\n\n        /* ... (restante dos estilos como estavam) ... */\n        .card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n        }\n\n        .card-header {\n            padding: 24px 24px 0;\n            text-align: center;\n            border-bottom: 1px solid #e5e7eb;\n            margin-bottom: 24px;\n        }\n\n        .card-title {\n            font-size: 22px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 12px;\n            margin-bottom: 16px;\n        }\n\n        .card-title i {\n            color: #059669;\n            font-size: 24px;\n        }\n\n        .card-content {\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            gap: 20px;\n        }\n\n        /* Informações da Sessão */\n        .session-info {\n            width: 100%;\n            display: flex;\n            flex-direction: column;\n            gap: 16px;\n            margin-bottom: 24px;\n            padding: 0 16px;\n        }\n        .info-item {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid #f3f4f6;\n        }\n        .info-item:last-child {\n            border-bottom: none;\n        }\n        .info-label {\n            font-weight: 500;\n            color: #374151;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        .info-value {\n            color: #6b7280;\n            font-family: 'SF Mono', 'Courier New', monospace;\n            background-color: #f9fafb;\n            padding: 4px 8px;\n            border-radius: 6px;\n            font-size: 14px;\n        }\n        .info-value.highlight {\n            color: #166534;\n            font-weight: 600;\n        }\n\n        /* Botões */\n        .btn {\n            padding: 12px 24px;\n            border-radius: 8px;\n            font-weight: 600;\n            font-size: 16px;\n            cursor: pointer;\n            transition: all 0.2s ease;\n            border: none;\n            text-decoration: none;\n            display: inline-flex;\n            align-items: center;\n            justify-content: center;\n            gap: 8px;\n            width: 100%;\n            max-width: 300px;\n        }\n\n        .btn-danger {\n            background-color: #ef4444; /* Tailwind red-500 */\n            color: white;\n        }\n        .btn-danger:hover {\n            background-color: #dc2626; /* Tailwind red-600 */\n            box-shadow: 0 4px 15px rgba(220, 38, 38, 0.2);\n        }\n        \n        /* Seção de Próximos Passos */\n        .next-steps {\n            margin-top: 48px;\n            width: 100%; /* Ocupa 100% do .content-wrapper */\n        }\n        .next-steps-title {\n            font-size: 20px;\n            font-weight: 600;\n            color: #111827;\n            text-align: center;\n            margin-bottom: 24px;\n        }\n         .features-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));\n            gap: 24px;\n        }\n\n        .feature-card {\n            background: rgba(255, 255, 255, 0.7);\n            backdrop-filter: blur(10px);\n            border-radius: 12px;\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            text-align: center;\n            gap: 16px;\n            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);\n            transition: all 0.3s ease;\n            border: 1px solid transparent;\n            text-decoration: none; \n            color: inherit; \n        }\n\n        .feature-card:hover {\n            transform: translateY(-4px) scale(1.02);\n            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);\n            border-color: #10b981;\n        }\n\n        .feature-icon {\n            width: 48px;\n            height: 48px;\n            background: linear-gradient(135deg, #10b981, #2563eb);\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n            font-size: 20px;\n            flex-shrink: 0;\n        }\n\n        .feature-content h4 {\n            font-size: 18px;\n            font-weight: 600;\n            color: #111827;\n            margin-bottom: 8px;\n        }\n\n        .feature-content p {\n            color: #6b7280;\n            font-size: 14px;\n            line-height: 1.5;\n        }\n\n        /* Footer */\n        .footer {\n            text-align: center;\n            padding: 24px 0;\n            font-size: 14px;\n            color: #6b7280;\n            margin-top: auto;\n            border-top: 1px solid #e5e7eb;\n        }\n\n        /* Animations */\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(10px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n\n        /* Responsive */\n        @media (max-width: 768px) {\n            .hero-title {\n                font-size: 32px;\n            }\n            .hero-description {\n                font-size: 16px;\n            }\n            .card-header, .card-content {\n                padding: 20px;\n            }\n            .info-item {\n                flex-direction: column;\n                align-items: flex-start;\n                gap: 4px;\n            }\n            .info-value {\n                align-self: flex-start;\n            }\n             .features-grid {\n                grid-template-columns: 1fr;\n            }\n            /* Não é necessário mexer no .content-wrapper aqui, \n               pois ele já terá width: 100% e será centralizado pelo margin: 0 auto. */\n        }\n    </style>\n</head>\n<body>\n    <!-- Header -->\n    <header class=\"header\">\n        <div class=\"container\">\n            <div class=\"header-content\">\n                <div class=\"logo\">\n                    <div class=\"logo-icon\">\n                        <i class=\"fas fa-bolt\"></i>\n                    </div>\n                    <h1 class=\"logo-text\">IntelliZap</h1>\n                </div>\n                <div class=\"connection-status connected\">\n                    <i class=\"fas fa-wifi\"></i>\n                    <span>Conectado</span>\n                </div>\n            </div>\n        </div>\n    </header>\n\n    <main class=\"main\">\n        <div class=\"container\">\n            <div class=\"content-wrapper\"> <!-- Este wrapper agora será centralizado -->\n                <!-- Hero Section -->\n                <div class=\"hero\">\n                    <h2 class=\"hero-title\">\n                        Bem-vindo ao <span class=\"gradient-text\">IntelliZap!</span>\n                    </h2>\n                    <p class=\"hero-description\">\n                        Sua sessão está ativa e pronta para uso. Tudo pronto para os resumos.\n                    </p>\n                </div>\n\n                <!-- Connected Status Card -->\n                <div class=\"card\"> <!-- O card ocupará 100% do content-wrapper -->\n                    <div class=\"card-header\">\n                        <h3 class=\"card-title\">\n                            <i class=\"fas fa-check-circle\"></i>\n                            Status da Sessão\n                        </h3>\n                    </div>\n                    <div class=\"card-content\">\n                        <div class=\"session-info\">\n                            <div class=\"info-item\">\n                                <span class=\"info-label\"><i class=\"fas fa-signal\"></i> Status:</span>\n                                <span class=\"info-value highlight\">Ativa</span>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n            </div>\n        </div>\n    </main>\n\n    <footer class=\"footer\">\n        <p>© 2024 IntelliZap. Todos os direitos reservados.</p>\n    </footer>\n\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,0],"id":"712fe054-2617-48e3-8074-615e73b00875","name":"Conectado"},{"parameters":{"path":"=Jhonata","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,380],"id":"7a815b23-9094-45ab-9967-e41db8f2e999","name":"Webhook1","webhookId":"84e6f4f8-db74-46ca-a45b-ca80e0c8638d"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,260],"id":"04628639-c5b8-4c65-8188-849605478d04","name":"Respond to Webhook2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fd3b95-a562-46fb-a210-f2a09978fe0f","leftValue":"={{ $json.data.instance.state }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,380],"id":"c5f2af37-0633-4fbb-a9b0-f50adb336b5a","name":"If1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,520],"id":"18777676-d404-4ebc-b0a0-9660f3eba5ae","name":"Respond to Webhook3"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>IntelliZap - Conecte-se</title>\n    <link rel=\"stylesheet\" href=\"styles.css\"> <!-- Se este arquivo existir e tiver estilos para .grid, pode precisar de ajuste também -->\n    <link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css\" rel=\"stylesheet\">\n    <style>\n\n        * {\n    margin: 0;\n    padding: 0;\n    box-sizing: border-box;\n    }\n\n    body {\n        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n        background: linear-gradient(135deg, #f0fdf4, #dbeafe, #faf5ff);\n        min-height: 100vh;\n        color: #1f2937;\n    }\n\n    .container {\n        max-width: 1200px;\n        margin: 0 auto;\n        padding: 0 24px;\n    }\n\n    /* Header */\n    .header {\n        background: rgba(255, 255, 255, 0.8);\n        backdrop-filter: blur(12px);\n        border-bottom: 1px solid #e5e7eb;\n        position: sticky;\n        top: 0;\n        z-index: 50;\n    }\n\n    .header-content {\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        padding: 16px 0;\n    }\n\n    .logo {\n        display: flex;\n        align-items: center;\n        gap: 12px;\n    }\n\n    .logo-icon {\n        width: 32px;\n        height: 32px;\n        background: linear-gradient(135deg, #10b981, #2563eb);\n        border-radius: 8px;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-size: 16px;\n    }\n\n    .logo-text {\n        font-size: 24px;\n        font-weight: bold;\n        background: linear-gradient(135deg, #059669, #2563eb);\n        -webkit-background-clip: text;\n        -webkit-text-fill-color: transparent;\n        background-clip: text;\n    }\n\n    .connection-status {\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        padding: 8px 16px;\n        border-radius: 20px;\n        font-size: 14px;\n        font-weight: 600;\n        background: #f3f4f6;\n        color: #6b7280;\n        transition: all 0.3s ease;\n    }\n\n    .connection-status.connected {\n        background: #dcfce7;\n        color: #166534;\n    }\n\n    /* Main Content */\n    .main {\n        padding: 48px 0;\n    }\n\n    .hero {\n        text-align: center;\n        margin-bottom: 64px;\n    }\n\n    .hero-title {\n        font-size: 48px;\n        font-weight: bold;\n        color: #111827;\n        margin-bottom: 24px;\n        line-height: 1.1;\n    }\n\n    .gradient-text {\n        background: linear-gradient(135deg, #059669, #2563eb);\n        -webkit-background-clip: text;\n        -webkit-text-fill-color: transparent;\n        background-clip: text;\n    }\n\n    .hero-description {\n        font-size: 20px;\n        color: #6b7280;\n        max-width: 600px;\n        margin: 0 auto 32px;\n        line-height: 1.6;\n    }\n\n    .grid {\n        display: grid;\n        /* grid-template-columns: 1fr 1fr; */ /* Linha original comentada/removida */\n        grid-template-columns: 1fr;       /* Nova linha: Garante uma única coluna */\n        justify-items: center;            /* Nova linha: Centraliza os itens na coluna */\n        gap: 48px;\n        max-width: 1000px;\n        margin: 0 auto;\n        align-items: start;\n    }\n\n    /* Cards */\n    .card {\n        background: rgba(255, 255, 255, 0.9);\n        backdrop-filter: blur(12px);\n        border-radius: 16px;\n        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n        border: 0;\n        transition: all 0.3s ease;\n    }\n\n    .card:hover {\n        transform: translateY(-2px);\n        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n    }\n\n    .card-header {\n        padding: 32px 32px 0;\n        text-align: center;\n    }\n\n    .card-title {\n        font-size: 24px;\n        font-weight: 600;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        gap: 12px;\n        margin-bottom: 8px;\n    }\n\n    .card-title i {\n        color: #059669;\n        font-size: 20px;\n    }\n\n    .card-description {\n        color: #6b7280;\n        font-size: 16px;\n    }\n\n    .card-content {\n        padding: 32px;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        gap: 24px;\n    }\n\n    /* QR Code */\n    .qr-display {\n        position: relative;\n    }\n\n    .qr-container {\n        width: 208px;\n        height: 208px;\n        background: white;\n        border-radius: 16px;\n        border: 4px solid #f3f4f6;\n        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);\n        overflow: hidden;\n        position: relative;\n        animation: fadeIn 0.5s ease-out;\n    }\n\n    .qr-container img {\n        width: 100%;\n        height: 100%;\n        object-fit: cover;\n        padding: 16px;\n    }\n\n    .qr-loading {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n\n    .spinner {\n        width: 32px;\n        height: 32px;\n        border: 4px solid #f3f4f6;\n        border-top: 4px solid #059669;\n        border-radius: 50%;\n        animation: spin 1s linear infinite;\n    }\n\n    .qr-overlay {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.1));\n        border-radius: 16px;\n        pointer-events: none;\n    }\n\n    .scan-line {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 4px;\n        background: linear-gradient(to right, transparent, #10b981, transparent);\n        animation: pulse 2s infinite;\n    }\n\n    .qr-connected {\n        width: 208px;\n        height: 208px;\n        background: #dcfce7;\n        border-radius: 16px;\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        animation: scaleIn 0.5s ease-out;\n    }\n\n    .connected-icon {\n        width: 64px;\n        height: 64px;\n        background: #10b981;\n        border-radius: 50%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-size: 32px;\n        margin-bottom: 16px;\n    }\n\n    .connected-title {\n        color: #166534;\n        font-weight: 600;\n        font-size: 18px;\n        margin-bottom: 4px;\n    }\n\n    .connected-subtitle {\n        color: #059669;\n        font-size: 14px;\n    }\n\n    .session-code {\n        text-align: center;\n    }\n\n    .session-label {\n        font-size: 14px;\n        color: #6b7280;\n        margin-bottom: 8px;\n    }\n\n    .session-value {\n        background: #f3f4f6;\n        padding: 8px 16px;\n        border-radius: 8px;\n        font-size: 14px;\n        font-family: 'Courier New', monospace;\n        font-weight: 600;\n    }\n\n    .btn {\n        padding: 12px 24px;\n        border-radius: 8px;\n        font-weight: 500;\n        font-size: 14px;\n        cursor: pointer;\n        transition: all 0.2s ease;\n        border: none;\n        text-decoration: none;\n        display: inline-flex;\n        align-items: center;\n        justify-content: center;\n    }\n\n    .btn-outline {\n        background: transparent;\n        border: 1px solid #d1d5db;\n        color: #374151;\n        max-width: 200px;\n    }\n\n    .btn-outline:hover {\n        background: #f9fafb;\n        border-color: #9ca3af;\n    }\n\n    /* Instructions Card */\n    .instructions-card {\n        background: linear-gradient(135deg, #10b981, #2563eb);\n        color: white;\n    }\n\n    .instructions-card .card-title {\n        color: white;\n        font-size: 24px;\n    }\n\n    .step {\n        display: flex;\n        align-items: flex-start;\n        gap: 12px;\n        margin-bottom: 16px;\n    }\n\n    .step:last-child {\n        margin-bottom: 0;\n    }\n\n    .step-number {\n        width: 24px;\n        height: 24px;\n        background: rgba(255, 255, 255, 0.2);\n        border-radius: 50%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-size: 12px;\n        font-weight: bold;\n        flex-shrink: 0;\n        margin-top: 2px;\n    }\n\n    /* Features */\n    .features {\n        display: flex;\n        flex-direction: column;\n        gap: 16px;\n        margin-top: 32px;\n    }\n\n    .feature-card {\n        background: rgba(255, 255, 255, 0.7);\n        backdrop-filter: blur(12px);\n        border-radius: 12px;\n        padding: 24px;\n        display: flex;\n        align-items: flex-start;\n        gap: 16px;\n        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\n        transition: all 0.3s ease;\n    }\n\n    .feature-card:hover {\n        transform: scale(1.02);\n        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);\n    }\n\n    .feature-icon {\n        width: 48px;\n        height: 48px;\n        background: linear-gradient(135deg, #10b981, #2563eb);\n        border-radius: 12px;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-size: 20px;\n        flex-shrink: 0;\n    }\n\n    .feature-content h4 {\n        font-weight: 600;\n        color: #111827;\n        margin-bottom: 8px;\n    }\n\n    .feature-content p {\n        color: #6b7280;\n        font-size: 14px;\n        line-height: 1.5;\n    }\n\n    /* Status Banner */\n    .status-banner {\n        margin-top: 64px;\n        max-width: 800px;\n        /* margin-left: auto; /* Estas podem ser removidas se justify-items: center no pai já centraliza o banner */\n        /* margin-right: auto; */\n        animation: slideUp 0.5s ease-out;\n    }\n\n    .success-card {\n        border: 1px solid #bbf7d0;\n        background: #f0fdf4;\n    }\n\n    .success-content {\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        padding: 32px;\n    }\n\n    .success-icon {\n        font-size: 48px;\n        color: #059669;\n        margin-right: 16px;\n    }\n\n    .success-title {\n        font-size: 24px;\n        font-weight: bold;\n        color: #166534;\n        margin-bottom: 8px;\n    }\n\n    .success-description {\n        color: #166534;\n    }\n\n    #qrImage{\n        background-color: #111827;\n    }\n\n    /* Animations */\n    @keyframes fadeIn {\n        from {\n            opacity: 0;\n            transform: translateY(10px);\n        }\n        to {\n            opacity: 1;\n            transform: translateY(0);\n        }\n    }\n\n    @keyframes scaleIn {\n        from {\n            transform: scale(0.95);\n            opacity: 0;\n        }\n        to {\n            transform: scale(1);\n            opacity: 1;\n        }\n    }\n\n    @keyframes slideUp {\n        from {\n            opacity: 0;\n            transform: translateY(20px);\n        }\n        to {\n            opacity: 1;\n            transform: translateY(0);\n        }\n    }\n\n    @keyframes spin {\n        to {\n            transform: rotate(360deg);\n        }\n    }\n\n    @keyframes pulse {\n        0%, 100% {\n            opacity: 1;\n        }\n        50% {\n            opacity: 0.5;\n        }\n    }\n\n    /* Responsive */\n    @media (max-width: 768px) {\n        .hero-title {\n            font-size: 32px;\n        }\n        \n        .hero-description {\n            font-size: 16px;\n        }\n        \n        .grid {\n            /* A regra grid-template-columns: 1fr; já está aqui,\n               e justify-items: center; da regra base será aplicado. */\n            gap: 32px;\n        }\n        \n        .qr-section {\n            order: 2;\n        }\n        \n        .instructions-section { /* Esta classe não está no HTML fornecido, mas se estivesse... */\n            order: 1;\n        }\n        \n        .card-header,\n        .card-content {\n            padding: 24px;\n        }\n        \n        .qr-container,\n        .qr-connected {\n            width: 160px;\n            height: 160px;\n        }\n    }\n    </style>\n</head>\n<body>\n    <!-- Header -->\n    <header class=\"header\">\n        <div class=\"container\">\n            <div class=\"header-content\">\n                <div class=\"logo\">\n                    <div class=\"logo-icon\">\n                        <i class=\"fas fa-bolt\"></i>\n                    </div>\n                    <h1 class=\"logo-text\">IntelliZap</h1>\n                </div>\n                <div class=\"connection-status\" id=\"connectionStatus\">\n                    <i class=\"fas fa-wifi-slash\"></i>\n                    <span>Aguardando conexão</span>\n                </div>\n            </div>\n        </div>\n    </header>\n\n    <main class=\"main\">\n        <div class=\"container\">\n            <!-- Hero Section -->\n            <div class=\"hero\">\n                <h2 class=\"hero-title\">\n                    Conecte-se ao <span class=\"gradient-text\">IntelliZap</span>\n                </h2>\n                <p class=\"hero-description\">\n                    Escaneie o QR code abaixo com seu dispositivo móvel para estabelecer uma conexão segura \n                    e começar a automação inteligente dos seus processos.\n                </p>\n            </div>\n\n            <div class=\"grid\">\n                <!-- QR Code Section -->\n                <div class=\"qr-section\">\n                    <div class=\"card qr-card\">\n                        <div class=\"card-header\">\n                            <h3 class=\"card-title\">\n                                <i class=\"fas fa-qrcode\"></i>\n                                Conexão\n                            </h3>\n                            <p class=\"card-description\">\n                                Use o aplicativo Whatsapp para escanear este código\n                            </p>\n                        </div>\n                        <div class=\"card-content\">\n                            <div class=\"qr-display\" id=\"qrDisplay\" style=\"width: 200px; height: 200px;\"> <!-- Considerar se esta largura/altura fixa é necessária aqui ou se deve vir do CSS -->\n                                <div class=\"qr-container\" id=\"qrContainer\">\n                                    <img id=\"qrImage\" src=\"{{ $json.data.base64 }}\" alt=\"QR Code para conectar ao IntelliZap\" />\n                                    <div class=\"qr-overlay\"></div>\n                                    <div class=\"scan-line\"></div>\n                                </div>\n                                <div class=\"qr-connected\" id=\"qrConnected\" style=\"display: none;\">\n                                    <div class=\"connected-icon\">\n                                        <i class=\"fas fa-qrcode\"></i> <!-- Deveria ser um ícone de check ou similar? -->\n                                    </div>\n                                    <p class=\"connected-title\">Conectado!</p>\n                                    <p class=\"connected-subtitle\">Conexão estabelecida</p>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n            <!-- Status Banner -->\n            <div class=\"status-banner\" id=\"statusBanner\" style=\"display: none;\">\n                <div class=\"card success-card\">\n                    <div class=\"card-content success-content\">\n                        <i class=\"fas fa-check-circle success-icon\"></i>\n                        <div>\n                            <h3 class=\"success-title\">Conexão Estabelecida!</h3>\n                            <p class=\"success-description\">\n                                Seu dispositivo está conectado com sucesso. Você pode começar a usar o IntelliZap.\n                            </p>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </main>\n      <script>\n        // Define o intervalo de tempo em milissegundos (10 segundos = 10000 ms)\n        const reloadInterval = 10000;\n        let countdownValue = reloadInterval / 1000; // Convertendo para segundos\n\n        // Função para atualizar a hora atual na página\n        function displayCurrentTime() {\n            const timeElement = document.getElementById('currentTime');\n            if (timeElement) {\n                const now = new Date();\n                timeElement.textContent = now.toLocaleTimeString('pt-BR');\n            }\n        }\n\n        // Função para atualizar o contador regressivo\n        function updateCountdown() {\n            const countdownElement = document.getElementById('countdown');\n            if (countdownElement) {\n                countdownElement.textContent = countdownValue;\n                countdownValue--;\n            }\n        }\n\n        // Exibe a hora atual imediatamente ao carregar\n        displayCurrentTime();\n        // Inicia o contador regressivo\n        updateCountdown(); // Chama uma vez para exibir o valor inicial\n        \n        // Intervalo para o contador regressivo (a cada 1 segundo)\n        const countdownTimer = setInterval(function() {\n            if (countdownValue < 0) {\n                // Não é necessário resetar aqui, pois a página vai recarregar\n            } else {\n                updateCountdown();\n            }\n        }, 1000);\n\n\n        // Define o intervalo para o reload da página\n        const reloadTimer = setInterval(function() {\n            // Adiciona um log no console para ver quando o reload está prestes a acontecer\n            console.log('Recarregando a página em ' + new Date().toLocaleTimeString('pt-BR'));\n            window.location.reload();\n        }, reloadInterval);\n\n        // Opcional: Se você quiser parar o reload em algum momento (por exemplo, com um botão),\n        // você pode usar clearInterval(reloadTimer); e clearInterval(countdownTimer);\n        // Para este exemplo, não há como parar, ele continuará recarregando.\n\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,260],"id":"b70e7798-6866-4db9-b5ba-b8af8d3582ec","name":"A conectar1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>IntelliZap - Conectado</title>\n    <link href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css\" rel=\"stylesheet\">\n    <style>\n        /* ... (estilos anteriores) ... */\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: linear-gradient(135deg, #f0fdf4, #dbeafe, #faf5ff);\n            min-height: 100vh;\n            color: #1f2937;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n            padding: 0 24px;\n            width: 100%;\n        }\n\n        /* Header ... */\n        .header {\n            background: rgba(255, 255, 255, 0.8);\n            backdrop-filter: blur(12px);\n            border-bottom: 1px solid #e5e7eb;\n            position: sticky;\n            top: 0;\n            z-index: 50;\n        }\n\n        .header-content {\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 16px 0;\n        }\n\n        .logo {\n            display: flex;\n            align-items: center;\n            gap: 12px;\n        }\n\n        .logo-icon {\n            width: 32px;\n            height: 32px;\n            background: linear-gradient(135deg, #10b981, #2563eb);\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n            font-size: 16px;\n        }\n\n        .logo-text {\n            font-size: 24px;\n            font-weight: bold;\n            background: linear-gradient(135deg, #059669, #2563eb);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .connection-status {\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            padding: 8px 16px;\n            border-radius: 20px;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s ease;\n        }\n\n        .connection-status.connected {\n            background: #dcfce7;\n            color: #166534;\n        }\n\n\n        /* Main Content */\n        .main {\n            padding: 48px 0;\n            flex-grow: 1;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .hero {\n            text-align: center;\n            margin-bottom: 48px;\n        }\n\n        .hero-title {\n            font-size: 40px;\n            font-weight: bold;\n            color: #111827;\n            margin-bottom: 16px;\n            line-height: 1.2;\n        }\n\n        .gradient-text {\n            background: linear-gradient(135deg, #059669, #2563eb);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .hero-description {\n            font-size: 18px;\n            color: #6b7280;\n            max-width: 700px;\n            margin: 0 auto 32px;\n            line-height: 1.6;\n        }\n\n        .content-wrapper {\n            display: flex;\n            flex-direction: column;\n            align-items: center; /* Centraliza os filhos diretos (hero, card, next-steps) */\n            width: 100%;         /* Ocupa a largura disponível até o max-width */\n            max-width: 700px;    /* Largura máxima para o bloco de conteúdo principal */\n            margin: 0 auto;      /* ADICIONADO: Centraliza o próprio .content-wrapper dentro do .container */\n        }\n\n        /* Cards */\n        .card {\n            background: rgba(255, 255, 255, 0.9);\n            backdrop-filter: blur(12px);\n            border-radius: 16px;\n            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n            border: 0;\n            transition: all 0.3s ease;\n            width: 100%; /* O card ocupa 100% do .content-wrapper */\n            animation: fadeIn 0.5s ease-out;\n        }\n\n        /* ... (restante dos estilos como estavam) ... */\n        .card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n        }\n\n        .card-header {\n            padding: 24px 24px 0;\n            text-align: center;\n            border-bottom: 1px solid #e5e7eb;\n            margin-bottom: 24px;\n        }\n\n        .card-title {\n            font-size: 22px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 12px;\n            margin-bottom: 16px;\n        }\n\n        .card-title i {\n            color: #059669;\n            font-size: 24px;\n        }\n\n        .card-content {\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            gap: 20px;\n        }\n\n        /* Informações da Sessão */\n        .session-info {\n            width: 100%;\n            display: flex;\n            flex-direction: column;\n            gap: 16px;\n            margin-bottom: 24px;\n            padding: 0 16px;\n        }\n        .info-item {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid #f3f4f6;\n        }\n        .info-item:last-child {\n            border-bottom: none;\n        }\n        .info-label {\n            font-weight: 500;\n            color: #374151;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        .info-value {\n            color: #6b7280;\n            font-family: 'SF Mono', 'Courier New', monospace;\n            background-color: #f9fafb;\n            padding: 4px 8px;\n            border-radius: 6px;\n            font-size: 14px;\n        }\n        .info-value.highlight {\n            color: #166534;\n            font-weight: 600;\n        }\n\n        /* Botões */\n        .btn {\n            padding: 12px 24px;\n            border-radius: 8px;\n            font-weight: 600;\n            font-size: 16px;\n            cursor: pointer;\n            transition: all 0.2s ease;\n            border: none;\n            text-decoration: none;\n            display: inline-flex;\n            align-items: center;\n            justify-content: center;\n            gap: 8px;\n            width: 100%;\n            max-width: 300px;\n        }\n\n        .btn-danger {\n            background-color: #ef4444; /* Tailwind red-500 */\n            color: white;\n        }\n        .btn-danger:hover {\n            background-color: #dc2626; /* Tailwind red-600 */\n            box-shadow: 0 4px 15px rgba(220, 38, 38, 0.2);\n        }\n        \n        /* Seção de Próximos Passos */\n        .next-steps {\n            margin-top: 48px;\n            width: 100%; /* Ocupa 100% do .content-wrapper */\n        }\n        .next-steps-title {\n            font-size: 20px;\n            font-weight: 600;\n            color: #111827;\n            text-align: center;\n            margin-bottom: 24px;\n        }\n         .features-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));\n            gap: 24px;\n        }\n\n        .feature-card {\n            background: rgba(255, 255, 255, 0.7);\n            backdrop-filter: blur(10px);\n            border-radius: 12px;\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            text-align: center;\n            gap: 16px;\n            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);\n            transition: all 0.3s ease;\n            border: 1px solid transparent;\n            text-decoration: none; \n            color: inherit; \n        }\n\n        .feature-card:hover {\n            transform: translateY(-4px) scale(1.02);\n            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);\n            border-color: #10b981;\n        }\n\n        .feature-icon {\n            width: 48px;\n            height: 48px;\n            background: linear-gradient(135deg, #10b981, #2563eb);\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n            font-size: 20px;\n            flex-shrink: 0;\n        }\n\n        .feature-content h4 {\n            font-size: 18px;\n            font-weight: 600;\n            color: #111827;\n            margin-bottom: 8px;\n        }\n\n        .feature-content p {\n            color: #6b7280;\n            font-size: 14px;\n            line-height: 1.5;\n        }\n\n        /* Footer */\n        .footer {\n            text-align: center;\n            padding: 24px 0;\n            font-size: 14px;\n            color: #6b7280;\n            margin-top: auto;\n            border-top: 1px solid #e5e7eb;\n        }\n\n        /* Animations */\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(10px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n\n        /* Responsive */\n        @media (max-width: 768px) {\n            .hero-title {\n                font-size: 32px;\n            }\n            .hero-description {\n                font-size: 16px;\n            }\n            .card-header, .card-content {\n                padding: 20px;\n            }\n            .info-item {\n                flex-direction: column;\n                align-items: flex-start;\n                gap: 4px;\n            }\n            .info-value {\n                align-self: flex-start;\n            }\n             .features-grid {\n                grid-template-columns: 1fr;\n            }\n            /* Não é necessário mexer no .content-wrapper aqui, \n               pois ele já terá width: 100% e será centralizado pelo margin: 0 auto. */\n        }\n    </style>\n</head>\n<body>\n    <!-- Header -->\n    <header class=\"header\">\n        <div class=\"container\">\n            <div class=\"header-content\">\n                <div class=\"logo\">\n                    <div class=\"logo-icon\">\n                        <i class=\"fas fa-bolt\"></i>\n                    </div>\n                    <h1 class=\"logo-text\">IntelliZap</h1>\n                </div>\n                <div class=\"connection-status connected\">\n                    <i class=\"fas fa-wifi\"></i>\n                    <span>Conectado</span>\n                </div>\n            </div>\n        </div>\n    </header>\n\n    <main class=\"main\">\n        <div class=\"container\">\n            <div class=\"content-wrapper\"> <!-- Este wrapper agora será centralizado -->\n                <!-- Hero Section -->\n                <div class=\"hero\">\n                    <h2 class=\"hero-title\">\n                        Bem-vindo ao <span class=\"gradient-text\">IntelliZap!</span>\n                    </h2>\n                    <p class=\"hero-description\">\n                        Sua sessão está ativa e pronta para uso. Tudo pronto para os resumos.\n                    </p>\n                </div>\n\n                <!-- Connected Status Card -->\n                <div class=\"card\"> <!-- O card ocupará 100% do content-wrapper -->\n                    <div class=\"card-header\">\n                        <h3 class=\"card-title\">\n                            <i class=\"fas fa-check-circle\"></i>\n                            Status da Sessão\n                        </h3>\n                    </div>\n                    <div class=\"card-content\">\n                        <div class=\"session-info\">\n                            <div class=\"info-item\">\n                                <span class=\"info-label\"><i class=\"fas fa-signal\"></i> Status:</span>\n                                <span class=\"info-value highlight\">Ativa</span>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n            </div>\n        </div>\n    </main>\n\n    <footer class=\"footer\">\n        <p>© 2024 IntelliZap. Todos os direitos reservados.</p>\n    </footer>\n\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,520],"id":"50d11053-a73a-402f-8282-421023dc92f9","name":"Conectado1"},{"parameters":{"operation":"instance-connect","instanceName":"=Jhonata"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-320,380],"id":"42a9b673-5e44-4f10-928f-bb688623928f","name":"Conectar instancia","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"A conectar","type":"main","index":0}],[{"node":"Conectado","type":"main","index":0}]]},"A conectar":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Conectado":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Conectar instancia","type":"main","index":0}]]},"If1":{"main":[[{"node":"A conectar1","type":"main","index":0}],[{"node":"Conectado1","type":"main","index":0}]]},"A conectar1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Conectado1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Conectar instancia":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6c28cd2e-70ba-406c-9432-fe57862cc8a2","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-06-03T15:59:53.757Z","createdAt":"2025-06-03T15:59:53.757Z","role":"workflow:owner","workflowId":"5k0gsYQ7LtdWYQdR","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[{"updatedAt":"2025-04-07T12:37:26.562Z","createdAt":"2025-04-07T12:37:26.562Z","id":"rcOkvcAOOtPP3cQ8","name":"INTELLIZAP"}]}