intellizap---recebendo-msgs-wYJH7RBAVC5ukJvF.json
{"updatedAt":"2025-11-17T17:06:46.630Z","createdAt":"2025-03-20T18:45:19.944Z","id":"wYJH7RBAVC5ukJvF","name":"Intellizap - Recebendo MSGs","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3493480c-40d4-4476-9eb8-d4953ce70173","leftValue":"={{ $('Query usuario').item.json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,-2080],"id":"ede6529c-17cf-4b72-9396-faacd133f557","name":"Se usuario existe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12091102-38db-445f-9ea7-e27a07e55283","leftValue":"={{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,-2080],"id":"d8c48882-e5c0-459a-b061-12b3e51bce5e","name":"Se é grupo"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM grupos\nWHERE grupo_id_externo = '{{ $(\"Para cada mensagem\").item.json.body.data.key.remoteJid }}'\nAND usuario_id = {{ $(\"Query usuario\").item.json.id }}\nAND ativo = 1;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[816,-1696],"id":"7c87f0ad-b94d-4a4f-ac89-6c468868ebde","name":"Query grupo","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM usuarios \nWHERE instancia = '{{ $json.body.data.instanceId }}'\nAND plano_ativo = 1 \nAND tokens_mes > 0;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-224,-2128],"id":"d9005395-ea06-4d84-b4af-652e9633021f","name":"Query usuario","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('Query usuario').item.json.id }}","rightValue":"={{ $json.usuario_id }}","operator":{"type":"number","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('Query usuario').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,-1696],"id":"d803cdaa-380b-4a71-b4d9-54b1a99bb950","name":"Se grupo existe"},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $('Query grupo').item.json.id }}"},{"column":"usuario_id","value":"={{ $('Query usuario').item.json.id }}"},{"column":"mensagem","value":"={{ $('Para cada mensagem').item.json.body.data.message.conversation }}"},{"column":"data_mensagem","value":"={{ $now.toISO({ includeOffset: false }) }}\n"},{"column":"nome-autor","value":"={{ $('Para cada mensagem').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Para cada mensagem').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1712,-1600],"id":"90542c3e-2504-4f85-8305-032f98eb1a2c","name":"Insert Msg MySql","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aca93d62-d5d6-424d-94b5-8d62dd06120a","leftValue":"={{ $json.transcricao_ativa }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"ea25ff80-5827-4001-b553-f0d1736d294c","leftValue":"={{ $('Para cada mensagem').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,-1696],"id":"357bfec5-e88b-452c-a1e4-e7c6dd2bbef6","name":"Se for pra transcrever"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1936,-1792],"id":"f2f3ff76-3c0d-48ef-9093-ae0d0f7f7a6b","name":"Transcrevendo audios","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $json.data.key.remoteJid }}"},{"column":"usuario_id","value":"={{ $('Query usuario').item.json.id }}"},{"column":"mensagem","value":"=Serviço de transcrição _*Intellizap*_!\nO que *{{ $('Para cada mensagem').first().json.body.data.pushName }}* disse:\n\n{{ $('Transcrevendo audios').item.json.text }}"},{"column":"data_mensagem","value":"={{ $now }}"},{"column":"nome-autor","value":"={{ $('Para cada mensagem').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Para cada mensagem').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2384,-1888],"id":"6250e406-0b76-447c-9b00-302bd60ae0b9","name":"Insert Msg MySql1","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"httpMethod":"POST","path":"86351806-11bc-468d-84dd-fcf535477df5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-624,-2144],"id":"b4ad0e74-6ba2-490e-8939-e4df0baded49","name":"Para cada mensagem","webhookId":"86351806-11bc-468d-84dd-fcf535477df5"},{"parameters":{"assignments":{"assignments":[{"id":"cf25c144-9a6c-4b42-8614-278e0f55cf14","name":"base64","value":"={{ $('Para cada mensagem').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,-2176],"id":"dc61eb28-07ec-449c-9353-f40abfdb29ae","name":"Var base"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,-2176],"id":"c4c32f6f-adfc-49c6-968d-39e0db8e8601","name":"Convert to File1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2160,-2272],"id":"382d4389-e9b6-4d33-bdf6-927f00001585","name":"Transcrevendo audios1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"666f3305-a71a-41b3-addb-dda94a538111","leftValue":"={{ $('Query usuario').item.json[\"transcricao-pvd\"] }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"836e3d6d-ee72-4ba6-9a8b-e64e3ea9bf64","leftValue":"={{ $('Para cada mensagem').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"a9c57a8e-e468-4b53-a4a5-f48ecfbfc8fb","leftValue":"={{ $('Query usuario').item.json.tokens_mes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,-2368],"id":"b79197a1-8ff1-4538-bff3-490ac60e94dc","name":"Transcrição PV"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Para cada mensagem').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Para cada mensagem').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA')?.item?.json?.nome && $('GET NAMEIA').item.json.nome.trim() !== \"\" ? $('GET NAMEIA').item.json.nome : \"Intellizap.IA\" }}*_ \nO que *{{ $('Para cada mensagem').item.json.body.data.pushName }}* disse:  \n\n{{ $json.text }}"},{"name":"quoted.key.id","value":"={{ $('Para cada mensagem').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,-2416],"id":"4678502f-f312-47c3-b32a-45f250339b8f","name":"Enviando Transcrição1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d4bac-6a0b-4382-a6f9-428fe0826768","leftValue":"={{ $json.message.content }}","rightValue":"=MSG-EMPTY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3008,-2128],"id":"994daf86-ccda-44e9-9d23-43ba415d81c5","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12091102-38db-445f-9ea7-e27a07e55283","leftValue":"={{ $('Para cada mensagem').item.json.body.data.message.audioMessage.seconds }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,-2272],"id":"14ef5e17-d57f-41db-b15a-005c27f89d20","name":"Se é longo1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Para cada mensagem').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Para cada mensagem').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA')?.item?.json?.nome && $('GET NAMEIA').item.json.nome.trim() !== \"\" ? $('GET NAMEIA').item.json.nome : \"Intellizap.IA\" }}*_ \nO que *{{ $('Para cada mensagem').item.json.body.data.pushName }}* disse:  \n\n_Resumo:_\n{{ $json.message.content }}\n\n_Mensagem Original_\n{{ $('Transcrevendo audios1').item.json.text }}"},{"name":"quoted.key.id","value":"={{ $('Para cada mensagem').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,-2128],"id":"6c39df87-1887-4742-a1f1-fbd87552804b","name":"Enviando Transcrição5"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"Faça um resumo dessas palavras.","role":"system"},{"content":"={{ $('Transcrevendo audios1').item.json.text }}"},{"content":"Caso os dados não sejam suficientes para concluir o resumo, retorne 'MSG-EMPTY'","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2608,-2128],"id":"c08a82cb-4940-4e29-8bd3-0691df97f47e","name":"Resumo do audio1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b55816d-9b68-4d3d-b249-d8390f8696fb","leftValue":"={{ $('Para cada mensagem').item.json.body.data.key.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,-2368],"id":"1450f294-2a60-4e0c-a331-bb20998532b2","name":"mensagemMinha1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fa709b2-22a7-4406-9e41-7a86e9627444","leftValue":"={{ $('Para cada mensagem').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1488,-1600],"id":"00e8e220-02fc-476a-9586-e6dd80464867","name":"Se for texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"253c69f9-f962-4a4b-b1ed-8840f3c707c1","leftValue":"={{ $('Query usuario').item.json.transcreverEu }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,-2176],"id":"f31468f5-1c6b-45cd-86b7-aea0271580c9","name":"Verificar se quer transcrever eu"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce2beff4-8348-4e0f-9eef-7db90c574a59","leftValue":"={{ $('Para cada mensagem').item.json.body.data.message.base64 }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1488,-2272],"id":"f6184005-90ef-4ebe-8f09-8824dd287cba","name":"IF API NÃO ENVIA B64"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,-2368],"id":"ebc8848e-5b73-46f7-8e77-b0de4aa3be08","name":"Convert to File3"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Para cada mensagem').item.json.body.instance }}","messageId":"={{ $('Para cada mensagem').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1488,-1792],"id":"014ad1cc-b156-443d-80ab-cd31e1e29b24","name":"Evolution API3","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1712,-1792],"id":"a89ad010-646a-4478-861b-4469cc31a2d9","name":"Convert to File4"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Para cada mensagem').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Para cada mensagem').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Para cada mensagem').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"🤖\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,-2464],"id":"914a5f16-f87c-44f8-9fa6-8f018de34084","name":"Enviando Transcrição"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Para cada mensagem').item.json.body.instance }}","messageId":"={{ $('Para cada mensagem').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1712,-2368],"id":"697ded0e-bfbd-4aea-84ff-a065d166686c","name":"Evolution API2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"content":"### notificacoes GRUPO FNC","height":180,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-2352],"typeVersion":1,"id":"2ffaee28-285d-40fa-8015-a50a7376c52d","name":"Sticky Note13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363420167527001@g.us","operator":{"type":"string","operation":"equals"}},{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"notificacoes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-2336],"id":"68398b3b-86d0-4c9e-b7ac-516283cfb30f","name":"If6"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/bbb80c8f-9c14-4d2d-8857-c3a69e97b0e2","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-2336],"id":"c9ce156a-47c0-490c-915b-ddc09662bbbd","name":"FNC"},{"parameters":{"content":"### ATIVIDADES / DUMP LIST MIQUEIAS","height":196,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-2560],"typeVersion":1,"id":"cc6af16e-ace5-4bb1-ac99-83441ddae410","name":"Sticky Note14"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363401580142650@g.us","operator":{"type":"string","operation":"equals"}},{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"Miqueias","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"07c69505-4806-40cf-bbbe-c98417936750","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-2528],"id":"761328c7-f9e7-44b1-8ec9-23e8ca6ed33e","name":"If7"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/d9eb98e2-9cf4-4f9e-80ea-EWQE12321","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-2528],"id":"fdb91677-3c18-4d8a-bc02-5d7cef9e4aad","name":"Dump"},{"parameters":{"content":"### AGENTE DE TASKS MIQUEIAS","height":212,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-2784],"typeVersion":1,"id":"50d8e355-f378-4cb7-a9dc-ee8dafb9e005","name":"Sticky Note15"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363402490362495@g.us","operator":{"type":"string","operation":"equals"}},{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"Miqueias","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"07c69505-4806-40cf-bbbe-c98417936750","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-2736],"id":"3b6867ae-7c9d-43b3-92f4-41f60f1275a4","name":"If8"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/59443089-dd42-4e02-9313-ac60292d53bf","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-2736],"id":"9b330039-6531-4859-9ab6-f8a48e6c1ce5","name":"Dump1"},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363422339500377@g.us","messageText":"=Transcrição do Grupo: *{{ $('Se for pra transcrever').item.json.nome_grupo }}*\n\n{{ $json.data.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2384,-1696],"id":"56259337-1138-4961-a63a-d785a7e2d438","name":"Enviar texto","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363422339500377@g.us","messageText":"=Trasncrição de PVD: *{{ $('Para cada mensagem').item.json.body.instance }}*\nFrom-me: {{ $('Para cada mensagem').item.json.body.data.key.fromMe }}\n\n{{ $json.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3456,-2464],"id":"fd22bfca-1f3c-4d27-8aa8-b2f1e541922f","name":"Enviar no Grupo de log","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363422339500377@g.us","messageText":"=Trasncrição de PVD: *{{ $('Para cada mensagem').item.json.body.instance }}*\n_From-me: {{ $('Para cada mensagem').item.json.body.data.key.fromMe }}_\n\n{{ $json.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3456,-2080],"id":"5b89e0b8-736c-44fd-b1b6-d86bb98bb67d","name":"Enviar no Grupo de log1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Para cada mensagem').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Para cada mensagem').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Para cada mensagem').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"✅\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3456,-2272],"id":"1c31656d-b88e-4a50-882d-5e3d36802f14","name":"Enviando Reaçao"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `name_ia`\n\tWHERE `usuario_id` = {{ $json.id }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[16,-2128],"id":"5ea1809e-6749-4bd9-b15f-54778faa7872","name":"GET NAMEIA","alwaysOutputData":true,"executeOnce":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Para cada mensagem').first().json.body.instance }}","remoteJid":"={{ $('Para cada mensagem').first().json.body.data.key.remoteJid }}","messageText":"=Serviço de transcrição _*{{ $('GET NAMEIA')?.item?.json?.nome && $('GET NAMEIA').item.json.nome.trim() !== \"\" ? $('GET NAMEIA').item.json.nome : \"Intellizap.IA\" }}*_ \nO que *{{ $('Para cada mensagem').first().json.body.data.pushName }}* disse: \n\n{{ $json.text }}\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2160,-1792],"id":"2a1592e5-e5b9-4ef0-ac65-e3b8cce3b152","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"content":"### MENSAGEMS GENERICAS","height":180,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-2160],"typeVersion":1,"id":"97d45c79-0afb-489f-ba88-58855ddf9940","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/7c50ed23-ade5-4597-8a7b-d171706ffa92","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-2960],"id":"248b3688-5c1a-485c-ae50-f0bfe9a82463","name":"Automação Lembretes rapidos","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556296960102-1525797134@g.us","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-2960],"id":"2acdeb1a-01e3-44bd-9352-078a25f750ec","name":"If1","disabled":true},{"parameters":{"content":"### LEMBRETES CLAUDIO","height":216,"width":528,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-320,-3008],"typeVersion":1,"id":"80563508-2502-4398-b87f-57c8c878f0cc","name":"Sticky Note9","disabled":true},{"parameters":{"content":"### APIFY MIQUEIAS","height":212,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-3232],"typeVersion":1,"id":"3d6cf334-2bf6-4ff3-ab91-1dd670421d60","name":"Sticky Note16"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363417816883282@g.us","operator":{"type":"string","operation":"equals"}},{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"Miqueias","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-3184],"id":"a94fa129-7712-4c35-8286-fec84415b3dc","name":"If9"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/5e336cc8-e346-4a98-aac2-7239d53d97e9","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-3184],"id":"76dc1111-d901-4998-ba99-df3c08c6aa57","name":"Dump2"},{"parameters":{"content":"### Mentoria Webijama - Claudio","height":212,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-3456],"typeVersion":1,"id":"b4a3bb5e-9951-439f-8f62-d35c5246a881","name":"Sticky Note17"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363285690884329@g.us","operator":{"type":"string","operation":"equals"}},{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"Claudio Camozzi","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-3408],"id":"92e9e25f-8dc6-43f5-bc34-8ac13f5b8625","name":"If10"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/d2e7befa-ea25-49c3-9265-b39c20c6113b","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-3408],"id":"ffaae6f9-8bd4-4dbb-9dd2-e0f0b4a5d7dc","name":"Mentoria Webijama"},{"parameters":{"content":"### Clickmax - Claudio","height":356,"width":772},"type":"n8n-nodes-base.stickyNote","position":[-320,-3824],"typeVersion":1,"id":"b9abe384-2811-47b7-9972-cb985888c1e8","name":"Sticky Note18"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/978cb295-0a1a-47f2-b97f-100a0c6f6dd1","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-3712],"id":"33bce61a-4843-4ed5-8a55-5952fbdc0df2","name":"Mentoria Webijama1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"Claudio Camozzi","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-3712],"id":"5695363a-0b32-4cbe-a85a-0d7ce6077567","name":"If instancia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fc8477-f2a7-473b-ba80-a3b47751dd19","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363203554366453@g.us","operator":{"type":"string","operation":"equals"}},{"id":"9bba6c13-500b-4dfb-88a9-81fb20529833","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363382017371396@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fd3121b0-579b-412a-9b85-b73702be78d4","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363241428087647@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3e0affa7-a50d-4f58-8843-ed275d854431","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363276757964833@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c56c5417-c089-4ca4-a5c4-91f7a6595612","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363392526864376@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5e605e3e-04b8-4a1e-b66b-17ba3c9868dc","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363296907057828@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0736284a-d3ed-45ac-8be9-3d806258fcef","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363403911296423@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1c4cc955-6b58-4612-9d5a-fa3f9d7a3341","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363229040338796@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1a85dbc8-32e9-499e-a54c-9ae1a3677860","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363403429865522@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"8e13f6c8-e81d-455f-a828-b2576f207c96","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363422653239253@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,-3632],"id":"96f97be5-ec16-494b-971f-d387f8451c9d","name":"id grupos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0bf8d9f-5b68-4c3e-a3ca-dc2613bfda40","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363262585150952@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"856389e8-50e2-4673-9d8b-24df445a7777","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363362189028613@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"59a70a47-edcb-4226-b9e8-d0f66dff3715","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363419513326133@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"57318d6d-19b7-49ff-9c02-286a898b5ad3","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363419427259285@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2a68c929-c62a-4aa8-9fd2-fbaf7df9cfcb","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363421543393671@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d471dd06-f12b-4f86-a910-073dad820b0a","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363396880002046@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"96965e5a-bf2d-4e18-9757-d963c55568a0","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363420946777488@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b2384b68-1ac1-408b-9593-8d18f7e1fa71","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363419587101640@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"68e288be-6cb3-48df-8f4e-6c83a5f176aa","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363394588668889@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c584f548-f6b0-47b2-b974-151b7e7fbf3d","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363420054456093@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,-3792],"id":"9f9d9230-74ee-4c05-be76-52f375e4b5f4","name":"if grupos 2"},{"parameters":{"content":"### JURIDICO06 - MSG","height":212,"width":532},"type":"n8n-nodes-base.stickyNote","position":[-320,-4064],"typeVersion":1,"id":"cebf42c1-7092-40e6-9fe6-50db3e65addc","name":"Sticky Note19"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"Juridico06","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,-4016],"id":"1c05c84a-8466-4c53-990a-bfac0072f818","name":"If11"},{"parameters":{"method":"POST","url":"https://primary-production-70c40.up.railway.app/webhook/6448debf-f51c-45f3-9bde-f29b3db624c4","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-4016],"id":"97b1089d-0f02-4234-9aa2-f597cdfe3dc8","name":"Msg fora de hora"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $('Para cada mensagem').item.json.body.instance }}\n","rightValue":"AceleradorMedico","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-1872],"id":"06d37e7f-c9b2-45d8-9e0d-3d334f76f203","name":"If12","disabled":true},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363421287017468@g.us","messageText":"=Mensagem recebida de {{ $('Para cada mensagem').item.json.body.instance }}\n\nWorkflow: {{ $workflow.id }}\nDia: {{ $now.format('dd-MM-yyyy') }}\nHora: {{ $now.format('hh:mm:ss') }}\nExecution: {{ $execution.id }}\n\nLink de Debug: https://primary-production-70c40.up.railway.app/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16,-1872],"id":"0d964f23-d8f6-45b3-a1ed-146f1ac42235","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true}],"connections":{"Se usuario existe":{"main":[[{"node":"Se é grupo","type":"main","index":0}]]},"Se é grupo":{"main":[[{"node":"Query grupo","type":"main","index":0}],[{"node":"mensagemMinha1","type":"main","index":0}]]},"Query usuario":{"main":[[{"node":"GET NAMEIA","type":"main","index":0}]]},"Query grupo":{"main":[[{"node":"Se grupo existe","type":"main","index":0}]]},"Se grupo existe":{"main":[[{"node":"Se for pra transcrever","type":"main","index":0}],[]]},"Se for pra transcrever":{"main":[[{"node":"Evolution API3","type":"main","index":0}],[{"node":"Se for texto","type":"main","index":0}]]},"Transcrevendo audios":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Para cada mensagem":{"main":[[{"node":"If6","type":"main","index":0},{"node":"If7","type":"main","index":0},{"node":"If8","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"If9","type":"main","index":0},{"node":"If10","type":"main","index":0},{"node":"If instancia","type":"main","index":0},{"node":"Query usuario","type":"main","index":0},{"node":"If11","type":"main","index":0},{"node":"If12","type":"main","index":0}]]},"Var base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrevendo audios1","type":"main","index":0}]]},"Transcrevendo audios1":{"main":[[{"node":"Se é longo1","type":"main","index":0}]]},"Transcrição PV":{"main":[[{"node":"IF API NÃO ENVIA B64","type":"main","index":0},{"node":"Enviando Transcrição","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Enviando Transcrição5","type":"main","index":0}]]},"Se é longo1":{"main":[[{"node":"Resumo do audio1","type":"main","index":0}],[{"node":"Enviando Transcrição1","type":"main","index":0}]]},"Resumo do audio1":{"main":[[{"node":"If","type":"main","index":0}]]},"mensagemMinha1":{"main":[[{"node":"Verificar se quer transcrever eu","type":"main","index":0}],[{"node":"Transcrição PV","type":"main","index":0}]]},"Se for texto":{"main":[[{"node":"Insert Msg MySql","type":"main","index":0}]]},"Verificar se quer transcrever eu":{"main":[[{"node":"Transcrição PV","type":"main","index":0}],[]]},"Enviando Transcrição1":{"main":[[{"node":"Enviando Reaçao","type":"main","index":0},{"node":"Enviar no Grupo de log","type":"main","index":0}]]},"Enviando Transcrição5":{"main":[[{"node":"Enviando Reaçao","type":"main","index":0},{"node":"Enviar no Grupo de log1","type":"main","index":0}]]},"IF API NÃO ENVIA B64":{"main":[[{"node":"Evolution API2","type":"main","index":0}],[{"node":"Var base","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Transcrevendo audios1","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Convert to File4","type":"main","index":0}]]},"Convert to File4":{"main":[[{"node":"Transcrevendo audios","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"If6":{"main":[[{"node":"FNC","type":"main","index":0}]]},"If7":{"main":[[{"node":"Dump","type":"main","index":0}]]},"If8":{"main":[[{"node":"Dump1","type":"main","index":0}]]},"GET NAMEIA":{"main":[[{"node":"Se usuario existe","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Insert Msg MySql1","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"If1":{"main":[[{"node":"Automação Lembretes rapidos","type":"main","index":0}]]},"If9":{"main":[[{"node":"Dump2","type":"main","index":0}]]},"If10":{"main":[[{"node":"Mentoria Webijama","type":"main","index":0}]]},"If instancia":{"main":[[{"node":"id grupos","type":"main","index":0},{"node":"if grupos 2","type":"main","index":0}]]},"id grupos":{"main":[[{"node":"Mentoria Webijama1","type":"main","index":0}]]},"if grupos 2":{"main":[[{"node":"Mentoria Webijama1","type":"main","index":0}]]},"If11":{"main":[[{"node":"Msg fora de hora","type":"main","index":0}]]},"Insert Msg MySql1":{"main":[[]]},"If12":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Insert Msg MySql":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8FLHMBsv0iFzHC91"},"staticData":{"node:Enviando resumos":{"recurrenceRules":[]},"node:Para cada hora":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Para cada mensagem":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.12.2","content-length":"949","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"134.199.215.35","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"2pSsS_qDSy-8pCaa-_9nXA","x-real-ip":"134.199.215.35","x-request-start":"1761750746464"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"AceleradorMedico","data":{"key":{"remoteJid":"5527997976191@s.whatsapp.net","remoteJidAlt":"111939799756884@lid","fromMe":true,"id":"3EB01B8F4C7840251906C8","participant":"","addressingMode":"pn"},"pushName":"Keverson Everton","status":"SERVER_ACK","message":{"conversation":"achei"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"ephemeralSettingTimestamp":{"low":1759157203,"high":0,"unsigned":false},"disappearingMode":{"initiator":0,"trigger":1,"initiatedByMe":true}},"messageType":"conversation","messageTimestamp":1761750745,"instanceId":"62f8be1b-8d35-4b05-8f3d-adb0e450152a","source":"web"},"destination":"https://primary-production-70c40.up.railway.app/webhook/86351806-11bc-468d-84dd-fcf535477df5","date_time":"2025-10-29T12:12:26.453Z","sender":"558791189090@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"D96BF70F75B6-4C30-B923-BA2A96423C91"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/86351806-11bc-468d-84dd-fcf535477df5","executionMode":"production"}}]},"versionId":"37f9ee1f-731a-454a-a701-9a8f9089b43a","triggerCount":1,"shared":[{"updatedAt":"2025-03-20T18:45:19.944Z","createdAt":"2025-03-20T18:45:19.944Z","role":"workflow:owner","workflowId":"wYJH7RBAVC5ukJvF","projectId":"BlSED80HESP48veq"}],"tags":[{"updatedAt":"2025-04-07T12:37:26.562Z","createdAt":"2025-04-07T12:37:26.562Z","id":"rcOkvcAOOtPP3cQ8","name":"INTELLIZAP"}]}