intellizap---renovacao-tokens-mensal-Sk3mGGZP2uyTc3uo.json
{"updatedAt":"2025-08-12T00:13:11.211Z","createdAt":"2025-07-24T15:05:23.939Z","id":"Sk3mGGZP2uyTc3uo","name":"Intellizap - Renovacao Tokens Mensal","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-240],"id":"8e7baa7a-5be7-41f0-b744-a6d57f26721f","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f1505dc8-9d26-4a1f-97c8-a4bd2b66f9f3","name":"A cada dia"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM `usuarios`\nWHERE `dia-renovacao-tokens` = {{ $today.day }}\n  AND `email` IN (\n    'miqueiasbrandaogyn@gmail.com',\n    'claudio@camozzi.adv.br',\n    'juridico06@camozziconsultoria.com.br',\n    'duda@camozziconsultoria.com.br',\n    'ti01@camozziconsultoria.com.br',\n    'adriano@adrianogianini.com.br'\n  );","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[288,0],"id":"8b9b73ec-9adb-469d-86dc-4a3604dc1426","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de6dc4e-407c-4370-9106-21e2c1c51053","leftValue":"={{ $json.values().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,0],"id":"b4dc47d5-7fc3-49b7-963e-a394cfcde88b","name":"maior que 0"},{"parameters":{"operation":"executeQuery","query":"UPDATE `usuarios`\nSET `tokens_mes` = {{ 105000 * $json.max_grupos }}\nWHERE `email` = '{{ $json.email }}';","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1376,0],"id":"4c75068e-fd20-4b00-a976-ec4b7fb1146b","name":"Execute a SQL query1","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,-16],"id":"b9cffdb6-3309-4a87-a19e-78fd813704a5","name":"Loop Over Items"},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('Se plano ativo').item.json.email }}","subject":"Intellizap - Renovação de IntelliCoins ","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>intellizapp.IA - IntelliCoins Renovados!</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #f39c12 0%, #e67e22 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .renewal-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .renewal-title {\n            font-size: 24px;\n            color: #f39c12;\n            margin-bottom: 15px;\n        }\n        \n        .renewal-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .tokens-details {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #f39c12;\n        }\n        \n        .tokens-title {\n            font-size: 20px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .coin-icon {\n            font-size: 24px;\n        }\n        \n        .tokens-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 20px;\n            margin-top: 20px;\n        }\n        \n        .token-stat {\n            text-align: center;\n            background-color: white;\n            padding: 20px;\n            border-radius: 8px;\n            border: 2px solid #f39c12;\n        }\n        \n        .token-number {\n            font-size: 28px;\n            font-weight: bold;\n            color: #f39c12;\n            margin-bottom: 5px;\n        }\n        \n        .token-label {\n            font-size: 14px;\n            color: #856404;\n            font-weight: 600;\n        }\n        \n        .continuity-section {\n            background-color: #e8f8f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n        }\n        \n        .continuity-title {\n            font-size: 18px;\n            color: #27ae60;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .continuity-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .continuity-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .continuity-list li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #27ae60;\n            font-weight: bold;\n            font-size: 18px;\n        }\n        \n        .economy-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n            text-align: center;\n        }\n        \n        .economy-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .economy-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .economy-highlight {\n            background-color: white;\n            border-radius: 8px;\n            padding: 20px;\n            margin-top: 15px;\n        }\n        \n        .economy-amount {\n            font-size: 24px;\n            font-weight: bold;\n            color: #27ae60;\n            margin-bottom: 5px;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #f39c12 0%, #e67e22 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .tokens-grid {\n                grid-template-columns: 1fr;\n                gap: 15px;\n            }\n            \n            .renewal-title {\n                font-size: 20px;\n            }\n            \n            .tokens-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Renewal Message -->\n            <div class=\"renewal-message\">\n                <h1 class=\"renewal-title\">🪙 IntelliCoins Renovados!</h1>\n                <p class=\"renewal-text\">\n                    Excelente notícia! Seus IntelliCoins foram renovados automaticamente e você \n                    pode continuar gerando resumos inteligentes sem interrupções.\n                </p>\n            </div>\n            \n            <!-- Tokens Details -->\n            <div class=\"tokens-details\">\n                <h2 class=\"tokens-title\">\n                    <span class=\"coin-icon\">🪙</span>\n                    Seus Novos IntelliCoins\n                </h2>\n                \n                <div class=\"tokens-grid\">\n                    <div class=\"token-stat\">\n                        <div class=\"token-number\">✨</div>\n                        <div class=\"token-label\">Tokens Renovados</div>\n                    </div>\n                    <div class=\"token-stat\">\n                        <div class=\"token-number\">🎁</div>\n                        <div class=\"token-label\">Novos Créditos</div>\n                    </div>\n                </div>\n                \n                <p style=\"margin-top: 20px; font-size: 15px; color: #856404; text-align: center;\">\n                    Seus IntelliCoins foram renovados automaticamente de acordo com seu plano ativo. \n                    Acesse a plataforma para ver seu novo saldo disponível.\n                </p>\n            </div>\n            \n            <!-- Continuity Section -->\n            <div class=\"continuity-section\">\n                <h2 class=\"continuity-title\">\n                    <span>✅</span>\n                    Seus Resumos Continuam Normalmente\n                </h2>\n                <ul class=\"continuity-list\">\n                    <li>Resumos automáticos funcionando perfeitamente</li>\n                    <li>Todos os seus grupos continuam monitorados</li>\n                    <li>Horários configurados mantidos</li>\n                    <li>Qualidade premium da IA preservada</li>\n                    <li>Histórico de resumos disponível</li>\n                </ul>\n            </div>\n            \n            <!-- Economy Section -->\n            <div class=\"economy-section\">\n                <h2 class=\"economy-title\">💰 Você Está Economizando!</h2>\n                <p class=\"economy-text\">\n                    Com sua renovação de IntelliCoins, você continua economizando significativamente \n                    comparado a usar ferramentas de IA individuais.\n                </p>\n                \n                <div class=\"economy-highlight\">\n                    <div class=\"economy-amount\">💰</div>\n                    <p style=\"font-size: 14px; color: #7f8c8d;\">Economia garantida vs. outros serviços de IA</p>\n                </div>\n            </div>\n            \n            <!-- Token Usage Tips -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 25px; margin: 30px 0; border-left: 4px solid #ffc107;\">\n                <h3 style=\"color: #856404; margin-bottom: 15px; font-size: 18px;\">\n                    💡 Dicas para Otimizar seus IntelliCoins\n                </h3>\n                <ul style=\"list-style: none; margin: 0; padding: 0;\">\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">📊</span>\n                        Grupos com mais mensagens consomem mais tokens\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">⏰</span>\n                        Configure horários estratégicos para resumos\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">🎯</span>\n                        Monitore seu consumo no dashboard\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">📈</span>\n                        Tokens não utilizados não acumulam para o próximo ciclo\n                    </li>\n                </ul>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Dashboard\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Nossa equipe está sempre disponível para te ajudar através do e-mail \n                    <strong>suporte@intellizapp.com.br</strong> ou respondendo diretamente este e-mail.\n                </p>\n            </div>\n            \n            <!-- Account Summary -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Status da Conta:</h3>\n                <div style=\"text-align: center;\">\n                    <div style=\"font-size: 24px; color: #27ae60; font-weight: bold; margin-bottom: 10px;\">✅ IntelliCoins Renovados</div>\n                    <p style=\"font-size: 15px; color: #555;\">\n                        Seus créditos estão disponíveis e seus resumos continuarão sendo gerados automaticamente.\n                    </p>\n                </div>\n            </div>\n            \n            <!-- Thank You Message -->\n            <div style=\"background-color: #e8f8f5; border-radius: 10px; padding: 25px; margin: 30px 0; text-align: center; border-left: 4px solid #27ae60;\">\n                <h3 style=\"color: #27ae60; margin-bottom: 15px; font-size: 20px;\">\n                    🚀 Continue Automatizando com Inteligência!\n                </h3>\n                <p style=\"font-size: 16px; color: #555; line-height: 1.6;\">\n                    Seus IntelliCoins foram renovados e você pode continuar aproveitando todo o poder \n                    da automação inteligente. Seus resumos continuarão sendo gerados automaticamente \n                    nos horários configurados.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Seus IntelliCoins foram renovados! Continue automatizando sua comunicação no WhatsApp.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Dúvidas? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1648,0],"id":"c9316eb9-524e-46b3-88f3-9ea89ed091d1","name":"Send email","webhookId":"99ce25f6-9c5e-4da4-b511-2243752f73cf","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80f1348f-70bb-49a0-830b-6bfc91d52bd0","leftValue":"={{ $json.plano_ativo }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,0],"id":"1c24b615-7757-4fce-884f-323a1bda7fa9","name":"Se plano ativo"}],"connections":{"A cada dia":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"maior que 0","type":"main","index":0}]]},"maior que 0":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Se plano ativo","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Se plano ativo":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:A cada dia":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"7e0be55f-8c74-4860-a6a6-2ace5c1593eb","activeVersionId":"7e0be55f-8c74-4860-a6a6-2ace5c1593eb","triggerCount":1,"shared":[{"updatedAt":"2025-07-24T15:05:23.939Z","createdAt":"2025-07-24T15:05:23.939Z","role":"workflow:owner","workflowId":"Sk3mGGZP2uyTc3uo","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"7e0be55f-8c74-4860-a6a6-2ace5c1593eb","workflowId":"Sk3mGGZP2uyTc3uo","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-240],"id":"8e7baa7a-5be7-41f0-b744-a6d57f26721f","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f1505dc8-9d26-4a1f-97c8-a4bd2b66f9f3","name":"A cada dia"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM `usuarios`\nWHERE `dia-renovacao-tokens` = {{ $today.day }}\n  AND `email` IN (\n    'miqueiasbrandaogyn@gmail.com',\n    'claudio@camozzi.adv.br',\n    'juridico06@camozziconsultoria.com.br',\n    'duda@camozziconsultoria.com.br',\n    'ti01@camozziconsultoria.com.br',\n    'adriano@adrianogianini.com.br'\n  );","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[288,0],"id":"8b9b73ec-9adb-469d-86dc-4a3604dc1426","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de6dc4e-407c-4370-9106-21e2c1c51053","leftValue":"={{ $json.values().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,0],"id":"b4dc47d5-7fc3-49b7-963e-a394cfcde88b","name":"maior que 0"},{"parameters":{"operation":"executeQuery","query":"UPDATE `usuarios`\nSET `tokens_mes` = {{ 105000 * $json.max_grupos }}\nWHERE `email` = '{{ $json.email }}';","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1376,0],"id":"4c75068e-fd20-4b00-a976-ec4b7fb1146b","name":"Execute a SQL query1","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,-16],"id":"b9cffdb6-3309-4a87-a19e-78fd813704a5","name":"Loop Over Items"},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('Se plano ativo').item.json.email }}","subject":"Intellizap - Renovação de IntelliCoins ","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>intellizapp.IA - IntelliCoins Renovados!</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #f39c12 0%, #e67e22 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .renewal-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .renewal-title {\n            font-size: 24px;\n            color: #f39c12;\n            margin-bottom: 15px;\n        }\n        \n        .renewal-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .tokens-details {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #f39c12;\n        }\n        \n        .tokens-title {\n            font-size: 20px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .coin-icon {\n            font-size: 24px;\n        }\n        \n        .tokens-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 20px;\n            margin-top: 20px;\n        }\n        \n        .token-stat {\n            text-align: center;\n            background-color: white;\n            padding: 20px;\n            border-radius: 8px;\n            border: 2px solid #f39c12;\n        }\n        \n        .token-number {\n            font-size: 28px;\n            font-weight: bold;\n            color: #f39c12;\n            margin-bottom: 5px;\n        }\n        \n        .token-label {\n            font-size: 14px;\n            color: #856404;\n            font-weight: 600;\n        }\n        \n        .continuity-section {\n            background-color: #e8f8f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n        }\n        \n        .continuity-title {\n            font-size: 18px;\n            color: #27ae60;\n            margin-bottom: 15px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .continuity-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .continuity-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .continuity-list li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #27ae60;\n            font-weight: bold;\n            font-size: 18px;\n        }\n        \n        .economy-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n            text-align: center;\n        }\n        \n        .economy-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .economy-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .economy-highlight {\n            background-color: white;\n            border-radius: 8px;\n            padding: 20px;\n            margin-top: 15px;\n        }\n        \n        .economy-amount {\n            font-size: 24px;\n            font-weight: bold;\n            color: #27ae60;\n            margin-bottom: 5px;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #f39c12 0%, #e67e22 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .tokens-grid {\n                grid-template-columns: 1fr;\n                gap: 15px;\n            }\n            \n            .renewal-title {\n                font-size: 20px;\n            }\n            \n            .tokens-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Renewal Message -->\n            <div class=\"renewal-message\">\n                <h1 class=\"renewal-title\">🪙 IntelliCoins Renovados!</h1>\n                <p class=\"renewal-text\">\n                    Excelente notícia! Seus IntelliCoins foram renovados automaticamente e você \n                    pode continuar gerando resumos inteligentes sem interrupções.\n                </p>\n            </div>\n            \n            <!-- Tokens Details -->\n            <div class=\"tokens-details\">\n                <h2 class=\"tokens-title\">\n                    <span class=\"coin-icon\">🪙</span>\n                    Seus Novos IntelliCoins\n                </h2>\n                \n                <div class=\"tokens-grid\">\n                    <div class=\"token-stat\">\n                        <div class=\"token-number\">✨</div>\n                        <div class=\"token-label\">Tokens Renovados</div>\n                    </div>\n                    <div class=\"token-stat\">\n                        <div class=\"token-number\">🎁</div>\n                        <div class=\"token-label\">Novos Créditos</div>\n                    </div>\n                </div>\n                \n                <p style=\"margin-top: 20px; font-size: 15px; color: #856404; text-align: center;\">\n                    Seus IntelliCoins foram renovados automaticamente de acordo com seu plano ativo. \n                    Acesse a plataforma para ver seu novo saldo disponível.\n                </p>\n            </div>\n            \n            <!-- Continuity Section -->\n            <div class=\"continuity-section\">\n                <h2 class=\"continuity-title\">\n                    <span>✅</span>\n                    Seus Resumos Continuam Normalmente\n                </h2>\n                <ul class=\"continuity-list\">\n                    <li>Resumos automáticos funcionando perfeitamente</li>\n                    <li>Todos os seus grupos continuam monitorados</li>\n                    <li>Horários configurados mantidos</li>\n                    <li>Qualidade premium da IA preservada</li>\n                    <li>Histórico de resumos disponível</li>\n                </ul>\n            </div>\n            \n            <!-- Economy Section -->\n            <div class=\"economy-section\">\n                <h2 class=\"economy-title\">💰 Você Está Economizando!</h2>\n                <p class=\"economy-text\">\n                    Com sua renovação de IntelliCoins, você continua economizando significativamente \n                    comparado a usar ferramentas de IA individuais.\n                </p>\n                \n                <div class=\"economy-highlight\">\n                    <div class=\"economy-amount\">💰</div>\n                    <p style=\"font-size: 14px; color: #7f8c8d;\">Economia garantida vs. outros serviços de IA</p>\n                </div>\n            </div>\n            \n            <!-- Token Usage Tips -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 25px; margin: 30px 0; border-left: 4px solid #ffc107;\">\n                <h3 style=\"color: #856404; margin-bottom: 15px; font-size: 18px;\">\n                    💡 Dicas para Otimizar seus IntelliCoins\n                </h3>\n                <ul style=\"list-style: none; margin: 0; padding: 0;\">\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">📊</span>\n                        Grupos com mais mensagens consomem mais tokens\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">⏰</span>\n                        Configure horários estratégicos para resumos\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">🎯</span>\n                        Monitore seu consumo no dashboard\n                    </li>\n                    <li style=\"padding: 6px 0; font-size: 14px; color: #555; position: relative; padding-left: 20px;\">\n                        <span style=\"position: absolute; left: 0; color: #f39c12;\">📈</span>\n                        Tokens não utilizados não acumulam para o próximo ciclo\n                    </li>\n                </ul>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Dashboard\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Nossa equipe está sempre disponível para te ajudar através do e-mail \n                    <strong>suporte@intellizapp.com.br</strong> ou respondendo diretamente este e-mail.\n                </p>\n            </div>\n            \n            <!-- Account Summary -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Status da Conta:</h3>\n                <div style=\"text-align: center;\">\n                    <div style=\"font-size: 24px; color: #27ae60; font-weight: bold; margin-bottom: 10px;\">✅ IntelliCoins Renovados</div>\n                    <p style=\"font-size: 15px; color: #555;\">\n                        Seus créditos estão disponíveis e seus resumos continuarão sendo gerados automaticamente.\n                    </p>\n                </div>\n            </div>\n            \n            <!-- Thank You Message -->\n            <div style=\"background-color: #e8f8f5; border-radius: 10px; padding: 25px; margin: 30px 0; text-align: center; border-left: 4px solid #27ae60;\">\n                <h3 style=\"color: #27ae60; margin-bottom: 15px; font-size: 20px;\">\n                    🚀 Continue Automatizando com Inteligência!\n                </h3>\n                <p style=\"font-size: 16px; color: #555; line-height: 1.6;\">\n                    Seus IntelliCoins foram renovados e você pode continuar aproveitando todo o poder \n                    da automação inteligente. Seus resumos continuarão sendo gerados automaticamente \n                    nos horários configurados.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Seus IntelliCoins foram renovados! Continue automatizando sua comunicação no WhatsApp.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Dúvidas? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1648,0],"id":"c9316eb9-524e-46b3-88f3-9ea89ed091d1","name":"Send email","webhookId":"99ce25f6-9c5e-4da4-b511-2243752f73cf","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80f1348f-70bb-49a0-830b-6bfc91d52bd0","leftValue":"={{ $json.plano_ativo }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,0],"id":"1c24b615-7757-4fce-884f-323a1bda7fa9","name":"Se plano ativo"}],"connections":{"A cada dia":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"maior que 0","type":"main","index":0}]]},"maior que 0":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Se plano ativo","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Se plano ativo":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}