interface-update-doc---rag-claude-aZTiORG5TpGiH9OR.json
{"updatedAt":"2025-12-04T16:08:15.946Z","createdAt":"2025-06-17T20:05:54.864Z","id":"aZTiORG5TpGiH9OR","name":"INTERFACE Update Doc - RAG CLAUDE","active":false,"isArchived":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n   <meta charset=\"UTF-8\">\n   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   <title>Document Upload</title>\n   <script src=\"https://cdn.tailwindcss.com\"></script>\n</head>\n<body>\n   <div class=\"min-h-screen bg-gray-50 flex items-center justify-center\">\n       <div class=\"bg-white rounded-lg shadow-lg border border-gray-200 p-8 w-full max-w-md\">\n           <div class=\"text-center mb-6\">\n               <div class=\"w-12 h-12 bg-green-500 rounded-md flex items-center justify-center mx-auto mb-4\">\n                   <svg class=\"w-6 h-6 text-white\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n                       <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z\" />\n                   </svg>\n               </div>\n               <h1 class=\"text-xl font-semibold text-gray-900\">MCP CLAUDE UPLOAD RAG</h1>\n               <p class=\"text-sm text-gray-500\">PDF, DOC, DOCX, TXT, MD</p>\n           </div>\n\n           <form id=\"uploadForm\" class=\"space-y-4\">\n               <div>\n                   <input \n                       type=\"file\" \n                       id=\"fileInput\" \n                       accept=\".pdf,.doc,.docx,.txt,.md, .xlsx, .csv\"\n                       class=\"block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-700 hover:file:bg-green-100\"\n                       required\n                   />\n               </div>\n               \n               <button \n                   type=\"submit\" \n                   id=\"uploadBtn\"\n                   class=\"w-full bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded-md transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed\"\n               >\n                   Upload Document\n               </button>\n           </form>\n\n           <!-- Status message -->\n           <div id=\"statusMessage\" class=\"mt-4 hidden\"></div>\n       </div>\n   </div>\n\n   <script>\n       const form = document.getElementById('uploadForm');\n       const fileInput = document.getElementById('fileInput');\n       const uploadBtn = document.getElementById('uploadBtn');\n       const statusMessage = document.getElementById('statusMessage');\n       const webhookUrl = 'https://primary-production-70c40.up.railway.app/webhook/8f79d0eb-a68d-48b4-bdc8-0fc11f62648c';\n\n       form.addEventListener('submit', async (e) => {\n           e.preventDefault();\n           \n           const file = fileInput.files[0];\n           if (!file) {\n               showMessage('Please select a file', 'error');\n               return;\n           }\n\n           // Validate file\n           if (!validateFile(file)) {\n               return;\n           }\n\n           // Disable button and show loading\n           uploadBtn.disabled = true;\n           uploadBtn.textContent = 'Uploading...';\n           showMessage('Uploading document...', 'loading');\n\n           try {\n               const formData = new FormData();\n               formData.append('file', file);\n\n               const response = await fetch(webhookUrl, {\n                   method: 'POST',\n                   body: formData\n               });\n\n               if (response.ok) {\n                   showMessage('Document uploaded successfully!', 'success');\n                   form.reset();\n               } else {\n                   throw new Error(`Upload failed: ${response.status}`);\n               }\n           } catch (error) {\n               console.error('Upload error:', error);\n               showMessage('Upload failed. Please try again.', 'error');\n           } finally {\n               uploadBtn.disabled = false;\n               uploadBtn.textContent = 'Upload Document';\n           }\n       });\n\n       function validateFile(file) {\n           const allowedTypes = [\n               'application/pdf',\n               'application/msword',\n               'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n               'text/plain',\n               'text/markdown',\n               'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n               'text/csv'\n           ];\n           \n           const maxSize = 10 * 1024 * 1024; // 10MB\n\n           if (!allowedTypes.includes(file.type)) {\n               showMessage('File type not supported: ' + file.name, 'error');\n               return false;\n           }\n\n           // if (file.size > maxSize) {\n           //     showMessage('File too large: ' + file.name + '. Maximum 10MB.', 'error');\n           //     return false;\n           // }\n\n           return true;\n       }\n\n       function showMessage(message, type) {\n           statusMessage.className = 'mt-4 p-3 rounded-md text-sm';\n           statusMessage.classList.remove('hidden');\n           \n           switch (type) {\n               case 'success':\n                   statusMessage.className += ' bg-green-100 text-green-800 border border-green-200';\n                   break;\n               case 'error':\n                   statusMessage.className += ' bg-red-100 text-red-800 border border-red-200';\n                   break;\n               case 'loading':\n                   statusMessage.className += ' bg-blue-100 text-blue-800 border border-blue-200';\n                   break;\n           }\n           \n           statusMessage.textContent = message;\n       }\n   </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-48,-96],"id":"b518b58e-c03a-4488-b252-954bb390f643","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[192,-96],"id":"efb03962-da9b-4252-aad8-34dc9505ecb7","name":"Respond to Webhook"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.2,"position":[432,272],"id":"587924fc-07af-488c-b462-43244aae77d9","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"SOVHfXtDehza2dGp","name":"ti01 n8n"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[368,480],"id":"e4b55ddd-79bf-480c-a049-ace45a9c5b3d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[560,480],"id":"a0138ddd-975d-40ac-8365-524fe34de5ec","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[640,672],"id":"3d7a2507-5cb0-48ec-b205-5043d5fd952a","name":"Token Splitter"},{"parameters":{"httpMethod":"POST","path":"8f79d0eb-a68d-48b4-bdc8-0fc11f62648c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-256,272],"id":"233de198-e92f-49fa-8238-ef4767063268","name":"Webhook1","webhookId":"8f79d0eb-a68d-48b4-bdc8-0fc11f62648c"},{"parameters":{"path":"594c968b-bf0d-4b90-aa1c-3e580356fff2","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-256,-96],"id":"8a8665ca-d947-4e30-8f83-a3b7730a6899","name":"Webhook","webhookId":"594c968b-bf0d-4b90-aa1c-3e580356fff2"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-48,272],"id":"8a4feb0b-40da-41ad-869f-061debf9625f","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[192,272],"id":"c8e891dd-382c-4b9f-8715-5cb500a90fe6","name":"Convert to File"}],"connections":{"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Webhook1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81e256d2-92db-45e1-8629-ae65b5050f32","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-06-17T20:05:54.864Z","createdAt":"2025-06-17T20:05:54.864Z","role":"workflow:owner","workflowId":"aZTiORG5TpGiH9OR","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}