intellizapp-erro-de-integração-ticto-zTSO3r1xkYwLAP1N.json
{"updatedAt":"2025-07-31T17:42:31.697Z","createdAt":"2025-07-31T17:23:00.488Z","id":"zTSO3r1xkYwLAP1N","name":"Intellizapp Erro de Integração Ticto","active":true,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"miqueiasbrandaogyn@gmail.com","subject":"Erro na ativação do Cliente - INTELLIZAPP","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>intellizapp.IA - Problema na Ativação da Assinatura</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .alert-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .alert-title {\n            font-size: 24px;\n            color: #e74c3c;\n            margin-bottom: 15px;\n        }\n        \n        .alert-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .error-details {\n            background-color: #fff5f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e74c3c;\n        }\n        \n        .error-title {\n            font-size: 20px;\n            color: #c0392b;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .error-description {\n            font-size: 15px;\n            color: #555;\n            line-height: 1.6;\n        }\n        \n        .reassurance-section {\n            background-color: #e8f8f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n        }\n        \n        .reassurance-title {\n            font-size: 18px;\n            color: #27ae60;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .reassurance-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .reassurance-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .reassurance-list li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #27ae60;\n            font-weight: bold;\n            font-size: 18px;\n        }\n        \n        .next-steps {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc107;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            counter-reset: step;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #ffc107;\n            color: #856404;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button.secondary {\n            background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .contact-info {\n            background-color: white;\n            border-radius: 8px;\n            padding: 20px;\n            margin-top: 15px;\n        }\n        \n        .contact-item {\n            font-size: 16px;\n            color: #2980b9;\n            font-weight: 600;\n            margin: 8px 0;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .alert-title {\n                font-size: 20px;\n            }\n            \n            .error-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Alert Message -->\n            <div class=\"alert-message\">\n                <h1 class=\"alert-title\">⚠️ Problema na Ativação da Assinatura</h1>\n                <p class=\"alert-text\">\n                    Detectamos um problema técnico durante o processo de ativação da sua assinatura. \n                    <strong>Seu pagamento foi processado com sucesso</strong>, mas houve uma falha na ativação automática do seu plano.\n                </p>\n            </div>\n            \n            <!-- Error Details -->\n            <div class=\"error-details\">\n                <h2 class=\"error-title\">🔍 O que aconteceu?</h2>\n                <p class=\"error-description\">\n                    Após a confirmação do seu pagamento, nosso sistema tentou ativar automaticamente sua conta premium, \n                    mas encontrou uma instabilidade técnica temporária. Este tipo de problema é raro e nossa equipe \n                    técnica já foi notificada para resolver rapidamente.\n                </p>\n            </div>\n            \n            <!-- Reassurance Section -->\n            <div class=\"reassurance-section\">\n                <h2 class=\"reassurance-title\">✅ Pode ficar tranquilo(a)!</h2>\n                <ul class=\"reassurance-list\">\n                    <li><strong>Seu pagamento foi processado normalmente</strong></li>\n                    <li>Seus dados estão seguros em nosso sistema</li>\n                    <li>Sua assinatura será ativada nas próximas horas</li>\n                    <li>Não será necessário pagar novamente</li>\n                    <li>Nossa equipe já está trabalhando na solução</li>\n                </ul>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🛠️ Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li><strong>Aguarde até 2 horas</strong> - Na maioria dos casos, o problema se resolve automaticamente</li>\n                    <li><strong>Verifique seu e-mail</strong> - Enviaremos uma confirmação assim que tudo estiver funcionando</li>\n                    <li><strong>Tente acessar a plataforma</strong> - Sua conta pode já estar ativa</li>\n                    <li><strong>Entre em contato conosco</strong> - Se o problema persistir, nossa equipe resolverá imediatamente</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button secondary\">\n                    🔗 Tentar Acessar Plataforma\n                </a>\n                <br>\n                <a href=\"mailto:suporte@intellizapp.com.br?subject=Problema na Ativação - Pagamento Processado\" class=\"cta-button\">\n                    📧 Contatar Suporte Agora\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">🚀 Suporte Prioritário Ativado</h3>\n                <p class=\"support-text\">\n                    Como cliente premium, você tem acesso ao nosso suporte prioritário. \n                    Nossa equipe vai resolver seu problema com <strong>máxima urgência</strong>.\n                </p>\n                \n                <div class=\"contact-info\">\n                    <div class=\"contact-item\">📧 suporte@intellizapp.com.br</div>\n                    <div class=\"contact-item\">⏰ Resposta em até 2 horas</div>\n                    <div class=\"contact-item\">💬 Ou responda diretamente este e-mail</div>\n                </div>\n            </div>\n            \n            <!-- Payment Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">💳 Dados do Pagamento:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Plano:</td>\n                        <td style=\"padding: 8px 0;\">Premium</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Valor:</td>\n                        <td style=\"padding: 8px 0;\">R$ 197,00</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status do Pagamento:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Aprovado</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status da Ativação:</td>\n                        <td style=\"padding: 8px 0; color: #f39c12; font-weight: 600;\">⏳ Processando</td>\n                    </tr>\n                </table>\n            </div>\n            \n            <!-- Urgency Note -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 20px; margin: 30px 0; border-left: 4px solid #ffc107; text-align: center;\">\n                <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 10px;\">\n                    ⚡ Este problema tem prioridade máxima!\n                </p>\n                <p style=\"font-size: 14px; color: #856404;\">\n                    Nossa equipe técnica está trabalhando ativamente para resolver sua situação. \n                    Você receberá uma atualização em breve.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Pedimos desculpas pelo inconveniente e agradecemos sua paciência. \n                Em breve você estará aproveitando todos os recursos do intellizapp.IA!\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Dúvidas urgentes? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-384,-1024],"id":"ba07fce5-5bce-449c-a43d-f9ff72cc2284","name":"Send Erro ADMIN","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('Start').item.json.body_customer_email }}","subject":"Erro na ativação - INTELLIZAPP","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>intellizapp.IA - Problema na Ativação da Assinatura</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .alert-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .alert-title {\n            font-size: 24px;\n            color: #e74c3c;\n            margin-bottom: 15px;\n        }\n        \n        .alert-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .error-details {\n            background-color: #fff5f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e74c3c;\n        }\n        \n        .error-title {\n            font-size: 20px;\n            color: #c0392b;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .error-description {\n            font-size: 15px;\n            color: #555;\n            line-height: 1.6;\n        }\n        \n        .reassurance-section {\n            background-color: #e8f8f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n        }\n        \n        .reassurance-title {\n            font-size: 18px;\n            color: #27ae60;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .reassurance-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .reassurance-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .reassurance-list li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #27ae60;\n            font-weight: bold;\n            font-size: 18px;\n        }\n        \n        .next-steps {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc107;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            counter-reset: step;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #ffc107;\n            color: #856404;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button.secondary {\n            background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .contact-info {\n            background-color: white;\n            border-radius: 8px;\n            padding: 20px;\n            margin-top: 15px;\n        }\n        \n        .contact-item {\n            font-size: 16px;\n            color: #2980b9;\n            font-weight: 600;\n            margin: 8px 0;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .alert-title {\n                font-size: 20px;\n            }\n            \n            .error-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Alert Message -->\n            <div class=\"alert-message\">\n                <h1 class=\"alert-title\">⚠️ Problema na Ativação da Assinatura</h1>\n                <p class=\"alert-text\">\n                    Detectamos um problema técnico durante o processo de ativação da sua assinatura. \n                    <strong>Seu pagamento foi processado com sucesso</strong>, mas houve uma falha na ativação automática do seu plano.\n                </p>\n            </div>\n            \n            <!-- Error Details -->\n            <div class=\"error-details\">\n                <h2 class=\"error-title\">🔍 O que aconteceu?</h2>\n                <p class=\"error-description\">\n                    Após a confirmação do seu pagamento, nosso sistema tentou ativar automaticamente sua conta premium, \n                    mas encontrou uma instabilidade técnica temporária. Este tipo de problema é raro e nossa equipe \n                    técnica já foi notificada para resolver rapidamente.\n                </p>\n            </div>\n            \n            <!-- Reassurance Section -->\n            <div class=\"reassurance-section\">\n                <h2 class=\"reassurance-title\">✅ Pode ficar tranquilo(a)!</h2>\n                <ul class=\"reassurance-list\">\n                    <li><strong>Seu pagamento foi processado normalmente</strong></li>\n                    <li>Seus dados estão seguros em nosso sistema</li>\n                    <li>Sua assinatura será ativada nas próximas horas</li>\n                    <li>Não será necessário pagar novamente</li>\n                    <li>Nossa equipe já está trabalhando na solução</li>\n                </ul>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🛠️ Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li><strong>Aguarde até 2 horas</strong> - Na maioria dos casos, o problema se resolve automaticamente</li>\n                    <li><strong>Verifique seu e-mail</strong> - Enviaremos uma confirmação assim que tudo estiver funcionando</li>\n                    <li><strong>Tente acessar a plataforma</strong> - Sua conta pode já estar ativa</li>\n                    <li><strong>Entre em contato conosco</strong> - Se o problema persistir, nossa equipe resolverá imediatamente</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button secondary\">\n                    🔗 Tentar Acessar Plataforma\n                </a>\n                <br>\n                <a href=\"mailto:suporte@intellizapp.com.br?subject=Problema na Ativação - Pagamento Processado\" class=\"cta-button\">\n                    📧 Contatar Suporte Agora\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">🚀 Suporte Prioritário Ativado</h3>\n                <p class=\"support-text\">\n                    Como cliente premium, você tem acesso ao nosso suporte prioritário. \n                    Nossa equipe vai resolver seu problema com <strong>máxima urgência</strong>.\n                </p>\n                \n                <div class=\"contact-info\">\n                    <div class=\"contact-item\">📧 suporte@intellizapp.com.br</div>\n                    <div class=\"contact-item\">⏰ Resposta em até 2 horas</div>\n                    <div class=\"contact-item\">💬 Ou responda diretamente este e-mail</div>\n                </div>\n            </div>\n            \n            <!-- Payment Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">💳 Dados do Pagamento:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Plano:</td>\n                        <td style=\"padding: 8px 0;\">Premium</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Valor:</td>\n                        <td style=\"padding: 8px 0;\">R$ 197,00</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status do Pagamento:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Aprovado</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status da Ativação:</td>\n                        <td style=\"padding: 8px 0; color: #f39c12; font-weight: 600;\">⏳ Processando</td>\n                    </tr>\n                </table>\n            </div>\n            \n            <!-- Urgency Note -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 20px; margin: 30px 0; border-left: 4px solid #ffc107; text-align: center;\">\n                <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 10px;\">\n                    ⚡ Este problema tem prioridade máxima!\n                </p>\n                <p style=\"font-size: 14px; color: #856404;\">\n                    Nossa equipe técnica está trabalhando ativamente para resolver sua situação. \n                    Você receberá uma atualização em breve.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Pedimos desculpas pelo inconveniente e agradecemos sua paciência. \n                Em breve você estará aproveitando todos os recursos do intellizapp.IA!\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Dúvidas urgentes? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-192,-1024],"id":"1d11fd4f-5cf0-4ee2-b9db-3d28a404be9f","name":"Send Erro USER","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"body_customer_email","type":"any"}]}},"id":"4cdf58f4-bde1-4711-b520-fdfda75b9850","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,-1024]}],"connections":{"Send Erro ADMIN":{"main":[[{"node":"Send Erro USER","type":"main","index":0}]]},"Start":{"main":[[{"node":"Send Erro ADMIN","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"body_customer_email":"ti01@camozziconsultoria.com.br"}}]},"versionId":"2bcb6483-7c03-4db4-b461-eba43c38b845","activeVersionId":"2bcb6483-7c03-4db4-b461-eba43c38b845","triggerCount":0,"shared":[{"updatedAt":"2025-07-31T17:23:00.488Z","createdAt":"2025-07-31T17:23:00.488Z","role":"workflow:owner","workflowId":"zTSO3r1xkYwLAP1N","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"2bcb6483-7c03-4db4-b461-eba43c38b845","workflowId":"zTSO3r1xkYwLAP1N","nodes":[{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"miqueiasbrandaogyn@gmail.com","subject":"Erro na ativação do Cliente - INTELLIZAPP","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>intellizapp.IA - Problema na Ativação da Assinatura</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .alert-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .alert-title {\n            font-size: 24px;\n            color: #e74c3c;\n            margin-bottom: 15px;\n        }\n        \n        .alert-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .error-details {\n            background-color: #fff5f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e74c3c;\n        }\n        \n        .error-title {\n            font-size: 20px;\n            color: #c0392b;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .error-description {\n            font-size: 15px;\n            color: #555;\n            line-height: 1.6;\n        }\n        \n        .reassurance-section {\n            background-color: #e8f8f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n        }\n        \n        .reassurance-title {\n            font-size: 18px;\n            color: #27ae60;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .reassurance-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .reassurance-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .reassurance-list li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #27ae60;\n            font-weight: bold;\n            font-size: 18px;\n        }\n        \n        .next-steps {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc107;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            counter-reset: step;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #ffc107;\n            color: #856404;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button.secondary {\n            background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .contact-info {\n            background-color: white;\n            border-radius: 8px;\n            padding: 20px;\n            margin-top: 15px;\n        }\n        \n        .contact-item {\n            font-size: 16px;\n            color: #2980b9;\n            font-weight: 600;\n            margin: 8px 0;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .alert-title {\n                font-size: 20px;\n            }\n            \n            .error-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Alert Message -->\n            <div class=\"alert-message\">\n                <h1 class=\"alert-title\">⚠️ Problema na Ativação da Assinatura</h1>\n                <p class=\"alert-text\">\n                    Detectamos um problema técnico durante o processo de ativação da sua assinatura. \n                    <strong>Seu pagamento foi processado com sucesso</strong>, mas houve uma falha na ativação automática do seu plano.\n                </p>\n            </div>\n            \n            <!-- Error Details -->\n            <div class=\"error-details\">\n                <h2 class=\"error-title\">🔍 O que aconteceu?</h2>\n                <p class=\"error-description\">\n                    Após a confirmação do seu pagamento, nosso sistema tentou ativar automaticamente sua conta premium, \n                    mas encontrou uma instabilidade técnica temporária. Este tipo de problema é raro e nossa equipe \n                    técnica já foi notificada para resolver rapidamente.\n                </p>\n            </div>\n            \n            <!-- Reassurance Section -->\n            <div class=\"reassurance-section\">\n                <h2 class=\"reassurance-title\">✅ Pode ficar tranquilo(a)!</h2>\n                <ul class=\"reassurance-list\">\n                    <li><strong>Seu pagamento foi processado normalmente</strong></li>\n                    <li>Seus dados estão seguros em nosso sistema</li>\n                    <li>Sua assinatura será ativada nas próximas horas</li>\n                    <li>Não será necessário pagar novamente</li>\n                    <li>Nossa equipe já está trabalhando na solução</li>\n                </ul>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🛠️ Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li><strong>Aguarde até 2 horas</strong> - Na maioria dos casos, o problema se resolve automaticamente</li>\n                    <li><strong>Verifique seu e-mail</strong> - Enviaremos uma confirmação assim que tudo estiver funcionando</li>\n                    <li><strong>Tente acessar a plataforma</strong> - Sua conta pode já estar ativa</li>\n                    <li><strong>Entre em contato conosco</strong> - Se o problema persistir, nossa equipe resolverá imediatamente</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button secondary\">\n                    🔗 Tentar Acessar Plataforma\n                </a>\n                <br>\n                <a href=\"mailto:suporte@intellizapp.com.br?subject=Problema na Ativação - Pagamento Processado\" class=\"cta-button\">\n                    📧 Contatar Suporte Agora\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">🚀 Suporte Prioritário Ativado</h3>\n                <p class=\"support-text\">\n                    Como cliente premium, você tem acesso ao nosso suporte prioritário. \n                    Nossa equipe vai resolver seu problema com <strong>máxima urgência</strong>.\n                </p>\n                \n                <div class=\"contact-info\">\n                    <div class=\"contact-item\">📧 suporte@intellizapp.com.br</div>\n                    <div class=\"contact-item\">⏰ Resposta em até 2 horas</div>\n                    <div class=\"contact-item\">💬 Ou responda diretamente este e-mail</div>\n                </div>\n            </div>\n            \n            <!-- Payment Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">💳 Dados do Pagamento:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Plano:</td>\n                        <td style=\"padding: 8px 0;\">Premium</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Valor:</td>\n                        <td style=\"padding: 8px 0;\">R$ 197,00</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status do Pagamento:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Aprovado</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status da Ativação:</td>\n                        <td style=\"padding: 8px 0; color: #f39c12; font-weight: 600;\">⏳ Processando</td>\n                    </tr>\n                </table>\n            </div>\n            \n            <!-- Urgency Note -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 20px; margin: 30px 0; border-left: 4px solid #ffc107; text-align: center;\">\n                <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 10px;\">\n                    ⚡ Este problema tem prioridade máxima!\n                </p>\n                <p style=\"font-size: 14px; color: #856404;\">\n                    Nossa equipe técnica está trabalhando ativamente para resolver sua situação. \n                    Você receberá uma atualização em breve.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Pedimos desculpas pelo inconveniente e agradecemos sua paciência. \n                Em breve você estará aproveitando todos os recursos do intellizapp.IA!\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Dúvidas urgentes? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-384,-1024],"id":"ba07fce5-5bce-449c-a43d-f9ff72cc2284","name":"Send Erro ADMIN","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('Start').item.json.body_customer_email }}","subject":"Erro na ativação - INTELLIZAPP","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>intellizapp.IA - Problema na Ativação da Assinatura</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .alert-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .alert-title {\n            font-size: 24px;\n            color: #e74c3c;\n            margin-bottom: 15px;\n        }\n        \n        .alert-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .error-details {\n            background-color: #fff5f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e74c3c;\n        }\n        \n        .error-title {\n            font-size: 20px;\n            color: #c0392b;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .error-description {\n            font-size: 15px;\n            color: #555;\n            line-height: 1.6;\n        }\n        \n        .reassurance-section {\n            background-color: #e8f8f5;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n        }\n        \n        .reassurance-title {\n            font-size: 18px;\n            color: #27ae60;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .reassurance-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .reassurance-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .reassurance-list li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #27ae60;\n            font-weight: bold;\n            font-size: 18px;\n        }\n        \n        .next-steps {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc107;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            counter-reset: step;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #ffc107;\n            color: #856404;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button.secondary {\n            background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 18px;\n            color: #2980b9;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 15px;\n            color: #555;\n            margin-bottom: 15px;\n        }\n        \n        .contact-info {\n            background-color: white;\n            border-radius: 8px;\n            padding: 20px;\n            margin-top: 15px;\n        }\n        \n        .contact-item {\n            font-size: 16px;\n            color: #2980b9;\n            font-weight: 600;\n            margin: 8px 0;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .alert-title {\n                font-size: 20px;\n            }\n            \n            .error-title {\n                font-size: 18px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Alert Message -->\n            <div class=\"alert-message\">\n                <h1 class=\"alert-title\">⚠️ Problema na Ativação da Assinatura</h1>\n                <p class=\"alert-text\">\n                    Detectamos um problema técnico durante o processo de ativação da sua assinatura. \n                    <strong>Seu pagamento foi processado com sucesso</strong>, mas houve uma falha na ativação automática do seu plano.\n                </p>\n            </div>\n            \n            <!-- Error Details -->\n            <div class=\"error-details\">\n                <h2 class=\"error-title\">🔍 O que aconteceu?</h2>\n                <p class=\"error-description\">\n                    Após a confirmação do seu pagamento, nosso sistema tentou ativar automaticamente sua conta premium, \n                    mas encontrou uma instabilidade técnica temporária. Este tipo de problema é raro e nossa equipe \n                    técnica já foi notificada para resolver rapidamente.\n                </p>\n            </div>\n            \n            <!-- Reassurance Section -->\n            <div class=\"reassurance-section\">\n                <h2 class=\"reassurance-title\">✅ Pode ficar tranquilo(a)!</h2>\n                <ul class=\"reassurance-list\">\n                    <li><strong>Seu pagamento foi processado normalmente</strong></li>\n                    <li>Seus dados estão seguros em nosso sistema</li>\n                    <li>Sua assinatura será ativada nas próximas horas</li>\n                    <li>Não será necessário pagar novamente</li>\n                    <li>Nossa equipe já está trabalhando na solução</li>\n                </ul>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🛠️ Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li><strong>Aguarde até 2 horas</strong> - Na maioria dos casos, o problema se resolve automaticamente</li>\n                    <li><strong>Verifique seu e-mail</strong> - Enviaremos uma confirmação assim que tudo estiver funcionando</li>\n                    <li><strong>Tente acessar a plataforma</strong> - Sua conta pode já estar ativa</li>\n                    <li><strong>Entre em contato conosco</strong> - Se o problema persistir, nossa equipe resolverá imediatamente</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button secondary\">\n                    🔗 Tentar Acessar Plataforma\n                </a>\n                <br>\n                <a href=\"mailto:suporte@intellizapp.com.br?subject=Problema na Ativação - Pagamento Processado\" class=\"cta-button\">\n                    📧 Contatar Suporte Agora\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">🚀 Suporte Prioritário Ativado</h3>\n                <p class=\"support-text\">\n                    Como cliente premium, você tem acesso ao nosso suporte prioritário. \n                    Nossa equipe vai resolver seu problema com <strong>máxima urgência</strong>.\n                </p>\n                \n                <div class=\"contact-info\">\n                    <div class=\"contact-item\">📧 suporte@intellizapp.com.br</div>\n                    <div class=\"contact-item\">⏰ Resposta em até 2 horas</div>\n                    <div class=\"contact-item\">💬 Ou responda diretamente este e-mail</div>\n                </div>\n            </div>\n            \n            <!-- Payment Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">💳 Dados do Pagamento:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Plano:</td>\n                        <td style=\"padding: 8px 0;\">Premium</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Valor:</td>\n                        <td style=\"padding: 8px 0;\">R$ 197,00</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status do Pagamento:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Aprovado</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status da Ativação:</td>\n                        <td style=\"padding: 8px 0; color: #f39c12; font-weight: 600;\">⏳ Processando</td>\n                    </tr>\n                </table>\n            </div>\n            \n            <!-- Urgency Note -->\n            <div style=\"background-color: #fff3cd; border-radius: 10px; padding: 20px; margin: 30px 0; border-left: 4px solid #ffc107; text-align: center;\">\n                <p style=\"font-size: 16px; color: #856404; font-weight: 600; margin-bottom: 10px;\">\n                    ⚡ Este problema tem prioridade máxima!\n                </p>\n                <p style=\"font-size: 14px; color: #856404;\">\n                    Nossa equipe técnica está trabalhando ativamente para resolver sua situação. \n                    Você receberá uma atualização em breve.\n                </p>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Pedimos desculpas pelo inconveniente e agradecemos sua paciência. \n                Em breve você estará aproveitando todos os recursos do intellizapp.IA!\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Dúvidas urgentes? Responda este e-mail ou entre em contato pelo suporte.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-192,-1024],"id":"1d11fd4f-5cf0-4ee2-b9db-3d28a404be9f","name":"Send Erro USER","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"body_customer_email","type":"any"}]}},"id":"4cdf58f4-bde1-4711-b520-fdfda75b9850","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,-1024]}],"connections":{"Send Erro ADMIN":{"main":[[{"node":"Send Erro USER","type":"main","index":0}]]},"Start":{"main":[[{"node":"Send Erro ADMIN","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}