la-maquina-de-blog-Vgr90VzTaVqmXk04.json
{"updatedAt":"2025-07-10T14:07:48.781Z","createdAt":"2025-07-10T14:07:25.466Z","id":"Vgr90VzTaVqmXk04","name":"LA MAQUINA DE BLOG","active":false,"isArchived":false,"nodes":[{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"Content Schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"slug\": {\n      \"type\": \"string\"\n    },\n    \"keywords\": {\n      \"type\": \"string\"  \n    },\n    \"googleExcerpt\": {\n      \"type\": \"string\"\n    },\n    \"googleMetaDescription\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"imagePrompt\": {\n                \"type\": \"string\"\n              },\n              \"fileName\": {\n                \"type\": \"string\"\n              },\n              \"caption\": {\n                \"type\": \"string\"\n              },\n              \"altText\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"conclusion\": {\n      \"type\": \"string\"\n    },\n    \"image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"imagePrompt\": {\n          \"type\": \"string\"\n        },\n        \"fileName\": {\n          \"type\": \"string\"\n        },\n        \"caption\": {\n          \"type\": \"string\"\n        },\n        \"altText\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"ctaUrl\": {\n      \"type\": \"string\"\n    },\n    \"companyOffering\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1180,300],"id":"da4763e5-9a5c-46c1-be5f-c7dbe9be2b50","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=## Instruções\n\nVocê é um exímio escritor especialista em criar artigos otimizados para SEO.\nEscreva um artigo aprofundado e abrangente sobre {{ $('Google Sheets4').item.json.Seed_keyword }} que tenha como público-alvo {{ $('Google Sheets4').item.json.Target_audience }} no estilo de escrita {{ $('Google Sheets4').item.json.Style }}. Se houver algo na lista de sugestões do Google: {{ $('Google Sheets4').item.json['Palavras Chaves Google'] }}, aproveite somente as palavras que fazem sentido para nosso público-alvo.\n\n## Instruções sobre SEO\nTítulos e meta descriptions:\nCrie títulos e meta descriptions atraentes e informativos, que incentivem os usuários a clicar nos resultados de busca.\nConteúdo relevante e de qualidade:\nCrie conteúdo relevante e de qualidade, que satisfaça as necessidades dos seus usuários.\n\n\n## Regras\n\n- **Evite frases clichê** como:\n- \"Neste artigo\"\n- \"No mundo acelerado\"\n- \"Transformador\"\n\n1. **Título Atraente** (Headline)\nO título é a primeira coisa que os leitores veem então deve ser atraente e informativo, que incentivem os usuários a clicar nos resultados de busca.\n- Prometa uma solução ou benefício\n- Se possível utilize números no título.\n- Ele deve ser, curioso, relevante e viral.\n- Use palavras-chave importantes para SEO, mas priorize algo que desperte emoção ou curiosidade.\n- Exemplo 1: \"5 Bebidas deliciosas para fazer com banana em 2025\"\n- Exemplo 2: \"8 Chás para emagrecer em 7 dias\"\n\n2. **A introdução deve ser impactante**\n- Comece com uma frase poderosa, uma pergunta provocativa ou uma história breve que conecte o leitor ao tema.\n- Mostre o valor do conteúdo: explique por que ele deve continuar lendo.\n- Prometa uma solução ou benefício específico.\n- Exemplo: **Você já se sentiu sobrecarregado com tantas tarefas? Neste post, vou compartilhar como organizei minha rotina e aumentei minha produtividade em 100%.** \n- Ter {{ $('Google Sheets4').item.json.Introduction_length }} no mínimo e {{ $('Google Sheets4').item.json.Introduction_length_max }} no máximo.\n\n3. Corpo do Texto: **Dividido em Seções Claras**\n\n- Organize o conteúdo em subtítulos (H2 e H3) para facilitar a leitura e melhorar o SEO.\n- Certifique-se que a promessa do titulo seja entregue no conteudo,\na. Problema ou Contexto\n- Explique o problema ou desafio que o leitor enfrenta.\n- Mostre empatia e demonstre que você entende a dor dele.\n- Exemplo: **A falta de organização pode transformar até as tarefas mais simples em verdadeiros pesadelos.**\nb. Solução ou Conteúdo Principal\n- Apresente sua solução de forma clara e prática.\n- Use listas numeradas, bullets ou passos simples para facilitar a compreensão.\n- Inclua exemplos reais, estudos de caso ou histórias pessoais para tornar o conteúdo mais humano e tangível.\n- Exemplo: \"Aqui estão 5 estratégias testadas para organizar sua rotina...\"\nc. Dicas ou Insights Extras\n- Adicione informações complementares ou dicas avançadas para enriquecer o conteúdo.\n- Use citações de especialistas ou dados confiáveis para respaldar suas ideias.\n- O artigo deve ter {{ $('Google Sheets4').item.json.Chapters }} capítulos com no mínimo {{ $('Google Sheets4').item.json.Word_Count }} e no máximo {{ $('Google Sheets4').item.json.Word_Count_Max }} palavras.\n\n4. Conclusão Memorável\n- Resuma os pontos principais discutidos no post.\n- Reforce o benefício de aplicar o que foi aprendido.\n- Termine com uma frase inspiradora ou reflexiva que fique na mente do leitor.\n- Exemplo: \"Pequenas mudanças podem gerar grandes resultados. Comece hoje mesmo!\"\n- A conclusão deve ter {{ $('Google Sheets4').item.json.conclusion_length }} no mínimo e {{ $('Google Sheets4').item.json.conclusion_length_max }} no máximo.\n\n### Título e Subtítulo\n\nCrie um **título atraente** otimizado pra SEO e um **subtítulo conciso** que reflitam o tema.\n\n### Introdução\n\nEscreva uma introdução impactante de entre **{{ $('Google Sheets4').item.json.Introduction_length }} e {{ $('Google Sheets4').item.json.Introduction_length_max }} palavras** obedecendo as regras definidas, que apresente o tema,  prepare e engaje o leitor para o restante do artigo.\n\n\n### Slug\n\nCrie um **slug curto e amigável para SEO** de 3 a 8 palavras:\n- Certifique-se de que contenha a **palavra e frase-chave de SEO**.\n- Use **hífens (-)** para separar as palavras.\n\n### Keywords\n\nCrie **palavras-chave foco** de 3 a 5 palavras:\n- Certifique-se de que algumas contenham a **palavra-chave e frase-chave de SEO**.\n- Use **virgulas (,)** para separar as palavras-chave.\n\n### Resumo do Google\n\nEscreva um **resumo amigável para o Google** (de **150** até **160 caracteres**):\n- Use uma **voz ativa**.\n- Inclua a **palavra-chave principal e a frase-chave**.\n\n### Meta Descrição do Google\n\nCom base no conteúdo do artigo:\n- Limite de **150** à **160 caracteres**.\n- Use uma **voz ativa** e torne-a **acionável**.\n- Inclua a **palavra-chave principal e a frase-chave**.\n\n### Capítulos\n\nCrie conteúdo aprofundado e abrangente para os capítulos:\n- **Estrutura**:\n  - Forneça um título e um **prompt exaustivo** para cada capítulo.\n  - Coloque os capítulos em um campo de array chamado **chapters**, com os seguintes campos:\n    - `title`\n    - `prompt`\n    - `image`\n  - Garanta um **fluxo lógico** entre os capítulos e não repetir os mesmos conceitos.\n  - Os capítulos devem ser relacionados entre si e não blocos isolados de texto. O texto deve ser fluente e seguir uma lógica linear.\n  - Evite títulos genéricos como \"Capítulo 1\", \"Capítulo 2\", etc.; use **títulos descritivos SEO**.\n  - Para o título e os títulos dos chapters, não use dois pontos (`:`)\n  - Vá fundo no tópico que você trata, não apenas jogue algumas informações superficiais.\n- **Formatação Markdown**:\n  - Inclua **negrito**, *itálico* e _sublinhado_ quando necessário.\n  - Inclua Tabelas para fazer comparação ou mostrar dados quando necesário\n  - Inclua sempre **listas** e **listas numeradas** conforme necessário.\n- **Detalhes da Imagem** para Cada Capítulo:\n  - **Prompt da Imagem**: Uma descrição vívida e detalhada da imagem. [Este prompt de imagem deve ser em inglês]\n  - **Nome do Arquivo**: Um nome descritivo para o arquivo da imagem (sem extensão).\n  - **Legenda**: Um resumo sucinto do conteúdo da imagem.[em português]\n  - **Texto Alt**: Uma descrição focada na acessibilidade da imagem.[em português]\n\n### Conclusão\nEscreva uma **com numero de palavras definido nas regras** que resuma o artigo e deixe o leitor com uma reflexão final se necessário questione.\n\n### Chamada para Ação (CTA)\n- **CTA**: No final do artigo, inclua uma mensagem de chamada para ação convincente que motive os leitores a dar o próximo passo para comprar o produto: {{ $('Google Sheets4').item.json.CTA }}\n- **URL da CTA**: Forneça a URL para a CTA: {{ $('Google Sheets4').item.json.CTA_URL }}\n- **Oferta da Empresa**: Inclua uma descrição detalhada da oferta: {{ $('Google Sheets4').item.json.Company_offering }}\n\n---\n\n## Detalhes da Imagem para Capa do Artigo\nO artigo deve incluir um **objeto de imagem em destaque** com os seguintes campos:\n- **Prompt da Imagem**: Uma descrição vívida, realista e detalhada da imagem que reflita o conteúdo e o sentimento do público-alvo: {{ $('Google Sheets4').item.json.Target_audience }}. [Este prompt de imagem deve ser em inglês]\n- **Nome do Arquivo**: Um nome descritivo para a imagem de capa (sem extensão).\n- **Legenda**: Um resumo sucinto do conteúdo da imagem de capa.[em português]\n- **Texto Alt**: Uma descrição focada na acessibilidade da imagem de capa.[em português]\n**Requisitos** para a Imagem de Capa:\n- **Proporção**: 16:9\n- Deve ser **relevante** para o conteúdo e o sentimento do artigo.\n- Conter **detalhes ricos** e refletir o conteúdo do texto em um estilo **fotorrealista**.\n- Excluir qualquer texto na imagem.\n\n---\n\n### Output Format: JSON\n```json\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",\n  \"introduction\": \"string\",\n  \"slug\": \"string\",\n  \"keywords\": \"string\",\n  \"googleExcerpt\": \"string\",\n  \"googleMetaDescription\": \"string\",\n  \"chapters\": [\n    {\n      \"title\": \"string\",\n      \"prompt\": \"string\",\n      \"image\": {\n        \"imagePrompt\": \"string\",\n        \"fileName\": \"string\",\n        \"caption\": \"string\",\n        \"altText\": \"string\"\n      }\n    }\n  ],\n  \"conclusion\": \"string\",\n  \"image\": {\n    \"imagePrompt\": \"string\",\n    \"fileName\": \"string\",\n    \"caption\": \"string\",\n    \"altText\": \"string\"\n  },\n  \"cta\": \"string\",\n  \"ctaUrl\": \"string\",\n  \"companyOffering\": \"string\"\n}\n```","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1000,140],"id":"20cab9b2-85f6-46f6-9ba0-e9ed2607200a","name":"Create post title and structure","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=**Escreva um Capítulo para um Artigo**\n\n**Detalhes do Artigo:**\n- **Tópico:** {{ $('Create post title and structure').first().json.output.title }}\n- **Subtítulo:** {{ $('Create post title and structure').first().json.output.subtitle }}\n\n**Detalhes do Capítulo:**\n- **Título do Capítulo:** {{ $json.title }}\n- **Prompt do Capítulo:** {{ $json.prompt }}\n\n**Tarefa:**\nGere um capítulo para o artigo usando o tópico, subtítulo, título do capítulo e prompt do capítulo fornecidos acima.\n\n**Diretrizes:**\n- **Evite Frases:** Não use expressões como “No mundo acelerado de hoje” ou similares.\n- **Sem Nomes de Produtos:** Evite mencionar nomes de produtos ou serviços.\n- **Formatação:**\n  - Retorne o conteúdo do capítulo como texto simples, sem títulos ou cabeçalhos internos extras.\n  - Use formatação markdown (por exemplo, **negrito**, *itálico*, listas) quando apropriado.\n- **Comprimento e Estilo:**\n  - O capítulo deve ter aproximadamente entre **{{ $('Settings1').item.json['Min palvaras'] }} e {{ $('Settings1').item.json['Max Palavras'] }} palavras**.\n  - Mantenha a maioria das frases com menos de 20 palavras.\n  - Aprofunde-se no tópico—evite explicações superficiais.\n- **Consideração de Contexto:**\n  - **Capítulo Anterior:**  \n    {{ $itemIndex > 0 ? \"- Título do capítulo anterior: \" + $input.all()[$itemIndex - 1].json.title : \"\" }}  \n    {{ $itemIndex > 0 ? \"- Prompt do capítulo anterior: \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n  - **Próximo Capítulo:**  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Título do próximo capítulo: \" + $input.all()[$itemIndex + 1].json.title : \"\" }}  \n    {{ $itemIndex < $input.all().length - 1 ? \"- Prompt do próximo capítulo: \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n  - Certifique-se de que o conteúdo do capítulo seja coerente com os capítulos anteriores e seguintes, e não repita conceitos já discutidos.\n- **Linking Interno:**\n  - Revise a lista de URLs do blog abaixo:\n  - Faça chamadas genéricas e que fique uma introdução natural do link.\n    ```\n{{ $json.internal_links.join(\"\\n\") }}\n    ```\n  - Escolha um URL relevante para o conteúdo do capítulo e incorpore-o como um link interno com um texto de hiperlink apropriado.\n  - Use cada URL apenas uma vez. Se nenhum for relevante, não adicione links.\n- **Integração:**  \n  Este capítulo faz parte de um artigo maior. Não inclua uma introdução ou conclusão independente; garanta que o capítulo flua naturalmente no contexto geral do artigo.\n\n**Formato de Saída:**\nRetorne o capítulo como um objeto JSON com dois campos:\n```json\n{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}\n```\n\n---","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1600,1000],"id":"5e340427-376e-40a5-a16a-62e62e16ab73","name":"Write chapter text","retryOnFail":true,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1160,700],"id":"61c9d1f5-d3f0-4a6c-8804-83cef4e54772","name":"Merge","retryOnFail":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1760,1220],"id":"e9552369-db4d-47e0-a0ec-6100bf0de70b","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.chapters","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1380,920],"id":"a23750b3-d76e-47e8-9aeb-1275ac3cf00a","name":"Split out chapters"},{"parameters":{"url":"=https://{{ $('Settings1').item.json.Website }}/post-sitemap.xml","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,440],"id":"7406d4f9-65e4-4727-9081-2f6874de10cb","name":"Get post sitemap"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[640,640],"id":"fa7856ae-e4be-41d4-8f29-e924dff2cc85","name":"Get XML file"},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[940,500],"id":"064d2b5c-21d7-45fc-ace5-ef74a68bd5a1","name":"Split out links"},{"parameters":{"assignments":{"assignments":[{"id":"3db2a3a4-d89e-4848-835c-1d6ac68419ac","name":"chapter_title","value":"={{ $json.output.title }}","type":"string"},{"id":"25fbf572-7e57-4797-99ba-34fc1c8d560a","name":"chapter_content","value":"={{ $json.output.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,480],"id":"2bc574f8-7b0d-4281-9ee4-35e450e9f5ce","name":"Get title chapter and content"},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"8c20f011-3e90-4bde-a058-b4fe1ca35df4","name":"Merge chapters title and text","type":"n8n-nodes-base.merge","position":[1980,500],"typeVersion":2.1},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.article }}","destinationKey":"article","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2200,700],"id":"db0c46df-b0e0-4c81-af1a-68507ef4c7c6","name":"Markdown to HTML"},{"parameters":{"title":"={{ $('Create post title and structure').first().json.output.title }}","additionalFields":{"content":"={{ $('FInal article in HTML').item.json.article }}","slug":"={{ $('Create post title and structure').first().json.output.slug }}","status":"publish"}},"id":"8a772526-aacd-4d75-b9bf-e3ffea7b0f60","name":"Post on Wordpress","type":"n8n-nodes-base.wordpress","position":[2640,720],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings1').item.json.Website }}/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition","value":"=attachment; filename=\"{{ $('Create post title and structure').item.json.output.image.fileName }}.{{ $binary.data.fileExtension }}\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"1318bb06-85cf-4507-a4d9-7f1ce758fc7b","name":"Upload featured image","type":"n8n-nodes-base.httpRequest","position":[2860,640],"typeVersion":4.1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings1').item.json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"featured_media","value":"={{ $json.id }}"}]},"options":{}},"id":"38903890-2f3f-4ff9-9acf-ffd8e77cc3c4","name":"Set featured image for post","type":"n8n-nodes-base.httpRequest","position":[2860,1040],"typeVersion":4.1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings1').item.json.Website }}/wp-json/wp/v2/media/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"alt_text","value":"={{ $('Create post title and structure').first().json.output.image.altText }}"},{"name":"title","value":"={{ $('Create post title and structure').first().json.output.image.caption }}"},{"name":"caption","value":"={{ $('Create post title and structure').first().json.output.image.caption }}"},{"name":"description","value":"={{ $('Create post title and structure').first().json.output.image.caption }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,840],"id":"7181a1d6-3985-4859-bdf5-8ca0d869e6e7","name":"Update featured image meta data"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1480,480],"id":"61e92d3a-71f6-479e-bfe4-79018caa8a2f","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"178011dc-bb76-420d-a01e-5a5d9797957e","name":"response","value":"=Uma nova postagem de blog foi criada e publicada em {{ $item(\"0\").$node[\"Set (trecho) e (categoria)\"].json[\"link\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3180,1400],"id":"a442f5f5-098e-43df-a63b-f66c3e19f221","name":"Edit Fields"},{"parameters":{"options":{"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1000,300],"id":"e24f887c-6f30-4ab5-b341-e00097dfcc9e","name":"OpenRouter Chat Model"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,740],"id":"1971152d-ed55-4ce4-8876-72bbf589ba26","name":"Wait","webhookId":"82f7cf8b-9d0e-43b6-a750-ec461f2cae2f"},{"parameters":{"model":"qwen/qwen-2.5-72b-instruct","options":{"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1560,1220],"id":"5d3f561e-e433-49d5-b9d1-717b1252c8bf","name":"OpenRouter Chat Model1"},{"parameters":{"maxItems":20},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[940,700],"id":"8da1aad4-0975-40ac-9e53-ff8a511bbf67","name":"Limit1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2860,440],"id":"3c225b25-6ba7-42d7-8d52-157eb6638a0a","name":"Add featured image"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Final article in Markdown').item.json.article }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2400,880],"id":"8edd80ca-b06b-4ec0-9b73-0b470330fe72","name":"Save texts to Doc"},{"parameters":{"folderId":"={{ $('Create Drive folder').first().json.id }}","title":"={{ $('Create post title and structure').first().json.output.title.replace(/ /g, \"_\") }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2400,680],"id":"82e14311-06a2-4592-a0d2-83d0ccec50a5","name":"Create Doc"},{"parameters":{"assignments":{"assignments":[{"id":"8cada260-4cd5-4470-8dba-139cec531ddc","name":"output","value":"={{ $('Create post title and structure').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,140],"id":"910065f7-36c2-4b16-9c03-a2a3639122d2","name":"Get output"},{"parameters":{"resource":"folder","name":"={{ $json.output.title.replace(/ /g, \"_\") }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1o_NXsessTjE3XqU28LFotRVfpJMJF3AM","mode":"list","cachedResultName":"Auto blog","cachedResultUrl":"https://drive.google.com/drive/folders/1o_NXsessTjE3XqU28LFotRVfpJMJF3AM"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1420,140],"id":"6a6a95ea-8f66-460b-a8e0-824425295945","name":"Create Drive folder"},{"parameters":{"assignments":{"assignments":[{"id":"b6877f11-541d-4ac5-8556-f10374322f2a","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,480],"id":"b7e071ef-df5c-47a1-9385-dbd353024fc9","name":"FInal article in HTML"},{"parameters":{"assignments":{"assignments":[{"id":"cd9e8fee-8386-4410-8cb4-5ef83c265d52","name":"article","value":"={{ $json.article }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,900],"id":"4565b476-bde0-4d38-83b5-9e26ab4ad6e4","name":"Final article in Markdown"},{"parameters":{"jsCode":"let article = \"\";\n\n// Introduction\narticle += $('Create post title and structure').first().json.output.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  // Add the chapter title as a level 2 Markdown header\n  article += \"## \" + item.json.chapter_title + \"\\n\\n\";\n  \n  // Insert the chapter image if it exists (Markdown image syntax)\n  if (item.json.source_url) {\n    article += `![${item.json.title.rendered}](${item.json.source_url})\\n\\n`;\n  }\n  \n  // Add the chapter content\n  article += item.json.chapter_content;\n  article += \"\\n\\n\";\n}\n\n// Conclusion\n//article += \"## Conclusão\\n\\n\";\n//article += $('Create post title and structure').first().json.output.conclusion;\n//article += \"\\n\\n\";\n\n// Call-to-Action (CTA)\narticle += $('Create post title and structure').first().json.output.cta + \"\\n\\n\";\narticle += \"Mude de vida agora [\" + $('Create post title and structure').first().json.output.ctaUrl + \"](\" + $('Create post title and structure').first().json.output.ctaUrl + \")\\n\\n\";\n\n// Company Offering\narticle += \"## Sobre\\n\\n\";\narticle += $('Create post title and structure').first().json.output.companyOffering;\n\nreturn [\n  {\n    \"article\": article\n  }\n];"},"id":"eebbd0fb-d043-4f47-9ce7-23b0f4445c26","name":"Combine into article","type":"n8n-nodes-base.code","position":[1980,700],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"loc","renameField":true,"outputFieldName":"internal_links"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1160,500],"id":"dfcf8170-d033-4a90-a4d5-cadcf7166f7c","name":"Aggregate internal links"},{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ $('Create post title and structure').first().json.output.image.imagePrompt }}?width=1200&height=800&nologo=true","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,220],"id":"e71e561d-d78c-4ee0-996c-4cc4f156f36e","name":"HTTP Request4","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"operation":"resize","width":800,"height":800,"options":{"fileName":"={{ $('Create post title and structure').item.json.output.image.fileName }}","format":"webp"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2380,40],"id":"8750cda8-2407-4e77-90d9-3da3c182df0f","name":"Resize featured image2"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2380,200],"id":"b5649017-6f1b-4e34-a5d7-0251803ec88f","name":"Upload featured image to Drive2"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2860,200],"id":"93eb0533-8d1b-454d-a9fd-0efc02f9aefd","name":"Merge5"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,60],"id":"95baac24-cb45-4611-af6e-05339c31458f","name":"HTTP Request5","disabled":true},{"parameters":{"operation":"resize","dataPropertyName":"=data","width":800,"height":800,"options":{"fileName":"={{ $('Split out chapters').item.json.image.fileName }}","format":"webp"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2420,1240],"id":"690e0fff-6532-4c9e-8254-fee1cda8de9b","name":"Resize Image2"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings1').item.json.Website }}/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Disposition","value":"=attachment; filename=\"{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"e934aa7f-6a34-4169-8f77-6deaed900039","name":"Upload chapter images2","type":"n8n-nodes-base.httpRequest","position":[2600,1240],"typeVersion":4.1},{"parameters":{"method":"POST","url":"=https://{{ $('Settings1').item.json.Website }}/wp-json/wp/v2/media/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"alt_text","value":"={{ $('Wait3').item.json.image.altText }}"},{"name":"title","value":"={{ $('Wait3').item.json.title }}"},{"name":"caption","value":"={{ $('Wait3').item.json.image.caption }}"},{"name":"description","value":"={{ $('Wait3').item.json.image.altText }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,1440],"id":"e4971366-036c-45ba-96bc-fb473baafb9f","name":"Update image meta data2"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1460,1560],"id":"6e651860-cb6e-43b5-a36b-584c99c09391","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,1560],"id":"954af4cd-fff8-442f-a8d1-7d25374f8adc","name":"Wait3","webhookId":"7469b557-9d5b-4cc0-a4cc-5d0af1ea3368"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2240,1440],"id":"1b86b865-37aa-4cfd-9c21-2c5d2c5f43db","name":"Upload chapter images to Drive2"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2600,1640],"id":"8d68e90c-a8a4-42ed-95b4-65fa60795f22","name":"Merge6"},{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ $json.image.imagePrompt }}?width=1200&height=800&nologo=true","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,1260],"id":"c2176394-c17a-44f9-95bb-6f3ca9880a84","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1900,60],"id":"f0dac6f4-9deb-4361-a77a-0e57fbdc6b0a","name":"Wait4","webhookId":"a2cfe6a0-b250-44c2-93ab-ae7a64c08358"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2040,1480],"id":"1afedf46-0fc0-4b76-9933-06f1e67e6118","name":"Wait5","webhookId":"1f0ab5aa-77d5-47b4-aaeb-a4a055b97ae0"},{"parameters":{"resource":"messages-api","instanceName":"n8n","remoteJid":"558599268185@s.whatsapp.net","messageText":"={{ $json.response }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3180,1600],"id":"8db601c9-e88a-4f2c-91fa-5e20f4423a86","name":"Evolution API"},{"parameters":{"assignments":{"assignments":[{"id":"deb6621e-982a-4e20-a1c1-1140be02cad3","name":"Website","value":"={{ $json.Website }}","type":"string"},{"id":"fdd24a9b-649b-4088-b085-da0be99f3d86","name":"Palavra Chave","value":"={{ $json.Seed_keyword }}","type":"string"},{"id":"2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8","name":"Publico - Alvo","value":"={{ $json.Target_audience }}","type":"string"},{"id":"0dafb0ac-5735-4243-84cc-85e787697892","name":"Min palvaras","value":"={{ $json.Word_Count }}","type":"number"},{"id":"8d0e50d2-8862-433e-a055-f9e566650a33","name":"Max Palavras","value":"={{ $json.Word_Count_Max }}","type":"number"},{"id":"3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3","name":"Numero de Capitulos","value":"={{ $json.Chapters }}","type":"number"},{"id":"191105bb-4f7e-4b4f-bab7-95fa1f858c43","name":"Min Introdução palavras","value":"={{ $json.Introduction_length }}","type":"number"},{"id":"20cf76cf-70da-46a1-944d-21cfb1565dd7","name":"Max Introdução palavras","value":"={{ $json.Introduction_length_max }}","type":"number"},{"id":"d1368f97-9249-4bb6-9c5c-f3185b7ef9eb","name":"Min Conclusão palavras","value":"={{ $json.conclusion_length }}","type":"number"},{"id":"6d6bf6bf-e35a-4739-b753-5c1cdef8c83c","name":"Max Conclusão palavras","value":"={{ $json.conclusion_length_max }}","type":"number"},{"id":"9579a7f2-1a4e-45b7-8cd7-ef249073798d","name":"Estilo","value":"={{ $json.Style }}","type":"string"},{"id":"1575eee8-6b01-4d0f-8304-68d4d541f0f7","name":"Category ID","value":"={{ $json.Category_ID }}","type":"number"},{"id":"ae45f0c3-1ed6-4901-bf50-359ea3da33a9","name":"CTA","value":"={{ $json.CTA }}","type":"string"},{"id":"c71d3ccd-369d-4c50-8f57-1cb693af14be","name":"CTA URL","value":"={{ $json.CTA_URL }}","type":"string"},{"id":"f6e4ce2b-6d29-4ca8-9b91-6236701d71b5","name":"Sobre","value":"={{ $json.Company_offering }}","type":"string"},{"id":"59ff4b22-d043-4c4d-96cd-b913b5be388f","name":"Categoria","value":"={{ $json.Categoria }}","type":"string"},{"id":"d4a9124f-f8f8-4652-9ce3-e003b8f14284","name":"Status","value":"={{ $json.Status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,480],"id":"cce85df0-bcc0-4159-b4bf-667ab36a174c","name":"Settings1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5e0892b-6f70-46d4-81fc-e33321dc87b9","leftValue":"={{ $json.Website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4b4c8d5-9acb-4b8d-be85-7cb70954da7d","leftValue":"={{ $json['Palavra Chave'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"48f46993-3214-48b6-a7d1-54a23c0cad48","leftValue":"={{ $json['Publico - Alvo'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"82b82a35-352c-423d-bae1-60ab97596ff4","leftValue":"={{ $json['Min palvaras'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"5599e8bf-4ed9-4316-9b2d-3eea6f74e9a3","leftValue":"={{ $json['Max Palavras'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"4b177d23-d6e7-4444-8bbb-fe4d5064da03","leftValue":"={{ $json['Numero de Capitulos'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"34b9e9d2-c5a3-4878-a12a-f5ad87b43efa","leftValue":"={{ $json['Min Introdução palavras'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"31f5fa79-74af-49d4-a2a9-cff06f0b313d","leftValue":"={{ $json['Max Conclusão palavras'] }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"30633e71-924d-4f0f-9ea8-f2d4a119ae51","leftValue":"={{ $json.Estilo }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,260],"id":"2299b96c-ae62-45ea-b318-a51c598f711b","name":"Check inputs1"},{"parameters":{"documentId":{"__rl":true,"value":"1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI","mode":"list","cachedResultName":"Automate_n8n_Blog_Automation_Pro_v2__SEO_topic_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Aguardando"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[340,280],"id":"19f0f1d6-f765-444d-9686-2c77a845cdf3","name":"Google Sheets4"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[80,280],"id":"6a748bdf-1e5e-43d7-9e16-aff6619e5f72","name":"When Executed by Another Workflow","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1420,1060],"id":"0f718d7f-651e-4b1f-8775-5f61b0f732e6","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"=https://plantaecia.com.br/wp-json/robo-seo-api-rest/v1/update-meta","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"post_id","value":"={{ $item(\"0\").$node[\"Post on Wordpress\"].json[\"id\"] }}"},{"name":"keyword","value":"={{ $item(\"0\").$node[\"Create post title and structure\"].json[\"output\"][\"keywords\"] }}"},{"name":"title","value":"={{ $item(\"0\").$node[\"Create post title and structure\"].json[\"output\"][\"title\"] }}"},{"name":"description","value":"={{ $item(\"0\").$node[\"Create post title and structure\"].json[\"output\"][\"subtitle\"] }}"}]},"options":{"response":{}}},"id":"fdb9d2e5-beca-4220-bf70-1b0fb177b5c9","name":"Plugins de SEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2860,1440]},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,1240],"id":"63c4b7cb-8f92-4a88-b6f9-4b4eceeb36ff","name":"HTTP Request7","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI","mode":"list","cachedResultName":"Automate_n8n_Blog_Automation_Pro_v2__SEO_topic_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Titulo referencia":"={{ $('Google Sheets4').item.json[\"Titulo referencia\"] }}","Status":"Publicado"},"matchingColumns":["Titulo referencia"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Titulo referencia","displayName":"Titulo referencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sugestão Google","displayName":"Sugestão Google","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seed_keyword","displayName":"Seed_keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Target_audience","displayName":"Target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Word_Count","displayName":"Word_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Word_Count_Max","displayName":"Word_Count_Max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Chapters","displayName":"Chapters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Introduction_length","displayName":"Introduction_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Introduction_length_max","displayName":"Introduction_length_max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conclusion_length","displayName":"conclusion_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conclusion_length_max","displayName":"conclusion_length_max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Style","displayName":"Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Category_ID","displayName":"Category_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CTA","displayName":"CTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CTA_URL","displayName":"CTA_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company_offering","displayName":"Company_offering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3180,1200],"id":"66e60245-7d04-4928-9ef1-53fc08f3a69b","name":"Atualizar Planilha","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://{{ $('Settings1').item.json.Website }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"excerpt","value":"={{ $('Create post title and structure').first().json.output.googleExcerpt }}"},{"name":"categories","value":"={{ $item(\"0\").$node[\"Settings1\"].json[\"Category ID\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,1240],"id":"d2b9d7d2-397d-4f19-b39e-17f59e810156","name":"Set (trecho) e (categoria)"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4,"triggerAtMinute":15}]}},"id":"f4aa0fe2-8cd4-46ba-b821-3c219ca6081b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[80,460],"typeVersion":1.2},{"parameters":{"content":"## GATILHO \n","height":860,"width":540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"db43f0ab-4100-4723-b899-3efbc17e8fbb","name":"Sticky Note1"},{"parameters":{"content":"## CONFIGURAÇÃO\n**Prapara os dados para geração de conteúdo**\n","height":860,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","position":[560,0],"typeVersion":1,"id":"279baf28-4113-4d49-afce-2d255c34aecc","name":"Sticky Note2"},{"parameters":{"content":"## GERAÇÃO DE ESTRUTURA\n**Prepara a estrutura de conteúdo**\n","height":440,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[860,0],"typeVersion":1,"id":"db2554a4-028b-4121-8539-2dcef0ddb53e","name":"Sticky Note4"},{"parameters":{"content":"**Prapara o sitemap**\n","height":400,"width":480,"color":6},"type":"n8n-nodes-base.stickyNote","position":[860,460],"typeVersion":1,"id":"2d447e5c-5dc4-4713-932b-2052bdc1bfd3","name":"Sticky Note5"},{"parameters":{"content":"## CRIA PASTA E GERA A SAIDA DO PROMPT\n","height":360,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1360,0],"typeVersion":1,"id":"172eaa01-4583-4112-b361-2c3524453d54","name":"Sticky Note6"},{"parameters":{"content":"## LOOP E SAIDA DOS CAPITULOS\n","height":1000,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1360,380],"typeVersion":1,"id":"f220b548-3ce6-4a0c-ae0e-de27e85e6549","name":"Sticky Note8"},{"parameters":{"content":"## GERA IMAGEM DE DESTAQUE\n","height":360,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1860,0],"typeVersion":1,"id":"9bfa72cf-2bec-46a7-a678-b07fed825ffd","name":"Sticky Note9"},{"parameters":{"content":"## LOOP E SAIDA DA IMAGENS DOS CAPITULOS\n","height":420,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1360,1400],"typeVersion":1,"id":"0a53b8ab-e1e9-4889-8010-55bf05f5e8b1","name":"Sticky Note10"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## GERAÇÃO DAS IMAGENS DOS CAPITULOS","height":620,"width":860,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1920,1200],"typeVersion":1,"id":"cf9b442c-342e-4ea2-9097-622f7a559292","name":"Sticky Note11"},{"parameters":{"content":"## COMBINA AS IMAGENS COM OS CAPITULOS","height":800,"width":660,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1920,380],"typeVersion":1,"id":"f86b591c-6b0b-43b9-a88e-34250bd4dfaa","name":"Sticky Note14"},{"parameters":{"content":"## ATUALIZA A PLANILHA E INFORMA NO WHATSAPP","height":1820,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3060,0],"typeVersion":1,"id":"1b94302f-cd8b-4c28-9bf6-970047e77083","name":"Sticky Note16"},{"parameters":{"content":"## FINALIZAÇÃO\nCombina, envia Imagem destaque, ajusta SEO da Imagem e categoria do post","height":1820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2800,0],"typeVersion":1,"id":"cd8b4bfa-9163-4183-af55-5319898fdb17","name":"Sticky Note20"},{"parameters":{"content":"## PUBLICA O POST","height":1180,"width":180},"type":"n8n-nodes-base.stickyNote","position":[2600,0],"typeVersion":1,"id":"97d73ff9-3405-45a1-967d-2c51f813988e","name":"Sticky Note21"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"categoria\": \"string\",\n  \"confianca\": \"number\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-540,1320],"id":"222cfe7b-5936-41c4-9072-08694eec05b5","name":"Classificador Output Parser1"},{"parameters":{"options":{"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-700,1320],"id":"a12452f3-f694-4c11-87bd-ae1d7f9abbe0","name":"OpenRouter Chat Model (Classificador)1"},{"parameters":{"promptType":"define","text":"=## Instruções para classificação\nVocê é um classificador especializado em categorizar conteúdo. Analise o título a seguir e classifique em uma das seguintes categorias:\n\n- \"saúde\": artigos sobre dietas, perda de peso, controle de calorias, gordura corporal, doenças, etc.\n- \"jardim\": artigos sobre jardinagem, cultivo de plantas, flores, hortas, vasos, etc.\n- \"plantas_medicinais\": artigos sobre ervas medicinais, plantas com propriedades curativas, chás terapêuticos, remédios naturais, cogumelos, etc.\n- \"outro\": qualquer conteúdo que não se encaixe claramente nas categorias acima.\n\nTítulo para classificar: \"{{ $('Planilha com os dados2').item.json['Titulo referencia'] }}\"\n\nForneça sua resposta APENAS no formato JSON abaixo:\n\n---\n\n### Output Format: JSON\n\n```\n{\n  \"categoria\": \"string\", // uma das opções: \"saude\", \"jardim\", \n\"plantas_medicinais\", \"outro\"\n  \"confianca\": 0.0 // número entre 0 e 1 representando sua confiança na classificação\n}\n```","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-680,1140],"id":"32ffa6be-3bed-4c21-95f3-89cead48eab7","name":"Classificador de Título1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output.categoria }}","value2":"jardim"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,1320],"id":"92daef4c-fa34-4215-a48b-50f01c126bf2","name":"É Jardim?1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output.categoria }}","value2":"plantas_medicinais"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,1500],"id":"4b84d20b-978d-4497-aaa1-b4c94eac797e","name":"É Plantas Medicinais?1"},{"parameters":{"assignments":{"assignments":[{"name":"CTA","value":"Quer transformar seu jardim em um verdadeiro paraíso verde? Milhares de pessoas já descobriram o segredo para cultivar plantas saudáveis e vibrantes sem precisar de anos de experiência! 🌱🌿 Com técnicas simples e acessíveis, você pode criar um oásis natural em sua casa. Baixe agora nosso guia completo \"Jardim dos Sonhos\" e comece a transformação do seu espaço verde hoje mesmo!","type":"string","id":"65dd7139-a0d3-420b-96df-700f747349a9"},{"name":"CTA_URL","value":"https://amzn.to/43thQBt","type":"string","id":"0a132641-ec45-4bb2-962d-8b5e912457c1"},{"name":"Company_offering","value":"Na Planta e Cia, nossa paixão é ajudar você a cultivar beleza natural em seu lar. Compartilhamos conhecimentos ancestrais e técnicas modernas para que qualquer pessoa possa ter sucesso com suas plantas. Não é apenas sobre cultivar plantas, é sobre criar uma conexão com a natureza que transforma seu bem-estar e sua casa.","type":"string","id":"c395eb79-fb0b-4d58-839c-c3be9a779d31"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1240],"id":"9148fee2-1714-4a05-8b7c-fd742e54015a","name":"CTA - Jardim"},{"parameters":{"assignments":{"assignments":[{"name":"CTA","value":"Descubra os segredos das plantas medicinais que foram usados por gerações! 🌿 Nosso e-book \"O Poder Curativo das Plantas\" reúne conhecimentos ancestrais e pesquisas científicas modernas para trazer soluções naturais para seu dia a dia. Já ajudamos mais de 10.000 pessoas a transformar sua saúde com remédios naturais. Baixe agora e comece sua jornada rumo ao bem-estar natural!","type":"string","id":"f5fc1bca-c54a-4ba9-97ab-26957b082551"},{"name":"CTA_URL","value":"https://amzn.to/4jNxKxp","type":"string","id":"0afb105a-a02c-42c1-83a7-81a47fb95eec"},{"name":"Company_offering","value":"A Planta e Cia tem como missão resgatar o conhecimento ancestral sobre o poder curativo das plantas. Combinamos tradição e ciência para oferecer soluções naturais que realmente funcionam. Com mais de 500 espécies catalogadas e seus benefícios comprovados, nosso conhecimento pode transformar sua relação com a saúde e bem-estar.","type":"string","id":"3da8eb61-6823-476d-aea4-0393d21034fd"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1440],"id":"f512c9db-63ba-48a2-9dec-d8e91abea34a","name":"CTA - Plantas Medicinais"},{"parameters":{"assignments":{"assignments":[{"name":"CTA","value":"Descubra o segredo das plantas que transformam ambientes e vidas! 🌿 Nosso guia completo \"Vida Verde\" reúne as melhores dicas para cuidar de suas plantas e criar um ambiente mais saudável em sua casa. Junte-se a milhares de pessoas que já descobriram como as plantas podem melhorar a qualidade do ar, reduzir o estresse e embelezar qualquer espaço. Baixe agora e transforme seu lar com o poder da natureza!","type":"string","id":"a3139615-2a2a-4dbb-b014-e241c6923e98"},{"name":"CTA_URL","value":"https://amzn.to/4k87opw","type":"string","id":"9091a5a6-73dc-4597-a7b8-9b96ac1003bf"},{"name":"Company_offering","value":"Na Planta e Cia, nossa missão é aproximar as pessoas da natureza. Compartilhamos conhecimentos sobre cultivo, cuidados e benefícios das plantas para criar ambientes mais saudáveis e harmoniosos. Acreditamos que cada planta tem um propósito e pode transformar não apenas espaços, mas também vidas.","type":"string","id":"bd0cbb36-627f-4309-a750-a0d2b1da2120"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1640],"id":"eda971f4-6511-4681-8151-f2ebe0de3392","name":"CTA - Padrão"},{"parameters":{"promptType":"define","text":"=## Instruções\nBaseado no título \"{{ $('Planilha com os dados2').item.json['Titulo referencia'] }}\", você deve criar um planejamento de conteúdo com SEO otimizado para o blog plantaecia.com.br sobre plantas medicinais, saúde natural, jardins, tratamentos naturais com plantas.\n\nAnalise o título e gere APENAS os seguintes campos:\n\n1. Extraia 01 (uma) palavra-chave e 01 (uma) frase-chave foco do título (Seed_keyword) otimizada para SEO separada do por vírgula (,).\n2. Defina o público-alvo específico (Target_audience) para este conteúdo baseado no título: {{ $('Planilha com os dados2').item.json['Titulo referencia'] }}\n3. Recomende contagem de palavras mínima (Word_Count) e máxima (Word_Count_Max) para o artigo completo\n4. Sugira o número exato de capítulos necessários (Chapters) para aprofundar e abranger esse conteudo [entre 2 e 3]\n5. Defina comprimento mínimo (Introduction_length) e máximo (Introduction_length_max) para a introdução [entre 100 à 300 palavras]\n6. Defina comprimento mínimo (conclusion_length) e máximo (conclusion_length_max) para a conclusão\n7. Recomende um estilo de escrita (Style) apropriado para o tema.\n8. Identifique a categorias que tem como único objetivo identificar uma das categorias abaixo e retornar o output em JSON.\n\nCategorias:\nSaúde Natural - ID: 30\nPlantas Medicinais - ID: 46\nJardinagem - ID: 230\nBem-Estar - ID: 11\nAlimentação Saudável - ID: 29\n\nForneça sua resposta APENAS no formato JSON abaixo:\n\n---\n\n### Output Format: JSON\n\n```\n{\n  \"Website\": \"plantaecia.com.br\",\n  \"Seed_keyword\": \"string\",\n  \"Target_audience\": \"string\",\n  \"Word_Count\": \"string\",\n  \"Word_Count_Max\": \"string\",\n  \"Chapters\": \"string\",\n  \"Introduction_length\": \"string\",\n  \"Introduction_length_max\": \"string\",\n  \"conclusion_length\": \"string\",\n  \"conclusion_length_max\": \"string\",\n  \"Style\": \"string\",\n  \"Categoria\": \"string\",\n  \"Categoria_ID\": \"string\",\n  \"CTA\": \"{{ $json.data[0].CTA }}\",\n  \"CTA_URL\": \"{{ $json.data[0].CTA_URL }}\",\n  \"Company_offering\": \"{{ $json.data[0].Company_offering }}\"\n}\n\n```","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[80,1620],"id":"e2ccc629-aab4-4653-be7a-765b86c9468c","name":"Planejar post1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output.categoria }}","value2":"saude"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[-380,1140],"id":"a0cc660b-46a7-4b8d-8d4c-ddcd8d57af38","name":"É Saúde?1"},{"parameters":{"assignments":{"assignments":[{"name":"CTA","value":"E se eu te dizer que \"Você não precisa revolucionar seu estilo de vida para conquistar o corpo desejado?\" Acredita nisso? Bem, milhares de mulheres já acreditam!💪💡 E agora estão desfrutando do corpo dos sonhos sem precisar fazer grandes alterações na sua rotina. Tudo o que fizeram foi adotar este método simples e fácil, integrando a flexibilidade para impulsionar a TRANSFORMAÇÃO!👇 Faça este simples teste agora para descobrir como a dieta flexível do método secando em casa pode ser a chave para a mudança que você procura!","type":"string","id":"8794960e-5c67-4389-8902-632774e9cc05"},{"name":"CTA_URL","value":"https://amzn.to/3ZajSor","type":"string","id":"67b1b52c-7419-48b1-895d-96228a5ca7fc"},{"name":"Company_offering","value":"=Na Planta e Cia compartilhamos dicas práticas de saúde, técnicas inovadoras, Junte-se a nós nessa missão de conectar natureza e bem-estar, e deixe seu jardim florescer como nunca antes! Você está prestes a desvendar o segredo que transformou a vida de centenas de pessoas. Não se trata apenas de perder peso, é sobre conquistar uma versão mais vibrante e confiante de si mesma.💪✨","type":"string","id":"11b1bf21-c550-482a-9528-f4cb8cf1a05e"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1040],"id":"befd532b-032f-496c-a48b-c2f2c13f42ea","name":"CTA - Saúde1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-980,1340],"id":"bfc31d36-184a-4104-97d4-f18843cf5708","name":"Caso não, fluxo para1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,1120],"id":"ffc2f627-a532-44cf-995c-35b374065851","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"deb6621e-982a-4e20-a1c1-1140be02cad3","name":"Website","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Website\"] }}","type":"string"},{"id":"fdd24a9b-649b-4088-b085-da0be99f3d86","name":"Palavra Chave","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Seed_keyword\"] }}","type":"string"},{"id":"2b0b01e1-8a4b-4cf4-8327-bc6e0ca30ef8","name":"Publico - Alvo","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Target_audience\"] }}","type":"string"},{"id":"0dafb0ac-5735-4243-84cc-85e787697892","name":"Min palvaras","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Word_Count\"] }}","type":"number"},{"id":"8d0e50d2-8862-433e-a055-f9e566650a33","name":"Max Palavras","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Word_Count_Max\"] }}","type":"number"},{"id":"3bab3dcd-e18d-4b22-9c86-a8e9b60ea5c3","name":"Numero de Capitulos","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Chapters\"] }}","type":"number"},{"id":"191105bb-4f7e-4b4f-bab7-95fa1f858c43","name":"Min Introdução palavras","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Introduction_length\"] }}","type":"number"},{"id":"20cf76cf-70da-46a1-944d-21cfb1565dd7","name":"Max Introdução palavras","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Introduction_length_max\"] }}","type":"number"},{"id":"d1368f97-9249-4bb6-9c5c-f3185b7ef9eb","name":"Min Conclusão palavras","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"conclusion_length\"] }}","type":"number"},{"id":"6d6bf6bf-e35a-4739-b753-5c1cdef8c83c","name":"Max Conclusão palavras","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"conclusion_length_max\"] }}","type":"number"},{"id":"9579a7f2-1a4e-45b7-8cd7-ef249073798d","name":"Estilo","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Style\"] }}","type":"string"},{"id":"ae45f0c3-1ed6-4901-bf50-359ea3da33a9","name":"CTA","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"CTA\"] }}","type":"string"},{"id":"c71d3ccd-369d-4c50-8f57-1cb693af14be","name":"CTA URL","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"CTA_URL\"] }}","type":"string"},{"id":"f6e4ce2b-6d29-4ca8-9b91-6236701d71b5","name":"Sobre","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Company_offering\"] }}","type":"string"},{"id":"d16bc0bc-21ff-4664-9f6c-fe2660bc6674","name":"Categoria ID","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Categoria_ID\"] }}","type":"string"},{"id":"770f7c4a-89a6-42a0-bdba-05ab01e07e4b","name":"=Categoria","value":"={{ $item(\"0\").$node[\"Planejar post1\"].json[\"output\"][\"Categoria\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,1920],"id":"34d5fb3c-6caa-4062-b04c-78c0dfc7a0d1","name":"Settings"},{"parameters":{"assignments":{"assignments":[{"id":"178011dc-bb76-420d-a01e-5a5d9797957e","name":"response","value":"=Uma nova postagem sobre: {{ $item(\"0\").$node[\"Settings\"].json[\"Palavra Chave\"] }} está sendo preparada pra Publicação em {{ $item(\"0\").$node[\"Settings\"].json[\"Website\"] }}.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,1920],"id":"fcdade40-544c-452a-9c02-7894a126b6cd","name":"Mensagem de preparação"},{"parameters":{"documentId":{"__rl":true,"value":"1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI","mode":"list","cachedResultName":"Automate_n8n_Blog_Automation_Pro_v2__SEO_topic_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pendente"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1220,1240],"id":"847f6e3b-1a59-4548-bf56-225efe5dbd16","name":"Planilha com os dados2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-1","leftValue":"={{ $json.Website }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"condition-2","leftValue":"={{ $json['Titulo referencia'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"condition-3","leftValue":"={{ $json.Status }}","rightValue":"Pendente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-980,1040],"id":"1e1991d2-1579-4a33-bc24-80dcdee47ef7","name":"Confere as condições para planejar2","disabled":true},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-280,2160],"id":"ddf9e4fd-e3e6-4676-9fb2-98ed78fdf83a","name":"Aguarda 5 segundos1","webhookId":"5372dbf4-3bbb-465b-9db1-53e61b26321b"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"Website\": \"plantaecia.com.br\",\n  \"Seed_keyword\": \"string\",\n  \"Target_audience\": \"string\",\n  \"Word_Count\": \"string\",\n  \"Word_Count_Max\": \"string\",\n  \"Chapters\": \"string\",\n  \"Introduction_length\": \"string\",\n  \"Introduction_length_max\": \"string\",\n  \"conclusion_length\": \"string\",\n  \"conclusion_length_max\": \"string\",\n  \"Style\": \"string\",\n  \"Categoria\": \"string\",\n  \"Categoria_ID\": \"string\",\n  \"CTA\": \"string\",\n  \"CTA_URL\": \"string\",\n  \"Company_offering\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[260,1400],"id":"8ae237bf-9068-48da-9e58-5905b14dceb8","name":"Structured Output Parser1"},{"parameters":{"options":{"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[100,1400],"id":"91bd5c03-7fda-4810-8f82-65bc8ba87e44","name":"OpenRouter Chat Model2"},{"parameters":{"content":"## Classificar categoria para link afiliado\n\nClassificamos o tipo de categoria para agregar \no link afiliado correto do nicho escolhido","height":900,"width":740,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-720,900],"typeVersion":1,"id":"394eefa8-b035-47fb-adbc-eba254d3d98d","name":"Sticky Note"},{"parameters":{"content":"## Recebe a solicitação em forma de título\n\nVerifica se ja existe o post na planilha e encaminha pra criação","height":900,"width":900,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1640,900],"typeVersion":1,"id":"f253f629-e8b8-4f02-9821-82d0222fba53","name":"Sticky Note22"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI","mode":"list","cachedResultName":"Automate_n8n_Blog_Automation_Pro_v2__SEO_topic_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Website":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Website\"] }}","Target_audience":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Publico - Alvo\"] }}","Word_Count":"={{ $item(\"0\").$node[\"Wait6\"].json[\"Min palvaras\"] }}","Word_Count_Max":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Max Palavras\"] }}","Chapters":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Numero de Capitulos\"] }}","Introduction_length":"={{ $('Settings').item.json[\"Min Introdução palavras\"] }}","Introduction_length_max":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Max Introdução palavras\"] }}","conclusion_length":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Min Conclusão palavras\"] }}","conclusion_length_max":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Max Conclusão palavras\"] }}","Style":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Estilo\"] }}","CTA":"={{ $item(\"0\").$node[\"Merge8\"].json[\"CTA\"] }}","CTA_URL":"={{ $item(\"0\").$node[\"Merge8\"].json[\"CTA URL\"] }}","Company_offering":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Sobre\"] }}","Seed_keyword":"={{ $item(\"0\").$node[\"Merge8\"].json[\"Palavra Chave\"] }}","Titulo referencia":"={{ $('Planilha com os dados2').item.json['Titulo referencia'] }}","Category_ID":"={{ $item(\"0\").$node[\"Wait6\"].json[\"Categoria ID\"] }}","Status":"Aguardando","Categoria":"={{ $item(\"0\").$node[\"Wait6\"].json[\"Categoria\"] }}"},"matchingColumns":["Titulo referencia"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo referencia","displayName":"Titulo referencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sugestão Google","displayName":"Sugestão Google","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seed_keyword","displayName":"Seed_keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target_audience","displayName":"Target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Word_Count","displayName":"Word_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Word_Count_Max","displayName":"Word_Count_Max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chapters","displayName":"Chapters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Introduction_length","displayName":"Introduction_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Introduction_length_max","displayName":"Introduction_length_max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conclusion_length","displayName":"conclusion_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conclusion_length_max","displayName":"conclusion_length_max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Style","displayName":"Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category_ID","displayName":"Category_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CTA","displayName":"CTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CTA_URL","displayName":"CTA_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company_offering","displayName":"Company_offering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-40,1920],"id":"8bfd6df8-6bf4-4743-853d-56001c5305bf","name":"Atualizar Planilha1","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-260,1920],"id":"a99cf06e-8e7a-45e6-9ee6-e7344564c7bc","name":"Wait6","webhookId":"99a1a169-7288-4640-a0ed-13a8d4defa8e"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"31e04f28-b65e-4847-9716-0d6fbd9ab6d5","typeVersion":1.1,"name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","position":[-1420,1240]},{"parameters":{"content":"## Planejamento\n \n**Planeja o post** to preenchendo a planilha completamente","height":900,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[40,900],"typeVersion":1,"id":"d0b6dda7-1dc6-4c1e-a8ca-7547bd33dd6f","name":"Sticky Note24"},{"parameters":{"content":"## Preenche e envia para publicação\n","height":560,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-360,1820],"typeVersion":1,"id":"74d68b20-c971-4622-969f-a74bcfe3a6d1","name":"Sticky Note26"},{"parameters":{"content":"# Guia do Fluxo de Automação de Geração de Artigos \n\n## Visão Geral\nEste fluxo automatiza completamente a criação de artigos para blog usando inteligência artificial. O processo começa com um título/tópico e termina com um artigo completo publicado no WordPress, incluindo imagens, formatação e otimização para SEO.\n\n## Fluxo Principal\n\n### 1. Gatilhos de Inicialização\nO fluxo pode ser iniciado de três maneiras:\n- **Programação automática** (Schedule Trigger) - executa a cada 2 horas\n- **Gatilho manual** (Teste)\n- **Webhook** - permite iniciar o fluxo via mensagem de WhatsApp\n\n### 2. Configuração e Planejamento\n\n#### Classificação do Conteúdo\n- O sistema analisa o título/tópico fornecido e o classifica em uma das categorias:\n  - Saúde\n  - Jardim\n  - Plantas Medicinais\n  - Outros\n\n#### Planejamento do Artigo\nBaseado na classificação, o sistema:\n- Define a palavra-chave principal\n- Identifica o público-alvo \n- Determina o comprimento ideal (mínimo e máximo de palavras)\n- Estabelece o número de capítulos (entre 2-3)\n- Seleciona a CTA (chamada para ação) apropriada\n- Configura o ID da categoria correta no WordPress\n\n#### Enriquecimento com Palavras-chave\n- Consulta a API do Google para obter sugestões de pesquisa relacionadas\n- Agrega essas sugestões como palavras-chave secundárias\n\n### 3. Geração de Estrutura\n- Cria um título otimizado para SEO\n- Gera um subtítulo conciso\n- Desenvolve uma introdução impactante\n- Cria um slug amigável para URLs\n- Define palavras-chave principais\n- Gera descrições meta para o Google\n- Estrutura os capítulos com seus respectivos prompts\n- Cria uma conclusão\n- Define detalhes para geração de imagem destacada\n\n### 4. Geração de Pasta e Preparação\n- Cria uma pasta no Google Drive para armazenar o artigo\n- Processa a estrutura de saída para o próximo passo\n\n### 5. Loop e Geração de Capítulos\n- Para cada capítulo definido:\n  1. Processa o título e prompt do capítulo\n  2. Gera o conteúdo detalhado usando IA\n  3. Verifica a coerência com capítulos anteriores/seguintes\n  4. Incorpora links internos quando relevante\n\n### 6. Geração de Imagens\n- **Imagem Destacada**: Cria uma imagem principal para o artigo baseada em prompt específico\n- **Imagens dos Capítulos**: Gera imagens personalizadas para cada capítulo do artigo\n\n### 7. Combinação e Formatação\n- Une todos os capítulos e seus conteúdos\n- Formata o artigo em Markdown\n- Converte o Markdown para HTML\n- Adiciona elementos CTAs ao final do artigo\n\n### 8. Salvamento e Publicação\n- Salva uma cópia do artigo no Google Docs\n- Publica o artigo no WordPress\n- Define a imagem destacada no post\n- Configura metadados SEO das imagens\n- Define a categoria correta e trecho descritivo\n\n### 9. Finalização\n- Atualiza o status na planilha de controle\n- Envia notificação via WhatsApp de conclusão\n- Registra os detalhes da publicação\n\n\n## Melhorias Futuras\n- Deep research","height":2180,"width":660,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3420,0],"typeVersion":1,"id":"b6ec07c5-eb29-4b83-9258-8838dab1bb8f","name":"Sticky Note27"},{"parameters":{"numberInputs":4},"id":"71180f27-a318-4219-9bd9-2b13ca00fe60","name":"Merge RSS","type":"n8n-nodes-base.merge","position":[-640,80],"typeVersion":3},{"parameters":{"url":"https://blog.plantei.com.br/feed/","options":{}},"id":"1fd2dba4-6030-4e1a-a7b6-0f2d2d2fd369","name":"RSS Plantei","type":"n8n-nodes-base.rssFeedRead","position":[-900,80],"typeVersion":1.1},{"parameters":{"url":"https://blogjardimsecreto.com.br/feed/","options":{}},"id":"4b6ded19-7d47-40c6-9a08-f2bde43eea64","name":"RSS Jardim","type":"n8n-nodes-base.rssFeedRead","position":[-900,220],"typeVersion":1.1},{"parameters":{"url":"https://plantaseplantas.com.br/feed/","options":{"ignoreSSL":true}},"id":"8dea85fa-65e3-4e28-b782-f87720dde11a","name":"RSS Plantas","type":"n8n-nodes-base.rssFeedRead","position":[-900,360],"typeVersion":1.1},{"parameters":{"url":"https://tuasaude.com/feed/","options":{"ignoreSSL":true}},"id":"1e392569-83c5-4f97-b7a4-afcd593bff6d","name":"RSS Saude","type":"n8n-nodes-base.rssFeedRead","position":[-900,500],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"titulo-clean","name":"titulo_limpo","value":"={{ $json.title.trim().toLowerCase() }}","type":"string"},{"id":"titulo-original","name":"titulo_original","value":"={{ $json.title }}","type":"string"},{"id":"status","name":"status","value":"Pendente","type":"string"},{"id":"fonte","name":"fonte","value":"={{ $json.link.match(/https?:\\/\\/([^/]+)/)[1] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,80],"id":"3e9d1705-ec2d-426b-ad4a-1961c64e7ea9","name":"Prepare RSS Data"},{"parameters":{"documentId":{"__rl":true,"value":"1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI","mode":"list","cachedResultName":"Automate_n8n_Blog_Automation_Pro_v2__SEO_topic_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-900,660],"id":"279a071b-936e-42e0-be86-7dcb8e6896af","name":"Read Existing Data"},{"parameters":{"assignments":{"assignments":[{"id":"titulo-planilha-clean","name":"titulo_limpo","value":"={{ ($json['Titulo Inicial (Referencia)'] || '').trim().toLowerCase() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,360],"id":"87da072d-21be-4394-b481-d9c9a6e2a2df","name":"Prepare Sheets Data"},{"parameters":{"mergeByFields":{"values":[{"field1":"titulo_limpo","field2":"titulo_limpo"}]},"options":{"multipleMatches":"first"}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[-460,320],"id":"fbea3ca2-5cd5-4022-982c-0271df5e814a","name":"Compare Titles"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI","mode":"list","cachedResultName":"Automate_n8n_Blog_Automation_Pro_v2__SEO_topic_template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ge_pooSkJ-pHFRGkDRg7N3tK_3Zr5HgTizQhJzhHWJI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ $json.status }}","Website":"=","Titulo referencia":"={{ $json.titulo_original }}"},"matchingColumns":["Titulo referencia"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Titulo referencia","displayName":"Titulo referencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sugestão Google","displayName":"Sugestão Google","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Seed_keyword","displayName":"Seed_keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Target_audience","displayName":"Target_audience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Word_Count","displayName":"Word_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Word_Count_Max","displayName":"Word_Count_Max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Chapters","displayName":"Chapters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Introduction_length","displayName":"Introduction_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Introduction_length_max","displayName":"Introduction_length_max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conclusion_length","displayName":"conclusion_length","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conclusion_length_max","displayName":"conclusion_length_max","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Style","displayName":"Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category_ID","displayName":"Category_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CTA","displayName":"CTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CTA_URL","displayName":"CTA_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company_offering","displayName":"Company_offering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-260,80],"id":"ccc36e56-df52-4ad3-aed1-7f39eec835b1","name":"Save New Articles"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-460,640],"id":"67c6f8d1-48c2-46c6-9457-72ea49da5a39","name":"Artigo já existe"},{"parameters":{"content":"# 📝 Workflow RSS vs Planilha\n\n## 🎯 **O que faz**\nCria Titulos para referência de criação de conteúdo \ne compara títulos de 4 feeds RSS com a planilha \nGoogle Sheets para evitar duplicatas.\n\n## ⚡ **Fluxo rápido**\n1. **Coleta:** 4 RSS + lê planilha (paralelo)\n2. **Prepara:** Limpa títulos para comparação\n3. **Compara:** Títulos novos vs existentes  \n4. **Decide:** Grava novos | Ignora existentes\n\n## 🔄 **Compare Datasets - Outputs**\n- **Output 0:** Artigos NOVOS → **GRAVA** ✅\n- **Output 3:** Artigos EXISTENTES → **ENCERRA** ❌\n\n## ⏰ **Quando**\nTodo dia às 7h da manhã\n\n## 💾 **Resultado**\n- Novos artigos salvos com status \"Pendente\"\n- Duplicatas evitadas automaticamente","height":840,"width":1580,"color":7},"id":"da683cd8-fe93-4965-9071-2c8f52705dfd","name":"Sticky Note28","type":"n8n-nodes-base.stickyNote","position":[-1640,20],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"77fd7aec-a5e1-4f0d-82ce-624e24f9be37","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","position":[-1140,200],"typeVersion":1.2}],"connections":{"Create post title and structure":{"main":[[{"node":"Create Drive folder","type":"main","index":0}]]},"Write chapter text":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split out chapters":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Loop Over Items3","type":"main","index":0}]]},"Get post sitemap":{"main":[[{"node":"Get XML file","type":"main","index":0}]]},"Get XML file":{"main":[[{"node":"Split out links","type":"main","index":0}]]},"Split out links":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get title chapter and content":{"main":[[{"node":"Merge chapters title and text","type":"main","index":0}]]},"Merge chapters title and text":{"main":[[{"node":"Combine into article","type":"main","index":0}]]},"Markdown to HTML":{"main":[[{"node":"FInal article in HTML","type":"main","index":0}]]},"Post on Wordpress":{"main":[[{"node":"Add featured image","type":"main","index":0}]]},"Upload featured image":{"main":[[{"node":"Update featured image meta data","type":"main","index":0}]]},"Update featured image meta data":{"main":[[{"node":"Set featured image for post","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Get title chapter and content","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Set featured image for post":{"main":[[{"node":"Set (trecho) e (categoria)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Write chapter text","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Aggregate internal links","type":"main","index":0}]]},"Add featured image":{"main":[[{"node":"Upload featured image","type":"main","index":0}]]},"Create Doc":{"main":[[{"node":"Save texts to Doc","type":"main","index":0}]]},"Save texts to Doc":{"main":[[{"node":"Post on Wordpress","type":"main","index":0}]]},"Get output":{"main":[[{"node":"Split out chapters","type":"main","index":0},{"node":"HTTP Request4","type":"main","index":0}]]},"Create Drive folder":{"main":[[{"node":"Get output","type":"main","index":0}]]},"FInal article in HTML":{"main":[[{"node":"Create Doc","type":"main","index":0}]]},"Final article in Markdown":{"main":[[{"node":"Markdown to HTML","type":"main","index":0}]]},"Combine into article":{"main":[[{"node":"Final article in Markdown","type":"main","index":0}]]},"Aggregate internal links":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Create post title and structure","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Create post title and structure","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Write chapter text","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Write chapter text","type":"ai_outputParser","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"Resize featured image2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Upload featured image to Drive2":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"HTTP Request5":{"main":[[{"node":"Resize featured image2","type":"main","index":0},{"node":"Upload featured image to Drive2","type":"main","index":0}]]},"Resize Image2":{"main":[[{"node":"Upload chapter images2","type":"main","index":0}]]},"Upload chapter images2":{"main":[[{"node":"Update image meta data2","type":"main","index":0}]]},"Update image meta data2":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Merge chapters title and text","type":"main","index":1}],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Upload chapter images to Drive2":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Merge6":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"HTTP Request7","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Add featured image","type":"main","index":1}]]},"Wait4":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Settings1":{"main":[[{"node":"Check inputs1","type":"main","index":0}]]},"Check inputs1":{"main":[[{"node":"Create post title and structure","type":"main","index":0},{"node":"Get post sitemap","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Settings1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Planilha com os dados2","type":"main","index":0}]]},"Plugins de SEO":{"main":[[{"node":"Atualizar Planilha","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Resize Image2","type":"main","index":0},{"node":"Upload chapter images to Drive2","type":"main","index":0}]]},"Atualizar Planilha":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Set (trecho) e (categoria)":{"main":[[{"node":"Plugins de SEO","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Classificador Output Parser1":{"ai_outputParser":[[{"node":"Classificador de Título1","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model (Classificador)1":{"ai_languageModel":[[{"node":"Classificador de Título1","type":"ai_languageModel","index":0}]]},"Classificador de Título1":{"main":[[{"node":"É Saúde?1","type":"main","index":0}]]},"É Jardim?1":{"main":[[{"node":"CTA - Jardim","type":"main","index":0}],[{"node":"É Plantas Medicinais?1","type":"main","index":0}]]},"É Plantas Medicinais?1":{"main":[[{"node":"CTA - Plantas Medicinais","type":"main","index":0}],[{"node":"CTA - Padrão","type":"main","index":0}]]},"CTA - Jardim":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"CTA - Plantas Medicinais":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"CTA - Padrão":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Planejar post1":{"main":[[{"node":"Settings","type":"main","index":0}]]},"É Saúde?1":{"main":[[{"node":"CTA - Saúde1","type":"main","index":0}],[{"node":"É Jardim?1","type":"main","index":0}]]},"CTA - Saúde1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Planejar post1","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Mensagem de preparação":{"main":[[{"node":"Aguarda 5 segundos1","type":"main","index":0}]]},"Planilha com os dados2":{"main":[[{"node":"Confere as condições para planejar2","type":"main","index":0}]]},"Confere as condições para planejar2":{"main":[[{"node":"Classificador de Título1","type":"main","index":0}],[{"node":"Caso não, fluxo para1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Planejar post1","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Planejar post1","type":"ai_languageModel","index":0}]]},"Atualizar Planilha1":{"main":[[{"node":"Mensagem de preparação","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Atualizar Planilha1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Planilha com os dados2","type":"main","index":0}]]},"Merge RSS":{"main":[[{"node":"Prepare RSS Data","type":"main","index":0}]]},"RSS Plantei":{"main":[[{"node":"Merge RSS","type":"main","index":0}]]},"RSS Jardim":{"main":[[{"node":"Merge RSS","type":"main","index":1}]]},"RSS Plantas":{"main":[[{"node":"Merge RSS","type":"main","index":2}]]},"RSS Saude":{"main":[[{"node":"Merge RSS","type":"main","index":3}]]},"Prepare RSS Data":{"main":[[{"node":"Compare Titles","type":"main","index":0}]]},"Read Existing Data":{"main":[[{"node":"Prepare Sheets Data","type":"main","index":0}]]},"Prepare Sheets Data":{"main":[[{"node":"Compare Titles","type":"main","index":1}]]},"Compare Titles":{"main":[[{"node":"Save New Articles","type":"main","index":0}],[],[],[{"node":"Artigo já existe","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"RSS Plantei","type":"main","index":0},{"node":"RSS Jardim","type":"main","index":0},{"node":"RSS Plantas","type":"main","index":0},{"node":"RSS Saude","type":"main","index":0},{"node":"Read Existing Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"23ec3327-8338-44b3-a197-a95a436c249c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-07-10T14:07:25.466Z","createdAt":"2025-07-10T14:07:25.466Z","role":"workflow:owner","workflowId":"Vgr90VzTaVqmXk04","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[{"updatedAt":"2025-07-10T13:56:34.219Z","createdAt":"2025-07-10T13:56:34.219Z","id":"Ll5l03Zsd7rwRRHD","name":"WordPress"}]}