lembretes-rápidos-UChgQPZAbz80K2mG.json
{"updatedAt":"2025-11-16T11:23:27.364Z","createdAt":"2025-05-06T17:29:55.700Z","id":"UChgQPZAbz80K2mG","name":"Lembretes rápidos","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"7c50ed23-ade5-4597-8a7b-d171706ffa92","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,-280],"id":"4c1277c3-7556-4c8d-bd5c-e0ac1ff20eb9","name":"Webhook","webhookId":"7c50ed23-ade5-4597-8a7b-d171706ffa92"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[980,-420],"id":"86d7e16a-0769-4072-ae05-04dfcd5dd1d6","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"=data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[780,-420],"id":"a817e9c8-4bf8-4b0e-91e5-5f3bbc6ae927","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7b1a5f5b-ce5d-424e-814f-ad0d8aac65c8","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-420],"id":"de1c6503-ea35-4199-ad23-54be568d7a13","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,-420],"id":"50405ca1-542c-4127-b5b7-63d6bb79026a","name":"Se for audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,-160],"id":"ad2e7baa-eeec-4e62-8ebc-bea86e2e78d4","name":"Se for texto"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o audio para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse e qual que seria a próxima ação sugerida. O usuario pode informar a proxima ação ou não.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'conteúdo do whatsapp' após o texto), está no placeholder = {nome_da_tarefa}. O custom field próxima ação está no placeholder {valor_prox_acao} do NODE, faça o insert somente se for entendido que tem uma próxima ação. Nao coloque titulo na proxima ação, somente o conteúdo necessário.NAO DEIXE DE SEGUIR ESSE PASSO. \n\nSe houver algum executor na mensagem, insira no {executor}\n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]). Em proxima ação deve ser: \"Visualizar o link e determinar ação necessária, se houver.\"\n\n\nRetorne somente: \"Página criada em DUMP LIST✅\"","role":"system"},{"content":"=Audio: {{ $json.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,-420],"id":"7424ec3e-20c1-4bb3-b445-1755b6404407","name":"OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1580,-420],"id":"db2ab6ca-beef-4610-98bf-82589f17aadd","name":"Evolution API","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o texto ou link para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse e qual que seria a próxima ação sugerida. O usuario pode informar a proxima ação ou não.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'conteúdo do whatsapp' após o texto), está no placeholder = {nome_da_tarefa}. O custom field próxima ação está no placeholder {valor_prox_acao} do NODE, faça o insert somente se for entendido que tem uma próxima ação. Nao coloque titulo na proxima ação, somente o conteúdo necessário.\n\nNAO DEIXE DE SEGUIR ESSE PASSO. \nSempre crie a tarefa na tool #CLICKUP_NEW_TASK\n\nSe houver algum executor na mensagem, insira no {executor}\n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]). Em proxima ação deve ser: \"Visualizar o link e determinar ação necessária, se houver.\"\n\n\nRetorne somente: \"Página criada em DUMP LIST✅\"","role":"system"},{"content":"={{ $json.body.data.message.conversation }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[500,-160],"id":"6fb833cc-4437-4e3c-9770-a3654ff2e508","name":"OpenAI2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[860,-160],"id":"6e975835-05a8-459e-9861-626a60a85b82","name":"Evolution API1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901312052736/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_18956694_KLUUFV2EMXIR1Q4CRHI1BAWSC3W9QJ89"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[580,40],"id":"13c8ba9c-4f33-4691-9992-00b29d55868f","name":"CLICKUP_NEW_TASK"},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901312052736/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_18956694_KLUUFV2EMXIR1Q4CRHI1BAWSC3W9QJ89"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1300,-240],"id":"0bb2f505-e5bb-4aa7-88a2-96fecdbf9c7c","name":"CLICKUP_NEW_TASK1"}],"connections":{"Webhook":{"main":[[{"node":"Se for audio","type":"main","index":0},{"node":"Se for texto","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Se for audio":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Se for texto":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[]]},"CLICKUP_NEW_TASK":{"ai_tool":[[{"node":"OpenAI2","type":"ai_tool","index":0}]]},"CLICKUP_NEW_TASK1":{"ai_tool":[[{"node":"OpenAI1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2acfaf72-9312-48f8-ab8f-6e050def6231","activeVersionId":"2acfaf72-9312-48f8-ab8f-6e050def6231","triggerCount":1,"shared":[{"updatedAt":"2025-05-06T17:29:55.700Z","createdAt":"2025-05-06T17:29:55.700Z","role":"workflow:owner","workflowId":"UChgQPZAbz80K2mG","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"2acfaf72-9312-48f8-ab8f-6e050def6231","workflowId":"UChgQPZAbz80K2mG","nodes":[{"parameters":{"httpMethod":"POST","path":"7c50ed23-ade5-4597-8a7b-d171706ffa92","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,-280],"id":"4c1277c3-7556-4c8d-bd5c-e0ac1ff20eb9","name":"Webhook","webhookId":"7c50ed23-ade5-4597-8a7b-d171706ffa92"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[980,-420],"id":"86d7e16a-0769-4072-ae05-04dfcd5dd1d6","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"=data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[780,-420],"id":"a817e9c8-4bf8-4b0e-91e5-5f3bbc6ae927","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7b1a5f5b-ce5d-424e-814f-ad0d8aac65c8","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-420],"id":"de1c6503-ea35-4199-ad23-54be568d7a13","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,-420],"id":"50405ca1-542c-4127-b5b7-63d6bb79026a","name":"Se for audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe101971-d1f8-4a13-bd07-0434bd545396","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,-160],"id":"ad2e7baa-eeec-4e62-8ebc-bea86e2e78d4","name":"Se for texto"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o audio para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse e qual que seria a próxima ação sugerida. O usuario pode informar a proxima ação ou não.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'conteúdo do whatsapp' após o texto), está no placeholder = {nome_da_tarefa}. O custom field próxima ação está no placeholder {valor_prox_acao} do NODE, faça o insert somente se for entendido que tem uma próxima ação. Nao coloque titulo na proxima ação, somente o conteúdo necessário.NAO DEIXE DE SEGUIR ESSE PASSO. \n\nSe houver algum executor na mensagem, insira no {executor}\n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]). Em proxima ação deve ser: \"Visualizar o link e determinar ação necessária, se houver.\"\n\n\nRetorne somente: \"Página criada em DUMP LIST✅\"","role":"system"},{"content":"=Audio: {{ $json.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,-420],"id":"7424ec3e-20c1-4bb3-b445-1755b6404407","name":"OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1580,-420],"id":"db2ab6ca-beef-4610-98bf-82589f17aadd","name":"Evolution API","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Este é um sistema de agendamento de tarefas, onde o usuario envia o texto ou link para ser interpretado. O sistema deve interpretar qual que seria o assunto em si é esse e qual que seria a próxima ação sugerida. O usuario pode informar a proxima ação ou não.\n\nVocê precisa usar a tool #CLICKUP_NEW_TASK para criar a nova task na lista, vc vai preencher o titulo interpretado(coloque entre parenteses 'conteúdo do whatsapp' após o texto), está no placeholder = {nome_da_tarefa}. O custom field próxima ação está no placeholder {valor_prox_acao} do NODE, faça o insert somente se for entendido que tem uma próxima ação. Nao coloque titulo na proxima ação, somente o conteúdo necessário.\n\nNAO DEIXE DE SEGUIR ESSE PASSO. \nSempre crie a tarefa na tool #CLICKUP_NEW_TASK\n\nSe houver algum executor na mensagem, insira no {executor}\n\nCaso o usuario mande somente um link, somente coloque o link como nome_da_tarefa da tarefa depois do nome da plataforma(Instagram - [link]). Em proxima ação deve ser: \"Visualizar o link e determinar ação necessária, se houver.\"\n\n\nRetorne somente: \"Página criada em DUMP LIST✅\"","role":"system"},{"content":"={{ $json.body.data.message.conversation }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[500,-160],"id":"6fb833cc-4437-4e3c-9770-a3654ff2e508","name":"OpenAI2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[860,-160],"id":"6e975835-05a8-459e-9861-626a60a85b82","name":"Evolution API1","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901312052736/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_18956694_KLUUFV2EMXIR1Q4CRHI1BAWSC3W9QJ89"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[580,40],"id":"13c8ba9c-4f33-4691-9992-00b29d55868f","name":"CLICKUP_NEW_TASK"},{"parameters":{"toolDescription":"Criação da tarefa no clickup","method":"POST","url":"https://api.clickup.com/api/v2/list/901312052736/task","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"pk_18956694_KLUUFV2EMXIR1Q4CRHI1BAWSC3W9QJ89"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{nome_da_tarefa}\",\n  \"custom_fields\": [\n    {\n      \"id\": \"1049385c-1a97-474a-b9fc-69b1da4ecabd\",\n      \"value\": \"{valor_prox_acao}\"\n    },\n    {\n      \"id\": \"88792bb8-6ece-4ca3-bf94-4325b74f9a77\",\n      \"value\": \"{executor}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1300,-240],"id":"0bb2f505-e5bb-4aa7-88a2-96fecdbf9c7c","name":"CLICKUP_NEW_TASK1"}],"connections":{"Webhook":{"main":[[{"node":"Se for audio","type":"main","index":0},{"node":"Se for texto","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Se for audio":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Se for texto":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[]]},"CLICKUP_NEW_TASK":{"ai_tool":[[{"node":"OpenAI2","type":"ai_tool","index":0}]]},"CLICKUP_NEW_TASK1":{"ai_tool":[[{"node":"OpenAI1","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-04-30T13:25:10.553Z","createdAt":"2025-04-30T13:25:10.553Z","id":"cTQdoHAHVGCLYDYn","name":"Claudio"}]}