links_notion_mcp-8Egm5TNLPemRozAa.json
{"updatedAt":"2025-06-26T21:28:09.755Z","createdAt":"2025-06-26T21:06:36.536Z","id":"8Egm5TNLPemRozAa","name":"Links_notion_mcp","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"json_notion_links","mode":"list","cachedResultName":"json_notion_links"},"options":{"queryName":"json_notion_links"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.2,"position":[1240,-140],"id":"d07081ae-4962-46eb-8ba6-970b5c92921a","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"ZHIMmNbYxUlvBiKp","name":"teste-vector"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1300,120],"id":"226a6b47-dd0a-41fd-b1dc-0b1c2d1f46b4","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1420,120],"id":"096ea49f-c0b1-4f24-8f93-ff86ed8b36c3","name":"Default Data Loader1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1500,300],"id":"2450f782-e09f-4331-8a77-d1107bf6910b","name":"Token Splitter1"},{"parameters":{"jsCode":"// Código para converter XML para PDF preservando todas as tags\nconst items = $input.all();\nconst outputItems = [];\n\n// Função para criar PDF preservando estrutura XML completa\nfunction createPdfWithXmlStructure(xmlContent) {\n  try {\n    // Função para formatar XML mantendo todas as tags visíveis\n    const formatXmlForPdf = (xmlString) => {\n      // Limpar apenas espaços desnecessários, mantendo toda estrutura\n      let formatted = xmlString\n        .replace(/>\\s+</g, '>\\n<') // Quebra linha entre tags\n        .replace(/^\\s+|\\s+$/gm, '') // Remove espaços das bordas\n        .split('\\n')\n        .map((line, index) => {\n          // Calcular indentação baseada no nível de aninhamento\n          const openTags = (line.match(/</g) || []).length;\n          const closeTags = (line.match(/\\//g) || []).length;\n          const depth = Math.max(0, (line.match(/<(?!\\/)/g) || []).length - closeTags);\n          const indent = '  '.repeat(depth);\n          \n          return line.trim() ? `${String(index + 1).padStart(4, ' ')}: ${indent}${line.trim()}` : '';\n        })\n        .filter(line => line.trim())\n        .join('\\n');\n      \n      return formatted;\n    };\n    \n    const formattedXml = formatXmlForPdf(xmlContent);\n    const pdfBuffer = generatePdfWithXmlContent(formattedXml, xmlContent);\n    \n    return pdfBuffer;\n    \n  } catch (error) {\n    throw new Error(`Erro ao processar XML: ${error.message}`);\n  }\n}\n\n// Gerar PDF com conteúdo XML estruturado\nfunction generatePdfWithXmlContent(formattedText, originalXml) {\n  const lines = formattedText.split('\\n');\n  const maxLinesPerPage = 45; // Menos linhas para dar espaço ao cabeçalho\n  const pages = [];\n  \n  // Dividir em páginas\n  for (let i = 0; i < lines.length; i += maxLinesPerPage) {\n    pages.push(lines.slice(i, i + maxLinesPerPage));\n  }\n  \n  let pdfObjects = [];\n  let objectId = 1;\n  \n  // Objeto 1: Catálogo\n  pdfObjects.push({\n    id: objectId++,\n    content: `<< /Type /Catalog /Pages 2 0 R >>`\n  });\n  \n  // Objeto 2: Páginas pai\n  const pageRefs = pages.map((_, index) => `${3 + index * 2} 0 R`).join(' ');\n  pdfObjects.push({\n    id: objectId++,\n    content: `<< /Type /Pages /Kids [${pageRefs}] /Count ${pages.length} >>`\n  });\n  \n  // Criar páginas com conteúdo XML\n  pages.forEach((pageLines, pageIndex) => {\n    const pageId = objectId++;\n    const contentId = objectId++;\n    \n    // Objeto da página\n    pdfObjects.push({\n      id: pageId,\n      content: `<< /Type /Page /Parent 2 0 R /MediaBox [0 0 612 792] /Contents ${contentId} 0 R /Resources << /Font << /F1 << /Type /Font /Subtype /Type1 /BaseFont /Courier >> /F2 << /Type /Font /Subtype /Type1 /BaseFont /Helvetica-Bold >> >> >> >>`\n    });\n    \n    // Preparar conteúdo da página com cabeçalho\n    let streamContent = 'BT\\n';\n    \n    // Cabeçalho da página\n    streamContent += '/F2 12 Tf 50 750 Td\\n';\n    streamContent += `(Estrutura XML - Página ${pageIndex + 1} de ${pages.length}) Tj\\n`;\n    streamContent += '0 -20 Td\\n';\n    streamContent += '/F1 8 Tf\\n';\n    streamContent += `(Preservando todas as tags XML para indexação RAG) Tj\\n`;\n    streamContent += '0 -15 Td\\n';\n    streamContent += '(____________________________________________________________) Tj\\n';\n    streamContent += '0 -20 Td\\n';\n    \n    // Conteúdo XML\n    streamContent += '/F1 9 Tf\\n';\n    streamContent += '10 TL\\n'; // Line leading\n    \n    pageLines.forEach(line => {\n      // Escapar caracteres especiais do PDF\n      const escapedLine = line\n        .replace(/\\\\/g, '\\\\\\\\')\n        .replace(/\\(/g, '\\\\(')\n        .replace(/\\)/g, '\\\\)')\n        .replace(/\\r/g, '')\n        .substring(0, 85); // Limitar tamanho da linha\n      \n      streamContent += `(${escapedLine}) Tj T*\\n`;\n    });\n    \n    streamContent += 'ET';\n    \n    // Objeto de conteúdo\n    pdfObjects.push({\n      id: contentId,\n      content: `<< /Length ${streamContent.length} >>\\nstream\\n${streamContent}\\nendstream`\n    });\n  });\n  \n  // Montar PDF final\n  let pdf = '%PDF-1.4\\n';\n  let xrefTable = [];\n  \n  // Adicionar objetos\n  pdfObjects.forEach(obj => {\n    xrefTable.push(pdf.length);\n    pdf += `${obj.id} 0 obj\\n${obj.content}\\nendobj\\n`;\n  });\n  \n  // Tabela xref\n  const xrefPos = pdf.length;\n  pdf += 'xref\\n';\n  pdf += `0 ${pdfObjects.length + 1}\\n`;\n  pdf += '0000000000 65535 f \\n';\n  \n  xrefTable.forEach(pos => {\n    pdf += pos.toString().padStart(10, '0') + ' 00000 n \\n';\n  });\n  \n  // Trailer\n  pdf += 'trailer\\n';\n  pdf += `<< /Size ${pdfObjects.length + 1} /Root 1 0 R >>\\n`;\n  pdf += 'startxref\\n';\n  pdf += xrefPos + '\\n';\n  pdf += '%%EOF\\n';\n  \n  return Buffer.from(pdf, 'utf8');\n}\n\n// Processar todos os items\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  try {\n    // Extrair conteúdo XML\n    let xmlContent = '';\n    \n    if (item.json && item.json.data) {\n      xmlContent = item.json.data;\n    } else if (item.binary && item.binary.data && item.binary.data.data) {\n      xmlContent = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n    }\n    \n    if (!xmlContent || xmlContent.trim() === '') {\n      throw new Error('Conteúdo XML não encontrado ou vazio');\n    }\n    \n    console.log(`Processando XML com ${xmlContent.length} caracteres`);\n    \n    // Converter para PDF preservando estrutura\n    const pdfBuffer = createPdfWithXmlStructure(xmlContent);\n    \n    // Preparar dados para RAG (manter XML original + PDF)\n    const outputItem = {\n      json: {\n        // Dados para o RAG\n        originalXml: xmlContent, // XML original completo para indexação\n        fileName: `xml_structured_${Date.now()}.pdf`,\n        mimeType: 'application/pdf',\n        fileSize: pdfBuffer.length,\n        xmlSize: xmlContent.length,\n        processingDate: new Date().toISOString(),\n        tags: extractXmlTags(xmlContent), // Extrair tags para facilitar busca\n        success: true\n      },\n      binary: {\n        data: {\n          data: pdfBuffer.toString('base64'),\n          mimeType: 'application/pdf',\n          fileName: `xml_structured_${Date.now()}.pdf`,\n          fileExtension: 'pdf'\n        }\n      }\n    };\n    \n    outputItems.push(outputItem);\n    \n  } catch (error) {\n    console.error(`Erro no item ${i}:`, error);\n    \n    outputItems.push({\n      json: {\n        error: error.message,\n        itemIndex: i,\n        success: false,\n        processingDate: new Date().toISOString()\n      }\n    });\n  }\n}\n\n// Função auxiliar para extrair tags XML para indexação\nfunction extractXmlTags(xmlContent) {\n  try {\n    const tagMatches = xmlContent.match(/<[^>]+>/g) || [];\n    const uniqueTags = [...new Set(tagMatches.map(tag => {\n      return tag.replace(/[<>\\/]/g, '').split(' ')[0];\n    }))];\n    return uniqueTags.filter(tag => tag.length > 0);\n  } catch (error) {\n    return [];\n  }\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"id":"ce4bd723-77d5-4615-b63a-6403d8dbed11","name":"Code1"},{"parameters":{"resource":"fileFolder","limit":1,"filter":{"folderId":{"__rl":true,"value":"1En9QusydG4QoHt5EMV8NaO3_MLgsRR1e","mode":"list","cachedResultName":"notion_itens","cachedResultUrl":"https://drive.google.com/drive/folders/1En9QusydG4QoHt5EMV8NaO3_MLgsRR1e"}},"options":{"fields":["id"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,60],"id":"af7e0ea0-6cbc-491c-8f80-6d54ce75528b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,60],"id":"10ef59ae-25b6-4d6c-8bd8-ca5f613389ba","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[460,0],"id":"1cc91fb6-0328-43be-812a-0c321f341b18","name":"Loop Over Items"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,0],"id":"e776d6b1-e838-4fb7-9599-9c6d3c729730","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1L5LA8fk_-7Epcf5B70GSzWq6eHWv6I_p","mode":"list","cachedResultName":"PROCESSADOS","cachedResultUrl":"https://drive.google.com/drive/folders/1L5LA8fk_-7Epcf5B70GSzWq6eHWv6I_p"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1940,260],"id":"f2d760f5-ad63-40c5-98ba-25c0aeda56cb","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"BUSQUE ESSA BASE DE DADOS PARA PROCESSAR AS PERGUNTAS DO USUARIO","tableName":{"__rl":true,"value":"json_notion_links","mode":"list","cachedResultName":"json_notion_links"},"options":{"queryName":"json_notion_links"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[740,1140],"id":"3140f7fc-b8b9-4f28-96f7-47248429e58f","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"ZHIMmNbYxUlvBiKp","name":"teste-vector"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1200,1300],"id":"567c9414-969c-41ec-8703-281aae4ea83e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"path":"b25b9814-8090-4127-818e-632581ad078966546"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1.1,"position":[360,920],"id":"d539c758-26c6-42ee-9734-7520c93acc22","name":"MCP Server Trigger","webhookId":"b25b9814-8090-4127-818e-632581ad0463"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n   <meta charset=\"UTF-8\">\n   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   <title>Document Upload</title>\n   <script src=\"https://cdn.tailwindcss.com\"></script>\n</head>\n<body>\n   <div class=\"min-h-screen bg-gray-50 flex items-center justify-center\">\n       <div class=\"bg-white rounded-lg shadow-lg border border-gray-200 p-8 w-full max-w-md\">\n           <div class=\"text-center mb-6\">\n               <div class=\"w-12 h-12 bg-green-500 rounded-md flex items-center justify-center mx-auto mb-4\">\n                   <svg class=\"w-6 h-6 text-white\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n                       <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z\" />\n                   </svg>\n               </div>\n               <h1 class=\"text-xl font-semibold text-gray-900\">Upload Document AGENT CREATOR CONTENT</h1>\n               <p class=\"text-sm text-gray-500\">PDF, DOC, DOCX, TXT, MD, XML</p>\n           </div>\n\n           <form id=\"uploadForm\" class=\"space-y-4\">\n               <div>\n                   <input \n                       type=\"file\" \n                       id=\"fileInput\" \n                       accept=\".pdf,.doc,.docx,.txt,.md, .xml, .json\"\n                       class=\"block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-700 hover:file:bg-green-100\"\n                       required\n                   />\n               </div>\n               \n               <button \n                   type=\"submit\" \n                   id=\"uploadBtn\"\n                   class=\"w-full bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded-md transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed\"\n               >\n                   Upload Document\n               </button>\n           </form>\n\n           <!-- Status message -->\n           <div id=\"statusMessage\" class=\"mt-4 hidden\"></div>\n       </div>\n   </div>\n\n   <script>\n       const form = document.getElementById('uploadForm');\n       const fileInput = document.getElementById('fileInput');\n       const uploadBtn = document.getElementById('uploadBtn');\n       const statusMessage = document.getElementById('statusMessage');\n       const webhookUrl = 'https://primary-production-70c40.up.railway.app/webhook/7bcfb3a8-c514-42bd-9f80-cb1ede1a3asdsad';\n\n       form.addEventListener('submit', async (e) => {\n           e.preventDefault();\n           \n           const file = fileInput.files[0];\n           if (!file) {\n               showMessage('Please select a file', 'error');\n               return;\n           }\n\n           // Validate file\n           if (!validateFile(file)) {\n               return;\n           }\n\n           // Disable button and show loading\n           uploadBtn.disabled = true;\n           uploadBtn.textContent = 'Uploading...';\n           showMessage('Uploading document...', 'loading');\n\n           try {\n               const formData = new FormData();\n               formData.append('file', file);\n\n               const response = await fetch(webhookUrl, {\n                   method: 'POST',\n                   body: formData\n               });\n\n               if (response.ok) {\n                   showMessage('Document uploaded successfully!', 'success');\n                   form.reset();\n               } else {\n                   throw new Error(`Upload failed: ${response.status}`);\n               }\n           } catch (error) {\n               console.error('Upload error:', error);\n               showMessage('Upload failed. Please try again.', 'error');\n           } finally {\n               uploadBtn.disabled = false;\n               uploadBtn.textContent = 'Upload Document';\n           }\n       });\n\n       function validateFile(file) {\n          const allowedTypes = [\n              'application/pdf',\n              'application/msword',\n              'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n              'text/plain',\n              'text/markdown',\n              'application/xml',\n              'text/xml',\n              'application/xhtml+xml',\n              'application/json'\n          ];\n           \n           const maxSize = 50 * 1024 * 1024; // 10MB\n\n           if (!allowedTypes.includes(file.type)) {\n               showMessage('File type not supported: ' + file.name, 'error');\n               return false;\n           }\n\n           if (file.size > maxSize) {\n               showMessage('File too large: ' + file.name + '. Maximum 10MB.', 'error');\n               return false;\n           }\n\n           return true;\n       }\n\n       function showMessage(message, type) {\n           statusMessage.className = 'mt-4 p-3 rounded-md text-sm';\n           statusMessage.classList.remove('hidden');\n           \n           switch (type) {\n               case 'success':\n                   statusMessage.className += ' bg-green-100 text-green-800 border border-green-200';\n                   break;\n               case 'error':\n                   statusMessage.className += ' bg-red-100 text-red-800 border border-red-200';\n                   break;\n               case 'loading':\n                   statusMessage.className += ' bg-blue-100 text-blue-800 border border-blue-200';\n                   break;\n           }\n           \n           statusMessage.textContent = message;\n       }\n   </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[180,-1100],"id":"6decebcd-9a3a-4a55-9588-058dbf15930b","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[400,-1100],"id":"0038d271-1066-4e63-902a-9a7230da79d4","name":"Respond to Webhook"},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1020,-680],"id":"e36a578a-7381-411c-b604-772dd8326e76","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1100,-500],"id":"38b26045-335c-4d55-8b6b-dd99aba1e54a","name":"Token Splitter"},{"parameters":{"httpMethod":"POST","path":"7bcfb3a8-c514-42bd-9f80-cb1ede1a3asdsad","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,-900],"id":"05761077-5263-452a-b120-2c55ebe2b2f5","name":"Webhook1","webhookId":"7bcfb3a8-c514-42bd-9f80-cb1ede1a3d64"},{"parameters":{"path":"c35cc5ef-5a69-4c44-a0b4-4c19473a5c7adas","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,-1100],"id":"1408ef99-9c2b-4c6a-af62-2cbefb072f71","name":"Webhook","webhookId":"c35cc5ef-5a69-4c44-a0b4-4c19473a5c73"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[180,-900],"id":"6d70bc7f-dad4-43d6-81b3-7cff046fb17b","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[400,-900],"id":"76be8088-be59-4529-a757-1db76fa08b08","name":"Convert to File"},{"parameters":{"content":"# ENVIANDO DOCUMETOS VIA INTERFACE","height":900,"width":2300,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-120,-1240],"typeVersion":1,"id":"fc73eef1-07c4-452c-b052-a4cebff365cd","name":"Sticky Note"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"json_notion_links","mode":"list","cachedResultName":"json_notion_links"},"options":{"queryName":"json_notion_links"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.2,"position":[900,-900],"id":"b41d3fd4-6597-483d-82aa-a8651e45c873","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"ZHIMmNbYxUlvBiKp","name":"teste-vector"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[900,-680],"id":"f8b21a4c-efbc-40d1-8a75-ce2a15d6ddf7","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"# ENVIANDO DOCUMETOS VIA INTERFACE","height":900,"width":2300},"type":"n8n-nodes-base.stickyNote","position":[-120,-280],"typeVersion":1,"id":"55c91139-48fc-4fdb-b7d3-0c993a859084","name":"Sticky Note1"},{"parameters":{"content":"# ENVIANDO DOCUMETOS VIA INTERFACE","height":900,"width":2300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-120,680],"typeVersion":1,"id":"91885a16-0649-4c08-b896-824503406390","name":"Sticky Note2"}],"connections":{"Supabase Vector Store1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Code1":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Webhook1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"32893bf3-178e-4eb6-9d75-c74e7c7acb31","activeVersionId":"32893bf3-178e-4eb6-9d75-c74e7c7acb31","triggerCount":3,"shared":[{"updatedAt":"2025-06-26T21:06:36.536Z","createdAt":"2025-06-26T21:06:36.536Z","role":"workflow:owner","workflowId":"8Egm5TNLPemRozAa","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"32893bf3-178e-4eb6-9d75-c74e7c7acb31","workflowId":"8Egm5TNLPemRozAa","nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"json_notion_links","mode":"list","cachedResultName":"json_notion_links"},"options":{"queryName":"json_notion_links"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.2,"position":[1240,-140],"id":"d07081ae-4962-46eb-8ba6-970b5c92921a","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"ZHIMmNbYxUlvBiKp","name":"teste-vector"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1300,120],"id":"226a6b47-dd0a-41fd-b1dc-0b1c2d1f46b4","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1420,120],"id":"096ea49f-c0b1-4f24-8f93-ff86ed8b36c3","name":"Default Data Loader1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1500,300],"id":"2450f782-e09f-4331-8a77-d1107bf6910b","name":"Token Splitter1"},{"parameters":{"jsCode":"// Código para converter XML para PDF preservando todas as tags\nconst items = $input.all();\nconst outputItems = [];\n\n// Função para criar PDF preservando estrutura XML completa\nfunction createPdfWithXmlStructure(xmlContent) {\n  try {\n    // Função para formatar XML mantendo todas as tags visíveis\n    const formatXmlForPdf = (xmlString) => {\n      // Limpar apenas espaços desnecessários, mantendo toda estrutura\n      let formatted = xmlString\n        .replace(/>\\s+</g, '>\\n<') // Quebra linha entre tags\n        .replace(/^\\s+|\\s+$/gm, '') // Remove espaços das bordas\n        .split('\\n')\n        .map((line, index) => {\n          // Calcular indentação baseada no nível de aninhamento\n          const openTags = (line.match(/</g) || []).length;\n          const closeTags = (line.match(/\\//g) || []).length;\n          const depth = Math.max(0, (line.match(/<(?!\\/)/g) || []).length - closeTags);\n          const indent = '  '.repeat(depth);\n          \n          return line.trim() ? `${String(index + 1).padStart(4, ' ')}: ${indent}${line.trim()}` : '';\n        })\n        .filter(line => line.trim())\n        .join('\\n');\n      \n      return formatted;\n    };\n    \n    const formattedXml = formatXmlForPdf(xmlContent);\n    const pdfBuffer = generatePdfWithXmlContent(formattedXml, xmlContent);\n    \n    return pdfBuffer;\n    \n  } catch (error) {\n    throw new Error(`Erro ao processar XML: ${error.message}`);\n  }\n}\n\n// Gerar PDF com conteúdo XML estruturado\nfunction generatePdfWithXmlContent(formattedText, originalXml) {\n  const lines = formattedText.split('\\n');\n  const maxLinesPerPage = 45; // Menos linhas para dar espaço ao cabeçalho\n  const pages = [];\n  \n  // Dividir em páginas\n  for (let i = 0; i < lines.length; i += maxLinesPerPage) {\n    pages.push(lines.slice(i, i + maxLinesPerPage));\n  }\n  \n  let pdfObjects = [];\n  let objectId = 1;\n  \n  // Objeto 1: Catálogo\n  pdfObjects.push({\n    id: objectId++,\n    content: `<< /Type /Catalog /Pages 2 0 R >>`\n  });\n  \n  // Objeto 2: Páginas pai\n  const pageRefs = pages.map((_, index) => `${3 + index * 2} 0 R`).join(' ');\n  pdfObjects.push({\n    id: objectId++,\n    content: `<< /Type /Pages /Kids [${pageRefs}] /Count ${pages.length} >>`\n  });\n  \n  // Criar páginas com conteúdo XML\n  pages.forEach((pageLines, pageIndex) => {\n    const pageId = objectId++;\n    const contentId = objectId++;\n    \n    // Objeto da página\n    pdfObjects.push({\n      id: pageId,\n      content: `<< /Type /Page /Parent 2 0 R /MediaBox [0 0 612 792] /Contents ${contentId} 0 R /Resources << /Font << /F1 << /Type /Font /Subtype /Type1 /BaseFont /Courier >> /F2 << /Type /Font /Subtype /Type1 /BaseFont /Helvetica-Bold >> >> >> >>`\n    });\n    \n    // Preparar conteúdo da página com cabeçalho\n    let streamContent = 'BT\\n';\n    \n    // Cabeçalho da página\n    streamContent += '/F2 12 Tf 50 750 Td\\n';\n    streamContent += `(Estrutura XML - Página ${pageIndex + 1} de ${pages.length}) Tj\\n`;\n    streamContent += '0 -20 Td\\n';\n    streamContent += '/F1 8 Tf\\n';\n    streamContent += `(Preservando todas as tags XML para indexação RAG) Tj\\n`;\n    streamContent += '0 -15 Td\\n';\n    streamContent += '(____________________________________________________________) Tj\\n';\n    streamContent += '0 -20 Td\\n';\n    \n    // Conteúdo XML\n    streamContent += '/F1 9 Tf\\n';\n    streamContent += '10 TL\\n'; // Line leading\n    \n    pageLines.forEach(line => {\n      // Escapar caracteres especiais do PDF\n      const escapedLine = line\n        .replace(/\\\\/g, '\\\\\\\\')\n        .replace(/\\(/g, '\\\\(')\n        .replace(/\\)/g, '\\\\)')\n        .replace(/\\r/g, '')\n        .substring(0, 85); // Limitar tamanho da linha\n      \n      streamContent += `(${escapedLine}) Tj T*\\n`;\n    });\n    \n    streamContent += 'ET';\n    \n    // Objeto de conteúdo\n    pdfObjects.push({\n      id: contentId,\n      content: `<< /Length ${streamContent.length} >>\\nstream\\n${streamContent}\\nendstream`\n    });\n  });\n  \n  // Montar PDF final\n  let pdf = '%PDF-1.4\\n';\n  let xrefTable = [];\n  \n  // Adicionar objetos\n  pdfObjects.forEach(obj => {\n    xrefTable.push(pdf.length);\n    pdf += `${obj.id} 0 obj\\n${obj.content}\\nendobj\\n`;\n  });\n  \n  // Tabela xref\n  const xrefPos = pdf.length;\n  pdf += 'xref\\n';\n  pdf += `0 ${pdfObjects.length + 1}\\n`;\n  pdf += '0000000000 65535 f \\n';\n  \n  xrefTable.forEach(pos => {\n    pdf += pos.toString().padStart(10, '0') + ' 00000 n \\n';\n  });\n  \n  // Trailer\n  pdf += 'trailer\\n';\n  pdf += `<< /Size ${pdfObjects.length + 1} /Root 1 0 R >>\\n`;\n  pdf += 'startxref\\n';\n  pdf += xrefPos + '\\n';\n  pdf += '%%EOF\\n';\n  \n  return Buffer.from(pdf, 'utf8');\n}\n\n// Processar todos os items\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  \n  try {\n    // Extrair conteúdo XML\n    let xmlContent = '';\n    \n    if (item.json && item.json.data) {\n      xmlContent = item.json.data;\n    } else if (item.binary && item.binary.data && item.binary.data.data) {\n      xmlContent = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n    }\n    \n    if (!xmlContent || xmlContent.trim() === '') {\n      throw new Error('Conteúdo XML não encontrado ou vazio');\n    }\n    \n    console.log(`Processando XML com ${xmlContent.length} caracteres`);\n    \n    // Converter para PDF preservando estrutura\n    const pdfBuffer = createPdfWithXmlStructure(xmlContent);\n    \n    // Preparar dados para RAG (manter XML original + PDF)\n    const outputItem = {\n      json: {\n        // Dados para o RAG\n        originalXml: xmlContent, // XML original completo para indexação\n        fileName: `xml_structured_${Date.now()}.pdf`,\n        mimeType: 'application/pdf',\n        fileSize: pdfBuffer.length,\n        xmlSize: xmlContent.length,\n        processingDate: new Date().toISOString(),\n        tags: extractXmlTags(xmlContent), // Extrair tags para facilitar busca\n        success: true\n      },\n      binary: {\n        data: {\n          data: pdfBuffer.toString('base64'),\n          mimeType: 'application/pdf',\n          fileName: `xml_structured_${Date.now()}.pdf`,\n          fileExtension: 'pdf'\n        }\n      }\n    };\n    \n    outputItems.push(outputItem);\n    \n  } catch (error) {\n    console.error(`Erro no item ${i}:`, error);\n    \n    outputItems.push({\n      json: {\n        error: error.message,\n        itemIndex: i,\n        success: false,\n        processingDate: new Date().toISOString()\n      }\n    });\n  }\n}\n\n// Função auxiliar para extrair tags XML para indexação\nfunction extractXmlTags(xmlContent) {\n  try {\n    const tagMatches = xmlContent.match(/<[^>]+>/g) || [];\n    const uniqueTags = [...new Set(tagMatches.map(tag => {\n      return tag.replace(/[<>\\/]/g, '').split(' ')[0];\n    }))];\n    return uniqueTags.filter(tag => tag.length > 0);\n  } catch (error) {\n    return [];\n  }\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"id":"ce4bd723-77d5-4615-b63a-6403d8dbed11","name":"Code1"},{"parameters":{"resource":"fileFolder","limit":1,"filter":{"folderId":{"__rl":true,"value":"1En9QusydG4QoHt5EMV8NaO3_MLgsRR1e","mode":"list","cachedResultName":"notion_itens","cachedResultUrl":"https://drive.google.com/drive/folders/1En9QusydG4QoHt5EMV8NaO3_MLgsRR1e"}},"options":{"fields":["id"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,60],"id":"af7e0ea0-6cbc-491c-8f80-6d54ce75528b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,60],"id":"10ef59ae-25b6-4d6c-8bd8-ca5f613389ba","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[460,0],"id":"1cc91fb6-0328-43be-812a-0c321f341b18","name":"Loop Over Items"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,0],"id":"e776d6b1-e838-4fb7-9599-9c6d3c729730","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1L5LA8fk_-7Epcf5B70GSzWq6eHWv6I_p","mode":"list","cachedResultName":"PROCESSADOS","cachedResultUrl":"https://drive.google.com/drive/folders/1L5LA8fk_-7Epcf5B70GSzWq6eHWv6I_p"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1940,260],"id":"f2d760f5-ad63-40c5-98ba-25c0aeda56cb","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"BUSQUE ESSA BASE DE DADOS PARA PROCESSAR AS PERGUNTAS DO USUARIO","tableName":{"__rl":true,"value":"json_notion_links","mode":"list","cachedResultName":"json_notion_links"},"options":{"queryName":"json_notion_links"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[740,1140],"id":"3140f7fc-b8b9-4f28-96f7-47248429e58f","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"ZHIMmNbYxUlvBiKp","name":"teste-vector"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1200,1300],"id":"567c9414-969c-41ec-8703-281aae4ea83e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"path":"b25b9814-8090-4127-818e-632581ad078966546"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1.1,"position":[360,920],"id":"d539c758-26c6-42ee-9734-7520c93acc22","name":"MCP Server Trigger","webhookId":"b25b9814-8090-4127-818e-632581ad0463"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n   <meta charset=\"UTF-8\">\n   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n   <title>Document Upload</title>\n   <script src=\"https://cdn.tailwindcss.com\"></script>\n</head>\n<body>\n   <div class=\"min-h-screen bg-gray-50 flex items-center justify-center\">\n       <div class=\"bg-white rounded-lg shadow-lg border border-gray-200 p-8 w-full max-w-md\">\n           <div class=\"text-center mb-6\">\n               <div class=\"w-12 h-12 bg-green-500 rounded-md flex items-center justify-center mx-auto mb-4\">\n                   <svg class=\"w-6 h-6 text-white\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n                       <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z\" />\n                   </svg>\n               </div>\n               <h1 class=\"text-xl font-semibold text-gray-900\">Upload Document AGENT CREATOR CONTENT</h1>\n               <p class=\"text-sm text-gray-500\">PDF, DOC, DOCX, TXT, MD, XML</p>\n           </div>\n\n           <form id=\"uploadForm\" class=\"space-y-4\">\n               <div>\n                   <input \n                       type=\"file\" \n                       id=\"fileInput\" \n                       accept=\".pdf,.doc,.docx,.txt,.md, .xml, .json\"\n                       class=\"block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-700 hover:file:bg-green-100\"\n                       required\n                   />\n               </div>\n               \n               <button \n                   type=\"submit\" \n                   id=\"uploadBtn\"\n                   class=\"w-full bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded-md transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed\"\n               >\n                   Upload Document\n               </button>\n           </form>\n\n           <!-- Status message -->\n           <div id=\"statusMessage\" class=\"mt-4 hidden\"></div>\n       </div>\n   </div>\n\n   <script>\n       const form = document.getElementById('uploadForm');\n       const fileInput = document.getElementById('fileInput');\n       const uploadBtn = document.getElementById('uploadBtn');\n       const statusMessage = document.getElementById('statusMessage');\n       const webhookUrl = 'https://primary-production-70c40.up.railway.app/webhook/7bcfb3a8-c514-42bd-9f80-cb1ede1a3asdsad';\n\n       form.addEventListener('submit', async (e) => {\n           e.preventDefault();\n           \n           const file = fileInput.files[0];\n           if (!file) {\n               showMessage('Please select a file', 'error');\n               return;\n           }\n\n           // Validate file\n           if (!validateFile(file)) {\n               return;\n           }\n\n           // Disable button and show loading\n           uploadBtn.disabled = true;\n           uploadBtn.textContent = 'Uploading...';\n           showMessage('Uploading document...', 'loading');\n\n           try {\n               const formData = new FormData();\n               formData.append('file', file);\n\n               const response = await fetch(webhookUrl, {\n                   method: 'POST',\n                   body: formData\n               });\n\n               if (response.ok) {\n                   showMessage('Document uploaded successfully!', 'success');\n                   form.reset();\n               } else {\n                   throw new Error(`Upload failed: ${response.status}`);\n               }\n           } catch (error) {\n               console.error('Upload error:', error);\n               showMessage('Upload failed. Please try again.', 'error');\n           } finally {\n               uploadBtn.disabled = false;\n               uploadBtn.textContent = 'Upload Document';\n           }\n       });\n\n       function validateFile(file) {\n          const allowedTypes = [\n              'application/pdf',\n              'application/msword',\n              'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n              'text/plain',\n              'text/markdown',\n              'application/xml',\n              'text/xml',\n              'application/xhtml+xml',\n              'application/json'\n          ];\n           \n           const maxSize = 50 * 1024 * 1024; // 10MB\n\n           if (!allowedTypes.includes(file.type)) {\n               showMessage('File type not supported: ' + file.name, 'error');\n               return false;\n           }\n\n           if (file.size > maxSize) {\n               showMessage('File too large: ' + file.name + '. Maximum 10MB.', 'error');\n               return false;\n           }\n\n           return true;\n       }\n\n       function showMessage(message, type) {\n           statusMessage.className = 'mt-4 p-3 rounded-md text-sm';\n           statusMessage.classList.remove('hidden');\n           \n           switch (type) {\n               case 'success':\n                   statusMessage.className += ' bg-green-100 text-green-800 border border-green-200';\n                   break;\n               case 'error':\n                   statusMessage.className += ' bg-red-100 text-red-800 border border-red-200';\n                   break;\n               case 'loading':\n                   statusMessage.className += ' bg-blue-100 text-blue-800 border border-blue-200';\n                   break;\n           }\n           \n           statusMessage.textContent = message;\n       }\n   </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[180,-1100],"id":"6decebcd-9a3a-4a55-9588-058dbf15930b","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[400,-1100],"id":"0038d271-1066-4e63-902a-9a7230da79d4","name":"Respond to Webhook"},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1020,-680],"id":"e36a578a-7381-411c-b604-772dd8326e76","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1100,-500],"id":"38b26045-335c-4d55-8b6b-dd99aba1e54a","name":"Token Splitter"},{"parameters":{"httpMethod":"POST","path":"7bcfb3a8-c514-42bd-9f80-cb1ede1a3asdsad","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,-900],"id":"05761077-5263-452a-b120-2c55ebe2b2f5","name":"Webhook1","webhookId":"7bcfb3a8-c514-42bd-9f80-cb1ede1a3d64"},{"parameters":{"path":"c35cc5ef-5a69-4c44-a0b4-4c19473a5c7adas","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,-1100],"id":"1408ef99-9c2b-4c6a-af62-2cbefb072f71","name":"Webhook","webhookId":"c35cc5ef-5a69-4c44-a0b4-4c19473a5c73"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[180,-900],"id":"6d70bc7f-dad4-43d6-81b3-7cff046fb17b","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[400,-900],"id":"76be8088-be59-4529-a757-1db76fa08b08","name":"Convert to File"},{"parameters":{"content":"# ENVIANDO DOCUMETOS VIA INTERFACE","height":900,"width":2300,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-120,-1240],"typeVersion":1,"id":"fc73eef1-07c4-452c-b052-a4cebff365cd","name":"Sticky Note"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"json_notion_links","mode":"list","cachedResultName":"json_notion_links"},"options":{"queryName":"json_notion_links"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.2,"position":[900,-900],"id":"b41d3fd4-6597-483d-82aa-a8651e45c873","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"ZHIMmNbYxUlvBiKp","name":"teste-vector"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[900,-680],"id":"f8b21a4c-efbc-40d1-8a75-ce2a15d6ddf7","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"# ENVIANDO DOCUMETOS VIA INTERFACE","height":900,"width":2300},"type":"n8n-nodes-base.stickyNote","position":[-120,-280],"typeVersion":1,"id":"55c91139-48fc-4fdb-b7d3-0c993a859084","name":"Sticky Note1"},{"parameters":{"content":"# ENVIANDO DOCUMETOS VIA INTERFACE","height":900,"width":2300,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-120,680],"typeVersion":1,"id":"91885a16-0649-4c08-b896-824503406390","name":"Sticky Note2"}],"connections":{"Supabase Vector Store1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Code1":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Webhook1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}