listar-documentos-não-assinados-eKaIvYEywlMhtxWz.json
{"updatedAt":"2025-09-26T18:13:49.310Z","createdAt":"2025-09-26T15:10:17.290Z","id":"eKaIvYEywlMhtxWz","name":"Listar documentos não assinados","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,208],"id":"5dc8e28c-825c-4547-a6f6-e2ed25da0a10","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.zapsign.com.br/api/v1/docs/?page=1&folder_path=/Automação NDASC/NDASC Labclub2/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,440],"id":"29f0de77-a166-4fce-ad77-3b8bac0bb4c1","name":"Envio - ZapSign"},{"parameters":{"url":"={{ $json.next }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,816],"id":"b23294e4-e20f-4584-bd46-5bfbdaf97e05","name":"Envio - ZapSign1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,768],"id":"6a85d5f1-f5d7-46a6-99ce-85151d4cbf30","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc798221-15ab-40d9-871a-94bf277bb681","leftValue":"={{ $json.next }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,768],"id":"0f1d9884-d06a-4c59-8f53-81a1e9a1b183","name":"Se tem mais paginas"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,432],"id":"dfda24ce-23da-41ac-bd5b-e3c5810ac0af","name":"Split Out"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,624],"id":"6e24c050-405a-4f8a-9cac-dcc4291d52b2","name":"Split Out1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,496],"id":"8bbd47a2-4934-4359-9d6d-351451d5bb78","name":"All docs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1056,496],"id":"b8abb53d-5a0c-4e03-9b5f-02fdf0813c0b","name":"Verificar Pendentes"},{"parameters":{"url":"=https://api.zapsign.com.br/api/v1/docs/{{ $json.token }}/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,416],"id":"4e8aab81-7d19-4a44-bca7-f96dc2849861","name":"Detalhar documentos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"86b5f5d5-3874-44d8-bbf7-365767dc4a0d","leftValue":"={{ $json.status }}","rightValue":"pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,416],"id":"f07c6ff3-51bc-45e0-8500-5e7e5ff12528","name":"Se pendente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6de79e87-bb89-4b47-949b-60a4917cf436","leftValue":"={{ $json.signers[0].email }}","rightValue":"adm@editon.com.br","operator":{"type":"string","operation":"notEquals"}},{"id":"69f11dd9-66e3-40af-9487-10000ddd5d27","leftValue":"={{ $json.signers[0].status }}","rightValue":"signed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1728,464],"id":"c72d48cf-2784-4350-855d-8c9754b6f9be","name":"Se nao é adm"},{"parameters":{"assignments":{"assignments":[{"id":"be4d22f0-8f59-4360-836b-c4b630368317","name":"data","value":"={{ $json.signers[0].email }}","type":"string"},{"id":"26837b6a-a78b-44c3-958c-a8089e691a88","name":"token-assinante","value":"={{ $json.signers[0].token }}","type":"string"},{"id":"d68d5b5e-2617-4d98-bd27-5a529dde4a0e","name":"enviados","value":"=[\n  {\n    \"contato\": {\n      \"email\": \"agencia.lxflux@gmail.com\",\n      \"telefone\": \"5551998961494\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"vidayvidao@yahoo.com.br\",\n      \"telefone\": \"554799297938\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"evelincristine@gmail.com\",\n      \"telefone\": \"5511985511100\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"vera.medina1@gmail.com\",\n      \"telefone\": \"5511934554183\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"karinepsp.ka@gmail.com\",\n      \"telefone\": \"5521983716688\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"thomasdeyvson@gmail.com\",\n      \"telefone\": \"5581984596947\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lenoncardooso90@gmail.com\",\n      \"telefone\": \"5551998961494\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alexmathiasux@gmail.com\",\n      \"telefone\": \"5511992626365\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"labclubdiamante@gmail.com\",\n      \"telefone\": \"5511963575909\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"thomasdeyvson@gmail.com\",\n      \"telefone\": \"5581984596947\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alecenografia@gmail.com\",\n      \"telefone\": \"5511970580381\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"claudiarozeli1@gmail.com\",\n      \"telefone\": \"5531992535918\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"sorayaaffonso38@gmail.com\",\n      \"telefone\": \"5521999627023\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"gisellelyra122@gmail.com\",\n      \"telefone\": \"5581994249498\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"vinimagnabosco87@gmail.com\",\n      \"telefone\": \"5551999745333\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"philippe.23@hotmail.com\",\n      \"telefone\": \"5521971110088\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"takaneles@gmail.com\",\n      \"telefone\": \"5513997012914\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"trabalhecomjfb@gmail.com\",\n      \"telefone\": \"5585981014854\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"jnbinfo@hotmail.com\",\n      \"telefone\": \"5521992724716\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"leandropassos110@gmail.com\",\n      \"telefone\": \"5562981161850\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"brunovidigal@gmail.com\",\n      \"telefone\": \"5521981368478\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"ciro@desirius.com.br\",\n      \"telefone\": \"5551992408820\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"m.anapaula@hotmail.com\",\n      \"telefone\": \"5555999300537\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"adneves10@gmail.com\",\n      \"telefone\": \"5561981882717\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"genesiomjr@gmail.com\",\n      \"telefone\": \"5512982613802\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"genesiomjr@gmail.com\",\n      \"telefone\": \"5512982613802\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"ericb.malzone@gmail.com\",\n      \"telefone\": \"5511966719633\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"professormurilo@gmail.com\",\n      \"telefone\": \"5562981852447\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"marcelo.ramos10@yahoo.com.br\",\n      \"telefone\": \"5531998833436\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"jclsouza2004@yahoo.com.br\",\n      \"telefone\": \"5521994399601\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"rgbrio@gmail.com\",\n      \"telefone\": \"5561992003082\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"artedeviajarbem@gmail.com\",\n      \"telefone\": \"5513991983333\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"virginiamarcal@gmail.com\",\n      \"telefone\": \"5563992122339\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"kardecorum@hotmail.com\",\n      \"telefone\": \"5522998796390\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"fatimamartins.sam@gmail.com\",\n      \"telefone\": \"5522988335550\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"claudiabarreto.iteep@gmail.com\",\n      \"telefone\": \"5537991494464\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lucienej.lana@gmail.com\",\n      \"telefone\": \"5531995879693\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"claudiabarreto.iteep@gmail.com\",\n      \"telefone\": \"5537991494464\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alexsupport@live.com\",\n      \"telefone\": \"5533991164917\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"m.anapaula@hotmail.com\",\n      \"telefone\": \"5555999300537\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"aduartos@gmail.com\",\n      \"telefone\": \"5512997605214\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alessandraapestana@gmail.com\",\n      \"telefone\": \"5571996056888\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"djalmasouza2710@gmail.com\",\n      \"telefone\": \"5581981203307\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lanich2014@gmail.com\",\n      \"telefone\": \"5541999962535\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"leofborsatti@gmail.com\",\n      \"telefone\": \"5569999944262\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"ivanamfribeiro@gmail.com\",\n      \"telefone\": \"5511974609092\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lpalmeidabh@gmail.com\",\n      \"telefone\": \"5531984836364\"\n    }\n  }\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,464],"id":"babaf15b-fde9-4e6e-bb6c-f0b2c4b429f5","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Emails não assinados:\n\n{{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,32],"id":"aabe9aee-5e45-4872-baee-62ba1522834b","name":"Enviando msg","disabled":true},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Emails assinados:\n\n{{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,224],"id":"beb221d9-4047-449a-9cc0-1aca9877c3d5","name":"Enviando msg1","disabled":true},{"parameters":{"httpMethod":"POST","path":"c5e9c37f-06b2-4259-94bb-079e0b2c701f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,440],"id":"f535bf24-cf74-48cd-9e85-18a5b027fddc","name":"Webhook","webhookId":"c5e9c37f-06b2-4259-94bb-079e0b2c701f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3d997dd-8448-4c36-aa0b-5d3e72328706","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"=120363422037139921@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2b16da32-c516-4532-b213-e841f435ee0a","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"/relatorio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,440],"id":"dd1fe1a9-312c-485f-abe1-5e26bc627d1d","name":"If"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Iniciando relatório..."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,440],"id":"4dbcdd0b-4bad-4de8-a6e0-6911b37d248e","name":"Enviando msg2"},{"parameters":{"assignments":{"assignments":[{"id":"56d040ab-6223-41ca-b923-54cb1f9ded22","name":"data","value":"=[\n  {\n    \"row_number\": 4,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"agencia.lxflux@gmail.com\",\n    \"col_3\": 5551998961494,\n    \"CPF\": \"031.065.810-18\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-16 14:47:19\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 6,\n    \"NOME\": \"Ana Paula.costa Soares\",\n    \"EMAIL\": \"vidayvidao@yahoo.com.br\",\n    \"col_3\": 554799297938,\n    \"CPF\": \"019.416.899-90\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-15 22:25:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 8,\n    \"NOME\": \"Evelin Cristine Franchi Elias\",\n    \"EMAIL\": \"evelincristine@gmail.com\",\n    \"col_3\": 5511985511100,\n    \"CPF\": \"307.131.128-16\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-15 14:46:22\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 9,\n    \"NOME\": \"Vera Lucia Medina Ferreira Alves\",\n    \"EMAIL\": \"vera.medina1@gmail.com\",\n    \"col_3\": 5511934554183,\n    \"CPF\": \"100.997.548-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-14 22:59:52\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 11,\n    \"NOME\": \"Karine Peixoto Santiago\",\n    \"EMAIL\": \"karinepsp.ka@gmail.com\",\n    \"col_3\": 5521983716688,\n    \"CPF\": \"088.555.537-63\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-13 23:23:02\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 12,\n    \"NOME\": \"THOMAS DEYVSON DA SILVA GONÇALVES\",\n    \"EMAIL\": \"thomasdeyvson@gmail.com\",\n    \"col_3\": 5581984596947,\n    \"CPF\": \"102.898.024-82\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-13 19:39:24\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 13,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"lenoncardooso90@gmail.com\",\n    \"col_3\": 5551998961494,\n    \"CPF\": \"031.065.810-18\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub - Ideia\",\n    \"col_8\": \"2025-09-13 18:59:36\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 14,\n    \"NOME\": \"Alexander Mathias Cavalcanti de Albuquerque\",\n    \"EMAIL\": \"alexmathiasux@gmail.com\",\n    \"col_3\": 5511992626365,\n    \"CPF\": \"425.252.840-20\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 18:47:45\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 15,\n    \"NOME\": \"Fernanda Carrara do Nascimento Cortez\",\n    \"EMAIL\": \"labclubdiamante@gmail.com\",\n    \"col_3\": 5511963575909,\n    \"CPF\": \"322.434.248-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 18:14:13\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 16,\n    \"NOME\": \"Thomas Deyvson da Silva Gonçalves\",\n    \"EMAIL\": \"thomasdeyvson@gmail.com\",\n    \"col_3\": 5581984596947,\n    \"CPF\": \"102.898.024-82\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-13 16:22:00\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 17,\n    \"NOME\": \"Alessandro Correia\",\n    \"EMAIL\": \"alecenografia@gmail.com\",\n    \"col_3\": 5511970580381,\n    \"CPF\": \"279.034.898-79\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 16:17:49\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 18,\n    \"NOME\": \"CLAUDIA ROZELI GOMES DE OLIVEIRA\",\n    \"EMAIL\": \"claudiarozeli1@gmail.com\",\n    \"col_3\": 5531992535918,\n    \"CPF\": \"477.998.036-49\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 09:39:25\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 19,\n    \"NOME\": \"soraya affonso\",\n    \"EMAIL\": \"sorayaaffonso38@gmail.com\",\n    \"col_3\": 5521999627023,\n    \"CPF\": \"020.522.037-10\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 01:13:43\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 20,\n    \"NOME\": \"Giselle Lyra Rodrigues França\",\n    \"EMAIL\": \"gisellelyra122@gmail.com\",\n    \"col_3\": 5581994249498,\n    \"CPF\": \"088.278.374-26\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 23:56:03\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 21,\n    \"NOME\": \"Vinicius Magnabosco de Oliveira\",\n    \"EMAIL\": \"vinimagnabosco87@gmail.com\",\n    \"col_3\": 5551999745333,\n    \"CPF\": \"019.794.740-95\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 23:20:02\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 22,\n    \"NOME\": \"Philippe Rocha\",\n    \"EMAIL\": \"philippe.23@hotmail.com\",\n    \"col_3\": 5521971110088,\n    \"CPF\": \"118.656.657-46\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - O próximo nível\",\n    \"col_8\": \"2025-09-12 22:06:52\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 23,\n    \"NOME\": \"Jefferson Ribeiro Takakura\",\n    \"EMAIL\": \"takaneles@gmail.com\",\n    \"col_3\": 5513997012914,\n    \"CPF\": \"345.841.078-31\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 21:32:51\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 24,\n    \"NOME\": \"JEFFERSON DE ANDRADE BALBINO\",\n    \"EMAIL\": \"trabalhecomjfb@gmail.com\",\n    \"col_3\": 5585981014854,\n    \"CPF\": \"499.789.693-49\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 19:35:41\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 25,\n    \"NOME\": \"Jonathan Baltazar\",\n    \"EMAIL\": \"jnbinfo@hotmail.com\",\n    \"col_3\": 5521992724716,\n    \"CPF\": \"120.603.277-41\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:25:04\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 26,\n    \"NOME\": \"Leandro Passos Ferreira\",\n    \"EMAIL\": \"leandropassos110@gmail.com\",\n    \"col_3\": 5562981161850,\n    \"CPF\": \"201.862.868-21\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 17:01:38\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 27,\n    \"NOME\": \"Bruno Correia Vidigal de Vasconcellos\",\n    \"EMAIL\": \"brunovidigal@gmail.com\",\n    \"col_3\": 5521981368478,\n    \"CPF\": \"902.947.007-06\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:18:42\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 28,\n    \"NOME\": \"Ciro Gomes da Rosa\",\n    \"EMAIL\": \"ciro@desirius.com.br\",\n    \"col_3\": 5551992408820,\n    \"CPF\": \"026.919.560-24\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:17:18\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 29,\n    \"NOME\": \"Ana Paula Marques Machado\",\n    \"EMAIL\": \"m.anapaula@hotmail.com\",\n    \"col_3\": 5555999300537,\n    \"CPF\": \"975.923.310-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 16:16:55\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 30,\n    \"NOME\": \"Adriana Neves\",\n    \"EMAIL\": \"adneves10@gmail.com\",\n    \"col_3\": 5561981882717,\n    \"CPF\": \"248.972.508-46\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 13:48:42\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 31,\n    \"NOME\": \"Genesio Marcondes Junior\",\n    \"EMAIL\": \"genesiomjr@gmail.com\",\n    \"col_3\": 5512982613802,\n    \"CPF\": \"266.031.858-14\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub - Ideia\",\n    \"col_8\": \"2025-09-12 12:44:02\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 32,\n    \"NOME\": \"Genesio Marcondes Junior\",\n    \"EMAIL\": \"genesiomjr@gmail.com\",\n    \"col_3\": 5512982613802,\n    \"CPF\": \"266.031.858-14\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 12:39:47\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 33,\n    \"NOME\": \"Eric Barreto Malzone\",\n    \"EMAIL\": \"ericb.malzone@gmail.com\",\n    \"col_3\": 5511966719633,\n    \"CPF\": \"347.776.728-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 15:40:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 34,\n    \"NOME\": \"Murilo Pereira Ramos\",\n    \"EMAIL\": \"professormurilo@gmail.com\",\n    \"col_3\": 5562981852447,\n    \"CPF\": \"006.586.131-03\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 01:52:12\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 35,\n    \"NOME\": \"Marcelo Ramos Pereira\",\n    \"EMAIL\": \"marcelo.ramos10@yahoo.com.br\",\n    \"col_3\": 5531998833436,\n    \"CPF\": \"585.534.286-72\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:40:31\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 36,\n    \"NOME\": \"JOAO CARLOS LOPES DE SOUZA\",\n    \"EMAIL\": \"jclsouza2004@yahoo.com.br\",\n    \"col_3\": 5521994399601,\n    \"CPF\": \"975.663.147-34\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:14:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 37,\n    \"NOME\": \"Ricardo Ribeiro Guimarães\",\n    \"EMAIL\": \"rgbrio@gmail.com\",\n    \"col_3\": 5561992003082,\n    \"CPF\": \"413.779.586-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:12:03\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 38,\n    \"NOME\": \"Ludmila de Moura\",\n    \"EMAIL\": \"artedeviajarbem@gmail.com\",\n    \"col_3\": 5513991983333,\n    \"CPF\": \"013.192.328-50\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:57:15\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 39,\n    \"NOME\": \"Virginia Lara Marçal\",\n    \"EMAIL\": \"virginiamarcal@gmail.com\",\n    \"col_3\": 5563992122339,\n    \"CPF\": \"392.650.802-72\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:57:06\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 40,\n    \"NOME\": \"Alan Kardec Viana do Nascimento Júnior\",\n    \"EMAIL\": \"kardecorum@hotmail.com\",\n    \"col_3\": 5522998796390,\n    \"CPF\": \"037.792.087-84\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:38:56\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 41,\n    \"NOME\": \"Maria de Fátima Oliveira Martins\",\n    \"EMAIL\": \"fatimamartins.sam@gmail.com\",\n    \"col_3\": 5522988335550,\n    \"CPF\": \"860.924.217-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 00:26:52\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 42,\n    \"NOME\": \"Claudia Marise Torres dos Santos Barreto\",\n    \"EMAIL\": \"claudiabarreto.iteep@gmail.com\",\n    \"col_3\": 5537991494464,\n    \"CPF\": \"777.252.206-15\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 00:26:41\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 43,\n    \"NOME\": \"Luciene De Jesus Lana\",\n    \"EMAIL\": \"lucienej.lana@gmail.com\",\n    \"col_3\": 5531995879693,\n    \"CPF\": \"049.592.266-84\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:24:13\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 44,\n    \"NOME\": \"Claudia Marise Torres dos Santos Barreto\",\n    \"EMAIL\": \"claudiabarreto.iteep@gmail.com\",\n    \"col_3\": 5537991494464,\n    \"CPF\": \"777.252.206-15\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - O próximo nível\",\n    \"col_8\": \"2025-09-12 00:21:07\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 45,\n    \"NOME\": \"Alessander Barbosa da Silva\",\n    \"EMAIL\": \"alexsupport@live.com\",\n    \"col_3\": 5533991164917,\n    \"CPF\": \"878.577.076-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:19:58\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 46,\n    \"NOME\": \"Ana Paula Marques Machado\",\n    \"EMAIL\": \"m.anapaula@hotmail.com\",\n    \"col_3\": 5555999300537,\n    \"CPF\": \"975.923.310-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 00:17:26\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 47,\n    \"NOME\": \"Alexandre Duarte dos Santos\",\n    \"EMAIL\": \"aduartos@gmail.com\",\n    \"col_3\": 5512997605214,\n    \"CPF\": \"291.007.678-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:08:58\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 48,\n    \"NOME\": \"Alessandra de Abreu Pestana Rodrigues\",\n    \"EMAIL\": \"alessandraapestana@gmail.com\",\n    \"col_3\": 5571996056888,\n    \"CPF\": \"159.105.568-78\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:08:48\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 49,\n    \"NOME\": \"DJALMA FLORENCIO DE SOUZA FILHO\",\n    \"EMAIL\": \"djalmasouza2710@gmail.com\",\n    \"col_3\": 5581981203307,\n    \"CPF\": \"594.507.384-91\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:02:56\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 50,\n    \"NOME\": \"LUIZ ALBERTO NICHELE\",\n    \"EMAIL\": \"lanich2014@gmail.com\",\n    \"col_3\": 5541999962535,\n    \"CPF\": \"535.977.459-20\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:00:35\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 51,\n    \"NOME\": \"Leonardo Felipe Peixoto Borsatti\",\n    \"EMAIL\": \"leofborsatti@gmail.com\",\n    \"col_3\": 5569999944262,\n    \"CPF\": \"725.125.121-34\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:58:06\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 52,\n    \"NOME\": \"IvaNa Maria FRanco Ribeiro\",\n    \"EMAIL\": \"ivanamfribeiro@gmail.com\",\n    \"col_3\": 5511974609092,\n    \"CPF\": \"040.343.618-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:56:04\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 53,\n    \"NOME\": \"Lucas Pereira de Almeida\",\n    \"EMAIL\": \"lpalmeidabh@gmail.com\",\n    \"col_3\": 5531984836364,\n    \"CPF\": \"012.206.946-30\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:55:16\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  }\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,208],"id":"df4f69a5-2501-4e5b-a0bc-415a447fcb69","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-368,208],"id":"b2a181b0-3899-439e-9fce-6303ec0559c7","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-144,208],"id":"8dda4aa8-d0b5-4ad3-895a-cacc80f993da","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"0cf5e957-dc76-4abe-8fbc-28d50f01d063","name":"contato","value":"={\n  \"email\": \"{{ $json.EMAIL }}\",\n  \"telefone\": \"{{ $json.col_3 }}\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,208],"id":"b5e0d80b-6194-4415-9d6c-e8df87c436c3","name":"Edit Fields2"},{"parameters":{"jsCode":"// junta todos os emails se existirem\nconst emails = items.map(item => item.json.data).filter(e => e && e.trim() !== \"\").join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      emails: emails || \"Nenhum email encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,32],"id":"078468bd-c79d-4be2-9456-03700a48f806","name":"Nao assinados Whatsapp"},{"parameters":{"jsCode":"// Pega todos os signers[0].email dos itens\nconst emails = items\n  .map(item => item.json?.signers?.[0]?.email) // acessa seguro\n  .filter(email => email && email.trim() !== \"\") // só mantém os válidos\n  .join(\"\\n\"); // junta em uma string com quebra de linha\n\nreturn [\n  {\n    json: {\n      emails: emails || \"Nenhum email encontrado\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,224],"id":"85bd3de9-a84d-406d-a5df-3eccf467b8a4","name":"Assinados Whatsapp"},{"parameters":{"fieldToSplitOut":"enviados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2176,464],"id":"4a04f2ea-83ee-4eff-a48a-cfcefda57b2f","name":"Split Out3"},{"parameters":{"jsCode":"// ---- inputs de outros nós\nconst tokendocumento  = $('Detalhar documentos').first().json.token;\nconst tokenassinante  = $('Edit Fields').first().json['token-assinante'];\nconst email           = $('Se nao é adm').first().json.signers?.[0]?.email || \"\";\n\n// ---- util: sanitiza e divide número em country/number\nfunction splitPhone(raw) {\n  const digitsRaw = String(raw || '').replace(/\\D+/g, ''); // só dígitos\n  if (!digitsRaw) return { phone_country: '', phone_number: '' };\n\n  // Casos comuns\n  if (digitsRaw.startsWith('55') && digitsRaw.length >= 12) {\n    return { phone_country: '55', phone_number: digitsRaw.slice(2) };\n  }\n  if (digitsRaw.startsWith('1') && digitsRaw.length === 11) { // EUA/Canadá: 1 + 10\n    return { phone_country: '1', phone_number: digitsRaw.slice(1) };\n  }\n\n  // Genérico: se veio com DDI (comprimento > 11), assume DDI com 2 dígitos\n  if (digitsRaw.length > 11) {\n    return { phone_country: digitsRaw.slice(0, 2), phone_number: digitsRaw.slice(2) };\n  }\n\n  // Se não veio DDI, assume BR por padrão\n  return { phone_country: '55', phone_number: digitsRaw };\n}\n\n// ---- busca no input o contato pelo email e extrai telefone\nlet numero = '';\nif (email) {\n  const alvo = email.trim().toLowerCase();\n  for (const it of items) {\n    const c = it.json?.contato;\n    if (!c) continue;\n    const e = String(c.email || '').trim().toLowerCase();\n    if (e === alvo) {\n      numero = String(c.telefone ?? '').trim();\n      break;\n    }\n  }\n}\n\nconst { phone_country, phone_number } = splitPhone(numero);\n\n// ---- saída única com os campos necessários\nreturn [{\n  json: {\n    tokendocumento,\n    tokenassinante,\n    email,\n    phone_country,\n    phone_number\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,464],"id":"d3cc8e6b-8acd-4a3e-832b-864adc670e47","name":"Code"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.phone_country }}{{ $json.phone_number }}"},{"name":"text","value":"=Olá {{ $json.email }}!\n\nA Camozzi Consultoria enviou o documento “{{ $('Detalhar documentos').first().json.name }}” para assinatura via ZapSign.\n\nAcesse e assine pelo link: {{ $('Detalhar documentos').first().json.signers[0].sign_url }}\n\n\nDúvidas ou solicitações: envie um e-mail para juridico06@camozziconsultoria.com.br.\n\n_Este WhatsApp é apenas informativo e não responde mensagens._\n\nC&D Blindagem Digital | Camozzi Consultoria"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,656],"id":"07f30c2e-0590-41af-a193-1a3f763b2b90","name":"Enviando msg3"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2848,656],"id":"078756e2-2e80-43be-a64b-02f5c030a521","name":"Wait","webhookId":"2bf2ae0a-f55a-49d9-a912-b64e5b66154a"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Whatsapp enviado para cliente abaixo:\n\n{{ $json.email }}\n+{{ $json.phone_country }}{{ $json.phone_number }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,464],"id":"b0e1ea49-ede4-4685-80a6-664afe3ae61f","name":"Enviando msg4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Envio - ZapSign":{"main":[[{"node":"Se tem mais paginas","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Split Out1","type":"main","index":0}],[{"node":"Envio - ZapSign1","type":"main","index":0}]]},"Envio - ZapSign1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Se tem mais paginas":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"All docs","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"All docs","type":"main","index":1}]]},"All docs":{"main":[[{"node":"Verificar Pendentes","type":"main","index":0}]]},"Verificar Pendentes":{"main":[[{"node":"Nao assinados Whatsapp","type":"main","index":0},{"node":"Assinados Whatsapp","type":"main","index":0}],[{"node":"Se pendente","type":"main","index":0}]]},"Detalhar documentos":{"main":[[{"node":"Se nao é adm","type":"main","index":0}]]},"Se pendente":{"main":[[{"node":"Detalhar documentos","type":"main","index":0}],[]]},"Se nao é adm":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Verificar Pendentes","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Verificar Pendentes","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviando msg2","type":"main","index":0}]]},"Enviando msg2":{"main":[[{"node":"Envio - ZapSign","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Nao assinados Whatsapp":{"main":[[{"node":"Enviando msg","type":"main","index":0}]]},"Assinados Whatsapp":{"main":[[{"node":"Enviando msg1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Enviando msg3","type":"main","index":0},{"node":"Enviando msg4","type":"main","index":0}]]},"Enviando msg3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Verificar Pendentes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.10.0","content-length":"1209","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"134.199.215.35","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"ae5erCDPQsetGPM12prcFg","x-real-ip":"134.199.215.35","x-request-start":"1758902648551"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"notificacoes","data":{"key":{"remoteJid":"120363422037139921@g.us","fromMe":false,"id":"3F4AE2C614C07614ACD4","participant":"556294342576@s.whatsapp.net","participantLid":"254914932519049@lid"},"pushName":"Miqueias","status":"DELIVERY_ACK","message":{"senderKeyDistributionMessage":{"groupId":"120363422037139921@g.us","axolotlSenderKeyDistributionMessage":"MwjdouvBBhAAGiBwBTutdWtICJc74lxgoQ+LzbsNJjI8qXpYFda4/6KArSIhBWMavfbiBFanOlGz1R62h2PRHDBCGw6OeT3C6aK1sYc5"},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"vFjF6qYb58iJvA==","senderTimestamp":"1758890759","recipientKeyHash":"xJ15VZqv1skKTA==","recipientTimestamp":"1757699962"},"deviceListMetadataVersion":2},"conversation":"/relatorio"},"contextInfo":{"expiration":0},"messageType":"conversation","messageTimestamp":1758902647,"instanceId":"a343080a-20c1-46c6-9a7b-e8c1dc9267b1","source":"desktop"},"destination":"https://primary-production-70c40.up.railway.app/webhook/c5e9c37f-06b2-4259-94bb-079e0b2c701f","date_time":"2025-09-26T13:04:08.519Z","sender":"556295059726@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"D3C9740607BF-4BB2-AA61-59413E3B59F6"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/c5e9c37f-06b2-4259-94bb-079e0b2c701f","executionMode":"production"}}]},"versionId":"80b8f092-82da-48ca-9a00-b4170bfa5659","activeVersionId":"80b8f092-82da-48ca-9a00-b4170bfa5659","triggerCount":1,"shared":[{"updatedAt":"2025-09-26T15:10:17.290Z","createdAt":"2025-09-26T15:10:17.290Z","role":"workflow:owner","workflowId":"eKaIvYEywlMhtxWz","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"80b8f092-82da-48ca-9a00-b4170bfa5659","workflowId":"eKaIvYEywlMhtxWz","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,208],"id":"5dc8e28c-825c-4547-a6f6-e2ed25da0a10","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.zapsign.com.br/api/v1/docs/?page=1&folder_path=/Automação NDASC/NDASC Labclub2/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,440],"id":"29f0de77-a166-4fce-ad77-3b8bac0bb4c1","name":"Envio - ZapSign"},{"parameters":{"url":"={{ $json.next }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,816],"id":"b23294e4-e20f-4584-bd46-5bfbdaf97e05","name":"Envio - ZapSign1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,768],"id":"6a85d5f1-f5d7-46a6-99ce-85151d4cbf30","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc798221-15ab-40d9-871a-94bf277bb681","leftValue":"={{ $json.next }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,768],"id":"0f1d9884-d06a-4c59-8f53-81a1e9a1b183","name":"Se tem mais paginas"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,432],"id":"dfda24ce-23da-41ac-bd5b-e3c5810ac0af","name":"Split Out"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,624],"id":"6e24c050-405a-4f8a-9cac-dcc4291d52b2","name":"Split Out1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,496],"id":"8bbd47a2-4934-4359-9d6d-351451d5bb78","name":"All docs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1056,496],"id":"b8abb53d-5a0c-4e03-9b5f-02fdf0813c0b","name":"Verificar Pendentes"},{"parameters":{"url":"=https://api.zapsign.com.br/api/v1/docs/{{ $json.token }}/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer e43c4732-142b-4295-9c04-0a0a893ea8bf195f342b-6931-486f-ba77-809152a8e4d6"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,416],"id":"4e8aab81-7d19-4a44-bca7-f96dc2849861","name":"Detalhar documentos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"86b5f5d5-3874-44d8-bbf7-365767dc4a0d","leftValue":"={{ $json.status }}","rightValue":"pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,416],"id":"f07c6ff3-51bc-45e0-8500-5e7e5ff12528","name":"Se pendente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6de79e87-bb89-4b47-949b-60a4917cf436","leftValue":"={{ $json.signers[0].email }}","rightValue":"adm@editon.com.br","operator":{"type":"string","operation":"notEquals"}},{"id":"69f11dd9-66e3-40af-9487-10000ddd5d27","leftValue":"={{ $json.signers[0].status }}","rightValue":"signed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1728,464],"id":"c72d48cf-2784-4350-855d-8c9754b6f9be","name":"Se nao é adm"},{"parameters":{"assignments":{"assignments":[{"id":"be4d22f0-8f59-4360-836b-c4b630368317","name":"data","value":"={{ $json.signers[0].email }}","type":"string"},{"id":"26837b6a-a78b-44c3-958c-a8089e691a88","name":"token-assinante","value":"={{ $json.signers[0].token }}","type":"string"},{"id":"d68d5b5e-2617-4d98-bd27-5a529dde4a0e","name":"enviados","value":"=[\n  {\n    \"contato\": {\n      \"email\": \"agencia.lxflux@gmail.com\",\n      \"telefone\": \"5551998961494\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"vidayvidao@yahoo.com.br\",\n      \"telefone\": \"554799297938\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"evelincristine@gmail.com\",\n      \"telefone\": \"5511985511100\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"vera.medina1@gmail.com\",\n      \"telefone\": \"5511934554183\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"karinepsp.ka@gmail.com\",\n      \"telefone\": \"5521983716688\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"thomasdeyvson@gmail.com\",\n      \"telefone\": \"5581984596947\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lenoncardooso90@gmail.com\",\n      \"telefone\": \"5551998961494\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alexmathiasux@gmail.com\",\n      \"telefone\": \"5511992626365\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"labclubdiamante@gmail.com\",\n      \"telefone\": \"5511963575909\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"thomasdeyvson@gmail.com\",\n      \"telefone\": \"5581984596947\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alecenografia@gmail.com\",\n      \"telefone\": \"5511970580381\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"claudiarozeli1@gmail.com\",\n      \"telefone\": \"5531992535918\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"sorayaaffonso38@gmail.com\",\n      \"telefone\": \"5521999627023\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"gisellelyra122@gmail.com\",\n      \"telefone\": \"5581994249498\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"vinimagnabosco87@gmail.com\",\n      \"telefone\": \"5551999745333\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"philippe.23@hotmail.com\",\n      \"telefone\": \"5521971110088\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"takaneles@gmail.com\",\n      \"telefone\": \"5513997012914\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"trabalhecomjfb@gmail.com\",\n      \"telefone\": \"5585981014854\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"jnbinfo@hotmail.com\",\n      \"telefone\": \"5521992724716\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"leandropassos110@gmail.com\",\n      \"telefone\": \"5562981161850\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"brunovidigal@gmail.com\",\n      \"telefone\": \"5521981368478\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"ciro@desirius.com.br\",\n      \"telefone\": \"5551992408820\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"m.anapaula@hotmail.com\",\n      \"telefone\": \"5555999300537\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"adneves10@gmail.com\",\n      \"telefone\": \"5561981882717\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"genesiomjr@gmail.com\",\n      \"telefone\": \"5512982613802\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"genesiomjr@gmail.com\",\n      \"telefone\": \"5512982613802\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"ericb.malzone@gmail.com\",\n      \"telefone\": \"5511966719633\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"professormurilo@gmail.com\",\n      \"telefone\": \"5562981852447\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"marcelo.ramos10@yahoo.com.br\",\n      \"telefone\": \"5531998833436\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"jclsouza2004@yahoo.com.br\",\n      \"telefone\": \"5521994399601\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"rgbrio@gmail.com\",\n      \"telefone\": \"5561992003082\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"artedeviajarbem@gmail.com\",\n      \"telefone\": \"5513991983333\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"virginiamarcal@gmail.com\",\n      \"telefone\": \"5563992122339\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"kardecorum@hotmail.com\",\n      \"telefone\": \"5522998796390\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"fatimamartins.sam@gmail.com\",\n      \"telefone\": \"5522988335550\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"claudiabarreto.iteep@gmail.com\",\n      \"telefone\": \"5537991494464\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lucienej.lana@gmail.com\",\n      \"telefone\": \"5531995879693\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"claudiabarreto.iteep@gmail.com\",\n      \"telefone\": \"5537991494464\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alexsupport@live.com\",\n      \"telefone\": \"5533991164917\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"m.anapaula@hotmail.com\",\n      \"telefone\": \"5555999300537\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"aduartos@gmail.com\",\n      \"telefone\": \"5512997605214\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"alessandraapestana@gmail.com\",\n      \"telefone\": \"5571996056888\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"djalmasouza2710@gmail.com\",\n      \"telefone\": \"5581981203307\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lanich2014@gmail.com\",\n      \"telefone\": \"5541999962535\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"leofborsatti@gmail.com\",\n      \"telefone\": \"5569999944262\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"ivanamfribeiro@gmail.com\",\n      \"telefone\": \"5511974609092\"\n    }\n  },\n  {\n    \"contato\": {\n      \"email\": \"lpalmeidabh@gmail.com\",\n      \"telefone\": \"5531984836364\"\n    }\n  }\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,464],"id":"babaf15b-fde9-4e6e-bb6c-f0b2c4b429f5","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Emails não assinados:\n\n{{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,32],"id":"aabe9aee-5e45-4872-baee-62ba1522834b","name":"Enviando msg","disabled":true},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Emails assinados:\n\n{{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,224],"id":"beb221d9-4047-449a-9cc0-1aca9877c3d5","name":"Enviando msg1","disabled":true},{"parameters":{"httpMethod":"POST","path":"c5e9c37f-06b2-4259-94bb-079e0b2c701f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,440],"id":"f535bf24-cf74-48cd-9e85-18a5b027fddc","name":"Webhook","webhookId":"c5e9c37f-06b2-4259-94bb-079e0b2c701f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3d997dd-8448-4c36-aa0b-5d3e72328706","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"=120363422037139921@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2b16da32-c516-4532-b213-e841f435ee0a","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"/relatorio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,440],"id":"dd1fe1a9-312c-485f-abe1-5e26bc627d1d","name":"If"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Iniciando relatório..."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,440],"id":"4dbcdd0b-4bad-4de8-a6e0-6911b37d248e","name":"Enviando msg2"},{"parameters":{"assignments":{"assignments":[{"id":"56d040ab-6223-41ca-b923-54cb1f9ded22","name":"data","value":"=[\n  {\n    \"row_number\": 4,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"agencia.lxflux@gmail.com\",\n    \"col_3\": 5551998961494,\n    \"CPF\": \"031.065.810-18\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-16 14:47:19\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 6,\n    \"NOME\": \"Ana Paula.costa Soares\",\n    \"EMAIL\": \"vidayvidao@yahoo.com.br\",\n    \"col_3\": 554799297938,\n    \"CPF\": \"019.416.899-90\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-15 22:25:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 8,\n    \"NOME\": \"Evelin Cristine Franchi Elias\",\n    \"EMAIL\": \"evelincristine@gmail.com\",\n    \"col_3\": 5511985511100,\n    \"CPF\": \"307.131.128-16\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-15 14:46:22\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 9,\n    \"NOME\": \"Vera Lucia Medina Ferreira Alves\",\n    \"EMAIL\": \"vera.medina1@gmail.com\",\n    \"col_3\": 5511934554183,\n    \"CPF\": \"100.997.548-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-14 22:59:52\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 11,\n    \"NOME\": \"Karine Peixoto Santiago\",\n    \"EMAIL\": \"karinepsp.ka@gmail.com\",\n    \"col_3\": 5521983716688,\n    \"CPF\": \"088.555.537-63\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-13 23:23:02\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 12,\n    \"NOME\": \"THOMAS DEYVSON DA SILVA GONÇALVES\",\n    \"EMAIL\": \"thomasdeyvson@gmail.com\",\n    \"col_3\": 5581984596947,\n    \"CPF\": \"102.898.024-82\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-13 19:39:24\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 13,\n    \"NOME\": \"Lenon Cardoso\",\n    \"EMAIL\": \"lenoncardooso90@gmail.com\",\n    \"col_3\": 5551998961494,\n    \"CPF\": \"031.065.810-18\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub - Ideia\",\n    \"col_8\": \"2025-09-13 18:59:36\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 14,\n    \"NOME\": \"Alexander Mathias Cavalcanti de Albuquerque\",\n    \"EMAIL\": \"alexmathiasux@gmail.com\",\n    \"col_3\": 5511992626365,\n    \"CPF\": \"425.252.840-20\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 18:47:45\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 15,\n    \"NOME\": \"Fernanda Carrara do Nascimento Cortez\",\n    \"EMAIL\": \"labclubdiamante@gmail.com\",\n    \"col_3\": 5511963575909,\n    \"CPF\": \"322.434.248-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 18:14:13\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 16,\n    \"NOME\": \"Thomas Deyvson da Silva Gonçalves\",\n    \"EMAIL\": \"thomasdeyvson@gmail.com\",\n    \"col_3\": 5581984596947,\n    \"CPF\": \"102.898.024-82\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-13 16:22:00\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 17,\n    \"NOME\": \"Alessandro Correia\",\n    \"EMAIL\": \"alecenografia@gmail.com\",\n    \"col_3\": 5511970580381,\n    \"CPF\": \"279.034.898-79\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 16:17:49\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 18,\n    \"NOME\": \"CLAUDIA ROZELI GOMES DE OLIVEIRA\",\n    \"EMAIL\": \"claudiarozeli1@gmail.com\",\n    \"col_3\": 5531992535918,\n    \"CPF\": \"477.998.036-49\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 09:39:25\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 19,\n    \"NOME\": \"soraya affonso\",\n    \"EMAIL\": \"sorayaaffonso38@gmail.com\",\n    \"col_3\": 5521999627023,\n    \"CPF\": \"020.522.037-10\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-13 01:13:43\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 20,\n    \"NOME\": \"Giselle Lyra Rodrigues França\",\n    \"EMAIL\": \"gisellelyra122@gmail.com\",\n    \"col_3\": 5581994249498,\n    \"CPF\": \"088.278.374-26\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 23:56:03\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 21,\n    \"NOME\": \"Vinicius Magnabosco de Oliveira\",\n    \"EMAIL\": \"vinimagnabosco87@gmail.com\",\n    \"col_3\": 5551999745333,\n    \"CPF\": \"019.794.740-95\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 23:20:02\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 22,\n    \"NOME\": \"Philippe Rocha\",\n    \"EMAIL\": \"philippe.23@hotmail.com\",\n    \"col_3\": 5521971110088,\n    \"CPF\": \"118.656.657-46\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - O próximo nível\",\n    \"col_8\": \"2025-09-12 22:06:52\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 23,\n    \"NOME\": \"Jefferson Ribeiro Takakura\",\n    \"EMAIL\": \"takaneles@gmail.com\",\n    \"col_3\": 5513997012914,\n    \"CPF\": \"345.841.078-31\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 21:32:51\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 24,\n    \"NOME\": \"JEFFERSON DE ANDRADE BALBINO\",\n    \"EMAIL\": \"trabalhecomjfb@gmail.com\",\n    \"col_3\": 5585981014854,\n    \"CPF\": \"499.789.693-49\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 19:35:41\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 25,\n    \"NOME\": \"Jonathan Baltazar\",\n    \"EMAIL\": \"jnbinfo@hotmail.com\",\n    \"col_3\": 5521992724716,\n    \"CPF\": \"120.603.277-41\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:25:04\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 26,\n    \"NOME\": \"Leandro Passos Ferreira\",\n    \"EMAIL\": \"leandropassos110@gmail.com\",\n    \"col_3\": 5562981161850,\n    \"CPF\": \"201.862.868-21\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 17:01:38\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 27,\n    \"NOME\": \"Bruno Correia Vidigal de Vasconcellos\",\n    \"EMAIL\": \"brunovidigal@gmail.com\",\n    \"col_3\": 5521981368478,\n    \"CPF\": \"902.947.007-06\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:18:42\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 28,\n    \"NOME\": \"Ciro Gomes da Rosa\",\n    \"EMAIL\": \"ciro@desirius.com.br\",\n    \"col_3\": 5551992408820,\n    \"CPF\": \"026.919.560-24\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 16:17:18\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 29,\n    \"NOME\": \"Ana Paula Marques Machado\",\n    \"EMAIL\": \"m.anapaula@hotmail.com\",\n    \"col_3\": 5555999300537,\n    \"CPF\": \"975.923.310-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 16:16:55\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 30,\n    \"NOME\": \"Adriana Neves\",\n    \"EMAIL\": \"adneves10@gmail.com\",\n    \"col_3\": 5561981882717,\n    \"CPF\": \"248.972.508-46\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 13:48:42\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 31,\n    \"NOME\": \"Genesio Marcondes Junior\",\n    \"EMAIL\": \"genesiomjr@gmail.com\",\n    \"col_3\": 5512982613802,\n    \"CPF\": \"266.031.858-14\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub - Ideia\",\n    \"col_8\": \"2025-09-12 12:44:02\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 32,\n    \"NOME\": \"Genesio Marcondes Junior\",\n    \"EMAIL\": \"genesiomjr@gmail.com\",\n    \"col_3\": 5512982613802,\n    \"CPF\": \"266.031.858-14\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 12:39:47\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 33,\n    \"NOME\": \"Eric Barreto Malzone\",\n    \"EMAIL\": \"ericb.malzone@gmail.com\",\n    \"col_3\": 5511966719633,\n    \"CPF\": \"347.776.728-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 15:40:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 34,\n    \"NOME\": \"Murilo Pereira Ramos\",\n    \"EMAIL\": \"professormurilo@gmail.com\",\n    \"col_3\": 5562981852447,\n    \"CPF\": \"006.586.131-03\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 01:52:12\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 35,\n    \"NOME\": \"Marcelo Ramos Pereira\",\n    \"EMAIL\": \"marcelo.ramos10@yahoo.com.br\",\n    \"col_3\": 5531998833436,\n    \"CPF\": \"585.534.286-72\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:40:31\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 36,\n    \"NOME\": \"JOAO CARLOS LOPES DE SOUZA\",\n    \"EMAIL\": \"jclsouza2004@yahoo.com.br\",\n    \"col_3\": 5521994399601,\n    \"CPF\": \"975.663.147-34\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:14:20\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 37,\n    \"NOME\": \"Ricardo Ribeiro Guimarães\",\n    \"EMAIL\": \"rgbrio@gmail.com\",\n    \"col_3\": 5561992003082,\n    \"CPF\": \"413.779.586-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 01:12:03\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 38,\n    \"NOME\": \"Ludmila de Moura\",\n    \"EMAIL\": \"artedeviajarbem@gmail.com\",\n    \"col_3\": 5513991983333,\n    \"CPF\": \"013.192.328-50\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:57:15\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 39,\n    \"NOME\": \"Virginia Lara Marçal\",\n    \"EMAIL\": \"virginiamarcal@gmail.com\",\n    \"col_3\": 5563992122339,\n    \"CPF\": \"392.650.802-72\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:57:06\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 40,\n    \"NOME\": \"Alan Kardec Viana do Nascimento Júnior\",\n    \"EMAIL\": \"kardecorum@hotmail.com\",\n    \"col_3\": 5522998796390,\n    \"CPF\": \"037.792.087-84\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:38:56\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 41,\n    \"NOME\": \"Maria de Fátima Oliveira Martins\",\n    \"EMAIL\": \"fatimamartins.sam@gmail.com\",\n    \"col_3\": 5522988335550,\n    \"CPF\": \"860.924.217-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 00:26:52\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 42,\n    \"NOME\": \"Claudia Marise Torres dos Santos Barreto\",\n    \"EMAIL\": \"claudiabarreto.iteep@gmail.com\",\n    \"col_3\": 5537991494464,\n    \"CPF\": \"777.252.206-15\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub\",\n    \"col_7\": \"LabClub\",\n    \"col_8\": \"2025-09-12 00:26:41\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 43,\n    \"NOME\": \"Luciene De Jesus Lana\",\n    \"EMAIL\": \"lucienej.lana@gmail.com\",\n    \"col_3\": 5531995879693,\n    \"CPF\": \"049.592.266-84\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:24:13\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 44,\n    \"NOME\": \"Claudia Marise Torres dos Santos Barreto\",\n    \"EMAIL\": \"claudiabarreto.iteep@gmail.com\",\n    \"col_3\": 5537991494464,\n    \"CPF\": \"777.252.206-15\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - O próximo nível\",\n    \"col_8\": \"2025-09-12 00:21:07\",\n    \"col_9\": \"\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 45,\n    \"NOME\": \"Alessander Barbosa da Silva\",\n    \"EMAIL\": \"alexsupport@live.com\",\n    \"col_3\": 5533991164917,\n    \"CPF\": \"878.577.076-00\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:19:58\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 46,\n    \"NOME\": \"Ana Paula Marques Machado\",\n    \"EMAIL\": \"m.anapaula@hotmail.com\",\n    \"col_3\": 5555999300537,\n    \"CPF\": \"975.923.310-04\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Nível 1\",\n    \"col_8\": \"2025-09-12 00:17:26\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 47,\n    \"NOME\": \"Alexandre Duarte dos Santos\",\n    \"EMAIL\": \"aduartos@gmail.com\",\n    \"col_3\": 5512997605214,\n    \"CPF\": \"291.007.678-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:08:58\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 48,\n    \"NOME\": \"Alessandra de Abreu Pestana Rodrigues\",\n    \"EMAIL\": \"alessandraapestana@gmail.com\",\n    \"col_3\": 5571996056888,\n    \"CPF\": \"159.105.568-78\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:08:48\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 49,\n    \"NOME\": \"DJALMA FLORENCIO DE SOUZA FILHO\",\n    \"EMAIL\": \"djalmasouza2710@gmail.com\",\n    \"col_3\": 5581981203307,\n    \"CPF\": \"594.507.384-91\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:02:56\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 50,\n    \"NOME\": \"LUIZ ALBERTO NICHELE\",\n    \"EMAIL\": \"lanich2014@gmail.com\",\n    \"col_3\": 5541999962535,\n    \"CPF\": \"535.977.459-20\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-12 00:00:35\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 51,\n    \"NOME\": \"Leonardo Felipe Peixoto Borsatti\",\n    \"EMAIL\": \"leofborsatti@gmail.com\",\n    \"col_3\": 5569999944262,\n    \"CPF\": \"725.125.121-34\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:58:06\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 52,\n    \"NOME\": \"IvaNa Maria FRanco Ribeiro\",\n    \"EMAIL\": \"ivanamfribeiro@gmail.com\",\n    \"col_3\": 5511974609092,\n    \"CPF\": \"040.343.618-40\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:56:04\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  },\n  {\n    \"row_number\": 53,\n    \"NOME\": \"Lucas Pereira de Almeida\",\n    \"EMAIL\": \"lpalmeidabh@gmail.com\",\n    \"col_3\": 5531984836364,\n    \"CPF\": \"012.206.946-30\",\n    \"col_5\": \"CPF\",\n    \"col_6\": \"LabClub - O próximo nível\",\n    \"col_7\": \"LabClub - Diamond\",\n    \"col_8\": \"2025-09-11 23:55:16\",\n    \"col_9\": \"LABCLUB\",\n    \"Status do agendamento\": \"\",\n    \"Primeira Consultoria \": \"\",\n    \"NOME2\": \"\",\n    \"NOME3\": \"\",\n    \"Segunda Consultoria \": \"\",\n    \"NOME5\": \"\",\n    \"NOME6\": \"\",\n    \"Terceira Consultoria \": \"\",\n    \"NOME8\": \"\",\n    \"NOME9\": \"\"\n  }\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,208],"id":"df4f69a5-2501-4e5b-a0bc-415a447fcb69","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-368,208],"id":"b2a181b0-3899-439e-9fce-6303ec0559c7","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-144,208],"id":"8dda4aa8-d0b5-4ad3-895a-cacc80f993da","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"0cf5e957-dc76-4abe-8fbc-28d50f01d063","name":"contato","value":"={\n  \"email\": \"{{ $json.EMAIL }}\",\n  \"telefone\": \"{{ $json.col_3 }}\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,208],"id":"b5e0d80b-6194-4415-9d6c-e8df87c436c3","name":"Edit Fields2"},{"parameters":{"jsCode":"// junta todos os emails se existirem\nconst emails = items.map(item => item.json.data).filter(e => e && e.trim() !== \"\").join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      emails: emails || \"Nenhum email encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,32],"id":"078468bd-c79d-4be2-9456-03700a48f806","name":"Nao assinados Whatsapp"},{"parameters":{"jsCode":"// Pega todos os signers[0].email dos itens\nconst emails = items\n  .map(item => item.json?.signers?.[0]?.email) // acessa seguro\n  .filter(email => email && email.trim() !== \"\") // só mantém os válidos\n  .join(\"\\n\"); // junta em uma string com quebra de linha\n\nreturn [\n  {\n    json: {\n      emails: emails || \"Nenhum email encontrado\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,224],"id":"85bd3de9-a84d-406d-a5df-3eccf467b8a4","name":"Assinados Whatsapp"},{"parameters":{"fieldToSplitOut":"enviados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2176,464],"id":"4a04f2ea-83ee-4eff-a48a-cfcefda57b2f","name":"Split Out3"},{"parameters":{"jsCode":"// ---- inputs de outros nós\nconst tokendocumento  = $('Detalhar documentos').first().json.token;\nconst tokenassinante  = $('Edit Fields').first().json['token-assinante'];\nconst email           = $('Se nao é adm').first().json.signers?.[0]?.email || \"\";\n\n// ---- util: sanitiza e divide número em country/number\nfunction splitPhone(raw) {\n  const digitsRaw = String(raw || '').replace(/\\D+/g, ''); // só dígitos\n  if (!digitsRaw) return { phone_country: '', phone_number: '' };\n\n  // Casos comuns\n  if (digitsRaw.startsWith('55') && digitsRaw.length >= 12) {\n    return { phone_country: '55', phone_number: digitsRaw.slice(2) };\n  }\n  if (digitsRaw.startsWith('1') && digitsRaw.length === 11) { // EUA/Canadá: 1 + 10\n    return { phone_country: '1', phone_number: digitsRaw.slice(1) };\n  }\n\n  // Genérico: se veio com DDI (comprimento > 11), assume DDI com 2 dígitos\n  if (digitsRaw.length > 11) {\n    return { phone_country: digitsRaw.slice(0, 2), phone_number: digitsRaw.slice(2) };\n  }\n\n  // Se não veio DDI, assume BR por padrão\n  return { phone_country: '55', phone_number: digitsRaw };\n}\n\n// ---- busca no input o contato pelo email e extrai telefone\nlet numero = '';\nif (email) {\n  const alvo = email.trim().toLowerCase();\n  for (const it of items) {\n    const c = it.json?.contato;\n    if (!c) continue;\n    const e = String(c.email || '').trim().toLowerCase();\n    if (e === alvo) {\n      numero = String(c.telefone ?? '').trim();\n      break;\n    }\n  }\n}\n\nconst { phone_country, phone_number } = splitPhone(numero);\n\n// ---- saída única com os campos necessários\nreturn [{\n  json: {\n    tokendocumento,\n    tokenassinante,\n    email,\n    phone_country,\n    phone_number\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,464],"id":"d3cc8e6b-8acd-4a3e-832b-864adc670e47","name":"Code"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.phone_country }}{{ $json.phone_number }}"},{"name":"text","value":"=Olá {{ $json.email }}!\n\nA Camozzi Consultoria enviou o documento “{{ $('Detalhar documentos').first().json.name }}” para assinatura via ZapSign.\n\nAcesse e assine pelo link: {{ $('Detalhar documentos').first().json.signers[0].sign_url }}\n\n\nDúvidas ou solicitações: envie um e-mail para juridico06@camozziconsultoria.com.br.\n\n_Este WhatsApp é apenas informativo e não responde mensagens._\n\nC&D Blindagem Digital | Camozzi Consultoria"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,656],"id":"07f30c2e-0590-41af-a193-1a3f763b2b90","name":"Enviando msg3"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2848,656],"id":"078756e2-2e80-43be-a64b-02f5c030a521","name":"Wait","webhookId":"2bf2ae0a-f55a-49d9-a912-b64e5b66154a"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422037139921@g.us"},{"name":"text","value":"=Whatsapp enviado para cliente abaixo:\n\n{{ $json.email }}\n+{{ $json.phone_country }}{{ $json.phone_number }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,464],"id":"b0e1ea49-ede4-4685-80a6-664afe3ae61f","name":"Enviando msg4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Envio - ZapSign":{"main":[[{"node":"Se tem mais paginas","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Split Out1","type":"main","index":0}],[{"node":"Envio - ZapSign1","type":"main","index":0}]]},"Envio - ZapSign1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Se tem mais paginas":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"All docs","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"All docs","type":"main","index":1}]]},"All docs":{"main":[[{"node":"Verificar Pendentes","type":"main","index":0}]]},"Verificar Pendentes":{"main":[[{"node":"Nao assinados Whatsapp","type":"main","index":0},{"node":"Assinados Whatsapp","type":"main","index":0}],[{"node":"Se pendente","type":"main","index":0}]]},"Detalhar documentos":{"main":[[{"node":"Se nao é adm","type":"main","index":0}]]},"Se pendente":{"main":[[{"node":"Detalhar documentos","type":"main","index":0}],[]]},"Se nao é adm":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Verificar Pendentes","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Verificar Pendentes","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviando msg2","type":"main","index":0}]]},"Enviando msg2":{"main":[[{"node":"Envio - ZapSign","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Nao assinados Whatsapp":{"main":[[{"node":"Enviando msg","type":"main","index":0}]]},"Assinados Whatsapp":{"main":[[{"node":"Enviando msg1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Enviando msg3","type":"main","index":0},{"node":"Enviando msg4","type":"main","index":0}]]},"Enviando msg3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Verificar Pendentes","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}