my-workflow-34-uYeiyeaS1bnl2SQbimv2j.json
{"updatedAt":"2026-01-21T14:12:29.271Z","createdAt":"2026-01-21T14:11:34.264Z","id":"uYeiyeaS1bnl2SQbimv2j","name":"My workflow 34","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/convai/sip-trunk/outbound-call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"sk_5a072079f58db526baf5c637a0d32d0465cdd1e21f2088cf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"agent_id\": \"agent_7001kemg5wsjfjtstb6xj33hn35f\",\n  \"agent_phone_number_id\": \"phnum_3701kbzszq9fex1a8xgnzgksc4gh\",\n  \"to_number\": \"5562994342576\",\n  \"conversation_initiation_client_data\": {\n    \"type\": \"conversation_initiation_client_data\",\n    \"dynamic_variables\": {\n      \"pronome\": \"{{ $json.output.pronome }}\",\n      \"name\": \"MIQUÉIAS\",\n      \"nome_completo\": \"MIQUÉIAS COSTA BRANDÃO\",\n      \"artigo_genero\": \"{{ $json.output.artigo_genero }}\",\n      \"pronome_pessoal\": \"{{ $json.output.pronome_pessoal }}\",\n      \"saudacao\": \"{{ $json.output.saudacao }}\",\n      \"cpf_inicio\": \"{{ $json.output.cpf_inicio }}\",\n      \"cpf_inicio_extenso\": \"{{ $json.output.cpf_inicio_extenso }}\",\n      \"data_nascimento\": \"06/01/2025\",\n      \"data_nascimento_extenso\": \"{{ $json.output.data_nascimento_extenso }}\",\n      \"banco\": \"2231\",\n      \"banco_extenso\": \"{{ $json.output.banco_extenso }}\",\n      \"agencia\": \"0001\",\n      \"agencia_extenso\": \"{{ $json.output.agencia_extenso }}\",\n      \"conta\": \"0214\",\n      \"conta_extenso\": \"{{ $json.output.conta_extenso }}\",\n      \"ddd\": \"5562994342576\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-48],"id":"865140f8-a4ad-4916-a2d2-9d8e3c265e0b","name":"Agente Gabriela","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Data e Hora atual: [DateTime: 2025-12-18T14:36:37.534-03:00]\ncpf_inicio 617539\n\nOutros dados:\nid,codigo,nome,doc_cpf_cnpj,data_nascimento,email,end_bairro,end_logradouro,end_cidade,end_cep,end_estado,id_banco,banco_agencia,banco_conta,digito_conta,vlr_beneficio,num_beneficio,ged_produto,telefone\n65449,6175397827,ANTONIO NATAL MARTINS,6175397827,05/04/1955,antonio.n@hotmail.com,CENTRO,EMILIO TOZONI 1060,MANDURI,18780000,SP,237,2070,5868,8,1518,5485450985,SEMPREODONTO,5514999037288","hasOutputParser":true,"options":{"systemMessage":"=### 3. NORMALIZAÇÃO POR TIPO DE DADO (OBRIGATÓRIA)\n\nCada campo numérico DEVE ser convertido conforme o **tipo semântico do dado**, e NÃO como número matemático.\n\n---\n\n#### CPF (`cpf_inicio_extenso`)\n\n- Tratar CPF como **identificador**\n- Converter **dígito por dígito**\n- Separar por espaço\n- Nunca usar milhares, milhões ou agrupamentos\n\nExemplo:\n- `596148` → `\"cinco nove seis um quatro oito\"`\n\n---\n\n#### DATA DE NASCIMENTO (`data_nascimento_extenso`)\n\n- Tratar como **fala humana natural**\n- Formato obrigatório:\n  `\"dia por extenso de mês por extenso de ano por extenso\"`\n\nExemplo:\n- `03/10/1960` → `\"três de outubro de mil novecentos e sessenta\"`\n\n---\n\n#### BANCO (`banco_extenso`)\n\n- Tratar como **código numérico**\n- Ler **dígito por dígito**\n- Nunca converter como quantidade\n\nExemplo:\n- `237` → `\"dois três sete\"`\n\n---\n\n#### AGÊNCIA (`agencia_extenso`)\n\n- Tratar como **identificador bancário**\n- Ler **dígito por dígito**\n\nExemplo:\n- `174` → `\"um sete quatro\"`\n\n---\n\n#### CONTA (`conta_extenso`)\n\n- Tratar como **identificador bancário**\n- Ler **dígito por dígito**\n- Ignorar qualquer noção de valor numérico\n\nExemplo:\n- `1070` → `\"um zero sete zero\"`\n\n---\n\n⚠️ REGRA ABSOLUTA  \nSe o campo representa um **identificador**, **NUNCA** use termos como:\n- mil\n- milhão\n- bilhão\n- centenas\n- dezenas\n\nSempre **dígito por dígito**.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[112,-48],"id":"6a3e6ae2-9a67-4582-a2f5-67a3c6f7812a","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[96,176],"id":"6708da41-dae6-4f72-b8c4-95f0e535ede4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"pronome\": \"Sr.\",\n  \"artigo_genero\": \"o\",\n  \"pronome_pessoal\": \"ele\",\n  \"saudacao\": \"Prezado\",\n  \"cpf_inicio\": \"123\",\n  \"cpf_inicio_extenso\": \"cento e vinte e três\",\n  \"data_nascimento_extenso\": \"vinte e três de maio de mil novecentos e noventa\",\n  \"banco_extenso\": \"Banco do Brasil\",\n  \"agencia_extenso\": \"um dois três quatro\",\n  \"conta_extenso\": \"quatro cinco seis sete oito nove\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[272,176],"id":"97166f04-c6b6-4883-8e50-4ca12d4ff586","name":"Structured Output Parser"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,-48],"id":"a262e521-23a9-4e97-a102-5aec7cc832a7","name":"When clicking ‘Execute workflow’"}],"connections":{"AI Agent":{"main":[[{"node":"Agente Gabriela","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86579f4a-ec93-49cd-aa07-631eb75b5bc7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-21T14:11:34.264Z","createdAt":"2026-01-21T14:11:34.264Z","role":"workflow:owner","workflowId":"uYeiyeaS1bnl2SQbimv2j","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}