my-workflow-17-mXtoaCcRHidDFVdE.json
{"updatedAt":"2025-08-14T19:41:19.155Z","createdAt":"2025-08-13T18:56:13.676Z","id":"mXtoaCcRHidDFVdE","name":"My workflow 17","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Nova Demanda","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-160,-64],"id":"1ef42772-d7ed-423c-9856-bf975bd9ef3e","name":"On form submission","webhookId":"db9e77c1-67b3-4264-ac6d-b6ca8b952baf"},{"parameters":{"formFields":{"values":[{"fieldLabel":"teste second","placeholder":"={{ $json.submittedAt }}"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[288,-64],"id":"9800f147-4fd5-4497-bbda-8f06e6859535","name":"Form","webhookId":"ba0e6bbd-05f7-4863-9285-21cd67922529"},{"parameters":{"jsCode":"// Cria 10 itens iniciais\nconst items = [\n  { json: { id: 1, nome: \"Item 1\" } },\n  { json: { id: 2, nome: \"Item 2\" } },\n  { json: { id: 3, nome: \"Item 3\" } },\n  { json: { id: 4, nome: \"Item 4\" } },\n  { json: { id: 5, nome: \"Item 5\" } },\n  { json: { id: 6, nome: \"Item 6\" } },\n  { json: { id: 7, nome: \"Item 7\" } },\n  { json: { id: 8, nome: \"Item 8\" } },\n  { json: { id: 9, nome: \"Item 9\" } },\n  { json: { id: 10, nome: \"Item 10\" } }\n];\n\n// Adiciona o campo 'myNewField' = 1 para cada item\nfor (const item of items) {\n  item.json.myNewField = 1;\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-64],"id":"05f0ca03-4cf2-4208-9ebc-d9f770ae0def","name":"Code"}],"connections":{"On form submission":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74ea144a-74b5-4030-83ff-c6b53b0f22bd","activeVersionId":"74ea144a-74b5-4030-83ff-c6b53b0f22bd","triggerCount":1,"shared":[{"updatedAt":"2025-08-13T18:56:13.676Z","createdAt":"2025-08-13T18:56:13.676Z","role":"workflow:owner","workflowId":"mXtoaCcRHidDFVdE","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"74ea144a-74b5-4030-83ff-c6b53b0f22bd","workflowId":"mXtoaCcRHidDFVdE","nodes":[{"parameters":{"formTitle":"Nova Demanda","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-160,-64],"id":"1ef42772-d7ed-423c-9856-bf975bd9ef3e","name":"On form submission","webhookId":"db9e77c1-67b3-4264-ac6d-b6ca8b952baf"},{"parameters":{"formFields":{"values":[{"fieldLabel":"teste second","placeholder":"={{ $json.submittedAt }}"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[288,-64],"id":"9800f147-4fd5-4497-bbda-8f06e6859535","name":"Form","webhookId":"ba0e6bbd-05f7-4863-9285-21cd67922529"},{"parameters":{"jsCode":"// Cria 10 itens iniciais\nconst items = [\n  { json: { id: 1, nome: \"Item 1\" } },\n  { json: { id: 2, nome: \"Item 2\" } },\n  { json: { id: 3, nome: \"Item 3\" } },\n  { json: { id: 4, nome: \"Item 4\" } },\n  { json: { id: 5, nome: \"Item 5\" } },\n  { json: { id: 6, nome: \"Item 6\" } },\n  { json: { id: 7, nome: \"Item 7\" } },\n  { json: { id: 8, nome: \"Item 8\" } },\n  { json: { id: 9, nome: \"Item 9\" } },\n  { json: { id: 10, nome: \"Item 10\" } }\n];\n\n// Adiciona o campo 'myNewField' = 1 para cada item\nfor (const item of items) {\n  item.json.myNewField = 1;\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-64],"id":"05f0ca03-4cf2-4208-9ebc-d9f770ae0def","name":"Code"}],"connections":{"On form submission":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Form","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}