my-workflow-2-NLCjAd9oY3E1XvV8.json
{"updatedAt":"2025-05-09T15:37:58.610Z","createdAt":"2025-05-09T14:36:43.567Z","id":"NLCjAd9oY3E1XvV8","name":"My workflow 2","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Anotação do fluxo\n** Este fluxo vai receber o evento, esperar 30 minutos e avisar novamente sobre a solicitação","width":700},"type":"n8n-nodes-base.stickyNote","position":[-120,-320],"typeVersion":1,"id":"2df48db3-d583-40f7-8f13-7acce2be70ed","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"grupo-id"},{"name":"mensagem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-120],"id":"e7b5fa6a-50ae-4ccb-97d3-6610a440813e","name":"Espera o gatilho no outro fluxo"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[180,-120],"id":"6daa3aee-33f4-4dac-8e0e-fd128d3e30b3","name":"Espera 30 minutos","webhookId":"23f2b4fa-57a0-4b94-b038-7d04003af2f7"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `msg`\n  WHERE `grupo-id` = \"{{ $('Espera o gatilho no outro fluxo').item.json['grupo-id'] }}\"","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[440,-120],"id":"68d9926e-a20f-4fad-83b8-61dc8417fea9","name":"SQL das mensagem do grupo","alwaysOutputData":true,"credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"promptType":"define","text":"={{ $('SQL das mensagem do grupo').all() }}","hasOutputParser":true,"options":{"systemMessage":"Vc é um assistente que vai identificar se nossa equipe respondeu o cliente.\nNossa empresa é a C&D Blindagem Digital, se vc encontrar este nome em uma assinatura das mensagens de whatsapp abaixo, somente retorne 'false', se não, retorne 'true'\n\nTambém identifique se o número 556296961111@c.us mandou mensagem, também é da nossa equipe, considere as orientações para ele também.\n\nSe não receber nada, retorne 'true'\n\nO padrão da resposta desejada é: \n\n\"return\" : false ou true"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[720,-120],"id":"1cb6dfdc-8f51-472d-975a-a878720fc900","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,120],"id":"5d0aedbd-2bd8-4783-af0c-4945db28f14f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"73zR8e7wjf7OCHDR","name":"Agent-wzap"}}},{"parameters":{"jsonSchemaExample":"{\n   \"return\" : false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[980,100],"id":"6f86f66b-c5d0-4a74-ab5d-f65c17a28d3b","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b11464d-8489-4480-9d66-226afd6caaaf","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,-120],"id":"30d7d67c-9396-410c-9961-f1bb2407d3bf","name":"If"},{"parameters":{"method":"POST","url":"https://prod-47.westus.logic.azure.com:443/workflows/3343502ad0ce480f81e43f20d241ca23/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1MqeEff1-YgI5EQZBRKxDJbrHFp1aXUi9sP4ZCPhods","sendBody":true,"bodyParameters":{"parameters":[{"name":"=email","value":"ti01@camozziconsultoria.com.br"},{"name":"mensagem","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,-120],"id":"3fa38f7a-d691-4ba4-ac42-eb8158159e54","name":"Teams - Enviar segundo aviso"}],"connections":{"Espera o gatilho no outro fluxo":{"main":[[{"node":"Espera 30 minutos","type":"main","index":0}]]},"Espera 30 minutos":{"main":[[{"node":"SQL das mensagem do grupo","type":"main","index":0}]]},"SQL das mensagem do grupo":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Teams - Enviar segundo aviso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Espera o gatilho no outro fluxo":[{"json":{"grupo-id":"120363027444232484@g.us","mensagem":"PRIMEIRO AVISO"}}]},"versionId":"b27bd92a-e699-4091-8dca-752cf0c40d49","activeVersionId":"b27bd92a-e699-4091-8dca-752cf0c40d49","triggerCount":0,"shared":[{"updatedAt":"2025-05-09T14:36:43.567Z","createdAt":"2025-05-09T14:36:43.567Z","role":"workflow:owner","workflowId":"NLCjAd9oY3E1XvV8","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"b27bd92a-e699-4091-8dca-752cf0c40d49","workflowId":"NLCjAd9oY3E1XvV8","nodes":[{"parameters":{"content":"## Anotação do fluxo\n** Este fluxo vai receber o evento, esperar 30 minutos e avisar novamente sobre a solicitação","width":700},"type":"n8n-nodes-base.stickyNote","position":[-120,-320],"typeVersion":1,"id":"2df48db3-d583-40f7-8f13-7acce2be70ed","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"grupo-id"},{"name":"mensagem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-120],"id":"e7b5fa6a-50ae-4ccb-97d3-6610a440813e","name":"Espera o gatilho no outro fluxo"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[180,-120],"id":"6daa3aee-33f4-4dac-8e0e-fd128d3e30b3","name":"Espera 30 minutos","webhookId":"23f2b4fa-57a0-4b94-b038-7d04003af2f7"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `msg`\n  WHERE `grupo-id` = \"{{ $('Espera o gatilho no outro fluxo').item.json['grupo-id'] }}\"","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[440,-120],"id":"68d9926e-a20f-4fad-83b8-61dc8417fea9","name":"SQL das mensagem do grupo","alwaysOutputData":true,"credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"promptType":"define","text":"={{ $('SQL das mensagem do grupo').all() }}","hasOutputParser":true,"options":{"systemMessage":"Vc é um assistente que vai identificar se nossa equipe respondeu o cliente.\nNossa empresa é a C&D Blindagem Digital, se vc encontrar este nome em uma assinatura das mensagens de whatsapp abaixo, somente retorne 'false', se não, retorne 'true'\n\nTambém identifique se o número 556296961111@c.us mandou mensagem, também é da nossa equipe, considere as orientações para ele também.\n\nSe não receber nada, retorne 'true'\n\nO padrão da resposta desejada é: \n\n\"return\" : false ou true"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[720,-120],"id":"1cb6dfdc-8f51-472d-975a-a878720fc900","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,120],"id":"5d0aedbd-2bd8-4783-af0c-4945db28f14f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"73zR8e7wjf7OCHDR","name":"Agent-wzap"}}},{"parameters":{"jsonSchemaExample":"{\n   \"return\" : false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[980,100],"id":"6f86f66b-c5d0-4a74-ab5d-f65c17a28d3b","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b11464d-8489-4480-9d66-226afd6caaaf","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,-120],"id":"30d7d67c-9396-410c-9961-f1bb2407d3bf","name":"If"},{"parameters":{"method":"POST","url":"https://prod-47.westus.logic.azure.com:443/workflows/3343502ad0ce480f81e43f20d241ca23/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1MqeEff1-YgI5EQZBRKxDJbrHFp1aXUi9sP4ZCPhods","sendBody":true,"bodyParameters":{"parameters":[{"name":"=email","value":"ti01@camozziconsultoria.com.br"},{"name":"mensagem","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,-120],"id":"3fa38f7a-d691-4ba4-ac42-eb8158159e54","name":"Teams - Enviar segundo aviso"}],"connections":{"Espera o gatilho no outro fluxo":{"main":[[{"node":"Espera 30 minutos","type":"main","index":0}]]},"Espera 30 minutos":{"main":[[{"node":"SQL das mensagem do grupo","type":"main","index":0}]]},"SQL das mensagem do grupo":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Teams - Enviar segundo aviso","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}