my-workflow-14-amFTRTU6HMe8P3og.json
{"updatedAt":"2025-07-30T14:06:47.033Z","createdAt":"2025-07-29T20:46:57.832Z","id":"amFTRTU6HMe8P3og","name":"My workflow 14","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"13pf03lcl6luJFPE5QUgDPzqzW6Wg7GKu","mode":"list","cachedResultName":"Biglia adv LBBR","cachedResultUrl":"https://drive.google.com/drive/folders/13pf03lcl6luJFPE5QUgDPzqzW6Wg7GKu"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,16],"id":"e15c8772-38e2-4d25-894c-051d891b561d","name":"Search files and folders1","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[688,32],"id":"3d45b1c3-8dd9-49f0-8de6-533e3d0cee3c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1552,16],"id":"324e6fab-cca1-4014-8f24-adc5e3306d74","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1104,32],"id":"69532854-3471-423a-bcdd-40228833c9ae","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1312,16],"id":"ba4b84ca-3681-4ae6-b815-7fb552f0c238","name":"Convert to File"},{"parameters":{"operation":"createFromText","content":"={{ $json.text }}","name":"={{ $('Download file').item.json.name }}.txt","driveId":{"__rl":true,"value":"=My Drive","mode":"id"},"folderId":{"__rl":true,"value":"1joPmOJ80QgZczv18XQT5mVlgrwWCgG_H","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1760,16],"id":"08091e49-1b36-48e8-8bd2-244a3df9e3df","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,16],"id":"538f1e63-6989-4817-a4a6-d5b7c8e1ec7b","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e91be359-3025-4be3-a54b-7820be6dfafd","leftValue":"={{ $json.name }}","rightValue":".txt","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,32],"id":"bcfa0a6d-2872-46f8-931c-84324423c31a","name":"If"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,16],"id":"8341683e-bea5-49b1-8599-122f626267ce","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1QVwR0VxxappTm-gc-XztMTDLmte3Vr6h","mode":"list","cachedResultName":"Áudios whatsapp - Thiago Finch vs Startbet","cachedResultUrl":"https://drive.google.com/drive/folders/1QVwR0VxxappTm-gc-XztMTDLmte3Vr6h"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,320],"id":"2182721a-d01a-4074-8d1e-6e6c83b0abcd","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}}],"connections":{"Search files and folders1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"If","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Create file from text","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download file","type":"main","index":0}]]},"If":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f172d011-7799-4bbf-a4d0-e3dc45a1b845","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-07-29T20:46:57.832Z","createdAt":"2025-07-29T20:46:57.832Z","role":"workflow:owner","workflowId":"amFTRTU6HMe8P3og","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}