my-workflow-2-jwyAevTJildbhPO0.json
{"updatedAt":"2025-11-27T02:32:42.207Z","createdAt":"2025-11-27T01:15:31.463Z","id":"jwyAevTJildbhPO0","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[32,-176],"id":"babb58d1-8679-4e05-ab46-ee7f4e87cbe0","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2ebb6639-1375-47e7-8fd8-015e586a2a6d","leftValue":"={{ $json.Transcript }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f75f5c92-97bd-4b28-89fc-a54484a9de6c","leftValue":"={{ $json['Download URL'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"aee2bb44-579c-4d5f-8733-4456dfccf066","leftValue":"={{ $json['Transcribed?'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"ba985884-bedd-4955-af87-e335f0024d3b","leftValue":"={{ $json['Creator Rank'] }}","rightValue":4,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,320],"id":"b6714c76-227b-4346-b086-721f2486800a","name":"If","onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Competitors","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[304,-176],"id":"d10360e8-0658-4bc8-acf4-bf910b680c63","name":"Get Competitors1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"data.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,-160],"id":"3488d2eb-6929-4f1d-8793-6112f8da334f","name":"Split Out1"},{"parameters":{"url":"={{ $('get untranscribed content ideas').item.json['Download URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,320],"id":"f58e1ee7-8098-4240-9b3d-c378b7f5b138","name":"HTTP Request3","alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1456,320],"id":"d638582e-3faa-4002-898b-80117bfe6755","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[992,1008],"id":"d54e4663-3946-4b18-95b2-029f90f9470d","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"gkihv2W49Tak00rs","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=here is the script[{{ $json.Transcript }}] do not write questions for scripts with less than 80 characters. simply output scripts that have less than 80 characters as \"Little context\"","messages":{"messageValues":[{"message":"=You are a viral content strategist specializing in transforming competitor scripts into structured prompts that naturally elicit viral-worthy responses. Your expertise lies in understanding the psychological mechanics behind viral content and engineering prompts that capture core viral concepts while forcing detailed, comprehensive responses.  Task: Analyze competitor scripts[{{ $json.Transcript }}] to identify their viral elements, then craft a hyper-specific prompt that will naturally lead someone to give a detailed response containing those same viral triggers.  Steps to complete the task:  ## Viral Element Analysis Read through the provided competitor script carefully Identify which specific viral video formats it employs from these categories: - Trend-Based Formats (News Reaction, Meme Remix, \"Did You Know?\" Facts) - Wealth-Building Case Studies (Zero-to-Result Stories, Transformation Timelines, Passive Income Breakdowns, \"What I'd Do If I Started From $0\") - Expert Authority Formats (3-Step Advice, FAQ Answers, Side-by-Side Comparisons) - Lifestyle + Relatability Formats (Day in the Life, Relatable Rants, Failure Stories, \"Don't Do This\" Mistakes)  Identify which viral factors are present: - Structure elements (hook effectiveness, result-first reveal, storytelling with numbers) - Algorithm levers (share-worthy content, save-worthy insights, trending elements) - Content design elements (bold hooks, visual structure, contrasting elements) - Social proof and virality triggers (screenshots/proof, audience callouts, curiosity gaps, emotional triggers)  ## Core Concept Extraction Determine the fundamental viral concept that made the original content shareable Identify the main topic/theme that must be preserved in any response Note the specific knowledge or insight being shared that creates value  ## Prompt Engineering Strategy Design a prompt using the \"Explain + Examples\" structure that: - Uses \"Explain\" as the command word to trigger comprehensive responses - Treats the respondent like an AI that needs specific instructions - Forces them to elaborate with concrete examples, steps, or stories - Maintains the core viral concept regardless of their personal experience  Use these proven prompt structures: - \"Explain [core concept] and give me [X] specific examples...\" - \"Explain [phenomenon/problem] and walk me through the specific steps/reasons...\" - \"Explain what you think about [controversial topic] and give specific examples of...\" - \"Explain why [problem exists] and walk me through [solution process]...\" - \"Explain how [process works] and give me [X] examples of how you've seen this play out...\"  ## Hyper-Specificity Requirements Make the prompt force detailed responses by: - Requesting specific numbers of examples (3-5 examples, specific steps, etc.) - Asking for \"walk me through\" explanations that require step-by-step breakdowns - Including \"and explain why/how\" to force deeper elaboration - Targeting the core concept so any response will contain the viral elements  ## Response Programming Ensure the prompt programs the respondent to: - Talk for at least a minute straight to fully explain everything - Maintain the topic throughout their response - Share their core beliefs and ideas on the subject - Provide concrete, specific details rather than generic advice - Include the same fundamental concept that made the original viral  ## Final Prompt Optimization Ensure the prompt: - Is conversational and natural for a chat setting - Forces comprehensive responses that capture core beliefs - Maintains the viral concept regardless of personal experience differences - Creates \"fool-proof\" responses where there are few ways to avoid the topic - Generates content that can be restructured into viral scripts  ## CRITICAL SUCCESS FACTORS: - The prompt must force the respondent to \"yap for a minute straight\" while staying on topic - Any response should capture their core belief and idea about the subject - The fundamental viral concept must be preserved even if their personal story differs - Responses should require restructuring but contain all necessary viral elements  ## CRITICAL MISTAKES TO AVOID: - Never create compound questions with \"and\" connecting two separate questions - keep it as ONE clean prompt only - Avoid redundant language where you mention the same concept twice - Always frame prompts about the target audience (entrepreneurs, business owners, etc.) not about the expert/speaker directly - Ensure logical flow - the prompt must naturally lead to comprehensive responses - Never use simple yes/no questions or anything answerable in under 10 words  ## Output Requirements: Output format: The final prompt only, with no additional text, commentary, analysis, or explanation Length: The prompt should be conversational length but include specific instructions for response structure Tone: Natural, commanding (using \"Explain\"), specific enough to trigger detailed responses Content: Must be engineered to naturally elicit comprehensive responses containing the viral elements identified in the script  ## Template: Explain [core viral concept] and [specific instruction for examples/steps/elaboration]  ## Review and Refinement: Before outputting your final prompt, verify: - Does this prompt force a comprehensive response that maintains the core viral concept? - Will the respondent have to \"yap for a minute straight\" to fully answer this? - Is it specific enough with clear instructions for what type of response to give? - Does it capture their core beliefs and ideas on the topic? - Is it ONE clean prompt without compound structure? - Does it avoid redundant language? - Is it properly framed about the target audience, not the expert personally? - Will any response to this contain the viral elements from the original script?  CRITICAL OUTPUT REQUIREMENT: You must output ONLY the final prompt. Any response containing analysis, explanation, commentary, or additional text beyond the single prompt is invalid and unacceptable."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1040,768],"id":"121b8d21-7f10-437c-a026-4e439a922cb9","name":"Basic LLM Chain"},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,784],"id":"c5e8c1ff-916e-480e-80b9-27c9153e33b9","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93eb0bf4-17f6-4340-b98f-4aab9f5daad3","leftValue":"={{ $json.Transcript }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e8f1f7ea-93bf-4753-b4d6-7ff084316c5c","leftValue":"={{ $json['Question 1'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,784],"id":"d3d24c06-9b69-4cdb-8b84-5b3ce3b8d39a","name":"If1"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,304],"id":"748133a0-07c5-4de6-8786-14d5de296f85","name":"Loop Over Items","alwaysOutputData":false,"executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1696,528],"id":"2c7093aa-21c1-4108-8cfe-02c943180ab7","name":"Wait","webhookId":"04496720-6c39-4038-92ab-0e686610af88"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sN-sP-x-gbn_qkfwq1Ogv-4lHWAQUj9bEmU53V4QlJY/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"Video URL":"={{ $('Get row(s) in sheet1').item.json['Video URL'] }}","Question 1":"={{ $json.text }}"},"matchingColumns":["Video URL"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1456,768],"id":"8ee2b85c-ecf3-4a51-9bc0-cb748ee5d855","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-176],"id":"fbf024c1-ff6c-4e70-a108-77bb44085c83","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[928,64],"id":"efc7f06e-2585-4c87-9d81-be54567225a2","name":"Wait1","webhookId":"7522df80-5295-46df-be88-c95e98a0ce3b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sN-sP-x-gbn_qkfwq1Ogv-4lHWAQUj9bEmU53V4QlJY/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"Video URL":"=https://www.instagram.com/reel/{{ $json.code }}","Username":"={{ $json.user.username }}","Views":"={{ $json.ig_play_count }}","Likes":"={{ $json.like_count }}","Download URL":"={{ $json.clips_metadata.original_sound_info.progressive_download_url }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1392,-144],"id":"e8c8673c-8645-441e-839e-4f0d8f6cea44","name":"put their content on ideas sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,320],"id":"2ea5b2c4-9639-49c8-b390-9a10fefc4627","name":"get untranscribed content ideas","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sN-sP-x-gbn_qkfwq1Ogv-4lHWAQUj9bEmU53V4QlJY/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('get untranscribed content ideas').item.json.row_number }}","Username":"={{ $('get untranscribed content ideas').item.json.Username }}","Video URL":"={{ $('get untranscribed content ideas').item.json['Video URL'] }}","Views":"={{ $('get untranscribed content ideas').item.json.Views }}","Likes":"={{ $('get untranscribed content ideas').item.json.Likes }}","Transcript":"={{ $json.text }}","Creator Rank":"={{ $('get untranscribed content ideas').item.json['Creator Rank'] }}","Download URL":"={{ $('get untranscribed content ideas').item.json['Download URL'] }}","Transcribed?":"TRUE"},"matchingColumns":["row_number"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1712,304],"id":"56de0c88-6061-4eac-997c-7923eb13200c","name":"Update row in sheet1","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://instagram-scraper-20251.p.rapidapi.com/userinfo/?username_or_id=instagram","sendQuery":true,"queryParameters":{"parameters":[{"name":"username_or_id_or_url","value":"={{ $json['Competitor URL'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-scraper-20251.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"cf9a2594c9msh534bae635849bf9p14e0d9jsnf657b1e44bb2"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"pagination_token","value":"={{ $response.body.pagination_token }}"}]},"limitPagesFetched":true,"maxRequests":15,"requestInterval":5000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-160],"id":"d9adf005-60fa-4191-a24d-af97683e571b","name":"Rapid Api","retryOnFail":false,"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Competitors1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Competitors1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"put their content on ideas sheet","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Update row in sheet1","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Rapid Api","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"get untranscribed content ideas":{"main":[[{"node":"If","type":"main","index":0}]]},"Rapid Api":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"657a93dc-78dd-4437-80f4-6f04b6ddeaf9","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T01:15:31.463Z","createdAt":"2025-11-27T01:15:31.463Z","role":"workflow:owner","workflowId":"jwyAevTJildbhPO0","projectId":"BlSED80HESP48veq"}],"tags":[{"updatedAt":"2025-11-27T00:53:11.583Z","createdAt":"2025-11-27T00:53:11.583Z","id":"ZeO4sWGPR8cjBbK6","name":"Social Media Data Scrape"}]}