newsletter-VnWeApJWtLwGG4q0.json
{"updatedAt":"2025-05-12T15:47:18.943Z","createdAt":"2025-05-12T14:52:56.920Z","id":"VnWeApJWtLwGG4q0","name":"NewsLetter","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"bad70ca5-b2f9-4c8f-957b-49c0594c868e","name":"Daily Trigger 8AM","type":"n8n-nodes-base.cron","typeVersion":1,"position":[740,-100]},{"parameters":{"url":"https://news.google.com/rss?hl=pt-BR&gl=BR&ceid=BR:pt-419","responseFormat":"string","options":{}},"id":"947c54bc-9da1-426f-8934-2c7bde3fbde8","name":"Get Google News RSS","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[940,-100]},{"parameters":{"options":{}},"id":"fcdd314a-17e0-4430-a754-5cb103cd9e77","name":"Parse XML","type":"n8n-nodes-base.xml","typeVersion":1,"position":[1160,-100]},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Miqueias","remoteJid":"5562994342576","media":"={{ $json.url }}","caption":"={{ $('Parse XML').item.json.rss.channel.item[0].title }}\n\nLeia mais em: {{ $('Parse XML').item.json.rss.channel.item[0].link }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1580,-100],"id":"c0474499-19e7-4511-ba82-ffce49d4b78f","name":"Evolution API","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"resource":"image","prompt":"=Você é um designer de uma newsletter e precisa gerar essa imagem de acordo com o titulo da noticia, cria imagem realista e que não fuja da realidade, deve ser uma imagem de um noticiario. Não use escritas na imagem.\n\n{{ $json.rss.channel.item[0].title }}","options":{"quality":"hd","size":"1024x1024","style":"vivid","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1380,-100],"id":"df38ae68-0660-40c2-bac0-b1c78bc4e060","name":"OpenAI","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}}],"connections":{"Daily Trigger 8AM":{"main":[[{"node":"Get Google News RSS","type":"main","index":0}]]},"Get Google News RSS":{"main":[[{"node":"Parse XML","type":"main","index":0}]]},"Parse XML":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Evolution API":{"main":[[]]},"OpenAI":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3610a117-45f4-4bc8-a6a4-572057eff6aa","triggerCount":0,"shared":[{"updatedAt":"2025-05-12T14:52:56.920Z","createdAt":"2025-05-12T14:52:56.920Z","role":"workflow:owner","workflowId":"VnWeApJWtLwGG4q0","projectId":"BlSED80HESP48veq"}],"tags":[]}