notion---dump-list-LG6q4n4fFl4j7vD0.json
{"updatedAt":"2025-05-12T18:35:07.412Z","createdAt":"2025-04-28T15:53:25.709Z","id":"LG6q4n4fFl4j7vD0","name":"Notion - Dump List","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8b4c853d-ea05-4fe6-aca9-7f38eb25e652","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1100,440],"id":"38456115-7914-4157-82c6-02c299e7b3f8","name":"Webhook","webhookId":"8b4c853d-ea05-4fe6-aca9-7f38eb25e652"},{"parameters":{"team":"3052532","space":"61001745","folder":"90136698160","list":"901311168312","name":"={{ $json.body.data.properties.Nome.title[0].text.content }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-40,-820],"id":"596b2420-304a-434f-b627-f6593af728c6","name":"Cria Task","credentials":{"clickUpApi":{"id":"8OkBpNyLS6118fuy","name":"ClickUp Claudio"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"A\": \"836bea41-bfd3-4897-938b-78d8bf056dcf\",\n  \"B\": \"6fa98d59-6436-467c-8a6d-3ddb2130a58c\",\n  \"C\": \"1ad14481-e5e5-4b20-9f86-cf4b249caf76\",\n  \"D\": \"186e1ae4-9b80-4fb0-a09e-39b0b7f65605\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-100],"id":"c8c16486-2434-4344-ab43-6f2769a24ec6","name":"Variaveis"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"A","operator":{"type":"string","operation":"equals"},"id":"f2685581-5e5b-4e4c-aaae-13343cd7d8bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"A"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af98ae82-3e4d-425b-8042-4ecc93afff0f","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"B","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"B"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ce267fe-851c-485e-8791-5220f59d2794","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"C","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"C"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cd97a74-83d3-44f3-8f7c-3433b1e21268","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"D","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ccee059-9ad6-46eb-816f-c8d0d13e1bec","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"P","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"P"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,-140],"id":"6dc922f3-e368-4eb4-99ae-1cb80f5fd0e1","name":"Switch"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.A }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-420],"id":"cfffc94b-a165-4b98-88ba-c70a8067a235","name":"CLASSE A","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.B }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-260],"id":"86ee5713-c4b6-4b21-bf22-d3d47aad36cd","name":"CLASSE B","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.C }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-100],"id":"68233c1b-757d-494f-a8d5-59395279e84c","name":"CLASSE C","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.D }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,60],"id":"5824ef86-b338-4305-94e6-37e771f8a0dc","name":"CLASSE D","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.P }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,220],"id":"2257a6dd-a328-48a1-959e-c72fcb0f16a9","name":"CLASSE P","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08880ce9-fd6f-40a6-90bc-a69cdc12f1d7","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"4 Incubado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-460,1540],"id":"e8723ea4-4e9e-4dfe-8827-6e6b45d5a123","name":"Se for Incubado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08880ce9-fd6f-40a6-90bc-a69cdc12f1d7","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"1 Projeto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b9ca247d-f3bf-40c2-b447-b6541eaa5b5a","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"2 Execução única","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"97981bb6-3d41-48f3-a4c1-74c5655b8333","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"3 Delegação","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,-820],"id":"09eae777-d5b1-4d89-ba70-420c45da1dbd","name":"projeto or execucao_unica or  Delegação"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/a60de39b-1f65-47d7-97f7-ce7bb5ef8b93","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1260],"id":"9a36641c-ea87-469d-94ab-b132074546c6","name":"Custom Field - Pq importa","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.properties.Tipo.select.name }}","rightValue":"1 Projeto","operator":{"type":"string","operation":"equals"},"id":"bbb5c2db-7dea-4af6-ae1f-dd3a3e918b8b"}],"combinator":"and"},"renameOutput":true,"outputKey":"1 Projeto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8fb3bca4-0be9-448e-a145-2d1bd2135ce6","leftValue":"={{ $('Webhook').item.json.body.data.properties.Tipo.select.name }}","rightValue":"2 Execução única","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2 Execução única"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"246ee36d-58c7-4349-bf02-4fcd06b5ddca","leftValue":"={{ $('Webhook').item.json.body.data.properties.Tipo.select.name }}","rightValue":"3 Delegação","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3 Delegação"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,-840],"id":"8b941ad1-111c-40db-955c-65f44c7f0c30","name":"Set Tipo in clickup"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=91af0e5d-8619-46d8-b518-c0b2f16574d2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1020],"id":"878e1352-5320-43b2-bed1-6f392f513899","name":"1 Projeto","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=ecf7614a-01d3-4a2a-9103-6f6396034c8d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-840],"id":"469a3f63-fa77-49bd-aac5-fbe373b2096b","name":"2 Execução única","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=807044a9-23eb-475c-a831-25525ec5986a"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-640],"id":"244d5926-c1fc-454b-9ac7-bd624258986c","name":"2 Execução única1","alwaysOutputData":true},{"parameters":{"content":"## Inserindo tipo no custom field","height":580,"width":680},"type":"n8n-nodes-base.stickyNote","position":[500,-1060],"typeVersion":1,"id":"64e937ad-d0b4-4d4c-8ac2-4fece70e244f","name":"Sticky Note"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/88792bb8-6ece-4ca3-bf94-4325b74f9a77","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1420],"id":"651bfb50-841c-46f8-b202-70b93ed9e74c","name":"CUSTOM Contexto/Executor","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/fa39fbd6-03fb-4820-9da1-2958bc495cbf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1580],"id":"5ad5d061-9f33-4d0d-b66a-a67a1638567e","name":"CUSTOM Due date","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/1049385c-1a97-474a-b9fc-69b1da4ecabd","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1740],"id":"155c58ab-5b52-43fd-bf4f-8d06df12f91e","name":"CUSTOM Proxima ação","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0922717-047d-4717-b7ed-87e0f3866ed1","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1260],"id":"6268c6aa-9986-49e7-a9ec-e794a991de74","name":"IF existe3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b36676b6-6e53-4129-9b14-f80907d6e1bf","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}","rightValue":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1420],"id":"0a660781-cc74-4fdf-9bd1-1a88738c06e8","name":"IF existe2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12af9e2e-9122-49c1-bbfc-d045d912826b","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1580],"id":"f8d09615-69e0-4f5b-a13a-a6985a6748a6","name":"IF existe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1740],"id":"f23759ca-1628-4a13-880a-4b962be226c9","name":"IF existe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1900],"id":"6868bc31-7fc0-4d0c-97bf-83ebed3c4642","name":"IF existe4"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/39e11aff-3ae7-4ea3-b9c5-1b28c68d9b2e","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1900],"id":"7c316ae2-502c-4b48-8435-9c1c152c4470","name":"CUSTOM Topicos extras","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"A\": \"836bea41-bfd3-4897-938b-78d8bf056dcf\",\n  \"B\": \"6fa98d59-6436-467c-8a6d-3ddb2130a58c\",\n  \"C\": \"1ad14481-e5e5-4b20-9f86-cf4b249caf76\",\n  \"D\": \"186e1ae4-9b80-4fb0-a09e-39b0b7f65605\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,2080],"id":"a226048f-4dac-456a-88e4-da05b2496a31","name":"Variaveis1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"A","operator":{"type":"string","operation":"equals"},"id":"f2685581-5e5b-4e4c-aaae-13343cd7d8bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"A"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af98ae82-3e4d-425b-8042-4ecc93afff0f","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"B","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"B"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ce267fe-851c-485e-8791-5220f59d2794","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"C","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"C"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cd97a74-83d3-44f3-8f7c-3433b1e21268","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"D","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ccee059-9ad6-46eb-816f-c8d0d13e1bec","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"P","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"P"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,2040],"id":"93cb558e-676d-4429-abb3-dc6f92426055","name":"Switch1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.A }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1760],"id":"96724fc3-8f45-456b-90fa-11dfde2cdfcb","name":"CLASSE A1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.B }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1920],"id":"7a6a69ba-e27f-466c-b858-cdd9147f4274","name":"CLASSE B1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.C }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,2080],"id":"bf6e7ff3-0b8d-4781-be11-54de6ebb5362","name":"CLASSE C1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.D }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,2240],"id":"b315d281-6b1f-4a34-ba57-6cb69b3fb708","name":"CLASSE D1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.P }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,2400],"id":"bded127c-0d14-4d34-a411-3ea36e9f1fba","name":"CLASSE P1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/a60de39b-1f65-47d7-97f7-ce7bb5ef8b93","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1280],"id":"be0a2962-03e7-4540-9c57-54a9b61fe829","name":"Custom Field - Pq importa1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=462f682e-1933-4be5-89cb-bc9a101782c2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1540],"id":"13dc8fd3-a3db-46db-a55d-6f1be343cfab","name":"1 Projeto1","alwaysOutputData":true},{"parameters":{"content":"## Inserindo tipo no custom field","height":220,"width":680},"type":"n8n-nodes-base.stickyNote","position":[560,1480],"typeVersion":1,"id":"5a323469-28f8-44a1-9ea9-ed4c4feb80e0","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/88792bb8-6ece-4ca3-bf94-4325b74f9a77","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties.Executor.multi_select[0].name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1120],"id":"62499de2-3978-4539-bf1d-097532758525","name":"CUSTOM Contexto/Executor1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/fa39fbd6-03fb-4820-9da1-2958bc495cbf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,960],"id":"d773c632-6b59-4a04-b345-abd476296cbb","name":"CUSTOM Due date1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/1049385c-1a97-474a-b9fc-69b1da4ecabd","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,800],"id":"4f699e0c-94d4-4031-a059-a6a12ef40c0b","name":"CUSTOM Proxima ação1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0922717-047d-4717-b7ed-87e0f3866ed1","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,1280],"id":"6a92bf76-dfad-450f-b714-789b019ab5d6","name":"IF existe5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b36676b6-6e53-4129-9b14-f80907d6e1bf","leftValue":"={{ $('Webhook').item.json.body.data.properties.Executor.multi_select[0].name }}","rightValue":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,1120],"id":"21a53cf1-a4c7-415f-96dd-5d1d6993f7ee","name":"IF existe6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12af9e2e-9122-49c1-bbfc-d045d912826b","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,960],"id":"635d513d-874c-4aec-a6e0-4b3ee5769779","name":"IF existe7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,800],"id":"4865651c-599a-4f06-a40c-02623b8f2a55","name":"IF existe8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,640],"id":"4475c9a9-9e11-419f-9941-a3abaa73cd2a","name":"IF existe9"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/39e11aff-3ae7-4ea3-b9c5-1b28c68d9b2e","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,640],"id":"8d9af94c-1921-4e73-b9fd-734009cdfde8","name":"CUSTOM Topicos extras1","alwaysOutputData":true},{"parameters":{"team":"3052532","space":"61001745","folder":"90136698160","list":"901311168659","name":"={{ $json.body.data.properties.Nome.title[0].text.content }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-80,1540],"id":"61b6a6a0-2402-4b77-a1b8-787a55de408e","name":"Cria Task2","credentials":{"clickUpApi":{"id":"8OkBpNyLS6118fuy","name":"ClickUp Claudio"}}},{"parameters":{"content":"## INCUBADO","height":2020,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-140,580],"typeVersion":1,"id":"e12b8a45-46c2-48a3-985a-1d59703ba03c","name":"Sticky Note2"},{"parameters":{"content":"## PROJETO / EXECUÇÃO UNICA / DELEGAÇÃO","height":2460,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-140,-2020],"typeVersion":1,"id":"835fbd45-6bb1-46af-b472-5bc21e97dd32","name":"Sticky Note3"}],"connections":{"Webhook":{"main":[[{"node":"projeto or execucao_unica or  Delegação","type":"main","index":0},{"node":"Se for Incubado","type":"main","index":0}]]},"Cria Task":{"main":[[{"node":"Set Tipo in clickup","type":"main","index":0},{"node":"IF existe3","type":"main","index":0},{"node":"IF existe2","type":"main","index":0},{"node":"IF existe1","type":"main","index":0},{"node":"IF existe","type":"main","index":0},{"node":"Variaveis","type":"main","index":0},{"node":"IF existe4","type":"main","index":0}]]},"Variaveis":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"CLASSE A","type":"main","index":0}],[{"node":"CLASSE B","type":"main","index":0}],[{"node":"CLASSE C","type":"main","index":0}],[{"node":"CLASSE D","type":"main","index":0}],[{"node":"CLASSE P","type":"main","index":0}]]},"Se for Incubado":{"main":[[{"node":"Cria Task2","type":"main","index":0}]]},"projeto or execucao_unica or  Delegação":{"main":[[{"node":"Cria Task","type":"main","index":0}]]},"Custom Field - Pq importa":{"main":[[]]},"CLASSE A":{"main":[[]]},"Set Tipo in clickup":{"main":[[{"node":"1 Projeto","type":"main","index":0}],[{"node":"2 Execução única","type":"main","index":0}],[{"node":"2 Execução única1","type":"main","index":0}]]},"1 Projeto":{"main":[[]]},"2 Execução única":{"main":[[]]},"2 Execução única1":{"main":[[]]},"IF existe3":{"main":[[{"node":"Custom Field - Pq importa","type":"main","index":0}]]},"IF existe2":{"main":[[{"node":"CUSTOM Contexto/Executor","type":"main","index":0}]]},"IF existe1":{"main":[[{"node":"CUSTOM Due date","type":"main","index":0}]]},"IF existe":{"main":[[{"node":"CUSTOM Proxima ação","type":"main","index":0}]]},"IF existe4":{"main":[[{"node":"CUSTOM Topicos extras","type":"main","index":0}]]},"Variaveis1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"CLASSE A1","type":"main","index":0}],[{"node":"CLASSE B1","type":"main","index":0}],[{"node":"CLASSE C1","type":"main","index":0}],[{"node":"CLASSE D1","type":"main","index":0}],[{"node":"CLASSE P1","type":"main","index":0}]]},"IF existe5":{"main":[[{"node":"Custom Field - Pq importa1","type":"main","index":0}]]},"IF existe6":{"main":[[{"node":"CUSTOM Contexto/Executor1","type":"main","index":0}]]},"IF existe7":{"main":[[{"node":"CUSTOM Due date1","type":"main","index":0}]]},"IF existe8":{"main":[[{"node":"CUSTOM Proxima ação1","type":"main","index":0}]]},"IF existe9":{"main":[[{"node":"CUSTOM Topicos extras1","type":"main","index":0}]]},"Cria Task2":{"main":[[{"node":"Variaveis1","type":"main","index":0},{"node":"IF existe5","type":"main","index":0},{"node":"IF existe7","type":"main","index":0},{"node":"IF existe9","type":"main","index":0},{"node":"IF existe8","type":"main","index":0},{"node":"IF existe6","type":"main","index":0},{"node":"1 Projeto1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2025-04-28T16:10:00.000Z","possibleDuplicates":["1e3799ea-6ca0-8049-8312-e9203d211a0b"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db45ee8e-82f9-4591-81be-6ed337ff246c","activeVersionId":"db45ee8e-82f9-4591-81be-6ed337ff246c","triggerCount":1,"shared":[{"updatedAt":"2025-04-28T15:53:25.709Z","createdAt":"2025-04-28T15:53:25.709Z","role":"workflow:owner","workflowId":"LG6q4n4fFl4j7vD0","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"db45ee8e-82f9-4591-81be-6ed337ff246c","workflowId":"LG6q4n4fFl4j7vD0","nodes":[{"parameters":{"httpMethod":"POST","path":"8b4c853d-ea05-4fe6-aca9-7f38eb25e652","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1100,440],"id":"38456115-7914-4157-82c6-02c299e7b3f8","name":"Webhook","webhookId":"8b4c853d-ea05-4fe6-aca9-7f38eb25e652"},{"parameters":{"team":"3052532","space":"61001745","folder":"90136698160","list":"901311168312","name":"={{ $json.body.data.properties.Nome.title[0].text.content }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-40,-820],"id":"596b2420-304a-434f-b627-f6593af728c6","name":"Cria Task","credentials":{"clickUpApi":{"id":"8OkBpNyLS6118fuy","name":"ClickUp Claudio"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"A\": \"836bea41-bfd3-4897-938b-78d8bf056dcf\",\n  \"B\": \"6fa98d59-6436-467c-8a6d-3ddb2130a58c\",\n  \"C\": \"1ad14481-e5e5-4b20-9f86-cf4b249caf76\",\n  \"D\": \"186e1ae4-9b80-4fb0-a09e-39b0b7f65605\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-100],"id":"c8c16486-2434-4344-ab43-6f2769a24ec6","name":"Variaveis"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"A","operator":{"type":"string","operation":"equals"},"id":"f2685581-5e5b-4e4c-aaae-13343cd7d8bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"A"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af98ae82-3e4d-425b-8042-4ecc93afff0f","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"B","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"B"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ce267fe-851c-485e-8791-5220f59d2794","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"C","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"C"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cd97a74-83d3-44f3-8f7c-3433b1e21268","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"D","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ccee059-9ad6-46eb-816f-c8d0d13e1bec","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"P","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"P"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,-140],"id":"6dc922f3-e368-4eb4-99ae-1cb80f5fd0e1","name":"Switch"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.A }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-420],"id":"cfffc94b-a165-4b98-88ba-c70a8067a235","name":"CLASSE A","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.B }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-260],"id":"86ee5713-c4b6-4b21-bf22-d3d47aad36cd","name":"CLASSE B","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.C }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-100],"id":"68233c1b-757d-494f-a8d5-59395279e84c","name":"CLASSE C","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.D }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,60],"id":"5824ef86-b338-4305-94e6-37e771f8a0dc","name":"CLASSE D","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.P }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,220],"id":"2257a6dd-a328-48a1-959e-c72fcb0f16a9","name":"CLASSE P","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08880ce9-fd6f-40a6-90bc-a69cdc12f1d7","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"4 Incubado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-460,1540],"id":"e8723ea4-4e9e-4dfe-8827-6e6b45d5a123","name":"Se for Incubado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08880ce9-fd6f-40a6-90bc-a69cdc12f1d7","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"1 Projeto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b9ca247d-f3bf-40c2-b447-b6541eaa5b5a","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"2 Execução única","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"97981bb6-3d41-48f3-a4c1-74c5655b8333","leftValue":"={{ $json.body.data.properties.Tipo.select.name }}","rightValue":"3 Delegação","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,-820],"id":"09eae777-d5b1-4d89-ba70-420c45da1dbd","name":"projeto or execucao_unica or  Delegação"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/a60de39b-1f65-47d7-97f7-ce7bb5ef8b93","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1260],"id":"9a36641c-ea87-469d-94ab-b132074546c6","name":"Custom Field - Pq importa","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.properties.Tipo.select.name }}","rightValue":"1 Projeto","operator":{"type":"string","operation":"equals"},"id":"bbb5c2db-7dea-4af6-ae1f-dd3a3e918b8b"}],"combinator":"and"},"renameOutput":true,"outputKey":"1 Projeto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8fb3bca4-0be9-448e-a145-2d1bd2135ce6","leftValue":"={{ $('Webhook').item.json.body.data.properties.Tipo.select.name }}","rightValue":"2 Execução única","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2 Execução única"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"246ee36d-58c7-4349-bf02-4fcd06b5ddca","leftValue":"={{ $('Webhook').item.json.body.data.properties.Tipo.select.name }}","rightValue":"3 Delegação","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3 Delegação"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,-840],"id":"8b941ad1-111c-40db-955c-65f44c7f0c30","name":"Set Tipo in clickup"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=91af0e5d-8619-46d8-b518-c0b2f16574d2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1020],"id":"878e1352-5320-43b2-bed1-6f392f513899","name":"1 Projeto","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=ecf7614a-01d3-4a2a-9103-6f6396034c8d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-840],"id":"469a3f63-fa77-49bd-aac5-fbe373b2096b","name":"2 Execução única","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task').item.json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=807044a9-23eb-475c-a831-25525ec5986a"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-640],"id":"244d5926-c1fc-454b-9ac7-bd624258986c","name":"2 Execução única1","alwaysOutputData":true},{"parameters":{"content":"## Inserindo tipo no custom field","height":580,"width":680},"type":"n8n-nodes-base.stickyNote","position":[500,-1060],"typeVersion":1,"id":"64e937ad-d0b4-4d4c-8ac2-4fece70e244f","name":"Sticky Note"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/88792bb8-6ece-4ca3-bf94-4325b74f9a77","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1420],"id":"651bfb50-841c-46f8-b202-70b93ed9e74c","name":"CUSTOM Contexto/Executor","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/fa39fbd6-03fb-4820-9da1-2958bc495cbf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1580],"id":"5ad5d061-9f33-4d0d-b66a-a67a1638567e","name":"CUSTOM Due date","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/1049385c-1a97-474a-b9fc-69b1da4ecabd","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1740],"id":"155c58ab-5b52-43fd-bf4f-8d06df12f91e","name":"CUSTOM Proxima ação","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0922717-047d-4717-b7ed-87e0f3866ed1","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1260],"id":"6268c6aa-9986-49e7-a9ec-e794a991de74","name":"IF existe3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b36676b6-6e53-4129-9b14-f80907d6e1bf","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}","rightValue":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1420],"id":"0a660781-cc74-4fdf-9bd1-1a88738c06e8","name":"IF existe2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12af9e2e-9122-49c1-bbfc-d045d912826b","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1580],"id":"f8d09615-69e0-4f5b-a13a-a6985a6748a6","name":"IF existe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1740],"id":"f23759ca-1628-4a13-880a-4b962be226c9","name":"IF existe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-1900],"id":"6868bc31-7fc0-4d0c-97bf-83ebed3c4642","name":"IF existe4"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/39e11aff-3ae7-4ea3-b9c5-1b28c68d9b2e","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-1900],"id":"7c316ae2-502c-4b48-8435-9c1c152c4470","name":"CUSTOM Topicos extras","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"A\": \"836bea41-bfd3-4897-938b-78d8bf056dcf\",\n  \"B\": \"6fa98d59-6436-467c-8a6d-3ddb2130a58c\",\n  \"C\": \"1ad14481-e5e5-4b20-9f86-cf4b249caf76\",\n  \"D\": \"186e1ae4-9b80-4fb0-a09e-39b0b7f65605\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,2080],"id":"a226048f-4dac-456a-88e4-da05b2496a31","name":"Variaveis1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"A","operator":{"type":"string","operation":"equals"},"id":"f2685581-5e5b-4e4c-aaae-13343cd7d8bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"A"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af98ae82-3e4d-425b-8042-4ecc93afff0f","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"B","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"B"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ce267fe-851c-485e-8791-5220f59d2794","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"C","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"C"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cd97a74-83d3-44f3-8f7c-3433b1e21268","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"D","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ccee059-9ad6-46eb-816f-c8d0d13e1bec","leftValue":"={{ $('Webhook').item.json.body.data.properties.Classe.select.name }}","rightValue":"P","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"P"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,2040],"id":"93cb558e-676d-4429-abb3-dc6f92426055","name":"Switch1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.A }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1760],"id":"96724fc3-8f45-456b-90fa-11dfde2cdfcb","name":"CLASSE A1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.B }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1920],"id":"7a6a69ba-e27f-466c-b858-cdd9147f4274","name":"CLASSE B1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.C }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,2080],"id":"bf6e7ff3-0b8d-4781-be11-54de6ebb5362","name":"CLASSE C1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.D }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,2240],"id":"b315d281-6b1f-4a34-ba57-6cb69b3fb708","name":"CLASSE D1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $('Cria Task2').item.json.id }}/field/5d0f475d-11cc-4d90-b2db-c076a0e6fe1d","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $json.P }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,2400],"id":"bded127c-0d14-4d34-a411-3ea36e9f1fba","name":"CLASSE P1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/a60de39b-1f65-47d7-97f7-ce7bb5ef8b93","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1280],"id":"be0a2962-03e7-4540-9c57-54a9b61fe829","name":"Custom Field - Pq importa1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/d537f192-2c46-4f3d-ae58-e661677f8674","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"=462f682e-1933-4be5-89cb-bc9a101782c2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1540],"id":"13dc8fd3-a3db-46db-a55d-6f1be343cfab","name":"1 Projeto1","alwaysOutputData":true},{"parameters":{"content":"## Inserindo tipo no custom field","height":220,"width":680},"type":"n8n-nodes-base.stickyNote","position":[560,1480],"typeVersion":1,"id":"5a323469-28f8-44a1-9ea9-ed4c4feb80e0","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/88792bb8-6ece-4ca3-bf94-4325b74f9a77","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties.Executor.multi_select[0].name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,1120],"id":"62499de2-3978-4539-bf1d-097532758525","name":"CUSTOM Contexto/Executor1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/fa39fbd6-03fb-4820-9da1-2958bc495cbf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,960],"id":"d773c632-6b59-4a04-b345-abd476296cbb","name":"CUSTOM Due date1","alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/1049385c-1a97-474a-b9fc-69b1da4ecabd","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,800],"id":"4f699e0c-94d4-4031-a059-a6a12ef40c0b","name":"CUSTOM Proxima ação1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0922717-047d-4717-b7ed-87e0f3866ed1","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Objetivo - PQ Importa?\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,1280],"id":"6a92bf76-dfad-450f-b714-789b019ab5d6","name":"IF existe5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b36676b6-6e53-4129-9b14-f80907d6e1bf","leftValue":"={{ $('Webhook').item.json.body.data.properties.Executor.multi_select[0].name }}","rightValue":"={{ $('Webhook').item.json.body.data.properties[\"Contexto/Executor\"].multi_select[0].name }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,1120],"id":"21a53cf1-a4c7-415f-96dd-5d1d6993f7ee","name":"IF existe6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12af9e2e-9122-49c1-bbfc-d045d912826b","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Due Date\"].date.start }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,960],"id":"635d513d-874c-4aec-a6e0-4b3ee5769779","name":"IF existe7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Próxima  Ação\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,800],"id":"4865651c-599a-4f06-a40c-02623b8f2a55","name":"IF existe8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d0454f-01b9-4458-92f5-40b99206b0c4","leftValue":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,640],"id":"4475c9a9-9e11-419f-9941-a3abaa73cd2a","name":"IF existe9"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/task/{{ $json.id }}/field/39e11aff-3ae7-4ea3-b9c5-1b28c68d9b2e","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_18956694_82I9D58032978A67U42MBADM67RA0KI1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"value","value":"={{ $('Webhook').item.json.body.data.properties[\"Tópicos extras necessários\"].rich_text[0].text.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,640],"id":"8d9af94c-1921-4e73-b9fd-734009cdfde8","name":"CUSTOM Topicos extras1","alwaysOutputData":true},{"parameters":{"team":"3052532","space":"61001745","folder":"90136698160","list":"901311168659","name":"={{ $json.body.data.properties.Nome.title[0].text.content }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-80,1540],"id":"61b6a6a0-2402-4b77-a1b8-787a55de408e","name":"Cria Task2","credentials":{"clickUpApi":{"id":"8OkBpNyLS6118fuy","name":"ClickUp Claudio"}}},{"parameters":{"content":"## INCUBADO","height":2020,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-140,580],"typeVersion":1,"id":"e12b8a45-46c2-48a3-985a-1d59703ba03c","name":"Sticky Note2"},{"parameters":{"content":"## PROJETO / EXECUÇÃO UNICA / DELEGAÇÃO","height":2460,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-140,-2020],"typeVersion":1,"id":"835fbd45-6bb1-46af-b472-5bc21e97dd32","name":"Sticky Note3"}],"connections":{"Webhook":{"main":[[{"node":"projeto or execucao_unica or  Delegação","type":"main","index":0},{"node":"Se for Incubado","type":"main","index":0}]]},"Cria Task":{"main":[[{"node":"Set Tipo in clickup","type":"main","index":0},{"node":"IF existe3","type":"main","index":0},{"node":"IF existe2","type":"main","index":0},{"node":"IF existe1","type":"main","index":0},{"node":"IF existe","type":"main","index":0},{"node":"Variaveis","type":"main","index":0},{"node":"IF existe4","type":"main","index":0}]]},"Variaveis":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"CLASSE A","type":"main","index":0}],[{"node":"CLASSE B","type":"main","index":0}],[{"node":"CLASSE C","type":"main","index":0}],[{"node":"CLASSE D","type":"main","index":0}],[{"node":"CLASSE P","type":"main","index":0}]]},"Se for Incubado":{"main":[[{"node":"Cria Task2","type":"main","index":0}]]},"projeto or execucao_unica or  Delegação":{"main":[[{"node":"Cria Task","type":"main","index":0}]]},"Custom Field - Pq importa":{"main":[[]]},"CLASSE A":{"main":[[]]},"Set Tipo in clickup":{"main":[[{"node":"1 Projeto","type":"main","index":0}],[{"node":"2 Execução única","type":"main","index":0}],[{"node":"2 Execução única1","type":"main","index":0}]]},"1 Projeto":{"main":[[]]},"2 Execução única":{"main":[[]]},"2 Execução única1":{"main":[[]]},"IF existe3":{"main":[[{"node":"Custom Field - Pq importa","type":"main","index":0}]]},"IF existe2":{"main":[[{"node":"CUSTOM Contexto/Executor","type":"main","index":0}]]},"IF existe1":{"main":[[{"node":"CUSTOM Due date","type":"main","index":0}]]},"IF existe":{"main":[[{"node":"CUSTOM Proxima ação","type":"main","index":0}]]},"IF existe4":{"main":[[{"node":"CUSTOM Topicos extras","type":"main","index":0}]]},"Variaveis1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"CLASSE A1","type":"main","index":0}],[{"node":"CLASSE B1","type":"main","index":0}],[{"node":"CLASSE C1","type":"main","index":0}],[{"node":"CLASSE D1","type":"main","index":0}],[{"node":"CLASSE P1","type":"main","index":0}]]},"IF existe5":{"main":[[{"node":"Custom Field - Pq importa1","type":"main","index":0}]]},"IF existe6":{"main":[[{"node":"CUSTOM Contexto/Executor1","type":"main","index":0}]]},"IF existe7":{"main":[[{"node":"CUSTOM Due date1","type":"main","index":0}]]},"IF existe8":{"main":[[{"node":"CUSTOM Proxima ação1","type":"main","index":0}]]},"IF existe9":{"main":[[{"node":"CUSTOM Topicos extras1","type":"main","index":0}]]},"Cria Task2":{"main":[[{"node":"Variaveis1","type":"main","index":0},{"node":"IF existe5","type":"main","index":0},{"node":"IF existe7","type":"main","index":0},{"node":"IF existe9","type":"main","index":0},{"node":"IF existe8","type":"main","index":0},{"node":"IF existe6","type":"main","index":0},{"node":"1 Projeto1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-04-30T13:25:10.553Z","createdAt":"2025-04-30T13:25:10.553Z","id":"cTQdoHAHVGCLYDYn","name":"Claudio"}]}