notificações-email-+-whatsapp-eh88ylnNB2QG5wTo.json
{"updatedAt":"2025-10-30T19:46:33.389Z","createdAt":"2025-10-06T20:46:48.492Z","id":"eh88ylnNB2QG5wTo","name":"Notificações Email + Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Notificações internas","formFields":{"values":[{"fieldLabel":"Nome"},{"fieldLabel":"Whatsapp"},{"fieldLabel":"Email","fieldType":"email"},{"fieldLabel":"File","fieldType":"file"},{"fieldLabel":"Task id","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-400,-208],"id":"12353866-a0b7-4009-81f4-f85aab9774c9","name":"On form submission","webhookId":"8971bab1-49b9-46b3-ba3f-3550b6b5af3d"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-176,-208],"id":"d1c4f6bd-f821-4e06-920c-65ccbcd88c62","name":"Extract from File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission').item.json.Whatsapp }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"caf1463a-752d-4b30-85a9-63e0d223bb3e"}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e8cb1d5-8643-477b-8027-b36fd767d5b5","leftValue":"={{ $('On form submission').item.json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"e-mail"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,-208],"id":"2cc42fd4-f715-467d-a91c-0ecaa4f6a408","name":"Switch"},{"parameters":{"method":"POST","url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendMedia/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('On form submission').item.json.Whatsapp }}\",\n  \"mediatype\": \"{{ $('On form submission').item.json.File[0].mimetype?.startsWith('image/') ? 'image' : ($('On form submission').item.json.File[0].mimetype?.startsWith('audio/') ? 'audio' : ($('On form submission').item.json.File[0].mimetype?.startsWith('video/') ? 'video' : 'document')) }}\",\n  \"fileName\": \"{{ $('On form submission').item.json.File[0].filename }}\",\n  \"caption\": \"Prezado(a).\\nSegue notificação extrajudicial.\\n\\nAtenciosamente.\",\n  \"media\": \"{{ $json.data }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-304],"id":"3f49e2f8-e98b-43ce-9532-007ab5ab1acf","name":"Enviar Arquivo"},{"parameters":{"fromEmail":"notificacoes@camozziconsultoria.com.br","toEmail":"={{ $('On form submission').item.json.Email }}","subject":"=Notificação Extrajudicial |  {{ $('On form submission').item.json.Nome.toUpperCase() }}","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Notificação Extrajudicial</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f6f6f6; font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\">\n  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f6f6f6; padding:40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"30\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:10px; box-shadow:0 3px 10px rgba(0,0,0,0.08);\">\n          <tr>\n            <td align=\"center\" style=\"border-bottom:4px solid #b02a37;\">\n              <h1 style=\"font-size:24px; color:#b02a37; margin:0; letter-spacing:-0.5px;\">⚠️ Notificação Extrajudicial</h1>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"color:#333; font-size:16px; line-height:1.7;\">\n              <p style=\"margin:0 0 10px;\">Prezado(a) <strong>{{ $('On form submission').item.json.Nome.toUpperCase() }}!</strong>,</p>\n              <p style=\"margin:0 0 10px;\">\n                Encaminhamos, em anexo, a presente <strong>Notificação Extrajudicial</strong> referente a pendências identificadas.\n                Solicitamos sua atenção imediata ao conteúdo do documento.\n              </p>\n              <p style=\"margin:0 0 10px;\">\n                O não atendimento dentro do prazo estabelecido poderá resultar em medidas administrativas e/ou jurídicas cabíveis.\n              </p>\n              <p style=\"margin:0;\">\n                Recomendamos a leitura completa da notificação para ciência e regularização.\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"font-size:14px; color:#666; border-top:1px solid #eee; padding-top:15px;\">\n              <p style=\"margin:0;\">Atenciosamente,</p>\n              <p style=\"margin:5px 0 0;\"><strong>Camozzi Consultoria | C&D Blindagem digital</strong></p>\n              <p style=\"margin:5px 0 0; color:#999;\">(Mensagem automática — não responda este e-mail)</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[272,-112],"id":"5d3fb934-9d5a-4679-98c7-148ed3f0dc5a","name":"Send email","webhookId":"d23a5058-bf8b-4db5-86bb-9b8633fe7d1f","credentials":{"smtp":{"id":"NTqiLNZK8Z1yZPxJ","name":"notificacoes"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO notificacoes (clickup_task_id, contato, data_envio, \tdone)\nVALUES ('{{ $('On form submission').item.json['Task id'] }}', '{{ $json.key.remoteJid }}', NOW(), 0);","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[512,-304],"id":"d748a63a-1327-44fb-9abe-60b60aa7e204","name":"Execute a SQL query","credentials":{"mySql":{"id":"JGOB8ullb4MxT7Do","name":"operacional-consultoria"}},"disabled":true}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar Arquivo","type":"main","index":0}],[{"node":"Send email","type":"main","index":0}]]},"Enviar Arquivo":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b8f6bc7e-8c79-4fc7-84ad-4bfc0040972c","activeVersionId":"b8f6bc7e-8c79-4fc7-84ad-4bfc0040972c","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T20:46:48.492Z","createdAt":"2025-10-06T20:46:48.492Z","role":"workflow:owner","workflowId":"eh88ylnNB2QG5wTo","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"b8f6bc7e-8c79-4fc7-84ad-4bfc0040972c","workflowId":"eh88ylnNB2QG5wTo","nodes":[{"parameters":{"formTitle":"Notificações internas","formFields":{"values":[{"fieldLabel":"Nome"},{"fieldLabel":"Whatsapp"},{"fieldLabel":"Email","fieldType":"email"},{"fieldLabel":"File","fieldType":"file"},{"fieldLabel":"Task id","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-400,-208],"id":"12353866-a0b7-4009-81f4-f85aab9774c9","name":"On form submission","webhookId":"8971bab1-49b9-46b3-ba3f-3550b6b5af3d"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-176,-208],"id":"d1c4f6bd-f821-4e06-920c-65ccbcd88c62","name":"Extract from File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission').item.json.Whatsapp }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"caf1463a-752d-4b30-85a9-63e0d223bb3e"}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e8cb1d5-8643-477b-8027-b36fd767d5b5","leftValue":"={{ $('On form submission').item.json.Email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"e-mail"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[48,-208],"id":"2cc42fd4-f715-467d-a91c-0ecaa4f6a408","name":"Switch"},{"parameters":{"method":"POST","url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendMedia/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('On form submission').item.json.Whatsapp }}\",\n  \"mediatype\": \"{{ $('On form submission').item.json.File[0].mimetype?.startsWith('image/') ? 'image' : ($('On form submission').item.json.File[0].mimetype?.startsWith('audio/') ? 'audio' : ($('On form submission').item.json.File[0].mimetype?.startsWith('video/') ? 'video' : 'document')) }}\",\n  \"fileName\": \"{{ $('On form submission').item.json.File[0].filename }}\",\n  \"caption\": \"Prezado(a).\\nSegue notificação extrajudicial.\\n\\nAtenciosamente.\",\n  \"media\": \"{{ $json.data }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-304],"id":"3f49e2f8-e98b-43ce-9532-007ab5ab1acf","name":"Enviar Arquivo"},{"parameters":{"fromEmail":"notificacoes@camozziconsultoria.com.br","toEmail":"={{ $('On form submission').item.json.Email }}","subject":"=Notificação Extrajudicial |  {{ $('On form submission').item.json.Nome.toUpperCase() }}","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Notificação Extrajudicial</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f6f6f6; font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\">\n  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f6f6f6; padding:40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"30\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:10px; box-shadow:0 3px 10px rgba(0,0,0,0.08);\">\n          <tr>\n            <td align=\"center\" style=\"border-bottom:4px solid #b02a37;\">\n              <h1 style=\"font-size:24px; color:#b02a37; margin:0; letter-spacing:-0.5px;\">⚠️ Notificação Extrajudicial</h1>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"color:#333; font-size:16px; line-height:1.7;\">\n              <p style=\"margin:0 0 10px;\">Prezado(a) <strong>{{ $('On form submission').item.json.Nome.toUpperCase() }}!</strong>,</p>\n              <p style=\"margin:0 0 10px;\">\n                Encaminhamos, em anexo, a presente <strong>Notificação Extrajudicial</strong> referente a pendências identificadas.\n                Solicitamos sua atenção imediata ao conteúdo do documento.\n              </p>\n              <p style=\"margin:0 0 10px;\">\n                O não atendimento dentro do prazo estabelecido poderá resultar em medidas administrativas e/ou jurídicas cabíveis.\n              </p>\n              <p style=\"margin:0;\">\n                Recomendamos a leitura completa da notificação para ciência e regularização.\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"font-size:14px; color:#666; border-top:1px solid #eee; padding-top:15px;\">\n              <p style=\"margin:0;\">Atenciosamente,</p>\n              <p style=\"margin:5px 0 0;\"><strong>Camozzi Consultoria | C&D Blindagem digital</strong></p>\n              <p style=\"margin:5px 0 0; color:#999;\">(Mensagem automática — não responda este e-mail)</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[272,-112],"id":"5d3fb934-9d5a-4679-98c7-148ed3f0dc5a","name":"Send email","webhookId":"d23a5058-bf8b-4db5-86bb-9b8633fe7d1f","credentials":{"smtp":{"id":"NTqiLNZK8Z1yZPxJ","name":"notificacoes"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO notificacoes (clickup_task_id, contato, data_envio, \tdone)\nVALUES ('{{ $('On form submission').item.json['Task id'] }}', '{{ $json.key.remoteJid }}', NOW(), 0);","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[512,-304],"id":"d748a63a-1327-44fb-9abe-60b60aa7e204","name":"Execute a SQL query","credentials":{"mySql":{"id":"JGOB8ullb4MxT7Do","name":"operacional-consultoria"}},"disabled":true}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar Arquivo","type":"main","index":0}],[{"node":"Send email","type":"main","index":0}]]},"Enviar Arquivo":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}