obter-conteudo-do-documento-AB93Vr0u38nJa8TY.json
{"updatedAt":"2025-09-09T14:05:19.283Z","createdAt":"2025-09-09T13:21:06.153Z","id":"AB93Vr0u38nJa8TY","name":"Obter conteudo do documento","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id-documento"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-560,144],"id":"1c246b99-0fde-4bd5-8b56-dcdbbe6374a6","name":"When Executed by Another Workflow"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json['id-documento'] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-336,144],"id":"daf035fb-416f-4425-9bba-735b7cd4c3f5","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cpYt21Aw5tETdaUyxtU5mYcDYEwA5MjQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"data:{{ $('Download file').item.binary.data.mimeType }};base64,{{ $json.data }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,144],"id":"9fb7e5ef-90e7-43aa-968e-aa3da1a7367a","name":"CONVERTE PDF"},{"parameters":{"fieldToSplitOut":"pages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[336,144],"id":"adb684e8-f4ec-4b4b-aa1d-2ef19d1bfd0e","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"markdown"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[560,144],"id":"03d83723-b450-4091-88ef-711f2314c599","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"8f5bf5c8-ad05-494e-9d8e-f4afdbf0aa7a","name":"texto-pdf","value":"={{ $json.markdown.join().removeMarkdown().replace(/\\n/g, \" - \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,144],"id":"df9d8390-12c1-46b1-9418-40fffabe73a1","name":"Edit Fields"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-112,144],"id":"1d9e0067-e95b-456e-89d5-e56ba5af833b","name":"Extract from File"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"CONVERTE PDF":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"CONVERTE PDF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id-documento":"1LuJt-zDlVwyLpR0dZru8Mo9cZ9DqSgAe"}}]},"versionId":"e1ea7544-81de-474f-9c87-0719580669f2","activeVersionId":"e1ea7544-81de-474f-9c87-0719580669f2","triggerCount":0,"shared":[{"updatedAt":"2025-09-09T13:21:06.153Z","createdAt":"2025-09-09T13:21:06.153Z","role":"workflow:owner","workflowId":"AB93Vr0u38nJa8TY","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"e1ea7544-81de-474f-9c87-0719580669f2","workflowId":"AB93Vr0u38nJa8TY","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id-documento"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-560,144],"id":"1c246b99-0fde-4bd5-8b56-dcdbbe6374a6","name":"When Executed by Another Workflow"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json['id-documento'] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-336,144],"id":"daf035fb-416f-4425-9bba-735b7cd4c3f5","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"UMUzXd6peuAPf6IA","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cpYt21Aw5tETdaUyxtU5mYcDYEwA5MjQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"data:{{ $('Download file').item.binary.data.mimeType }};base64,{{ $json.data }}\"\n  },\n  \"include_image_base64\": true\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,144],"id":"9fb7e5ef-90e7-43aa-968e-aa3da1a7367a","name":"CONVERTE PDF"},{"parameters":{"fieldToSplitOut":"pages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[336,144],"id":"adb684e8-f4ec-4b4b-aa1d-2ef19d1bfd0e","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"markdown"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[560,144],"id":"03d83723-b450-4091-88ef-711f2314c599","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"8f5bf5c8-ad05-494e-9d8e-f4afdbf0aa7a","name":"texto-pdf","value":"={{ $json.markdown.join().removeMarkdown().replace(/\\n/g, \" - \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,144],"id":"df9d8390-12c1-46b1-9418-40fffabe73a1","name":"Edit Fields"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-112,144],"id":"1d9e0067-e95b-456e-89d5-e56ba5af833b","name":"Extract from File"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"CONVERTE PDF":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"CONVERTE PDF","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}