pagina-do-chat-DfVWW1fFNbcpNJd8.json
{"updatedAt":"2025-06-14T00:17:02.163Z","createdAt":"2025-06-12T17:09:58.100Z","id":"DfVWW1fFNbcpNJd8","name":"Pagina do Chat","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"chatagente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,0],"id":"02b6a8b0-3af9-4a11-8b2f-80d260ede22f","name":"Webhook","webhookId":"b35f66f4-6700-4742-8f66-e72d28ec8df9"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Agente de Conteúdo</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);\n            height: 100vh;\n            display: flex;\n            flex-direction: column;\n            color: #e4e4e7;\n        }\n        \n        .chat-container {\n            max-width: 800px;\n            margin: 20px auto;\n            height: calc(100vh - 40px);\n            display: flex;\n            flex-direction: column;\n            background: #222222;\n            border-radius: 12px;\n            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);\n            overflow: hidden;\n        }\n        \n        .chat-header {\n            padding: 24px;\n            border-bottom: 1px solid #3a3a3a;\n            background: #2a2a2a;\n        }\n        \n        .chat-header h2 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n        \n        .chat-header p {\n            font-size: 0.9rem;\n            color: #a1a1aa;\n            margin-top: 4px;\n        }\n        \n        .chat-messages {\n            flex: 1;\n            overflow-y: auto;\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            gap: 16px;\n            scrollbar-width: thin;\n            scrollbar-color: #4a4a4a #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar {\n            width: 6px;\n        }\n        \n        .chat-messages::-webkit-scrollbar-track {\n            background: #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar-thumb {\n            background: #4a4a4a;\n            border-radius: 3px;\n        }\n        \n        .message {\n            max-width: 75%;\n            padding: 12px 16px;\n            border-radius: 12px;\n            line-height: 1.5;\n            white-space: pre-wrap;\n            font-size: 0.95rem;\n            transition: all 0.2s ease;\n        }\n        \n        .message.user {\n            align-self: flex-end;\n            background: linear-gradient(135deg, #22c55e 0%, #16a34a 100%);\n            color: #ffffff;\n        }\n        \n        .message.assistant {\n            align-self: flex-start;\n            background: #3a3a3a;\n            color: #e4e4e7;\n        }\n        \n        .message.success {\n            align-self: flex-start;\n            background: #22c55e;\n            color: #ffffff;\n        }\n        \n        .message.error {\n            align-self: flex-start;\n            background: #ef4444;\n            color: #ffffff;\n        }\n        \n        .chat-input {\n            padding: 20px;\n            border-top: 1px solid #3a3a3a;\n            display: flex;\n            gap: 12px;\n            background: #2a2a2a;\n        }\n        \n        .input-field {\n            flex: 1;\n            padding: 12px 16px;\n            border: 1px solid #4a4a4a;\n            border-radius: 12px;\n            outline: none;\n            font-size: 0.95rem;\n            background: #333333;\n            color: #e4e4e7;\n            transition: border-color 0.2s ease;\n        }\n        \n        .input-field:focus {\n            border-color: #22c55e;\n        }\n        \n        .send-button {\n            padding: 12px 24px;\n            background: #22c55e;\n            color: #ffffff;\n            border: none;\n            border-radius: 12px;\n            cursor: pointer;\n            font-weight: 500;\n            font-size: 0.95rem;\n            transition: background 0.2s ease;\n        }\n        \n        .send-button:hover {\n            background: #16a34a;\n        }\n        \n        .send-button:disabled {\n            background: #4a4a4a;\n            cursor: not-allowed;\n        }\n        \n        .typing-indicator {\n            display: none;\n            padding: 12px 16px;\n            background: #3a3a3a;\n            border-radius: 12px;\n            max-width: 80px;\n            align-self: flex-start;\n        }\n        \n        .typing-dots {\n            display: flex;\n            gap: 4px;\n        }\n        \n        .dot {\n            width: 8px;\n            height: 8px;\n            background: #a1a1aa;\n            border-radius: 50%;\n            animation: typing 1.4s infinite;\n        }\n        \n        .dot:nth-child(2) { animation-delay: 0.2s; }\n        .dot:nth-child(3) { animation-delay: 0.4s; }\n        \n        @keyframes typing {\n            0%, 60%, 100% { transform: translateY(0); }\n            30% { transform: translateY(-10px); }\n        }\n        \n        .content-preview {\n            margin-top: 12px;\n            padding: 16px;\n            background: #2a2a2a;\n            border-radius: 12px;\n            border-left: 4px solid #22c55e;\n        }\n        \n        .content-title {\n            font-weight: 600;\n            font-size: 1.1rem;\n            margin-bottom: 12px;\n            color: #22c55e;\n        }\n        \n        .topic-item {\n            margin-bottom: 16px;\n            padding: 12px;\n            background: #333333;\n            border-radius: 8px;\n            border: 1px solid #4a4a4a;\n        }\n        \n        .topic-title {\n            font-weight: 600;\n            font-size: 1rem;\n            margin-bottom: 8px;\n            color: #e4e4e7;\n        }\n        \n        .topic-points {\n            margin-left: 16px;\n            margin-bottom: 8px;\n            color: #d4d4d8;\n        }\n        \n        .topic-summary {\n            font-style: italic;\n            color: #a1a1aa;\n            font-size: 0.9rem;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"chat-container\">\n        <div class=\"chat-header\">\n            <h2>Agente de Criação de Conteúdo</h2>\n            <p>Especialista em conteúdo educacional para Instagram</p>\n        </div>\n        \n        <div class=\"chat-messages\" id=\"messages\">\n            <div class=\"message assistant\">Olá! Sou seu agente especializado em criação de conteúdo. Sobre qual tema você gostaria de criar um post para Instagram?</div>\n        </div>\n        \n        <div class=\"typing-indicator\" id=\"typing\">\n            <div class=\"typing-dots\">\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n            </div>\n        </div>\n        \n        <div class=\"chat-input\">\n            <input type=\"text\" class=\"input-field\" id=\"messageInput\" placeholder=\"Digite o tema do seu conteúdo...\">\n            <button class=\"send-button\" id=\"sendButton\" onclick=\"sendMessage()\">Enviar</button>\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = 'https://primary-production-70c40.up.railway.app/webhook/78631e44-1c30-4dc3-9ff2-0098c4190223';\n        let isProcessing = false;\n        \n        function addMessage(content, type = 'assistant') {\n            const messagesContainer = document.getElementById('messages');\n            const messageDiv = document.createElement('div');\n            messageDiv.className = `message ${type}`;\n\n            if (typeof content === 'string') {\n                // Verifica se o conteúdo contém múltiplos links\n                const lines = content.trim().split('\\n');\n                const links = lines.filter(line => /^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(line.trim()));\n                \n                if (links.length > 0 && type === 'assistant') {\n                    // Se há links, cria um container para os botões\n                    const linksContainer = document.createElement('div');\n                    linksContainer.style.display = 'flex';\n                    linksContainer.style.flexDirection = 'column';\n                    linksContainer.style.gap = '8px';\n                    \n                    links.forEach((link, index) => {\n                        const button = document.createElement('button');\n                        button.textContent = `Abrir Link ${index + 1}`;\n                        button.onclick = () => window.open(link.trim(), '_blank');\n                        button.style.padding = '10px 16px';\n                        button.style.borderRadius = '12px';\n                        button.style.border = 'none';\n                        button.style.background = '#22c55e';\n                        button.style.color = '#ffffff';\n                        button.style.cursor = 'pointer';\n                        button.style.fontWeight = '500';\n                        button.style.fontFamily = 'Inter, sans-serif';\n                        button.style.transition = 'background 0.2s ease';\n                        \n                        // Adiciona hover effect\n                        button.addEventListener('mouseenter', () => {\n                            button.style.background = '#16a34a';\n                        });\n                        button.addEventListener('mouseleave', () => {\n                            button.style.background = '#22c55e';\n                        });\n                        \n                        linksContainer.appendChild(button);\n                    });\n                    \n                    // Se há texto além dos links, adiciona antes dos botões\n                    const nonLinkLines = lines.filter(line => !/^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(line.trim()));\n                    if (nonLinkLines.length > 0) {\n                        const textDiv = document.createElement('div');\n                        textDiv.textContent = nonLinkLines.join('\\n');\n                        textDiv.style.marginBottom = '12px';\n                        messageDiv.appendChild(textDiv);\n                    }\n                    \n                    messageDiv.appendChild(linksContainer);\n                } else {\n                    // Caso não seja link ou seja um link único sem quebras de linha\n                    const isLink = /^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(content.trim());\n                    if (isLink && type === 'assistant') {\n                        const button = document.createElement('button');\n                        button.textContent = 'Abrir Link';\n                        button.onclick = () => window.open(content.trim(), '_blank');\n                        button.style.padding = '10px 16px';\n                        button.style.borderRadius = '12px';\n                        button.style.border = 'none';\n                        button.style.background = '#22c55e';\n                        button.style.color = '#ffffff';\n                        button.style.cursor = 'pointer';\n                        button.style.fontWeight = '500';\n                        button.style.fontFamily = 'Inter, sans-serif';\n                        messageDiv.appendChild(button);\n                    } else {\n                        messageDiv.textContent = content;\n                    }\n                }\n            } else {\n                messageDiv.appendChild(content);\n            }\n\n            messagesContainer.appendChild(messageDiv);\n            messagesContainer.scrollTop = messagesContainer.scrollHeight;\n        }\n\n        function addContentPreview(jsonData) {\n            const previewDiv = document.createElement('div');\n            previewDiv.className = 'content-preview';\n            \n            const titleDiv = document.createElement('div');\n            titleDiv.className = 'content-title';\n            titleDiv.textContent = `📋 ${jsonData.titulo_geral} (${jsonData.quantidade_topicos} tópicos)`;\n            previewDiv.appendChild(titleDiv);\n            \n            jsonData.topicos.forEach(topico => {\n                const topicDiv = document.createElement('div');\n                topicDiv.className = 'topic-item';\n                \n                const topicTitle = document.createElement('div');\n                topicTitle.className = 'topic-title';\n                topicTitle.textContent = `${topico.id}. ${topico.titulo}`;\n                topicDiv.appendChild(topicTitle);\n                \n                const pointsList = document.createElement('div');\n                pointsList.className = 'topic-points';\n                topico.pontos_chave.forEach(ponto => {\n                    const pointDiv = document.createElement('div');\n                    pointDiv.textContent = `• ${ponto}`;\n                    pointsList.appendChild(pointDiv);\n                });\n                topicDiv.appendChild(pointsList);\n                \n                const summaryDiv = document.createElement('div');\n                summaryDiv.className = 'topic-summary';\n                summaryDiv.textContent = topico.resumo;\n                topicDiv.appendChild(summaryDiv);\n                \n                previewDiv.appendChild(topicDiv);\n            });\n            \n            return previewDiv;\n        }\n        \n        function showTyping() {\n            document.getElementById('typing').style.display = 'block';\n            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;\n        }\n        \n        function hideTyping() {\n            document.getElementById('typing').style.display = 'none';\n        }\n        \n        function setProcessing(processing) {\n            isProcessing = processing;\n            const sendButton = document.getElementById('sendButton');\n            const messageInput = document.getElementById('messageInput');\n            \n            sendButton.disabled = processing;\n            messageInput.disabled = processing;\n            sendButton.textContent = processing ? 'Processando...' : 'Enviar';\n        }\n        \n        async function sendMessage() {\n            const input = document.getElementById('messageInput');\n            const message = input.value.trim();\n            \n            if (!message || isProcessing) return;\n            \n            addMessage(message, 'user');\n            input.value = '';\n            \n            setProcessing(true);\n            showTyping();\n            \n            try {\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({\n                        body: {\n                            data: {\n                                message: {\n                                    conversation: message\n                                }\n                            }\n                        }\n                    })\n                });\n                \n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n                \n                const result = await response.text();\n                hideTyping();\n                \n                try {\n                    const jsonMatch = result.match(/\\{[\\s\\S]*\\}/);\n                    if (jsonMatch) {\n                        const jsonData = JSON.parse(jsonMatch[0]);\n                        \n                        addMessage('✅ Conteúdo gerado com sucesso!', 'success');\n                        \n                        const preview = addContentPreview(jsonData);\n                        addMessage(preview, 'assistant');\n                        \n                        addMessage('🎨 Imagens sendo geradas e otimizadas para Instagram...', 'assistant');\n                        \n                        setTimeout(() => {\n                            addMessage('Gostaria de criar outro conteúdo sobre um tema diferente?', 'assistant');\n                        }, 1000);\n                        \n                    } else {\n                        addMessage(result, 'assistant');\n                    }\n                } catch (parseError) {\n                    addMessage(result, 'assistant');\n                }\n                \n            } catch (error) {\n                hideTyping();\n                console.error('Erro na requisição:', error);\n                addMessage(`❌ Erro ao processar mensagem: ${error.message}`, 'error');\n            } finally {\n                setProcessing(false);\n            }\n        }\n        \n        document.getElementById('messageInput').addEventListener('keypress', function(e) {\n            if (e.key === 'Enter' && !isProcessing) {\n                sendMessage();\n            }\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[180,0],"id":"f1141615-d770-4151-8b01-c05a1d7f2cf5","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,0],"id":"fd3b9445-7c7c-405d-be3e-11f937f5fc99","name":"Respond to Webhook1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Agente de Conteúdo</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);\n            height: 100vh;\n            display: flex;\n            flex-direction: column;\n            color: #e4e4e7;\n        }\n        \n        .chat-container {\n            max-width: 800px;\n            margin: 20px auto;\n            height: calc(100vh - 40px);\n            display: flex;\n            flex-direction: column;\n            background: #222222;\n            border-radius: 12px;\n            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);\n            overflow: hidden;\n        }\n        \n        .chat-header {\n            padding: 24px;\n            border-bottom: 1px solid #3a3a3a;\n            background: #2a2a2a;\n        }\n        \n        .chat-header h2 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n        \n        .chat-header p {\n            font-size: 0.9rem;\n            color: #a1a1aa;\n            margin-top: 4px;\n        }\n        \n        .chat-messages {\n            flex: 1;\n            overflow-y: auto;\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            gap: 16px;\n            scrollbar-width: thin;\n            scrollbar-color: #4a4a4a #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar {\n            width: 6px;\n        }\n        \n        .chat-messages::-webkit-scrollbar-track {\n            background: #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar-thumb {\n            background: #4a4a4a;\n            border-radius: 3px;\n        }\n        \n        .message {\n            max-width: 75%;\n            padding: 12px 16px;\n            border-radius: 12px;\n            line-height: 1.5;\n            white-space: pre-wrap;\n            font-size: 0.95rem;\n            transition: all 0.2s ease;\n        }\n        \n        .message.user {\n            align-self: flex-end;\n            background: linear-gradient(135deg, #22c55e 0%, #16a34a 100%);\n            color: #ffffff;\n        }\n        \n        .message.assistant {\n            align-self: flex-start;\n            background: #3a3a3a;\n            color: #e4e4e7;\n        }\n        \n        .message.success {\n            align-self: flex-start;\n            background: #22c55e;\n            color: #ffffff;\n        }\n        \n        .message.error {\n            align-self: flex-start;\n            background: #ef4444;\n            color: #ffffff;\n        }\n        \n        .message.image {\n            align-self: flex-start;\n            background: #2a2a2a;\n            color: #e4e4e7;\n            max-width: 90%;\n            padding: 16px;\n        }\n        \n        .chat-input {\n            padding: 20px;\n            border-top: 1px solid #3a3a3a;\n            display: flex;\n            gap: 12px;\n            background: #2a2a2a;\n        }\n        \n        .input-field {\n            flex: 1;\n            padding: 12px 16px;\n            border: 1px solid #4a4a4a;\n            border-radius: 12px;\n            outline: none;\n            font-size: 0.95rem;\n            background: #333333;\n            color: #e4e4e7;\n            transition: border-color 0.2s ease;\n        }\n        \n        .input-field:focus {\n            border-color: #22c55e;\n        }\n        \n        .send-button {\n            padding: 12px 24px;\n            background: #22c55e;\n            color: #ffffff;\n            border: none;\n            border-radius: 12px;\n            cursor: pointer;\n            font-weight: 500;\n            font-size: 0.95rem;\n            transition: background 0.2s ease;\n        }\n        \n        .send-button:hover {\n            background: #16a34a;\n        }\n        \n        .send-button:disabled {\n            background: #4a4a4a;\n            cursor: not-allowed;\n        }\n        \n        .typing-indicator {\n            display: none;\n            padding: 12px 16px;\n            background: #3a3a3a;\n            border-radius: 12px;\n            max-width: 80px;\n            align-self: flex-start;\n        }\n        \n        .typing-dots {\n            display: flex;\n            gap: 4px;\n        }\n        \n        .dot {\n            width: 8px;\n            height: 8px;\n            background: #a1a1aa;\n            border-radius: 50%;\n            animation: typing 1.4s infinite;\n        }\n        \n        .dot:nth-child(2) { animation-delay: 0.2s; }\n        .dot:nth-child(3) { animation-delay: 0.4s; }\n        \n        @keyframes typing {\n            0%, 60%, 100% { transform: translateY(0); }\n            30% { transform: translateY(-10px); }\n        }\n        \n        .content-preview {\n            margin-top: 12px;\n            padding: 16px;\n            background: #2a2a2a;\n            border-radius: 12px;\n            border-left: 4px solid #22c55e;\n        }\n        \n        .content-title {\n            font-weight: 600;\n            font-size: 1.1rem;\n            margin-bottom: 12px;\n            color: #22c55e;\n        }\n        \n        .topic-item {\n            margin-bottom: 16px;\n            padding: 12px;\n            background: #333333;\n            border-radius: 8px;\n            border: 1px solid #4a4a4a;\n        }\n        \n        .topic-title {\n            font-weight: 600;\n            font-size: 1rem;\n            margin-bottom: 8px;\n            color: #e4e4e7;\n        }\n        \n        .topic-points {\n            margin-left: 16px;\n            margin-bottom: 8px;\n            color: #d4d4d8;\n        }\n        \n        .topic-summary {\n            font-style: italic;\n            color: #a1a1aa;\n            font-size: 0.9rem;\n        }\n        \n        .image-container {\n            display: flex;\n            flex-direction: column;\n            gap: 12px;\n        }\n        \n        .image-item {\n            display: flex;\n            flex-direction: column;\n            gap: 8px;\n        }\n        \n        .image-title {\n            font-weight: 600;\n            color: #22c55e;\n            font-size: 0.9rem;\n        }\n        \n        .image-preview {\n            max-width: 100%;\n            border-radius: 8px;\n            border: 2px solid #4a4a4a;\n            transition: border-color 0.2s ease;\n            cursor: pointer;\n        }\n        \n        .image-preview:hover {\n            border-color: #22c55e;\n        }\n        \n        .loading-image {\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            padding: 16px;\n            background: #333333;\n            border-radius: 8px;\n            color: #a1a1aa;\n        }\n        \n        .loading-spinner {\n            width: 16px;\n            height: 16px;\n            border: 2px solid #4a4a4a;\n            border-top: 2px solid #22c55e;\n            border-radius: 50%;\n            animation: spin 1s linear infinite;\n        }\n        \n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n        \n        .link-button {\n            padding: 10px 16px;\n            border-radius: 12px;\n            border: none;\n            background: #22c55e;\n            color: #ffffff;\n            cursor: pointer;\n            font-weight: 500;\n            font-family: 'Inter', sans-serif;\n            transition: background 0.2s ease;\n            margin-bottom: 8px;\n            display: block;\n            text-decoration: none;\n            text-align: center;\n        }\n        \n        .link-button:hover {\n            background: #16a34a;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"chat-container\">\n        <div class=\"chat-header\">\n            <h2>Agente de Criação de Conteúdo</h2>\n            <p>Especialista em conteúdo educacional para Instagram</p>\n        </div>\n        \n        <div class=\"chat-messages\" id=\"messages\">\n            <div class=\"message assistant\">Olá! Sou seu agente especializado em criação de conteúdo. Sobre qual tema você gostaria de criar um post para Instagram?</div>\n        </div>\n        \n        <div class=\"typing-indicator\" id=\"typing\">\n            <div class=\"typing-dots\">\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n            </div>\n        </div>\n        \n        <div class=\"chat-input\">\n            <input type=\"text\" class=\"input-field\" id=\"messageInput\" placeholder=\"Digite o tema do seu conteúdo...\">\n            <button class=\"send-button\" id=\"sendButton\" onclick=\"sendMessage()\">Enviar</button>\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = 'https://primary-production-70c40.up.railway.app/webhook/78631e44-1c30-4dc3-9ff2-0098c4190223';\n        let isProcessing = false;\n        \n        // Função otimizada - tenta todas as estratégias em paralelo\n        function loadImageFast(url, timeout = 5000) {\n            return new Promise((resolve, reject) => {\n                let resolved = false;\n                \n                const resolveOnce = (result) => {\n                    if (!resolved) {\n                        resolved = true;\n                        resolve(result);\n                    }\n                };\n                \n                const rejectOnce = (error) => {\n                    if (!resolved) {\n                        resolved = true;\n                        reject(error);\n                    }\n                };\n                \n                // Timeout geral\n                setTimeout(() => rejectOnce(new Error('Timeout')), timeout);\n                \n                // Estratégia 1: Carregamento direto da imagem (mais rápido)\n                const img1 = new Image();\n                img1.crossOrigin = 'anonymous';\n                img1.onload = () => resolveOnce({ type: 'direct', src: url });\n                img1.onerror = () => {\n                    // Tenta sem crossOrigin\n                    const img2 = new Image();\n                    img2.onload = () => resolveOnce({ type: 'direct', src: url });\n                    img2.onerror = () => {}; // Ignora erro, outras estratégias estão rodando\n                    img2.src = url;\n                };\n                img1.src = url;\n                \n                // Estratégia 2: Proxy mais rápido em paralelo\n                fetch(`https://api.allorigins.win/raw?url=${encodeURIComponent(url)}`)\n                    .then(response => {\n                        if (response.ok) {\n                            return response.blob();\n                        }\n                        throw new Error('Proxy failed');\n                    })\n                    .then(blob => {\n                        const reader = new FileReader();\n                        reader.onload = () => resolveOnce({ type: 'proxy', src: reader.result });\n                        reader.readAsDataURL(blob);\n                    })\n                    .catch(() => {}); // Ignora erro\n            });\n        }\n        \n        async function processImageLinks(links) {\n            const imageContainer = document.createElement('div');\n            imageContainer.className = 'image-container';\n            \n            // Adiciona a mensagem com container vazio primeiro\n            addMessage(imageContainer, 'image');\n            \n            // Processa todas as imagens em paralelo para maior velocidade\n            const imagePromises = links.map(async (link, i) => {\n                const imageItem = document.createElement('div');\n                imageItem.className = 'image-item';\n                \n                const imageTitle = document.createElement('div');\n                imageTitle.className = 'image-title';\n                imageTitle.textContent = `📸 Imagem ${i + 1}`;\n                imageItem.appendChild(imageTitle);\n                \n                const loadingDiv = document.createElement('div');\n                loadingDiv.className = 'loading-image';\n                loadingDiv.innerHTML = `\n                    <div class=\"loading-spinner\"></div>\n                    <span>Carregando...</span>\n                `;\n                imageItem.appendChild(loadingDiv);\n                imageContainer.appendChild(imageItem);\n                \n                try {\n                    const result = await loadImageFast(link.trim(), 3000); // 3 segundos timeout\n                    \n                    const img = document.createElement('img');\n                    img.className = 'image-preview';\n                    img.alt = `Imagem gerada ${i + 1}`;\n                    img.src = result.src;\n                    \n                    // Clique para abrir\n                    img.addEventListener('click', () => {\n                        window.open(link, '_blank');\n                    });\n                    \n                    loadingDiv.remove();\n                    imageItem.appendChild(img);\n                    \n                } catch (error) {\n                    // Fallback: botão de link\n                    loadingDiv.remove();\n                    \n                    const downloadButton = document.createElement('a');\n                    downloadButton.href = link.trim();\n                    downloadButton.target = '_blank';\n                    downloadButton.className = 'link-button';\n                    downloadButton.textContent = `🔗 Abrir Imagem ${i + 1}`;\n                    \n                    imageItem.appendChild(downloadButton);\n                }\n                \n                // Scroll após cada imagem\n                const messagesContainer = document.getElementById('messages');\n                messagesContainer.scrollTop = messagesContainer.scrollHeight;\n            });\n            \n            // Espera todas as imagens processarem\n            await Promise.allSettled(imagePromises);\n        }\n        \n        function addMessage(content, type = 'assistant') {\n            const messagesContainer = document.getElementById('messages');\n            const messageDiv = document.createElement('div');\n            messageDiv.className = `message ${type}`;\n\n            if (typeof content === 'string') {\n                // Verifica se o conteúdo contém múltiplos links\n                const lines = content.trim().split('\\n');\n                const links = lines.filter(line => /^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(line.trim()));\n                \n                if (links.length > 0 && type === 'assistant') {\n                    // Processa os links para download e exibição de imagens\n                    processImageLinks(links);\n                    return;\n                } else {\n                    // Caso não seja link\n                    messageDiv.textContent = content;\n                }\n            } else {\n                messageDiv.appendChild(content);\n            }\n\n            messagesContainer.appendChild(messageDiv);\n            messagesContainer.scrollTop = messagesContainer.scrollHeight;\n        }\n\n        function addContentPreview(jsonData) {\n            const previewDiv = document.createElement('div');\n            previewDiv.className = 'content-preview';\n            \n            const titleDiv = document.createElement('div');\n            titleDiv.className = 'content-title';\n            titleDiv.textContent = `📋 ${jsonData.titulo_geral} (${jsonData.quantidade_topicos} tópicos)`;\n            previewDiv.appendChild(titleDiv);\n            \n            jsonData.topicos.forEach(topico => {\n                const topicDiv = document.createElement('div');\n                topicDiv.className = 'topic-item';\n                \n                const topicTitle = document.createElement('div');\n                topicTitle.className = 'topic-title';\n                topicTitle.textContent = `${topico.id}. ${topico.titulo}`;\n                topicDiv.appendChild(topicTitle);\n                \n                const pointsList = document.createElement('div');\n                pointsList.className = 'topic-points';\n                topico.pontos_chave.forEach(ponto => {\n                    const pointDiv = document.createElement('div');\n                    pointDiv.textContent = `• ${ponto}`;\n                    pointsList.appendChild(pointDiv);\n                });\n                topicDiv.appendChild(pointsList);\n                \n                const summaryDiv = document.createElement('div');\n                summaryDiv.className = 'topic-summary';\n                summaryDiv.textContent = topico.resumo;\n                topicDiv.appendChild(summaryDiv);\n                \n                previewDiv.appendChild(topicDiv);\n            });\n            \n            return previewDiv;\n        }\n        \n        function showTyping() {\n            document.getElementById('typing').style.display = 'block';\n            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;\n        }\n        \n        function hideTyping() {\n            document.getElementById('typing').style.display = 'none';\n        }\n        \n        function setProcessing(processing) {\n            isProcessing = processing;\n            const sendButton = document.getElementById('sendButton');\n            const messageInput = document.getElementById('messageInput');\n            \n            sendButton.disabled = processing;\n            messageInput.disabled = processing;\n            sendButton.textContent = processing ? 'Processando...' : 'Enviar';\n        }\n        \n        async function sendMessage() {\n            const input = document.getElementById('messageInput');\n            const message = input.value.trim();\n            \n            if (!message || isProcessing) return;\n            \n            addMessage(message, 'user');\n            input.value = '';\n            \n            setProcessing(true);\n            showTyping();\n            \n            try {\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({\n                        body: {\n                            data: {\n                                message: {\n                                    conversation: message\n                                }\n                            }\n                        }\n                    })\n                });\n                \n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n                \n                const result = await response.text();\n                hideTyping();\n                \n                try {\n                    const jsonMatch = result.match(/\\{[\\s\\S]*\\}/);\n                    if (jsonMatch) {\n                        const jsonData = JSON.parse(jsonMatch[0]);\n                        \n                        addMessage('✅ Conteúdo gerado com sucesso!', 'success');\n                        \n                        const preview = addContentPreview(jsonData);\n                        addMessage(preview, 'assistant');\n                        \n                        addMessage('🎨 Imagens sendo geradas e otimizadas para Instagram...', 'assistant');\n                        \n                        setTimeout(() => {\n                            addMessage('Gostaria de criar outro conteúdo sobre um tema diferente?', 'assistant');\n                        }, 1000);\n                        \n                    } else {\n                        addMessage(result, 'assistant');\n                    }\n                } catch (parseError) {\n                    addMessage(result, 'assistant');\n                }\n                \n            } catch (error) {\n                hideTyping();\n                console.error('Erro na requisição:', error);\n                addMessage(`❌ Erro ao processar mensagem: ${error.message}`, 'error');\n            } finally {\n                setProcessing(false);\n            }\n        }\n        \n        document.getElementById('messageInput').addEventListener('keypress', function(e) {\n            if (e.key === 'Enter' && !isProcessing) {\n                sendMessage();\n            }\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[180,320],"id":"d02404eb-a854-4c3e-8e63-9ab0e330d821","name":"HTML1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,320],"id":"6ddb30ae-23d4-459d-9746-d55e7d62294d","name":"Respond to Webhook"},{"parameters":{"content":"## DOWNLOAD","height":240,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-260,-60],"typeVersion":1,"id":"11d49ad8-c729-4f9d-b3f0-0bd9098965d8","name":"Sticky Note"},{"parameters":{"content":"## VIEW","height":240,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-260,260],"typeVersion":1,"id":"c7e875ec-8c15-4bee-bd5a-2cb552a64579","name":"Sticky Note1"},{"parameters":{"path":"chatagentview","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,320],"id":"e57748c1-38f7-440b-8370-9e487a0055f9","name":"Webhook1","webhookId":"894c2fad-5b76-4835-ae1a-e43a8e290f02"}],"connections":{"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTML1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a6eab3b9-8fe4-422a-908f-83545fea5c14","activeVersionId":"a6eab3b9-8fe4-422a-908f-83545fea5c14","triggerCount":2,"shared":[{"updatedAt":"2025-06-12T17:09:58.100Z","createdAt":"2025-06-12T17:09:58.100Z","role":"workflow:owner","workflowId":"DfVWW1fFNbcpNJd8","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"a6eab3b9-8fe4-422a-908f-83545fea5c14","workflowId":"DfVWW1fFNbcpNJd8","nodes":[{"parameters":{"path":"chatagente","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,0],"id":"02b6a8b0-3af9-4a11-8b2f-80d260ede22f","name":"Webhook","webhookId":"b35f66f4-6700-4742-8f66-e72d28ec8df9"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Agente de Conteúdo</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);\n            height: 100vh;\n            display: flex;\n            flex-direction: column;\n            color: #e4e4e7;\n        }\n        \n        .chat-container {\n            max-width: 800px;\n            margin: 20px auto;\n            height: calc(100vh - 40px);\n            display: flex;\n            flex-direction: column;\n            background: #222222;\n            border-radius: 12px;\n            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);\n            overflow: hidden;\n        }\n        \n        .chat-header {\n            padding: 24px;\n            border-bottom: 1px solid #3a3a3a;\n            background: #2a2a2a;\n        }\n        \n        .chat-header h2 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n        \n        .chat-header p {\n            font-size: 0.9rem;\n            color: #a1a1aa;\n            margin-top: 4px;\n        }\n        \n        .chat-messages {\n            flex: 1;\n            overflow-y: auto;\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            gap: 16px;\n            scrollbar-width: thin;\n            scrollbar-color: #4a4a4a #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar {\n            width: 6px;\n        }\n        \n        .chat-messages::-webkit-scrollbar-track {\n            background: #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar-thumb {\n            background: #4a4a4a;\n            border-radius: 3px;\n        }\n        \n        .message {\n            max-width: 75%;\n            padding: 12px 16px;\n            border-radius: 12px;\n            line-height: 1.5;\n            white-space: pre-wrap;\n            font-size: 0.95rem;\n            transition: all 0.2s ease;\n        }\n        \n        .message.user {\n            align-self: flex-end;\n            background: linear-gradient(135deg, #22c55e 0%, #16a34a 100%);\n            color: #ffffff;\n        }\n        \n        .message.assistant {\n            align-self: flex-start;\n            background: #3a3a3a;\n            color: #e4e4e7;\n        }\n        \n        .message.success {\n            align-self: flex-start;\n            background: #22c55e;\n            color: #ffffff;\n        }\n        \n        .message.error {\n            align-self: flex-start;\n            background: #ef4444;\n            color: #ffffff;\n        }\n        \n        .chat-input {\n            padding: 20px;\n            border-top: 1px solid #3a3a3a;\n            display: flex;\n            gap: 12px;\n            background: #2a2a2a;\n        }\n        \n        .input-field {\n            flex: 1;\n            padding: 12px 16px;\n            border: 1px solid #4a4a4a;\n            border-radius: 12px;\n            outline: none;\n            font-size: 0.95rem;\n            background: #333333;\n            color: #e4e4e7;\n            transition: border-color 0.2s ease;\n        }\n        \n        .input-field:focus {\n            border-color: #22c55e;\n        }\n        \n        .send-button {\n            padding: 12px 24px;\n            background: #22c55e;\n            color: #ffffff;\n            border: none;\n            border-radius: 12px;\n            cursor: pointer;\n            font-weight: 500;\n            font-size: 0.95rem;\n            transition: background 0.2s ease;\n        }\n        \n        .send-button:hover {\n            background: #16a34a;\n        }\n        \n        .send-button:disabled {\n            background: #4a4a4a;\n            cursor: not-allowed;\n        }\n        \n        .typing-indicator {\n            display: none;\n            padding: 12px 16px;\n            background: #3a3a3a;\n            border-radius: 12px;\n            max-width: 80px;\n            align-self: flex-start;\n        }\n        \n        .typing-dots {\n            display: flex;\n            gap: 4px;\n        }\n        \n        .dot {\n            width: 8px;\n            height: 8px;\n            background: #a1a1aa;\n            border-radius: 50%;\n            animation: typing 1.4s infinite;\n        }\n        \n        .dot:nth-child(2) { animation-delay: 0.2s; }\n        .dot:nth-child(3) { animation-delay: 0.4s; }\n        \n        @keyframes typing {\n            0%, 60%, 100% { transform: translateY(0); }\n            30% { transform: translateY(-10px); }\n        }\n        \n        .content-preview {\n            margin-top: 12px;\n            padding: 16px;\n            background: #2a2a2a;\n            border-radius: 12px;\n            border-left: 4px solid #22c55e;\n        }\n        \n        .content-title {\n            font-weight: 600;\n            font-size: 1.1rem;\n            margin-bottom: 12px;\n            color: #22c55e;\n        }\n        \n        .topic-item {\n            margin-bottom: 16px;\n            padding: 12px;\n            background: #333333;\n            border-radius: 8px;\n            border: 1px solid #4a4a4a;\n        }\n        \n        .topic-title {\n            font-weight: 600;\n            font-size: 1rem;\n            margin-bottom: 8px;\n            color: #e4e4e7;\n        }\n        \n        .topic-points {\n            margin-left: 16px;\n            margin-bottom: 8px;\n            color: #d4d4d8;\n        }\n        \n        .topic-summary {\n            font-style: italic;\n            color: #a1a1aa;\n            font-size: 0.9rem;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"chat-container\">\n        <div class=\"chat-header\">\n            <h2>Agente de Criação de Conteúdo</h2>\n            <p>Especialista em conteúdo educacional para Instagram</p>\n        </div>\n        \n        <div class=\"chat-messages\" id=\"messages\">\n            <div class=\"message assistant\">Olá! Sou seu agente especializado em criação de conteúdo. Sobre qual tema você gostaria de criar um post para Instagram?</div>\n        </div>\n        \n        <div class=\"typing-indicator\" id=\"typing\">\n            <div class=\"typing-dots\">\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n            </div>\n        </div>\n        \n        <div class=\"chat-input\">\n            <input type=\"text\" class=\"input-field\" id=\"messageInput\" placeholder=\"Digite o tema do seu conteúdo...\">\n            <button class=\"send-button\" id=\"sendButton\" onclick=\"sendMessage()\">Enviar</button>\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = 'https://primary-production-70c40.up.railway.app/webhook/78631e44-1c30-4dc3-9ff2-0098c4190223';\n        let isProcessing = false;\n        \n        function addMessage(content, type = 'assistant') {\n            const messagesContainer = document.getElementById('messages');\n            const messageDiv = document.createElement('div');\n            messageDiv.className = `message ${type}`;\n\n            if (typeof content === 'string') {\n                // Verifica se o conteúdo contém múltiplos links\n                const lines = content.trim().split('\\n');\n                const links = lines.filter(line => /^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(line.trim()));\n                \n                if (links.length > 0 && type === 'assistant') {\n                    // Se há links, cria um container para os botões\n                    const linksContainer = document.createElement('div');\n                    linksContainer.style.display = 'flex';\n                    linksContainer.style.flexDirection = 'column';\n                    linksContainer.style.gap = '8px';\n                    \n                    links.forEach((link, index) => {\n                        const button = document.createElement('button');\n                        button.textContent = `Abrir Link ${index + 1}`;\n                        button.onclick = () => window.open(link.trim(), '_blank');\n                        button.style.padding = '10px 16px';\n                        button.style.borderRadius = '12px';\n                        button.style.border = 'none';\n                        button.style.background = '#22c55e';\n                        button.style.color = '#ffffff';\n                        button.style.cursor = 'pointer';\n                        button.style.fontWeight = '500';\n                        button.style.fontFamily = 'Inter, sans-serif';\n                        button.style.transition = 'background 0.2s ease';\n                        \n                        // Adiciona hover effect\n                        button.addEventListener('mouseenter', () => {\n                            button.style.background = '#16a34a';\n                        });\n                        button.addEventListener('mouseleave', () => {\n                            button.style.background = '#22c55e';\n                        });\n                        \n                        linksContainer.appendChild(button);\n                    });\n                    \n                    // Se há texto além dos links, adiciona antes dos botões\n                    const nonLinkLines = lines.filter(line => !/^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(line.trim()));\n                    if (nonLinkLines.length > 0) {\n                        const textDiv = document.createElement('div');\n                        textDiv.textContent = nonLinkLines.join('\\n');\n                        textDiv.style.marginBottom = '12px';\n                        messageDiv.appendChild(textDiv);\n                    }\n                    \n                    messageDiv.appendChild(linksContainer);\n                } else {\n                    // Caso não seja link ou seja um link único sem quebras de linha\n                    const isLink = /^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(content.trim());\n                    if (isLink && type === 'assistant') {\n                        const button = document.createElement('button');\n                        button.textContent = 'Abrir Link';\n                        button.onclick = () => window.open(content.trim(), '_blank');\n                        button.style.padding = '10px 16px';\n                        button.style.borderRadius = '12px';\n                        button.style.border = 'none';\n                        button.style.background = '#22c55e';\n                        button.style.color = '#ffffff';\n                        button.style.cursor = 'pointer';\n                        button.style.fontWeight = '500';\n                        button.style.fontFamily = 'Inter, sans-serif';\n                        messageDiv.appendChild(button);\n                    } else {\n                        messageDiv.textContent = content;\n                    }\n                }\n            } else {\n                messageDiv.appendChild(content);\n            }\n\n            messagesContainer.appendChild(messageDiv);\n            messagesContainer.scrollTop = messagesContainer.scrollHeight;\n        }\n\n        function addContentPreview(jsonData) {\n            const previewDiv = document.createElement('div');\n            previewDiv.className = 'content-preview';\n            \n            const titleDiv = document.createElement('div');\n            titleDiv.className = 'content-title';\n            titleDiv.textContent = `📋 ${jsonData.titulo_geral} (${jsonData.quantidade_topicos} tópicos)`;\n            previewDiv.appendChild(titleDiv);\n            \n            jsonData.topicos.forEach(topico => {\n                const topicDiv = document.createElement('div');\n                topicDiv.className = 'topic-item';\n                \n                const topicTitle = document.createElement('div');\n                topicTitle.className = 'topic-title';\n                topicTitle.textContent = `${topico.id}. ${topico.titulo}`;\n                topicDiv.appendChild(topicTitle);\n                \n                const pointsList = document.createElement('div');\n                pointsList.className = 'topic-points';\n                topico.pontos_chave.forEach(ponto => {\n                    const pointDiv = document.createElement('div');\n                    pointDiv.textContent = `• ${ponto}`;\n                    pointsList.appendChild(pointDiv);\n                });\n                topicDiv.appendChild(pointsList);\n                \n                const summaryDiv = document.createElement('div');\n                summaryDiv.className = 'topic-summary';\n                summaryDiv.textContent = topico.resumo;\n                topicDiv.appendChild(summaryDiv);\n                \n                previewDiv.appendChild(topicDiv);\n            });\n            \n            return previewDiv;\n        }\n        \n        function showTyping() {\n            document.getElementById('typing').style.display = 'block';\n            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;\n        }\n        \n        function hideTyping() {\n            document.getElementById('typing').style.display = 'none';\n        }\n        \n        function setProcessing(processing) {\n            isProcessing = processing;\n            const sendButton = document.getElementById('sendButton');\n            const messageInput = document.getElementById('messageInput');\n            \n            sendButton.disabled = processing;\n            messageInput.disabled = processing;\n            sendButton.textContent = processing ? 'Processando...' : 'Enviar';\n        }\n        \n        async function sendMessage() {\n            const input = document.getElementById('messageInput');\n            const message = input.value.trim();\n            \n            if (!message || isProcessing) return;\n            \n            addMessage(message, 'user');\n            input.value = '';\n            \n            setProcessing(true);\n            showTyping();\n            \n            try {\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({\n                        body: {\n                            data: {\n                                message: {\n                                    conversation: message\n                                }\n                            }\n                        }\n                    })\n                });\n                \n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n                \n                const result = await response.text();\n                hideTyping();\n                \n                try {\n                    const jsonMatch = result.match(/\\{[\\s\\S]*\\}/);\n                    if (jsonMatch) {\n                        const jsonData = JSON.parse(jsonMatch[0]);\n                        \n                        addMessage('✅ Conteúdo gerado com sucesso!', 'success');\n                        \n                        const preview = addContentPreview(jsonData);\n                        addMessage(preview, 'assistant');\n                        \n                        addMessage('🎨 Imagens sendo geradas e otimizadas para Instagram...', 'assistant');\n                        \n                        setTimeout(() => {\n                            addMessage('Gostaria de criar outro conteúdo sobre um tema diferente?', 'assistant');\n                        }, 1000);\n                        \n                    } else {\n                        addMessage(result, 'assistant');\n                    }\n                } catch (parseError) {\n                    addMessage(result, 'assistant');\n                }\n                \n            } catch (error) {\n                hideTyping();\n                console.error('Erro na requisição:', error);\n                addMessage(`❌ Erro ao processar mensagem: ${error.message}`, 'error');\n            } finally {\n                setProcessing(false);\n            }\n        }\n        \n        document.getElementById('messageInput').addEventListener('keypress', function(e) {\n            if (e.key === 'Enter' && !isProcessing) {\n                sendMessage();\n            }\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[180,0],"id":"f1141615-d770-4151-8b01-c05a1d7f2cf5","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,0],"id":"fd3b9445-7c7c-405d-be3e-11f937f5fc99","name":"Respond to Webhook1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Agente de Conteúdo</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);\n            height: 100vh;\n            display: flex;\n            flex-direction: column;\n            color: #e4e4e7;\n        }\n        \n        .chat-container {\n            max-width: 800px;\n            margin: 20px auto;\n            height: calc(100vh - 40px);\n            display: flex;\n            flex-direction: column;\n            background: #222222;\n            border-radius: 12px;\n            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);\n            overflow: hidden;\n        }\n        \n        .chat-header {\n            padding: 24px;\n            border-bottom: 1px solid #3a3a3a;\n            background: #2a2a2a;\n        }\n        \n        .chat-header h2 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n        \n        .chat-header p {\n            font-size: 0.9rem;\n            color: #a1a1aa;\n            margin-top: 4px;\n        }\n        \n        .chat-messages {\n            flex: 1;\n            overflow-y: auto;\n            padding: 24px;\n            display: flex;\n            flex-direction: column;\n            gap: 16px;\n            scrollbar-width: thin;\n            scrollbar-color: #4a4a4a #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar {\n            width: 6px;\n        }\n        \n        .chat-messages::-webkit-scrollbar-track {\n            background: #222222;\n        }\n        \n        .chat-messages::-webkit-scrollbar-thumb {\n            background: #4a4a4a;\n            border-radius: 3px;\n        }\n        \n        .message {\n            max-width: 75%;\n            padding: 12px 16px;\n            border-radius: 12px;\n            line-height: 1.5;\n            white-space: pre-wrap;\n            font-size: 0.95rem;\n            transition: all 0.2s ease;\n        }\n        \n        .message.user {\n            align-self: flex-end;\n            background: linear-gradient(135deg, #22c55e 0%, #16a34a 100%);\n            color: #ffffff;\n        }\n        \n        .message.assistant {\n            align-self: flex-start;\n            background: #3a3a3a;\n            color: #e4e4e7;\n        }\n        \n        .message.success {\n            align-self: flex-start;\n            background: #22c55e;\n            color: #ffffff;\n        }\n        \n        .message.error {\n            align-self: flex-start;\n            background: #ef4444;\n            color: #ffffff;\n        }\n        \n        .message.image {\n            align-self: flex-start;\n            background: #2a2a2a;\n            color: #e4e4e7;\n            max-width: 90%;\n            padding: 16px;\n        }\n        \n        .chat-input {\n            padding: 20px;\n            border-top: 1px solid #3a3a3a;\n            display: flex;\n            gap: 12px;\n            background: #2a2a2a;\n        }\n        \n        .input-field {\n            flex: 1;\n            padding: 12px 16px;\n            border: 1px solid #4a4a4a;\n            border-radius: 12px;\n            outline: none;\n            font-size: 0.95rem;\n            background: #333333;\n            color: #e4e4e7;\n            transition: border-color 0.2s ease;\n        }\n        \n        .input-field:focus {\n            border-color: #22c55e;\n        }\n        \n        .send-button {\n            padding: 12px 24px;\n            background: #22c55e;\n            color: #ffffff;\n            border: none;\n            border-radius: 12px;\n            cursor: pointer;\n            font-weight: 500;\n            font-size: 0.95rem;\n            transition: background 0.2s ease;\n        }\n        \n        .send-button:hover {\n            background: #16a34a;\n        }\n        \n        .send-button:disabled {\n            background: #4a4a4a;\n            cursor: not-allowed;\n        }\n        \n        .typing-indicator {\n            display: none;\n            padding: 12px 16px;\n            background: #3a3a3a;\n            border-radius: 12px;\n            max-width: 80px;\n            align-self: flex-start;\n        }\n        \n        .typing-dots {\n            display: flex;\n            gap: 4px;\n        }\n        \n        .dot {\n            width: 8px;\n            height: 8px;\n            background: #a1a1aa;\n            border-radius: 50%;\n            animation: typing 1.4s infinite;\n        }\n        \n        .dot:nth-child(2) { animation-delay: 0.2s; }\n        .dot:nth-child(3) { animation-delay: 0.4s; }\n        \n        @keyframes typing {\n            0%, 60%, 100% { transform: translateY(0); }\n            30% { transform: translateY(-10px); }\n        }\n        \n        .content-preview {\n            margin-top: 12px;\n            padding: 16px;\n            background: #2a2a2a;\n            border-radius: 12px;\n            border-left: 4px solid #22c55e;\n        }\n        \n        .content-title {\n            font-weight: 600;\n            font-size: 1.1rem;\n            margin-bottom: 12px;\n            color: #22c55e;\n        }\n        \n        .topic-item {\n            margin-bottom: 16px;\n            padding: 12px;\n            background: #333333;\n            border-radius: 8px;\n            border: 1px solid #4a4a4a;\n        }\n        \n        .topic-title {\n            font-weight: 600;\n            font-size: 1rem;\n            margin-bottom: 8px;\n            color: #e4e4e7;\n        }\n        \n        .topic-points {\n            margin-left: 16px;\n            margin-bottom: 8px;\n            color: #d4d4d8;\n        }\n        \n        .topic-summary {\n            font-style: italic;\n            color: #a1a1aa;\n            font-size: 0.9rem;\n        }\n        \n        .image-container {\n            display: flex;\n            flex-direction: column;\n            gap: 12px;\n        }\n        \n        .image-item {\n            display: flex;\n            flex-direction: column;\n            gap: 8px;\n        }\n        \n        .image-title {\n            font-weight: 600;\n            color: #22c55e;\n            font-size: 0.9rem;\n        }\n        \n        .image-preview {\n            max-width: 100%;\n            border-radius: 8px;\n            border: 2px solid #4a4a4a;\n            transition: border-color 0.2s ease;\n            cursor: pointer;\n        }\n        \n        .image-preview:hover {\n            border-color: #22c55e;\n        }\n        \n        .loading-image {\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            padding: 16px;\n            background: #333333;\n            border-radius: 8px;\n            color: #a1a1aa;\n        }\n        \n        .loading-spinner {\n            width: 16px;\n            height: 16px;\n            border: 2px solid #4a4a4a;\n            border-top: 2px solid #22c55e;\n            border-radius: 50%;\n            animation: spin 1s linear infinite;\n        }\n        \n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n        \n        .link-button {\n            padding: 10px 16px;\n            border-radius: 12px;\n            border: none;\n            background: #22c55e;\n            color: #ffffff;\n            cursor: pointer;\n            font-weight: 500;\n            font-family: 'Inter', sans-serif;\n            transition: background 0.2s ease;\n            margin-bottom: 8px;\n            display: block;\n            text-decoration: none;\n            text-align: center;\n        }\n        \n        .link-button:hover {\n            background: #16a34a;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"chat-container\">\n        <div class=\"chat-header\">\n            <h2>Agente de Criação de Conteúdo</h2>\n            <p>Especialista em conteúdo educacional para Instagram</p>\n        </div>\n        \n        <div class=\"chat-messages\" id=\"messages\">\n            <div class=\"message assistant\">Olá! Sou seu agente especializado em criação de conteúdo. Sobre qual tema você gostaria de criar um post para Instagram?</div>\n        </div>\n        \n        <div class=\"typing-indicator\" id=\"typing\">\n            <div class=\"typing-dots\">\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n                <div class=\"dot\"></div>\n            </div>\n        </div>\n        \n        <div class=\"chat-input\">\n            <input type=\"text\" class=\"input-field\" id=\"messageInput\" placeholder=\"Digite o tema do seu conteúdo...\">\n            <button class=\"send-button\" id=\"sendButton\" onclick=\"sendMessage()\">Enviar</button>\n        </div>\n    </div>\n\n    <script>\n        const WEBHOOK_URL = 'https://primary-production-70c40.up.railway.app/webhook/78631e44-1c30-4dc3-9ff2-0098c4190223';\n        let isProcessing = false;\n        \n        // Função otimizada - tenta todas as estratégias em paralelo\n        function loadImageFast(url, timeout = 5000) {\n            return new Promise((resolve, reject) => {\n                let resolved = false;\n                \n                const resolveOnce = (result) => {\n                    if (!resolved) {\n                        resolved = true;\n                        resolve(result);\n                    }\n                };\n                \n                const rejectOnce = (error) => {\n                    if (!resolved) {\n                        resolved = true;\n                        reject(error);\n                    }\n                };\n                \n                // Timeout geral\n                setTimeout(() => rejectOnce(new Error('Timeout')), timeout);\n                \n                // Estratégia 1: Carregamento direto da imagem (mais rápido)\n                const img1 = new Image();\n                img1.crossOrigin = 'anonymous';\n                img1.onload = () => resolveOnce({ type: 'direct', src: url });\n                img1.onerror = () => {\n                    // Tenta sem crossOrigin\n                    const img2 = new Image();\n                    img2.onload = () => resolveOnce({ type: 'direct', src: url });\n                    img2.onerror = () => {}; // Ignora erro, outras estratégias estão rodando\n                    img2.src = url;\n                };\n                img1.src = url;\n                \n                // Estratégia 2: Proxy mais rápido em paralelo\n                fetch(`https://api.allorigins.win/raw?url=${encodeURIComponent(url)}`)\n                    .then(response => {\n                        if (response.ok) {\n                            return response.blob();\n                        }\n                        throw new Error('Proxy failed');\n                    })\n                    .then(blob => {\n                        const reader = new FileReader();\n                        reader.onload = () => resolveOnce({ type: 'proxy', src: reader.result });\n                        reader.readAsDataURL(blob);\n                    })\n                    .catch(() => {}); // Ignora erro\n            });\n        }\n        \n        async function processImageLinks(links) {\n            const imageContainer = document.createElement('div');\n            imageContainer.className = 'image-container';\n            \n            // Adiciona a mensagem com container vazio primeiro\n            addMessage(imageContainer, 'image');\n            \n            // Processa todas as imagens em paralelo para maior velocidade\n            const imagePromises = links.map(async (link, i) => {\n                const imageItem = document.createElement('div');\n                imageItem.className = 'image-item';\n                \n                const imageTitle = document.createElement('div');\n                imageTitle.className = 'image-title';\n                imageTitle.textContent = `📸 Imagem ${i + 1}`;\n                imageItem.appendChild(imageTitle);\n                \n                const loadingDiv = document.createElement('div');\n                loadingDiv.className = 'loading-image';\n                loadingDiv.innerHTML = `\n                    <div class=\"loading-spinner\"></div>\n                    <span>Carregando...</span>\n                `;\n                imageItem.appendChild(loadingDiv);\n                imageContainer.appendChild(imageItem);\n                \n                try {\n                    const result = await loadImageFast(link.trim(), 3000); // 3 segundos timeout\n                    \n                    const img = document.createElement('img');\n                    img.className = 'image-preview';\n                    img.alt = `Imagem gerada ${i + 1}`;\n                    img.src = result.src;\n                    \n                    // Clique para abrir\n                    img.addEventListener('click', () => {\n                        window.open(link, '_blank');\n                    });\n                    \n                    loadingDiv.remove();\n                    imageItem.appendChild(img);\n                    \n                } catch (error) {\n                    // Fallback: botão de link\n                    loadingDiv.remove();\n                    \n                    const downloadButton = document.createElement('a');\n                    downloadButton.href = link.trim();\n                    downloadButton.target = '_blank';\n                    downloadButton.className = 'link-button';\n                    downloadButton.textContent = `🔗 Abrir Imagem ${i + 1}`;\n                    \n                    imageItem.appendChild(downloadButton);\n                }\n                \n                // Scroll após cada imagem\n                const messagesContainer = document.getElementById('messages');\n                messagesContainer.scrollTop = messagesContainer.scrollHeight;\n            });\n            \n            // Espera todas as imagens processarem\n            await Promise.allSettled(imagePromises);\n        }\n        \n        function addMessage(content, type = 'assistant') {\n            const messagesContainer = document.getElementById('messages');\n            const messageDiv = document.createElement('div');\n            messageDiv.className = `message ${type}`;\n\n            if (typeof content === 'string') {\n                // Verifica se o conteúdo contém múltiplos links\n                const lines = content.trim().split('\\n');\n                const links = lines.filter(line => /^https?:\\/\\/[\\w\\-._~:/?#[\\]@!$&'()*+,;=.]+$/.test(line.trim()));\n                \n                if (links.length > 0 && type === 'assistant') {\n                    // Processa os links para download e exibição de imagens\n                    processImageLinks(links);\n                    return;\n                } else {\n                    // Caso não seja link\n                    messageDiv.textContent = content;\n                }\n            } else {\n                messageDiv.appendChild(content);\n            }\n\n            messagesContainer.appendChild(messageDiv);\n            messagesContainer.scrollTop = messagesContainer.scrollHeight;\n        }\n\n        function addContentPreview(jsonData) {\n            const previewDiv = document.createElement('div');\n            previewDiv.className = 'content-preview';\n            \n            const titleDiv = document.createElement('div');\n            titleDiv.className = 'content-title';\n            titleDiv.textContent = `📋 ${jsonData.titulo_geral} (${jsonData.quantidade_topicos} tópicos)`;\n            previewDiv.appendChild(titleDiv);\n            \n            jsonData.topicos.forEach(topico => {\n                const topicDiv = document.createElement('div');\n                topicDiv.className = 'topic-item';\n                \n                const topicTitle = document.createElement('div');\n                topicTitle.className = 'topic-title';\n                topicTitle.textContent = `${topico.id}. ${topico.titulo}`;\n                topicDiv.appendChild(topicTitle);\n                \n                const pointsList = document.createElement('div');\n                pointsList.className = 'topic-points';\n                topico.pontos_chave.forEach(ponto => {\n                    const pointDiv = document.createElement('div');\n                    pointDiv.textContent = `• ${ponto}`;\n                    pointsList.appendChild(pointDiv);\n                });\n                topicDiv.appendChild(pointsList);\n                \n                const summaryDiv = document.createElement('div');\n                summaryDiv.className = 'topic-summary';\n                summaryDiv.textContent = topico.resumo;\n                topicDiv.appendChild(summaryDiv);\n                \n                previewDiv.appendChild(topicDiv);\n            });\n            \n            return previewDiv;\n        }\n        \n        function showTyping() {\n            document.getElementById('typing').style.display = 'block';\n            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;\n        }\n        \n        function hideTyping() {\n            document.getElementById('typing').style.display = 'none';\n        }\n        \n        function setProcessing(processing) {\n            isProcessing = processing;\n            const sendButton = document.getElementById('sendButton');\n            const messageInput = document.getElementById('messageInput');\n            \n            sendButton.disabled = processing;\n            messageInput.disabled = processing;\n            sendButton.textContent = processing ? 'Processando...' : 'Enviar';\n        }\n        \n        async function sendMessage() {\n            const input = document.getElementById('messageInput');\n            const message = input.value.trim();\n            \n            if (!message || isProcessing) return;\n            \n            addMessage(message, 'user');\n            input.value = '';\n            \n            setProcessing(true);\n            showTyping();\n            \n            try {\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({\n                        body: {\n                            data: {\n                                message: {\n                                    conversation: message\n                                }\n                            }\n                        }\n                    })\n                });\n                \n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n                \n                const result = await response.text();\n                hideTyping();\n                \n                try {\n                    const jsonMatch = result.match(/\\{[\\s\\S]*\\}/);\n                    if (jsonMatch) {\n                        const jsonData = JSON.parse(jsonMatch[0]);\n                        \n                        addMessage('✅ Conteúdo gerado com sucesso!', 'success');\n                        \n                        const preview = addContentPreview(jsonData);\n                        addMessage(preview, 'assistant');\n                        \n                        addMessage('🎨 Imagens sendo geradas e otimizadas para Instagram...', 'assistant');\n                        \n                        setTimeout(() => {\n                            addMessage('Gostaria de criar outro conteúdo sobre um tema diferente?', 'assistant');\n                        }, 1000);\n                        \n                    } else {\n                        addMessage(result, 'assistant');\n                    }\n                } catch (parseError) {\n                    addMessage(result, 'assistant');\n                }\n                \n            } catch (error) {\n                hideTyping();\n                console.error('Erro na requisição:', error);\n                addMessage(`❌ Erro ao processar mensagem: ${error.message}`, 'error');\n            } finally {\n                setProcessing(false);\n            }\n        }\n        \n        document.getElementById('messageInput').addEventListener('keypress', function(e) {\n            if (e.key === 'Enter' && !isProcessing) {\n                sendMessage();\n            }\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[180,320],"id":"d02404eb-a854-4c3e-8e63-9ab0e330d821","name":"HTML1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[420,320],"id":"6ddb30ae-23d4-459d-9746-d55e7d62294d","name":"Respond to Webhook"},{"parameters":{"content":"## DOWNLOAD","height":240,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-260,-60],"typeVersion":1,"id":"11d49ad8-c729-4f9d-b3f0-0bd9098965d8","name":"Sticky Note"},{"parameters":{"content":"## VIEW","height":240,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-260,260],"typeVersion":1,"id":"c7e875ec-8c15-4bee-bd5a-2cb552a64579","name":"Sticky Note1"},{"parameters":{"path":"chatagentview","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,320],"id":"e57748c1-38f7-440b-8370-9e487a0055f9","name":"Webhook1","webhookId":"894c2fad-5b76-4835-ae1a-e43a8e290f02"}],"connections":{"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTML1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}