primeiroworkflow-1phIsDMunlRIw4Lz.json
{"updatedAt":"2025-11-30T00:08:37.846Z","createdAt":"2025-11-28T01:33:05.242Z","id":"1phIsDMunlRIw4Lz","name":"PrimeiroWorkFlow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-896,-112],"id":"2b1ada25-9e53-4f4a-bd5f-a831aa1d8917","name":"When chat message received","webhookId":"2df893a5-4cf8-4c6c-877a-74f9d6cac4ad"},{"parameters":{"resource":"audio","input":"={{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[416,112],"id":"6b049d08-a52c-44fb-a9df-74f430039083","name":"Generate audio","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}}},{"parameters":{"resource":"audio","operation":"translate","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[624,112],"id":"798d0c80-82de-47d9-a6af-bde60dc21cf9","name":"Translate a recording","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"daa18252-06ad-41de-b63c-9f6cd8bc4e5e","leftValue":"={{ $json.chatInput }}","rightValue":"supabase","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUPABASE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46d7d797-f3e1-42fd-aa7d-5399f2743320","leftValue":"={{ $json.chatInput }}","rightValue":"gpt","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GPT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-560,-112],"id":"204fe27e-2207-419a-b79a-8b76e2bcfb1c","name":"Switch"},{"parameters":{"tableId":"usuarios","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"Iago"},{"fieldId":"whatsapp","fieldValue":"={{ $json.sessionId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,-224],"id":"2861b9ca-0832-4f3a-b79e-dd2456bf728e","name":"Create a row","credentials":{"supabaseApi":{"id":"EANxq5B6bx1XXshr","name":"Supabase n8n"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34677ac9-6478-42e4-9ca7-46a669a89b24","leftValue":"={{ $json.chatInput }}","rightValue":"transcreva","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-16],"id":"3d5255f4-da9e-4c02-87da-14cb241c3008","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f37ee7-ac5a-4d29-b8fb-afe2a185f1e7","leftValue":"={{ $json.chatInput }}","rightValue":"nova linha","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-208],"id":"ed0bb621-0564-4d0e-924d-0e75b5f2b665","name":"If1"}],"connections":{"When chat message received":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Translate a recording","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":60,"availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cdc2bb5a-2b87-4c38-a408-dbe8633db602","triggerCount":0,"shared":[{"updatedAt":"2025-11-28T01:33:05.242Z","createdAt":"2025-11-28T01:33:05.242Z","role":"workflow:owner","workflowId":"1phIsDMunlRIw4Lz","projectId":"YZrYS4wxuA4kpfiB"}],"tags":[{"updatedAt":"2025-11-28T01:33:27.481Z","createdAt":"2025-11-28T01:33:27.481Z","id":"vYROKj3NyEIAE4C9","name":"PrimeiroWorkFlow"}]}