primeiroworkflow-1phIsDMunlRIw4Lz.json
{"updatedAt":"2025-12-03T01:05:01.757Z","createdAt":"2025-11-28T01:33:05.242Z","id":"1phIsDMunlRIw4Lz","name":"PrimeiroWorkFlow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-896,-112],"id":"2b1ada25-9e53-4f4a-bd5f-a831aa1d8917","name":"When chat message received","webhookId":"2df893a5-4cf8-4c6c-877a-74f9d6cac4ad"},{"parameters":{"resource":"audio","input":"={{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[448,-32],"id":"6b049d08-a52c-44fb-a9df-74f430039083","name":"Generate audio","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}}},{"parameters":{"resource":"audio","operation":"translate","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[736,-32],"id":"798d0c80-82de-47d9-a6af-bde60dc21cf9","name":"Translate a recording","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"daa18252-06ad-41de-b63c-9f6cd8bc4e5e","leftValue":"={{ $json.chatInput }}","rightValue":"supabase","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUPABASE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46d7d797-f3e1-42fd-aa7d-5399f2743320","leftValue":"={{ $json.chatInput }}","rightValue":"gpt","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GPT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88c6ae02-b906-479b-9615-6a0c341da49f","leftValue":"={{ $json.chatInput }}","rightValue":"i.a.","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"I.A."}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-560,-112],"id":"204fe27e-2207-419a-b79a-8b76e2bcfb1c","name":"Switch"},{"parameters":{"tableId":"usuarios","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"Iago"},{"fieldId":"whatsapp","fieldValue":"={{ $json.sessionId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,-224],"id":"2861b9ca-0832-4f3a-b79e-dd2456bf728e","name":"Create a row","credentials":{"supabaseApi":{"id":"EANxq5B6bx1XXshr","name":"Supabase n8n"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34677ac9-6478-42e4-9ca7-46a669a89b24","leftValue":"={{ $json.chatInput }}","rightValue":"transcreva","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-16],"id":"3d5255f4-da9e-4c02-87da-14cb241c3008","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f37ee7-ac5a-4d29-b8fb-afe2a185f1e7","leftValue":"={{ $json.chatInput }}","rightValue":"nova linha","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-208],"id":"ed0bb621-0564-4d0e-924d-0e75b5f2b665","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40f37ee7-ac5a-4d29-b8fb-afe2a185f1e7","leftValue":"={{ $json.chatInput }}","rightValue":"i.a. teste","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,160],"id":"3a188fff-ab29-4f68-a055-e8b33ea7aae9","name":"If2"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[128,144],"id":"d168d53f-819a-471c-80be-a0767309ee09","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,464],"id":"fc98057f-172f-4d19-9182-1b00745d1ca7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[224,464],"id":"215831ea-4500-46e2-996b-72ff370c7673","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[656,432],"id":"214fbdb6-6a6f-4ac7-acd9-a1079874306b","name":"Calculator"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[480,432],"id":"aa0fa2b7-025a-4467-89d3-99760c2e8995","name":"Think"}],"connections":{"When chat message received":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Translate a recording","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"If2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":60,"availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54102564-2cf1-4729-b0dd-0f456aa76933","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T01:33:05.242Z","createdAt":"2025-11-28T01:33:05.242Z","role":"workflow:owner","workflowId":"1phIsDMunlRIw4Lz","projectId":"YZrYS4wxuA4kpfiB"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-28T01:33:27.481Z","createdAt":"2025-11-28T01:33:27.481Z","id":"vYROKj3NyEIAE4C9","name":"PrimeiroWorkFlow"}]}