projuris-sfhvpjiv5NSQBumw.json
{"updatedAt":"2025-06-25T22:38:44.304Z","createdAt":"2025-06-25T21:57:26.011Z","id":"sfhvpjiv5NSQBumw","name":"Projuris","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-360,-240],"id":"2e1364b1-5713-425a-9c4c-76297f3622e7","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://apigw.projurisadv.com.br/auth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"username\": \"ti01@camozziconsultoria.com.br$$camozzi-advogados\",\n    \"password\": \"dIy3!w957*YL#!#p\",\n    \"grant_type\": \"password\",\n    \"client_id\": \"api_cliente_codigo_49351\",\n    \"client_secret\": \"@2021@68769687640f68066431391d9012d890\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,-240],"id":"9c037c03-5962-4184-9754-e650ad9e81d3","name":"Token"},{"parameters":{"url":"https://app.projurisadv.com.br/adv-service/processo/consulta-completa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-240],"id":"baab337e-462e-4b53-85bb-d258433b040c","name":"Andamento"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Token","type":"main","index":0}]]},"Token":{"main":[[{"node":"Andamento","type":"main","index":0}]]},"Andamento":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f4a0ecdf-e13b-47c0-9ddf-4ee410a9a051","triggerCount":0,"shared":[{"updatedAt":"2025-06-25T21:57:26.011Z","createdAt":"2025-06-25T21:57:26.011Z","role":"workflow:owner","workflowId":"sfhvpjiv5NSQBumw","projectId":"BlSED80HESP48veq"}],"tags":[]}