projuris-sfhvpjiv5NSQBumw.json
{"updatedAt":"2026-01-12T13:39:57.710Z","createdAt":"2025-06-25T21:57:26.011Z","id":"sfhvpjiv5NSQBumw","name":"Projuris","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,-240],"id":"2e1364b1-5713-425a-9c4c-76297f3622e7","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://apigw.projurisadv.com.br/auth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"username\": \"ti01@camozziconsultoria.com.br$$camozzi-advogados\",\n    \"password\": \"dIy3!w957*YL#!#p\",\n    \"grant_type\": \"password\",\n    \"client_id\": \"api_cliente_codigo_49351\",\n    \"client_secret\": \"@2021@68769687640f68066431391d9012d890\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-240],"id":"9c037c03-5962-4184-9754-e650ad9e81d3","name":"Token"},{"parameters":{"url":"https://api.projurisadv.com.br/adv-service/usuario","sendQuery":true,"queryParameters":{"parameters":[{"name":"quan-registros","value":"100"},{"name":"pagina","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-384],"id":"baab337e-462e-4b53-85bb-d258433b040c","name":"Usuarios"},{"parameters":{"url":"https://api.projurisadv.com.br/adv-service/processo/consulta","sendQuery":true,"queryParameters":{"parameters":[{"name":"pagina","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-160],"id":"27f38730-6a3d-4e02-8e6d-6ff28621e9b0","name":"Processos"},{"parameters":{"assignments":{"assignments":[{"id":"c9047b9c-b928-4b78-9873-502d35eadb44","name":"totaRegistros","value":"={{ $('Processos').first().json.totalRegistros }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-160],"id":"8d7440ec-27af-4bae-87bd-30b8e0eff2e7","name":"numero de processos"},{"parameters":{"jsCode":"const totalRegistros = $input.first().json.totaRegistros;\nconst porPagina = 199;\n\nconst totalPages = Math.ceil(totalRegistros / porPagina);\n\nreturn [\n  {\n    json: {\n      totalPages\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-160],"id":"fcb4dc32-a2f6-4f47-a6ef-bde38b582c66","name":"totalPages"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Token","type":"main","index":0}]]},"Token":{"main":[[{"node":"Usuarios","type":"main","index":0},{"node":"Processos","type":"main","index":0}]]},"Usuarios":{"main":[[]]},"Processos":{"main":[[{"node":"numero de processos","type":"main","index":0}]]},"numero de processos":{"main":[[{"node":"totalPages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e8c4fa1a-46ff-4f76-8a2a-0dc9129181e1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-06-25T21:57:26.011Z","createdAt":"2025-06-25T21:57:26.011Z","role":"workflow:owner","workflowId":"sfhvpjiv5NSQBumw","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}