prospect-instagram-my8jRol0kr-ZOSlDKmbJ5.json
{"updatedAt":"2026-01-27T14:19:04.432Z","createdAt":"2026-01-17T22:12:28.317Z","id":"my8jRol0kr-ZOSlDKmbJ5","name":"PROSPECT INSTAGRAM","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI","mode":"list","cachedResultName":"Lista Exemplo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:A4"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[208,704],"id":"5d1d699b-8b39-4dfd-a004-498b889020a3","name":"Get List","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,704],"id":"9a2689fe-a5cf-46d6-9aba-5ae683449e95","name":"Loop Over Items","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"47c39cd1-b0d9-4863-a418-dba6e53556ef","name":"profileUrl","value":"={{ $json.inputUrl }}","type":"string"},{"id":"368b87ff-55ca-4ae4-ae1c-93b7d486a10e","name":"username","value":"={{ $json.username }}","type":"string"},{"id":"8c365e02-089d-4ecc-835b-5df92f178228","name":"name","value":"={{ $json.fullName }}","type":"string"},{"id":"d23d1744-16b9-4184-be32-51e7049afbc9","name":"bio","value":"={{ $json.biography }}","type":"string"},{"id":"4127f838-1c96-4aa6-9cfd-a4a6b2af9ffc","name":"externalUrl","value":"={{ $json.externalUrlShimmed }}","type":"string"},{"id":"47738885-4536-4caf-a065-86556569f46f","name":"followersCount","value":"={{ $json.followersCount }}","type":"number"},{"id":"f6040413-f7be-4452-8416-b352dd5e319c","name":"followsCount","value":"={{ $json.followsCount }}","type":"number"},{"id":"c66d2fdc-6461-4fce-b683-67d8718507aa","name":"profilePicUrl","value":"={{ $json.profilePicUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,704],"id":"ae13ef48-141a-40f2-8199-1d820e28e0ad","name":"Main Data","disabled":true},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token=SUA_API","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n      \"{{ $('Loop Over Items').item.json.Url }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 200,\n    \"resultsType\": \"details\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,704],"id":"252434b2-97b0-43bf-b7ac-b62dd1ced3b9","name":"[Apify] IG Scrape - Run Actor","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"filterByFormula":"={Profile URL} = '{{ $json.Url }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[576,816],"id":"dcf7da88-4562-4e9f-8fc8-107ec65d02ea","name":"Search Records","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0813251-c368-4d51-a148-9d46981e8df6","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,816],"id":"841fa58b-ed9c-49d8-ac79-ec0e3cec3f87","name":"If Exists","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Função\nEncontrar um número de telefone dentro de um código HTML.\n\n# Dicas e Instruções\n- O número provavelmente está perto da palavra \"whatsapp\" e deve começar com 55;\n- Retorne APENAS o número ou \"NOT FOUND\";\n- Retorne o número no formato 55DD9XXXXYYYY. Alguns exemplos são:\n  - 5541999465337, 5511987564738 ee 5541999874665;\n- Caso não encontre o número, retorne \"NOT FOUND\".\n\n {{ $json.html }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1600,704],"id":"5336affe-d5d7-450e-b71c-28f00591c55c","name":"OpenAI","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~web-scraper/run-sync-get-dataset-items?token=SUA_API","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"breakpointLocation\": \"NONE\",\n    \"browserLog\": false,\n    \"closeCookieModals\": false,\n    \"debugLog\": false,\n    \"downloadCss\": true,\n    \"downloadMedia\": true,\n    \"excludes\": [\n        {\n            \"glob\": \"/**/*.{png,jpg,jpeg,pdf}\"\n        }\n    ],\n    \"globs\": [\n        {\n            \"glob\": \"https://crawlee.dev/*/*\"\n        }\n    ],\n    \"headless\": true,\n    \"ignoreCorsAndCsp\": false,\n    \"ignoreSslErrors\": false,\n    \"injectJQuery\": true,\n    \"keepUrlFragments\": false,\n    \"linkSelector\": \"a[href]\",\n    \"pageFunction\": \"// The function accepts a single argument: the \\\"context\\\" object.\\n// For a complete list of its properties and functions,\\n// see https://apify.com/apify/web-scraper#page-function \\nasync function pageFunction(context) {\\n    // This statement works as a breakpoint when you're trying to debug your code. Works only with Run mode: DEVELOPMENT!\\n    // debugger; \\n\\n    // jQuery is handy for finding DOM elements and extracting data from them.\\n    // To use it, make sure to enable the \\\"Inject jQuery\\\" option.\\n    const $ = context.jQuery;\\n    return {\\n        url: context.request.url,\\n        html: $(\\\"html\\\").html()\\n    };\\n}\",\n    \"postNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept a single argument: the \\\"crawlingContext\\\" object.\\n[\\n    async (crawlingContext) => {\\n        // ...\\n    },\\n]\",\n    \"preNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept two arguments: the \\\"crawlingContext\\\" object\\n// and \\\"gotoOptions\\\".\\n[\\n    async (crawlingContext, gotoOptions) => {\\n        // ...\\n    },\\n]\\n\",\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"runMode\": \"DEVELOPMENT\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.externalUrl }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useChrome\": false,\n    \"waitUntil\": [\n        \"networkidle2\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,704],"id":"abc4b3ef-45e0-48f0-b660-6fad7b01d8e7","name":"[Apify] Webscrape - Run Actor","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d2b470e-5ebc-4310-9fbe-e174d98fcd02","leftValue":"={{ $json.message.content }}","rightValue":"NOT FOUND","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,1024],"id":"10307ca6-5f1a-423d-8585-5474a88b04f0","name":"If Phone # Not Found","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"columns":{"mappingMode":"defineBelow","value":{"Followers Count":"={{ $('Main Data').item.json.followersCount }}","Following Count":"={{ $('Main Data').item.json.followsCount }}","Engagement Rate":0,"Profile Name":"={{ $('Main Data').item.json.name }}","Profile URL":"={{ $('Main Data').item.json.profileUrl }}","Bio":"={{ $('Main Data').item.json.bio }}","Profile Picture":"={{ $('Main Data').item.json.profilePicUrl }}","Notas":"Sem telefone"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Profile URL","displayName":"Profile URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bio","displayName":"Bio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Followers Count","displayName":"Followers Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Following Count","displayName":"Following Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Engagement Rate","displayName":"Engagement Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Outreach","value":"Outreach"},{"name":"Contato","value":"Contato"},{"name":"A agendar","value":"A agendar"},{"name":"Agendado","value":"Agendado"},{"name":"Negociando","value":"Negociando"},{"name":"Fechado","value":"Fechado"},{"name":"Perdido","value":"Perdido"}],"readOnly":false,"removed":false},{"id":"Outreach Campaigns","displayName":"Outreach Campaigns","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Engagement Metrics","displayName":"Engagement Metrics","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Outreach Log","displayName":"Outreach Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1264,912],"id":"50edd1b2-23fe-40a8-9b4c-9d468580112e","name":"Create Record","disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"filterByFormula":"={Phone Number} = '{{ $('OpenAI').item.json.message.content }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1264,1120],"id":"04e5ee60-c563-4b8a-9999-d96477ae00b5","name":"Search Records By Phone #","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0813251-c368-4d51-a148-9d46981e8df6","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,1120],"id":"0732e8ba-a072-4621-9e17-2451caaf47ad","name":"If Exists1","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"columns":{"mappingMode":"defineBelow","value":{"Followers Count":"={{ $('Main Data').item.json.followersCount }}","Following Count":"={{ $('Main Data').item.json.followsCount }}","Engagement Rate":0,"Profile Name":"={{ $('Main Data').item.json.name }}","Profile URL":"={{ $('Main Data').item.json.profileUrl }}","Bio":"={{ $('Main Data').item.json.bio }}","Profile Picture":"={{ $('Main Data').item.json.profilePicUrl }}","Notas":"Sem telefone","Phone Number":"={{ $('OpenAI').item.json.message.content }}"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Profile URL","displayName":"Profile URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bio","displayName":"Bio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Followers Count","displayName":"Followers Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Following Count","displayName":"Following Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Engagement Rate","displayName":"Engagement Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Outreach","value":"Outreach"},{"name":"Contato","value":"Contato"},{"name":"A agendar","value":"A agendar"},{"name":"Agendado","value":"Agendado"},{"name":"Negociando","value":"Negociando"},{"name":"Fechado","value":"Fechado"},{"name":"Perdido","value":"Perdido"}],"readOnly":false,"removed":false},{"id":"Outreach Campaigns","displayName":"Outreach Campaigns","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Engagement Metrics","displayName":"Engagement Metrics","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Outreach Log","displayName":"Outreach Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1664,1120],"id":"c2cfd77e-9c39-42c2-bac8-82a968a61024","name":"Create Record1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,1120],"id":"68a5cb6c-9c8c-48ea-b42c-06863db6788b","name":"[Z-API] Send Message","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tbliKA2KvbjIKX6q8","mode":"list","cachedResultName":"Outreach Log","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tbliKA2KvbjIKX6q8"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Create Record1').item.json.fields['Profile Name'] }}","Status":"Done","Response":"No","Follow Up Date":"={{ $today.plus(3, \"days\") }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Response","displayName":"Response","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Follow Up Date","displayName":"Follow Up Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2048,1120],"id":"a9221727-adc6-4295-ae34-47c7cf5003c9","name":"Create Outreach Log"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,-320],"id":"a59e00ae-9547-4185-9896-ba8e2be6393f","name":"Split Out"},{"parameters":{"url":"https://google-search74.p.rapidapi.com","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"=site:instagram.com \"{{ $json.nicho }}\""},{"name":"limit","value":"100"},{"name":"related_keywords","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search74.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"3d716fc754msh9afd345a1fbd5d6p1a976ajsnb7af2c15918e"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-320],"id":"eb1063fe-ca93-41bd-9cea-d92d426ec9f6","name":"RapidAPI"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,128],"id":"ca1144f7-f89a-42e9-bf23-76812bcb19f6","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"87974670-7743-41d5-ad98-bbc731be9fdf","name":"nicho","value":"Estética Goiânia","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-320],"id":"3e280571-2ad0-4314-bd8e-5af4844bfebd","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Link":"={{ $json.url }}","Descrição insta":"={{ $json.description }}"},"matchingColumns":[],"schema":[{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"enviado","displayName":"enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição insta","displayName":"Descrição insta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[784,-320],"id":"7d9c83ef-312c-4d70-8ba1-9ee9102b92c3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[336,128],"id":"af15705d-522d-45ba-ad6a-70d15389ee19","name":"Get List1","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-16],"id":"a5bb7735-2ff9-41fb-bb88-018ce4b252dc","name":"Loop Over Items1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items1').first().json.row_number }}","enviado":"erro"},"matchingColumns":["row_number"],"schema":[{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"enviado","displayName":"enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição insta","displayName":"Descrição insta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,176],"id":"64f9ab69-bfe4-434f-84e8-3207ada41331","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e100a220-254d-42d8-9b89-11f28a1fc729","leftValue":"={{ $json.output.number }}","rightValue":"NOT FOUND","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1104,-16],"id":"b65c102e-4174-4b15-89ba-eece966d4621","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items1').first().json.row_number }}","whatsapp":"={{ $json.output.number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"enviado","displayName":"enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Descrição insta","displayName":"Descrição insta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,176],"id":"3456ffc7-0514-4805-8168-193996d98dad","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"promptType":"define","text":"={{ $json[\"Descrição insta\"] }}","hasOutputParser":true,"options":{"systemMessage":"=# 📱 Extração e Normalização de WhatsApp (Brasil)\n\n## Função\nExtrair **um único número de WhatsApp válido do Brasil** a partir de texto desestruturado, ruidoso ou misturado com símbolos, emojis e palavras.\n\n---\n\n## ⚙️ Regras de Execução (Obrigatórias)\n\n### 1. Princípio\nIgnore significado do texto. Trabalhe **somente com padrões numéricos**.\n\n---\n\n### 2. O texto pode conter números assim:\n\n- (62) 99933-8201  \n- +55 62 9933 8201  \n- 62 99338201  \n- 5562999338201  \n- 62-9933-8201  \n- 📱62 99933-8201  \n- WhatsApp: 62 99933 8201  \n- Tel: (62) 3225-0505 / 98480-0505  \n\nOs números podem estar:\n- com espaços, traços, parênteses  \n- com emojis no meio  \n- colados com texto  \n- junto de telefone fixo  \n\n---\n\n### 3. Extração\n\nExtraia **todos os blocos numéricos possíveis** que representem telefone, mesmo que estejam quebrados.\n\nDepois, para cada candidato:\n\n1. Remova tudo que **não seja número**\n2. Se começar com `0`, remova o zero inicial\n3. Se não começar com `55`, adicione `55` no início\n\n---\n\n### 4. Validação Rígida 🚫\n\nUm número **só é válido se atender TODOS os critérios**:\n\n- Deve ter **13 dígitos finais**\n- Formato obrigatório:\n\n\nCASO NAO ENCONTRE NENHUM NUMERO, RETORNE: NOT FOUND"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[768,-16],"id":"a48135e6-7126-46f0-918e-a851cd135c35","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[752,160],"id":"78c9bfbe-487d-4ff4-8c1e-44201cee8ffe","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1824,176],"id":"eb8ae5c0-9428-4775-ae40-2526e3228998","name":"Wait","webhookId":"c7940f27-7aae-4cd0-8bde-dad7b881c488"},{"parameters":{"jsonSchemaExample":"{\n\t\"number\": \"+5562994342576\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[928,160],"id":"8464ee86-af40-4cfd-a6f8-709d35b1617e","name":"Structured Output Parser"}],"connections":{"Get List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Search Records","type":"main","index":0}]]},"[Apify] IG Scrape - Run Actor":{"main":[[{"node":"Main Data","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search Records":{"main":[[{"node":"If Exists","type":"main","index":0}]]},"If Exists":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"[Apify] IG Scrape - Run Actor","type":"main","index":0}]]},"Main Data":{"main":[[{"node":"[Apify] Webscrape - Run Actor","type":"main","index":0}]]},"[Apify] Webscrape - Run Actor":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If Phone # Not Found","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If Phone # Not Found":{"main":[[{"node":"Create Record","type":"main","index":0}],[{"node":"Search Records By Phone #","type":"main","index":0}]]},"Search Records By Phone #":{"main":[[{"node":"If Exists1","type":"main","index":0}]]},"If Exists1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Create Record1","type":"main","index":0}]]},"Create Record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Record1":{"main":[[{"node":"[Z-API] Send Message","type":"main","index":0}]]},"[Z-API] Send Message":{"main":[[{"node":"Create Outreach Log","type":"main","index":0}]]},"Create Outreach Log":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"RapidAPI":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RapidAPI","type":"main","index":0}]]},"Get List1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"be450921-442c-4e4e-bb5c-7142e1370a4b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-17T22:12:28.317Z","createdAt":"2026-01-17T22:12:28.317Z","role":"workflow:owner","workflowId":"my8jRol0kr-ZOSlDKmbJ5","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}