prospect-instagram-my8jRol0kr-ZOSlDKmbJ5.json
{"updatedAt":"2026-01-18T00:52:05.229Z","createdAt":"2026-01-17T22:12:28.317Z","id":"my8jRol0kr-ZOSlDKmbJ5","name":"PROSPECT INSTAGRAM","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,352],"id":"091472f6-cd0d-4f73-b580-b784482a3310","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI","mode":"list","cachedResultName":"Lista Exemplo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:A4"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[192,352],"id":"5d1d699b-8b39-4dfd-a004-498b889020a3","name":"Get List"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,352],"id":"9a2689fe-a5cf-46d6-9aba-5ae683449e95","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"47c39cd1-b0d9-4863-a418-dba6e53556ef","name":"profileUrl","value":"={{ $json.inputUrl }}","type":"string"},{"id":"368b87ff-55ca-4ae4-ae1c-93b7d486a10e","name":"username","value":"={{ $json.username }}","type":"string"},{"id":"8c365e02-089d-4ecc-835b-5df92f178228","name":"name","value":"={{ $json.fullName }}","type":"string"},{"id":"d23d1744-16b9-4184-be32-51e7049afbc9","name":"bio","value":"={{ $json.biography }}","type":"string"},{"id":"4127f838-1c96-4aa6-9cfd-a4a6b2af9ffc","name":"externalUrl","value":"={{ $json.externalUrlShimmed }}","type":"string"},{"id":"47738885-4536-4caf-a065-86556569f46f","name":"followersCount","value":"={{ $json.followersCount }}","type":"number"},{"id":"f6040413-f7be-4452-8416-b352dd5e319c","name":"followsCount","value":"={{ $json.followsCount }}","type":"number"},{"id":"c66d2fdc-6461-4fce-b683-67d8718507aa","name":"profilePicUrl","value":"={{ $json.profilePicUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,352],"id":"ae13ef48-141a-40f2-8199-1d820e28e0ad","name":"Main Data"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token=SUA_API","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n      \"{{ $('Loop Over Items').item.json.Url }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 200,\n    \"resultsType\": \"details\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,352],"id":"252434b2-97b0-43bf-b7ac-b62dd1ced3b9","name":"[Apify] IG Scrape - Run Actor","onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"filterByFormula":"={Profile URL} = '{{ $json.Url }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,464],"id":"dcf7da88-4562-4e9f-8fc8-107ec65d02ea","name":"Search Records","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0813251-c368-4d51-a148-9d46981e8df6","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,464],"id":"841fa58b-ed9c-49d8-ac79-ec0e3cec3f87","name":"If Exists"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Função\nEncontrar um número de telefone dentro de um código HTML.\n\n# Dicas e Instruções\n- O número provavelmente está perto da palavra \"whatsapp\" e deve começar com 55;\n- Retorne APENAS o número ou \"NOT FOUND\";\n- Retorne o número no formato 55DD9XXXXYYYY. Alguns exemplos são:\n  - 5541999465337, 5511987564738 ee 5541999874665;\n- Caso não encontre o número, retorne \"NOT FOUND\".\n\n {{ $json.html }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1584,352],"id":"5336affe-d5d7-450e-b71c-28f00591c55c","name":"OpenAI","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~web-scraper/run-sync-get-dataset-items?token=SUA_API","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"breakpointLocation\": \"NONE\",\n    \"browserLog\": false,\n    \"closeCookieModals\": false,\n    \"debugLog\": false,\n    \"downloadCss\": true,\n    \"downloadMedia\": true,\n    \"excludes\": [\n        {\n            \"glob\": \"/**/*.{png,jpg,jpeg,pdf}\"\n        }\n    ],\n    \"globs\": [\n        {\n            \"glob\": \"https://crawlee.dev/*/*\"\n        }\n    ],\n    \"headless\": true,\n    \"ignoreCorsAndCsp\": false,\n    \"ignoreSslErrors\": false,\n    \"injectJQuery\": true,\n    \"keepUrlFragments\": false,\n    \"linkSelector\": \"a[href]\",\n    \"pageFunction\": \"// The function accepts a single argument: the \\\"context\\\" object.\\n// For a complete list of its properties and functions,\\n// see https://apify.com/apify/web-scraper#page-function \\nasync function pageFunction(context) {\\n    // This statement works as a breakpoint when you're trying to debug your code. Works only with Run mode: DEVELOPMENT!\\n    // debugger; \\n\\n    // jQuery is handy for finding DOM elements and extracting data from them.\\n    // To use it, make sure to enable the \\\"Inject jQuery\\\" option.\\n    const $ = context.jQuery;\\n    return {\\n        url: context.request.url,\\n        html: $(\\\"html\\\").html()\\n    };\\n}\",\n    \"postNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept a single argument: the \\\"crawlingContext\\\" object.\\n[\\n    async (crawlingContext) => {\\n        // ...\\n    },\\n]\",\n    \"preNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept two arguments: the \\\"crawlingContext\\\" object\\n// and \\\"gotoOptions\\\".\\n[\\n    async (crawlingContext, gotoOptions) => {\\n        // ...\\n    },\\n]\\n\",\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"runMode\": \"DEVELOPMENT\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.externalUrl }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useChrome\": false,\n    \"waitUntil\": [\n        \"networkidle2\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,352],"id":"abc4b3ef-45e0-48f0-b660-6fad7b01d8e7","name":"[Apify] Webscrape - Run Actor","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d2b470e-5ebc-4310-9fbe-e174d98fcd02","leftValue":"={{ $json.message.content }}","rightValue":"NOT FOUND","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,672],"id":"10307ca6-5f1a-423d-8585-5474a88b04f0","name":"If Phone # Not Found"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"columns":{"mappingMode":"defineBelow","value":{"Followers Count":"={{ $('Main Data').item.json.followersCount }}","Following Count":"={{ $('Main Data').item.json.followsCount }}","Engagement Rate":0,"Profile Name":"={{ $('Main Data').item.json.name }}","Profile URL":"={{ $('Main Data').item.json.profileUrl }}","Bio":"={{ $('Main Data').item.json.bio }}","Profile Picture":"={{ $('Main Data').item.json.profilePicUrl }}","Notas":"Sem telefone"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Profile URL","displayName":"Profile URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bio","displayName":"Bio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Followers Count","displayName":"Followers Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Following Count","displayName":"Following Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Engagement Rate","displayName":"Engagement Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Outreach","value":"Outreach"},{"name":"Contato","value":"Contato"},{"name":"A agendar","value":"A agendar"},{"name":"Agendado","value":"Agendado"},{"name":"Negociando","value":"Negociando"},{"name":"Fechado","value":"Fechado"},{"name":"Perdido","value":"Perdido"}],"readOnly":false,"removed":false},{"id":"Outreach Campaigns","displayName":"Outreach Campaigns","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Engagement Metrics","displayName":"Engagement Metrics","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Outreach Log","displayName":"Outreach Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1248,560],"id":"50edd1b2-23fe-40a8-9b4c-9d468580112e","name":"Create Record"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"filterByFormula":"={Phone Number} = '{{ $('OpenAI').item.json.message.content }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1248,768],"id":"04e5ee60-c563-4b8a-9999-d96477ae00b5","name":"Search Records By Phone #","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0813251-c368-4d51-a148-9d46981e8df6","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,768],"id":"0732e8ba-a072-4621-9e17-2451caaf47ad","name":"If Exists1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"columns":{"mappingMode":"defineBelow","value":{"Followers Count":"={{ $('Main Data').item.json.followersCount }}","Following Count":"={{ $('Main Data').item.json.followsCount }}","Engagement Rate":0,"Profile Name":"={{ $('Main Data').item.json.name }}","Profile URL":"={{ $('Main Data').item.json.profileUrl }}","Bio":"={{ $('Main Data').item.json.bio }}","Profile Picture":"={{ $('Main Data').item.json.profilePicUrl }}","Notas":"Sem telefone","Phone Number":"={{ $('OpenAI').item.json.message.content }}"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Profile URL","displayName":"Profile URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bio","displayName":"Bio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Followers Count","displayName":"Followers Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Following Count","displayName":"Following Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Engagement Rate","displayName":"Engagement Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Outreach","value":"Outreach"},{"name":"Contato","value":"Contato"},{"name":"A agendar","value":"A agendar"},{"name":"Agendado","value":"Agendado"},{"name":"Negociando","value":"Negociando"},{"name":"Fechado","value":"Fechado"},{"name":"Perdido","value":"Perdido"}],"readOnly":false,"removed":false},{"id":"Outreach Campaigns","displayName":"Outreach Campaigns","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Engagement Metrics","displayName":"Engagement Metrics","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Outreach Log","displayName":"Outreach Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1648,768],"id":"c2cfd77e-9c39-42c2-bac8-82a968a61024","name":"Create Record1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,768],"id":"68a5cb6c-9c8c-48ea-b42c-06863db6788b","name":"[Z-API] Send Message","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tbliKA2KvbjIKX6q8","mode":"list","cachedResultName":"Outreach Log","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tbliKA2KvbjIKX6q8"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Create Record1').item.json.fields['Profile Name'] }}","Status":"Done","Response":"No","Follow Up Date":"={{ $today.plus(3, \"days\") }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Response","displayName":"Response","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Follow Up Date","displayName":"Follow Up Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2032,768],"id":"a9221727-adc6-4295-ae34-47c7cf5003c9","name":"Create Outreach Log"},{"parameters":{"formTitle":"Nicho","formFields":{"values":[{"fieldLabel":"Nicho","placeholder":"Qual o nicho? Exemplo: Salão de Beleza","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"b4edd720-38f4-49c0-b89c-dc94ce02b137","name":"On form submission","webhookId":"9aa22741-9f13-44de-8bba-b514ce6af880"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[464,0],"id":"a59e00ae-9547-4185-9896-ba8e2be6393f","name":"Split Out"},{"parameters":{"url":"https://google-search74.p.rapidapi.com","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"=site:instagram.com \"{{ $json.Nicho }}\""},{"name":"limit","value":"30"},{"name":"related_keywords","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search74.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"SUA_API"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"eb1063fe-ca93-41bd-9cea-d92d426ec9f6","name":"RapidAPI"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[688,0],"id":"7d9c83ef-312c-4d70-8ba1-9ee9102b92c3","name":"Google Sheets"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get List","type":"main","index":0}]]},"Get List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Search Records","type":"main","index":0}]]},"[Apify] IG Scrape - Run Actor":{"main":[[{"node":"Main Data","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search Records":{"main":[[{"node":"If Exists","type":"main","index":0}]]},"If Exists":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"[Apify] IG Scrape - Run Actor","type":"main","index":0}]]},"Main Data":{"main":[[{"node":"[Apify] Webscrape - Run Actor","type":"main","index":0}]]},"[Apify] Webscrape - Run Actor":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If Phone # Not Found","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If Phone # Not Found":{"main":[[{"node":"Create Record","type":"main","index":0}],[{"node":"Search Records By Phone #","type":"main","index":0}]]},"Search Records By Phone #":{"main":[[{"node":"If Exists1","type":"main","index":0}]]},"If Exists1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Create Record1","type":"main","index":0}]]},"Create Record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Record1":{"main":[[{"node":"[Z-API] Send Message","type":"main","index":0}]]},"[Z-API] Send Message":{"main":[[{"node":"Create Outreach Log","type":"main","index":0}]]},"Create Outreach Log":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"RapidAPI","type":"main","index":0}]]},"RapidAPI":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Nicho":"salao de beleza","submittedAt":"2025-01-28T14:44:41.623-03:00","formMode":"test"}}]},"versionId":"67360d17-f609-4718-beb0-297e0f03de2d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-17T22:12:28.317Z","createdAt":"2026-01-17T22:12:28.317Z","role":"workflow:owner","workflowId":"my8jRol0kr-ZOSlDKmbJ5","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}