prospect-instagram-my8jRol0kr-ZOSlDKmbJ5.json
{"updatedAt":"2026-01-24T19:29:09.680Z","createdAt":"2026-01-17T22:12:28.317Z","id":"my8jRol0kr-ZOSlDKmbJ5","name":"PROSPECT INSTAGRAM","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI","mode":"list","cachedResultName":"Lista Exemplo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13yxl9xJdnRucEBBeGz8hg0IW8vdOShZydu0V1jH5TgI/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:A4"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[208,704],"id":"5d1d699b-8b39-4dfd-a004-498b889020a3","name":"Get List","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,704],"id":"9a2689fe-a5cf-46d6-9aba-5ae683449e95","name":"Loop Over Items","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"47c39cd1-b0d9-4863-a418-dba6e53556ef","name":"profileUrl","value":"={{ $json.inputUrl }}","type":"string"},{"id":"368b87ff-55ca-4ae4-ae1c-93b7d486a10e","name":"username","value":"={{ $json.username }}","type":"string"},{"id":"8c365e02-089d-4ecc-835b-5df92f178228","name":"name","value":"={{ $json.fullName }}","type":"string"},{"id":"d23d1744-16b9-4184-be32-51e7049afbc9","name":"bio","value":"={{ $json.biography }}","type":"string"},{"id":"4127f838-1c96-4aa6-9cfd-a4a6b2af9ffc","name":"externalUrl","value":"={{ $json.externalUrlShimmed }}","type":"string"},{"id":"47738885-4536-4caf-a065-86556569f46f","name":"followersCount","value":"={{ $json.followersCount }}","type":"number"},{"id":"f6040413-f7be-4452-8416-b352dd5e319c","name":"followsCount","value":"={{ $json.followsCount }}","type":"number"},{"id":"c66d2fdc-6461-4fce-b683-67d8718507aa","name":"profilePicUrl","value":"={{ $json.profilePicUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,704],"id":"ae13ef48-141a-40f2-8199-1d820e28e0ad","name":"Main Data","disabled":true},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token=SUA_API","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n      \"{{ $('Loop Over Items').item.json.Url }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 200,\n    \"resultsType\": \"details\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,704],"id":"252434b2-97b0-43bf-b7ac-b62dd1ced3b9","name":"[Apify] IG Scrape - Run Actor","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"filterByFormula":"={Profile URL} = '{{ $json.Url }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[576,816],"id":"dcf7da88-4562-4e9f-8fc8-107ec65d02ea","name":"Search Records","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0813251-c368-4d51-a148-9d46981e8df6","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,816],"id":"841fa58b-ed9c-49d8-ac79-ec0e3cec3f87","name":"If Exists","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Função\nEncontrar um número de telefone dentro de um código HTML.\n\n# Dicas e Instruções\n- O número provavelmente está perto da palavra \"whatsapp\" e deve começar com 55;\n- Retorne APENAS o número ou \"NOT FOUND\";\n- Retorne o número no formato 55DD9XXXXYYYY. Alguns exemplos são:\n  - 5541999465337, 5511987564738 ee 5541999874665;\n- Caso não encontre o número, retorne \"NOT FOUND\".\n\n {{ $json.html }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1600,704],"id":"5336affe-d5d7-450e-b71c-28f00591c55c","name":"OpenAI","credentials":{"openAiApi":{"id":"Z0tXEuYjsIYfw5z5","name":"OpenAi n8n"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~web-scraper/run-sync-get-dataset-items?token=SUA_API","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"breakpointLocation\": \"NONE\",\n    \"browserLog\": false,\n    \"closeCookieModals\": false,\n    \"debugLog\": false,\n    \"downloadCss\": true,\n    \"downloadMedia\": true,\n    \"excludes\": [\n        {\n            \"glob\": \"/**/*.{png,jpg,jpeg,pdf}\"\n        }\n    ],\n    \"globs\": [\n        {\n            \"glob\": \"https://crawlee.dev/*/*\"\n        }\n    ],\n    \"headless\": true,\n    \"ignoreCorsAndCsp\": false,\n    \"ignoreSslErrors\": false,\n    \"injectJQuery\": true,\n    \"keepUrlFragments\": false,\n    \"linkSelector\": \"a[href]\",\n    \"pageFunction\": \"// The function accepts a single argument: the \\\"context\\\" object.\\n// For a complete list of its properties and functions,\\n// see https://apify.com/apify/web-scraper#page-function \\nasync function pageFunction(context) {\\n    // This statement works as a breakpoint when you're trying to debug your code. Works only with Run mode: DEVELOPMENT!\\n    // debugger; \\n\\n    // jQuery is handy for finding DOM elements and extracting data from them.\\n    // To use it, make sure to enable the \\\"Inject jQuery\\\" option.\\n    const $ = context.jQuery;\\n    return {\\n        url: context.request.url,\\n        html: $(\\\"html\\\").html()\\n    };\\n}\",\n    \"postNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept a single argument: the \\\"crawlingContext\\\" object.\\n[\\n    async (crawlingContext) => {\\n        // ...\\n    },\\n]\",\n    \"preNavigationHooks\": \"// We need to return array of (possibly async) functions here.\\n// The functions accept two arguments: the \\\"crawlingContext\\\" object\\n// and \\\"gotoOptions\\\".\\n[\\n    async (crawlingContext, gotoOptions) => {\\n        // ...\\n    },\\n]\\n\",\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"runMode\": \"DEVELOPMENT\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.externalUrl }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useChrome\": false,\n    \"waitUntil\": [\n        \"networkidle2\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,704],"id":"abc4b3ef-45e0-48f0-b660-6fad7b01d8e7","name":"[Apify] Webscrape - Run Actor","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d2b470e-5ebc-4310-9fbe-e174d98fcd02","leftValue":"={{ $json.message.content }}","rightValue":"NOT FOUND","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,1024],"id":"10307ca6-5f1a-423d-8585-5474a88b04f0","name":"If Phone # Not Found","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"columns":{"mappingMode":"defineBelow","value":{"Followers Count":"={{ $('Main Data').item.json.followersCount }}","Following Count":"={{ $('Main Data').item.json.followsCount }}","Engagement Rate":0,"Profile Name":"={{ $('Main Data').item.json.name }}","Profile URL":"={{ $('Main Data').item.json.profileUrl }}","Bio":"={{ $('Main Data').item.json.bio }}","Profile Picture":"={{ $('Main Data').item.json.profilePicUrl }}","Notas":"Sem telefone"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Profile URL","displayName":"Profile URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bio","displayName":"Bio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Followers Count","displayName":"Followers Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Following Count","displayName":"Following Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Engagement Rate","displayName":"Engagement Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Outreach","value":"Outreach"},{"name":"Contato","value":"Contato"},{"name":"A agendar","value":"A agendar"},{"name":"Agendado","value":"Agendado"},{"name":"Negociando","value":"Negociando"},{"name":"Fechado","value":"Fechado"},{"name":"Perdido","value":"Perdido"}],"readOnly":false,"removed":false},{"id":"Outreach Campaigns","displayName":"Outreach Campaigns","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Engagement Metrics","displayName":"Engagement Metrics","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Outreach Log","displayName":"Outreach Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1264,912],"id":"50edd1b2-23fe-40a8-9b4c-9d468580112e","name":"Create Record","disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"filterByFormula":"={Phone Number} = '{{ $('OpenAI').item.json.message.content }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1264,1120],"id":"04e5ee60-c563-4b8a-9999-d96477ae00b5","name":"Search Records By Phone #","alwaysOutputData":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0813251-c368-4d51-a148-9d46981e8df6","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,1120],"id":"0732e8ba-a072-4621-9e17-2451caaf47ad","name":"If Exists1","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tblsWl31x4yUZkMDX","mode":"list","cachedResultName":"Instagram Profiles","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tblsWl31x4yUZkMDX"},"columns":{"mappingMode":"defineBelow","value":{"Followers Count":"={{ $('Main Data').item.json.followersCount }}","Following Count":"={{ $('Main Data').item.json.followsCount }}","Engagement Rate":0,"Profile Name":"={{ $('Main Data').item.json.name }}","Profile URL":"={{ $('Main Data').item.json.profileUrl }}","Bio":"={{ $('Main Data').item.json.bio }}","Profile Picture":"={{ $('Main Data').item.json.profilePicUrl }}","Notas":"Sem telefone","Phone Number":"={{ $('OpenAI').item.json.message.content }}"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Profile URL","displayName":"Profile URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bio","displayName":"Bio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Followers Count","displayName":"Followers Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Following Count","displayName":"Following Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Engagement Rate","displayName":"Engagement Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Outreach","value":"Outreach"},{"name":"Contato","value":"Contato"},{"name":"A agendar","value":"A agendar"},{"name":"Agendado","value":"Agendado"},{"name":"Negociando","value":"Negociando"},{"name":"Fechado","value":"Fechado"},{"name":"Perdido","value":"Perdido"}],"readOnly":false,"removed":false},{"id":"Outreach Campaigns","displayName":"Outreach Campaigns","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Messages","displayName":"Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Engagement Metrics","displayName":"Engagement Metrics","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Outreach Log","displayName":"Outreach Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1664,1120],"id":"c2cfd77e-9c39-42c2-bac8-82a968a61024","name":"Create Record1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,1120],"id":"68a5cb6c-9c8c-48ea-b42c-06863db6788b","name":"[Z-API] Send Message","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app4xI4TMpsvAXPHp","mode":"list","cachedResultName":"Instagram Outreach CRM","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp"},"table":{"__rl":true,"value":"tbliKA2KvbjIKX6q8","mode":"list","cachedResultName":"Outreach Log","cachedResultUrl":"https://airtable.com/app4xI4TMpsvAXPHp/tbliKA2KvbjIKX6q8"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Create Record1').item.json.fields['Profile Name'] }}","Status":"Done","Response":"No","Follow Up Date":"={{ $today.plus(3, \"days\") }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Response","displayName":"Response","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Follow Up Date","displayName":"Follow Up Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2048,1120],"id":"a9221727-adc6-4295-ae34-47c7cf5003c9","name":"Create Outreach Log"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,-320],"id":"a59e00ae-9547-4185-9896-ba8e2be6393f","name":"Split Out"},{"parameters":{"url":"https://google-search74.p.rapidapi.com","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"=site:instagram.com \"{{ $json.nicho }}\""},{"name":"limit","value":"100"},{"name":"related_keywords","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search74.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"3d716fc754msh9afd345a1fbd5d6p1a976ajsnb7af2c15918e"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-320],"id":"eb1063fe-ca93-41bd-9cea-d92d426ec9f6","name":"RapidAPI"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[112,120],"id":"ca1144f7-f89a-42e9-bf23-76812bcb19f6","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"87974670-7743-41d5-ad98-bbc731be9fdf","name":"nicho","value":"pet-shop goiás","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-320],"id":"3e280571-2ad0-4314-bd8e-5af4844bfebd","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Link":"={{ $json.url }}","Descrição insta":"={{ $json.description }}"},"matchingColumns":[],"schema":[{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"enviado","displayName":"enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição insta","displayName":"Descrição insta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[784,-320],"id":"7d9c83ef-312c-4d70-8ba1-9ee9102b92c3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[336,120],"id":"af15705d-522d-45ba-ad6a-70d15389ee19","name":"Get List1","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-16],"id":"a5bb7735-2ff9-41fb-bb88-018ce4b252dc","name":"Loop Over Items1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items1').first().json.row_number }}","enviado":"erro"},"matchingColumns":["row_number"],"schema":[{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"enviado","displayName":"enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição insta","displayName":"Descrição insta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,176],"id":"64f9ab69-bfe4-434f-84e8-3207ada41331","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e100a220-254d-42d8-9b89-11f28a1fc729","leftValue":"={{ $json.output.number }}","rightValue":"NOT FOUND","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1104,-16],"id":"b65c102e-4174-4b15-89ba-eece966d4621","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU","mode":"list","cachedResultName":"Codefy Company - Gestão","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18To9CNrCHa3fDGs271E-p5bY61HBbuDlplz3_jjKPiU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items1').first().json.row_number }}","whatsapp":"={{ $json.output.number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"enviado","displayName":"enviado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Descrição insta","displayName":"Descrição insta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,176],"id":"3456ffc7-0514-4805-8168-193996d98dad","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"50XwXegpSUxQKwDT","name":"Google Miqueias"}}},{"parameters":{"promptType":"define","text":"={{ $json[\"Descrição insta\"] }}","hasOutputParser":true,"options":{"systemMessage":"=# 📱 Extração e Normalização de WhatsApp (Brasil)\n\n## Função\nExtrair **um único número de WhatsApp válido do Brasil** a partir de texto desestruturado, ruidoso ou misturado com símbolos, emojis e palavras.\n\n---\n\n## ⚙️ Regras de Execução (Obrigatórias)\n\n### 1. Princípio\nIgnore significado do texto. Trabalhe **somente com padrões numéricos**.\n\n---\n\n### 2. O texto pode conter números assim:\n\n- (62) 99933-8201  \n- +55 62 9933 8201  \n- 62 99338201  \n- 5562999338201  \n- 62-9933-8201  \n- 📱62 99933-8201  \n- WhatsApp: 62 99933 8201  \n- Tel: (62) 3225-0505 / 98480-0505  \n\nOs números podem estar:\n- com espaços, traços, parênteses  \n- com emojis no meio  \n- colados com texto  \n- junto de telefone fixo  \n\n---\n\n### 3. Extração\n\nExtraia **todos os blocos numéricos possíveis** que representem telefone, mesmo que estejam quebrados.\n\nDepois, para cada candidato:\n\n1. Remova tudo que **não seja número**\n2. Se começar com `0`, remova o zero inicial\n3. Se não começar com `55`, adicione `55` no início\n\n---\n\n### 4. Validação Rígida 🚫\n\nUm número **só é válido se atender TODOS os critérios**:\n\n- Deve ter **13 dígitos finais**\n- Formato obrigatório:\n\n\nCASO NAO ENCONTRE NENHUM NUMERO, RETORNE: NOT FOUND"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[768,-16],"id":"a48135e6-7126-46f0-918e-a851cd135c35","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[752,160],"id":"78c9bfbe-487d-4ff4-8c1e-44201cee8ffe","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1824,176],"id":"eb8ae5c0-9428-4775-ae40-2526e3228998","name":"Wait","webhookId":"c7940f27-7aae-4cd0-8bde-dad7b881c488"},{"parameters":{"jsonSchemaExample":"{\n\t\"number\": \"+5562994342576\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[928,160],"id":"8464ee86-af40-4cfd-a6f8-709d35b1617e","name":"Structured Output Parser"}],"connections":{"Get List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Search Records","type":"main","index":0}]]},"[Apify] IG Scrape - Run Actor":{"main":[[{"node":"Main Data","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search Records":{"main":[[{"node":"If Exists","type":"main","index":0}]]},"If Exists":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"[Apify] IG Scrape - Run Actor","type":"main","index":0}]]},"Main Data":{"main":[[{"node":"[Apify] Webscrape - Run Actor","type":"main","index":0}]]},"[Apify] Webscrape - Run Actor":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If Phone # Not Found","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If Phone # Not Found":{"main":[[{"node":"Create Record","type":"main","index":0}],[{"node":"Search Records By Phone #","type":"main","index":0}]]},"Search Records By Phone #":{"main":[[{"node":"If Exists1","type":"main","index":0}]]},"If Exists1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Create Record1","type":"main","index":0}]]},"Create Record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Record1":{"main":[[{"node":"[Z-API] Send Message","type":"main","index":0}]]},"[Z-API] Send Message":{"main":[[{"node":"Create Outreach Log","type":"main","index":0}]]},"Create Outreach Log":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"RapidAPI":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get List1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RapidAPI","type":"main","index":0}]]},"Get List1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"RapidAPI":[{"json":{"search_term":"site:instagram.com \"pet-shop goiás\"","next_cursor":"CGQ=","knowledge_panel":null,"results":[{"url":"https://www.instagram.com/dukepetstore/","title":"DUKE PET STORE (@dukepetstore) • Instagram photos and videos","description":"Tudo o que o seu pet precisa, em um só lugar | Banho & Tosa ‍⚕️ | Consultório Veterinário | Loja pet completa Rua 58, Qd B4, Lt 8, Jd. Goiás ...","timestamp":null},{"url":"https://www.instagram.com/explore/locations/317293543/goias-rural-pet-shop/","title":"Goiás Rural Pet Shop on Instagram • Photos and Videos","description":"Goiás Rural Pet Shop. 14403600. Pet Store•393 posts. $$$$•Closed. +55 16 3702-8366.","timestamp":null},{"url":"https://www.instagram.com/lojadosanimaisgoiania/","title":"Loja dos Animais / Pet shop e Clínica (@lojadosanimaisgoiania)","description":"Tudo para seu pet em um só lugar Clínica 24h • Pet Shop • Hotel • Setor Sul • Universitário • Crimeia Atendimento WhatsApp ☎️(62) 3941-4141 ...","timestamp":null},{"url":"https://www.instagram.com/petbullshop68/","title":"Pet Bull Shop (@petbullshop68) · Goiânia, GO - Instagram","description":"Produtos para Pets e para desinsetização     ☎️ (62) 3225-0505   (62) 98480-0505 ✉️ - petbullshop@hotmail.com Rações Medicamentos Acessórios · Variedades em ...","timestamp":null},{"url":"https://www.instagram.com/federalpetgoias/","title":"Federal Pet Goiás (@federalpetgoias) • Instagram photos and videos","description":"🗺️Cidade de Goiás Atendimento ⏳ Emergência (62) 99933-8201 (whatsapp)   ... Temos vários brinquedos disponíveis para sua criança de quatro patinhas     # ...","timestamp":null},{"url":"https://www.instagram.com/petvidasaudeanimal/","title":"Pet Vida Saúde Animal | Pet Shop e Clínica (@petvidasaudeanimal)","description":"Consultas| Banho e tosa | Cirurgias | PetShop O melhor para o seu pet! ‍⚕️ Duas unidades - Goiânia e Nova Veneza Fale com a gente pelo link ⬇️ ...","timestamp":null},{"url":"https://www.instagram.com/petmaisgo/","title":"PET MAIS | Petshop e Consultório Veterinário (@petmaisgo)","description":"Seu pet merece cuidado e carinho! Não deixe para depois. Agende uma consulta na Pet Mais! Telefone: (62) 98278-0019 Endereço: Rua Cruz Alta, quadra 25, Lote ...","timestamp":null},{"url":"https://www.instagram.com/tioalex_petshop/","title":"Tio Alex pet shop (@tioalex_petshop) · Goiânia, GO - Instagram","description":"(62)992392528 ☎️(62)3588-3671 Banho e tosa Medicamentos Brinquedos e acessórios Rações, petiscos Táxi dog hotelzinho · ✨ Aqui no Tio Alex não é só ...","timestamp":null},{"url":"https://www.instagram.com/goiaspetoficial/","title":"A mais completa Loja e Clínica de Goiânia. (@goiaspetoficial)","description":"- Clínica Veterinária - Banho e Tosa - Plantão 24H - (62 98422-3754) A segunda casa do seu pet! · A Black da Goiás Pet está chegando, com o preco de ...","timestamp":null},{"url":"https://www.instagram.com/lubitapets/","title":"LUBITA PET SHOP (@lubitapets) • Instagram photos and videos","description":"923 Followers, 787 Following, 1287 Posts - LUBITA PET SHOP (@lubitapets) on Instagram: \"   BANHO E TOSA RAÇOES BRINQUEDOS PETISCOS GUIAS COLEIRAS CAMINHAS.","timestamp":null},{"url":"https://www.instagram.com/arcaforte.aguaslindas/","title":"Pet Vet Arca Forte | Pet Shop Águas Lindas (@arcaforte.aguaslindas)","description":"Clínica Veterinária & Pet Shop Cuidando com amor há 13 anos ✂️ Banho, Tosa, Rações e muito carinho! Águas Lindas - GO Agende pelo WhatsApp ...","timestamp":null},{"url":"https://www.instagram.com/lambeijopets/","title":"Lambeijo Pet Store (@lambeijopets) • Instagram photos and videos","description":"•Banho e tosa •Atendimento Veterinário •Laboratório próprio •Exames de imagem •Farmácia •vacinas •Rações •Acessórios FORMOSA-GO ...","timestamp":null},{"url":"https://www.instagram.com/pet__raca/","title":"Pet Raça | Banho e tosa | Anápolis, Goiás (@pet__raca) - Instagram","description":"Rações, medicamentos e acessórios. Cuidar da estética do seu pet, também é saúde. Atendimento veterinário Banho/ tosa ✂️ Link WhatsApp ⬇️ ...","timestamp":null},{"url":"https://www.instagram.com/mundoanimalgo/","title":"Clínica Veterinária e Pet Shop - 24 horas (@mundoanimalgo)","description":"Mundo Animal -Clínica Veterinária e Pet Shop Consultas, Exames e Cirurgias Plantão 24 horas ⏱ Banho e Tosa Táxi-Dog Medicamentos Rações.","timestamp":null},{"url":"https://www.instagram.com/zoopetshop1/","title":"Zoo pet shop (@zoopetshop1) • Instagram photos and videos","description":"(62)98260-8067 (64)98416-0406. Atacadista e Distribuidora Oficial: ☘️ #poytara ⚓️ Enfeites de resina ♒️ Aquarios PEIXES RAÇÃO/SEMENTE ...","timestamp":null},{"url":"https://www.instagram.com/dogeciacb/","title":"Dog & Cia | Pet Shop | Campos Belos (@dogeciacb) - Instagram","description":"Cuidamos do seu melhor amigo com os melhores produtos e serviços Rações | Banho e tosa | Vacinas | Acessórios (62) 3451-2890 (62) 996911344 ... Não perca ...","timestamp":null},{"url":"https://www.instagram.com/goiaspet_cepal/","title":"Goiás Pet - Cepal Jardim América (@goiaspet_cepal) - Instagram","description":"Pet Shop Banho & Tosa Medicações Vacinas Consulta Exames laboratoriais · Hoje vamos pra casa de bota ortopédica!","timestamp":null},{"url":"https://www.instagram.com/amapet_sil/","title":"AmaPet (@amapet_sil) • Instagram photos and videos","description":"Médica Veterinária Amanda N. de Souza Consultas Exames Internação Vacinas Pet Shop Banho e Tosa Silvânia -Go (62)999470190 ...","timestamp":null},{"url":"https://www.instagram.com/imperioopets/","title":"Império Pets - Banho e tosa/Pet Shop (@imperioopets) · Goiatuba, GO","description":"Banho e tosa ❤️ • Pet shop • Táxi dog (64) 98439-7023 Goiatuba-Go Whatsapp. Photo by Império Pets - Banho e tosa/Pet Shop on July 11, 2024 ...","timestamp":null},{"url":"https://www.instagram.com/vetnutripetcenter/","title":"Vet Nutri Pet Center (@vetnutripetcenter) - Instagram","description":"Pet shop/consultório e banho/tosa - Tudo para seu melhor AUmigo! Posse- Go, R. Anizio Antonio, qd 31, lt 03, santa luzia ☎️62 9 9948-4581 ...","timestamp":null},{"url":"https://www.instagram.com/pethouseanapolis/","title":"Pet shop e Consultório Veterinário (@pethouseanapolis) - Instagram","description":"Tudo de melhor para seu Pet Ração Banho e Tosa Medicamento Atendimento Veterinário Rua Engenheiro Portela N° 1724 Vila Góis/Anápolis ...","timestamp":null},{"url":"https://www.instagram.com/universoanimalrv/","title":"Pet Shop Universo Animal (@universoanimalrv) · Rio Verde, GO","description":"▪️Banho e tosa ▪️ rações ▪️ Medicamentos ▪️ Acessórios em geral ▪️entregas 36121829/ whatsapp (64)992699473. Seu pet merece o melhor!","timestamp":null},{"url":"https://www.instagram.com/tiupatinhaspetshop/","title":"Tiu Patinhas Pet Shop (@tiupatinhaspetshop) - Instagram","description":"Funcionamento: Seg à Sex 8h às 18h Sáb: 8h às 12h. Táxi Dog Fone/WhatsApp: (64) 9.9216-1723. Oi pessoal, tudo bem? Atenção   - ofertas por tempo limitado ...","timestamp":null},{"url":"https://www.instagram.com/faunapet/","title":"Fauna Pet Shop (@faunapet) · Catalao, GO - Instagram","description":"Tudo que seu pet precisa ✨Consultas, cirurgias e vacinas. ✂️Banho e tosa. Emergência 24 horas. ❗️(64) 984086426 Entre em contato pelo link.","timestamp":null},{"url":"https://www.instagram.com/saudeanimalsf/","title":"Saúde Animal | São Francisco de Goiás (@saudeanimalsf) - Instagram","description":"Pet Shop • Centro Estético (Banho e Tosa) • Consultório Veterinário • Táxi Dog (62) 99257-2098 (62) 99579-5865. Já é quase Natal A época ...","timestamp":null},{"url":"https://www.instagram.com/leopetcaesegatos/","title":"Léo Pet Shop (@leopetcaesegatos) · Goiânia, GO - Instagram","description":"Aqui no Léo Pet temos a maior variedade de rações do setor Noroeste, com um preço que você nunca viu! Vem conhecer e economizar! #leopetshop #animais #petshop # ...","timestamp":null},{"url":"https://www.instagram.com/may_petshop/","title":"May Pet Shop (@may_petshop) · Cristalina, GO - Instagram","description":"Para receber seu melhor amigo com a excelência que ele merece, investimos em equipamentos novos, modernos e das marcas mais conceituadas do mercado. ✨ ​Mais do ...","timestamp":null},{"url":"https://www.instagram.com/goiaspet_apdegoiania/","title":"GOIAS PET AP DE GOIANIA (@goiaspet_apdegoiania) - Instagram","description":"596 followers · 587 following · 61 posts · @goiaspet_apdegoiania: “#petshop #veterinaria Mais completa farmácia Banho e Tosa ✂️ Pet shop Telefone ”","timestamp":null},{"url":"https://www.instagram.com/zampetshop/","title":"ZAMPET — Clínica Veterinária & PetShop (@zampetshop) - Instagram","description":"JK quadra 71 lote 16 bairro jk nova capital Anápolis Goiás. (62) 99410-4344 Clínica veterinária e petshop 24 horas. #petanapolis #anapolis ...","timestamp":null},{"url":"https://www.instagram.com/p/C2nwMwOLfpq/","title":"Photo by Pet Shop Mendonça (@petshop_mendoncarv) - Instagram","description":"Rio Verde, Goias, Brazil. Photo by Pet Shop Mendonça in Rio Verde, Goias, Brazil. 3. January 27, 2024 · petshop_mendoncarv's profile picture.","timestamp":1706342400},{"url":"https://www.instagram.com/petshop_petchik/","title":"PetChik Agropecuária e Estética Animal (@petshop_petchik)","description":"Oferecer cuidados de qualidade para os nossos peludos é essencial, e o atendimento domiciliar traz inúmeras vantagens. Desde o conforto até a redução do ...","timestamp":null},{"url":"https://www.instagram.com/manhosopet/","title":"Manhoso Pet Store (@manhosopet) · Rio Verde, GO - Instagram","description":"MIMANDO SEU MELHOR AMIGO . |Banho e tosa |Rações, Acessórios |Medicamentos |Consultório Veterinário ‍⚕️|Dra Ana Cláudia Oliveira ...","timestamp":null},{"url":"https://www.instagram.com/muttleys.petshop/","title":"Muttley's pet shop (@muttleys.petshop) • Instagram photos and videos","description":"cuidado e carinho para o seu pet! Banho e tosa Rações e medicamentos Acessórios · Photo by Muttley's pet shop in Goiânia, Goiás, Brasil. · Photo by ...","timestamp":null},{"url":"https://www.instagram.com/petsmania.go/","title":"Pet's Mania | A casa do seu pet (@petsmania.go) - Instagram","description":"Tudo que o seu pet precisa está aqui! Rações | Higiene | Acessórios | Muito mais! Águas Lindas de Goiás Banho e Tosa clique e fale conosco ...","timestamp":null},{"url":"https://www.instagram.com/n.epetshop/","title":"PET SHOP•BANHO & TOSA•CONSULTÓRIO (@n.epetshop)","description":"Nós estamos localizados na Av. Central, 688 - Jardim Nova Esperanca, Goiânia - GO, contato pelo número (62) 3597-3636 ou pelo nosso Whatsapp (62) 984741066 .","timestamp":null},{"url":"https://www.instagram.com/ciadosbichosgo/","title":"Pet Shop | Banho e Tosa | Veterinário | Vacina | Planaltina Go ...","description":"Profissionais qualificados e especializados para atender com todo cuidado e amor o seu pet. · Consulta, exames, vacinas, rações, brinquedos, acessórios, banho e ...","timestamp":null},{"url":"https://www.instagram.com/reel/C7CnLhDpJ2D/","title":"Goiás Pet do Parque Amazônia. A melhor e mais completa loja da ...","description":"Goiás Pet do Parque Amazônia. A melhor e mais completa loja da região! · Pensamos em cada detalhe pra você e seu pet · Agro Pet Shop São Vicente","timestamp":1715842800},{"url":"https://www.instagram.com/petshop.patinhasdeouro/","title":"Pet Shop Patinhas de Ouro. (@petshop.patinhasdeouro) - Instagram","description":"1K+ followers · 144 posts · Banho e Tosa.   Acessórios. ⚽️ Consultas e Vacina com Veterinário. @victorcarneirovet.","timestamp":null},{"url":"https://www.instagram.com/p/DB_9V5pyWO7/?hl=en","title":"Teo❤️ - Instagram","description":"Photo by É o bicho Pet Shop in Catalão, Goiás with @rosemairesantana.","timestamp":1730793600},{"url":"https://www.instagram.com/entrepatasepelosgyn/","title":"Entre Patas e Pelos (@entrepatasepelosgyn) - Instagram","description":"Pet Shop Consultório Veterinário Pet Friendly Tel (62) 3225-3286 Fale com a gente!","timestamp":null},{"url":"https://www.instagram.com/pet_shop_eobicho/","title":"Pet Shop e O bicho (@pet_shop_eobicho) - Instagram","description":"Proprietarios: @paullamoraes19 Acessórios Medicamentos Rações BanhoeTosa Serviço Táxi Dog Segunda a Sábado ☎️Petfone(62)996865419 Itapaci Go ...","timestamp":null},{"url":"https://www.instagram.com/p/DNnprKizU3v/","title":"Hospital veterinário e Pet Shop Fenix - Instagram","description":"No Pet Shop Fênix temos uma promoção especial para deixar seu pet ainda mais lindo e cheiroso. Pets de até 10kg garantem banho, hidratação e ...","timestamp":1755759600},{"url":"https://www.instagram.com/reel/DM-lgehRiHq/","title":"Novidade em Ipameri! A Brapet – o shopping do seu pet ... - Instagram","description":"A Brapet – o shopping do seu pet – traz em primeira mão para Goiás os produtos da marca Quatree, líder em várias categorias em outros ...","timestamp":1754377200},{"url":"https://www.instagram.com/p/ClbbHQru4tP/","title":"Photo by Clínica Vet Planeta Pets Goiânia-Goiás ... - Instagram","description":"Photo by Clínica Vet Planeta Pets Goiânia-Goiás in Planeta Pets Pet Shop e Clínica. 6 likes · November 26, 2022 · Sign up • Instagram.","timestamp":null},{"url":"https://www.instagram.com/pet_center.bueno/","title":"Pet Center Bueno   (@pet_center.bueno) - Instagram","description":"LOJA TRINDADE - 62 99420 4420. LOJA CIDADE JARDIM GOIANIA - 62 99886 3333. LOJA VERA CRUZ 2 GOIANIA 62 99886 5555 ...","timestamp":null},{"url":"https://www.instagram.com/petcompany.petshop/","title":"Pet Company (@petcompany.petshop) • Instagram photos and videos","description":"O pet shop que seu melhor AUmigo adora ❤️ . | Banho e tosa | Consultório Veterinário | Coletas para exame | Táxi dog ☎️ | (64) 9.9936-9195 ...","timestamp":null},{"url":"https://www.instagram.com/goiaspet_pq.amazonia/","title":"Goiás Pet Parque Amazônia (@goiaspet_pq.amazonia) - Instagram","description":"Estética Pet Rações e petiscos Acessórios Brinquedos Farmácia Táxi-Dog · Photo by Goiás Pet Parque Amazônia in Goias Pets Amazonia.","timestamp":1730098800},{"url":"https://www.instagram.com/lojadosanimais62/","title":"Loja Dos Animais (@lojadosanimais62) • Instagram photos and videos","description":"Pet Shop • Banho e Tosa • Contato: 62- 996469320 e 62-998033584 ☎️ ... #pet #petstagram #goias #lojadosanimais #cachorro #gatos #bichos ...","timestamp":null},{"url":"https://www.instagram.com/p/DTyTq24Dycf/","title":"Venha aqui no Pet Shop Helou buscar, e aproveitar a promoção!","description":"helou_vet on January 21, 2026: \"Qual é a do seu pet? Venha aqui no Pet Shop Helou buscar, e aproveitar a promoção! \".","timestamp":1769027159},{"url":"https://www.instagram.com/lolovetpetshop/","title":"Lolovet Pet Shop (@lolovetpetshop) • Instagram photos and videos","description":"Cuidados com saúde; bem estar e alimentação do seu Pet! Consultório veterinário e loja Pet. WhatsApp       (62)9 9461-8132 ...","timestamp":null},{"url":"https://www.instagram.com/pets.hop000/p/CTVW-jlrJ9p/","title":"PeT ShOp 3 iRmÃoS. | | Instagram","description":"Photo by PeT ShOp 3 iRmÃoS. in Aruanã, Goias, Brazil.","timestamp":1630566000},{"url":"https://www.instagram.com/reel/DENO7zQyHhX/","title":"Pet shop Animales . . Rua Goiás, 1136, sala 1, Centro- Londrina PR ...","description":"O SEU PET TAMBÉM MERECE A VIDA FIT!     Pet shop Animales . . Rua Goiás, 1136, sala 1, Centro- Londrina PR (43)3323-8070.","timestamp":1735545600},{"url":"https://www.instagram.com/p/DB12FtsyhbU/","title":"Chico❤️ - Instagram","description":"Photo by É o bicho Pet Shop in Catalão, Goiás with @raphaelroldao, and.","timestamp":1730444400},{"url":"https://www.instagram.com/p/DGnxde_x-rg/","title":"Ei, humana! Já agendou meu banho e tosa? Estou esperando ficar ...","description":"Photo by Pet Shop Império Animal in Morrinhos, Goias, Brazil. 2 ... Photo by Pet Shop Império Animal on December 03, 2025. May be an ...","timestamp":1740729600},{"url":"https://www.instagram.com/agro.petshop/","title":"Agro Pet (@agro.petshop) · Luziânia, GO - Instagram","description":"Agropecuária Clínica veterinária ‍⚕️ Banho e Tosa 992726367 ...","timestamp":null},{"url":"https://www.instagram.com/amigobichopetshopgo/","title":"Amigo Bicho Pet Shop (@amigobichopetshopgo) - Instagram","description":"Banho e Tosa Rações Hospedagem Vacinas Medicamentos TÁXI DOG O melhor preço e atendimento da região Veterinário 3242-3366|  6 ...","timestamp":null},{"url":"https://www.instagram.com/petsebulls/","title":"Pet's & Bull's | Goiânia (@petsebulls) • Instagram photos and videos","description":"24 anos cuidando do seu pet com excelência e carinho! Pet Shop e Clínica Veterinária Marista | Coimbra | Jardim Atlântico ...","timestamp":null},{"url":"https://www.instagram.com/manhattanpetshop/","title":"Manhattan Pet Shop (@manhattanpetshop) - Instagram","description":"Manhattan Pet Shop Amor, cuidado e qualidade para seu pet. Rações•Petiscos•Banho & Tosa     ⏰ Seg–Sáb 8h às 20h | Dom 8h ...","timestamp":null},{"url":"https://www.instagram.com/bluepetclinica/","title":"Blue Pet Consultório e banho e tosa (@bluepetclinica) - Instagram","description":"Photo by Blue Pet Consultório e banho e tosa in Goiânia, Goiás, ...","timestamp":null},{"url":"https://www.instagram.com/p/DTx0znogJ78/","title":"Photo by PETSHOP DA ANDIARA (@andiarapetshop) - Instagram","description":"Photo by PETSHOP DA ANDIARA in Rio Verde, Goias, Brazil. May be an. 6 ... Pet-Basket proporciona conforto, segurança e diversão para ...","timestamp":1769010982},{"url":"https://www.instagram.com/reel/DJ9RRBqOROU/","title":"Aqui na Goiás Pet você e o seu melhor amigo só tem vantagem ...","description":"A Goiás Pet sempre valorizando o cliente. Nós tamos com uma promoção muito bacana, você cliente do banho e tosa que fechar o pacote com ...","timestamp":1747897200},{"url":"https://www.instagram.com/tio_marciogroomer/","title":"Tio Márcio Groomer Concept | Pet shop (@tio_marciogroomer)","description":"Banho e Tosa, Veterinária, e Day Care Referência em Goiânia | + de 2000 clientes satisfeitos Agende a experiência do seu Pet ...","timestamp":null},{"url":"https://www.instagram.com/petshop_catdoog/","title":"pet shop cat dog (@petshop_catdoog) • Instagram photos and videos","description":"Proprietária @barbara.alves13 vicentinopolis-go     O cuidado e carinho que seu animal merece! 64999741154 · Photo by pet shop cat dog in Vicentinopolis, Goiás, ...","timestamp":null},{"url":"https://www.instagram.com/rvpetracoes/","title":"RV PET AGRO-PETSHOP (@rvpetracoes) · Goiânia, GO - Instagram","description":"Transforme o banho em um momento de prazer para seu Pet     Buscamos e levamos ele até você !","timestamp":null},{"url":"https://www.instagram.com/studiopetelogarcia/","title":"Studio Pet Elo Garcia (@studiopetelogarcia) - Instagram","description":"879 followers · 993 following · 1615 posts · @studiopetelogarcia: “   Banho e Tosa | Taxi Dog | 🍽️ Ração a granel | Pet Shop Completo.","timestamp":null},{"url":"https://www.instagram.com/p/DT5E4rKEYzL/","title":"Atendimento veterinário de confiança para quem você ama Cuidar ...","description":"Photo by Pet Shop Agrodez Planalto - Agro & Pet in Uberlândia - MG. May.","timestamp":1769254237},{"url":"https://www.instagram.com/audogpet/","title":"AUDog Pet Shop 62 33533681 (@audogpet) - Instagram","description":"1.7K+ followers · 1.1K+ following · 725 posts · @audogpet: “O MELHOR BANHO E TOSA DA CIDADE Muito AMOR pelo seu melhor amigo.    ❤ Av. Pará n° 69, ...","timestamp":null},{"url":"https://www.instagram.com/petsulpetshop/","title":"PetSul Petshop (@petsulpetshop) • Instagram photos and videos","description":"1.7K+ followers · 533 following · 1127 posts · @petsulpetshop: “Clínica Veterinária e Banho e Tosa     LOJA 1: Av. Goiás, 258, Flamboyant LOJA 2: R Albatroz ...","timestamp":null},{"url":"https://www.instagram.com/goiaspet_jdamerica/","title":"Goiás Pet - Cepal Jardim América (@goiaspet_jdamerica) - Instagram","description":"3K+ followers · 7.1K+ following · 86 posts · @goiaspet_jdamerica: “⏱ Segunda à Sexta 08h-18:00 e Sábado 08h-13h TáxiDog e Entrega Banho & Tosa ...","timestamp":null},{"url":"https://www.instagram.com/patinhasveterinari/","title":"Patinhas pet shop e veterinária (@patinhasveterinari) - Instagram","description":"224 followers · 44 posts · Visamos o melhor para o seu pet, então oferecemos os melhores serviços! Banho e tosa Rações Petiscos Acessórios.","timestamp":null},{"url":"https://www.instagram.com/atacadao_animal/","title":"ATACADÃO ANIMAL | Pet shop (@atacadao_animal) - Instagram","description":"Tudo para seu Pet! Av. Castelo Branco,2698 St. Campinas, Goiânia 🏍️ Entrega grátis ☎️ (62) 36614370. Faça seu pedido pelo link ...","timestamp":null},{"url":"https://www.instagram.com/petparaiso/","title":"Paraiso dos Animais | Petshop (@petparaiso) - Instagram","description":"... Petshop |Estética Pet |Táxi Dog Bairro São Carlos WhatsApp ... #paipet #pets #amorpet #anapolis #goiás ...","timestamp":null},{"url":"https://www.instagram.com/zoopetsshop/","title":"Zoo Pet Shop Ipora-Go. (@zoopetsshop) - Instagram","description":"3.5K+ followers · 1.9K+ following · 250 posts · @zoopetsshop: “   (62) 98148-8141 (64) 98402-9452 O shopping do seu pet Aves, Roedores, cães, gatos, peixes, ...","timestamp":null},{"url":"https://www.instagram.com/p/DT5IRppDyZ3/","title":"As melhores marcas de rações em um só lugar! Nutrição ... - Instagram","description":"Ofereça o melhor para seu pet: conheça nossa seleção de rações na Pet Shop Animais e Cia! Garantimos produtos de qualidade para uma ...","timestamp":1769256013},{"url":"https://www.instagram.com/pets.hop000/reel/CZhq8T4pFtZ/","title":"PeT ShOp 3 iRmÃoS. | @adriana_garcezpimenta @pets.hop000 ...","description":"1 likes, 0 comments - pets.hop000 on February 3, 2022: \"@adriana_garcezpimenta @pets.hop000 Aruanã goias\".","timestamp":null},{"url":"https://www.instagram.com/p/DQhykUKEhER/?__d=11","title":"Photo by Petshop e Rações (@planetaanimalslm) · November 1, 2025","description":"Photo by Agropet dog e cia etapa b Valparaíso 1 - Goiás in Valparaiso I Etapa ... Photo by Snoopy Pet Shop Ração on January 13, 2026. May ...","timestamp":1761980400},{"url":"https://www.instagram.com/p/DTz38axEqcy/","title":"Estamos aqui por você e pelo seu pet! Com uma equipe ... - Instagram","description":"A Dog Shop agora conta com consulta veterinária de segunda a sábado e serviço de atendimento domiciliar. A Dra. Gabrielly oferece ...","timestamp":1769079686},{"url":"https://www.instagram.com/aldeiapetshop/","title":"Aldeia Pet Shop (@aldeiapetshop) · Goiânia, GO - Instagram","description":"Atendimento Veterinário ‍   Exames Banho e tosa Loja Pet shop . Entrega grátis (62) 98559-7580 · Photo by Aldeia Pet Shop in Goiânia, Goiás, Brasil.","timestamp":null},{"url":"https://www.instagram.com/agropetgoianesia/","title":"AgroPet Goianésia, petshop, banho e tosa. (@agropetgoianesia)","description":"✨ Ha 10 anos entregando cuidado,afeto e amor através da higiene e produtos pra seu Pet. 26 anos de experiência no ramo Agropecuário.  Banho & tosa.","timestamp":null},{"url":"https://www.instagram.com/egidiopetshop/","title":"Egidio Pet Shop & Clínica Vet. 24H (@egidiopetshop) - Instagram","description":"3.3K+ followers · 2.4K+ posts · Farmácia Veterinária Acessórios Clínica Veterinária Abertos 24h (64)99953-6495 Link WhatsApp.","timestamp":null},{"url":"https://www.instagram.com/dogegatao/","title":"Dog e Gatão Petshop (@dogegatao) - Instagram","description":"9.6K+ followers · 2.3K+ following · 497 posts · @dogegatao: “   Banho e Tosa Acessórios Rações Medicamentos ☎3087-1050 P. Flamboyant ☎3093-5017 Bueno ...","timestamp":null},{"url":"https://www.instagram.com/p/DTy7_fQADAR/","title":"Traga seu pet para a melhor clínica veterinária do DF ... - Instagram","description":"Aqui, seu pet encontra atendimento completo em todas as fases da vida","timestamp":1769048246},{"url":"https://www.instagram.com/p/DT0ca0sjhUS/","title":"Ter um animalzinho de estimação, traz muita alegria para os donos ...","description":"Photo by Divulga Goiás Oficial in Porangatu Goiás. May be an ... Photo by Pet Shop in Amigo Pet with @dr.juniorbraighi. May be an. dr ...","timestamp":1769098801},{"url":"https://www.instagram.com/p/DTaLEX4DnjQ/","title":"July - Instagram","description":"PLANET PETSHOP PET SHOP. planetpetshopfortaleza's profile picture ... Photo by Agropecuária Vilela in Claudinapolis, Goiás, Brasil with @ ...","timestamp":1768204800},{"url":"https://www.instagram.com/p/DT24GlGFVgy/","title":"Menos estresse. Menos medo. Mais confiança no ambiente e em ...","description":"... pet sente — e você também. Isso também é tratamento. R. 1140 ... Photo by Clínica veterinária 24horas in Setor Pedro Ludovico, Goiás.","timestamp":1769180425},{"url":"https://www.instagram.com/lovedogpetshop3/","title":"Love Dog Pet Shop (@lovedogpetshop3) - Instagram","description":"Taquaral de Goiás • Banho e Tosa • Medicamentos • Acessórios e muito mais... • Link para o WhatsApp ⤵️. Photo by Love Dog Pet Shop on June 04, 2024.","timestamp":null},{"url":"https://www.instagram.com/pet_patrulhacanina/","title":"Patrulha Canina Pet Shop (@pet_patrulhacanina) - Instagram","description":"Photo by Patrulha Canina Pet Shop in Setor Negrão de Lima, Goiás.","timestamp":null},{"url":"https://www.instagram.com/p/DT3fQOmifbe/","title":"Do pacote de ração ao transporte para o banho e tosa: seu pet ...","description":"Photo by Pet's Saúde Animal in Iporá, Goias, Brazil. May be an ... Pet shop e Pet Loja; (64) 9 9318-9900 Av. Pará, 401. Centro ...","timestamp":1769200951},{"url":"https://www.instagram.com/p/DB5-k1xxkaD/?hl=en","title":"Linda❤️ - Instagram","description":"Photo by É o bicho Pet Shop in Catalão, Goiás with @ericasilvia5.","timestamp":1730617200},{"url":"https://www.instagram.com/galeriapetnature/","title":"Pet & Nature (@galeriapetnature) • Instagram photos and videos","description":"Consultório Veterinário Pet & Nature Dra. Beatriz sempre atendendo com muito amor e carinho Agende a consulta do seu pet (62) 99368-8769 . . . . # ...","timestamp":null},{"url":"https://www.instagram.com/petegatofsa/","title":"Pet Shop Pet&Gatô (@petegatofsa) · Formosa, GO - Instagram","description":"2.8K+ followers · 2.4K+ posts · ✂️ Estética Animal acolhedora Área verde & petiscos 100% naturais Hospedagem porte pequeno ⏰seg a sex: 08h às 18h ☎61 ...","timestamp":null},{"url":"https://www.instagram.com/p/DCCzc_nSeWD/?hl=en","title":"Tigre❤️ - Instagram","description":"Photo by É o bicho Pet Shop in Catalão, Goiás with @pedro.vieira29.","timestamp":1730880000},{"url":"https://www.instagram.com/redepopcidadedegoias/","title":"Rede POP Cidade de Goiás (@redepopcidadedegoias) - Instagram","description":"Cuidar de um pet é viver um amor diário. Que o novo ano venha repleto dessa alegria. Feliz Ano Novo! ✨ . . . . . #réveillon #viradadeano #redepopcidadedegoiás ...","timestamp":null},{"url":"https://www.instagram.com/petshop_auqmia/","title":"Pet Shop Auqmia (@petshop_auqmia) • Instagram photos and videos","description":"8.4K+ followers · 5.1K+ following · 559 posts · @petshop_auqmia: “@hericagraciely ☎(64) 98121-7336 Rua Mossâmedes Qd01 Lt12A St. Montes Belos São Luis ...","timestamp":null},{"url":"https://www.instagram.com/redepetabadia/","title":"Rede Pet abadia (@redepetabadia) - Instagram","description":"#pet#redepetabadia #petshop #petlovers #abadiadegoiás #raçãoparacães #gatosdeestimação #. Photo by @maisdeliveryabadia in Abadia de Goiás with @redepetabadia.","timestamp":null},{"url":"https://www.instagram.com/depataempatas/","title":"Pet Shop | Hotel e creche | Banho e Tosa (@depataempatas)","description":"... pet fica feliz e você mais tranquilo! Banho Low Stress Day care Hospedagem afetiva 🛍️Pet shop Goiânia - Goiás”","timestamp":null},{"url":"https://www.instagram.com/petvet3189/","title":"Pet Shop 4 Patas (@petvet3189) • Instagram photos and videos","description":"Pet shop Niq Av. Anhanguera N17 setor planalto Rações, acessórios em geral Banho, Táxi dog 9 9939-6892 WhatsApp. 9 9846-4808 ...","timestamp":null},{"url":"https://www.instagram.com/p/DT0TSq-gfPe/","title":"Você sabe que a Provet aceita o Cartão da UniePaz? Agora, cuidar ...","description":"Photo by Viva Pet Card in Goiânia, Goiás, Brasil. May be an image ... Tem um pet shop? Chegou sua chance de dar um UP no seu negócio ...","timestamp":1769094017},{"url":"https://www.instagram.com/emporiodosanimaisgoiania/","title":"Empório Dos Animais (@emporiodosanimaisgoiania) - Instagram","description":"Pet Shop Banho e tosa Cons. Veterinário (62) 3258-1297 98450-8798. Av. Veredas dos Buritis Qd.23 Lt.1 St. Res.Veredas dos Buritis - Goiânia ...","timestamp":null},{"url":"https://www.instagram.com/explore/locations/346122235/planeta-pets-pet-shop-e-clinica-veterinaria/","title":"Planeta Pets Pet Shop e Clínica Veterinária - Instagram","description":"Planeta Pets Pet Shop e Clínica Veterinária. planetapet_clinicavet. 74565-630. Pet Store•119 posts. Open 24 hours. Top · Recent · In the area · Photo by ...","timestamp":null}],"related_keywords":{"spelling_suggestion_html":null,"spelling_suggestion":null,"keywords":[]}},"pairedItem":{"item":0}}]},"versionId":"67a594b1-17b6-438b-a395-861aff90f91f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-17T22:12:28.317Z","createdAt":"2026-01-17T22:12:28.317Z","role":"workflow:owner","workflowId":"my8jRol0kr-ZOSlDKmbJ5","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}