recebendo-msg-m03RoxreTH4gMPkM.json
{"updatedAt":"2026-01-13T14:55:51.157Z","createdAt":"2026-01-13T13:48:00.115Z","id":"m03RoxreTH4gMPkM","name":"Recebendo MSG","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recebendo-msg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,608],"id":"506e541d-47c4-4b55-b1fc-ea62235b8b0d","name":"Webhook","webhookId":"65e3902c-2e82-4c24-99ad-6f49f660c799"},{"parameters":{"operation":"get","tableId":"usuarios","filters":{"conditions":[{"keyName":"instancia","keyValue":"={{ $json.body.data.instanceId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,608],"id":"8a172792-e133-4456-9b37-57a81082b145","name":"GET Usuário","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f100e954-55e0-48d5-a7e4-6c96ed32c606","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,608],"id":"ff471d52-fc74-4e19-8a3b-26b81802dbd6","name":"if user exists"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7409a50-fb90-4b3b-84dc-c662053dee20","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"privado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"endsWith"},"id":"c898ae7f-2c51-4461-84fd-ed86f4a7340e"}],"combinator":"and"},"renameOutput":true,"outputKey":"grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[880,608],"id":"a50115ba-fbd7-4b65-a929-b5df03c29e7f","name":"Tipo Contato"},{"parameters":{"assignments":{"assignments":[{"id":"cf25c144-9a6c-4b42-8614-278e0f55cf14","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,512],"id":"ea63083b-6cb1-4584-8ac9-4688b891dd30","name":"Var base1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2368,512],"id":"ebf23767-9903-48b8-a6ff-850f6786e365","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2576,416],"id":"77e79982-7831-4f49-acd9-1afd4f02cf38","name":"Transcrevendo audios2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"666f3305-a71a-41b3-addb-dda94a538111","leftValue":"={{ $('GET Usuário').last().json['transcricao-pvd'] }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"836e3d6d-ee72-4ba6-9a8b-e64e3ea9bf64","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"a9c57a8e-e468-4b53-a4a5-f48ecfbfc8fb","leftValue":"={{ $('GET Usuário').last().json.tokens_mes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,224],"id":"3d5c0164-6d64-435c-98ce-0c5e742a80b9","name":"Transcrição PV1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n{{ $json.text }}"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,320],"id":"70796a08-9418-4608-8130-185d9dcbb9bd","name":"Enviando Transcrição2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d4bac-6a0b-4382-a6f9-428fe0826768","leftValue":"={{ $json.message.content }}","rightValue":"=MSG-EMPTY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3376,512],"id":"73aa67fb-9937-45ee-b855-3c2195882e5e","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12091102-38db-445f-9ea7-e27a07e55283","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage.seconds }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2800,416],"id":"c00a59ab-c4b0-49e1-9f65-3a43fb754bd5","name":"Se é longo"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n_Resumo:_\n{{ $json.message.content }}\n\n_Mensagem Original_\n{{ $('Transcrevendo audios2').item.json.text }}\n\n"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,512],"id":"1d00608c-b82d-40a2-ac7f-8375266a9086","name":"Enviando Transcrição6"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"Faça um resumo dessas palavras.","role":"system"},{"content":"={{ $('Transcrevendo audios2').item.json.text }}"},{"content":"Caso os dados não sejam suficientes para concluir o resumo, retorne 'MSG-EMPTY'","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3024,512],"id":"37a44942-9d0d-4051-9c66-602156f10c98","name":"Resumo do audio","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b55816d-9b68-4d3d-b249-d8390f8696fb","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,224],"id":"38a9cc14-22ea-4db6-a79d-194e4fe9db8c","name":"mensagemMinha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"253c69f9-f962-4a4b-b1ed-8840f3c707c1","leftValue":"={{ $('GET Usuário').last().json.transcreverEu }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,224],"id":"f22cc7f3-5a28-454a-8eeb-33aa4c4b8c4a","name":"Verificar se quer transcrever eu1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce2beff4-8348-4e0f-9eef-7db90c574a59","leftValue":"={{ $('Webhook').item.json.body.data.message.base64 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1904,416],"id":"12979d02-77ca-4c25-b6db-7477783d2c1c","name":"IF API NÃO ENVIA B"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2368,320],"id":"baebfe84-9392-4bd6-9917-150cea88fd7b","name":"Convert to File5"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"🤖\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,224],"id":"530f31ee-e39e-425c-b831-b85c7827719f","name":"Enviando Transcrição3"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"✅\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3824,416],"id":"e7b4675f-d319-4a3b-bd4d-a700bdf67fe1","name":"Enviando Reaçao1"},{"parameters":{"operation":"get","tableId":"name_ia","filters":{"conditions":[{"keyName":"usuario_id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[432,608],"id":"2caf0405-c01b-4344-9ee1-32643b5b83f2","name":"GET NAMEIA1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3376,320],"id":"818ad09d-e96e-42a5-aa90-ac24addccc4d","name":"No Operation, do nothing"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM grupos\nWHERE grupo_id_externo = '{{ $(\"Para cada mensagem\").item.json.body.data.key.remoteJid }}'\nAND usuario_id = {{ $(\"Query usuario\").item.json.id }}\nAND ativo = 1;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1232,1040],"id":"390f1811-ab1f-4b80-90f5-1aa7c66a56c6","name":"Query grupo1","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('Query usuario').item.json.id }}","rightValue":"={{ $json.usuario_id }}","operator":{"type":"number","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('Query usuario').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,1040],"id":"9c47b3f8-716a-4554-a1ee-af0f171b2e9b","name":"Se grupo existe1","disabled":true},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $('Query grupo1').item.json.id }}"},{"column":"usuario_id","value":"={{ $('Query usuario').item.json.id }}"},{"column":"mensagem","value":"={{ $('Para cada mensagem').item.json.body.data.message.conversation }}"},{"column":"data_mensagem","value":"={{ $now.toISO({ includeOffset: false }) }}\n"},{"column":"nome-autor","value":"={{ $('Para cada mensagem').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Para cada mensagem').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2128,1136],"id":"8856485c-e6ed-4019-b72b-5a5b3daf37a7","name":"Insert Msg MySql5","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aca93d62-d5d6-424d-94b5-8d62dd06120a","leftValue":"={{ $json.transcricao_ativa }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"ea25ff80-5827-4001-b553-f0d1736d294c","leftValue":"={{ $('Para cada mensagem').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,1040],"id":"d37875f6-5ab0-4afd-878a-41481e465283","name":"Se for pra transcrever1","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2352,944],"id":"d42281be-3462-4f9d-980a-3f05f9db1956","name":"Transcrevendo audios3","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"disabled":true},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $json.data.key.remoteJid }}"},{"column":"usuario_id","value":"={{ $('Query usuario').item.json.id }}"},{"column":"mensagem","value":"=Serviço de transcrição _*Intellizap*_!\nO que *{{ $('Para cada mensagem').first().json.body.data.pushName }}* disse:\n\n{{ $('Transcrevendo audios3').item.json.text }}"},{"column":"data_mensagem","value":"={{ $now }}"},{"column":"nome-autor","value":"={{ $('Para cada mensagem').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Para cada mensagem').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2800,752],"id":"cc9d5948-973f-4f21-9314-75b973b16814","name":"Insert Msg MySql6","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fa709b2-22a7-4406-9e41-7a86e9627444","leftValue":"={{ $('Para cada mensagem').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1904,1136],"id":"48bc8456-422b-4501-8da5-c662a1743222","name":"Se for texto1","disabled":true},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2128,944],"id":"ea426265-3dfd-4d8a-9b87-b1a1a775555d","name":"Convert to File6","disabled":true},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363422339500377@g.us","messageText":"=Transcrição do Grupo: *{{ $('Se for pra transcrever1').item.json.nome_grupo }}*\n\n{{ $json.data.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2800,944],"id":"07228d14-d3ef-43f1-8403-faed4f708467","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Para cada mensagem').first().json.body.instance }}","remoteJid":"={{ $('Para cada mensagem').first().json.body.data.key.remoteJid }}","messageText":"=Serviço de transcrição _*{{ $('GET NAMEIA')?.item?.json?.nome && $('GET NAMEIA').item.json.nome.trim() !== \"\" ? $('GET NAMEIA').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Para cada mensagem').first().json.body.data.pushName }}* disse: \n\n{{ $json.text }}\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2576,944],"id":"d62934b9-3c7d-49f9-81d0-96c00be21c7e","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Para cada mensagem').item.json.body.instance }}","messageId":"={{ $('Para cada mensagem').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,944],"id":"d6e22a29-3e69-4ec1-b500-62c04135519d","name":"Obter audio1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"table":{"__rl":true,"value":"user_transcriptions","mode":"list","cachedResultName":"user_transcriptions"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"user_uid","value":"={{ $('Query usuario').item.json.id }}"},{"column":"transcription_text","value":"={{ $('Transcrevendo audios3').item.json.text }}"},{"column":"audio_duration_seconds","value":"={{ $('Transcrevendo audios3').item.json.usage.seconds }}"},{"column":"user_contact","value":"={{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}"},{"column":"instance_name","value":"={{ $('Para cada mensagem').item.json.body.instance }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2800,1136],"id":"6b160abf-5303-4d0f-a28a-3e5d6455c72c","name":"Insert Msg MySql7","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://webhookbeam.com/webhook/miqueiasbrandaodev/transcrição","sendBody":true,"bodyParameters":{"parameters":[{"name":"usuario","value":"={{ $('Para cada mensagem').item.json.body.instance }}"},{"name":"transcription","value":"={{ $('Transcrevendo audios3').item.json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3088,944],"id":"5d95ec3a-e918-4340-bd85-8b6975fec279","name":"HTTP Request2","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2144,320],"id":"7fd148ae-cd79-4682-9711-ab517f9180df","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"GET Usuário","type":"main","index":0}]]},"GET Usuário":{"main":[[{"node":"GET NAMEIA1","type":"main","index":0}]]},"if user exists":{"main":[[{"node":"Tipo Contato","type":"main","index":0}]]},"Var base1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Transcrevendo audios2":{"main":[[{"node":"Se é longo","type":"main","index":0}]]},"Transcrição PV1":{"main":[[{"node":"IF API NÃO ENVIA B","type":"main","index":0},{"node":"Enviando Transcrição3","type":"main","index":0}]]},"Enviando Transcrição2":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviando Transcrição6","type":"main","index":0}]]},"Se é longo":{"main":[[{"node":"Resumo do audio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Enviando Transcrição6":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"Resumo do audio":{"main":[[{"node":"If1","type":"main","index":0}]]},"mensagemMinha":{"main":[[{"node":"Verificar se quer transcrever eu1","type":"main","index":0}],[{"node":"Transcrição PV1","type":"main","index":0}]]},"Verificar se quer transcrever eu1":{"main":[[{"node":"Transcrição PV1","type":"main","index":0}]]},"IF API NÃO ENVIA B":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Var base1","type":"main","index":0}]]},"Convert to File5":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Tipo Contato":{"main":[[{"node":"mensagemMinha","type":"main","index":0}],[{"node":"Query grupo1","type":"main","index":0}]]},"GET NAMEIA1":{"main":[[{"node":"if user exists","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Enviando Transcrição2","type":"main","index":0}]]},"Query grupo1":{"main":[[{"node":"Se grupo existe1","type":"main","index":0}]]},"Se grupo existe1":{"main":[[{"node":"Se for pra transcrever1","type":"main","index":0}]]},"Se for pra transcrever1":{"main":[[{"node":"Obter audio1","type":"main","index":0}],[{"node":"Se for texto1","type":"main","index":0}]]},"Transcrevendo audios3":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Se for texto1":{"main":[[{"node":"Insert Msg MySql5","type":"main","index":0}]]},"Convert to File6":{"main":[[{"node":"Transcrevendo audios3","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Insert Msg MySql6","type":"main","index":0},{"node":"Enviar texto2","type":"main","index":0},{"node":"Insert Msg MySql7","type":"main","index":0}]]},"Obter audio1":{"main":[[{"node":"Convert to File6","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.12.2","content-length":"11476","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"134.199.215.35","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"FEmkgI0WQkCjyVs3PvyhXg","x-real-ip":"134.199.215.35","x-request-start":"1768315704167"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Miqueias","data":{"key":{"remoteJid":"556295059726:61@s.whatsapp.net","remoteJidAlt":"556295059726:61@s.whatsapp.net","fromMe":true,"id":"3EB058B2603220A64D9AA0"},"pushName":"Miqueias","status":"SERVER_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/560904994_861842866715675_5135225011987225789_n.enc?ccb=11-4&oh=01_Q5Aa3gHfghIlB-JobQV45OCAfZjRKYvS0-bsBAST_aNALk2HwQ&oe=698DD2C0&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":{"0":145,"1":123,"2":213,"3":62,"4":96,"5":92,"6":150,"7":11,"8":121,"9":159,"10":237,"11":157,"12":69,"13":16,"14":71,"15":22,"16":1,"17":217,"18":230,"19":192,"20":138,"21":221,"22":53,"23":171,"24":65,"25":21,"26":89,"27":110,"28":159,"29":33,"30":167,"31":108},"fileLength":6559,"seconds":3,"ptt":true,"mediaKey":{"0":151,"1":117,"2":121,"3":223,"4":31,"5":213,"6":217,"7":42,"8":61,"9":155,"10":73,"11":83,"12":16,"13":44,"14":174,"15":103,"16":174,"17":246,"18":146,"19":133,"20":185,"21":24,"22":179,"23":64,"24":7,"25":173,"26":219,"27":243,"28":216,"29":44,"30":1,"31":214},"fileEncSha256":{"0":78,"1":72,"2":123,"3":115,"4":184,"5":89,"6":120,"7":132,"8":32,"9":85,"10":17,"11":205,"12":113,"13":30,"14":148,"15":166,"16":204,"17":87,"18":30,"19":153,"20":168,"21":204,"22":44,"23":89,"24":216,"25":188,"26":252,"27":237,"28":125,"29":77,"30":111,"31":142},"directPath":"/v/t62.7117-24/560904994_861842866715675_5135225011987225789_n.enc?ccb=11-4&oh=01_Q5Aa3gHfghIlB-JobQV45OCAfZjRKYvS0-bsBAST_aNALk2HwQ&oe=698DD2C0&_nc_sid=5e03e0","mediaKeyTimestamp":1768315702,"contextInfo":{"mentionedJid":[],"groupMentions":[],"disappearingMode":{"initiator":0}},"waveform":{"0":27,"1":29,"2":32,"3":36,"4":44,"5":51,"6":52,"7":53,"8":48,"9":36,"10":24,"11":20,"12":17,"13":17,"14":22,"15":27,"16":34,"17":42,"18":51,"19":62,"20":73,"21":73,"22":72,"23":69,"24":65,"25":60,"26":62,"27":66,"28":69,"29":69,"30":70,"31":69,"32":68,"33":67,"34":68,"35":68,"36":67,"37":66,"38":63,"39":56,"40":49,"41":42,"42":34,"43":28,"44":28,"45":29,"46":29,"47":28,"48":29,"49":39,"50":49,"51":55,"52":60,"53":63,"54":62,"55":61,"56":55,"57":45,"58":35,"59":42,"60":49,"61":51,"62":48,"63":45},"viewOnce":false},"base64":"T2dnUwACAAAAAAAAAADGE4o5AAAAAPr0G9MBE09wdXNIZWFkAQEAD4C7AAAAAABPZ2dTAAAAAAAAAAAAAMYTijkBAAAAOeBYNAEYT3B1c1RhZ3MIAAAAUmVjb3JkZXIAAAAAT2dnUwAEwEwCAAAAAADGE4o5AgAAABqequSdHiAfJCMkJCAjJzIwMi8nKCsvLi0qJycsLCgkJSooKyMjICEiISAjLCotKCIiIiglMTQzOTAxOTAwMS8sLC0qJiYwJiIkIiQmIiYlJSgpJisoJCEkJDApKyolKCwsKDAqKS8qJikmICIeLCYjISYoJCoyJyUgHh8nLC0yLyowMDIlKCctJSIuKysoKigmJiEpKycmJyorIh0bHh0iKkgE600bSD3AZL5PtP7nS3qoVmfM2mNzAJOC6ReQwEgvUydzp7WBomXk30dbGawrnY2lRV9uBy7PBK3hemWMSIkuVMS4wYPJK4dGrkMitxAqY3HaoZMhAR4NZ64pQEiJLc7g/COSNqoYp8QFOPWz091SmB/qYOgrOsogdLwQaQaCiEiJLcYScW0qwVY8c7qtf6X6vCVfAaqcleadhtsicqx+PpOfSIktxhKR3u9ZodWQ0zppyGXLGKeH8RhPVzNMwzqzcmGRgsMgSIkxgHYZFlu5heK2Ugc40Dc5PXDIdNCdHNweWLhoS5kuwpOISImWdsGaA7HC54Tq3W7P0Nq6GCBcTGb0UP/Xom+gi1NIL14D+BAhw/rZtCBkUAxVdS9JdoPuY5OHYBjnI1KTGCvR8EiJUIC/RqWZ+qzIO+psRu9yvSierhKh0nGR0sJZVg7VE9gCeDH+YEiNw3cOZzOy2RFs59f4QStrM5ouFGOpULPPL8lEQ6Xv400gVT0VyAslf0cth/fwspgISJGk2DYP16W0dleDNMLK+uXR6Lw7UNC+2ir+rGNSGP+oSq2AIZRzu/vHl2Ea8rlASJOzY1G/TfHhdp4tAAjvs4L+9eR3ROs1Xo30HKIrwVqOImwU2nLdbQg3EwiO1xIDQ7RIlOwixeAiF+fzzcLKOeZ0p5oqkB2c7zc639dwpHL6OLpB/cwJvMKQz5YyfPSjwEiVTaBL3Volscigo2eZTVVDEmdYWiihzL62loqmcMeVbeUD5OGDikiVUrnhcuRYZUTVGfZpTjFKFDvInRWeTvkCE333qkEOaWP2PR5gMUBIlU2h9G6F1LkCejzIsQG1rtMR4rICrEK4IUS5JX8TcDhGKr27Gq8oWCB8SJVky/JlQAFCLhb4hBWPWekJVXcH6SF6DR2g7wRb3RTCiQY6M3iQSMYJ4U2064BIlbtnKq5N03dnLBMo7a9MBxd7UiP5s0EvdjYoPgo66FWJt7C/TH1cREY7ymwcSJW7aLlvcRl1MMhcczYKfbpnku4dp6HmxW90URvj4pXQpgtHUVjhrArAp3lrSJW1cc3TtFAZxSom1l52Vo9xzWhmpaq4Rw2O7vg2iZG7wcVKuDvccCyASJVOtdpTe+SVyYMLB/A8OjHgLz5MgfYBrz/TxnDMiszMS4lUkiboSJVIwecCE6ENTbfZtZ5b+IDa7u16roD1HH6DAvn7kzfr16i+A65ASJTg6B4ZszFfkzcvKitBuVskmIi11TzsfjmwK8m2AdOySK/YTlsHqG0JpkBIlGZoTBNCpo2YwJsFzyjtgzcRI+xFJj/CS++1P5kL27jrzEJLxAs8QFxzUEiTBphFEKie9fCZzHjgG+ebMs1zYlrPE/I9NAk3vNjESVldLfUtCkBIkdOpoqNb5kGAIUGqFTZOSQXa+U6YPC+DCm+mi47zHSzUjSRIPXEFk4IRL2cvEcUgMPMh8JBd+eHFqV5BpMfttzwzvrZG5TJGSJBuuV1frI79K4NbKEbCHeozz6zAaE9WT3Q8FsX9Bor7EeOSo65XS0eUSJGIagXt9VjDj6ize26a6jnTzuZ9tM67OQlp6uYUfmvT1lJV4otYKkiR+zMM5uQDrks1PO6H1A2V8B9Kc1NwgQxNOvhC8I6lJwsx/Lcjy4S3xOhIkfGvvQ2RbnhJYJ7pRIM6MRWjD1LxXS0TJtMbT+xOz4GfgEg9vDpjL7mbAI93/pDAI4/GkyR9V1CkITuUSaXlLEEs8MiKSD0VOME1t2hs/dlRbfVrYEzd75eIgsA+N1KuPYfGQYBIPKui0W0oc5lH14wSiS+enO9YgFh6r8S0pm5rb/1MCYBIOzh+EC6oylBnpkfxClZHzBYUWt94G4tB/shgsXr+wFiASDpLsmYoI3TDqY13br9j8TDhv+yG2ylpc9AxOPzKTxFASDmneTqjHtcfcuCigvNhsbJLNgDsLM8JLee/ke6ro09IOLEGJ67WCmlXi39CyL/3bW9iQWSxpq2b79F6Wa5lxa0ZEEiPZ13fkF96NLmzrY9sgLOiBEfN5T5gWUJ6UEAEGbVVRChyiFVGAOlp0NSASJII4Q6reuVTsPl3NoQoziQ29lLKeEvJd4kvm65lYZXcLPJXJr/S8/vlSJHz9Iuv4lZ/g1ADD6Y9uQviDqJq3m7RpKGR0kx/X//43/iblJ840SqwwQLgSJFEXgw6zKXV3RB9tysZa8rvbcZTuzu6S6saxpMm/h7BnOPjoe0UTEiPtjB77K1t0npWda8XtjZ9GOZguukxK0iW6HWp7FTkl5BIPKojaA9Hk/TCt7Z/6zEEwOU+Wi0NgHOg9/Qb2ktBTdnUSDs2h9LPzZLGnc7nR+61voTY4ljruE0nwEKy6VNC8TkCsEiNDid8TVAoxb9NkEaZ6GFgK7/1FE1+8Z9lxodB+r3wMQ65I/HepqZIjQKJeekjm77fL5QdHt4gbmpyJ6ETTXWJUmHbUZZl4tudYOP4SKFw9jiPgB0L3qvZXzo4u6dci79rDVL8xepgvqOY6NN+inEk508R0bwJNpR6qSlH6Eiim8gUkHRMGh1azCjrm8OIOx/bSe5JGzl8U1aRQ9ROO/SnsIbWRRWfj5g6ltaD0i0W5TZIonJ/dPLMumXvxfTxr3vrSOfZfReH/d0KNm8CVMsh/8ttx+F7V7R4NIPdqpcFOGId+75IooZMMUXB+OrXE/myIoP+cFxRORS72e4kHnvUKQ+8kP+/l1pY/+dEO8sOPfF/ssHzhyuvL1kzNThIooPoTAVjd3hcUiTEweNPDgLtLUtP6vL7oOOFXTKTvD7WTQFcyN2eOE0Pfr5dJxZIooPFF0aHcI+ir0lTvi9tVHYCnixhQ7yQ6qgEbT5sFTx8rMvZMdiHId12ybAOKvgISKKDxvhfFcZmvY6wkMumQWxSrvegCETafchsFgXkHAcqp8sRVpa/izrPqJVZ1RBFnUnTNFS9ZfeASKKDNI1OuziweIJ4r6UKJEcH2PB+nC5rlUB7wjMdRgA26WoB4dk3LfEHfLLyB/w4SKE5AhyiUV6dutRBQmpx0rwge6byirwEjDfLTB+ZapHKaU5hG6B2++nUzlS0+gCdSKGyyQ9J0z1A6GlnefEygzMzURKT+wyMwjJRc7GCmTyFvXkFxdnUb074qXsB4Ro7IEi+zd2PFji4t/aF1VJS+I+P9iwIhQPC0/jPsgSB2Vinf+iTX8g54uMvYtOwgYVISJGgvhqP/6z6ffeQDtXhk2n0GEopI62pOR7lFbbKNSGvXo5c9svn6UWeaYBIkhrU3NsTRKCX6OJBy8GJ27tG0fFVjwwxu3g+eH0YGC9XOPUeRTzo9J4mgEiTxpFbf/y/GOeTJVs86l6b2pRkSoFW+p7HvEd4bHWabA2CEwwYJlwvoT7UcEiVXcog56+dv2OVWytTwWJoOVK9qMToN1pdo+tgb1xuamBs5INKdxZcm0iWDBJGolZBTWQO4hJf1RRvXquedk/MJ404trvlgCrxOaVSgMkdSJW1FDzELBEXOIVdNLVg3bNn5tNKCAGZqgGe0P6J1bviWOs0W+hIlU23hO/eUCRGFvIyfSQ95gy3VwDqweedrUCSaqyY1woVQuYIwGlUnw83lC7OJeBIlbk69Nu5m3JwauhU2nxaH/Nc/xS35v0BrvPGzzLeFGLDAzhIIEiVuKYo1tBSTSDxFIXWCxjaA9iptwhV8IDx7mh5CggN/MBIlbjJWN0oEHh5o6naralCB0OzvFJYFlJfVBb9wF0C9TB3qcBIlbvSQM3JRfn/lnNGrOKTtJuUfAJtPrzfyAIBjnhhnZ/4SJW4vyKsZEQ6dH1DJ8m1s3/R+2XofOpn8ZRmPf49Q6RcpCUmSJW4uiL/zDNNohwPqQCXJds+c9SUXyiO/FUY3Q60D2y9abv/QcBIlbqaHzvl6kRklIovD5vfyOcIGRA0bbXIKeQmq46ndB3wSJXFYTMjm0spho29lUML2pYOd/nGa7BP+0VOYmnkbf3Y8o5qb4BIlcL2FBBqpkYkXYbgbZfX59vC//KkAjQCyEjO4SzgU51ZS6DQSJW1zu5j22ED19rCV0emtEIvU8hWWnaO7sovyxe5WNmlQr2ygEiVTBdeVRY014UI/Y8IqyuubgHWHFFwdmsGgQDh1jq1b9ve4w1W4DBIlV0fIpcOhmyt2rCyfNX3LqZlezn6a2Yi2me5eva26mrIWCQWi09/IEiWejuQxZX44ng8sfpm5dFfnQEZ+1EbGMzfquF0Xlv8Sh0q28KASJZPJMevECjbi4DrrbXr3WT8Vpz4YGPSbofduApX+wZCZ+wsHxxJwZHD8EiWmBjUCx0OEOculTVkcSoePIF6biTWT52IGgx1OkcCHN7wVP0kBqhIloMl4BgAy2BQGyIli+Fx35d9glPXNSSdfBxqST3PsmZk6JBIlUDgd+zb28NTucuEFkBRqb5NGASdS2q/Rn8+JuO5d4BIlHzGUD9oIWOEcinT225BBsM97C3UpztxchLEU+CQpdScC4BIlGffXSz2Vr6SGXCZg80UQ4qMBjonG8cgKr7eEQegYXqN5GBItMup71IUKHtG8shHAnrA2iCu7VmepDYii+FJyybonDfTUGhNEmTxhoeC58isDSBIs6GWpWJ/TZ6pOAT6EDKbLC4V1N9UZaCwPgD3uD9Ui4lEipPMs6Z/zki/UQVDPTEhi5+5x59YLzClkJGReTA3W413U/Ok44sCGRhr8q7HVka9stlIkoRIfEmRE40P/xvP2Jyc2eebTpDgLWBGkboEP8bBuBkzcShvtjeB3kdIkWeG84cs8GXFQskecCKnbadmq/wozotpi6ysDdXsghN4DO+wSJC5neMTCH5p+1XauTzQbHgvzEDUPflNY3GSbEfjaZvCc19PNsEDWEipBRojtt8646RPMSkE6/bhrRM3CqRcdMlleMDA8+RUqtlyQUX2PBdO9hdXSKdXIcj5X3OMXlOUJay+zB9eGQPECW45fm81bXm8V//QWI1K8PNBZ/sOQCBIpRwMBF4KdeF4lLASVpBElGBrk5TjXa/rvsrVYn+cJjRJ4MivjijaSKT/LOtgj/LqKJ6nkBykUN7IXgeMytOs+VqoUX2d/r0ckq/VygpO4wni7uPC/yuxSKPnUeKre5c5JZQTOz0ZCjwQchfih4NHSBb6tVFf/gwmuma71mB5xMSASI7Ac/f0JyRc2iOreg+Hy+jm0Ri2P4W7uUXT1utI3tTv1yhl6h3OtppIkakLI3RJjwDHyFoejrDrpo2jotvRXY/xL+qWHZWXMBF5iTbQJlf8P2REfCH1MEiSv4+gO/T1RdAllpO2iHLaupUwrodFAba8Dl7Qsi6bkxsSCfybwJ/FvkiTTdVaSI+PWuZDRVlcvzGXZ8/JekMZ0v4V6V2ZaCf1X+aBfDe+SJLvyqnnfY3MMdwEvtElEK74sbj64OtARk5alJoC5CFeA1vtSIOp2YRIkLWBm37tyHFZjNEtMCpCyxjOZ+avFvfuGiM661ol6SntnVXmVUiPKTrud9LOevKkhh8bpk+7uSbb1esDRFPynGuakGpVSI6qo/Y9btyR0iPTT7ZFNCrxBdv5mgmUKgrMnAD85MZwWEiOpB/+ScLLiTj4fJ8T9ZxgofYIQSTdg970eOMzakiOvpWi/8w1vyi8sDSfQ5xV/HAwZsI1OAGjNRKfgXrhhIZvTb7N0cVAJNxASI8JLZmNny+Tl4MbyhJSXejUuTYUGY6vNyAWQ+tsw+EYfrSYaetIjq292S8CqlXZZEqewxbOfln31Xbz9LzE4GaDkmzZpY+y8kiOEmWrOiFgiN+HYA/bLyCq4KU9wP/fGLJpcR7K4cyJ6EiNZ/m8yoZyhVKuSLHhW8wcsQpzV9060DAG+npah4GoLw2KrP+8SI3BB6Et/dkdXrJtpJ+1RmnlUNavXpl5T6GaaPrjjfJuELFdvG5gwEiPv+BA9IHLXQZS6s3Qn3pdcFjOWsTfXrXZv9At+mB/xQ2cyUiP3UpABTON7zmLDNTvMP/7zFVUi03km9uoeAovtfhln67Z7zLCw5+ZZUiRo/PEGx1Ue5nnDbm4/OMi5aehAgArwt3i8KV4HnMAsGIkeq1g72T0Z2NhYe3za5OISJJ0zd6bdPpBfo9MGtM0H5nwujlzz6JszSAdc14vUHeI57MRXYliSJCygtTlldG0RftUmZJbPtzPvk+aiI7F2WLlMGXqyc5VIrAlKkiPCBK/V4rGR/l6YWmbRAPrSA124WBnRVJQtaHoUMFwSDscAt8ebOI50ieMLATqDrj+aE8/q7Gib4sV+bPYSDqDrGGxyW6B24NtQW/PyL2AgCpeffUYH2//DY6/FkiNlAyDCoBG9s0Yv1PG0isvVzWdP33umxBmxLZ9arvKu1zp8MRB4EijyzW/OQgKKSLlVanMFcVZipwOqrWUtp8CDwSFKmtaJwzIfhVKG8wU2I9ISKKWRGlgM5+pZ4U67NKxVkDovbae1Bulq1+QChAGtFxR/Y+a518v4iLja7GASKKjnbZTNA2yZo/VnZqfFT1gl6US9I/SJFE5K7R+jhHsedqUh9kQ9lLUnj5P3z5H5uBIo8T+KjSqTVINVjnvBQPvLIXumCyKEMlfqljmL8InImF8ms5PZhRP6x7SVCeGqEijcWH9/W6uOwqkuWmAPZLKS1mUHZbm3D2p0zycalUkShidhD33+5Ac4EiibtP6+upbxMRp1O6BGd3tA0wmEc4jlW/m9w4j2eviPXFtZ5blVKeWlTc13PzQYEihTacK1ejcivWzzpmyTlK6NQkTadBL82xuCW2i8LWX3TtOUptWWv8AcyHs/dI+7kihJnPdkzKv7qaTfdpCvsggchWaRALNEdlCfkM7JJXJS5VSe/JHHndIoZsthMybdy1ASJ+N5pVR/NLmek5d0VahP+8IZwGOb1vOVDSUI9cCU8A0euFeQEiddIc2nK/kCOnEnfNEQbQASVBKdwn/ygytHo+qK3yVADLP3VJkoYpInWz7goyAqVNZgOqBjEkp7SJX8yXWBRoNVMLzH8sOYYrPF/3BaNBInZjtRzq8cbl+eD8wtUgHFg5dWZqj3bX38YBJvleH/SHQ/iG85I8Hg7JkkhBInn5m1H5jpIRJn0/OQfoyTcatdGDXJrrWZlbO4QLCt74Oo/7FSIr1R2yAnCWmXfUtfgRPV5fLO5srhYvwKqjYwaiwiiJ6vEiNyP2YwFxAvAIuwoJewVf17xzQxKsaWUfU8iKiJK5erJcyrcGGsQwI9bMeYYBIkaQytzwrsF/MPRhGqywrqD0/jSOqdGw9N7caj25rG0rvRE7bpivcUSlASJKMzV9EaxTGuXcJxAwxZl7M3Iw9gy4rqTqwAMBICZhRHoVyyRay/X5fnUiSk8B7MVl6IUVjtbiwC7CyvIHdRp8PJ0ylcOhzvboQfcWrLDuA1+xIkpPAkH7I2Cc4WSfScOSUYxOhwbZw6UCxsghw9P2AU8KuMD8ZXd2fj0BIkoV6ujAE13xcK7FbIPaNRra7803ye5N7PgMXX/kx/HxjDlrbJwhQSJDFoVMbdNnjtzBDsLZvxk4hy4mcIgyEzeoau6hXYVgm1JLfrNtIjx8FMUBKiSMBYERE3BOmRo2EG/CZaje8Wz+RWyw0CNyS5ojENUiOnSmu4JWL83mHFISYvKtQJJeK/kK2PA+JTrBvQIW0uEijn9aeY9k29WKF20Vxd1T7KshBaCD/08y9c32+uRZ3J0O+iFJjy8UISKJtzffeFAeuBRYBeODY7NmrpbTd5WGgGIHlD7butoGvMaSipQMLwK0QCkihDdAIg+d13lcozHWa4xknUSY0D67JYUhelLaAqHB21wpars+aIEiem9zFNs9MWvcQuUEbobcTC6luCu5cmJi0nc3jFDTZ2KmtxkKASJ5Op/D/Z5s/974ie2wnz4ceoBPZoKv0CZJzUkr2mw908h8mYRqQSL3UUSJ7TLMqAI+4k6RnbM2TFA9VjaAwE+crBZzI6sktLHQ0pqNXyV5oSL3D7hEUm5O/Rr8TFHlFJlFmxb0C8FOflSTB9azae49VhJfLmAHsao+EsEiKVcpHisy/Bbxh1H0V1knAJYJJygYFiEuxfgg7iIvNK4BIMtjMhlBJlAwJfcDRcEX36kdax/soj75L2VNfwEgxPu5rV+9aliQ5qOUp69pMoNBhdFxrwyOGCUgw8E8S/wRisXbw04n3lH0bjpeb1sIivOrj35l89UgvVjXT3ALOe2RaLYRpSQuZEtpzkeOM3+zl4tbYSC9WD9E86LK3BpOBjTPK6m2oHcuMQKEiVf9+enaPzB9xzEiBFj0i1UzGPaxGdULqXoqVRk9NWPKbn46u6PGcVr53gW+2Asel9kIawA=="},"contextInfo":{"mentionedJid":[],"groupMentions":[],"disappearingMode":{"initiator":0}},"messageType":"audioMessage","messageTimestamp":1768315703,"instanceId":"9b758c2d-d023-4b75-ae07-e70c0163af84","source":"web"},"destination":"https://primary-production-70c40.up.railway.app/webhook/recebendo-msg","date_time":"2026-01-13T11:48:23.985Z","sender":"556294342576@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"832D00FC5C27-463D-924D-0A089E7B2EEE"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/recebendo-msg","executionMode":"production"}}]},"versionId":"1e649988-b697-42d6-bfe4-3203d781051a","activeVersionId":"1e649988-b697-42d6-bfe4-3203d781051a","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T13:48:00.115Z","createdAt":"2026-01-13T13:48:00.115Z","role":"workflow:owner","workflowId":"m03RoxreTH4gMPkM","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2026-01-13T14:55:51.131Z","createdAt":"2026-01-13T14:55:51.131Z","versionId":"1e649988-b697-42d6-bfe4-3203d781051a","workflowId":"m03RoxreTH4gMPkM","nodes":[{"parameters":{"httpMethod":"POST","path":"recebendo-msg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,608],"id":"506e541d-47c4-4b55-b1fc-ea62235b8b0d","name":"Webhook","webhookId":"65e3902c-2e82-4c24-99ad-6f49f660c799"},{"parameters":{"operation":"get","tableId":"usuarios","filters":{"conditions":[{"keyName":"instancia","keyValue":"={{ $json.body.data.instanceId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,608],"id":"8a172792-e133-4456-9b37-57a81082b145","name":"GET Usuário","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f100e954-55e0-48d5-a7e4-6c96ed32c606","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,608],"id":"ff471d52-fc74-4e19-8a3b-26b81802dbd6","name":"if user exists"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7409a50-fb90-4b3b-84dc-c662053dee20","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"privado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"endsWith"},"id":"c898ae7f-2c51-4461-84fd-ed86f4a7340e"}],"combinator":"and"},"renameOutput":true,"outputKey":"grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[880,608],"id":"a50115ba-fbd7-4b65-a929-b5df03c29e7f","name":"Tipo Contato"},{"parameters":{"assignments":{"assignments":[{"id":"cf25c144-9a6c-4b42-8614-278e0f55cf14","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,512],"id":"ea63083b-6cb1-4584-8ac9-4688b891dd30","name":"Var base1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2368,512],"id":"ebf23767-9903-48b8-a6ff-850f6786e365","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2576,416],"id":"77e79982-7831-4f49-acd9-1afd4f02cf38","name":"Transcrevendo audios2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"666f3305-a71a-41b3-addb-dda94a538111","leftValue":"={{ $('GET Usuário').last().json['transcricao-pvd'] }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"836e3d6d-ee72-4ba6-9a8b-e64e3ea9bf64","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"a9c57a8e-e468-4b53-a4a5-f48ecfbfc8fb","leftValue":"={{ $('GET Usuário').last().json.tokens_mes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,224],"id":"3d5c0164-6d64-435c-98ce-0c5e742a80b9","name":"Transcrição PV1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n{{ $json.text }}"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,320],"id":"70796a08-9418-4608-8130-185d9dcbb9bd","name":"Enviando Transcrição2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d4bac-6a0b-4382-a6f9-428fe0826768","leftValue":"={{ $json.message.content }}","rightValue":"=MSG-EMPTY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3376,512],"id":"73aa67fb-9937-45ee-b855-3c2195882e5e","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12091102-38db-445f-9ea7-e27a07e55283","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage.seconds }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2800,416],"id":"c00a59ab-c4b0-49e1-9f65-3a43fb754bd5","name":"Se é longo"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n_Resumo:_\n{{ $json.message.content }}\n\n_Mensagem Original_\n{{ $('Transcrevendo audios2').item.json.text }}\n\n"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,512],"id":"1d00608c-b82d-40a2-ac7f-8375266a9086","name":"Enviando Transcrição6"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"Faça um resumo dessas palavras.","role":"system"},{"content":"={{ $('Transcrevendo audios2').item.json.text }}"},{"content":"Caso os dados não sejam suficientes para concluir o resumo, retorne 'MSG-EMPTY'","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3024,512],"id":"37a44942-9d0d-4051-9c66-602156f10c98","name":"Resumo do audio","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b55816d-9b68-4d3d-b249-d8390f8696fb","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,224],"id":"38a9cc14-22ea-4db6-a79d-194e4fe9db8c","name":"mensagemMinha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"253c69f9-f962-4a4b-b1ed-8840f3c707c1","leftValue":"={{ $('GET Usuário').last().json.transcreverEu }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,224],"id":"f22cc7f3-5a28-454a-8eeb-33aa4c4b8c4a","name":"Verificar se quer transcrever eu1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce2beff4-8348-4e0f-9eef-7db90c574a59","leftValue":"={{ $('Webhook').item.json.body.data.message.base64 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1904,416],"id":"12979d02-77ca-4c25-b6db-7477783d2c1c","name":"IF API NÃO ENVIA B"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2368,320],"id":"baebfe84-9392-4bd6-9917-150cea88fd7b","name":"Convert to File5"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"🤖\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,224],"id":"530f31ee-e39e-425c-b831-b85c7827719f","name":"Enviando Transcrição3"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"✅\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3824,416],"id":"e7b4675f-d319-4a3b-bd4d-a700bdf67fe1","name":"Enviando Reaçao1"},{"parameters":{"operation":"get","tableId":"name_ia","filters":{"conditions":[{"keyName":"usuario_id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[432,608],"id":"2caf0405-c01b-4344-9ee1-32643b5b83f2","name":"GET NAMEIA1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3376,320],"id":"818ad09d-e96e-42a5-aa90-ac24addccc4d","name":"No Operation, do nothing"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM grupos\nWHERE grupo_id_externo = '{{ $(\"Para cada mensagem\").item.json.body.data.key.remoteJid }}'\nAND usuario_id = {{ $(\"Query usuario\").item.json.id }}\nAND ativo = 1;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1232,1040],"id":"390f1811-ab1f-4b80-90f5-1aa7c66a56c6","name":"Query grupo1","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('Query usuario').item.json.id }}","rightValue":"={{ $json.usuario_id }}","operator":{"type":"number","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('Query usuario').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,1040],"id":"9c47b3f8-716a-4554-a1ee-af0f171b2e9b","name":"Se grupo existe1","disabled":true},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $('Query grupo1').item.json.id }}"},{"column":"usuario_id","value":"={{ $('Query usuario').item.json.id }}"},{"column":"mensagem","value":"={{ $('Para cada mensagem').item.json.body.data.message.conversation }}"},{"column":"data_mensagem","value":"={{ $now.toISO({ includeOffset: false }) }}\n"},{"column":"nome-autor","value":"={{ $('Para cada mensagem').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Para cada mensagem').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2128,1136],"id":"8856485c-e6ed-4019-b72b-5a5b3daf37a7","name":"Insert Msg MySql5","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aca93d62-d5d6-424d-94b5-8d62dd06120a","leftValue":"={{ $json.transcricao_ativa }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"ea25ff80-5827-4001-b553-f0d1736d294c","leftValue":"={{ $('Para cada mensagem').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,1040],"id":"d37875f6-5ab0-4afd-878a-41481e465283","name":"Se for pra transcrever1","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2352,944],"id":"d42281be-3462-4f9d-980a-3f05f9db1956","name":"Transcrevendo audios3","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"disabled":true},{"parameters":{"table":{"__rl":true,"value":"mensagens","mode":"list","cachedResultName":"mensagens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"grupo_id","value":"={{ $json.data.key.remoteJid }}"},{"column":"usuario_id","value":"={{ $('Query usuario').item.json.id }}"},{"column":"mensagem","value":"=Serviço de transcrição _*Intellizap*_!\nO que *{{ $('Para cada mensagem').first().json.body.data.pushName }}* disse:\n\n{{ $('Transcrevendo audios3').item.json.text }}"},{"column":"data_mensagem","value":"={{ $now }}"},{"column":"nome-autor","value":"={{ $('Para cada mensagem').item.json.body.data.pushName }}"},{"column":"numero-autor","value":"={{ $('Para cada mensagem').item.json.body.data.key.participant }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2800,752],"id":"cc9d5948-973f-4f21-9314-75b973b16814","name":"Insert Msg MySql6","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fa709b2-22a7-4406-9e41-7a86e9627444","leftValue":"={{ $('Para cada mensagem').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1904,1136],"id":"48bc8456-422b-4501-8da5-c662a1743222","name":"Se for texto1","disabled":true},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2128,944],"id":"ea426265-3dfd-4d8a-9b87-b1a1a775555d","name":"Convert to File6","disabled":true},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363422339500377@g.us","messageText":"=Transcrição do Grupo: *{{ $('Se for pra transcrever1').item.json.nome_grupo }}*\n\n{{ $json.data.message.conversation }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2800,944],"id":"07228d14-d3ef-43f1-8403-faed4f708467","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Para cada mensagem').first().json.body.instance }}","remoteJid":"={{ $('Para cada mensagem').first().json.body.data.key.remoteJid }}","messageText":"=Serviço de transcrição _*{{ $('GET NAMEIA')?.item?.json?.nome && $('GET NAMEIA').item.json.nome.trim() !== \"\" ? $('GET NAMEIA').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Para cada mensagem').first().json.body.data.pushName }}* disse: \n\n{{ $json.text }}\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2576,944],"id":"d62934b9-3c7d-49f9-81d0-96c00be21c7e","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Para cada mensagem').item.json.body.instance }}","messageId":"={{ $('Para cada mensagem').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,944],"id":"d6e22a29-3e69-4ec1-b500-62c04135519d","name":"Obter audio1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}},"disabled":true},{"parameters":{"table":{"__rl":true,"value":"user_transcriptions","mode":"list","cachedResultName":"user_transcriptions"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"user_uid","value":"={{ $('Query usuario').item.json.id }}"},{"column":"transcription_text","value":"={{ $('Transcrevendo audios3').item.json.text }}"},{"column":"audio_duration_seconds","value":"={{ $('Transcrevendo audios3').item.json.usage.seconds }}"},{"column":"user_contact","value":"={{ $('Para cada mensagem').item.json.body.data.key.remoteJid }}"},{"column":"instance_name","value":"={{ $('Para cada mensagem').item.json.body.instance }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2800,1136],"id":"6b160abf-5303-4d0f-a28a-3e5d6455c72c","name":"Insert Msg MySql7","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://webhookbeam.com/webhook/miqueiasbrandaodev/transcrição","sendBody":true,"bodyParameters":{"parameters":[{"name":"usuario","value":"={{ $('Para cada mensagem').item.json.body.instance }}"},{"name":"transcription","value":"={{ $('Transcrevendo audios3').item.json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3088,944],"id":"5d95ec3a-e918-4340-bd85-8b6975fec279","name":"HTTP Request2","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2144,320],"id":"7fd148ae-cd79-4682-9711-ab517f9180df","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"GET Usuário","type":"main","index":0}]]},"GET Usuário":{"main":[[{"node":"GET NAMEIA1","type":"main","index":0}]]},"if user exists":{"main":[[{"node":"Tipo Contato","type":"main","index":0}]]},"Var base1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Transcrevendo audios2":{"main":[[{"node":"Se é longo","type":"main","index":0}]]},"Transcrição PV1":{"main":[[{"node":"IF API NÃO ENVIA B","type":"main","index":0},{"node":"Enviando Transcrição3","type":"main","index":0}]]},"Enviando Transcrição2":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviando Transcrição6","type":"main","index":0}]]},"Se é longo":{"main":[[{"node":"Resumo do audio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Enviando Transcrição6":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"Resumo do audio":{"main":[[{"node":"If1","type":"main","index":0}]]},"mensagemMinha":{"main":[[{"node":"Verificar se quer transcrever eu1","type":"main","index":0}],[{"node":"Transcrição PV1","type":"main","index":0}]]},"Verificar se quer transcrever eu1":{"main":[[{"node":"Transcrição PV1","type":"main","index":0}]]},"IF API NÃO ENVIA B":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Var base1","type":"main","index":0}]]},"Convert to File5":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Tipo Contato":{"main":[[{"node":"mensagemMinha","type":"main","index":0}],[{"node":"Query grupo1","type":"main","index":0}]]},"GET NAMEIA1":{"main":[[{"node":"if user exists","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Enviando Transcrição2","type":"main","index":0}]]},"Query grupo1":{"main":[[{"node":"Se grupo existe1","type":"main","index":0}]]},"Se grupo existe1":{"main":[[{"node":"Se for pra transcrever1","type":"main","index":0}]]},"Se for pra transcrever1":{"main":[[{"node":"Obter audio1","type":"main","index":0}],[{"node":"Se for texto1","type":"main","index":0}]]},"Transcrevendo audios3":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Se for texto1":{"main":[[{"node":"Insert Msg MySql5","type":"main","index":0}]]},"Convert to File6":{"main":[[{"node":"Transcrevendo audios3","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Insert Msg MySql6","type":"main","index":0},{"node":"Enviar texto2","type":"main","index":0},{"node":"Insert Msg MySql7","type":"main","index":0}]]},"Obter audio1":{"main":[[{"node":"Convert to File6","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File5","type":"main","index":0}]]}},"authors":"Miqueias Brandão","name":null,"description":null},"tags":[]}