recebendo-msg-m03RoxreTH4gMPkM.json
{"updatedAt":"2026-01-14T19:26:40.041Z","createdAt":"2026-01-13T13:48:00.115Z","id":"m03RoxreTH4gMPkM","name":"Recebendo MSG","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"recebendo-msg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-256,416],"id":"506e541d-47c4-4b55-b1fc-ea62235b8b0d","name":"Webhook","webhookId":"65e3902c-2e82-4c24-99ad-6f49f660c799"},{"parameters":{"operation":"get","tableId":"usuarios","filters":{"conditions":[{"keyName":"instancia","keyValue":"={{ $json.body.data.instanceId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,416],"id":"8a172792-e133-4456-9b37-57a81082b145","name":"GET Usuário","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f100e954-55e0-48d5-a7e4-6c96ed32c606","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,416],"id":"ff471d52-fc74-4e19-8a3b-26b81802dbd6","name":"if user exists"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7409a50-fb90-4b3b-84dc-c662053dee20","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"privado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"endsWith"},"id":"c898ae7f-2c51-4461-84fd-ed86f4a7340e"}],"combinator":"and"},"renameOutput":true,"outputKey":"grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[640,416],"id":"a50115ba-fbd7-4b65-a929-b5df03c29e7f","name":"Tipo Contato"},{"parameters":{"assignments":{"assignments":[{"id":"cf25c144-9a6c-4b42-8614-278e0f55cf14","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2032,224],"id":"ea63083b-6cb1-4584-8ac9-4688b891dd30","name":"Var base1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,224],"id":"ebf23767-9903-48b8-a6ff-850f6786e365","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,128],"id":"77e79982-7831-4f49-acd9-1afd4f02cf38","name":"Transcrevendo audios2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"666f3305-a71a-41b3-addb-dda94a538111","leftValue":"={{ $('GET Usuário').last().json['transcricao-pvd'] }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"836e3d6d-ee72-4ba6-9a8b-e64e3ea9bf64","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"a9c57a8e-e468-4b53-a4a5-f48ecfbfc8fb","leftValue":"={{ $('GET Usuário').last().json.tokens_mes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,32],"id":"3d5c0164-6d64-435c-98ce-0c5e742a80b9","name":"Transcrição PV1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n{{ $json.text }}"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3504,32],"id":"70796a08-9418-4608-8130-185d9dcbb9bd","name":"Enviando Transcrição2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d4bac-6a0b-4382-a6f9-428fe0826768","leftValue":"={{ $json.message.content }}","rightValue":"=MSG-EMPTY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3280,224],"id":"73aa67fb-9937-45ee-b855-3c2195882e5e","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12091102-38db-445f-9ea7-e27a07e55283","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage.seconds }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,128],"id":"c00a59ab-c4b0-49e1-9f65-3a43fb754bd5","name":"Se é longo"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n_Resumo:_\n{{ $json.message.content }}\n\n_Mensagem Original_\n{{ $('Transcrevendo audios2').item.json.text }}\n\n"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3504,224],"id":"1d00608c-b82d-40a2-ac7f-8375266a9086","name":"Enviando Transcrição6"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"Faça um resumo dessas palavras.","role":"system"},{"content":"={{ $('Transcrevendo audios2').item.json.text }}"},{"content":"Caso os dados não sejam suficientes para concluir o resumo, retorne 'MSG-EMPTY'","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2928,224],"id":"37a44942-9d0d-4051-9c66-602156f10c98","name":"Resumo do audio","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b55816d-9b68-4d3d-b249-d8390f8696fb","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,32],"id":"38a9cc14-22ea-4db6-a79d-194e4fe9db8c","name":"mensagemMinha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"253c69f9-f962-4a4b-b1ed-8840f3c707c1","leftValue":"={{ $('GET Usuário').last().json.transcreverEu }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-32],"id":"f22cc7f3-5a28-454a-8eeb-33aa4c4b8c4a","name":"Verificar se quer transcrever eu1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce2beff4-8348-4e0f-9eef-7db90c574a59","leftValue":"={{ $('Webhook').item.json.body.data.message.base64 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,128],"id":"12979d02-77ca-4c25-b6db-7477783d2c1c","name":"IF API NÃO ENVIA B"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,32],"id":"baebfe84-9392-4bd6-9917-150cea88fd7b","name":"Convert to File5"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"🤖\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-64],"id":"530f31ee-e39e-425c-b831-b85c7827719f","name":"Enviando Transcrição3"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"✅\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3728,128],"id":"e7b4675f-d319-4a3b-bd4d-a700bdf67fe1","name":"Enviando Reaçao1"},{"parameters":{"operation":"get","tableId":"name_ia","filters":{"conditions":[{"keyName":"usuario_id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,416],"id":"2caf0405-c01b-4344-9ee1-32643b5b83f2","name":"GET NAMEIA1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,32],"id":"818ad09d-e96e-42a5-aa90-ac24addccc4d","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.iaoculta }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true},"id":"71bfcf5a-6e94-43da-8922-70ca4a3353eb"}],"combinator":"and"},"renameOutput":true,"outputKey":"ia_publica"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd4764d2-8bb3-431f-8948-c30b8fab0054","leftValue":"={{ $json.iaoculta }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ia_oculta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1360,848],"id":"789e4ddb-5431-48cc-b56d-f31e9da669de","name":"Publico ou Oculta"},{"parameters":{"operation":"get","tableId":"grupos","filters":{"conditions":[{"keyName":"grupo_id_externo","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1136,848],"id":"5524874e-9b07-4c01-87e9-036e3b68c0e3","name":"Get GRUPO","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $('Get GRUPO').item.json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('GET Usuário').item.json.id }}","rightValue":"={{ $('Get GRUPO').item.json.usuario_id }}","operator":{"type":"string","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('GET Usuário').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,1040],"id":"ca872bd6-cd2f-4690-84ce-f2cd3569129b","name":"Se grupo existe"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,944],"id":"f3d211a6-fb7a-4e40-bd7b-63094a793dd3","name":"Transcrevendo audios","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,944],"id":"81ec19c1-bd69-495c-aead-bc0e22357335","name":"Convert to File7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"507c352f-5b2d-4cd7-9579-9070c084f39b"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef8f54d6-a24a-4157-997d-d6d512441e79","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1808,1040],"id":"e7f48cb9-a346-4924-b1e3-fb3ded25a0a4","name":"Switch"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,32],"id":"7fd148ae-cd79-4682-9711-ab517f9180df","name":"Obter audio2"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,944],"id":"43b804ff-5b55-4ec8-90c6-084ad4f6d79e","name":"Obter audio3"},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"=NOW()"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,1136],"id":"6a7db757-e96a-49d7-9cc1-254ab2a3f347","name":"Create a row","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $json.text }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"={{ $now.format('dd-MM-yyyy mm:ss') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2704,944],"id":"97476396-7df7-4912-ac1a-6d611a239f97","name":"Create a row1","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $('Get GRUPO').item.json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('GET Usuário').item.json.id }}","rightValue":"={{ $('Get GRUPO').item.json.usuario_id }}","operator":{"type":"string","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('GET Usuário').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,656],"id":"2aa99d5f-f9ef-4199-ab20-df6314269356","name":"Se grupo existe1"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,560],"id":"ed04e18e-0309-45ab-939f-5defb287ba0b","name":"Transcrevendo audios1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,560],"id":"c0efa038-f006-4928-9c8b-58fc9a04e01c","name":"Convert to File8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"507c352f-5b2d-4cd7-9579-9070c084f39b"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef8f54d6-a24a-4157-997d-d6d512441e79","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1808,656],"id":"f17299d0-f8d1-4b44-9d66-18c96a2f9faf","name":"Switch1"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,560],"id":"8cafed3d-872e-4749-bcc9-70e1aaef1b6b","name":"Obter audio"},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"={{ $now.format('dd-MM-yyyy mm:ss') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,752],"id":"3972eaf4-87fe-457b-a6bd-6f15a2a30333","name":"Create a row2","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $json.text }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"=NOW()"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2704,560],"id":"87d88fe1-f7ae-4ed8-b0bc-d9a9aace1760","name":"Create a row3","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}}],"connections":{"Webhook":{"main":[[{"node":"GET Usuário","type":"main","index":0}]]},"GET Usuário":{"main":[[{"node":"GET NAMEIA1","type":"main","index":0}]]},"if user exists":{"main":[[{"node":"Tipo Contato","type":"main","index":0}]]},"Var base1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Transcrevendo audios2":{"main":[[{"node":"Se é longo","type":"main","index":0}]]},"Transcrição PV1":{"main":[[{"node":"IF API NÃO ENVIA B","type":"main","index":0},{"node":"Enviando Transcrição3","type":"main","index":0}]]},"Enviando Transcrição2":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviando Transcrição6","type":"main","index":0}]]},"Se é longo":{"main":[[{"node":"Resumo do audio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Enviando Transcrição6":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"Resumo do audio":{"main":[[{"node":"If1","type":"main","index":0}]]},"mensagemMinha":{"main":[[{"node":"Verificar se quer transcrever eu1","type":"main","index":0}],[{"node":"Transcrição PV1","type":"main","index":0}]]},"Verificar se quer transcrever eu1":{"main":[[{"node":"Transcrição PV1","type":"main","index":0}]]},"IF API NÃO ENVIA B":{"main":[[{"node":"Obter audio2","type":"main","index":0}],[{"node":"Var base1","type":"main","index":0}]]},"Convert to File5":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Tipo Contato":{"main":[[],[{"node":"Get GRUPO","type":"main","index":0}]]},"GET NAMEIA1":{"main":[[{"node":"if user exists","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Enviando Transcrição2","type":"main","index":0}]]},"Publico ou Oculta":{"main":[[{"node":"Se grupo existe1","type":"main","index":0}],[{"node":"Se grupo existe","type":"main","index":0}]]},"Get GRUPO":{"main":[[{"node":"Publico ou Oculta","type":"main","index":0}]]},"Se grupo existe":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcrevendo audios":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Convert to File7":{"main":[[{"node":"Transcrevendo audios","type":"main","index":0}]]},"Obter audio2":{"main":[[{"node":"Convert to File5","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter audio3","type":"main","index":0}],[{"node":"Create a row","type":"main","index":0}]]},"Obter audio3":{"main":[[{"node":"Convert to File7","type":"main","index":0}]]},"Se grupo existe1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Transcrevendo audios1":{"main":[[{"node":"Create a row3","type":"main","index":0}]]},"Convert to File8":{"main":[[{"node":"Transcrevendo audios1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Obter audio","type":"main","index":0}],[{"node":"Create a row2","type":"main","index":0}]]},"Obter audio":{"main":[[{"node":"Convert to File8","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.12.2","content-length":"3007","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"134.199.215.35","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"NTOC49rBS_mil4arezItjw","x-real-ip":"134.199.215.35","x-request-start":"1768418487241"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Miqueias","data":{"key":{"remoteJid":"120363422339500377@g.us","fromMe":false,"id":"3EB0948990BE8724381D5E","participant":"254914932519049@lid"},"pushName":"Miqueias","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/615774272_928272342859349_8575588477785191971_n.enc?ccb=11-4&oh=01_Q5Aa3gEIbmLNAU17YYexLBHP-cg8-urHYUu0aI9RoeobZmjgKQ&oe=698F785C&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":{"0":208,"1":27,"2":235,"3":64,"4":59,"5":37,"6":241,"7":86,"8":35,"9":120,"10":219,"11":23,"12":159,"13":144,"14":139,"15":215,"16":22,"17":223,"18":139,"19":38,"20":240,"21":102,"22":153,"23":138,"24":195,"25":142,"26":132,"27":156,"28":167,"29":39,"30":114,"31":141},"fileLength":2761,"seconds":1,"ptt":true,"mediaKey":{"0":16,"1":194,"2":129,"3":213,"4":138,"5":234,"6":133,"7":154,"8":76,"9":48,"10":223,"11":32,"12":95,"13":87,"14":220,"15":183,"16":246,"17":50,"18":80,"19":72,"20":165,"21":66,"22":16,"23":185,"24":139,"25":237,"26":73,"27":2,"28":113,"29":255,"30":220,"31":45},"fileEncSha256":{"0":188,"1":155,"2":40,"3":129,"4":28,"5":89,"6":32,"7":143,"8":247,"9":55,"10":83,"11":21,"12":255,"13":75,"14":50,"15":79,"16":189,"17":96,"18":166,"19":204,"20":244,"21":183,"22":24,"23":139,"24":54,"25":162,"26":223,"27":70,"28":253,"29":6,"30":234,"31":143},"directPath":"/v/t62.7117-24/615774272_928272342859349_8575588477785191971_n.enc?ccb=11-4&oh=01_Q5Aa3gEIbmLNAU17YYexLBHP-cg8-urHYUu0aI9RoeobZmjgKQ&oe=698F785C&_nc_sid=5e03e0","mediaKeyTimestamp":1768418483,"contextInfo":{"mentionedJid":[],"groupMentions":[],"disappearingMode":{"initiator":0}},"waveform":{"0":48,"1":48,"2":47,"3":46,"4":46,"5":45,"6":44,"7":43,"8":42,"9":41,"10":39,"11":38,"12":36,"13":35,"14":34,"15":33,"16":33,"17":32,"18":32,"19":31,"20":31,"21":30,"22":27,"23":23,"24":19,"25":15,"26":11,"27":8,"28":4,"29":10,"30":16,"31":22,"32":29,"33":35,"34":41,"35":47,"36":49,"37":51,"38":54,"39":56,"40":58,"41":60,"42":62,"43":59,"44":57,"45":54,"46":52,"47":50,"48":47,"49":45,"50":47,"51":49,"52":50,"53":52,"54":54,"55":56,"56":58,"57":57,"58":56,"59":55,"60":55,"61":54,"62":53,"63":52},"viewOnce":false},"messageContextInfo":{"messageSecret":{"0":233,"1":93,"2":71,"3":99,"4":22,"5":197,"6":57,"7":64,"8":124,"9":203,"10":218,"11":77,"12":208,"13":109,"14":217,"15":186,"16":38,"17":143,"18":69,"19":201,"20":128,"21":161,"22":149,"23":118,"24":192,"25":240,"26":66,"27":117,"28":193,"29":234,"30":238,"31":241}}},"contextInfo":{"mentionedJid":[],"groupMentions":[],"disappearingMode":{"initiator":0}},"messageType":"audioMessage","messageTimestamp":1768418486,"instanceId":"9b758c2d-d023-4b75-ae07-e70c0163af84","source":"web"},"destination":"https://primary-production-70c40.up.railway.app/webhook/recebendo-msg","date_time":"2026-01-14T16:21:27.061Z","sender":"556294342576@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"832D00FC5C27-463D-924D-0A089E7B2EEE"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/recebendo-msg","executionMode":"production"}}]},"versionId":"e4ebb2ae-3396-48ce-b5e4-74c3e78913c0","activeVersionId":"e4ebb2ae-3396-48ce-b5e4-74c3e78913c0","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T13:48:00.115Z","createdAt":"2026-01-13T13:48:00.115Z","role":"workflow:owner","workflowId":"m03RoxreTH4gMPkM","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2026-01-14T19:26:40.018Z","createdAt":"2026-01-14T19:26:40.018Z","versionId":"e4ebb2ae-3396-48ce-b5e4-74c3e78913c0","workflowId":"m03RoxreTH4gMPkM","nodes":[{"parameters":{"httpMethod":"POST","path":"recebendo-msg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-256,416],"id":"506e541d-47c4-4b55-b1fc-ea62235b8b0d","name":"Webhook","webhookId":"65e3902c-2e82-4c24-99ad-6f49f660c799"},{"parameters":{"operation":"get","tableId":"usuarios","filters":{"conditions":[{"keyName":"instancia","keyValue":"={{ $json.body.data.instanceId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,416],"id":"8a172792-e133-4456-9b37-57a81082b145","name":"GET Usuário","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f100e954-55e0-48d5-a7e4-6c96ed32c606","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,416],"id":"ff471d52-fc74-4e19-8a3b-26b81802dbd6","name":"if user exists"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7409a50-fb90-4b3b-84dc-c662053dee20","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"privado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"endsWith"},"id":"c898ae7f-2c51-4461-84fd-ed86f4a7340e"}],"combinator":"and"},"renameOutput":true,"outputKey":"grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[640,416],"id":"a50115ba-fbd7-4b65-a929-b5df03c29e7f","name":"Tipo Contato"},{"parameters":{"assignments":{"assignments":[{"id":"cf25c144-9a6c-4b42-8614-278e0f55cf14","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2032,224],"id":"ea63083b-6cb1-4584-8ac9-4688b891dd30","name":"Var base1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,224],"id":"ebf23767-9903-48b8-a6ff-850f6786e365","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,128],"id":"77e79982-7831-4f49-acd9-1afd4f02cf38","name":"Transcrevendo audios2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"666f3305-a71a-41b3-addb-dda94a538111","leftValue":"={{ $('GET Usuário').last().json['transcricao-pvd'] }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"836e3d6d-ee72-4ba6-9a8b-e64e3ea9bf64","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"a9c57a8e-e468-4b53-a4a5-f48ecfbfc8fb","leftValue":"={{ $('GET Usuário').last().json.tokens_mes }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,32],"id":"3d5c0164-6d64-435c-98ce-0c5e742a80b9","name":"Transcrição PV1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n{{ $json.text }}"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3504,32],"id":"70796a08-9418-4608-8130-185d9dcbb9bd","name":"Enviando Transcrição2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d4bac-6a0b-4382-a6f9-428fe0826768","leftValue":"={{ $json.message.content }}","rightValue":"=MSG-EMPTY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3280,224],"id":"73aa67fb-9937-45ee-b855-3c2195882e5e","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12091102-38db-445f-9ea7-e27a07e55283","leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage.seconds }}","rightValue":60,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,128],"id":"c00a59ab-c4b0-49e1-9f65-3a43fb754bd5","name":"Se é longo"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},{"name":"text","value":"=Serviço de transcrição _*{{ $('GET NAMEIA1')?.item?.json?.nome && $('GET NAMEIA1').item.json.nome.trim() !== \"\" ? $('GET NAMEIA1').item.json.nome : \"Intellizapp.IA\" }}*_ \nO que *{{ $('Webhook').item.json.body.data.pushName }}* disse:  \n\n_Resumo:_\n{{ $json.message.content }}\n\n_Mensagem Original_\n{{ $('Transcrevendo audios2').item.json.text }}\n\n"},{"name":"quoted.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3504,224],"id":"1d00608c-b82d-40a2-ac7f-8375266a9086","name":"Enviando Transcrição6"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"Faça um resumo dessas palavras.","role":"system"},{"content":"={{ $('Transcrevendo audios2').item.json.text }}"},{"content":"Caso os dados não sejam suficientes para concluir o resumo, retorne 'MSG-EMPTY'","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2928,224],"id":"37a44942-9d0d-4051-9c66-602156f10c98","name":"Resumo do audio","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b55816d-9b68-4d3d-b249-d8390f8696fb","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,32],"id":"38a9cc14-22ea-4db6-a79d-194e4fe9db8c","name":"mensagemMinha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"253c69f9-f962-4a4b-b1ed-8840f3c707c1","leftValue":"={{ $('GET Usuário').last().json.transcreverEu }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-32],"id":"f22cc7f3-5a28-454a-8eeb-33aa4c4b8c4a","name":"Verificar se quer transcrever eu1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce2beff4-8348-4e0f-9eef-7db90c574a59","leftValue":"={{ $('Webhook').item.json.body.data.message.base64 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,128],"id":"12979d02-77ca-4c25-b6db-7477783d2c1c","name":"IF API NÃO ENVIA B"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,32],"id":"baebfe84-9392-4bd6-9917-150cea88fd7b","name":"Convert to File5"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"🤖\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-64],"id":"530f31ee-e39e-425c-b831-b85c7827719f","name":"Enviando Transcrição3"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/sendReaction/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n    \"fromMe\": false,\n    \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n  },\n  \"reaction\": \"✅\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3728,128],"id":"e7b4675f-d319-4a3b-bd4d-a700bdf67fe1","name":"Enviando Reaçao1"},{"parameters":{"operation":"get","tableId":"name_ia","filters":{"conditions":[{"keyName":"usuario_id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,416],"id":"2caf0405-c01b-4344-9ee1-32643b5b83f2","name":"GET NAMEIA1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,32],"id":"818ad09d-e96e-42a5-aa90-ac24addccc4d","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.iaoculta }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true},"id":"71bfcf5a-6e94-43da-8922-70ca4a3353eb"}],"combinator":"and"},"renameOutput":true,"outputKey":"ia_publica"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd4764d2-8bb3-431f-8948-c30b8fab0054","leftValue":"={{ $json.iaoculta }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ia_oculta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1360,848],"id":"789e4ddb-5431-48cc-b56d-f31e9da669de","name":"Publico ou Oculta"},{"parameters":{"operation":"get","tableId":"grupos","filters":{"conditions":[{"keyName":"grupo_id_externo","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1136,848],"id":"5524874e-9b07-4c01-87e9-036e3b68c0e3","name":"Get GRUPO","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $('Get GRUPO').item.json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('GET Usuário').item.json.id }}","rightValue":"={{ $('Get GRUPO').item.json.usuario_id }}","operator":{"type":"string","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('GET Usuário').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,1040],"id":"ca872bd6-cd2f-4690-84ce-f2cd3569129b","name":"Se grupo existe"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,944],"id":"f3d211a6-fb7a-4e40-bd7b-63094a793dd3","name":"Transcrevendo audios","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,944],"id":"81ec19c1-bd69-495c-aead-bc0e22357335","name":"Convert to File7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"507c352f-5b2d-4cd7-9579-9070c084f39b"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef8f54d6-a24a-4157-997d-d6d512441e79","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1808,1040],"id":"e7f48cb9-a346-4924-b1e3-fb3ded25a0a4","name":"Switch"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,32],"id":"7fd148ae-cd79-4682-9711-ab517f9180df","name":"Obter audio2"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,944],"id":"43b804ff-5b55-4ec8-90c6-084ad4f6d79e","name":"Obter audio3"},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"=NOW()"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,1136],"id":"6a7db757-e96a-49d7-9cc1-254ab2a3f347","name":"Create a row","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $json.text }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"={{ $now.format('dd-MM-yyyy mm:ss') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2704,944],"id":"97476396-7df7-4912-ac1a-6d611a239f97","name":"Create a row1","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3a5925-8305-4d84-a910-e34fbdb88b75","leftValue":"={{ $('Get GRUPO').item.json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"87395124-c662-4a69-9fd4-b3662aeaebc6","leftValue":"={{ $('GET Usuário').item.json.id }}","rightValue":"={{ $('Get GRUPO').item.json.usuario_id }}","operator":{"type":"string","operation":"equals"}},{"id":"d0b3577c-b6d1-463a-a5e5-4e10e0025fd1","leftValue":"={{ $('GET Usuário').item.json.ambiente }}","rightValue":"prod","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,656],"id":"2aa99d5f-f9ef-4199-ab20-df6314269356","name":"Se grupo existe1"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2480,560],"id":"ed04e18e-0309-45ab-939f-5defb287ba0b","name":"Transcrevendo audios1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,560],"id":"c0efa038-f006-4928-9c8b-58fc9a04e01c","name":"Convert to File8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"507c352f-5b2d-4cd7-9579-9070c084f39b"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef8f54d6-a24a-4157-997d-d6d512441e79","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1808,656],"id":"f17299d0-f8d1-4b44-9d66-18c96a2f9faf","name":"Switch1"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,560],"id":"8cafed3d-872e-4749-bcc9-70e1aaef1b6b","name":"Obter audio"},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"={{ $now.format('dd-MM-yyyy mm:ss') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,752],"id":"3972eaf4-87fe-457b-a6bd-6f15a2a30333","name":"Create a row2","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}},{"parameters":{"tableId":"mensagens","fieldsUi":{"fieldValues":[{"fieldId":"grupo_id","fieldValue":"={{ $('Get GRUPO').item.json.id }}"},{"fieldId":"usuario_id","fieldValue":"={{ $('Get GRUPO').item.json.usuario_id }}"},{"fieldId":"mensagem","fieldValue":"={{ $json.text }}"},{"fieldId":"nome-autor","fieldValue":"={{ $('Webhook').item.json.body.data.pushName }}"},{"fieldId":"numero-autor","fieldValue":"={{ $('Webhook').item.json.body.data.key.participant }}"},{"fieldId":"data_mensagem","fieldValue":"=NOW()"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2704,560],"id":"87d88fe1-f7ae-4ed8-b0bc-d9a9aace1760","name":"Create a row3","credentials":{"supabaseApi":{"id":"6Lfnv4CTcGvriNY6","name":"Supabase easypanel"}}}],"connections":{"Webhook":{"main":[[{"node":"GET Usuário","type":"main","index":0}]]},"GET Usuário":{"main":[[{"node":"GET NAMEIA1","type":"main","index":0}]]},"if user exists":{"main":[[{"node":"Tipo Contato","type":"main","index":0}]]},"Var base1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Transcrevendo audios2":{"main":[[{"node":"Se é longo","type":"main","index":0}]]},"Transcrição PV1":{"main":[[{"node":"IF API NÃO ENVIA B","type":"main","index":0},{"node":"Enviando Transcrição3","type":"main","index":0}]]},"Enviando Transcrição2":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviando Transcrição6","type":"main","index":0}]]},"Se é longo":{"main":[[{"node":"Resumo do audio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Enviando Transcrição6":{"main":[[{"node":"Enviando Reaçao1","type":"main","index":0}]]},"Resumo do audio":{"main":[[{"node":"If1","type":"main","index":0}]]},"mensagemMinha":{"main":[[{"node":"Verificar se quer transcrever eu1","type":"main","index":0}],[{"node":"Transcrição PV1","type":"main","index":0}]]},"Verificar se quer transcrever eu1":{"main":[[{"node":"Transcrição PV1","type":"main","index":0}]]},"IF API NÃO ENVIA B":{"main":[[{"node":"Obter audio2","type":"main","index":0}],[{"node":"Var base1","type":"main","index":0}]]},"Convert to File5":{"main":[[{"node":"Transcrevendo audios2","type":"main","index":0}]]},"Tipo Contato":{"main":[[],[{"node":"Get GRUPO","type":"main","index":0}]]},"GET NAMEIA1":{"main":[[{"node":"if user exists","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Enviando Transcrição2","type":"main","index":0}]]},"Publico ou Oculta":{"main":[[{"node":"Se grupo existe1","type":"main","index":0}],[{"node":"Se grupo existe","type":"main","index":0}]]},"Get GRUPO":{"main":[[{"node":"Publico ou Oculta","type":"main","index":0}]]},"Se grupo existe":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcrevendo audios":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Convert to File7":{"main":[[{"node":"Transcrevendo audios","type":"main","index":0}]]},"Obter audio2":{"main":[[{"node":"Convert to File5","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter audio3","type":"main","index":0}],[{"node":"Create a row","type":"main","index":0}]]},"Obter audio3":{"main":[[{"node":"Convert to File7","type":"main","index":0}]]},"Se grupo existe1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Transcrevendo audios1":{"main":[[{"node":"Create a row3","type":"main","index":0}]]},"Convert to File8":{"main":[[{"node":"Transcrevendo audios1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Obter audio","type":"main","index":0}],[{"node":"Create a row2","type":"main","index":0}]]},"Obter audio":{"main":[[{"node":"Convert to File8","type":"main","index":0}]]}},"authors":"Miqueias Brandão","name":null,"description":null},"tags":[]}