reels-scraper---instagram-api-2025-jwyAevTJildbhPO0.json
{"updatedAt":"2025-11-27T03:28:31.549Z","createdAt":"2025-11-27T01:15:31.463Z","id":"jwyAevTJildbhPO0","name":"Reels Scraper - Instagram API 2025","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,192],"id":"5c6d0c32-d519-4900-aab2-0c6eda60de96","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2ebb6639-1375-47e7-8fd8-015e586a2a6d","leftValue":"={{ $json.Transcript }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f75f5c92-97bd-4b28-89fc-a54484a9de6c","leftValue":"={{ $json['Download URL'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"aee2bb44-579c-4d5f-8733-4456dfccf066","leftValue":"={{ $json['Transcribed?'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,208],"id":"e407a1d6-11d2-4964-8687-3920c2ea83d1","name":"If","onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Competitors","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,-288],"id":"820a3b6b-43b7-45ea-82d4-debeb3b4eb0d","name":"Get Competitors1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"data.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[736,-272],"id":"d119868b-570f-458b-9613-b606572e224e","name":"Split Out1"},{"parameters":{"url":"={{ $('get untranscribed content ideas').item.json['Download URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,208],"id":"505c152f-346a-4917-8187-fb435f2eb938","name":"HTTP Request3","alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1088,208],"id":"5f65c147-2ab5-448a-864e-9917448bdad1","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[624,896],"id":"c24a9d24-c5f6-4da3-8bab-85e038a5fbee","name":"Anthropic Chat Model"},{"parameters":{"promptType":"define","text":"=here is the script[{{ $json.Transcript }}] do not write questions for scripts with less than 80 characters. simply output scripts that have less than 80 characters as \"Little context\"","messages":{"messageValues":[{"message":"=You are a viral content strategist specializing in transforming competitor scripts into structured prompts that naturally elicit viral-worthy responses. Your expertise lies in understanding the psychological mechanics behind viral content and engineering prompts that capture core viral concepts while forcing detailed, comprehensive responses.  Task: Analyze competitor scripts[{{ $json.Transcript }}] to identify their viral elements, then craft a hyper-specific prompt that will naturally lead someone to give a detailed response containing those same viral triggers.  Steps to complete the task:  ## Viral Element Analysis Read through the provided competitor script carefully Identify which specific viral video formats it employs from these categories: - Trend-Based Formats (News Reaction, Meme Remix, \"Did You Know?\" Facts) - Wealth-Building Case Studies (Zero-to-Result Stories, Transformation Timelines, Passive Income Breakdowns, \"What I'd Do If I Started From $0\") - Expert Authority Formats (3-Step Advice, FAQ Answers, Side-by-Side Comparisons) - Lifestyle + Relatability Formats (Day in the Life, Relatable Rants, Failure Stories, \"Don't Do This\" Mistakes)  Identify which viral factors are present: - Structure elements (hook effectiveness, result-first reveal, storytelling with numbers) - Algorithm levers (share-worthy content, save-worthy insights, trending elements) - Content design elements (bold hooks, visual structure, contrasting elements) - Social proof and virality triggers (screenshots/proof, audience callouts, curiosity gaps, emotional triggers)  ## Core Concept Extraction Determine the fundamental viral concept that made the original content shareable Identify the main topic/theme that must be preserved in any response Note the specific knowledge or insight being shared that creates value  ## Prompt Engineering Strategy Design a prompt using the \"Explain + Examples\" structure that: - Uses \"Explain\" as the command word to trigger comprehensive responses - Treats the respondent like an AI that needs specific instructions - Forces them to elaborate with concrete examples, steps, or stories - Maintains the core viral concept regardless of their personal experience  Use these proven prompt structures: - \"Explain [core concept] and give me [X] specific examples...\" - \"Explain [phenomenon/problem] and walk me through the specific steps/reasons...\" - \"Explain what you think about [controversial topic] and give specific examples of...\" - \"Explain why [problem exists] and walk me through [solution process]...\" - \"Explain how [process works] and give me [X] examples of how you've seen this play out...\"  ## Hyper-Specificity Requirements Make the prompt force detailed responses by: - Requesting specific numbers of examples (3-5 examples, specific steps, etc.) - Asking for \"walk me through\" explanations that require step-by-step breakdowns - Including \"and explain why/how\" to force deeper elaboration - Targeting the core concept so any response will contain the viral elements  ## Response Programming Ensure the prompt programs the respondent to: - Talk for at least a minute straight to fully explain everything - Maintain the topic throughout their response - Share their core beliefs and ideas on the subject - Provide concrete, specific details rather than generic advice - Include the same fundamental concept that made the original viral  ## Final Prompt Optimization Ensure the prompt: - Is conversational and natural for a chat setting - Forces comprehensive responses that capture core beliefs - Maintains the viral concept regardless of personal experience differences - Creates \"fool-proof\" responses where there are few ways to avoid the topic - Generates content that can be restructured into viral scripts  ## CRITICAL SUCCESS FACTORS: - The prompt must force the respondent to \"yap for a minute straight\" while staying on topic - Any response should capture their core belief and idea about the subject - The fundamental viral concept must be preserved even if their personal story differs - Responses should require restructuring but contain all necessary viral elements  ## CRITICAL MISTAKES TO AVOID: - Never create compound questions with \"and\" connecting two separate questions - keep it as ONE clean prompt only - Avoid redundant language where you mention the same concept twice - Always frame prompts about the target audience (entrepreneurs, business owners, etc.) not about the expert/speaker directly - Ensure logical flow - the prompt must naturally lead to comprehensive responses - Never use simple yes/no questions or anything answerable in under 10 words  ## Output Requirements: Output format: The final prompt only, with no additional text, commentary, analysis, or explanation Length: The prompt should be conversational length but include specific instructions for response structure Tone: Natural, commanding (using \"Explain\"), specific enough to trigger detailed responses Content: Must be engineered to naturally elicit comprehensive responses containing the viral elements identified in the script  ## Template: Explain [core viral concept] and [specific instruction for examples/steps/elaboration]  ## Review and Refinement: Before outputting your final prompt, verify: - Does this prompt force a comprehensive response that maintains the core viral concept? - Will the respondent have to \"yap for a minute straight\" to fully answer this? - Is it specific enough with clear instructions for what type of response to give? - Does it capture their core beliefs and ideas on the topic? - Is it ONE clean prompt without compound structure? - Does it avoid redundant language? - Is it properly framed about the target audience, not the expert personally? - Will any response to this contain the viral elements from the original script?  CRITICAL OUTPUT REQUIREMENT: You must output ONLY the final prompt. Any response containing analysis, explanation, commentary, or additional text beyond the single prompt is invalid and unacceptable."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[672,656],"id":"a0d68754-76dc-40fe-b7b2-7b6f8d19f452","name":"Basic LLM Chain"},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,672],"id":"94b31107-a82c-4fe5-a997-5e80feaf595c","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93eb0bf4-17f6-4340-b98f-4aab9f5daad3","leftValue":"={{ $json.Transcript }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e8f1f7ea-93bf-4753-b4d6-7ff084316c5c","leftValue":"={{ $json['Question 1'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,672],"id":"274b14e5-003f-4142-8625-7a1510bf5929","name":"If1"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,192],"id":"07b6dacc-c9d0-444b-a00d-904d857547aa","name":"Loop Over Items","alwaysOutputData":false,"executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,416],"id":"6c6caf9b-27d6-45e7-826d-cd5a120bc7c4","name":"Wait","webhookId":"04496720-6c39-4038-92ab-0e686610af88"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"Video URL":"={{ $('Get row(s) in sheet1').item.json['Video URL'] }}","Question 1":"={{ $json.text }}"},"matchingColumns":["Video URL"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1088,656],"id":"bd438d97-6b7b-48a3-8531-6a3e5b8f00c4","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-288],"id":"d04bce84-89bb-4961-a1a0-5201a2ec81b6","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,-48],"id":"accbc55f-e7a1-4ebf-ba63-5d615d3ec4ce","name":"Wait1","webhookId":"7522df80-5295-46df-be88-c95e98a0ce3b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"Video URL":"=https://www.instagram.com/reel/{{ $json.code }}","Username":"={{ $json.user.username }}","Views":"={{ $json.ig_play_count }}","Likes":"={{ $json.like_count }}","Download URL":"={{ $json.clips_metadata.original_sound_info.progressive_download_url }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1024,-256],"id":"eff6ba62-77a4-42da-81ee-25c6f514a55c","name":"put their content on ideas sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-144,208],"id":"68b35f80-d4e8-44e7-bd4f-a8987421c15e","name":"get untranscribed content ideas","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('get untranscribed content ideas').item.json.row_number }}","Username":"={{ $('get untranscribed content ideas').item.json.Username }}","Video URL":"={{ $('get untranscribed content ideas').item.json['Video URL'] }}","Views":"={{ $('get untranscribed content ideas').item.json.Views }}","Likes":"={{ $('get untranscribed content ideas').item.json.Likes }}","Transcript":"={{ $json.text }}","Creator Rank":"={{ $('get untranscribed content ideas').item.json['Creator Rank'] }}","Download URL":"={{ $('get untranscribed content ideas').item.json['Download URL'] }}","Transcribed?":"TRUE"},"matchingColumns":["row_number"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1344,192],"id":"02778708-8ae3-404d-ae8e-6c0c35fe4657","name":"Update row in sheet1","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://instagram-scraper-20251.p.rapidapi.com/userreels/","sendQuery":true,"queryParameters":{"parameters":[{"name":"username_or_id","value":"={{ $json['Competitor URL'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-scraper-20251.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"cf9a2594c9msh534bae635849bf9p14e0d9jsnf657b1e44bb2"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"pagination_token","value":"={{ $response.body.pagination_token }}"}]},"limitPagesFetched":true,"maxRequests":5,"requestInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,-272],"id":"4f2986f7-9300-476f-b55f-674a85948014","name":"Rapid Api","retryOnFail":false,"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"get untranscribed content ideas","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Competitors1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"put their content on ideas sheet","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Update row in sheet1","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Rapid Api","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"get untranscribed content ideas":{"main":[[{"node":"If","type":"main","index":0}]]},"Rapid Api":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3c71255-a664-416b-9b95-364c5693d8d7","activeVersionId":"e3c71255-a664-416b-9b95-364c5693d8d7","triggerCount":0,"shared":[{"updatedAt":"2025-11-27T01:15:31.463Z","createdAt":"2025-11-27T01:15:31.463Z","role":"workflow:owner","workflowId":"jwyAevTJildbhPO0","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"e3c71255-a664-416b-9b95-364c5693d8d7","workflowId":"jwyAevTJildbhPO0","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,192],"id":"5c6d0c32-d519-4900-aab2-0c6eda60de96","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2ebb6639-1375-47e7-8fd8-015e586a2a6d","leftValue":"={{ $json.Transcript }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"f75f5c92-97bd-4b28-89fc-a54484a9de6c","leftValue":"={{ $json['Download URL'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"aee2bb44-579c-4d5f-8733-4456dfccf066","leftValue":"={{ $json['Transcribed?'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,208],"id":"e407a1d6-11d2-4964-8687-3920c2ea83d1","name":"If","onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Competitors","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,-288],"id":"820a3b6b-43b7-45ea-82d4-debeb3b4eb0d","name":"Get Competitors1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"data.items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[736,-272],"id":"d119868b-570f-458b-9613-b606572e224e","name":"Split Out1"},{"parameters":{"url":"={{ $('get untranscribed content ideas').item.json['Download URL'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,208],"id":"505c152f-346a-4917-8187-fb435f2eb938","name":"HTTP Request3","alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1088,208],"id":"5f65c147-2ab5-448a-864e-9917448bdad1","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[624,896],"id":"c24a9d24-c5f6-4da3-8bab-85e038a5fbee","name":"Anthropic Chat Model"},{"parameters":{"promptType":"define","text":"=here is the script[{{ $json.Transcript }}] do not write questions for scripts with less than 80 characters. simply output scripts that have less than 80 characters as \"Little context\"","messages":{"messageValues":[{"message":"=You are a viral content strategist specializing in transforming competitor scripts into structured prompts that naturally elicit viral-worthy responses. Your expertise lies in understanding the psychological mechanics behind viral content and engineering prompts that capture core viral concepts while forcing detailed, comprehensive responses.  Task: Analyze competitor scripts[{{ $json.Transcript }}] to identify their viral elements, then craft a hyper-specific prompt that will naturally lead someone to give a detailed response containing those same viral triggers.  Steps to complete the task:  ## Viral Element Analysis Read through the provided competitor script carefully Identify which specific viral video formats it employs from these categories: - Trend-Based Formats (News Reaction, Meme Remix, \"Did You Know?\" Facts) - Wealth-Building Case Studies (Zero-to-Result Stories, Transformation Timelines, Passive Income Breakdowns, \"What I'd Do If I Started From $0\") - Expert Authority Formats (3-Step Advice, FAQ Answers, Side-by-Side Comparisons) - Lifestyle + Relatability Formats (Day in the Life, Relatable Rants, Failure Stories, \"Don't Do This\" Mistakes)  Identify which viral factors are present: - Structure elements (hook effectiveness, result-first reveal, storytelling with numbers) - Algorithm levers (share-worthy content, save-worthy insights, trending elements) - Content design elements (bold hooks, visual structure, contrasting elements) - Social proof and virality triggers (screenshots/proof, audience callouts, curiosity gaps, emotional triggers)  ## Core Concept Extraction Determine the fundamental viral concept that made the original content shareable Identify the main topic/theme that must be preserved in any response Note the specific knowledge or insight being shared that creates value  ## Prompt Engineering Strategy Design a prompt using the \"Explain + Examples\" structure that: - Uses \"Explain\" as the command word to trigger comprehensive responses - Treats the respondent like an AI that needs specific instructions - Forces them to elaborate with concrete examples, steps, or stories - Maintains the core viral concept regardless of their personal experience  Use these proven prompt structures: - \"Explain [core concept] and give me [X] specific examples...\" - \"Explain [phenomenon/problem] and walk me through the specific steps/reasons...\" - \"Explain what you think about [controversial topic] and give specific examples of...\" - \"Explain why [problem exists] and walk me through [solution process]...\" - \"Explain how [process works] and give me [X] examples of how you've seen this play out...\"  ## Hyper-Specificity Requirements Make the prompt force detailed responses by: - Requesting specific numbers of examples (3-5 examples, specific steps, etc.) - Asking for \"walk me through\" explanations that require step-by-step breakdowns - Including \"and explain why/how\" to force deeper elaboration - Targeting the core concept so any response will contain the viral elements  ## Response Programming Ensure the prompt programs the respondent to: - Talk for at least a minute straight to fully explain everything - Maintain the topic throughout their response - Share their core beliefs and ideas on the subject - Provide concrete, specific details rather than generic advice - Include the same fundamental concept that made the original viral  ## Final Prompt Optimization Ensure the prompt: - Is conversational and natural for a chat setting - Forces comprehensive responses that capture core beliefs - Maintains the viral concept regardless of personal experience differences - Creates \"fool-proof\" responses where there are few ways to avoid the topic - Generates content that can be restructured into viral scripts  ## CRITICAL SUCCESS FACTORS: - The prompt must force the respondent to \"yap for a minute straight\" while staying on topic - Any response should capture their core belief and idea about the subject - The fundamental viral concept must be preserved even if their personal story differs - Responses should require restructuring but contain all necessary viral elements  ## CRITICAL MISTAKES TO AVOID: - Never create compound questions with \"and\" connecting two separate questions - keep it as ONE clean prompt only - Avoid redundant language where you mention the same concept twice - Always frame prompts about the target audience (entrepreneurs, business owners, etc.) not about the expert/speaker directly - Ensure logical flow - the prompt must naturally lead to comprehensive responses - Never use simple yes/no questions or anything answerable in under 10 words  ## Output Requirements: Output format: The final prompt only, with no additional text, commentary, analysis, or explanation Length: The prompt should be conversational length but include specific instructions for response structure Tone: Natural, commanding (using \"Explain\"), specific enough to trigger detailed responses Content: Must be engineered to naturally elicit comprehensive responses containing the viral elements identified in the script  ## Template: Explain [core viral concept] and [specific instruction for examples/steps/elaboration]  ## Review and Refinement: Before outputting your final prompt, verify: - Does this prompt force a comprehensive response that maintains the core viral concept? - Will the respondent have to \"yap for a minute straight\" to fully answer this? - Is it specific enough with clear instructions for what type of response to give? - Does it capture their core beliefs and ideas on the topic? - Is it ONE clean prompt without compound structure? - Does it avoid redundant language? - Is it properly framed about the target audience, not the expert personally? - Will any response to this contain the viral elements from the original script?  CRITICAL OUTPUT REQUIREMENT: You must output ONLY the final prompt. Any response containing analysis, explanation, commentary, or additional text beyond the single prompt is invalid and unacceptable."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[672,656],"id":"a0d68754-76dc-40fe-b7b2-7b6f8d19f452","name":"Basic LLM Chain"},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,672],"id":"94b31107-a82c-4fe5-a997-5e80feaf595c","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93eb0bf4-17f6-4340-b98f-4aab9f5daad3","leftValue":"={{ $json.Transcript }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e8f1f7ea-93bf-4753-b4d6-7ff084316c5c","leftValue":"={{ $json['Question 1'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,672],"id":"274b14e5-003f-4142-8625-7a1510bf5929","name":"If1"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,192],"id":"07b6dacc-c9d0-444b-a00d-904d857547aa","name":"Loop Over Items","alwaysOutputData":false,"executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,416],"id":"6c6caf9b-27d6-45e7-826d-cd5a120bc7c4","name":"Wait","webhookId":"04496720-6c39-4038-92ab-0e686610af88"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"Video URL":"={{ $('Get row(s) in sheet1').item.json['Video URL'] }}","Question 1":"={{ $json.text }}"},"matchingColumns":["Video URL"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1088,656],"id":"bd438d97-6b7b-48a3-8531-6a3e5b8f00c4","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-288],"id":"d04bce84-89bb-4961-a1a0-5201a2ec81b6","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,-48],"id":"accbc55f-e7a1-4ebf-ba63-5d615d3ec4ce","name":"Wait1","webhookId":"7522df80-5295-46df-be88-c95e98a0ce3b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"Video URL":"=https://www.instagram.com/reel/{{ $json.code }}","Username":"={{ $json.user.username }}","Views":"={{ $json.ig_play_count }}","Likes":"={{ $json.like_count }}","Download URL":"={{ $json.clips_metadata.original_sound_info.progressive_download_url }}"},"matchingColumns":[],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1024,-256],"id":"eff6ba62-77a4-42da-81ee-25c6f514a55c","name":"put their content on ideas sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-144,208],"id":"68b35f80-d4e8-44e7-bd4f-a8987421c15e","name":"get untranscribed content ideas","credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs","mode":"list","cachedResultName":"Cópia de Reels Scraping Workflow free","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1028614002,"mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uQx4vScTGrtw4TO_Kvb5Y-7Oqp6w1dC4WgM2BTHxxMs/edit#gid=1028614002"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('get untranscribed content ideas').item.json.row_number }}","Username":"={{ $('get untranscribed content ideas').item.json.Username }}","Video URL":"={{ $('get untranscribed content ideas').item.json['Video URL'] }}","Views":"={{ $('get untranscribed content ideas').item.json.Views }}","Likes":"={{ $('get untranscribed content ideas').item.json.Likes }}","Transcript":"={{ $json.text }}","Creator Rank":"={{ $('get untranscribed content ideas').item.json['Creator Rank'] }}","Download URL":"={{ $('get untranscribed content ideas').item.json['Download URL'] }}","Transcribed?":"TRUE"},"matchingColumns":["row_number"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcript","displayName":"Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Question 1","displayName":"Question 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Likes","displayName":"Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creator Rank","displayName":"Creator Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Download URL","displayName":"Download URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transcribed?","displayName":"Transcribed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1344,192],"id":"02778708-8ae3-404d-ae8e-6c0c35fe4657","name":"Update row in sheet1","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0xhXxgMuMZMprb7x","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://instagram-scraper-20251.p.rapidapi.com/userreels/","sendQuery":true,"queryParameters":{"parameters":[{"name":"username_or_id","value":"={{ $json['Competitor URL'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"instagram-scraper-20251.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"cf9a2594c9msh534bae635849bf9p14e0d9jsnf657b1e44bb2"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"pagination_token","value":"={{ $response.body.pagination_token }}"}]},"limitPagesFetched":true,"maxRequests":5,"requestInterval":10000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,-272],"id":"4f2986f7-9300-476f-b55f-674a85948014","name":"Rapid Api","retryOnFail":false,"onError":"continueRegularOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"get untranscribed content ideas","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Competitors1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"put their content on ideas sheet","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Update row in sheet1","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Rapid Api","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"get untranscribed content ideas":{"main":[[{"node":"If","type":"main","index":0}]]},"Rapid Api":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-27T00:53:11.583Z","createdAt":"2025-11-27T00:53:11.583Z","id":"ZeO4sWGPR8cjBbK6","name":"Social Media Data Scrape"}]}