remover-teste-gratis-Yigz93WK7PFt8Fn5.json
{"updatedAt":"2025-08-08T19:13:51.346Z","createdAt":"2025-08-01T02:21:23.866Z","id":"Yigz93WK7PFt8Fn5","name":"Remover teste gratis","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":22}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,-32],"id":"907d11e5-edfa-428f-9e90-83eb1a3f69e4","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"UPDATE `usuarios`\nSET `plano_ativo` = 0\nWHERE `email` = '{{ $json.email }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[640,80],"id":"e42fb3d4-f3aa-4e69-b159-6673fa4edbe0","name":"Tira acesso","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,-48],"id":"72906e86-057b-481d-912d-ef89dd641f67","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a3df66b-bb2a-49ee-a045-6f562874ea2f","leftValue":"={{ $json.isEmpty() }}","rightValue":0,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-32],"id":"386d3a29-1eda-4f74-a58a-32b20079dd9c","name":"Se tem"},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('Vencimento hoje1').item.json.email }}","subject":"Seu Teste Grátis Expirou - Intellizapp","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Seu Teste Grátis Intellizapp.IA Expirou</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e34c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .expired-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .expired-title {\n            font-size: 24px;\n            color: #e34c3c;\n            margin-bottom: 15px;\n        }\n        \n        .expired-text {\n            font-size: 16px;\n            color: #3f8c8d;\n            line-height: 1.5;\n        }\n        \n        .expiry-highlight {\n            background: linear-gradient(135deg, #e34c3c 0%, #c0392b 100%);\n            border-radius: 15px;\n            padding: 25px;\n            margin: 30px 0;\n            text-align: center;\n            color: white;\n            position: relative;\n            overflow: hidden;\n        }\n        \n        .expiry-highlight::before {\n            content: \"⏰\";\n            position: absolute;\n            font-size: 40px;\n            top: -10px;\n            right: 20px;\n            opacity: 0.3;\n        }\n        \n        .expiry-title {\n            font-size: 22px;\n            margin-bottom: 10px;\n            font-weight: 300;\n        }\n        \n        .expiry-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .services-disabled {\n            background-color: #f8d3da;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e34c3c;\n            border: 2px solid #e34c3c;\n        }\n        \n        .disabled-title {\n            font-size: 20px;\n            color: #321c24;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .disabled-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .disabled-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #321c24;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .disabled-list li:before {\n            content: \"❌\";\n            position: absolute;\n            left: 0;\n            font-size: 16px;\n        }\n        \n        .what-happened {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc103;\n        }\n        \n        .what-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .what-text {\n            font-size: 15px;\n            color: #856404;\n            line-height: 1.6;\n        }\n        \n        .reactivate-section {\n            background: linear-gradient(135deg, #663eea 0%, #364ba2 100%);\n            border-radius: 15px;\n            padding: 30px;\n            margin: 30px 0;\n            text-align: center;\n            color: white;\n            position: relative;\n            overflow: hidden;\n        }\n        \n        .reactivate-section::before {\n            content: \"🚀\";\n            position: absolute;\n            font-size: 40px;\n            top: -5px;\n            right: 20px;\n            opacity: 0.3;\n        }\n        \n        .reactivate-title {\n            font-size: 22px;\n            margin-bottom: 15px;\n            font-weight: 300;\n        }\n        \n        .reactivate-text {\n            font-size: 16px;\n            opacity: 0.9;\n            margin-bottom: 20px;\n        }\n        \n        .benefit-highlight {\n            background-color: rgba(255,255,255,0.1);\n            border-radius: 10px;\n            padding: 20px;\n            margin: 20px 0;\n        }\n        \n        .benefits-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            text-align: left;\n        }\n        \n        .benefits-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: white;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .benefits-list li:before {\n            content: \"✨\";\n            position: absolute;\n            left: 0;\n            font-size: 16px;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #23ae60 0%, #2ecc31 100%);\n            color: white;\n            text-decoration: none;\n            padding: 18px 40px;\n            border-radius: 50px;\n            font-weight: 300;\n            font-size: 18px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n            box-shadow: 0 4px 15px rgba(39, 134, 96, 0.3);\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .secondary-button {\n            display: inline-block;\n            background-color: transparent;\n            color: #663eea;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            border: 2px solid #663eea;\n            transition: all 0.3s ease;\n        }\n        \n        .secondary-button:hover {\n            background-color: #663eea;\n            color: white;\n        }\n        \n        .testimonial-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #13a2b8;\n            text-align: center;\n        }\n        \n        .testimonial-text {\n            font-size: 16px;\n            color: #495053;\n            font-style: italic;\n            margin-bottom: 15px;\n            line-height: 1.6;\n        }\n        \n        .testimonial-author {\n            font-size: 14px;\n            color: #6c353d;\n            font-weight: 600;\n        }\n        \n        .urgency-section {\n            background: linear-gradient(135deg, #f39c12 0%, #e63e22 100%);\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            color: white;\n            text-align: center;\n        }\n        \n        .urgency-title {\n            font-size: 18px;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .urgency-text {\n            font-size: 14px;\n            opacity: 0.9;\n        }\n        \n        .support-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #13a2b8;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #0c5460;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #0c5460;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .expired-title {\n                font-size: 20px;\n            }\n            \n            .expiry-title,\n            .reactivate-title {\n                font-size: 18px;\n            }\n            \n            .cta-button {\n                padding: 15px 30px;\n                font-size: 16px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 Intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Expired Message -->\n            <div class=\"expired-message\">\n                <h1 class=\"expired-title\">⏰ Seu Teste Grátis Expirou</h1>\n                <p class=\"expired-text\">\n                    Esperamos que tenha aproveitado os <strong>3 dias gratuitos</strong> testando todas as funcionalidades do Intellizapp.IA. \n                    Infelizmente, seu período de teste chegou ao fim e os serviços foram temporariamente desativados.\n                </p>\n            </div>\n            \n            <!-- Expiry Highlight -->\n            <div class=\"expiry-highlight\">\n                <div class=\"expiry-title\">❌ TESTE EXPIRADO</div>\n                <div class=\"expiry-subtitle\">Todos os serviços foram suspensos temporariamente</div>\n            </div>\n            \n            <!-- Services Disabled -->\n            <div class=\"services-disabled\">\n                <h2 class=\"disabled-title\">🚫 Serviços Temporariamente Desativados:</h2>\n                <ul class=\"disabled-list\">\n                    <li>Conexão com grupos do WhatsApp suspensa</li>\n                    <li>Resumos automáticos com IA interrompidos</li>\n                    <li>Dashboard analítico bloqueado</li>\n                    <li>Integrações WhatsApp desconectadas</li>\n                    <li>Acesso ao sistema restrito</li>\n                </ul>\n            </div>\n            \n            <!-- What Happened -->\n            <div class=\"what-happened\">\n                <h2 class=\"what-title\">💡 O que aconteceu?</h2>\n                <p class=\"what-text\">\n                    Seu teste gratuito de 3 dias chegou ao fim. Durante este período, você teve acesso completo \n                    a todas as funcionalidades premium do intellizapp.IA. Para continuar aproveitando todos os benefícios \n                    da nossa plataforma, é necessário ativar um plano de assinatura.\n                </p>\n            </div>\n            \n            <!-- Reactivate Section -->\n            <div class=\"reactivate-section\">\n                <div class=\"reactivate-title\">🚀 Continue Aproveitando a IA!</div>\n                <p class=\"reactivate-text\">\n                    Não perca o progresso que você fez! Reative sua conta agora e mantenha todos os seus grupos, \n                    configurações e histórico de resumos intactos.\n                </p>\n                \n                <div class=\"benefit-highlight\">\n                    <ul class=\"benefits-list\">\n                        <li>Reativação instantânea em segundos</li>\n                        <li>Todas as suas configurações preservadas</li>\n                        <li>Grupos WhatsApp reconectados automaticamente</li>\n                        <li>Histórico de resumos mantido</li>\n                        <li>Suporte prioritário ativo</li>\n                        <li>Novas funcionalidades em desenvolvimento</li>\n                    </ul>\n                </div>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br/reativar\" class=\"cta-button\">\n                    💳 REATIVAR AGORA\n                </a>\n                <br>\n                <a href=\"https://app.intellizapp.com.br/planos\" class=\"secondary-button\">\n                    📋 Ver Planos e Preços\n                </a>\n            </div>\n            \n            <!-- Testimonial -->\n            <div class=\"testimonial-section\">\n                <p class=\"testimonial-text\">\n                    \"O intellizapp.IA revolucionou como gerencio meus grupos de trabalho. \n                    Os resumos automáticos economizam horas do meu tempo toda semana!\"\n                </p>\n                <p class=\"testimonial-author\">- Maria Silva, Gerente de Projetos</p>\n            </div>\n            \n            <!-- Urgency -->\n            <div class=\"urgency-section\">\n                <div class=\"urgency-title\">⚡ Oferta Especial por Tempo Limitado</div>\n                <div class=\"urgency-text\">\n                    Reative sua conta nas próximas 48 horas e ganhe 20% de desconto no primeiro mês!\n                </div>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda para Reativar?</h3>\n                <p class=\"support-text\">\n                    Nossa equipe está pronta para ajudar! Entre em contato através do e-mail \n                    <strong>suporte@intellizapp.com.br</strong> ou acesse sua conta para reativar.\n                </p>\n            </div>\n            \n            <!-- Account Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Status da Conta:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Teste Gratuito:</td>\n                        <td style=\"padding: 8px 0; color: #e34c3c; font-weight: 600;\">❌ Expirado</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status dos Serviços:</td>\n                        <td style=\"padding: 8px 0; color: #e34c3c; font-weight: 600;\">⏸️ Suspensos</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Dados Salvos:</td>\n                        <td style=\"padding: 8px 0; color: #23ae60; font-weight: 600;\">✅ Preservados por 30 dias</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Reativação:</td>\n                        <td style=\"padding: 8px 0; color: #f39c12; font-weight: 600;\">🔄 Disponível</td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Obrigado por testar o intellizapp.IA! Esperamos você de volta em breve.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Seus dados ficam seguros por 30 dias. Reative a qualquer momento!\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[640,304],"id":"d835689f-5822-46e6-85fb-fdad1393f893","name":"Send NEW USER","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `teste-manual`\nWHERE `data` = '{{ $now.plus({ days: -4 }).toFormat(\"yyyy-MM-dd\") }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-160,-32],"id":"7ab5baf1-29da-4fe8-ab1e-f7e98e7b6061","name":"Vencimento hoje1","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Vencimento hoje1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Tira acesso","type":"main","index":0}]]},"Se tem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Tira acesso":{"main":[[{"node":"Send NEW USER","type":"main","index":0}]]},"Send NEW USER":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Vencimento hoje1":{"main":[[{"node":"Se tem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"020801f2-694a-4d4c-ae75-4a6908e8c1d0","activeVersionId":"020801f2-694a-4d4c-ae75-4a6908e8c1d0","triggerCount":1,"shared":[{"updatedAt":"2025-08-01T02:21:23.866Z","createdAt":"2025-08-01T02:21:23.866Z","role":"workflow:owner","workflowId":"Yigz93WK7PFt8Fn5","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"020801f2-694a-4d4c-ae75-4a6908e8c1d0","workflowId":"Yigz93WK7PFt8Fn5","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":22}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,-32],"id":"907d11e5-edfa-428f-9e90-83eb1a3f69e4","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"UPDATE `usuarios`\nSET `plano_ativo` = 0\nWHERE `email` = '{{ $json.email }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[640,80],"id":"e42fb3d4-f3aa-4e69-b159-6673fa4edbe0","name":"Tira acesso","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,-48],"id":"72906e86-057b-481d-912d-ef89dd641f67","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a3df66b-bb2a-49ee-a045-6f562874ea2f","leftValue":"={{ $json.isEmpty() }}","rightValue":0,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-32],"id":"386d3a29-1eda-4f74-a58a-32b20079dd9c","name":"Se tem"},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('Vencimento hoje1').item.json.email }}","subject":"Seu Teste Grátis Expirou - Intellizapp","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Seu Teste Grátis Intellizapp.IA Expirou</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #e34c3c 0%, #c0392b 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .expired-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .expired-title {\n            font-size: 24px;\n            color: #e34c3c;\n            margin-bottom: 15px;\n        }\n        \n        .expired-text {\n            font-size: 16px;\n            color: #3f8c8d;\n            line-height: 1.5;\n        }\n        \n        .expiry-highlight {\n            background: linear-gradient(135deg, #e34c3c 0%, #c0392b 100%);\n            border-radius: 15px;\n            padding: 25px;\n            margin: 30px 0;\n            text-align: center;\n            color: white;\n            position: relative;\n            overflow: hidden;\n        }\n        \n        .expiry-highlight::before {\n            content: \"⏰\";\n            position: absolute;\n            font-size: 40px;\n            top: -10px;\n            right: 20px;\n            opacity: 0.3;\n        }\n        \n        .expiry-title {\n            font-size: 22px;\n            margin-bottom: 10px;\n            font-weight: 300;\n        }\n        \n        .expiry-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .services-disabled {\n            background-color: #f8d3da;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #e34c3c;\n            border: 2px solid #e34c3c;\n        }\n        \n        .disabled-title {\n            font-size: 20px;\n            color: #321c24;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .disabled-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .disabled-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: #321c24;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .disabled-list li:before {\n            content: \"❌\";\n            position: absolute;\n            left: 0;\n            font-size: 16px;\n        }\n        \n        .what-happened {\n            background-color: #fff3cd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #ffc103;\n        }\n        \n        .what-title {\n            font-size: 18px;\n            color: #856404;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .what-text {\n            font-size: 15px;\n            color: #856404;\n            line-height: 1.6;\n        }\n        \n        .reactivate-section {\n            background: linear-gradient(135deg, #663eea 0%, #364ba2 100%);\n            border-radius: 15px;\n            padding: 30px;\n            margin: 30px 0;\n            text-align: center;\n            color: white;\n            position: relative;\n            overflow: hidden;\n        }\n        \n        .reactivate-section::before {\n            content: \"🚀\";\n            position: absolute;\n            font-size: 40px;\n            top: -5px;\n            right: 20px;\n            opacity: 0.3;\n        }\n        \n        .reactivate-title {\n            font-size: 22px;\n            margin-bottom: 15px;\n            font-weight: 300;\n        }\n        \n        .reactivate-text {\n            font-size: 16px;\n            opacity: 0.9;\n            margin-bottom: 20px;\n        }\n        \n        .benefit-highlight {\n            background-color: rgba(255,255,255,0.1);\n            border-radius: 10px;\n            padding: 20px;\n            margin: 20px 0;\n        }\n        \n        .benefits-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n            text-align: left;\n        }\n        \n        .benefits-list li {\n            padding: 8px 0;\n            font-size: 15px;\n            color: white;\n            position: relative;\n            padding-left: 25px;\n        }\n        \n        .benefits-list li:before {\n            content: \"✨\";\n            position: absolute;\n            left: 0;\n            font-size: 16px;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #23ae60 0%, #2ecc31 100%);\n            color: white;\n            text-decoration: none;\n            padding: 18px 40px;\n            border-radius: 50px;\n            font-weight: 300;\n            font-size: 18px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n            box-shadow: 0 4px 15px rgba(39, 134, 96, 0.3);\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .secondary-button {\n            display: inline-block;\n            background-color: transparent;\n            color: #663eea;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            border: 2px solid #663eea;\n            transition: all 0.3s ease;\n        }\n        \n        .secondary-button:hover {\n            background-color: #663eea;\n            color: white;\n        }\n        \n        .testimonial-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #13a2b8;\n            text-align: center;\n        }\n        \n        .testimonial-text {\n            font-size: 16px;\n            color: #495053;\n            font-style: italic;\n            margin-bottom: 15px;\n            line-height: 1.6;\n        }\n        \n        .testimonial-author {\n            font-size: 14px;\n            color: #6c353d;\n            font-weight: 600;\n        }\n        \n        .urgency-section {\n            background: linear-gradient(135deg, #f39c12 0%, #e63e22 100%);\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            color: white;\n            text-align: center;\n        }\n        \n        .urgency-title {\n            font-size: 18px;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .urgency-text {\n            font-size: 14px;\n            opacity: 0.9;\n        }\n        \n        .support-section {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #13a2b8;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #0c5460;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #0c5460;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .expired-title {\n                font-size: 20px;\n            }\n            \n            .expiry-title,\n            .reactivate-title {\n                font-size: 18px;\n            }\n            \n            .cta-button {\n                padding: 15px 30px;\n                font-size: 16px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 Intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Expired Message -->\n            <div class=\"expired-message\">\n                <h1 class=\"expired-title\">⏰ Seu Teste Grátis Expirou</h1>\n                <p class=\"expired-text\">\n                    Esperamos que tenha aproveitado os <strong>3 dias gratuitos</strong> testando todas as funcionalidades do Intellizapp.IA. \n                    Infelizmente, seu período de teste chegou ao fim e os serviços foram temporariamente desativados.\n                </p>\n            </div>\n            \n            <!-- Expiry Highlight -->\n            <div class=\"expiry-highlight\">\n                <div class=\"expiry-title\">❌ TESTE EXPIRADO</div>\n                <div class=\"expiry-subtitle\">Todos os serviços foram suspensos temporariamente</div>\n            </div>\n            \n            <!-- Services Disabled -->\n            <div class=\"services-disabled\">\n                <h2 class=\"disabled-title\">🚫 Serviços Temporariamente Desativados:</h2>\n                <ul class=\"disabled-list\">\n                    <li>Conexão com grupos do WhatsApp suspensa</li>\n                    <li>Resumos automáticos com IA interrompidos</li>\n                    <li>Dashboard analítico bloqueado</li>\n                    <li>Integrações WhatsApp desconectadas</li>\n                    <li>Acesso ao sistema restrito</li>\n                </ul>\n            </div>\n            \n            <!-- What Happened -->\n            <div class=\"what-happened\">\n                <h2 class=\"what-title\">💡 O que aconteceu?</h2>\n                <p class=\"what-text\">\n                    Seu teste gratuito de 3 dias chegou ao fim. Durante este período, você teve acesso completo \n                    a todas as funcionalidades premium do intellizapp.IA. Para continuar aproveitando todos os benefícios \n                    da nossa plataforma, é necessário ativar um plano de assinatura.\n                </p>\n            </div>\n            \n            <!-- Reactivate Section -->\n            <div class=\"reactivate-section\">\n                <div class=\"reactivate-title\">🚀 Continue Aproveitando a IA!</div>\n                <p class=\"reactivate-text\">\n                    Não perca o progresso que você fez! Reative sua conta agora e mantenha todos os seus grupos, \n                    configurações e histórico de resumos intactos.\n                </p>\n                \n                <div class=\"benefit-highlight\">\n                    <ul class=\"benefits-list\">\n                        <li>Reativação instantânea em segundos</li>\n                        <li>Todas as suas configurações preservadas</li>\n                        <li>Grupos WhatsApp reconectados automaticamente</li>\n                        <li>Histórico de resumos mantido</li>\n                        <li>Suporte prioritário ativo</li>\n                        <li>Novas funcionalidades em desenvolvimento</li>\n                    </ul>\n                </div>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br/reativar\" class=\"cta-button\">\n                    💳 REATIVAR AGORA\n                </a>\n                <br>\n                <a href=\"https://app.intellizapp.com.br/planos\" class=\"secondary-button\">\n                    📋 Ver Planos e Preços\n                </a>\n            </div>\n            \n            <!-- Testimonial -->\n            <div class=\"testimonial-section\">\n                <p class=\"testimonial-text\">\n                    \"O intellizapp.IA revolucionou como gerencio meus grupos de trabalho. \n                    Os resumos automáticos economizam horas do meu tempo toda semana!\"\n                </p>\n                <p class=\"testimonial-author\">- Maria Silva, Gerente de Projetos</p>\n            </div>\n            \n            <!-- Urgency -->\n            <div class=\"urgency-section\">\n                <div class=\"urgency-title\">⚡ Oferta Especial por Tempo Limitado</div>\n                <div class=\"urgency-text\">\n                    Reative sua conta nas próximas 48 horas e ganhe 20% de desconto no primeiro mês!\n                </div>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda para Reativar?</h3>\n                <p class=\"support-text\">\n                    Nossa equipe está pronta para ajudar! Entre em contato através do e-mail \n                    <strong>suporte@intellizapp.com.br</strong> ou acesse sua conta para reativar.\n                </p>\n            </div>\n            \n            <!-- Account Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Status da Conta:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Teste Gratuito:</td>\n                        <td style=\"padding: 8px 0; color: #e34c3c; font-weight: 600;\">❌ Expirado</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status dos Serviços:</td>\n                        <td style=\"padding: 8px 0; color: #e34c3c; font-weight: 600;\">⏸️ Suspensos</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Dados Salvos:</td>\n                        <td style=\"padding: 8px 0; color: #23ae60; font-weight: 600;\">✅ Preservados por 30 dias</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Reativação:</td>\n                        <td style=\"padding: 8px 0; color: #f39c12; font-weight: 600;\">🔄 Disponível</td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Obrigado por testar o intellizapp.IA! Esperamos você de volta em breve.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Seus dados ficam seguros por 30 dias. Reative a qualquer momento!\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[640,304],"id":"d835689f-5822-46e6-85fb-fdad1393f893","name":"Send NEW USER","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `teste-manual`\nWHERE `data` = '{{ $now.plus({ days: -4 }).toFormat(\"yyyy-MM-dd\") }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-160,-32],"id":"7ab5baf1-29da-4fe8-ab1e-f7e98e7b6061","name":"Vencimento hoje1","alwaysOutputData":true,"credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Vencimento hoje1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Tira acesso","type":"main","index":0}]]},"Se tem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Tira acesso":{"main":[[{"node":"Send NEW USER","type":"main","index":0}]]},"Send NEW USER":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Vencimento hoje1":{"main":[[{"node":"Se tem","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}