reset-senha-DXjMQ8pCEjnLAxR4.json
{"updatedAt":"2025-10-28T16:09:14.895Z","createdAt":"2025-07-28T13:33:45.370Z","id":"DXjMQ8pCEjnLAxR4","name":"Reset Senha","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"c575480c-cf25-467d-98e4-fa1b9055d447","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-272,-96],"id":"ff68ee6e-c8d1-4f80-be58-b8d52589ceb9","name":"Webhook","webhookId":"c575480c-cf25-467d-98e4-fa1b9055d447"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05862421-2d17-4272-ba64-bb4379d6e044","leftValue":"={{ $('SQL USUARIO').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,-96],"id":"73283bfb-30bb-4b66-8b0c-4b0b65d952d9","name":"If"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `usuarios`\n  WHERE `email` = '{{ $json.body.email }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-48,-96],"id":"c51ad16e-e773-4716-993f-91b572256440","name":"SQL USUARIO","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios\nSET senha = '{{ $json.new_senha }}'\nWHERE email = '{{ $('SQL USUARIO').item.json.email }}';\n\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[624,-208],"id":"ecb85e61-10c4-40e9-8170-477267f4dff8","name":"Update Pasword User","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"assignments":{"assignments":[{"id":"74f878d0-5521-40a8-809b-d8d30f46960a","name":"new_senha","value":"={{ Array.from({length: 8}, () => 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'.charAt(Math.floor(Math.random() * 62))).join('') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-208],"id":"e8a885f1-93f9-4b0d-8a4f-4f7c733d6f2a","name":"new_senha"},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('SQL USUARIO').item.json.email }}","subject":"=Nova Senha - Intellizapp {{ $now.format('dd/MM/yyyy') }}","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nova Senha - intellizapp.IA</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .welcome-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .welcome-title {\n            font-size: 24px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n        }\n        \n        .welcome-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .password-section {\n            background-color: #e8f5e8;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n            text-align: center;\n        }\n        \n        .password-title {\n            font-size: 20px;\n            color: #2c3e50;\n            margin-bottom: 20px;\n            font-weight: 600;\n        }\n        \n        .password-box {\n            background-color: #ffffff;\n            border-radius: 8px;\n            padding: 25px;\n            margin: 20px 0;\n            border: 2px solid #27ae60;\n            box-shadow: 0 2px 10px rgba(39, 174, 96, 0.1);\n        }\n        \n        .password-label {\n            font-size: 14px;\n            color: #666;\n            margin-bottom: 10px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n        \n        .password-value {\n            font-family: 'Courier New', monospace;\n            font-size: 24px;\n            font-weight: bold;\n            color: #27ae60;\n            background-color: #f8f9fa;\n            padding: 15px 20px;\n            border-radius: 6px;\n            border: 1px solid #e9ecef;\n            letter-spacing: 2px;\n            word-break: break-all;\n        }\n        \n        .security-warning {\n            background-color: #fff3cd;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            border: 1px solid #ffc107;\n        }\n        \n        .warning-title {\n            font-size: 16px;\n            color: #856404;\n            margin-bottom: 10px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        \n        .warning-text {\n            font-size: 14px;\n            color: #856404;\n            margin: 0;\n        }\n        \n        .next-steps {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #3498db;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .steps-list {\n            counter-reset: step;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .welcome-title {\n                font-size: 20px;\n            }\n            \n            .password-value {\n                font-size: 18px;\n                letter-spacing: 1px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Welcome Message -->\n            <div class=\"welcome-message\">\n                <h1 class=\"welcome-title\">🔐 Nova Senha Gerada</h1>\n                <p class=\"welcome-text\">\n                    Sua solicitação de recuperação de senha foi processada com sucesso. \n                    Abaixo estão suas novas credenciais de acesso.\n                </p>\n            </div>\n            \n            <!-- Password Section -->\n            <div class=\"password-section\">\n                <h2 class=\"password-title\">🔑 Suas Nova Credenciais</h2>\n                <div class=\"password-box\">\n                    <div class=\"password-label\">Nova Senha:</div>\n                    <div class=\"password-value\">{{ $('new_senha').item.json.new_senha }}</div>\n                </div>\n                \n                <div class=\"security-warning\">\n                    <h3 class=\"warning-title\">\n                        ⚠️ Importante - Segurança\n                    </h3>\n                    <p class=\"warning-text\">\n                        <strong>Por motivos de segurança, recomendamos fortemente que você altere esta senha \n                        assim que fizer login em sua conta.</strong> Acesse \"Configurações\" → \"Alterar Senha\" \n                        para definir uma senha personalizada.\n                    </p>\n                </div>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🚀 Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li>Acesse a plataforma intellizapp.IA</li>\n                    <li>Faça login com seu email e a nova senha acima</li>\n                    <li>Vá em \"Configurações\" para alterar sua senha</li>\n                    <li>Defina uma nova senha segura e pessoal</li>\n                    <li>Continue aproveitando todos os recursos da plataforma</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Plataforma\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Se você não solicitou esta alteração de senha ou tem dúvidas, entre em contato \n                    conosco imediatamente através do e-mail <strong>suporte@intellizapp.com.br</strong>\n                </p>\n            </div>\n            \n            <!-- Additional Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Informações:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Data:</td>\n                        <td style=\"padding: 8px 0;\">{{ $now.format('dd/MM/yyyy') }}</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Nova senha ativa</td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Esta senha foi gerada automaticamente por motivos de segurança.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Se você não solicitou esta alteração, entre em contato conosco imediatamente.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[864,-208],"id":"f0308834-db9d-4f64-a34b-d9980a01a067","name":"Send NEW USER","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('SQL USUARIO').item.json.email }}","subject":"=Nova Senha - Intellizapp {{ $now.format('dd/MM/yyyy') }}","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nova Senha - intellizapp.IA</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .welcome-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .welcome-title {\n            font-size: 24px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n        }\n        \n        .welcome-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .password-section {\n            background-color: #e8f5e8;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n            text-align: center;\n        }\n        \n        .password-title {\n            font-size: 20px;\n            color: #2c3e50;\n            margin-bottom: 20px;\n            font-weight: 600;\n        }\n        \n        .password-box {\n            background-color: #ffffff;\n            border-radius: 8px;\n            padding: 25px;\n            margin: 20px 0;\n            border: 2px solid #27ae60;\n            box-shadow: 0 2px 10px rgba(39, 174, 96, 0.1);\n        }\n        \n        .password-label {\n            font-size: 14px;\n            color: #666;\n            margin-bottom: 10px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n        \n        .password-value {\n            font-family: 'Courier New', monospace;\n            font-size: 24px;\n            font-weight: bold;\n            color: #27ae60;\n            background-color: #f8f9fa;\n            padding: 15px 20px;\n            border-radius: 6px;\n            border: 1px solid #e9ecef;\n            letter-spacing: 2px;\n            word-break: break-all;\n        }\n        \n        .security-warning {\n            background-color: #fff3cd;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            border: 1px solid #ffc107;\n        }\n        \n        .warning-title {\n            font-size: 16px;\n            color: #856404;\n            margin-bottom: 10px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        \n        .warning-text {\n            font-size: 14px;\n            color: #856404;\n            margin: 0;\n        }\n        \n        .next-steps {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #3498db;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .steps-list {\n            counter-reset: step;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .welcome-title {\n                font-size: 20px;\n            }\n            \n            .password-value {\n                font-size: 18px;\n                letter-spacing: 1px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Welcome Message -->\n            <div class=\"welcome-message\">\n                <h1 class=\"welcome-title\">🔐 Nova Senha Gerada</h1>\n                <p class=\"welcome-text\">\n                    Sua solicitação de recuperação de senha foi processada com sucesso. \n                    Abaixo estão suas novas credenciais de acesso.\n                </p>\n            </div>\n            \n            <!-- Password Section -->\n            <div class=\"password-section\">\n                <h2 class=\"password-title\">🔑 Suas Nova Credenciais</h2>\n                <div class=\"password-box\">\n                    <div class=\"password-label\">Nova Senha:</div>\n                    <div class=\"password-value\">{{ $('new_senha').item.json.new_senha }}</div>\n                </div>\n                \n                <div class=\"security-warning\">\n                    <h3 class=\"warning-title\">\n                        ⚠️ Importante - Segurança\n                    </h3>\n                    <p class=\"warning-text\">\n                        <strong>Por motivos de segurança, recomendamos fortemente que você altere esta senha \n                        assim que fizer login em sua conta.</strong> Acesse \"Configurações\" → \"Alterar Senha\" \n                        para definir uma senha personalizada.\n                    </p>\n                </div>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🚀 Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li>Acesse a plataforma intellizapp.IA</li>\n                    <li>Faça login com seu email e a nova senha acima</li>\n                    <li>Vá em \"Configurações\" para alterar sua senha</li>\n                    <li>Defina uma nova senha segura e pessoal</li>\n                    <li>Continue aproveitando todos os recursos da plataforma</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Plataforma\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Se você não solicitou esta alteração de senha ou tem dúvidas, entre em contato \n                    conosco imediatamente através do e-mail <strong>suporte@intellizapp.com.br</strong>\n                </p>\n            </div>\n            \n            <!-- Additional Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Informações:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Data:</td>\n                        <td style=\"padding: 8px 0;\">{{ $now.format('dd/MM/yyyy') }}</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Nova senha ativa</td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Esta senha foi gerada automaticamente por motivos de segurança.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Se você não solicitou esta alteração, entre em contato conosco imediatamente.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[800,-368],"id":"905ac9d1-7a9c-4133-a292-37df04bfbb01","name":"Send NEW USER1","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"SQL USUARIO","type":"main","index":0}]]},"SQL USUARIO":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"new_senha","type":"main","index":0}]]},"new_senha":{"main":[[{"node":"Update Pasword User","type":"main","index":0}]]},"Update Pasword User":{"main":[[{"node":"Send NEW USER","type":"main","index":0},{"node":"Send NEW USER1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"node","content-length":"47","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"134.199.215.35","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"Oqaa_lkOSaC4Uj1cnpoFkQ","x-real-ip":"134.199.215.35","x-request-start":"1761667330442"},"params":{},"query":{},"body":{"email":"miqueiasbrandaogyn@gmail.com","id":1},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/c575480c-cf25-467d-98e4-fa1b9055d447","executionMode":"production"}}]},"versionId":"e1f30c16-810d-4039-ba90-dfbc30c9cf11","activeVersionId":"e1f30c16-810d-4039-ba90-dfbc30c9cf11","triggerCount":1,"shared":[{"updatedAt":"2025-07-28T13:33:45.370Z","createdAt":"2025-07-28T13:33:45.370Z","role":"workflow:owner","workflowId":"DXjMQ8pCEjnLAxR4","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"e1f30c16-810d-4039-ba90-dfbc30c9cf11","workflowId":"DXjMQ8pCEjnLAxR4","nodes":[{"parameters":{"httpMethod":"POST","path":"c575480c-cf25-467d-98e4-fa1b9055d447","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-272,-96],"id":"ff68ee6e-c8d1-4f80-be58-b8d52589ceb9","name":"Webhook","webhookId":"c575480c-cf25-467d-98e4-fa1b9055d447"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05862421-2d17-4272-ba64-bb4379d6e044","leftValue":"={{ $('SQL USUARIO').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,-96],"id":"73283bfb-30bb-4b66-8b0c-4b0b65d952d9","name":"If"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `usuarios`\n  WHERE `email` = '{{ $json.body.email }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-48,-96],"id":"c51ad16e-e773-4716-993f-91b572256440","name":"SQL USUARIO","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios\nSET senha = '{{ $json.new_senha }}'\nWHERE email = '{{ $('SQL USUARIO').item.json.email }}';\n\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[624,-208],"id":"ecb85e61-10c4-40e9-8170-477267f4dff8","name":"Update Pasword User","credentials":{"mySql":{"id":"baCaDIho0XdcR8ql","name":"MySQL account"}}},{"parameters":{"assignments":{"assignments":[{"id":"74f878d0-5521-40a8-809b-d8d30f46960a","name":"new_senha","value":"={{ Array.from({length: 8}, () => 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'.charAt(Math.floor(Math.random() * 62))).join('') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-208],"id":"e8a885f1-93f9-4b0d-8a4f-4f7c733d6f2a","name":"new_senha"},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('SQL USUARIO').item.json.email }}","subject":"=Nova Senha - Intellizapp {{ $now.format('dd/MM/yyyy') }}","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nova Senha - intellizapp.IA</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .welcome-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .welcome-title {\n            font-size: 24px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n        }\n        \n        .welcome-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .password-section {\n            background-color: #e8f5e8;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n            text-align: center;\n        }\n        \n        .password-title {\n            font-size: 20px;\n            color: #2c3e50;\n            margin-bottom: 20px;\n            font-weight: 600;\n        }\n        \n        .password-box {\n            background-color: #ffffff;\n            border-radius: 8px;\n            padding: 25px;\n            margin: 20px 0;\n            border: 2px solid #27ae60;\n            box-shadow: 0 2px 10px rgba(39, 174, 96, 0.1);\n        }\n        \n        .password-label {\n            font-size: 14px;\n            color: #666;\n            margin-bottom: 10px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n        \n        .password-value {\n            font-family: 'Courier New', monospace;\n            font-size: 24px;\n            font-weight: bold;\n            color: #27ae60;\n            background-color: #f8f9fa;\n            padding: 15px 20px;\n            border-radius: 6px;\n            border: 1px solid #e9ecef;\n            letter-spacing: 2px;\n            word-break: break-all;\n        }\n        \n        .security-warning {\n            background-color: #fff3cd;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            border: 1px solid #ffc107;\n        }\n        \n        .warning-title {\n            font-size: 16px;\n            color: #856404;\n            margin-bottom: 10px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        \n        .warning-text {\n            font-size: 14px;\n            color: #856404;\n            margin: 0;\n        }\n        \n        .next-steps {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #3498db;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .steps-list {\n            counter-reset: step;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .welcome-title {\n                font-size: 20px;\n            }\n            \n            .password-value {\n                font-size: 18px;\n                letter-spacing: 1px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Welcome Message -->\n            <div class=\"welcome-message\">\n                <h1 class=\"welcome-title\">🔐 Nova Senha Gerada</h1>\n                <p class=\"welcome-text\">\n                    Sua solicitação de recuperação de senha foi processada com sucesso. \n                    Abaixo estão suas novas credenciais de acesso.\n                </p>\n            </div>\n            \n            <!-- Password Section -->\n            <div class=\"password-section\">\n                <h2 class=\"password-title\">🔑 Suas Nova Credenciais</h2>\n                <div class=\"password-box\">\n                    <div class=\"password-label\">Nova Senha:</div>\n                    <div class=\"password-value\">{{ $('new_senha').item.json.new_senha }}</div>\n                </div>\n                \n                <div class=\"security-warning\">\n                    <h3 class=\"warning-title\">\n                        ⚠️ Importante - Segurança\n                    </h3>\n                    <p class=\"warning-text\">\n                        <strong>Por motivos de segurança, recomendamos fortemente que você altere esta senha \n                        assim que fizer login em sua conta.</strong> Acesse \"Configurações\" → \"Alterar Senha\" \n                        para definir uma senha personalizada.\n                    </p>\n                </div>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🚀 Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li>Acesse a plataforma intellizapp.IA</li>\n                    <li>Faça login com seu email e a nova senha acima</li>\n                    <li>Vá em \"Configurações\" para alterar sua senha</li>\n                    <li>Defina uma nova senha segura e pessoal</li>\n                    <li>Continue aproveitando todos os recursos da plataforma</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Plataforma\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Se você não solicitou esta alteração de senha ou tem dúvidas, entre em contato \n                    conosco imediatamente através do e-mail <strong>suporte@intellizapp.com.br</strong>\n                </p>\n            </div>\n            \n            <!-- Additional Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Informações:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Data:</td>\n                        <td style=\"padding: 8px 0;\">{{ $now.format('dd/MM/yyyy') }}</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Nova senha ativa</td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Esta senha foi gerada automaticamente por motivos de segurança.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Se você não solicitou esta alteração, entre em contato conosco imediatamente.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[864,-208],"id":"f0308834-db9d-4f64-a34b-d9980a01a067","name":"Send NEW USER","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}},{"parameters":{"fromEmail":"suporte@intellizapp.com.br","toEmail":"={{ $('SQL USUARIO').item.json.email }}","subject":"=Nova Senha - Intellizapp {{ $now.format('dd/MM/yyyy') }}","html":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nova Senha - intellizapp.IA</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            background-color: #f4f4f4;\n        }\n        \n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            box-shadow: 0 0 20px rgba(0,0,0,0.1);\n        }\n        \n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 40px 30px;\n            text-align: center;\n            color: white;\n        }\n        \n        .logo {\n            font-size: 28px;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: 1px;\n        }\n        \n        .header-subtitle {\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        \n        .content {\n            padding: 40px 30px;\n        }\n        \n        .welcome-message {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n        \n        .welcome-title {\n            font-size: 24px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n        }\n        \n        .welcome-text {\n            font-size: 16px;\n            color: #7f8c8d;\n            line-height: 1.5;\n        }\n        \n        .password-section {\n            background-color: #e8f5e8;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #27ae60;\n            text-align: center;\n        }\n        \n        .password-title {\n            font-size: 20px;\n            color: #2c3e50;\n            margin-bottom: 20px;\n            font-weight: 600;\n        }\n        \n        .password-box {\n            background-color: #ffffff;\n            border-radius: 8px;\n            padding: 25px;\n            margin: 20px 0;\n            border: 2px solid #27ae60;\n            box-shadow: 0 2px 10px rgba(39, 174, 96, 0.1);\n        }\n        \n        .password-label {\n            font-size: 14px;\n            color: #666;\n            margin-bottom: 10px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n        \n        .password-value {\n            font-family: 'Courier New', monospace;\n            font-size: 24px;\n            font-weight: bold;\n            color: #27ae60;\n            background-color: #f8f9fa;\n            padding: 15px 20px;\n            border-radius: 6px;\n            border: 1px solid #e9ecef;\n            letter-spacing: 2px;\n            word-break: break-all;\n        }\n        \n        .security-warning {\n            background-color: #fff3cd;\n            border-radius: 8px;\n            padding: 20px;\n            margin: 20px 0;\n            border: 1px solid #ffc107;\n        }\n        \n        .warning-title {\n            font-size: 16px;\n            color: #856404;\n            margin-bottom: 10px;\n            font-weight: 600;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n        \n        .warning-text {\n            font-size: 14px;\n            color: #856404;\n            margin: 0;\n        }\n        \n        .next-steps {\n            background-color: #e8f4fd;\n            border-radius: 10px;\n            padding: 25px;\n            margin: 30px 0;\n            border-left: 4px solid #3498db;\n        }\n        \n        .steps-title {\n            font-size: 18px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            font-weight: 600;\n        }\n        \n        .steps-list {\n            list-style: none;\n            margin: 0;\n            padding: 0;\n        }\n        \n        .steps-list li {\n            padding: 10px 0;\n            font-size: 15px;\n            color: #555;\n            position: relative;\n            padding-left: 30px;\n        }\n        \n        .steps-list li:before {\n            content: counter(step);\n            counter-increment: step;\n            position: absolute;\n            left: 0;\n            background-color: #3498db;\n            color: white;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            font-weight: bold;\n        }\n        \n        .steps-list {\n            counter-reset: step;\n        }\n        \n        .cta-section {\n            text-align: center;\n            margin: 30px 0;\n        }\n        \n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            text-decoration: none;\n            padding: 15px 35px;\n            border-radius: 50px;\n            font-weight: 600;\n            font-size: 16px;\n            margin: 10px;\n            transition: transform 0.3s ease;\n        }\n        \n        .cta-button:hover {\n            transform: translateY(-2px);\n        }\n        \n        .support-section {\n            background-color: #f8f9fa;\n            border-radius: 10px;\n            padding: 20px;\n            margin: 30px 0;\n            border-left: 4px solid #6c757d;\n            text-align: center;\n        }\n        \n        .support-title {\n            font-size: 16px;\n            color: #495057;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n        \n        .support-text {\n            font-size: 14px;\n            color: #6c757d;\n        }\n        \n        .footer {\n            background-color: #2c3e50;\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .footer-text {\n            font-size: 14px;\n            opacity: 0.8;\n            margin-bottom: 15px;\n        }\n        \n        @media (max-width: 600px) {\n            .container {\n                margin: 0;\n                box-shadow: none;\n            }\n            \n            .header,\n            .content,\n            .footer {\n                padding: 20px 15px;\n            }\n            \n            .welcome-title {\n                font-size: 20px;\n            }\n            \n            .password-value {\n                font-size: 18px;\n                letter-spacing: 1px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <div class=\"logo\">🤖 intellizapp.IA</div>\n            <div class=\"header-subtitle\">Inteligência Artificial para WhatsApp</div>\n        </div>\n        \n        <!-- Content -->\n        <div class=\"content\">\n            <!-- Welcome Message -->\n            <div class=\"welcome-message\">\n                <h1 class=\"welcome-title\">🔐 Nova Senha Gerada</h1>\n                <p class=\"welcome-text\">\n                    Sua solicitação de recuperação de senha foi processada com sucesso. \n                    Abaixo estão suas novas credenciais de acesso.\n                </p>\n            </div>\n            \n            <!-- Password Section -->\n            <div class=\"password-section\">\n                <h2 class=\"password-title\">🔑 Suas Nova Credenciais</h2>\n                <div class=\"password-box\">\n                    <div class=\"password-label\">Nova Senha:</div>\n                    <div class=\"password-value\">{{ $('new_senha').item.json.new_senha }}</div>\n                </div>\n                \n                <div class=\"security-warning\">\n                    <h3 class=\"warning-title\">\n                        ⚠️ Importante - Segurança\n                    </h3>\n                    <p class=\"warning-text\">\n                        <strong>Por motivos de segurança, recomendamos fortemente que você altere esta senha \n                        assim que fizer login em sua conta.</strong> Acesse \"Configurações\" → \"Alterar Senha\" \n                        para definir uma senha personalizada.\n                    </p>\n                </div>\n            </div>\n            \n            <!-- Next Steps -->\n            <div class=\"next-steps\">\n                <h2 class=\"steps-title\">🚀 Próximos Passos:</h2>\n                <ol class=\"steps-list\">\n                    <li>Acesse a plataforma intellizapp.IA</li>\n                    <li>Faça login com seu email e a nova senha acima</li>\n                    <li>Vá em \"Configurações\" para alterar sua senha</li>\n                    <li>Defina uma nova senha segura e pessoal</li>\n                    <li>Continue aproveitando todos os recursos da plataforma</li>\n                </ol>\n            </div>\n            \n            <!-- CTA Buttons -->\n            <div class=\"cta-section\">\n                <a href=\"https://app.intellizapp.com.br\" class=\"cta-button\">\n                    🔗 Acessar Plataforma\n                </a>\n            </div>\n            \n            <!-- Support Section -->\n            <div class=\"support-section\">\n                <h3 class=\"support-title\">💬 Precisa de Ajuda?</h3>\n                <p class=\"support-text\">\n                    Se você não solicitou esta alteração de senha ou tem dúvidas, entre em contato \n                    conosco imediatamente através do e-mail <strong>suporte@intellizapp.com.br</strong>\n                </p>\n            </div>\n            \n            <!-- Additional Info -->\n            <div style=\"margin-top: 30px; padding: 20px; background-color: #f8f9fa; border-radius: 10px;\">\n                <h3 style=\"color: #2c3e50; margin-bottom: 15px; font-size: 18px;\">📊 Informações:</h3>\n                <table style=\"width: 100%; font-size: 14px; color: #555;\">\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Data:</td>\n                        <td style=\"padding: 8px 0;\">{{ $now.format('dd/MM/yyyy') }}</td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 8px 0; font-weight: 600;\">Status:</td>\n                        <td style=\"padding: 8px 0; color: #27ae60; font-weight: 600;\">✅ Nova senha ativa</td>\n                    </tr>\n                </table>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div class=\"footer\">\n            <p class=\"footer-text\">\n                Esta senha foi gerada automaticamente por motivos de segurança.\n            </p>\n            <p style=\"font-size: 14px; margin: 15px 0;\">\n                📧 <strong>suporte@intellizapp.com.br</strong> | 🌐 <strong>app.intellizapp.com.br</strong>\n            </p>\n            <p style=\"font-size: 12px; opacity: 0.6; margin-top: 20px;\">\n                © 2025 intellizapp.IA - Todos os direitos reservados<br>\n                Se você não solicitou esta alteração, entre em contato conosco imediatamente.\n            </p>\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[800,-368],"id":"905ac9d1-7a9c-4133-a292-37df04bfbb01","name":"Send NEW USER1","webhookId":"93cedd90-65ae-4966-ac6d-81082144eb7b","credentials":{"smtp":{"id":"hBxoYPIoRvmCYfzF","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"SQL USUARIO","type":"main","index":0}]]},"SQL USUARIO":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"new_senha","type":"main","index":0}]]},"new_senha":{"main":[[{"node":"Update Pasword User","type":"main","index":0}]]},"Update Pasword User":{"main":[[{"node":"Send NEW USER","type":"main","index":0},{"node":"Send NEW USER1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}