responder-comentários-ig-SRCtTgW4LJF5Zxt0.json
{"updatedAt":"2025-07-12T17:26:46.010Z","createdAt":"2025-07-12T17:26:24.913Z","id":"SRCtTgW4LJF5Zxt0","name":"Responder comentários IG","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"comentarios-ig","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2200,240],"id":"f8893702-6ef7-473d-acd7-61ecb4246943","name":"Webhook","webhookId":"9774b9f3-4be8-4c56-8640-324ac6d79d77"},{"parameters":{"assignments":{"assignments":[{"id":"9f5b7656-3161-4730-8ee2-6b75025f1b8a","name":"code","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1980,240],"id":"427f67e9-ef0e-4425-8a2a-8f19bacaff43","name":"Edit Fields"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.code }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1760,240],"id":"a46fea9a-88ee-4d2a-b5da-46ec3b7b53a8","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"comentarios-ig","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2480,680],"id":"4e68c80d-83b0-4e88-9402-3ad822fd25d6","name":"Webhook1","webhookId":"732f2b19-b705-4ddc-b0ff-4ebfac8db165"},{"parameters":{"content":"## Ativação","height":240,"width":760,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2280,160],"id":"e799fbcc-c3c4-4263-9adf-5ab850dbd0aa","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"3a1be705-ce35-4f59-b391-685e49000bb5","name":"meu_id","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"f6ca6723-390c-476c-a0b5-26377b1fdbc3","name":"from_id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"bd389f94-bebd-4cec-a101-f3a60bd70edc","name":"from_username","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"158d4902-a8e6-4a24-861b-77de4c67c9ca","name":"media_id","value":"={{ $json.body.entry[0].changes[0].value.media.id }}","type":"string"},{"id":"7753f5f9-b624-4caa-ba7c-282067b30831","name":"comment_id","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"4b8fdf3a-6e5a-4f81-8f6e-829818f73486","name":"comment","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"},{"id":"b0d36b26-faa8-48e6-a07c-28f6627c60a8","name":"field","value":"={{ $json.body.entry[0].changes[0].field }}","type":"string"},{"id":"974cdabe-7dfc-426c-a797-5fef1af5e8fe","name":"id_usuario","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"f1135b75-5af1-4016-abac-6b2bb5c2b545","name":"mensagem_direct","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2260,680],"id":"127517fc-b0b5-4df0-9ab4-57cafa1a8519","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.field }}","rightValue":"comments","operator":{"type":"string","operation":"equals"},"id":"7955fc91-bbc7-48f8-a01c-001aa3363a3c"}],"combinator":"and"},"renameOutput":true,"outputKey":"comments"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"211a3035-7a38-454f-adea-f0e1ea8f80f2","leftValue":"={{ $json.id_usuario }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2040,680],"id":"d09f83ec-11d5-44be-b24e-254d7a6c1bea","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2621d1b8-d27f-4e55-9faa-7556ec422c59","leftValue":"={{ $json.from_id }}","rightValue":"={{ $json.meu_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1360,660],"id":"bd4b94ee-42f4-4f7a-a77f-082e8d79ac15","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5be9309f-905b-48d2-a1be-1782b187bf41","leftValue":"={{ $json.comment }}","rightValue":"^[Vv]oar$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels voar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f12ff927-7db8-4239-a183-ec352f3a810a","leftValue":"={{ $json.comment }}","rightValue":"^[Ff]1$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels F1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-520,40],"id":"600a825f-2d0b-4682-813f-51b69ff7c2a2","name":"cometario"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Enviado no seu direct 👀🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"5f45ee50-4abe-47ce-9e30-2be9d0deb698","name":"responde comentario7"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $json.comment_id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Enviado no seu direct 👀🥂"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,180],"id":"7b711080-c79e-485f-87fc-3c7be0d1a0d5","name":"responde comentario8"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer IGAALDVN1YyktBZAE5aOFRVam5MSHFrX013WDRlWnJIMVZAKWmhKNVN2NEh5QkVVMUVBY2dpTFhqb05wN3pPUkwwUTY2eDAzUHJsYnJNVDIxdW5LUnNrTXpIa2stcktybnZAFNG5SaXBVXzdOb1FfSVV1TFdxQklLNF90ZAUFxemJiVQZDZD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\":{\n    \"id\": \"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Primeiro precisa me seguir para receber o material 👀\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://instagram.com/euleonardovianna\",\n            \"title\": \"Seguir no Instagram\"\n          }\n        ]\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-840,1160],"id":"7e27d071-206d-435c-92c1-3e25eeaab14d","name":"Envia mensagens direct10"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Clique no botão para receber o Prompt 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"https://docs.google.com/document/d/15cegjgjikRWkH__xNIlBrzaIpSgUYsd2KOTN9vCbko0/edit?usp=sharing\",\n            \"type\":\"web_url\",\n            \"title\":\"ACESSAR PROMPT\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,2060],"id":"901f5640-6a95-4496-8005-5691260044e7","name":"Envia mensagens direct11"},{"parameters":{"url":"=https://graph.instagram.com/{{ $json.id_usuario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,1140],"id":"c74dd6f9-6a56-4c31-af67-925d19af2d64","name":"Buscar se é seguidor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e4bed71-64df-4f20-ba6b-10049a7db678","leftValue":"={{ $json.is_user_follow_business }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1100,1140],"id":"fe8039de-23d1-47cd-936e-ea6df5cfd9f7","name":"Me segue?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5be9309f-905b-48d2-a1be-1782b187bf41","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Vv]oar$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels voar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f12ff927-7db8-4239-a183-ec352f3a810a","leftValue":"={{ $json.mensagem_direct }}","rightValue":"^[Ff]1$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels F1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1680,1020],"id":"fdc82b8a-cdcb-499a-a64a-02fead16e454","name":"cometario1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5be9309f-905b-48d2-a1be-1782b187bf41","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Vv]oar$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels voar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f12ff927-7db8-4239-a183-ec352f3a810a","leftValue":"={{ $('Edit Fields1').item.json.mensagem_direct }}","rightValue":"^[Ff]1$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reels F1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-820,1960],"id":"8e8bec4e-fb01-4ba6-b210-4c20410e48f0","name":"cometario2"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n  },\n  \"message\": {\n    \"text\": \"Digite 'F1' aqui em baixo para liberar ✅👇\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,180],"id":"61922b14-ccc3-44c8-af8b-c989ef05c2a7","name":"Envia mensagens direct9"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"text\":\"Clique no botão para receber o Prompt 👇\",\n        \"buttons\":[\n          {\n            \"url\":\"https://docs.google.com/document/d/14EGdGrnrYEYuOMADk820lZU2Y8qUj0w7LkuEk5o7Fxs/edit?usp=sharing\",\n            \"type\":\"web_url\",\n            \"title\":\"ACESSAR PROMPT\"\n          }\n        ],\n        \"template_type\":\"button\"\n      }\n    }\n  },\n  \"recipient\":{\n    \"id\":\"{{ $('Edit Fields1').item.json.id_usuario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,1900],"id":"5e1c3325-3f3c-4626-a02d-b14ca2e8d45e","name":"Envia mensagens direct19"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer (seu token)"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"comment_id\": \"{{ $('Edit Fields1').item.json.comment_id }}\"\n  },\n  \"message\": {\n    \"text\": \"Digite 'Voar' aqui em baixo para liberar ✅👇\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"96543e80-cc5e-4eaf-a5c0-57edc5fbb23f","name":"Envia mensagens direct"},{"parameters":{"content":"## Editar texto do \"Envia mensagem direct\"","width":420,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,60],"id":"274c5ac5-a640-48eb-902a-abbf91ebb3f6","name":"Sticky Note1"},{"parameters":{"content":"## Editar Link do \"Envia mensagem direct\"","height":140,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,2040],"id":"d4aaa6ef-d87c-4d49-8bc4-dd571c240fe0","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"cometario1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"cometario","type":"main","index":0}]]},"cometario":{"main":[[{"node":"responde comentario7","type":"main","index":0}],[{"node":"responde comentario8","type":"main","index":0}]]},"responde comentario7":{"main":[[{"node":"Envia mensagens direct","type":"main","index":0}]]},"responde comentario8":{"main":[[{"node":"Envia mensagens direct9","type":"main","index":0}]]},"Buscar se é seguidor":{"main":[[{"node":"Me segue?","type":"main","index":0}]]},"Me segue?":{"main":[[{"node":"cometario2","type":"main","index":0}],[{"node":"Envia mensagens direct10","type":"main","index":0}]]},"cometario1":{"main":[[{"node":"Buscar se é seguidor","type":"main","index":0}],[{"node":"Buscar se é seguidor","type":"main","index":0}]]},"cometario2":{"main":[[{"node":"Envia mensagens direct19","type":"main","index":0}],[{"node":"Envia mensagens direct11","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"864de941-513a-4006-86b4-3c21da6823ad","triggerCount":0,"shared":[{"updatedAt":"2025-07-12T17:26:24.913Z","createdAt":"2025-07-12T17:26:24.913Z","role":"workflow:owner","workflowId":"SRCtTgW4LJF5Zxt0","projectId":"BlSED80HESP48veq"}],"tags":[]}