sdr-imobiliaria-mcp-supabase-elevenlabs-001-export-hOPeMtyx7CDWTauE.json
{"updatedAt":"2025-07-14T14:11:22.487Z","createdAt":"2025-07-12T19:44:21.755Z","id":"hOPeMtyx7CDWTauE","name":"sdr-Imobiliaria-MCP-supabase-Elevenlabs-001-export","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}/chat/getBase64FromMediaMessage/{{ $('SetFieldsBasic').first().json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').first().json.evolution_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('SetFieldsBasic').first().json.MessageID }}"},{"name":"convertToMp4","value":"true"}]},"options":{}},"id":"b5a346b8-a15d-47ec-a5f5-45993f7a9d9f","name":"GetAudio-HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1460,440],"alwaysOutputData":true},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"e4b70958-4750-42d9-91ab-88b9e86b5eea","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1180,440],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f6cb6722-aacd-48de-b93a-8e3726bbabe5","name":"text","value":"={{ $('Webhook').first().json.body.data.message.conversation || \" \" }}","type":"string"},{"id":"2199088e-08dc-4bef-9dd1-a739574fe2a6","name":"type","value":"={{ $('Webhook').first().json.body.data.messageType }}","type":"string"},{"id":"616e1a4d-f22f-4125-90d8-8c7b761013f1","name":"phone_number","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"},{"id":"53a69954-72c9-4bb9-8f1a-2bf7f26d70d4","name":"ConversationID","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"},{"id":"c726f6bf-f026-4615-9a3d-840c537df07e","name":"user_from","value":"={{ $('Webhook').first().json.body.data.pushName }}","type":"string"},{"id":"6645fa38-1d52-4d65-ab2b-004c337b0776","name":"evolution_instance","value":"={{ $('Webhook').first().json.body.instance }}","type":"string"},{"id":"15da7191-efbe-427b-b376-bd7a06997b10","name":"remoteJid","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"},{"id":"b94afc26-ac84-474a-b12e-af59a9104c69","name":"evolutiom_api_url","value":"={{ $('Webhook').first().json.body.server_url }}","type":"string"},{"id":"27a5a32b-b8d7-4b08-8e41-385eed83fe62","name":"evolution_api_key","value":"={{ $('Webhook').first().json.body.apikey }}","type":"string"},{"id":"77d7d584-332b-44ea-96be-e941762f90b4","name":"evolution_chatID","value":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","type":"string"},{"id":"4e12e180-8336-4cce-80f4-b542ef4f6631","name":"url_audio_evolution_api","value":"={{ $('Webhook').first().json.body.data?.message.audioMessage?.url || \" \"}}","type":"string"},{"id":"5cc25668-f3e6-45b9-ac44-39659298ecab","name":"MessageID","value":"={{ $('Webhook').first().json.body.data.key.id }}","type":"string"},{"id":"7fbaa3a2-19fc-42b4-ba8f-f21ce01e0a18","name":"EvolutionApi_URL","value":"={{ $('Webhook').first().json.body.server_url }}","type":"string"},{"id":"823b135b-e45f-437c-8531-b4221d15b4a5","name":"phone","value":"={{ $('Webhook')?.first()?.json?.body?.data?.key?.remoteJid?.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"bea94f83-af9e-425a-8856-f01cb395d51f","name":"extendedTextMessage","value":"={{ $('Webhook').first().json.body?.data?.message?.extendedTextMessage?.text || \"\" }}","type":"string"},{"id":"9b931868-30af-4d71-8599-4ee6fbb4a2f3","name":"ephemeralMessage","value":"={{ $('Webhook').first().json.body.data?.message?.ephemeralMessage?.message?.extendedTextMessage?.text || \"\" }}","type":"string"},{"id":"ccad20b5-8a59-407e-8725-c3515f7d4db5","name":"ElevenLabsAPI-KEY","value":"--SUA-KEY-AQUI--","type":"string"},{"id":"c1931e9a-787f-4af2-8570-8021fdd27fbf","name":"EnableElevenLabsAPI","value":"false","type":"string"},{"id":"07db2657-707c-4003-aaa7-4be613f1599e","name":"ElevenLabsVozID","value":"21m00Tcm4TlvDq8ikWAM","type":"string"},{"id":"3469b9eb-2516-4c57-8971-0e85602304c5","name":"ElevenLabsVozIDGratis-01","value":"EXAVITQu4vr4xnSDxMaL","type":"string"},{"id":"638a9fe8-5f0b-40ca-851d-29b6b10aff0d","name":"ElevenLabsVozIDGratis-02","value":"FGY2WhTYpPnrIDTdsKH5","type":"string"},{"id":"ec371540-12d0-4108-b7d8-57e0ab943bfe","name":"ElevenLabsVozIDGratis-03","value":"Xb7hH8MSUJpSbSDYk0k2","type":"string"},{"id":"0c6a26d8-a0a4-43fa-8abe-00483b5e044c","name":"fromMe","value":"={{ $('Webhook').first().json.body.data.key.fromMe }}","type":"string"},{"id":"3d635306-cd20-4ced-9d8f-7d63d31a9574","name":"AllWaysReplyText","value":"false","type":"string"},{"id":"35d8085a-d497-4bb4-b428-6c0f590eba24","name":"timestamp","value":"={{ $now.toSeconds() }}","type":"string"},{"id":"5777b715-4d01-497b-b9e0-1b7f7674d335","name":"app_name","value":"ecommerce","type":"string"},{"id":"7fa51975-1e65-4b6c-95f4-73f0ea989f84","name":"vector_store_id","value":"--SUA-KEY-AQUI--","type":"string"},{"id":"f3fc369e-b971-4fb8-b553-b6a0e89c5b12","name":"openia_api_key","value":"--SUA-KEY-AQUI--","type":"string"}]},"options":{}},"id":"020562cd-bf9e-49f8-85fe-c70180f8d41e","name":"SetFieldsBasic","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3080,960]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.extendedTextMessage }}","type":"string"}]},"options":{}},"id":"e74b7cf3-fac1-42b8-aa64-a8c58f8d1af3","name":"SetTextExtendedTextMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,1240]},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.ephemeralMessage }}","type":"string"}]},"options":{}},"id":"46f3bb4b-a6ff-4b29-af35-59a05a99b093","name":"SetEphemeralMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,1040]},{"parameters":{"numberInputs":6},"id":"07389b61-0de3-466a-91d6-23503a276756","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-740,1440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ace55bc-45c2-4cfe-b8a7-64a409c44b47","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"5275edfc-cac5-4548-903c-aac3a96e8226","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3340,980]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fromMe }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"216b830c-ed10-4839-b6f0-29589acea816","leftValue":"={{ $json.fromMe }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"42ebd0b1-d851-4d2f-8c4c-7ddfc40095e0","name":"FromMe-Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2840,960]},{"parameters":{"operation":"delete","key":"=traplist-{{ $json.remoteJid }}"},"id":"f21dbcbf-424f-47e3-b52a-e97b934bc7b7","name":"RemoveFromTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2600,2160],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=traplist-{{$('Webhook').item.json.body.data.key.remoteJid }}","messageData":"true"},"id":"19b03ecf-4e3a-4c4f-95c3-e987a6e6ae42","name":"AddTrapList","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2600,1940],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=Chatbot parado para o número : {{$('RemoveCliente').item.json.phone }}"},{"name":"key,fromMe","value":"false"}]},"options":{}},"id":"87dbdadb-bc8b-4b4f-bf7a-9ef8178533fb","name":"Evolution API - HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2260,1940]},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').item.json.phone}}"},{"name":"text","value":"=Chatbot inciado para o número : {{$('RemoveCliente').item.json.phone }}"},{"name":"key,fromMe","value":"false"}]},"options":{}},"id":"6c51c292-87dc-4749-8102-a4a3def87a1f","name":"Evolution API - HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2260,2160]},{"parameters":{"operation":"get","propertyName":"trap-list","key":"=traplist-{{$('SetFieldsBasic').item.json.remoteJid }}","options":{}},"id":"4dcbd3fd-e1f9-4b04-a672-6afe721b5a71","name":"BuscaTrapList1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2440,1020],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cebe163-b56d-4bb2-ba87-c716fee0d32f","leftValue":"={{ $json['trap-list'] }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"37c3249f-8156-4775-a387-a3ec08166fc0","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2440,820]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f70f1830-a72f-47bc-8885-bd5209f7d70d","leftValue":"={{ $('SetFieldsBasic').first().json.type }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('SetFieldsBasic').first().json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"00618543-c915-4b04-a34e-a6f3bb266a39"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ad5e3e1-4996-444b-ae49-e3cc69b41cff","leftValue":"={{ $('SetFieldsBasic').first().json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82ed6c89-f8f0-42dc-af37-3a9ba88be43f","leftValue":"={{ $('SetFieldsBasic').first().json.type }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b1379ec-28c5-4fbf-9e64-774c6ca4c551","leftValue":"={{ $('SetFieldsBasic').first().json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"21aeb9ae-716a-4fc6-b188-f91a60167682","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2180,940],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"={{ $('SetFieldsBasic').item.json.text }}","type":"string"}]},"options":{}},"id":"93d51ec9-ded1-4ace-ba6a-317487620449","name":"SetConversation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,860]},{"parameters":{"httpMethod":"POST","path":"04c210b4-8321-4201-9ba4-ec6b3ad3fe61","options":{}},"id":"ced518a9-f3fd-4ea1-934f-276bf2fcd070","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3380,460],"webhookId":"04c210b4-8321-4201-9ba4-ec6b3ad3fe61"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"dea0d757-59c2-43d6-b51b-92cfc862b3e3","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-820,440],"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"@stop","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a637b2ac-6c58-496c-a0fe-722e4d74d25f","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":"@start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"9e9f2d67-a362-4c63-b1ff-105e21e0da41","name":"RemoveCliente","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2900,2040]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"9af48594-ff78-4057-8881-5c1bd5bcce13","name":"Audio-Base64-Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4020,560]},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}/message/sendWhatsAppAudio/{{ $('SetFieldsBasic').first().json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').first().json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('SetFieldsBasic').first().json.remoteJid }}"},{"name":"audio","value":"={{ $json.data }}"},{"name":"key.fromMe","value":"false"},{"name":"options.encoding","value":"true"}]},"options":{}},"id":"4c24f11f-8de3-4c4c-8b93-6ec1e96713b2","name":"(audio)Evolution API - HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4280,700],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}/message/sendText/{{ $('SetFieldsBasic').first().json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').first().json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{$('SetFieldsBasic').first().json.phone}}"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"id":"9adea4a1-b2da-4562-82b1-d7ac6ac127e5","name":"Evolution API - HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4280,0],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"609b4f84-0add-4dda-b2b5-48fdfb608ad9","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3800,560]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $('SetFieldsBasic').item.json.ElevenLabsVozID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"={{ $('SetFieldsBasic').item.json['ElevenLabsAPI-KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"text\":\"'{{$('IF-ElevenLabs').item.json.text?.replaceAll('\"',\"\").replaceAll('\\n','').replaceAll('*','').replaceAll('-','').replaceAll(':00',' horas ') }}'\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ","options":{}},"id":"7dd13441-56b2-44f1-bbd8-377cd6c7843b","name":"ElevenLabsGenerateVoice","type":"n8n-nodes-base.httpRequest","position":[3500,820],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"906ff569-de44-4bd7-bb17-5691a0dab3e1","leftValue":"={{ $('SetFieldsBasic').item.json.EnableElevenLabsAPI }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"027607e9-0168-4614-8d9f-aa44d8c3f235","name":"IF-ElevenLabs","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3200,560]},{"parameters":{"resource":"audio","input":"={{ $json.text.replaceAll('\\n','').replaceAll('-','') }}","options":{"response_format":"mp3"}},"id":"03964ad3-fbf7-4218-bf91-2fa3234b7fcc","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[3480,540],"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"numberInputs":4},"id":"dd2273b3-350e-42bf-82c1-82ac494fe67f","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[3780,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4dfe8b37-6e0e-4c64-84cd-8b2db244b457","leftValue":"={{ $json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c42b80d7-89c4-4aa0-9e6c-f4f8804e9e81","leftValue":"={{ $json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"31f34613-d85a-4468-83ae-5b6ee8c90eb3","leftValue":"={{ $json.type }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d720ae89-30e4-46d2-992f-3e229d425c6b","leftValue":"={{ $json.type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"29976cd9-a9f2-43c7-a188-558900b9c0f8","leftValue":"={{ $json.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"extra"}},"id":"ab94a90e-f1a2-4c72-aa10-c9aa31500c73","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2720,-60]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6949633a-3ba1-41e6-9213-4c81ed55431c","leftValue":"={{ $('SetFieldsBasic').item.json.AllWaysReplyText }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"a8f5f737-ffdc-454c-8e7f-184d23694f33","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2840,480]},{"parameters":{"content":"# Evolution API\n","height":1920,"width":2200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2300,-120],"id":"f6b6a0ab-7df9-444c-84fd-c3a2f5ed1145","name":"Sticky Note2"},{"parameters":{"content":"# Stop / Start Bot","height":600,"width":2760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3320,1820],"id":"71f5d3ef-dad5-4010-b62e-ce94a276b4ef","name":"Sticky Note"},{"parameters":{"jsCode":"// Obter todos os itens de entrada\nconst items = $input.all();\n\n//console.log('Estrutura completa dos itens:', JSON.stringify(items, null, 2));\n\nfunction extractFieldFromMessages(array, field) {\n  // Iterar sobre os itens\n  return array.flatMap(item => {\n    // Obter o array de mensagens\n    const messages = item.json.messages || [];\n    // Parsear cada string JSON no array e extrair o campo desejado\n    return messages.map(message => {\n      try {\n        const parsedMessage = JSON.parse(message); // Parsear a string JSON\n        return parsedMessage[field]; // Retornar o campo desejado\n      } catch (error) {\n        console.error('Erro ao parsear mensagem:', message, error);\n        return null; // Ignorar mensagens inválidas\n      }\n    });\n  }).filter(value => typeof value === 'string'); // Filtrar valores não string\n}\n\n// Extrair o campo 'text' de todas as mensagens\nconst msgs = extractFieldFromMessages(items, 'text');\n\n//console.log('Mensagens extraídas:', msgs);\n\n// Remover duplicados diretamente das mensagens extraídas\nconst uniqueMessages = [...new Set(msgs)];\n\nconsole.log('Mensagens únicas:', uniqueMessages);\n\n// Construir o resultado\nconst result = [\n  {\n    json: {\n      messages:uniqueMessages,\n    },\n  },\n];\n\n// Retornar o resultado\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,2640],"id":"7458a628-ddf4-464e-a8df-f8828bc42fc0","name":"RemoverRepetidos"},{"parameters":{"assignments":{"assignments":[{"id":"d2fce443-aed1-46fe-b0ba-fca2170c6493","name":"text","value":"={{ $('RemoverRepetidos').item.json.messages.map(item => item).join('\\n') }}","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"id":"ab649f2a-4978-4f4f-a712-ad746a656193","name":"AgruparMSGs1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1580,2640]},{"parameters":{"amount":1},"id":"1f535799-412b-4d28-bf07-c763826fca91","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2440,2980],"webhookId":"a10299b8-d938-4876-a6ed-26e908857190"},{"parameters":{"operation":"push","list":"=msgs-{{ $('SetFieldsBasic').first().json.phone }}","messageData":"={{ JSON.stringify($('SetMessageDebounce')?.item?.json)  }}"},"id":"e97a57b1-ce3b-46a2-a15f-32cb50a429f7","name":"RedisPushMsgs1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2980,2660],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=msgs-{{ $('SetFieldsBasic').first().json.phone }}"},"id":"85c0f1a3-39b9-4d4e-a5e8-15dd619647ee","name":"RedisClearMSGs3","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1100,2640],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"=messages","key":"=msgs-{{ $('SetFieldsBasic').first().json.phone }}","options":{}},"id":"9657c06c-92bf-4be5-a01c-027956d169ff","name":"ListaMsg-Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2680,2660],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"content":"# DEBOUNCE\n","height":820,"width":2760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3320,2440],"id":"800d80c9-daaa-413a-9949-3578e7a37baa","name":"Sticky Note8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"401b5ee7-9280-4819-84e0-87190ead5738","leftValue":"={{ \nparseInt($now.toSeconds() - $json.messages?.last().parseJson().timestamp) || 0\n}}\n","rightValue":"={{ 1 }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"doSomething"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"06e7afb5-bc85-4f3e-8a33-abed98a78069","leftValue":"={{ $json.messages?.last().parseJson()?.text || \"\" }}","rightValue":"={{ $('Merge').item.json.text }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"doNothing"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"981b8a04-14cf-40fd-95cf-6bf16dcfa592","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2440,2660]},{"parameters":{"content":"# TESTE DO REDIS\n","height":320,"width":2760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3320,3280],"id":"cec3c64c-2ac1-4b69-bba1-e005491c08c3","name":"Sticky Note9"},{"parameters":{"operation":"push","list":"=msgs-558681612061","messageData":"teste 003"},"id":"ad3e334f-eb9a-4cff-a4ee-9368226aa0eb","name":"Grava-MSGS","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2220,3340],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=msgs-558681612061"},"id":"8a008482-7381-4880-9188-582ab43480cc","name":"Apagar-MSGs","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2520,3340],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"=msgs-558681612061","options":{}},"id":"04a28529-bd34-427a-b6b0-aad4f83e04ff","name":"Lista-MSGs","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,3340],"credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2360,20],"id":"8baaa397-edfd-4980-bec5-4059947fe33e","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2860,660],"id":"f4debe14-a914-474f-89a3-ac5902acb59d","name":"Wait","webhookId":"27bb8396-2a6b-42d7-a893-f4a546b01c7d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e4e3a62-667a-4c4c-8da4-e90a15d78c07","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4020,20],"id":"3c481e64-a664-49d8-aae6-828c0c734d91","name":"If5"},{"parameters":{"assignments":{"assignments":[{"id":"41d771bf-5fa0-4743-a40d-f0555fc78268","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"7d12fe46-151e-467c-8bf5-516fb9f3b4c7","name":"type","value":"={{ $('SetFieldsBasic').first().json.type }}","type":"string"},{"id":"cd799f53-df81-49a0-852d-b430b8be57cc","name":"phone","value":"={{ $('SetFieldsBasic').first().json.phone }}","type":"string"},{"id":"0ab1a571-7f43-43d8-99aa-1777148c8b4d","name":"timestamp","value":"={{ $('SetFieldsBasic').first().json.timestamp }}","type":"string"},{"id":"83c2b698-b3b6-4951-900e-6ae8fb6c1c2a","name":"app_name","value":"={{ $('SetFieldsBasic').first().json.app_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3180,2660],"id":"04fe2994-697c-4b22-941c-2bfb68533fcb","name":"SetMessageDebounce"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2540,580],"id":"095c03b6-17d2-41b1-a779-141396fc1a40","name":"Merge4"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').item.json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').item.json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').item.json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').item.json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"video\",\n \"mimetype\":\"video/mp4\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"{{ $json.text }}\"\n}","options":{}},"id":"4cec7452-b4da-43b9-9b16-c2fa4389fb84","name":"(media)Evolution API - HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4280,1200],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0a50fc6e-4c02-434e-b364-618bedf5ac59","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3420,80],"id":"97d862d2-4b4a-46ff-8d2c-6a42dc95ccd9","name":"SetText"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,1420],"id":"90451370-d4eb-46f0-acfc-47a4f08dfa58","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"# Agents\n","height":1900,"width":2200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-120],"id":"9f4c6bfd-d776-4660-b4b6-a8023d5de867","name":"Sticky Note10"},{"parameters":{"content":"# Ferramentas\n","height":340,"width":1860,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,1300],"id":"94e6d33a-c0a9-4d4c-8db1-37c1cfa01b6b","name":"Sticky Note7"},{"parameters":{"contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[420,1420],"id":"5d2f0e8e-f47a-470c-bcc0-0f38192235ba","name":"Redis Chat Memory","credentials":{"redis":{"id":"1f7hNvPJVM2bjGpi","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"69918e5c-6cbf-44a1-a0a8-e6bdd9646860","name":"chatInput","value":"={{ $('RedisClearMSGs3').item.json.text }}","type":"string"},{"id":"d5f56632-01ff-492a-98f1-c4f4dd7cc601","name":"sessionId","value":"={{ $('SetFieldsBasic').first().json.ConversationID }}","type":"string"},{"id":"85351078-014d-476b-a79d-1b9cf0d604d9","name":"date_time","value":"={{ $now.format('yyyy-MM-dd')}}","type":"string"},{"id":"142e0a72-710c-4497-9dae-d6c6bc9511e8","name":"week_day","value":"={{ $today.weekdayLong}}","type":"string"},{"id":"17dd323e-622c-48d5-b870-86ed37aa7067","name":"horario","value":"={{ $now.format('HH:mm:ss')}}","type":"string"},{"id":"446b3df1-8e38-48e7-a132-7d1cfd001036","name":"phone","value":"={{ $('SetFieldsBasic').first().json.phone }}","type":"string"},{"id":"a9a4c7b3-d4d5-4217-b44f-6730660273c5","name":"name","value":"={{ $('SetFieldsBasic').first().json.user_from }}","type":"string"},{"id":"e1fe72b5-119b-4e37-93ac-8890b4b206c5","name":"name_banco_dados","value":"","type":"string"},{"id":"f7bb8a9b-1b17-44a8-911c-848a6a766901","name":"cliente_intencao","value":"","type":"string"},{"id":"d488e546-0e97-436d-a276-10573b02cfa0","name":"localizacao_preferida","value":"","type":"string"},{"id":"a7861b02-ac62-46fe-a0f2-f92b2bb36c1a","name":"imovel_pretendido","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,160],"id":"b8ef5aca-9b77-4250-a1df-0508e8829e09","name":"Config","executeOnce":true},{"parameters":{"content":"# Separa textos / links\n","height":1920,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,-120],"id":"ef518bd3-1fd0-4499-9547-e7a4713edcf8","name":"Sticky Note12"},{"parameters":{"jsCode":"// Obtenha o texto da entrada\nconst inputText = $input.first().json.output || \"\";\n\n// Separe o texto em um array utilizando '\\n' como delimitador\nconst textBlocks = inputText.split('\\n').filter(block => block.trim() !== \"\"); // Filtra linhas vazias\n\n// Obtenha o tipo da mensagem do nó 'SetFieldsBasic'\nconst type_msg = $('SetFieldsBasic').first().json.type;\n\n// Função para identificar o tipo de mídia com base no link ou no argumento 'tipo'\nconst determineMediaType = (url) => {\n  // Extrai o argumento 'tipo' da URL manualmente\n  const tipoMatch = url.match(/[?&]tipo=([^&]+)/);\n  if (tipoMatch) {\n    return tipoMatch[1].replace(')','').replace('(',''); // Retorna o valor de 'tipo' na URL, se presente\n  }\n\n  // Expressões regulares para identificar o tipo de mídia com base na extensão do link\n  const pdfRegex = /\\.pdf$/i;\n  const docRegex = /\\.(doc|docx)$/i;\n  const imageRegex = /\\.(jpg|jpeg|png|gif|bmp|svg|webp)$/i;\n  const videoRegex = /\\.(mp4|mov|avi|wmv|mkv|flv|webm)$/i;\n  const audioRegex = /\\.(mp3|wav|ogg|m4a)$/i;\n\n  if (pdfRegex.test(url)) return 'pdf';\n  if (docRegex.test(url)) return 'doc';\n  if (imageRegex.test(url)) return 'image';\n  if (videoRegex.test(url)) return 'video';\n  if (audioRegex.test(url)) return 'audioMessage';\n  return null;\n};\n\n// Função para extrair a URL de um texto\nconst extractUrl = (text) => {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)/g; // Captura qualquer URL em um texto\n  const match = text.match(urlRegex);\n  return match ? match[0] : null; // Retorna a primeira URL encontrada\n};\n\n// Cria o array de saída\nlet outputArray = []; // Armazena todos os blocos processados\n\ntextBlocks.forEach((block, index) => {\n  const url = extractUrl(block); // Extrai a URL do texto, se existir\n  const mediaType = url ? determineMediaType(url) : null; // Identifica o tipo de mídia, se houver URL\n\n  if (index === 0) {\n    // O primeiro bloco pode ser 'conversation' ou 'audioMessage'\n    outputArray.push({\n      block: null,\n      text: block.replace(url, '').trim(), // Remove a URL do texto\n      type: type_msg\n    });\n\n    // Se houver mídia no primeiro bloco, ela é processada separadamente\n    if (url && mediaType) {\n      outputArray.push({\n        block: url,\n        text: null, // Não há texto associado ao bloco de mídia\n        type: mediaType,\n      });\n    }\n  } else {\n    // Para blocos posteriores, não permite o tipo 'audioMessage'\n    const adjustedMediaType = mediaType === 'audioMessage' ? 'conversation' : mediaType;\n\n    // Cria um bloco separado para a mídia, se existir\n    if (url && adjustedMediaType) {\n      outputArray.push({\n        block: url,\n        text: null, // Não há texto associado ao bloco de mídia\n        type: adjustedMediaType, // Tipo ajustado\n      });\n    }\n\n    // Inclui o texto sem a URL em outro bloco, se ainda houver conteúdo\n    const textWithoutUrl = block.replace(url, '').trim();\n    if (textWithoutUrl) {\n      outputArray.push({\n        block: null,\n        text: textWithoutUrl,\n        type: 'conversation', // Blocos de texto são sempre do tipo 'conversation'\n      });\n    }\n  }\n});\n\n// Filtra itens válidos antes de retornar\nreturn outputArray\n  .filter(item => item.block !== null || item.text !== null) // Remove objetos vazios\n  .map(item => ({ json: item }));\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,400],"id":"c672e6ec-6cde-4d3a-8134-01a1159297fd","name":"DivideEmVariosBlocos"},{"parameters":{"jsCode":"// Obtenha o texto da entrada\nconst inputText = $input.first().json.output || \"\";\n// Separe o texto em um array utilizando '\\n' como delimitador\nconst textBlocks = inputText.split('\\n').filter(block => block.trim() !== \"\"); // Filtra linhas vazias\n// Obtenha o tipo da mensagem do nó 'SetFieldsBasic'\nconst type_msg = $('SetFieldsBasic').first().json.type;\n// Função para identificar o tipo de mídia com base no link ou no argumento 'tipo'\nconst determineMediaType = (url) => {\n  // Extrai o argumento 'tipo' da URL manualmente\n  const tipoMatch = url.match(/[?&]tipo=([^&]+)/);\n  if (tipoMatch) {\n    return tipoMatch[1].replace(')','').replace('(',''); // Retorna o valor de 'tipo' na URL, se presente\n  }\n  // Expressões regulares para identificar o tipo de mídia com base na extensão do link\n  const pdfRegex = /\\.pdf$/i;\n  const docRegex = /\\.(doc|docx)$/i;\n  const imageRegex = /\\.(jpg|jpeg|png|gif|bmp|svg|webp)$/i;\n  const videoRegex = /\\.(mp4|mov|avi|wmv|mkv|flv|webm)$/i;\n  const audioRegex = /\\.(mp3|wav|ogg|m4a)$/i;\n  if (pdfRegex.test(url)) return 'pdf';\n  if (docRegex.test(url)) return 'doc';\n  if (imageRegex.test(url)) return 'image';\n  if (videoRegex.test(url)) return 'video';\n  if (audioRegex.test(url)) return 'audioMessage';\n  return null;\n};\n// Função para extrair a URL de um texto\nconst extractUrl = (text) => {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)/g; // Captura qualquer URL em um texto\n  const match = text.match(urlRegex);\n  return match ? match[0] : null; // Retorna a primeira URL encontrada\n};\n\n// Não precisamos mais dessa função, pois todas as mídias serão tratadas individualmente\n\n// Preparação para processamento\nlet outputArray = []; // Armazena blocos processados\nlet firstBlockProcessed = false;\nlet mediaItems = [];\nlet textItems = [];\n\n// Processa o primeiro bloco separadamente (regras especiais)\nif (textBlocks.length > 0) {\n  const firstBlock = textBlocks[0];\n  const url = extractUrl(firstBlock);\n  const mediaType = url ? determineMediaType(url) : null;\n  \n  // Adiciona o texto do primeiro bloco\n  const textWithoutUrl = firstBlock.replace(url || '', '').trim();\n  if (textWithoutUrl) {\n    textItems.push({\n      block: null,\n      text: textWithoutUrl,\n      type: type_msg\n    });\n  }\n  \n  // Adiciona a mídia do primeiro bloco, se existir\n  if (url && mediaType) {\n    mediaItems.push({\n      block: url,\n      text: null,\n      type: mediaType\n    });\n  }\n  \n  firstBlockProcessed = true;\n}\n\n// Processa os blocos restantes\nfor (let i = 1; i < textBlocks.length; i++) {\n  const block = textBlocks[i];\n  const url = extractUrl(block);\n  const mediaType = url ? determineMediaType(url) : null;\n  const adjustedMediaType = mediaType === 'audioMessage' ? 'conversation' : mediaType;\n  \n  // Adiciona a mídia, se existir\n  if (url && adjustedMediaType) {\n    mediaItems.push({\n      block: url,\n      text: null,\n      type: adjustedMediaType\n    });\n  }\n  \n  // Adiciona o texto sem a URL, se houver conteúdo\n  const textWithoutUrl = block.replace(url || '', '').trim();\n  if (textWithoutUrl) {\n    textItems.push({\n      block: null,\n      text: textWithoutUrl,\n      type: 'conversation'\n    });\n  }\n}\n\n// NOVA ESTRATÉGIA DE PROCESSAMENTO:\n// 1. Primeiro bloco: mantém o texto original (type_msg), se houver\n// 2. Todas as mídias: cada mídia terá seu próprio bloco separado (independente do tipo)\n// 3. Textos adicionais: todos agrupados em um bloco\n\n// Adiciona o primeiro bloco de texto (com tipo original)\nif (textItems.length > 0) {\n  outputArray.push(textItems[0]);\n}\n\n// Adiciona cada mídia individualmente em seu próprio bloco\n// Desta forma, nenhum tipo de mídia será agrupado no mesmo bloco\nmediaItems.forEach(item => {\n  outputArray.push(item);\n});\n\n// Adiciona o bloco de textos adicionais (se houver mais de um texto)\nif (textItems.length > 1) {\n  const additionalTexts = textItems.slice(1);\n  const combinedText = additionalTexts.map(item => item.text).join('\\n');\n  \n  if (combinedText) {\n    outputArray.push({\n      block: null,\n      text: combinedText,\n      type: 'conversation'\n    });\n  }\n}\n\n// Limita a no máximo 3 blocos\noutputArray = outputArray.slice(0, 3);\n\n// Filtra itens válidos antes de retornar\nreturn outputArray\n  .filter(item => item.block !== null || item.text !== null) // Remove objetos vazios\n  .map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,40],"id":"19f81764-750b-4bbf-8be3-17193f10c2e6","name":"DivideEm3Blcos"},{"parameters":{"content":"# AUDIO","height":380,"width":900,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1560,320],"id":"025007ec-edfa-4f93-bc2a-ebe06436ee53","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"df119838-c757-4618-a3c8-2e1aede4115b","name":"text","value":"=oi","type":"string"}]},"options":{}},"id":"3b041b7b-1169-4b48-a219-0ef8dd9d61fd","name":"SetTextExtendedTextMessage1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,1440]},{"parameters":{"sseEndpoint":"--SUA-URL-AQUI--"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1040,1440],"id":"1cb1f68c-e937-4a56-b0b1-ee75f038e632","name":"MCP Client"},{"parameters":{"content":"# CONFIG\n","height":340,"width":720,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3380,880],"id":"bffef32f-5fbc-427e-bb06-caa85a0b1924","name":"Sticky Note11"},{"parameters":{"options":{"systemMessage":"=# 🧠 Agente de Atendimento de uma loja online\n\n## Função\nVocê é um agente de atendimento de uma imobiliaria. Sua função é fornecer informações sobre imóveis a venda na cidade de Teresina oferecidos pela contrutora MRV.\n\n## Funções disponíveis (MCP):\n1. *find_custumer*: Para buscar os dados do cliente\n3. *update_customer*: Atualizar dos dados do cliente\n4. *getall_imoveis*: Busca a lista dos imóveis disponíveis\n5. *get_imovel_by_id*: Recupera todos os dados de um imóvel específico\n\n## Regras Importantes\n- Ao listar os imóveis exiba apenas o nome, tamanho e localização resumida\n- Consulte a sua lista do imóveis na função 'getall_imoveis', o json retornado por esta função contém os campos (id,title, description, price, foto ..)\n- Nunca crie IDs para consultar as informações de um imóvel, use o ID da lista que buscou no 'getall_imoveis'\n- Apenas forneça informações dos imóveis contidos no banco de dados\n- Nunca envie os dados em formato JSON ou html\n- Nunca envie códigos MARKDOWN \n- Nunca pergunte o telefone do cliente pois você está falando com ele através do whatsapp\n- Se o cliente perguntar detalhes como 'preco','sobre financiamento','se está disponível' colocque a\n- Depois de cada mensagem do cliente analise o que o cliente deseja e atualize as informação usando o 'update_customer' com os seguintes dados:\n   - cliente_intencao : exemplo alugar ou comprar\n   - imovel_pretendido : Nome específico do imovel ou tipo,Exemplo \"casa zona sul\", \"aprartamento duplex\", \"kitnet para estudante\"\n   - localizacao_preferida : Local ou bairro onde o cliente deseja o imóvel\n   - nivel_interesse : O nivel de interesse do cliente (baixo|medio|alto)\n   - retornar_em : Data para o corretor entrar em contato\n\n## Fluxo de Atendimento\n\n### Para atender o cliente:\n1.0 Pergunte o nome do cliente caso não tenha registro no banco de dados, e atualize seu banco de dados e salve as informações utilizando  o 'update_customer',\n- Se necessário use Nome do cliente (registrado no whatsapp):\n  {{ $json.name }}\n\n3.0 Sugerir imóveis ou buscar no banco de dados o imóvel que o cliente solicitou\n\n4.0 Perguntar a localização ou bairro preferido para o imóvel\n\n6.0 Para obter todos os dados de um imóvel em específico use o 'get_imovel_by_id' passano como pareametro o ID do imóvel, exemplo: 1\n\n7.0 Caso o cliente deseja conversar com um corretor,perguntar o melhor dia e horário\n\n8.0 Caso o cliente não tenha gostado de nenhum imóvel, informar que anotou o tipo de imóvel que ele deseja e enviará novidades pelo whatsapp\n\n\n## Formatar links de pdfs e imagens\n\n- Coloque um sufixo &tipo=image ou ?tipo=image em links de imagens, exemplo: https://site.com.br/image_do_imovel?tipo=image ou \nhttps://site.com.br/image_do_imovel?param=public&tipo=image\n\n- Coloque um sufixo &tipo=pdf ou ?tipo=pdf em links de pdfs, exemplo: https://site.com.br/image_do_pdf?tipo=pdf ou \nhttps://site.com.br/image_do_pdf?param=public&tipo=pdf\n\n## Exemplos de resposta:\n\n- Qual o preço deste papartamento?\n- Um minuto vou consultar ...\\n\\n\n  O valor é de 1,300.000\n\n- Qual o valar deste papartamento?\n- O valor é de 1,300.000 (hum milhão e trezentos mil)\n  \n- Oi tudo bem ?\n- Olá João, tudo bem ? ainda interessado em apartamentos no Jóquei ?\n\n- Oi tudo bem ?\n- Olá, tudo ótimo e com você? \\n\\n\n  Tenho vários lançamentos imobiliários aqui, deseja ver alguns ? \\n\n  Me envia a melhor localização para eu enviar sugestões .. \n\n- Oi boa tar ?\n- Olá, boa tarde \\n\\n\n  como posso te ajudar ?\n\n## Variáveis Úteis\n- telefone do cliente:\n  {{ $json.phone }}\n- Nome do cliente (registrado no whatsapp):\n  {{ $json.name }}\n- Nome do cliente (registrado no bando de dados):\n  {{ $json.name_banco_dados }}\n\n- Intenção do cliente cadastrada\n  {{ $json.cliente_intencao }}\n\n- localizacao preferida para imóvel que o cliente mencionou\n  {{ $json.localizacao_preferida }}\n\n- Data de hoje:\n  {{ $now.format('yyyy-MM-dd')}} | {{ $now.weekdayLong }}\n\n- Data de amanhã:\n  {{ $now.plus(1,'day').format('yyyy-MM-dd')}} | {{ $now.plus(1,'day').weekdayLong }}\n- Hora atual:\n  {{ $now.format('HH:mm:ss')}}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[700,160],"id":"22d7528f-dd6b-4155-a2e9-1bbbacf2faa2","name":"Ecommerce AI","retryOnFail":false,"notesInFlow":true,"alwaysOutputData":false,"executeOnce":false,"onError":"continueRegularOutput","notes":"Agente principal"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}/chat/getBase64FromMediaMessage/{{ $('SetFieldsBasic').first().json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').first().json.evolution_api_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('SetFieldsBasic').first().json.MessageID }}"}]},"options":{}},"id":"b8c86a11-1761-46d1-bc0a-48899cff6271","name":"GetAudio-HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1440,0],"alwaysOutputData":true},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio","mimeType":"={{ $json.mimetype }}"}},"id":"c3dd858b-2324-4c4d-af0c-d600be3cdb07","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1240,0],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9108c7ad-4e13-4cc6-be36-eeaf1dba991e","name":"text","value":"=# Mensagem do Agente que analizou a imagem que o cliente enviou:\n{{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,0],"id":"e1fc3fa5-11d0-4545-b5fa-e90e4e629613","name":"SetText2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=# Você é um agente de uma imobiliária online e analiza as imagens de imoveis e encontra o nome, localização ou tipo\n\n# Seu trabalho é analizar a image e extrair informações para que o outro agente consiga buscar o banco de dados\n\n\n# Mensagem do cliente na imagem:\n{{ $('SetFieldsBasic').item.json.text }}","inputType":"base64","options":{}},"id":"78861220-0470-4051-8999-215fde4e0972","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-1020,0],"credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"# IMAGEM","height":340,"width":900,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1560,-100],"id":"1a85e4d8-657b-468f-9c5c-bd96da5a3f38","name":"Sticky Note6"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[680,1420],"id":"75c8dfae-2e5e-44ca-aaee-55801a6a75d1","name":"Simple Memory"},{"parameters":{"toolDescription":"Esta função busca as informações detalhadas sobre imobiliária e procedimentos de financiamento","method":"POST","url":"=https://api.openai.com/v1/vector_stores/{{ $('SetFieldsBasic').first().json.vector_store_id }}/search","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"},{"name":"Authorization","valueProvider":"fieldValue","value":"=Bearer {{ $('SetFieldsBasic').first().json.openia_api_key }} "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"{text_search}\"\n}","placeholderDefinitions":{"values":[{"name":"text_search","description":"buscar informação sobre o cardápio","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1360,1420],"id":"7aaa7cb8-afe7-4452-8d75-9c178f4141e1","name":"get_ openai_vector_stores"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').first().json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').first().json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').first().json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"document\",\n \"mimetype\":\"application/pdf\",\n \"media\":\"{{ $json.url }}\",\n\"fileName\":\"{{ $json.text || 'pdf'}}\"\n}","options":{}},"id":"16df260e-8f62-4a1d-9063-4fb124780904","name":"(pdf)Evolution API - HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4280,960],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('SetFieldsBasic').first().json.evolutiom_api_url }}/message/sendMedia/{{ $('SetFieldsBasic').first().json.evolution_instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('SetFieldsBasic').first().json.evolution_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"number\":\"{{ $('SetFieldsBasic').first().json.phone }}\",\n\"options\":{\"delay\":123,\"presence\":\"composing\"},\n \"mediatype\":\"image\",\n \"mimetype\":\"image/png\",\n \"media\":\"{{ $json.block }}\",\n\"fileName\":\"Foto\"\n}","options":{}},"id":"4b3a1406-dbab-40ac-96d3-f78631cdaeb2","name":"(Image)Evolution API - HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4280,1480],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Obtenha o texto da entrada\nconst inputText = $input.first().json.output || \"\";\n// Separe o texto em um array utilizando '\\n' como delimitador\nconst textBlocks = inputText.split('\\n').filter(block => block.trim() !== \"\"); // Filtra linhas vazias\n// Obtenha o tipo da mensagem do nó 'SetFieldsBasic'\nconst type_msg = $('SetFieldsBasic').first().json.type;\n// Função para identificar o tipo de mídia com base no link ou no argumento 'tipo'\nconst determineMediaType = (url) => {\n  // Extrai o argumento 'tipo' da URL manualmente\n  const tipoMatch = url.match(/[?&]tipo=([^&]+)/);\n  if (tipoMatch) {\n    return tipoMatch[1].replace(')','').replace('(',''); // Retorna o valor de 'tipo' na URL, se presente\n  }\n  // Expressões regulares para identificar o tipo de mídia com base na extensão do link\n  const pdfRegex = /\\.pdf$/i;\n  const docRegex = /\\.(doc|docx)$/i;\n  const imageRegex = /\\.(jpg|jpeg|png|gif|bmp|svg|webp)$/i;\n  const videoRegex = /\\.(mp4|mov|avi|wmv|mkv|flv|webm)$/i;\n  const audioRegex = /\\.(mp3|wav|ogg|m4a)$/i;\n  if (pdfRegex.test(url)) return 'pdf';\n  if (docRegex.test(url)) return 'doc';\n  if (imageRegex.test(url)) return 'image';\n  if (videoRegex.test(url)) return 'video';\n  if (audioRegex.test(url)) return 'audioMessage';\n  return null;\n};\n// Função para extrair a URL de um texto\nconst extractUrl = (text) => {\n  const urlRegex = /(https?:\\/\\/[^\\s]+)/g; // Captura qualquer URL em um texto\n  const match = text.match(urlRegex);\n  return match ? match[0] : null; // Retorna a primeira URL encontrada\n};\n\n// Preparação para compressão em no máximo 3 blocos\nlet outputArray = []; // Armazena blocos processados (máximo 3)\nlet firstBlockProcessed = false;\nlet mediaItems = [];\nlet textItems = [];\n\n// Processa o primeiro bloco separadamente (regras especiais)\nif (textBlocks.length > 0) {\n  const firstBlock = textBlocks[0];\n  const url = extractUrl(firstBlock);\n  const mediaType = url ? determineMediaType(url) : null;\n  \n  // Adiciona o texto do primeiro bloco\n  const textWithoutUrl = firstBlock.replace(url || '', '').trim();\n  if (textWithoutUrl) {\n    textItems.push({\n      block: null,\n      text: textWithoutUrl,\n      type: type_msg\n    });\n  }\n  \n  // Adiciona a mídia do primeiro bloco, se existir\n  if (url && mediaType) {\n    mediaItems.push({\n      block: url,\n      text: null,\n      type: mediaType\n    });\n  }\n  \n  firstBlockProcessed = true;\n}\n\n// Processa os blocos restantes\nfor (let i = 1; i < textBlocks.length; i++) {\n  const block = textBlocks[i];\n  const url = extractUrl(block);\n  const mediaType = url ? determineMediaType(url) : null;\n  const adjustedMediaType = mediaType === 'audioMessage' ? 'conversation' : mediaType;\n  \n  // Adiciona a mídia, se existir\n  if (url && adjustedMediaType) {\n    mediaItems.push({\n      block: url,\n      text: null,\n      type: adjustedMediaType\n    });\n  }\n  \n  // Adiciona o texto sem a URL, se houver conteúdo\n  const textWithoutUrl = block.replace(url || '', '').trim();\n  if (textWithoutUrl) {\n    textItems.push({\n      block: null,\n      text: textWithoutUrl,\n      type: 'conversation'\n    });\n  }\n}\n\n// Estratégia para compressão em 3 blocos:\n// 1. Primeiro bloco: mantém o tipo original do primeiro item (type_msg)\n// 2. Segundo bloco: todas as mídias (opcional)\n// 3. Terceiro bloco: todos os textos adicionais (opcional)\n\n// Adiciona o primeiro bloco (com tipo original)\nif (textItems.length > 0) {\n  outputArray.push(textItems[0]);\n}\n\n// Adiciona o bloco de mídias (se houver)\nif (mediaItems.length > 0) {\n  // Se houver várias mídias, agrupa as URLs em uma string separada por espaços\n  if (mediaItems.length > 1) {\n    const combinedMediaBlock = {\n      block: mediaItems.map(item => item.block).join(' '),\n      text: null,\n      type: mediaItems[0].type // Usa o tipo da primeira mídia\n    };\n    outputArray.push(combinedMediaBlock);\n  } else {\n    // Se houver apenas uma mídia, adiciona diretamente\n    outputArray.push(mediaItems[0]);\n  }\n}\n\n// Adiciona o bloco de textos adicionais (se houver mais de um texto)\nif (textItems.length > 1) {\n  const additionalTexts = textItems.slice(1);\n  const combinedText = additionalTexts.map(item => item.text).join('\\n');\n  \n  if (combinedText) {\n    outputArray.push({\n      block: null,\n      text: combinedText,\n      type: 'conversation'\n    });\n  }\n}\n\n// Garante que não ultrapasse 3 blocos\noutputArray = outputArray.slice(0, 3);\n\n// Filtra itens válidos antes de retornar\nreturn outputArray\n  .filter(item => item.block !== null || item.text !== null) // Remove objetos vazios\n  .map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,600],"id":"79c60e1b-81bc-4d91-ac34-d6823c59ac4b","name":"DivideEm3Blcos1"},{"parameters":{"assignments":{"assignments":[{"id":"44dfa4b2-581a-4146-94f4-dda22a89747a","name":"url","value":"={{ $('Loop Over Items').item.json.block }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3880,960],"id":"98ee8ffe-114e-4045-9396-8c0d0c94266f","name":"SetPdfUrl"},{"parameters":{"workflowId":{"__rl":true,"value":"OZyulwmvm85H1XpL","mode":"list","cachedResultName":"ToolsCustomerStripe-Imobiliaria"},"workflowInputs":{"mappingMode":"defineBelow","value":{"function":"get_or_create","phone":"={{ $('SetFieldsBasic').first().json.phone }}","name":"={{ $('SetFieldsBasic').first().json.user_from }}"},"matchingColumns":[],"schema":[{"id":"function","displayName":"function","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cliente_intencao","displayName":"cliente_intencao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"imovel_pretendido","displayName":"imovel_pretendido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nivel_interesse","displayName":"nivel_interesse","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"localizacao_preferida","displayName":"localizacao_preferida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"retornar_em","displayName":"retornar_em","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-220,160],"id":"2fb544dc-303a-48c4-bcba-1d52d5e3f4e7","name":"Execute Workflow"},{"parameters":{"content":"# ATENÇÃO \n\n## Cadastre todas as credenciais antes de iniciar os testes\n\n# SetFieldBasic\n## Cliente no NO SetFieldBasic e substitua as variáveis pelos valores da API da ElevenLabs\n\n# PIN\n## Observe os valores no \"webhook\" para testar a automação\n\n# Tools\n## As ferramentas podem perder a referência após a importação, por isso selecione novamente os subfluxos em cada ferrameta e salve a automação.\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br","height":1020,"width":900,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4640,-20],"id":"658c7994-e2ff-409a-aa8b-329fca907592","name":"Sticky Note1"}],"connections":{"GetAudio-HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"SetFieldsBasic":{"main":[[{"node":"FromMe-Switch","type":"main","index":0}]]},"SetTextExtendedTextMessage":{"main":[[{"node":"Merge","type":"main","index":3}]]},"SetEphemeralMessage":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"SetMessageDebounce","type":"main","index":0}]]},"If":{"main":[[{"node":"SetFieldsBasic","type":"main","index":0}]]},"FromMe-Switch":{"main":[[{"node":"BuscaTrapList1","type":"main","index":0}],[{"node":"RemoveCliente","type":"main","index":0}]]},"RemoveFromTrapList":{"main":[[{"node":"Evolution API - HTTP Request2","type":"main","index":0}]]},"AddTrapList":{"main":[[{"node":"Evolution API - HTTP Request3","type":"main","index":0}]]},"BuscaTrapList1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GetAudio-HTTP Request1","type":"main","index":0}],[{"node":"GetAudio-HTTP Request","type":"main","index":0}],[{"node":"SetConversation","type":"main","index":0}],[{"node":"SetEphemeralMessage","type":"main","index":0}],[{"node":"SetTextExtendedTextMessage","type":"main","index":0}],[{"node":"SetTextExtendedTextMessage1","type":"main","index":0}]]},"SetConversation":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"RemoveCliente":{"main":[[{"node":"AddTrapList","type":"main","index":0}],[{"node":"RemoveFromTrapList","type":"main","index":0}]]},"Audio-Base64-Extract from File":{"main":[[{"node":"(audio)Evolution API - HTTP Request1","type":"main","index":0}]]},"(audio)Evolution API - HTTP Request1":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"Evolution API - HTTP Request":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Audio-Base64-Extract from File","type":"main","index":0}]]},"ElevenLabsGenerateVoice":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"IF-ElevenLabs":{"main":[[{"node":"ElevenLabsGenerateVoice","type":"main","index":0}],[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"If5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Merge2","type":"main","index":0}],[{"node":"Merge2","type":"main","index":1}],[{"node":"If2","type":"main","index":0}],[{"node":"SetPdfUrl","type":"main","index":0}],[{"node":"(media)Evolution API - HTTP Request1","type":"main","index":0}],[{"node":"(Image)Evolution API - HTTP Request2","type":"main","index":0}],[{"node":"SetText","type":"main","index":0}]]},"If2":{"main":[[{"node":"Merge2","type":"main","index":2}],[{"node":"IF-ElevenLabs","type":"main","index":0}]]},"RemoverRepetidos":{"main":[[{"node":"AgruparMSGs1","type":"main","index":0}]]},"AgruparMSGs1":{"main":[[{"node":"RedisClearMSGs3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"ListaMsg-Redis1","type":"main","index":0}]]},"RedisPushMsgs1":{"main":[[{"node":"ListaMsg-Redis1","type":"main","index":0}]]},"RedisClearMSGs3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"ListaMsg-Redis1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"RemoverRepetidos","type":"main","index":0}],[],[{"node":"Wait3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If5":{"main":[[{"node":"Evolution API - HTTP Request","type":"main","index":0}],[{"node":"Merge4","type":"main","index":1}]]},"SetMessageDebounce":{"main":[[{"node":"RedisPushMsgs1","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Wait","type":"main","index":0}]]},"(media)Evolution API - HTTP Request1":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"SetText":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Ecommerce AI","type":"ai_languageModel","index":0}]]},"Config":{"main":[[{"node":"Ecommerce AI","type":"main","index":0}]]},"DivideEm3Blcos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"SetTextExtendedTextMessage1":{"main":[[{"node":"Merge","type":"main","index":4}]]},"MCP Client":{"ai_tool":[[{"node":"Ecommerce AI","type":"ai_tool","index":0}]]},"Ecommerce AI":{"main":[[{"node":"DivideEm3Blcos","type":"main","index":0}]]},"GetAudio-HTTP Request1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"SetText2":{"main":[[{"node":"Merge","type":"main","index":5}]]},"OpenAI3":{"main":[[{"node":"SetText2","type":"main","index":0}]]},"get_ openai_vector_stores":{"ai_tool":[[{"node":"Ecommerce AI","type":"ai_tool","index":0}]]},"(pdf)Evolution API - HTTP Request":{"main":[[{"node":"Merge4","type":"main","index":3}]]},"(Image)Evolution API - HTTP Request2":{"main":[[{"node":"Merge4","type":"main","index":4}]]},"SetPdfUrl":{"main":[[{"node":"(pdf)Evolution API - HTTP Request","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Ecommerce AI","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.empreendedorserial.com","user-agent":"axios/1.7.9","content-length":"2195","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"10.0.0.2","x-forwarded-host":"webhook.empreendedorserial.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3014350d07d6","x-real-ip":"10.0.0.2"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"EmpreendedorSerialBr","data":{"key":{"remoteJid":"558681612061@s.whatsapp.net","fromMe":false,"id":"301F16321FEA2D25AAE356134C45FAC1"},"pushName":"André Alencar","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/25614680_601453299254647_1692471933905705473_n.enc?ccb=11-4&oh=01_Q5Aa1wFxbQQqBHbKqv1q9GlnhrjFaTZ0mPhviz39-R86HKJIXg&oe=688FCD81&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"gKcSU3Wmetkd8qhTPMqZcZv8CKW/DjH9A9Y6J7nnuOw=","fileLength":"9876","seconds":4,"ptt":true,"mediaKey":"cNvGYDbfbSYkzzhnobKlkuQPl43Z8fDoSqhDoCnTQfw=","fileEncSha256":"gs+5adi1FI7xwlQJTBBUh+51Glp5Dte53AhpK7bDJa8=","directPath":"/v/t62.7117-24/25614680_601453299254647_1692471933905705473_n.enc?ccb=11-4&oh=01_Q5Aa1wFxbQQqBHbKqv1q9GlnhrjFaTZ0mPhviz39-R86HKJIXg&oe=688FCD81&_nc_sid=5e03e0","mediaKeyTimestamp":"1751673680","waveform":"AAAAAAgCAAAAAAAAAAAAHkpSSUQPUTpaSEY3UDEtNz1VV1lTQVlXUkhHRU1AR1Y+MU5GIVdMMUNKTElEIwQRAA=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"dvXcx+Pzg2XyJw==","senderTimestamp":"1751403525","recipientKeyHash":"FNGdJtvJnY/eRg==","recipientTimestamp":"1750787298"},"deviceListMetadataVersion":2,"messageSecret":"BAF+9BXBgMY4KX5onc/v+4mMUmCvQPnE92s5Gi8q944="},"mediaUrl":"https://minio2backend.zapoferta.com.br/evolution2/evolution-api/bfb80130-859b-4b02-a90f-79713ffe96c6/558681612061%40s.whatsapp.net/audioMessage/301F16321FEA2D25AAE356134C45FAC1.oga?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=FtgrOU4jzcThksQW6n1g%2F20250705%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20250705T000124Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=4d70acc098c38e0b440e1f037a19359a0535295cf1b486d88af1c040b52d0ef3"},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1751673683,"instanceId":"bfb80130-859b-4b02-a90f-79713ffe96c6","source":"android"},"destination":"https://webhook.empreendedorserial.com/webhook/df05db73-b1b5-42ca-8265-c990c9a98828","date_time":"2025-07-04T21:01:24.056Z","sender":"5511932055778@s.whatsapp.net","server_url":"https://evolutionapi2.zapoferta.com.br","apikey":"A152F4676FA1-426E-88C4-E87BF481388A"},"webhookUrl":"https://webhook.empreendedorserial.com/webhook/df05db73-b1b5-42ca-8265-c990c9a98828","executionMode":"production"}}]},"versionId":"0cf93cd1-1fe1-491a-9bd7-80b49216dacb","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-07-12T19:44:21.755Z","createdAt":"2025-07-12T19:44:21.755Z","role":"workflow:owner","workflowId":"hOPeMtyx7CDWTauE","projectId":"BlSED80HESP48veq"}],"activeVersion":null,"tags":[]}