sub-mcp-md-em-docx-nDA3mYbBEl5jH83p.json
{"updatedAt":"2025-09-16T12:32:44.912Z","createdAt":"2025-09-16T11:54:22.865Z","id":"nDA3mYbBEl5jH83p","name":"Sub MCP MD em Docx","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Corpo"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-96],"id":"9c5871c5-8b8f-43dd-b774-c4f4cde9a873","name":"When Executed by Another Workflow"},{"parameters":{"folderId":"1pGgdYF702s9CXKT0oO-gIuWiZtlxVCWP","title":"=Teste - {{ $now }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-80,-96],"id":"835315a6-ebe8-4136-b976-a0102dc01266","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"l4JShKcRObBKsZ3G","name":"Google Docs ti01"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('When Executed by Another Workflow').item.json.Corpo }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[144,-96],"id":"7616b9fa-6998-465c-a227-dc14acc8be2e","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"l4JShKcRObBKsZ3G","name":"Google Docs ti01"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,-96],"id":"e174732f-8c92-4321-86c7-c7552104839f","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"14gGXod5FmPuZJ5h","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5850de6d-ca3d-4b10-af40-4486e33b05bc","name":"","value":"=https://docs.google.com/document/d/{{ $('Update a document').item.json.documentId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-96],"id":"fbb2818f-8b8a-4f15-8d6e-dc4e8df6a9f9","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Corpo":"# CONTRATO DE PRESTAÇÃO DE SERVIÇOS\n\n**VERSÃO REVISADA COM BLINDAGEM TRABALHISTA**\n\n---\n\nPelo presente instrumento particular e na melhor forma de direito, as Partes:\n\n**CONTRATANTE:** XXXXXXXXXXXXXXXXXXXXX, Limitada Unipessoal (ME), com sede na Rua xxxxxxxx, xxxxx, Sala xx, Bairro xxxxxxxxxxxxxxx, na cidade de xxxxxxxxxx - xx, CEP: xxxxxxxxxxx, inscrita no CNPJ/ME sob o n. xxxxxxxxxxxxxxxxxxxx, neste ato representada por sua representante legal xxxxxxxxxxxxxxxxxxxxxx (\"CONTRATANTE\");\n\n**CONTRATADA:** CAMOZZI CONSULTORIA E TREINAMENTOS LTDA., inscrita no CNPJ sob o nº 21.264.777/0001-33, com endereço situado à RUA 01, N° 933, OESTE, CEP: 74.115-040, GOIÂNIA - GO (\"CONTRATADA\"), neste ato representada por seu representante legal.\n\nSendo a CONTRATANTE e a CONTRATADA doravante denominadas em conjunto \"Partes\", e individualmente, \"Parte\".\n\n**RESOLVEM** as Partes, de comum acordo, celebrar o presente Contrato de Prestação de Serviços (o \"Contrato\" ou \"Instrumento\"), nos termos da Lei n. 10.406 de 2002 (\"Código Civil\"), o qual será regido mediante as seguintes cláusulas e disposições:\n\n---\n**CONTRATANTE:**\n\n_________________________________\n[Nome da empresa contratante]\n\n**CONTRATADA:**\n\n_________________________________\nCAMOZZI CONSULTORIA E TREINAMENTOS LTDA\n\n**TESTEMUNHAS:**\n\n1. _________________________________\n   Nome:\n   RG:\n   CPF:\n\n2. _________________________________\n   Nome:\n   RG:\n   CPF:\n\n---\n\n**DOCUMENTO REVISADO POR:** Dra. Denise - Advogada Especialista em Direito do Trabalho  \n**DATA DA REVISÃO:** Setembro de 2025  \n**OBJETIVO:** Blindagem Trabalhista Completa"}}]},"versionId":"e9d4ec60-22e4-4c97-91e7-2032e7c8f3b0","activeVersionId":"e9d4ec60-22e4-4c97-91e7-2032e7c8f3b0","triggerCount":0,"shared":[{"updatedAt":"2025-09-16T11:54:22.865Z","createdAt":"2025-09-16T11:54:22.865Z","role":"workflow:owner","workflowId":"nDA3mYbBEl5jH83p","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"e9d4ec60-22e4-4c97-91e7-2032e7c8f3b0","workflowId":"nDA3mYbBEl5jH83p","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Corpo"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-96],"id":"9c5871c5-8b8f-43dd-b774-c4f4cde9a873","name":"When Executed by Another Workflow"},{"parameters":{"folderId":"1pGgdYF702s9CXKT0oO-gIuWiZtlxVCWP","title":"=Teste - {{ $now }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-80,-96],"id":"835315a6-ebe8-4136-b976-a0102dc01266","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"l4JShKcRObBKsZ3G","name":"Google Docs ti01"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('When Executed by Another Workflow').item.json.Corpo }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[144,-96],"id":"7616b9fa-6998-465c-a227-dc14acc8be2e","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"l4JShKcRObBKsZ3G","name":"Google Docs ti01"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,-96],"id":"e174732f-8c92-4321-86c7-c7552104839f","name":"Share file","credentials":{"googleDriveOAuth2Api":{"id":"14gGXod5FmPuZJ5h","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5850de6d-ca3d-4b10-af40-4486e33b05bc","name":"","value":"=https://docs.google.com/document/d/{{ $('Update a document').item.json.documentId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-96],"id":"fbb2818f-8b8a-4f15-8d6e-dc4e8df6a9f9","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}