subflow---tasks-bilhon-fRWOhxBwGoWNup0q.json
{"updatedAt":"2025-09-22T15:27:31.384Z","createdAt":"2025-09-18T17:50:22.757Z","id":"fRWOhxBwGoWNup0q","name":"SubFlow - Tasks Bilhon","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"871cc507-af3f-4f76-ba11-43745b57be86","name":"prompt-5w2h-estruturado","value":"=# Prompt - 5W2H JSON Estrito para n8n\n\n## Contexto\nAnalise as mensagens do grupo WhatsApp e identifique TAREFAS/ATIVIDADES discutidas e estruture no formato 5W2H.\n\n## REGRAS CRÍTICAS PARA JSON\n1. Retorne APENAS JSON válido\n2. NÃO adicione texto antes ou depois\n3. NÃO use markdown (```json)\n4. NÃO explique o resultado\n5. Use APENAS aspas duplas\n6. Escape caracteres especiais\n\n## Formato OBRIGATÓRIO\n\n[\n  {\n    \"tarefa_identificada\": \"string\",\n    \"resumo_geral\": \"string\",\n    \"contexto_completo\": \"string\",\n    \"what_o_que\": \"string\",\n    \"why_por_que\": \"string\", \n    \"who_quem\": [\"string\"],\n    \"where_onde\": \"string\",\n    \"when_quando\": \"string\",\n    \"how_como\": [\"string\"],\n    \"how_much_quanto\": \"string\",\n    \"participantes\": [\"string\"],\n    \"horario_inicio\": \"HH:MM\",\n    \"status_definicao\": \"completo\"\n  }\n]\n\n## Valores para status_definicao\n- \"completo\": Todos os 5W2H foram definidos\n- \"parcial\": Alguns elementos definidos, outros pendentes  \n- \"pendente\": Projeto mencionado mas sem definições claras\n\n## Exemplos de Escape\n- Aspas internas: \"Ele disse \\\"vamos fazer\\\"\"\n- Quebras de linha: \"Primeira linha\\\\nSegunda linha\"\n- Barra invertida: \"Caminho\\\\pasta\\\\arquivo\"\n\n## Se não houver tarefas\nRetorne apenas: []\n\n## Instruções para Campos de Contexto\n\n**resumo_geral**: Descreva a tarefa de forma completa, incluindo sua importância e impacto esperado\n**contexto_completo**: Explique como a tarefa surgiu na conversa, sequência de mensagens e relação com outras atividades\n\n## Exemplos de Tarefas a Identificar\n- Solicitações (\"manda convite da furion\")\n- Implementações (\"subir infraestrutura\") \n- Criação de conteúdo (\"novos ads estáticos\")\n- Correções (\"contingência dos números\")\n- Agendamentos (\"vai subir anúncio amanhã\")\n\n## Exemplo de Saída Esperada\n```json\n[\n  {\n    \"tarefa_identificada\": \"Envio de convite Furion para email específico\",\n    \"resumo_geral\": \"Homer solicitou que seja enviado convite da plataforma Furion para o email audiovisual@bilhon.com, indicando necessidade de acesso para nova pessoa da equipe audiovisual\",\n    \"contexto_completo\": \"A solicitação surgiu quando Homer mencionou @555195512619 pedindo para enviar o convite, seguido imediatamente pela informação do email de destino. Parece ser parte do processo de onboarding de novo membro da equipe\",\n    \"what_o_que\": \"Enviar convite de acesso à plataforma Furion\",\n    \"why_por_que\": \"Dar acesso à nova pessoa da equipe audiovisual\",\n    \"who_quem\": [\"Homer\", \"Responsável por envios\"],\n    \"where_onde\": \"Email audiovisual@bilhon.com\",\n    \"when_quando\": \"Solicitado em 14:50, prazo não especificado\",\n    \"how_como\": [\"Gerar convite na plataforma Furion\", \"Enviar por email\"],\n    \"how_much_quanto\": \"Sem custo adicional mencionado\",\n    \"participantes\": [\"Homer\"],\n    \"horario_inicio\": \"14:50\",\n    \"status_definicao\": \"parcial\"\n  }\n]\n```\n\n## Validação Final\nAntes de retornar, verifique:\n✓ JSON válido (teste em jsonlint.com mentalmente)\n✓ Todas as aspas fechadas\n✓ Todas as chaves fechadas  \n✓ Vírgulas corretas\n✓ Array fechado com ]","type":"string"},{"id":"f64da87e-6ca2-4f58-bc17-38cbba9d1368","name":"prompt-atividades-praticas","value":"=# Prompt - Extrator de Atividades Práticas do WhatsApp\n\n## Contexto\nHoje é dia {{ $now.format('dd-MM-yyyy') }} no formato DD-MM-YYYY. Analise as mensagens do grupo WhatsApp de ontem e extraia APENAS atividades práticas e estratégias que foram discutidas.\n\n## Objetivo\nIdentificar práticas, estratégias e atividades específicas mencionadas nas conversas, organizando-as de forma clara e acionável.\n\n## Instruções\n- Foque APENAS em atividades práticas mencionadas\n- Extraia estratégias e métodos específicos citados\n- Destaque ferramentas e tecnologias mencionadas\n- Organize por categorias de atividade\n- Seja conciso e direto\n- Inclua resumo final com stack recomendada\n\n## Formato de Saída\n\n```\nCom base nas discussões recentes no grupo sobre [tema principal], aqui estão as principais práticas que foram mencionadas:\n\n- **[Categoria de Atividade]**: [Descrição específica da prática, ferramentas mencionadas, resultados citados pelos participantes]\n\n- **[Categoria de Atividade 2]**: [Continuação seguindo o mesmo padrão]\n\n- **[Ferramentas Mencionadas]**: [Lista das tecnologias e ferramentas específicas citadas nas conversas]\n\n**Resumo:**\n[Síntese das principais estratégias identificadas, stack recomendada pelos participantes e benefícios mencionados]\n```\n\n## Categorias Sugeridas\n- Automação e Integração\n- Ferramentas e Tecnologias\n- Processos e Metodologias\n- Gestão e Monitoramento\n- Implementação e Deploy\n- Otimização e Performance\n\n## Critérios de Seleção\n- Apenas conversas sobre implementações práticas\n- Discussões que mencionem ferramentas específicas\n- Estratégias com resultados ou métricas citadas\n- Processos testados ou em uso pelos participantes\n- Ignore teoria sem aplicação prática\n- Foque em ações replicáveis e específicas","type":"string"},{"id":"184d3300-8353-4a91-9345-aad43ca0a9bd","name":"prompt-resumo-tematico","value":"=# Prompt - Resumo Temático de Conversas WhatsApp\n\n## Contexto\nHoje é dia {{ $now.format('dd-MM-yyyy') }} no formato DD-MM-YYYY. Analise as mensagens do grupo WhatsApp de ontem e gere um resumo temático focado nos principais assuntos discutidos.\n\n## Objetivo\nCriar um resumo organizado por temas principais, destacando desenvolvimentos, projetos práticos e possibilidades integradas.\n\n## Instruções\n- Agrupe discussões por tema principal\n- Foque em projetos práticos e implementações\n- Destaque integrações e automações mencionadas\n- Seja específico sobre tecnologias e ferramentas citadas\n- Inclua resumo final com objetivos identificados\n\n## Formato de Saída\n\n```\nCom base no histórico recente do grupo, os principais temas discutidos envolvem:\n\n- **[Nome do Tema]**: [Descrição detalhada das discussões, quem participou, que tecnologias foram mencionadas, exemplos práticos citados]\n\n- **[Nome do Tema 2]**: [Continuação seguindo o mesmo padrão]\n\n- **Resumo**: [Síntese dos objetivos gerais identificados e próximos passos sugeridos pelas discussões]\n\nSe precisar de detalhes sobre algum ponto específico, posso aprofundar a busca nos registros recentes.\n```\n\n## Critérios de Seleção\n- Apenas conversas sobre projetos, tecnologia e implementações\n- Ignore conversas pessoais ou informais\n- Foque em discussões que mencionem ferramentas específicas\n- Destaque ideias de automação e integração\n- Inclua exemplos práticos mencionados pelos participantes","type":"string"},{"id":"949e1494-e6d0-4e96-8fac-43bf4e2633e6","name":"prompt-assuntos-diretos","value":"=# Prompt - Extrator de Assuntos Diretos e Objetivos\n\n## Contexto\nHoje é dia {{ $now.format('dd-MM-yyyy') }} no formato DD-MM-YYYY. Analise as mensagens do grupo WhatsApp de ontem e extraia APENAS os assuntos principais de forma direta e objetiva.\n\n## Objetivo\nGerar uma lista concisa de assuntos discutidos com foco em ações e atividades específicas. SEM TEXTOS LONGOS.\n\n## Instruções\n- Seja EXTREMAMENTE conciso\n- Liste apenas assuntos acionáveis\n- Inclua autor e horário\n- Máximo 2 linhas por assunto\n- Foque em atividades específicas\n- Ignore conversas informais\n\n## Formato de Saída\n\n```\nASSUNTOS\n\n**[Nome do Assunto]** - [Autor] ([HH:MM])\n- [Ação específica mencionada em 1 linha máximo]\n- [Resultado ou próximo passo em 1 linha máximo]\n\n**[Nome do Assunto 2]** - [Autor] ([HH:MM])\n- [Ação específica mencionada em 1 linha máximo]\n- [Resultado ou próximo passo em 1 linha máximo]\n```\n\n## Exemplo de Saída Esperada\n\n```\nASSUNTOS\n\n**Pitch e Estratégias de Venda** - Eduardo Heluany (12:51)\n- Pitch será de 25k incluindo Furion trimestral para alunos\n- Promoção pós-evento: Furion + Gerador de Webinários com 30% comissão\n\n**Implementação de Automação** - Maria Silva (14:20)\n- Configurar n8n para integração com Supabase\n- Teste agendado para sexta-feira pela manhã\n```\n\n## Critérios Rigorosos\n- Máximo 10 assuntos por análise\n- Apenas discussões com ações específicas mencionadas\n- Ignore conversas sem definição clara\n- Priorize assuntos com prazos ou responsáveis\n- NÃO inclua resumos longos ou contextualizações\n- FOQUE em atividades que geram resultado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,432],"id":"48ee914c-c62f-4e06-b933-f94adfb1a4a6","name":"Edit Fields"},{"parameters":{"jsCode":"// Obtém os dados da entrada\nconst items = $input.all();\n\n// Pega os nomes das colunas (cabeçalhos)\nconst headers = Object.keys(items[0].json);\nconst csvRows = [headers.join(\",\")];\n\n// Adiciona cada linha convertida para CSV (sem aspas)\nfor (const item of items) {\n  const row = headers.map(key => String(item.json[key] ?? \"\"));\n  csvRows.push(row.join(\",\"));\n}\n\n// Retorna como string única no campo `csv`\nreturn [\n  {\n    json: {\n      csv: csvRows.join(\"\\n\")\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,432],"id":"f650abc2-085d-42b0-9ccc-567c00597487","name":"Format CSV DataBase"},{"parameters":{"workflowInputs":{"values":[{"name":"grupo_id"},{"name":"msgs","type":"array"}]}},"id":"4f375d6c-5c2f-4a82-a784-dce47f313bcc","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,432]},{"parameters":{"fieldToSplitOut":"msgs","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[496,432],"id":"974aa9f4-39dd-4c4f-858f-060c0514acda","name":"Split Out1"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"Claudio Camozzi","searchMethod":"groupJid","groupJid":"={{ $('Start').last().json.grupo_id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[944,432],"id":"d1b4209b-ae61-4b2b-ad0b-d087141428d2","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1464,656],"id":"843aed67-f653-4cf9-871a-50243b10fa5c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2192,528],"id":"e3ad958b-c078-43ce-8a1a-f77017444535","name":"Loop Over Items1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,456],"id":"b734aacb-26e1-4e9b-a97a-4668b6ba4b2e","name":"Wait3","webhookId":"0f7b8174-0fd8-4599-93c3-5ffe718b3de9"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=556294342576"},{"name":"text","value":"=📋 *Tarefa: {{ $json.tarefa_identificada }}*\n\n👥 _Grupo:_ {{ $('Buscar grupos').item.json.data.subject }}\n👤 _Participantes:_ {{ $json.participantes }}\n\n🎯 *O QUÊ:* {{ $json.what_o_que }}\n💡 *POR QUÊ:* {{ $json.why_por_que }}\n👨‍💼 *QUEM:* {{ $json.who_quem }}\n📍 *ONDE:* {{ $json.where_onde }}\n⏰ *QUANDO:* {{ $json.when_quando }}\n🔧 *COMO:* {{ $json.how_como }}\n📊 *Status:* {{ $json.status_definicao }}\n\n📝 *RESUMO GERAL:* {{ $json.resumo_geral }}\n\n📂 *CONTEXTO COMPLETO:* {{ $json.contexto_completo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,528],"id":"58b4f048-19f1-403b-a0a0-1af5ec33db84","name":"Enviando Transcrição3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6e3944f-4939-4b73-b34b-d18b6122eb8a","leftValue":"={{ $json.data }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,336],"id":"c5e09be5-6a16-4c60-987c-7b53426e9249","name":"If1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=556294342576"},{"name":"text","value":"=Segue tarefas do grupo: {{ $('Buscar grupos').item.json.data.subject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,336],"id":"876c1678-4a39-48f3-bd9a-4dfc10a1b847","name":"Enviando Transcrição4"},{"parameters":{"promptType":"define","text":"={{ $('Format CSV DataBase').item.json.csv }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json['prompt-5w2h-estruturado'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1392,432],"id":"da505c30-9eae-4413-a4f7-326a727cc0ac","name":"Análise 5W2H"},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"tarefa_identificada\": {\n        \"type\": \"string\",\n        \"description\": \"Nome específico da tarefa ou atividade identificada na conversa\"\n      },\n      \"what_o_que\": {\n        \"type\": \"string\",\n        \"description\": \"O que será implementado/realizado especificamente\"\n      },\n      \"why_por_que\": {\n        \"type\": \"string\", \n        \"description\": \"Justificativa e objetivos mencionados\"\n      },\n      \"who_quem\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Lista de responsáveis mencionados ou sugeridos\"\n      },\n      \"where_onde\": {\n        \"type\": \"string\",\n        \"description\": \"Locais, plataformas ou ambientes citados\"\n      },\n      \"when_quando\": {\n        \"type\": \"string\",\n        \"description\": \"Prazos ou cronograma mencionado\"\n      },\n      \"how_como\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Lista específica de ações, ferramentas e métodos citados\"\n      },\n      \"how_much_quanto\": {\n        \"type\": \"string\",\n        \"description\": \"Custos, recursos ou investimentos mencionados\"\n      },\n      \"participantes\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Todos que participaram da discussão\"\n      },\n      \"horario_inicio\": {\n        \"type\": \"string\",\n        \"description\": \"Horário de início da discussão no formato HH:MM\"\n      },\n      \"status_definicao\": {\n        \"type\": \"string\",\n        \"enum\": [\"completo\", \"parcial\", \"pendente\"],\n        \"description\": \"Se a tarefa está totalmente definida, parcialmente ou pendente de definições\"\n      }\n    }\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[272,760],"id":"0454fe87-0b4f-4df8-b9da-5368b11c6264","name":"Structured Output Parser1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5969d558-7ea4-4902-bbec-dc7dbeacf402","name":"data","value":"={{ $json.output }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,432],"id":"26b4a7f5-3a9a-4d5b-a962-bb29be173e6f","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1968,528],"id":"3425c00f-d0b9-4a10-9f86-73230d457a1e","name":"Split Out"}],"connections":{"Format CSV DataBase":{"main":[[{"node":"Buscar grupos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Análise 5W2H","type":"main","index":0}]]},"Start":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Format CSV DataBase","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Análise 5W2H","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Enviando Transcrição3","type":"main","index":0}]]},"Enviando Transcrição3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviando Transcrição4","type":"main","index":0}]]},"Análise 5W2H":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"grupo_id":"120363420946777488@g.us","msgs":[{"id":37863,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"@555195512619 manda convite da furion nesse email, please","data_mensagem":"2025-09-21 14:50:15","nome-autor":"homer 📍🇺🇸","numero-autor":"555198625669@s.whatsapp.net"},{"id":37864,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"audiovisual@bilhon.com","data_mensagem":"2025-09-21 14:50:18","nome-autor":"homer 📍🇺🇸","numero-autor":"555198625669@s.whatsapp.net"},{"id":37865,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"meu print saiu com qualidade de uma batata doce, enfim, contingência dos números em dashboard","data_mensagem":"2025-09-21 15:05:49","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37866,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"valeuuuuuuuuuuuuuuu","data_mensagem":"2025-09-21 15:52:06","nome-autor":"homer 📍🇺🇸","numero-autor":"555198625669@s.whatsapp.net"},{"id":37921,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"N8N tá gigante fio","data_mensagem":"2025-09-21 19:18:12","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37922,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"Esquece","data_mensagem":"2025-09-21 19:18:15","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37923,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"🔥","data_mensagem":"2025-09-21 19:18:17","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37942,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"@556296960102 @17744204272\n\nAcabei de subir a nossa infra-estrutura em self-hosting, todas aplicações estão rodando normal, ativas ✅","data_mensagem":"2025-09-21 19:58:50","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37943,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"Disparados ilimitados de N8N ✅","data_mensagem":"2025-09-21 19:59:02","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37953,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"VPS on?","data_mensagem":"2025-09-21 20:22:14","nome-autor":"Cláudio Camozzi","numero-autor":"556296960102@s.whatsapp.net"},{"id":37954,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"Isso","data_mensagem":"2025-09-21 20:22:53","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37967,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"Novos ads estáticos para semana que vem by @5519971163478 😍","data_mensagem":"2025-09-21 21:20:59","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37969,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"@555496567057 Vai passar o dia inteiro subindo anúncio amanhã, RIP","data_mensagem":"2025-09-21 21:22:26","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"},{"id":37973,"grupo_id":"120363420946777488@g.us-bilhon","usuario_id":3,"mensagem":"KKK","data_mensagem":"2025-09-21 21:28:33","nome-autor":"Guilherme","numero-autor":"555195512619@s.whatsapp.net"}]}}]},"versionId":"55b6fe29-d034-401e-b283-2ecb7e746779","activeVersionId":"55b6fe29-d034-401e-b283-2ecb7e746779","triggerCount":0,"shared":[{"updatedAt":"2025-09-18T17:50:22.757Z","createdAt":"2025-09-18T17:50:22.757Z","role":"workflow:owner","workflowId":"fRWOhxBwGoWNup0q","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"55b6fe29-d034-401e-b283-2ecb7e746779","workflowId":"fRWOhxBwGoWNup0q","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"871cc507-af3f-4f76-ba11-43745b57be86","name":"prompt-5w2h-estruturado","value":"=# Prompt - 5W2H JSON Estrito para n8n\n\n## Contexto\nAnalise as mensagens do grupo WhatsApp e identifique TAREFAS/ATIVIDADES discutidas e estruture no formato 5W2H.\n\n## REGRAS CRÍTICAS PARA JSON\n1. Retorne APENAS JSON válido\n2. NÃO adicione texto antes ou depois\n3. NÃO use markdown (```json)\n4. NÃO explique o resultado\n5. Use APENAS aspas duplas\n6. Escape caracteres especiais\n\n## Formato OBRIGATÓRIO\n\n[\n  {\n    \"tarefa_identificada\": \"string\",\n    \"resumo_geral\": \"string\",\n    \"contexto_completo\": \"string\",\n    \"what_o_que\": \"string\",\n    \"why_por_que\": \"string\", \n    \"who_quem\": [\"string\"],\n    \"where_onde\": \"string\",\n    \"when_quando\": \"string\",\n    \"how_como\": [\"string\"],\n    \"how_much_quanto\": \"string\",\n    \"participantes\": [\"string\"],\n    \"horario_inicio\": \"HH:MM\",\n    \"status_definicao\": \"completo\"\n  }\n]\n\n## Valores para status_definicao\n- \"completo\": Todos os 5W2H foram definidos\n- \"parcial\": Alguns elementos definidos, outros pendentes  \n- \"pendente\": Projeto mencionado mas sem definições claras\n\n## Exemplos de Escape\n- Aspas internas: \"Ele disse \\\"vamos fazer\\\"\"\n- Quebras de linha: \"Primeira linha\\\\nSegunda linha\"\n- Barra invertida: \"Caminho\\\\pasta\\\\arquivo\"\n\n## Se não houver tarefas\nRetorne apenas: []\n\n## Instruções para Campos de Contexto\n\n**resumo_geral**: Descreva a tarefa de forma completa, incluindo sua importância e impacto esperado\n**contexto_completo**: Explique como a tarefa surgiu na conversa, sequência de mensagens e relação com outras atividades\n\n## Exemplos de Tarefas a Identificar\n- Solicitações (\"manda convite da furion\")\n- Implementações (\"subir infraestrutura\") \n- Criação de conteúdo (\"novos ads estáticos\")\n- Correções (\"contingência dos números\")\n- Agendamentos (\"vai subir anúncio amanhã\")\n\n## Exemplo de Saída Esperada\n```json\n[\n  {\n    \"tarefa_identificada\": \"Envio de convite Furion para email específico\",\n    \"resumo_geral\": \"Homer solicitou que seja enviado convite da plataforma Furion para o email audiovisual@bilhon.com, indicando necessidade de acesso para nova pessoa da equipe audiovisual\",\n    \"contexto_completo\": \"A solicitação surgiu quando Homer mencionou @555195512619 pedindo para enviar o convite, seguido imediatamente pela informação do email de destino. Parece ser parte do processo de onboarding de novo membro da equipe\",\n    \"what_o_que\": \"Enviar convite de acesso à plataforma Furion\",\n    \"why_por_que\": \"Dar acesso à nova pessoa da equipe audiovisual\",\n    \"who_quem\": [\"Homer\", \"Responsável por envios\"],\n    \"where_onde\": \"Email audiovisual@bilhon.com\",\n    \"when_quando\": \"Solicitado em 14:50, prazo não especificado\",\n    \"how_como\": [\"Gerar convite na plataforma Furion\", \"Enviar por email\"],\n    \"how_much_quanto\": \"Sem custo adicional mencionado\",\n    \"participantes\": [\"Homer\"],\n    \"horario_inicio\": \"14:50\",\n    \"status_definicao\": \"parcial\"\n  }\n]\n```\n\n## Validação Final\nAntes de retornar, verifique:\n✓ JSON válido (teste em jsonlint.com mentalmente)\n✓ Todas as aspas fechadas\n✓ Todas as chaves fechadas  \n✓ Vírgulas corretas\n✓ Array fechado com ]","type":"string"},{"id":"f64da87e-6ca2-4f58-bc17-38cbba9d1368","name":"prompt-atividades-praticas","value":"=# Prompt - Extrator de Atividades Práticas do WhatsApp\n\n## Contexto\nHoje é dia {{ $now.format('dd-MM-yyyy') }} no formato DD-MM-YYYY. Analise as mensagens do grupo WhatsApp de ontem e extraia APENAS atividades práticas e estratégias que foram discutidas.\n\n## Objetivo\nIdentificar práticas, estratégias e atividades específicas mencionadas nas conversas, organizando-as de forma clara e acionável.\n\n## Instruções\n- Foque APENAS em atividades práticas mencionadas\n- Extraia estratégias e métodos específicos citados\n- Destaque ferramentas e tecnologias mencionadas\n- Organize por categorias de atividade\n- Seja conciso e direto\n- Inclua resumo final com stack recomendada\n\n## Formato de Saída\n\n```\nCom base nas discussões recentes no grupo sobre [tema principal], aqui estão as principais práticas que foram mencionadas:\n\n- **[Categoria de Atividade]**: [Descrição específica da prática, ferramentas mencionadas, resultados citados pelos participantes]\n\n- **[Categoria de Atividade 2]**: [Continuação seguindo o mesmo padrão]\n\n- **[Ferramentas Mencionadas]**: [Lista das tecnologias e ferramentas específicas citadas nas conversas]\n\n**Resumo:**\n[Síntese das principais estratégias identificadas, stack recomendada pelos participantes e benefícios mencionados]\n```\n\n## Categorias Sugeridas\n- Automação e Integração\n- Ferramentas e Tecnologias\n- Processos e Metodologias\n- Gestão e Monitoramento\n- Implementação e Deploy\n- Otimização e Performance\n\n## Critérios de Seleção\n- Apenas conversas sobre implementações práticas\n- Discussões que mencionem ferramentas específicas\n- Estratégias com resultados ou métricas citadas\n- Processos testados ou em uso pelos participantes\n- Ignore teoria sem aplicação prática\n- Foque em ações replicáveis e específicas","type":"string"},{"id":"184d3300-8353-4a91-9345-aad43ca0a9bd","name":"prompt-resumo-tematico","value":"=# Prompt - Resumo Temático de Conversas WhatsApp\n\n## Contexto\nHoje é dia {{ $now.format('dd-MM-yyyy') }} no formato DD-MM-YYYY. Analise as mensagens do grupo WhatsApp de ontem e gere um resumo temático focado nos principais assuntos discutidos.\n\n## Objetivo\nCriar um resumo organizado por temas principais, destacando desenvolvimentos, projetos práticos e possibilidades integradas.\n\n## Instruções\n- Agrupe discussões por tema principal\n- Foque em projetos práticos e implementações\n- Destaque integrações e automações mencionadas\n- Seja específico sobre tecnologias e ferramentas citadas\n- Inclua resumo final com objetivos identificados\n\n## Formato de Saída\n\n```\nCom base no histórico recente do grupo, os principais temas discutidos envolvem:\n\n- **[Nome do Tema]**: [Descrição detalhada das discussões, quem participou, que tecnologias foram mencionadas, exemplos práticos citados]\n\n- **[Nome do Tema 2]**: [Continuação seguindo o mesmo padrão]\n\n- **Resumo**: [Síntese dos objetivos gerais identificados e próximos passos sugeridos pelas discussões]\n\nSe precisar de detalhes sobre algum ponto específico, posso aprofundar a busca nos registros recentes.\n```\n\n## Critérios de Seleção\n- Apenas conversas sobre projetos, tecnologia e implementações\n- Ignore conversas pessoais ou informais\n- Foque em discussões que mencionem ferramentas específicas\n- Destaque ideias de automação e integração\n- Inclua exemplos práticos mencionados pelos participantes","type":"string"},{"id":"949e1494-e6d0-4e96-8fac-43bf4e2633e6","name":"prompt-assuntos-diretos","value":"=# Prompt - Extrator de Assuntos Diretos e Objetivos\n\n## Contexto\nHoje é dia {{ $now.format('dd-MM-yyyy') }} no formato DD-MM-YYYY. Analise as mensagens do grupo WhatsApp de ontem e extraia APENAS os assuntos principais de forma direta e objetiva.\n\n## Objetivo\nGerar uma lista concisa de assuntos discutidos com foco em ações e atividades específicas. SEM TEXTOS LONGOS.\n\n## Instruções\n- Seja EXTREMAMENTE conciso\n- Liste apenas assuntos acionáveis\n- Inclua autor e horário\n- Máximo 2 linhas por assunto\n- Foque em atividades específicas\n- Ignore conversas informais\n\n## Formato de Saída\n\n```\nASSUNTOS\n\n**[Nome do Assunto]** - [Autor] ([HH:MM])\n- [Ação específica mencionada em 1 linha máximo]\n- [Resultado ou próximo passo em 1 linha máximo]\n\n**[Nome do Assunto 2]** - [Autor] ([HH:MM])\n- [Ação específica mencionada em 1 linha máximo]\n- [Resultado ou próximo passo em 1 linha máximo]\n```\n\n## Exemplo de Saída Esperada\n\n```\nASSUNTOS\n\n**Pitch e Estratégias de Venda** - Eduardo Heluany (12:51)\n- Pitch será de 25k incluindo Furion trimestral para alunos\n- Promoção pós-evento: Furion + Gerador de Webinários com 30% comissão\n\n**Implementação de Automação** - Maria Silva (14:20)\n- Configurar n8n para integração com Supabase\n- Teste agendado para sexta-feira pela manhã\n```\n\n## Critérios Rigorosos\n- Máximo 10 assuntos por análise\n- Apenas discussões com ações específicas mencionadas\n- Ignore conversas sem definição clara\n- Priorize assuntos com prazos ou responsáveis\n- NÃO inclua resumos longos ou contextualizações\n- FOQUE em atividades que geram resultado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,432],"id":"48ee914c-c62f-4e06-b933-f94adfb1a4a6","name":"Edit Fields"},{"parameters":{"jsCode":"// Obtém os dados da entrada\nconst items = $input.all();\n\n// Pega os nomes das colunas (cabeçalhos)\nconst headers = Object.keys(items[0].json);\nconst csvRows = [headers.join(\",\")];\n\n// Adiciona cada linha convertida para CSV (sem aspas)\nfor (const item of items) {\n  const row = headers.map(key => String(item.json[key] ?? \"\"));\n  csvRows.push(row.join(\",\"));\n}\n\n// Retorna como string única no campo `csv`\nreturn [\n  {\n    json: {\n      csv: csvRows.join(\"\\n\")\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,432],"id":"f650abc2-085d-42b0-9ccc-567c00597487","name":"Format CSV DataBase"},{"parameters":{"workflowInputs":{"values":[{"name":"grupo_id"},{"name":"msgs","type":"array"}]}},"id":"4f375d6c-5c2f-4a82-a784-dce47f313bcc","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,432]},{"parameters":{"fieldToSplitOut":"msgs","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[496,432],"id":"974aa9f4-39dd-4c4f-858f-060c0514acda","name":"Split Out1"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"Claudio Camozzi","searchMethod":"groupJid","groupJid":"={{ $('Start').last().json.grupo_id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[944,432],"id":"d1b4209b-ae61-4b2b-ad0b-d087141428d2","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1464,656],"id":"843aed67-f653-4cf9-871a-50243b10fa5c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2192,528],"id":"e3ad958b-c078-43ce-8a1a-f77017444535","name":"Loop Over Items1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,456],"id":"b734aacb-26e1-4e9b-a97a-4668b6ba4b2e","name":"Wait3","webhookId":"0f7b8174-0fd8-4599-93c3-5ffe718b3de9"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=556294342576"},{"name":"text","value":"=📋 *Tarefa: {{ $json.tarefa_identificada }}*\n\n👥 _Grupo:_ {{ $('Buscar grupos').item.json.data.subject }}\n👤 _Participantes:_ {{ $json.participantes }}\n\n🎯 *O QUÊ:* {{ $json.what_o_que }}\n💡 *POR QUÊ:* {{ $json.why_por_que }}\n👨‍💼 *QUEM:* {{ $json.who_quem }}\n📍 *ONDE:* {{ $json.where_onde }}\n⏰ *QUANDO:* {{ $json.when_quando }}\n🔧 *COMO:* {{ $json.how_como }}\n📊 *Status:* {{ $json.status_definicao }}\n\n📝 *RESUMO GERAL:* {{ $json.resumo_geral }}\n\n📂 *CONTEXTO COMPLETO:* {{ $json.contexto_completo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,528],"id":"58b4f048-19f1-403b-a0a0-1af5ec33db84","name":"Enviando Transcrição3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6e3944f-4939-4b73-b34b-d18b6122eb8a","leftValue":"={{ $json.data }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,336],"id":"c5e09be5-6a16-4c60-987c-7b53426e9249","name":"If1"},{"parameters":{"method":"POST","url":"=https://evolutionapi-evolutionapi.ac69mn.easypanel.host/message/SendText/notificacoes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=o43h6kACBsSlJiiUCbTkdMXrj9FYEe0c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=556294342576"},{"name":"text","value":"=Segue tarefas do grupo: {{ $('Buscar grupos').item.json.data.subject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,336],"id":"876c1678-4a39-48f3-bd9a-4dfc10a1b847","name":"Enviando Transcrição4"},{"parameters":{"promptType":"define","text":"={{ $('Format CSV DataBase').item.json.csv }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json['prompt-5w2h-estruturado'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1392,432],"id":"da505c30-9eae-4413-a4f7-326a727cc0ac","name":"Análise 5W2H"},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"tarefa_identificada\": {\n        \"type\": \"string\",\n        \"description\": \"Nome específico da tarefa ou atividade identificada na conversa\"\n      },\n      \"what_o_que\": {\n        \"type\": \"string\",\n        \"description\": \"O que será implementado/realizado especificamente\"\n      },\n      \"why_por_que\": {\n        \"type\": \"string\", \n        \"description\": \"Justificativa e objetivos mencionados\"\n      },\n      \"who_quem\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Lista de responsáveis mencionados ou sugeridos\"\n      },\n      \"where_onde\": {\n        \"type\": \"string\",\n        \"description\": \"Locais, plataformas ou ambientes citados\"\n      },\n      \"when_quando\": {\n        \"type\": \"string\",\n        \"description\": \"Prazos ou cronograma mencionado\"\n      },\n      \"how_como\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Lista específica de ações, ferramentas e métodos citados\"\n      },\n      \"how_much_quanto\": {\n        \"type\": \"string\",\n        \"description\": \"Custos, recursos ou investimentos mencionados\"\n      },\n      \"participantes\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        },\n        \"description\": \"Todos que participaram da discussão\"\n      },\n      \"horario_inicio\": {\n        \"type\": \"string\",\n        \"description\": \"Horário de início da discussão no formato HH:MM\"\n      },\n      \"status_definicao\": {\n        \"type\": \"string\",\n        \"enum\": [\"completo\", \"parcial\", \"pendente\"],\n        \"description\": \"Se a tarefa está totalmente definida, parcialmente ou pendente de definições\"\n      }\n    }\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[272,760],"id":"0454fe87-0b4f-4df8-b9da-5368b11c6264","name":"Structured Output Parser1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5969d558-7ea4-4902-bbec-dc7dbeacf402","name":"data","value":"={{ $json.output }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,432],"id":"26b4a7f5-3a9a-4d5b-a962-bb29be173e6f","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1968,528],"id":"3425c00f-d0b9-4a10-9f86-73230d457a1e","name":"Split Out"}],"connections":{"Format CSV DataBase":{"main":[[{"node":"Buscar grupos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Análise 5W2H","type":"main","index":0}]]},"Start":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Format CSV DataBase","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Análise 5W2H","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Enviando Transcrição3","type":"main","index":0}]]},"Enviando Transcrição3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviando Transcrição4","type":"main","index":0}]]},"Análise 5W2H":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}