telegram-DPkyBMmELgZruD6J.json
{"updatedAt":"2025-08-06T19:49:56.947Z","createdAt":"2025-08-06T02:02:22.850Z","id":"DPkyBMmELgZruD6J","name":"telegram","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-256,-16],"id":"06e609b1-d9b4-4868-920b-cc7e3451e2c5","name":"Telegram Trigger","webhookId":"acda321f-6d6f-4f0f-8c58-53bf25c8f19e","credentials":{"telegramApi":{"id":"dcbzhTQb0Pi6Jevb","name":"Telegram account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-32,-16],"id":"cc9c7abb-645e-4335-8de1-2d4c3b1309f0","name":"Send a photo message","webhookId":"5e1504e7-9450-4c2f-b131-d9d64dd97524","credentials":{"telegramApi":{"id":"dcbzhTQb0Pi6Jevb","name":"Telegram account"}}},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[192,-16],"id":"655721ae-20ae-4bdd-86a5-e945b3a46e5b","name":"Send a text message","webhookId":"703a2841-f037-43c9-9c5c-0cce00c0e9d4","credentials":{"telegramApi":{"id":"dcbzhTQb0Pi6Jevb","name":"Telegram account"}},"disabled":true}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Send a photo message":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":12330504,"message":{"message_id":3,"from":{"id":7751579415,"is_bot":false,"first_name":"Miqueias","language_code":"pt-br"},"chat":{"id":7751579415,"first_name":"Miqueias","type":"private"},"date":1754445762,"text":"teste"}}}]},"versionId":"be2444a0-d7db-41ad-8c83-fa0776ccad27","triggerCount":1,"shared":[{"updatedAt":"2025-08-06T02:02:22.850Z","createdAt":"2025-08-06T02:02:22.850Z","role":"workflow:owner","workflowId":"DPkyBMmELgZruD6J","projectId":"BlSED80HESP48veq"}],"tags":[]}