teste-acelerador-medico-RbGZMrOCQpNAr6l0.json
{"updatedAt":"2025-10-29T15:10:13.136Z","createdAt":"2025-10-29T14:57:25.217Z","id":"RbGZMrOCQpNAr6l0","name":"Teste Acelerador Medico","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aceleradormedico","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"59735412-a178-4416-8417-2ae3860828f2","name":"Webhook","webhookId":"1c0e4697-2200-4397-a521-a6da22b435f9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"689655e5-2ee3-4b37-b84c-663ca26e33fc","leftValue":"={{ $json.body.instance }}","rightValue":"AceleradorMedico","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,0],"id":"f3877bd9-60b6-46e7-8a20-99f9b086ad9e","name":"If12","disabled":true},{"parameters":{"resource":"messages-api","instanceName":"notificacoes","remoteJid":"120363421287017468@g.us","messageText":"=Mensagem recebida de {{ $('Webhook').item.json.body.instance }}\n\n\nWorkflow: {{ $workflow.id }}\nDia: {{ $now.format('dd-MM-yyyy') }}\nHora: {{ $now.format('hh:mm:ss') }}\nExecution: {{ $execution.id }}\n\nLink de Debug: https://primary-production-70c40.up.railway.app/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,0],"id":"db0ee9c7-b1a8-4e0e-b785-56f091c5e7b8","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"V2fpHnZeAReBnCaU","name":"Evolution account"}}}],"connections":{"If12":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If12","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d2371034-76de-4297-8841-4b0a44c0bda2","triggerCount":1,"shared":[{"updatedAt":"2025-10-29T14:57:25.217Z","createdAt":"2025-10-29T14:57:25.217Z","role":"workflow:owner","workflowId":"RbGZMrOCQpNAr6l0","projectId":"BlSED80HESP48veq"}],"tags":[]}