text-to-video-nVCARZ177iUscpUs.json
{"updatedAt":"2025-07-04T23:00:05.913Z","createdAt":"2025-06-30T14:32:27.575Z","id":"nVCARZ177iUscpUs","name":"TEXT-TO-VIDEO","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# 1. Gerar Roteiro","height":340,"width":1340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,-100],"id":"15312ad3-28c5-4602-b7ba-60250891790d","name":"Sticky Note"},{"parameters":{"content":"# 2. Gerar Vídeos\n\n","height":400,"width":1860,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,260],"id":"938738a2-b282-4312-896d-7910d3fb76f6","name":"Sticky Note2"},{"parameters":{"content":"# 3. Gerar Efeitos Sonoros","height":380,"width":1540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,680],"id":"b5dd7227-8dd9-473d-85c5-efe8e035f8a9","name":"Sticky Note3"},{"parameters":{"content":"# 4. Juntar os Clipes no Vídeo Final","height":380,"width":1740,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,1080],"id":"b55cff05-4933-4e80-a721-46b3734c98e2","name":"Sticky Note4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1980,400],"id":"7310d3cd-c066-499b-adb9-b3e7dde6f327","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1620,800],"id":"0a0ef64e-66d3-4ad5-856c-c6fb1da1c947","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"=<Instructions>\n\nCreate an engaging, very detailed story for a short video, based on the idea/story below.\nMake sure to provide detailed description for the characters and the surroundings.\n\n</Instructions>\n\n<Idea>\n{{ $('Formulário').item.json['História'] }}\n</Idea>","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1360,0],"id":"61fde945-a3e3-45e0-a638-eef95e48cf0e","name":"Criar Roteiro","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=<Instructions>\n\nBreak down the following story into a script (for short video) with exacly {{ $('Edit Fields').item.json.number_of_scenes }} scenes.\n\n</Instructions>\n\n<Story>\n{{ $json.output.story }}\n</Story>","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1780,0],"id":"b6c1750e-b671-41af-8126-6522c8ad7701","name":"Gerar Cenas","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=<Instructions>\n\n# Create a detailed scene for the scene below, that consists of\n- A list of characters in the scene, with their detailed description\n- A detailed description of the scene: what's behind the characters\n- Camera movement (if any) in the scene\n- The movement of the objects on the screen in this 5s long clip\n- The description of the sound effects on the screen\n\nUse the full story for reference.\n\n</Instructions>\n\n<Scene>\n{{ $json['output.scenes'] }}\n</Scene>\n\n<FullStory>\n{{ $('Criar Roteiro').item.json.output.story }}\n</FullStory>\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1380,400],"id":"74e69edd-4bd3-46da-bbcd-8310147f3f04","name":"Criar Cena","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"999a81ed-d897-43cf-babe-c05c0d9f2314","leftValue":"={{ $json.output.scenes }}","rightValue":"={{ $('Edit Fields').item.json.number_of_scenes }}","operator":{"type":"array","operation":"lengthEquals","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2180,0],"id":"1c972cb6-9b54-4082-8134-564e0b18b430","name":"Tamanho Correto?"},{"parameters":{"fieldToSplitOut":"output.scenes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2420,40],"id":"7ad024f7-943f-4e46-a5d3-1957b126a090","name":"Dividir as Cenas"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1380,1220],"id":"2b21f0dd-759f-4cc3-9428-7cba6859a72f","name":"Juntar Áudio e Vídeo"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1900,800],"id":"b82161c3-96d3-44a0-af5c-91b408254f98","name":"Esperar Para Adicionar Áudio","webhookId":"e8d6e2f8-2c00-4b80-a18c-3693765b6976"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/ffmpeg-api/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": {{ JSON.stringify($json.data.map((item, index) => ({ url: item.video.url, timestamp: index * 6000, duration: 6000 }))) }}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1220],"id":"2faae6c9-4276-40af-acec-d2a51cebd6af","name":"Compilar Clipes","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1840,1220],"id":"4be54edf-9d2e-47e1-8608-027db93d6620","name":"Esperar Para Compilar os Clipes","webhookId":"b3517d71-5858-45bf-8fc6-7b7a1b7107a6"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,380],"id":"55f21e7d-986b-4e0f-b68b-1ec92e052876","name":"Esperar o Vídeo","webhookId":"e8d6e2f8-2c00-4b80-a18c-3693765b6976"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"},"id":"6fc5bea4-1567-474b-bfca-5394eb303217"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRONTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0882f634-2472-4d24-a1c3-a39f0cd94855","leftValue":"={{ $json.status }}","rightValue":"IN_PROGRESS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCESSANDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6c8b207-13ac-4537-8c5c-677039bc2fef","leftValue":"={{ $json.status }}","rightValue":"IN_QUEUE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NA FILA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2700,380],"id":"cfafc7b4-d3c5-46ba-937d-853ed6d2dd89","name":"Status do Vídeo"},{"parameters":{"url":"={{ $('Loop Over Items').item.json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2940,460],"id":"e785fae0-8665-47ba-8c5d-45ce36a340a5","name":"Pegar Vídeo","alwaysOutputData":false,"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"url":"={{ $('Loop Over Items').item.json.status_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,380],"id":"a3c3141d-7ef9-4784-a0f7-31fb2fdd9f41","name":"Ver Status da Criação","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"url":"={{ $('Começando a Gerar o Áudio').item.json.status_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,800],"id":"c5198fa2-0055-404b-9366-b594f0634922","name":"Ver Status do Áudio","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"},"id":"6fc5bea4-1567-474b-bfca-5394eb303217"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRONTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0882f634-2472-4d24-a1c3-a39f0cd94855","leftValue":"={{ $json.status }}","rightValue":"IN_PROGRESS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCESSANDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6c8b207-13ac-4537-8c5c-677039bc2fef","leftValue":"={{ $json.status }}","rightValue":"IN_QUEUE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NA FILA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2340,800],"id":"40b3f9ab-42d3-4414-85a4-509756a70f08","name":"Status do Áudio"},{"parameters":{"url":"={{ $('Começando a Gerar o Áudio').item.json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,860],"id":"4d5a2d70-b87f-475a-b9c3-a3e9b42424ab","name":"Pegar Áudio","alwaysOutputData":false,"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/mmaudio-v2","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_url","value":"={{ $json.video.url }}"},{"name":"prompt","value":"={{ $('Criar Cena').item.json.output.sound_effects }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,800],"id":"04d1efe8-75b7-40dc-94dc-db33aea5c542","name":"Começando a Gerar o Áudio","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/bytedance/seedance/v1/pro/text-to-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"=<Characters>\n{{ $json.output.characters.map(character => `<Character>\n  <Name>${character.name}</Name>\n  <Description>${character.description}</Description>\n</Character>`).join('\\n') }}\n</Characters>\n\n<SceneDescription>\n{{ $json.output.scene_description }}\n</SceneDescription>\n\n<CameraMovements>\n{{ $json.output.camera_movement }}\n</CameraMovements>\n\n<ObjectMovements>\n{{ $json.output.object_movements }}\n</ObjectMovements>"},{"name":"aspect_ratio","value":"={{ $('Formulário').item.json['Proporção'] }}"},{"name":"resolution","value":"={{ $('Formulário').item.json['Resolução'] }}"},{"name":"duration","value":"={{ $('Formulário').item.json['Duração das Cenas'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,400],"id":"dc6906c5-1b38-4896-ba9e-45a094c74e91","name":"Começando a Gerar o Vídeo","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"url":"={{ $('Compilar Clipes').item.json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,1220],"id":"29818bb2-bb1a-4a11-b77a-907793138330","name":"Pegar Vídeo Pronto","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"url":"={{ $json.video_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1220],"id":"d402a728-26e2-49ca-b5e8-2796b98d6579","name":"Baixar Vídeo Pronto"},{"parameters":{"url":"={{ $('Compilar Clipes').item.json.status_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,1220],"id":"4325fced-7f87-40a2-a123-5c257be9ed13","name":"Ver Status da Compilação","credentials":{"httpHeaderAuth":{"id":"TeULNpZXyYaXk8jn","name":"fal.ia miqueias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"},"id":"6fc5bea4-1567-474b-bfca-5394eb303217"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRONTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0882f634-2472-4d24-a1c3-a39f0cd94855","leftValue":"={{ $json.status }}","rightValue":"IN_PROGRESS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCESSANDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6c8b207-13ac-4537-8c5c-677039bc2fef","leftValue":"={{ $json.status }}","rightValue":"IN_QUEUE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NA FILA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2280,1220],"id":"6232774c-3edb-4e8c-8284-5f58d456d3af","name":"Status da Compilação"},{"parameters":{"assignments":{"assignments":[{"id":"88f1922e-9c90-4d5f-a501-2cd0fdb2ff54","name":"number_of_scenes","value":"={{ $json['Number of scenes'] || 5 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,0],"id":"13ea07f4-2335-49e6-8a91-56a0f380a9af","name":"Edit Fields"},{"parameters":{"formTitle":"Crie um Vídeo de IA com Seedance","formFields":{"values":[{"fieldLabel":"História","fieldType":"textarea","placeholder":"A História do Vídeo","requiredField":true},{"fieldLabel":"Número de Cenas","fieldType":"number","placeholder":"default: 5"},{"fieldLabel":"Proporção","fieldType":"dropdown","fieldOptions":{"values":[{"option":"16:9"},{"option":"9:16"},{"option":"1:1"},{"option":"4:3"},{"option":"3:4"},{"option":"21:9"}]},"requiredField":true},{"fieldLabel":"Resolução","fieldType":"dropdown","fieldOptions":{"values":[{"option":"480p"},{"option":"1080p"}]},"requiredField":true},{"fieldLabel":"Duração das Cenas","fieldType":"dropdown","fieldOptions":{"values":[{"option":"5"},{"option":"10"}]},"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[860,0],"id":"e251db95-7d63-4ca3-8f06-bf3ea446a900","name":"Formulário","webhookId":"1b24d810-a844-4c10-81f9-edcee9a4d0ec"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,720],"id":"25eef4bb-3b23-418e-89ba-e923741fdc42","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bEHAhmQV1LUjIUXy","name":"OpenAi account"}}},{"parameters":{"content":"# Início","height":340,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[780,-100],"id":"000c6f83-8618-4e75-9125-eec8483892b6","name":"Sticky Note6"},{"parameters":{"content":"# Structured Output Parsers","height":300,"width":640,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,260],"id":"21258899-7bca-4f8d-9935-65602011d5f8","name":"Sticky Note1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"characters\": {\n            \"type\": \"array\",\n            \"description\": \"the list of characters in the scene\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"name\": {\n                        \"type\": \"string\",\n                        \"description\": \"the name of the character\"\n                    },\n                    \"description\": {\n                        \"type\": \"string\",\n                        \"description\": \"the detailed description of the character (visual outlook)\"\n                    }\n                },\n                \"required\": [\n                    \"name\",\n                    \"description\"\n                ]\n            }\n        },\n        \"scene_description\": {\n            \"type\": \"string\",\n            \"description\": \"the detailed description of the scene\"\n        },\n        \"camera_movement\": {\n            \"type\": \"string\",\n            \"description\": \"the description of the camera movement (if any)\"\n        },\n        \"object_movements\": {\n            \"type\": \"string\",\n            \"description\": \"the detailed description of the movement of the objects on the screen\"\n        },\n        \"sound_effects\": {\n            \"type\": \"string\",\n            \"description\": \"the sound effects the viewer can hear during the scene\"\n        }\n    },\n    \"required\": [\n        \"characters\",\n        \"scene_description\",\n        \"camera_movement\",\n        \"object_movements\",\n        \"sound_effects\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[900,380],"id":"ec045915-8d84-44d0-92de-4124fef048fa","name":"Create scene output parser"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"story\": {\n            \"type\": \"string\",\n            \"description\": \"the detailed story\"\n        }\n    },\n    \"required\": [\n        \"story\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[700,380],"id":"f274d298-0c51-4018-adc1-fc17b6e0a378","name":"Create story output parser"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n        \"scenes\": {\n            \"type\": \"array\",\n            \"description\": \"the scenes\",\n            \"items\": {\n                \"type\": \"string\"\n            }\n        }\n    },\n    \"required\": [\n        \"scenes\"\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1080,380],"id":"bf0c1eec-97fc-4a44-a191-0ed35e210459","name":"Generate scenes output parser"},{"parameters":{"content":"# Escolha um Modelo de IA\n**Selecione UM e desative o resto**","height":320,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,580],"id":"828a2921-98c4-4f4c-b7ed-9ae6e5f0b92b","name":"Sticky Note5"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[700,720],"id":"52487ee2-8260-4e33-8f88-4d04ae2ccda6","name":"Google Gemini Chat Model","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[900,720],"id":"98ad24cc-20a7-4d55-8257-7e6b6e47bcc5","name":"OpenRouter Chat Model","disabled":true}],"connections":{"Loop Over Items":{"main":[[{"node":"Começando a Gerar o Áudio","type":"main","index":0}],[{"node":"Esperar o Vídeo","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Juntar Áudio e Vídeo","type":"main","index":0}],[{"node":"Esperar Para Adicionar Áudio","type":"main","index":0}]]},"Criar Roteiro":{"main":[[{"node":"Gerar Cenas","type":"main","index":0}]]},"Gerar Cenas":{"main":[[{"node":"Tamanho Correto?","type":"main","index":0}]]},"Criar Cena":{"main":[[{"node":"Começando a Gerar o Vídeo","type":"main","index":0}]]},"Tamanho Correto?":{"main":[[{"node":"Dividir as Cenas","type":"main","index":0}],[{"node":"Gerar Cenas","type":"main","index":0}]]},"Dividir as Cenas":{"main":[[{"node":"Criar Cena","type":"main","index":0}]]},"Juntar Áudio e Vídeo":{"main":[[{"node":"Compilar Clipes","type":"main","index":0}]]},"Esperar Para Adicionar Áudio":{"main":[[{"node":"Ver Status do Áudio","type":"main","index":0}]]},"Compilar Clipes":{"main":[[{"node":"Esperar Para Compilar os Clipes","type":"main","index":0}]]},"Esperar Para Compilar os Clipes":{"main":[[{"node":"Ver Status da Compilação","type":"main","index":0}]]},"Esperar o Vídeo":{"main":[[{"node":"Ver Status da Criação","type":"main","index":0}]]},"Status do Vídeo":{"main":[[{"node":"Pegar Vídeo","type":"main","index":0}],[{"node":"Esperar o Vídeo","type":"main","index":0}],[{"node":"Esperar o Vídeo","type":"main","index":0}]]},"Pegar Vídeo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Ver Status da Criação":{"main":[[{"node":"Status do Vídeo","type":"main","index":0}]]},"Ver Status do Áudio":{"main":[[{"node":"Status do Áudio","type":"main","index":0}]]},"Status do Áudio":{"main":[[{"node":"Pegar Áudio","type":"main","index":0}],[{"node":"Esperar Para Adicionar Áudio","type":"main","index":0}],[{"node":"Esperar Para Adicionar Áudio","type":"main","index":0}]]},"Pegar Áudio":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Começando a Gerar o Áudio":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Começando a Gerar o Vídeo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pegar Vídeo Pronto":{"main":[[{"node":"Baixar Vídeo Pronto","type":"main","index":0}]]},"Ver Status da Compilação":{"main":[[{"node":"Status da Compilação","type":"main","index":0}]]},"Status da Compilação":{"main":[[{"node":"Pegar Vídeo Pronto","type":"main","index":0}],[{"node":"Esperar Para Compilar os Clipes","type":"main","index":0}],[{"node":"Esperar Para Compilar os Clipes","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Criar Roteiro","type":"main","index":0}]]},"Formulário":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Criar Cena","type":"ai_languageModel","index":0},{"node":"Criar Roteiro","type":"ai_languageModel","index":0},{"node":"Gerar Cenas","type":"ai_languageModel","index":0}]]},"Create scene output parser":{"ai_outputParser":[[{"node":"Criar Cena","type":"ai_outputParser","index":0}]]},"Create story output parser":{"ai_outputParser":[[{"node":"Criar Roteiro","type":"ai_outputParser","index":0}]]},"Generate scenes output parser":{"ai_outputParser":[[{"node":"Gerar Cenas","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Formulário":[{"json":{"História":"Uma pessoa coloca cuidadosamente centenas de dominós coloridos em uma sequência elaborada pela mesa. Após 5 minutos de preparação meticulosa, ela empurra o primeiro dominó com o dedo. Em 8 segundos, todos os dominós caem em sequência perfeita, criando ondas coloridas que se espalham pela mesa inteira, terminando com o último dominó ativando um pequeno sino que toca \"ding!\" no final.\r\n","Número de Cenas":4,"Proporção":"9:16","Resolução":"1080p","Duração das Cenas":"5","submittedAt":"2025-07-04T18:51:18.215-04:00","formMode":"test"}}]},"versionId":"4a2032e8-fa28-435b-8e1e-05f9ab30e640","triggerCount":0,"shared":[{"updatedAt":"2025-06-30T14:32:27.575Z","createdAt":"2025-06-30T14:32:27.575Z","role":"workflow:owner","workflowId":"nVCARZ177iUscpUs","projectId":"BlSED80HESP48veq"}],"tags":[]}