toolslmoveisstrapi-export-A0MB9HE57mqL7bNs.json
{"updatedAt":"2025-07-14T14:10:39.503Z","createdAt":"2025-07-12T19:48:02.227Z","id":"A0MB9HE57mqL7bNs","name":"ToolslmoveisStrapi-export","active":true,"isArchived":true,"nodes":[{"parameters":{"url":"={{ $json.url_strapi }}/{{ $json.table_name }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"_limit","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,140],"id":"7f62879d-cf91-47ce-8e74-57a24e815ba1","name":"HTTP Request","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1080,140],"id":"d1bac5e7-0c22-4ed4-8400-d0ec2b34f8d9","name":"Start"},{"parameters":{"assignments":{"assignments":[{"id":"aeeede6d-086d-41e8-a90e-312d26d76721","name":"url_strapi","value":"https://evolutionapi-strapi.ac69mn.easypanel.host","type":"string"},{"id":"c651c205-82be-47a4-8341-097ca5c02cf7","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"ffcda997-85fe-4683-87b4-0b54e3a45454","name":"table_name","value":"imoveis","type":"string"},{"id":"92874c42-d412-4c14-8ea6-bf109ebc2c22","name":"type","value":"={{ $json.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,140],"id":"7dd2d747-a926-498a-b755-cbb3639b2176","name":"Config"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2380,120],"id":"7d697164-fe7f-4bf1-82fd-1e2486eeea60","name":"Loop Over Items"},{"parameters":{"jsCode":"// N8N Custom Node - Processador de Imóveis\n// Este código deve ser usado em um nó \"Code\" no n8n\n\n// URL base para transformar URLs relativas em absolutas\nconst url_base = $('Config').first().json.url_strapi;\n\n// Limite de caracteres para o campo description\nconst descriptionMaxLength = 300;\n\n// Lista de campos configuráveis - customize conforme necessário\nconst fieldsToInclude = [\n  'id',\n  'title', \n  'description',\n  'price',\n  'tipo_contrato',\n  'tipo_imovel',\n  'bairro',\n  'cidade',\n  'tipologia'\n];\n\n// Configuração para seleção de imagem\nconst imageSelectionConfig = {\n  // Opções: 'first', 'last', 'largest', 'smallest'\n  strategy: 'first'\n};\n\nfunction processProperties(inputData) {\n  if (!Array.isArray(inputData)) {\n    throw new Error('Erro interno: processProperties esperava um array');\n  }\n\n  return inputData.map(property => {\n    // Objeto de saída\n    const processedProperty = {};\n    \n    // Adiciona campos configurados\n    fieldsToInclude.forEach(field => {\n      if (property.hasOwnProperty(field)) {\n        let fieldValue = property[field];\n        \n        // Limita caracteres do campo description\n        if (field === 'description' && typeof fieldValue === 'string') {\n          fieldValue = limitDescription(fieldValue, descriptionMaxLength);\n        }\n        \n        processedProperty[field] = fieldValue;\n      }\n    });\n\n    // Processa imagens\n    if (property.images && Array.isArray(property.images) && property.images.length > 0) {\n      const selectedImage = selectImage(property.images, imageSelectionConfig);\n      processedProperty.foto = selectedImage;\n    } else {\n      processedProperty.foto = null;\n    }\n\n    return processedProperty;\n  });\n}\n\nfunction selectImage(images, config) {\n  if (images.length === 0) return null;\n  \n  let selectedImage;\n  \n  // Seleciona imagem baseada na estratégia\n  switch (config.strategy) {\n    case 'first':\n      selectedImage = images[0];\n      break;\n    case 'last':\n      selectedImage = images[images.length - 1];\n      break;\n    case 'largest':\n      selectedImage = images.reduce((largest, current) => \n        (current.size || 0) > (largest.size || 0) ? current : largest\n      );\n      break;\n    case 'smallest':\n      selectedImage = images.reduce((smallest, current) => \n        (current.size || Infinity) < (smallest.size || Infinity) ? current : smallest\n      );\n      break;\n    default:\n      selectedImage = images[0];\n  }\n\n  // Pega a URL original da imagem (diretamente do objeto, não de formats)\n  // Esta é a URL que está em selectedImage.url, não em selectedImage.formats\n  const imageUrl = makeAbsoluteUrl(selectedImage.url, url_base);\n\n  // Retorna apenas a URL diretamente\n  return imageUrl;\n}\n\nfunction limitDescription(description, maxLength) {\n  if (!description || typeof description !== 'string') {\n    return description;\n  }\n  \n  if (description.length <= maxLength) {\n    return description;\n  }\n  \n  // Corta no limite e adiciona reticências\n  let truncated = description.substring(0, maxLength);\n  \n  // Tenta cortar na última palavra completa para não quebrar no meio\n  const lastSpaceIndex = truncated.lastIndexOf(' ');\n  if (lastSpaceIndex > maxLength * 0.8) { // Se o último espaço não está muito longe do final\n    truncated = truncated.substring(0, lastSpaceIndex);\n  }\n  \n  return truncated.trim() + '...';\n}\n\nfunction makeAbsoluteUrl(url, baseUrl) {\n  if (!url) return url;\n  \n  // Se já é uma URL absoluta, retorna como está\n  if (url.startsWith('http://') || url.startsWith('https://')) {\n    return url;\n  }\n  \n  // Se é uma URL relativa, combina com a base\n  if (url.startsWith('/')) {\n    return baseUrl.replace(/\\/$/, '') + url;\n  }\n  \n  // Se não tem barra inicial, adiciona\n  return baseUrl.replace(/\\/$/, '') + '/' + url + '?tipo=image';\n}\n\n// Código principal para n8n\ntry {\n  // No n8n, os dados de entrada estão em $input.all()\n  const inputItems = $input.all();\n  \n  // Extrai o JSON dos itens de entrada\n  let properties = inputItems[0].json;\n  \n  // Verifica se já é um array ou se precisa converter\n  if (!Array.isArray(properties)) {\n    // Se for um objeto único, transforma em array\n    if (typeof properties === 'object' && properties !== null) {\n      properties = [properties];\n    } else {\n      throw new Error('Dados de entrada inválidos. Esperado um objeto ou array de imóveis.');\n    }\n  }\n  \n  // Processa os imóveis\n  const processedProperties = processProperties(properties);\n  \n  // Retorna os dados processados\n  // No n8n, cada item do array se torna um item separado na saída\n  return processedProperties.map(property => ({\n    json: property\n  }));\n  \n} catch (error) {\n  // Em caso de erro, retorna informação do erro\n  return [{\n    json: {\n      error: true,\n      message: error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n/* \nCONFIGURAÇÃO ALTERNATIVA - Cole este código se quiser configurar via parâmetros do nó:\n\n// Configuração via parâmetros do nó n8n\nconst url_base = $parameter.urlBase || \"https://seudominio.com.br\";\nconst descriptionMaxLength = $parameter.descriptionMaxLength || 300;\nconst fieldsToInclude = $parameter.fieldsToInclude ? \n  $parameter.fieldsToInclude.split(',').map(f => f.trim()) : \n  ['id', 'title', 'price', 'bairro', 'cidade'];\n\nconst imageSelectionConfig = {\n  strategy: $parameter.imageStrategy || 'first'\n};\n*/"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,160],"id":"0e418c5f-2762-441f-bd8b-9d35b3775100","name":"Code2"},{"parameters":{"jsCode":"return { \n'response':JSON.stringify($input.all().map(x =>x.json))\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3020,880],"id":"9be43a4a-30c6-4dcb-b576-b3ec7abc0af4","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"all","operator":{"type":"string","operation":"equals"},"id":"4c547a93-4b7f-46c6-b621-52ac56b50573"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49bf1f5b-5930-4a2b-a5fa-4c70182bbf2a","leftValue":"={{ $json.type }}","rightValue":"get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1660,140],"id":"52057c54-b96f-46ed-a0ee-891cadc26511","name":"Switch"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3020,540],"id":"64eba2b8-60fa-454d-a996-d88ed354ec7a","name":"Merge"},{"parameters":{"url":"={{ $json.url_strapi }}/{{ $json.table_name }}/{{ $json.id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,360],"id":"27a3605c-6f78-4c38-8631-3bfd9e1a2053","name":"HTTP Request1","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ef74a3e7-6076-473a-9671-fd3227b8e378","name":"error","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,620],"id":"8c118e82-446d-486a-9b7c-72076d431d70","name":"setError","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ef74a3e7-6076-473a-9671-fd3227b8e378","name":"error","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1960,820],"id":"e22689e5-0153-44d2-916e-6133052d7cf9","name":"setError1"},{"parameters":{"content":"\n# ToolslmoveisStrapi\n## Esta função busca todos os imoveis no STRAPI ou apenas um IMÓVEL pelo ID\n\n# Variável FUNCTION:\n## De acordo com o valor desta variável o fluxo realiza funções diferente: ALL, GET\n\n# Nomes do Fluxos\n## Renomeie todos o fluxos para o nomes sugeridos para não se perder\n\n# Config\n## Utilize o NÓ 'config' para configurar as URLS e tabelas do STRAPI onde os dados serão armazenados\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br","height":1140,"width":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"61e11d8b-b73a-410c-8b7a-47ab2202b212","name":"Sticky Note"},{"parameters":{"jsCode":"// Defina a URL base\nconst base_url = $('Config').first().json.url_strapi;\n\n// Função para processar o JSON\nfunction transformPropertyData(inputData) {\n  // Verificar se inputData existe e é um array\n  if (!inputData || !Array.isArray(inputData)) {\n    console.log('Input data is not a valid array:', inputData);\n    return [];\n  }\n  \n  // Verificar se o array não está vazio\n  if (inputData.length === 0) {\n    console.log('Input data is empty array');\n    return [];\n  }\n  \n  return inputData.map(property => {\n    // Verificar se property existe e tem a propriedade images\n    if (!property || !property.images || !Array.isArray(property.images)) {\n      console.log('Property does not have valid images array:', property);\n      return {\n        ...property,\n        images: []\n      };\n    }\n    \n    // Processar as imagens - usando URL original (não formats)\n    const processedImages = property.images\n      .map(image => {\n        // Verificar se image existe e tem a URL original\n        if (!image || !image.url) {\n          return null;\n        }\n        \n        // Usar a URL original da imagem (não de formats)\n        return base_url + image.url + '?tipo=image';\n      })\n      .filter(url => url !== null); // Remover valores nulos\n    \n    // Retornar o objeto transformado\n    return {\n      ...property,\n      images: processedImages\n    };\n  });\n}\n\n// Para uso no n8n, o código deve ser executado assim:\n// Verificar diferentes estruturas de dados possíveis\nlet inputData;\ntry {\n  // Verificar se items existe e não está vazio\n  if (!items || items.length === 0) {\n    console.log('No items found');\n    inputData = [];\n  }\n  // Se items[0].json já é um array\n  else if (items[0] && items[0].json && Array.isArray(items[0].json)) {\n    inputData = items[0].json;\n  } \n  // Se items[0].json é um objeto único\n  else if (items[0] && items[0].json && typeof items[0].json === 'object' && items[0].json !== null) {\n    inputData = [items[0].json];\n  }\n  // Se os dados estão diretamente em items (múltiplos itens)\n  else if (items.length > 0) {\n    inputData = items.map(item => item && item.json ? item.json : null).filter(item => item !== null);\n  }\n  // Fallback\n  else {\n    inputData = [];\n  }\n} catch (error) {\n  console.error('Error processing input data:', error);\n  inputData = [];\n}\n\n// Transformar os dados\nconst transformedData = transformPropertyData(inputData);\n\n// Verificar se há dados para retornar\nif (!transformedData || transformedData.length === 0) {\n  console.log('No data to return');\n  return [{ json: { message: 'No data processed', count: 0 } }];\n}\n\n// Retornar os dados transformados\nreturn transformedData.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,460],"id":"fdde2319-9fc0-4e1e-8845-e39feffc207e","name":"Code"}],"connections":{"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"setError1","type":"main","index":0}]]},"Start":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"setError","type":"main","index":0}]]},"setError":{"main":[[{"node":"Merge","type":"main","index":2}]]},"setError1":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"id":"1","type":"all"}}]},"versionId":"615f2f9c-f54d-4f8e-b3ef-c119aaf07e29","activeVersionId":"615f2f9c-f54d-4f8e-b3ef-c119aaf07e29","triggerCount":0,"shared":[{"updatedAt":"2025-07-12T19:48:02.227Z","createdAt":"2025-07-12T19:48:02.227Z","role":"workflow:owner","workflowId":"A0MB9HE57mqL7bNs","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"615f2f9c-f54d-4f8e-b3ef-c119aaf07e29","workflowId":"A0MB9HE57mqL7bNs","nodes":[{"parameters":{"url":"={{ $json.url_strapi }}/{{ $json.table_name }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"_limit","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,140],"id":"7f62879d-cf91-47ce-8e74-57a24e815ba1","name":"HTTP Request","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1080,140],"id":"d1bac5e7-0c22-4ed4-8400-d0ec2b34f8d9","name":"Start"},{"parameters":{"assignments":{"assignments":[{"id":"aeeede6d-086d-41e8-a90e-312d26d76721","name":"url_strapi","value":"https://evolutionapi-strapi.ac69mn.easypanel.host","type":"string"},{"id":"c651c205-82be-47a4-8341-097ca5c02cf7","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"ffcda997-85fe-4683-87b4-0b54e3a45454","name":"table_name","value":"imoveis","type":"string"},{"id":"92874c42-d412-4c14-8ea6-bf109ebc2c22","name":"type","value":"={{ $json.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,140],"id":"7dd2d747-a926-498a-b755-cbb3639b2176","name":"Config"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2380,120],"id":"7d697164-fe7f-4bf1-82fd-1e2486eeea60","name":"Loop Over Items"},{"parameters":{"jsCode":"// N8N Custom Node - Processador de Imóveis\n// Este código deve ser usado em um nó \"Code\" no n8n\n\n// URL base para transformar URLs relativas em absolutas\nconst url_base = $('Config').first().json.url_strapi;\n\n// Limite de caracteres para o campo description\nconst descriptionMaxLength = 300;\n\n// Lista de campos configuráveis - customize conforme necessário\nconst fieldsToInclude = [\n  'id',\n  'title', \n  'description',\n  'price',\n  'tipo_contrato',\n  'tipo_imovel',\n  'bairro',\n  'cidade',\n  'tipologia'\n];\n\n// Configuração para seleção de imagem\nconst imageSelectionConfig = {\n  // Opções: 'first', 'last', 'largest', 'smallest'\n  strategy: 'first'\n};\n\nfunction processProperties(inputData) {\n  if (!Array.isArray(inputData)) {\n    throw new Error('Erro interno: processProperties esperava um array');\n  }\n\n  return inputData.map(property => {\n    // Objeto de saída\n    const processedProperty = {};\n    \n    // Adiciona campos configurados\n    fieldsToInclude.forEach(field => {\n      if (property.hasOwnProperty(field)) {\n        let fieldValue = property[field];\n        \n        // Limita caracteres do campo description\n        if (field === 'description' && typeof fieldValue === 'string') {\n          fieldValue = limitDescription(fieldValue, descriptionMaxLength);\n        }\n        \n        processedProperty[field] = fieldValue;\n      }\n    });\n\n    // Processa imagens\n    if (property.images && Array.isArray(property.images) && property.images.length > 0) {\n      const selectedImage = selectImage(property.images, imageSelectionConfig);\n      processedProperty.foto = selectedImage;\n    } else {\n      processedProperty.foto = null;\n    }\n\n    return processedProperty;\n  });\n}\n\nfunction selectImage(images, config) {\n  if (images.length === 0) return null;\n  \n  let selectedImage;\n  \n  // Seleciona imagem baseada na estratégia\n  switch (config.strategy) {\n    case 'first':\n      selectedImage = images[0];\n      break;\n    case 'last':\n      selectedImage = images[images.length - 1];\n      break;\n    case 'largest':\n      selectedImage = images.reduce((largest, current) => \n        (current.size || 0) > (largest.size || 0) ? current : largest\n      );\n      break;\n    case 'smallest':\n      selectedImage = images.reduce((smallest, current) => \n        (current.size || Infinity) < (smallest.size || Infinity) ? current : smallest\n      );\n      break;\n    default:\n      selectedImage = images[0];\n  }\n\n  // Pega a URL original da imagem (diretamente do objeto, não de formats)\n  // Esta é a URL que está em selectedImage.url, não em selectedImage.formats\n  const imageUrl = makeAbsoluteUrl(selectedImage.url, url_base);\n\n  // Retorna apenas a URL diretamente\n  return imageUrl;\n}\n\nfunction limitDescription(description, maxLength) {\n  if (!description || typeof description !== 'string') {\n    return description;\n  }\n  \n  if (description.length <= maxLength) {\n    return description;\n  }\n  \n  // Corta no limite e adiciona reticências\n  let truncated = description.substring(0, maxLength);\n  \n  // Tenta cortar na última palavra completa para não quebrar no meio\n  const lastSpaceIndex = truncated.lastIndexOf(' ');\n  if (lastSpaceIndex > maxLength * 0.8) { // Se o último espaço não está muito longe do final\n    truncated = truncated.substring(0, lastSpaceIndex);\n  }\n  \n  return truncated.trim() + '...';\n}\n\nfunction makeAbsoluteUrl(url, baseUrl) {\n  if (!url) return url;\n  \n  // Se já é uma URL absoluta, retorna como está\n  if (url.startsWith('http://') || url.startsWith('https://')) {\n    return url;\n  }\n  \n  // Se é uma URL relativa, combina com a base\n  if (url.startsWith('/')) {\n    return baseUrl.replace(/\\/$/, '') + url;\n  }\n  \n  // Se não tem barra inicial, adiciona\n  return baseUrl.replace(/\\/$/, '') + '/' + url + '?tipo=image';\n}\n\n// Código principal para n8n\ntry {\n  // No n8n, os dados de entrada estão em $input.all()\n  const inputItems = $input.all();\n  \n  // Extrai o JSON dos itens de entrada\n  let properties = inputItems[0].json;\n  \n  // Verifica se já é um array ou se precisa converter\n  if (!Array.isArray(properties)) {\n    // Se for um objeto único, transforma em array\n    if (typeof properties === 'object' && properties !== null) {\n      properties = [properties];\n    } else {\n      throw new Error('Dados de entrada inválidos. Esperado um objeto ou array de imóveis.');\n    }\n  }\n  \n  // Processa os imóveis\n  const processedProperties = processProperties(properties);\n  \n  // Retorna os dados processados\n  // No n8n, cada item do array se torna um item separado na saída\n  return processedProperties.map(property => ({\n    json: property\n  }));\n  \n} catch (error) {\n  // Em caso de erro, retorna informação do erro\n  return [{\n    json: {\n      error: true,\n      message: error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n/* \nCONFIGURAÇÃO ALTERNATIVA - Cole este código se quiser configurar via parâmetros do nó:\n\n// Configuração via parâmetros do nó n8n\nconst url_base = $parameter.urlBase || \"https://seudominio.com.br\";\nconst descriptionMaxLength = $parameter.descriptionMaxLength || 300;\nconst fieldsToInclude = $parameter.fieldsToInclude ? \n  $parameter.fieldsToInclude.split(',').map(f => f.trim()) : \n  ['id', 'title', 'price', 'bairro', 'cidade'];\n\nconst imageSelectionConfig = {\n  strategy: $parameter.imageStrategy || 'first'\n};\n*/"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,160],"id":"0e418c5f-2762-441f-bd8b-9d35b3775100","name":"Code2"},{"parameters":{"jsCode":"return { \n'response':JSON.stringify($input.all().map(x =>x.json))\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3020,880],"id":"9be43a4a-30c6-4dcb-b576-b3ec7abc0af4","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"all","operator":{"type":"string","operation":"equals"},"id":"4c547a93-4b7f-46c6-b621-52ac56b50573"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49bf1f5b-5930-4a2b-a5fa-4c70182bbf2a","leftValue":"={{ $json.type }}","rightValue":"get","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1660,140],"id":"52057c54-b96f-46ed-a0ee-891cadc26511","name":"Switch"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3020,540],"id":"64eba2b8-60fa-454d-a996-d88ed354ec7a","name":"Merge"},{"parameters":{"url":"={{ $json.url_strapi }}/{{ $json.table_name }}/{{ $json.id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,360],"id":"27a3605c-6f78-4c38-8631-3bfd9e1a2053","name":"HTTP Request1","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ef74a3e7-6076-473a-9671-fd3227b8e378","name":"error","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,620],"id":"8c118e82-446d-486a-9b7c-72076d431d70","name":"setError","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ef74a3e7-6076-473a-9671-fd3227b8e378","name":"error","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1960,820],"id":"e22689e5-0153-44d2-916e-6133052d7cf9","name":"setError1"},{"parameters":{"content":"\n# ToolslmoveisStrapi\n## Esta função busca todos os imoveis no STRAPI ou apenas um IMÓVEL pelo ID\n\n# Variável FUNCTION:\n## De acordo com o valor desta variável o fluxo realiza funções diferente: ALL, GET\n\n# Nomes do Fluxos\n## Renomeie todos o fluxos para o nomes sugeridos para não se perder\n\n# Config\n## Utilize o NÓ 'config' para configurar as URLS e tabelas do STRAPI onde os dados serão armazenados\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br","height":1140,"width":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"61e11d8b-b73a-410c-8b7a-47ab2202b212","name":"Sticky Note"},{"parameters":{"jsCode":"// Defina a URL base\nconst base_url = $('Config').first().json.url_strapi;\n\n// Função para processar o JSON\nfunction transformPropertyData(inputData) {\n  // Verificar se inputData existe e é um array\n  if (!inputData || !Array.isArray(inputData)) {\n    console.log('Input data is not a valid array:', inputData);\n    return [];\n  }\n  \n  // Verificar se o array não está vazio\n  if (inputData.length === 0) {\n    console.log('Input data is empty array');\n    return [];\n  }\n  \n  return inputData.map(property => {\n    // Verificar se property existe e tem a propriedade images\n    if (!property || !property.images || !Array.isArray(property.images)) {\n      console.log('Property does not have valid images array:', property);\n      return {\n        ...property,\n        images: []\n      };\n    }\n    \n    // Processar as imagens - usando URL original (não formats)\n    const processedImages = property.images\n      .map(image => {\n        // Verificar se image existe e tem a URL original\n        if (!image || !image.url) {\n          return null;\n        }\n        \n        // Usar a URL original da imagem (não de formats)\n        return base_url + image.url + '?tipo=image';\n      })\n      .filter(url => url !== null); // Remover valores nulos\n    \n    // Retornar o objeto transformado\n    return {\n      ...property,\n      images: processedImages\n    };\n  });\n}\n\n// Para uso no n8n, o código deve ser executado assim:\n// Verificar diferentes estruturas de dados possíveis\nlet inputData;\ntry {\n  // Verificar se items existe e não está vazio\n  if (!items || items.length === 0) {\n    console.log('No items found');\n    inputData = [];\n  }\n  // Se items[0].json já é um array\n  else if (items[0] && items[0].json && Array.isArray(items[0].json)) {\n    inputData = items[0].json;\n  } \n  // Se items[0].json é um objeto único\n  else if (items[0] && items[0].json && typeof items[0].json === 'object' && items[0].json !== null) {\n    inputData = [items[0].json];\n  }\n  // Se os dados estão diretamente em items (múltiplos itens)\n  else if (items.length > 0) {\n    inputData = items.map(item => item && item.json ? item.json : null).filter(item => item !== null);\n  }\n  // Fallback\n  else {\n    inputData = [];\n  }\n} catch (error) {\n  console.error('Error processing input data:', error);\n  inputData = [];\n}\n\n// Transformar os dados\nconst transformedData = transformPropertyData(inputData);\n\n// Verificar se há dados para retornar\nif (!transformedData || transformedData.length === 0) {\n  console.log('No data to return');\n  return [{ json: { message: 'No data processed', count: 0 } }];\n}\n\n// Retornar os dados transformados\nreturn transformedData.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,460],"id":"fdde2319-9fc0-4e1e-8845-e39feffc207e","name":"Code"}],"connections":{"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"setError1","type":"main","index":0}]]},"Start":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"setError","type":"main","index":0}]]},"setError":{"main":[[{"node":"Merge","type":"main","index":2}]]},"setError1":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}