vendedor-de-cirurgias---teste-prompts-bFL1y2cL4VeqB0xI.json
{"updatedAt":"2025-09-15T13:16:31.881Z","createdAt":"2025-09-15T13:15:05.728Z","id":"bFL1y2cL4VeqB0xI","name":"Vendedor de Cirurgias - teste prompts","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"4a7c5c04-ab53-4f3a-a9e5-12291577dfe5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-6528,656],"id":"55a22c93-c23d-425b-b018-bb7c6493cd1f","name":"Webhook","webhookId":"4a7c5c04-ab53-4f3a-a9e5-12291577dfe5"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-6528,1408],"id":"7de6a89f-6788-48f6-9f1d-c06be3a9c704","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"TRUNCATE dr_orelinha_menu_option;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6304,1408],"id":"af7c1570-3af1-44b7-9cb8-64d56933379a","name":"Create User menu registry if not existing1"},{"parameters":{"operation":"executeQuery","query":"TRUNCATE orelinha_n8n_chat_histories;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6080,1408],"id":"2d05e63d-6fee-4a58-8a31-cd349836dd9b","name":"Create User menu registry if not existing2"},{"parameters":{"jsCode":"// Function to safely escape JSON data and remove 【】 encapsulated content\nfunction processText(data) {\n  if (typeof data === 'string') {\n    // First remove content between 【】\n    let processed = data.replace(/【[^】]*】/g, '');\n    \n    // Then escape special characters\n    return processed\n      .replace(/\\\\/g, '\\\\\\\\') // Escape backslashes\n      .replace(/\"/g, '\\\\\"')    // Escape double quotes\n  } else if (typeof data === 'object' && data !== null) {\n    // Recursively process object properties\n    for (const key in data) {\n      if (data.hasOwnProperty(key)) {\n        data[key] = processText(data[key]);\n      }\n    }\n  }\n  return data;\n}\n\n// Loop over input items and process the JSON data\nfor (const item of $input.all()) {\n  item.json = processText(item.json);\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,464],"id":"7c1dd688-ac54-4e25-8083-54c2b4e9072c","name":"Clean response for json"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"topP":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1600,704],"id":"0d9fe663-dd4f-494f-ac6a-ca9216a80fc4","name":"OpenAI Chat Model"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sector }}","rightValue":"CAPILAR","operator":{"type":"string","operation":"equals"},"id":"efd48509-9e49-4b68-a24c-589819e4f34b"}],"combinator":"and"},"renameOutput":true,"outputKey":"CAPILAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"445bb081-bf45-4f88-8b10-5c4200d6b453","leftValue":"={{ $json.sector }}","rightValue":"SILICONE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SILICONE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3447d54-4f4e-43d7-b593-67b01c679501","leftValue":"={{ $json.sector }}","rightValue":"ORELHAS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ORELHAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f253775b-3220-43ac-8198-251243f7728b","leftValue":"={{ $json.sector }}","rightValue":"BLEFAROPLASTIA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BLEFAROPLASTIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d1cfd9b-bb7b-4473-9338-2089a464cfc6","leftValue":"={{ $json.sector }}","rightValue":"GINECOMASTIA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GINECOMASTIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f657b33e-8e6f-4e82-95fd-a56603b3ab07","leftValue":"={{ $json.sector }}","rightValue":"MINILIFTING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MINILIFTING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-384,352],"id":"d114951e-9fcf-417a-85ad-57c44c51f3f8","name":"Switch2"},{"parameters":{"model":"gpt-5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[256,736],"id":"fd0ebae3-beae-4771-b75a-9cda288d0203","name":"OpenAI Chat Model8"},{"parameters":{"assignments":{"assignments":[{"id":"5a8d4ec3-e09f-4b46-b7c3-3d5df0d4ace4","name":"output","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,464],"id":"6db48274-7a7e-4b52-8e86-92154d8432d7","name":"Quebra resposta"},{"parameters":{"promptType":"define","text":"=Mensagem original para formatação: {{ $json.output }}","options":{"systemMessage":"=Você é um agente formatador de mensagens para WhatsApp. Sua única função é dividir a mensagem original em múltiplas mensagens curtas, naturais e bem estruturadas. Siga as regras abaixo com rigor:\n\n1. Sempre que possível, divida a mensagem original em 2 ou mais mensagens menores, simulando uma conversa fluída no WhatsApp.\n2. A cada nova mensagem gerada, aplique exatamente **duas quebras de linha reais** (\\n\\n) no final do bloco. Nunca ultrapasse esse número de quebras de linha.\n3. Mantenha frases inteiras e compreensíveis em cada mensagem. **Nunca divida frases no meio** ou quebre a fluidez.\n4. Se houver listas, bullets ou tópicos numerados, **não quebre ou interrompa a estrutura da lista**. Trate cada lista como uma única mensagem.\n5. **NUNCA gere ou altere o conteúdo** da mensagem original. Seu trabalho é apenas reorganizar e formatar para parecer uma conversa mais natural e fácil de ler no WhatsApp, nunca altere a mensagem.\n6. Evite blocos muito longos. Prefira frases com no máximo 1 a 2 linhas por mensagem.\n\nVOCÊ DEVERÁ APENAS DAR A MENSAGEM SEPARADA E MAIS NADA"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1552,464],"id":"668c8201-b7a6-4f15-9024-a2a43c2a7fd8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-nano-2025-04-14"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1632,688],"id":"4fe0fb76-7056-47c0-9a0b-f1271d416bf4","name":"OpenAI Chat Model9"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados webhook1').item.json.chat_id }}","tableName":"orelinha_n8n_chat_histories","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[352,736],"id":"c0908cc2-e0a1-49b2-88a0-c37cdccd2ff1","name":"Postgres Chat Memory"},{"parameters":{"assignments":{"assignments":[{"id":"4ea2e908-430d-4aaa-bee8-e69c142f2928","name":"id","value":"={{ $('Dados webhook1').item.json.chat_id }}","type":"string"},{"id":"305b3e14-0652-4114-bc9f-815c65c15df0","name":"sector","value":"={{ $json.sector }}","type":"string"},{"id":"6503ca19-3f7a-418b-838b-66a60b3a7f23","name":"text","value":"={{ $('Join messages1').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2288,720],"id":"3749a1d9-8b1f-4fdd-9258-8ffc2fe08552","name":"userMessage1","executeOnce":true},{"parameters":{"options":{}},"id":"44e21a66-bb57-4497-b551-c184b22250be","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2800,464]},{"parameters":{"assignments":{"assignments":[{"id":"1341aa76-32f4-4d9b-91b4-c1f7db73a025","name":"message","value":"={{ $('Loop Over Items').item.json.output }}","type":"string"}]},"options":{}},"id":"848fc304-4f5e-41cc-8529-294399c58e40","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3248,400]},{"parameters":{"jsCode":"// Captura o JSON de entrada\nconst inputData = $input.first().json;\n\n// Inicializa variáveis\nlet lastMessage = null;\nlet allMessages = [];\n\n// Verifica se há array de mensagens\nif (Array.isArray(inputData.messages)) {\n    allMessages = inputData.messages;\n    lastMessage = inputData.messages[inputData.messages.length - 1];\n}\n\n// Retorna o resultado\nreturn {\n    lastMessage,\n    allMessages\n};"},"id":"274f471d-224c-4fba-96b7-212cd07e7e70","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3d75c64-3afe-4414-adce-6788d2cf0207","leftValue":"={{ $json.output }}","rightValue":"={{ '' }}","operator":{"type":"string","operation":"notEquals"}},{"id":"27579769-eeef-4f1a-b088-6284244699f7","leftValue":"={{ $json.output }}","rightValue":"={{ ' ' }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"dbeffadd-db17-426c-a675-56f85bb359fb","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2576,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37a7aa3c-8195-4c71-a983-46cdc0c4625c","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2128,464],"id":"01dd937f-5033-4761-8fc5-f896a129e3af","name":"Filter8"},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"bd9bbef9-81ea-42fd-8f45-bbc69750343f","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2352,464]},{"parameters":{"amount":3},"id":"a9183753-3b83-4745-8bf9-e7d354a3cdf2","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3696,464],"webhookId":"88cd47f4-2de8-4b1f-b3d9-1def9b41a815"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_orelinha_menu_option (id, sector)\nSELECT $1, 'NONE'\nWHERE NOT EXISTS (\n   SELECT 1 FROM dr_orelinha_menu_option WHERE id = $1\n);","options":{"queryReplacement":"={{ $('Dados webhook1').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3040,544],"id":"87d15404-c54c-4c30-900f-265cba28080e","name":"Create User menu registry if not existing3"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM dr_orelinha_menu_option WHERE id = $1;","options":{"queryReplacement":"={{ $('Dados webhook1').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2464,720],"id":"e2e02109-61a2-4f2f-b66f-c422fb9d5adc","name":"Find user registry2","alwaysOutputData":false},{"parameters":{"schemaType":"manual","inputSchema":"{\n \"type\": \"object\",\n \"properties\": {\n   \"message_to_user\": {\n     \"type\": \"string\"\n   },\n   \"option\": {\n     \"type\": \"string\",\n     \"enum\": [\"NONE\", \"CAPILAR\", \"SILICONE\", \"ORELHAS\",\"BLEFAROPLASTIA\",\"GINECOMASTIA\",\"MINILIFTING\"],\n     \"default\":\"NONE\"\n   }\n },\n \"required\": [\"output\",\"option\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1440,704],"id":"4a3aa08a-3247-4b2b-9f75-2bd62d532f4a","name":"Structured Output Parser3"},{"parameters":{"operation":"executeQuery","query":"UPDATE dr_orelinha_menu_option \nSET \n  sector = $1,\n  sector_selected = TRUE\nWHERE id = $2;","options":{"queryReplacement":"={{ $json.output.option }},{{ $('Dados webhook1').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1280,720],"id":"ff4c20e4-dd88-4dc7-86d3-43777d89fe02","name":"Update option2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3936,560],"id":"093c0994-1070-4bdb-a49f-7dc9a779876d","name":"Wait before processing1","webhookId":"7aeabf09-8d4d-4fc9-9c89-7368c583e4c9"},{"parameters":{"operation":"get","key":"=dr-orelinha-chat-buffer:{{ $('Dados webhook1').item.json.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3744,560],"id":"bed290fc-8aa5-48d5-806e-99cafe75ad7a","name":"Get messages from list1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2b702bd-2ea8-4666-ad6e-a13d41af5a6d","leftValue":"={{ $json.propertyName }}","rightValue":"=","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3440,560],"id":"be5ffa4c-c778-4395-a9e0-e83d6d37259b","name":"Has messages1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {text: $json.propertyName.join(', ')}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,544],"id":"5f5493f5-9e13-4b06-a369-d875799c65fe","name":"Join messages1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ab4266b-9967-4f39-9706-d729084d2e21","leftValue":"={{ $('Find user registry2').item.json.sector_selected }}","rightValue":"Com Cadastro","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Com cadastro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4f331c7-8a35-43e3-b083-6759dce1720c","leftValue":"={{ $('Find user registry2').item.json.menu_option_sent }}","rightValue":"VIAGEM","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sem cadastro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08cfca84-ef2f-49f3-abca-9f5e8b036d0b","leftValue":"={{ $('Find user registry2').item.json.menu_option_sent }}","rightValue":"NONE","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sem opção"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2128,704],"id":"39ec8fad-c2dd-4c4d-b811-3fb61634fd6a","name":"Switch3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4816,1216],"id":"46bbac04-13e7-4d60-a4f8-1bff24ba12a8","name":"OpenAI Chat Model10"},{"parameters":{"schemaType":"manual","inputSchema":"{\n \"type\": \"object\",\n \"properties\": {\n   \"message_to_user\": {\n     \"type\": \"string\"\n   },\n   \"user_name\": {\n     \"type\": \"string\"\n   }\n },\n \"required\": [\"message_to_user\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4688,1216],"id":"b50d8ab9-3054-481a-a4eb-0c7507bcbc11","name":"Structured Output Parser4"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=Identifique, de maneira natural e informal, qual tipo de cirurgia ou tratamento o 'cliente tem interesse, classificando com base nas opções abaixo. Sua principal função é compreender a intenção do cliente via diálogo espontâneo e devolver a categoria correspondente de forma breve e acolhedora. Evite explicações detalhadas ou frases longas após a identificação do interesse; responda apenas com uma expressão positiva, curta e genérica, como “Perfeito!”, “Tudo certo!” ou equivalente, seguida na linha abaixo da key correspondente (“CAPILAR”, “SILICONE”, “ORELHAS”,\"BLEFAROPLASTIA\",\"GINECOMASTIA\",\"MINILIFTING\" ou “NONE”). Em casos onde outro agente irá assumir o atendimento (por exemplo, “vai outro agente falar com ele”), responda somente com uma frase curta, receptiva e neutra (“Perfeito!”, “Tudo bem!”, “Entendido!”), sem classificar ou acrescentar explicações.\n\nSiga estas diretrizes:\n- Converse de maneira empática, acolhedora e informal, convidando o cliente a compartilhar sobre qual procedimento ou tratamento estético tem interesse, a menos que um handoff (\"vai outro agente falar com ele\") seja solicitado.\n- Mencione exemplos de procedimentos se desejar, apenas para estimular o entendimento do cliente, usando traços (“-”), nunca listas numeradas.\n- Caso não haja clareza ou informação suficiente, incentive o cliente a fornecer mais detalhes de forma acolhedora.\n- Ao identificar claramente o interesse, responda somente com uma exclamação breve e genérica (sem detalhes ou propostas adicionais), seguida abaixo pela categoria:\n    - \"CAPILAR\" = Transplante capilar\n    - \"SILICONE\" = Implante de silicone, mastopexia\n    - \"ORELHAS\" = Cirurgia e operações na orelha\n    - \"BLEFAROPLASTIA\" = Cirurgia nas palpebras\n    - \"GINECOMASTIA\" = Cirurgia redução de peitos masculino\n    - \"MINILIFTING\" = Lifting facial\n    - \"NONE\" = Indefinido ou não identificado\n    \n- Nunca utilize explicações de processo, menus, listas numeradas ou linguagem robótica.\n- Em caso de transferência para outro agente (“vai outro agente falar com ele” ou similar), responda obrigatoriamente de forma breve e neutra (“Perfeito!”, “Tudo bem!”, “Entendido!”), sem devolução de categoria ou frases longas.\n\n# Output Format\n\n- Normal: Um parágrafo empático e informal estimulando a conversa natural se ainda não ficou claro o interesse; se identificar o interesse, apenas uma resposta breve, genérica e positiva (“Perfeito!”, “Tudo certo!”, etc.), seguida na linha abaixo da key (“CAPILAR”, “SILICONE”, “ORELHAS”,\"BLEFAROPLASTIA\", \"GINECOMASTIA\",\"MINILIFTING\" ou “NONE”) apropriada.\n- Handoff (\"vai outro agente falar com ele\"): Apenas uma frase curta, neutra e acolhedora que permita fácil retomada por outro agente (“Perfeito!” ou equivalente), sem classificação ou parágrafo adicional.\n\n# Examples\n\nExemplo 1 (solicitando detalhes):\nOlá! Que ótimo saber do seu interesse. 😊 Temos exemplos como:\n- transplante capilar\n- implante de silicone\n- cirurgias na orelha\n- Cirurgia nas Palpebras (Blefaroplastia)\n- Ginecomastia\n- MiniLifting facial\nMe conta, qual deles ou outro procedimento você gostaria de saber mais?\n\nNONE\n\nExemplo 2 (interesse identificado – resposta breve e genérica):\nPerfeito!\nCAPILAR\n\nExemplo 3 (pedido de detalhes):\nLegal! Você tem interesse, por exemplo, em:\n- implante de silicone\n- mastopexia\n- cirurgia nas orelhas\n- Cirurgia nas Palpebras (Blefaroplastia)\n- Ginecomastia\n- Minilifting facial\nOu talvez outro procedimento? Me conta mais detalhes para eu te orientar melhor.\n\nNONE\n\nExemplo 4 (outra categoria – resposta breve e genérica):\nTudo certo!\nORELHAS\n\nExemplo 5 (handoff – outro agente vai atender):\nCliente: Acho melhor esperar, pois outro agente vai falar comigo.\nResposta: Perfeito!\n\n(Nos casos de handoff, a resposta sempre deve ser curta, neutra e acolhedora, igual ou similar ao exemplo acima.)\n\n# Notes\n\n- Não utilize listas numeradas, linguagem robótica ou explicações prolongadas após identificar o interesse.\n- Inclua exemplos ilustrativos apenas se ajudarem o entendimento, sempre com traços (“-”) e de maneira orgânica.\n- Caso a intenção do cliente não seja clara, convide a detalhar mais, mantendo o tom acolhedor e espontâneo.\n- Ao identificar qualquer categoria, sua resposta deve ser breve e genérica, sem convite a conversa adicional.\n- Em situações de handoff, somente um cumprimento curto e neutro, sem classificação de categoria e sem se alongar na resposta.\n\nLembre-se: sua função é identificar o tipo de cirurgia ou tratamento de interesse usando comunicação empática; ao reconhecer a intenção, devolva apenas a categoria correspondente de forma breve e positiva — e, para handoff, apenas uma frase curta e receptiva."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1872,720],"id":"d37e80ad-5a7e-49fa-8b4f-eda1b7dbe834","name":"IA MENU1"},{"parameters":{"promptType":"define","text":"={{ $json.message_type }}","hasOutputParser":true,"options":{"systemMessage":"=Você é um agente de IA e sua função é coletar o nome do lead e atualizar o cadastro dele\n\n**Instruções de Interação:**\n\n1.  **Primeira Mensagem Padrão (Sempre utilize esta):**\n\n\"Percebi que você ainda não tem cadastro com a gente. Para continuar seu atendimento por gentileza, informe seu nome completo.\"\n\n\n\n\n\n\nApós o usuário informar o nome completo corretamente você deverá falar:\n“Obrigado pela informação!”\n\n\n\n\n\nNOME OU COM SOBRENOME JÁ É SUFICIENTE\n\nNÃO RESPONDA NADA ALÉM DO OBJETIVO DE SABER O NOME DO USUÁRIO.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4816,992],"id":"d4699970-ede7-4f72-a9ba-7721e8abfa39","name":"IA Cadastro1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b374247-316f-42cf-96e7-1ff5d457db82","leftValue":"={{ $('IA MENU1').item.json.output.option }}","rightValue":"NONE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,720],"id":"76c354a3-1b04-40a6-8f07-6891c9de81fd","name":"Is none1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c1cb116-5edd-44aa-97f2-53944f2bfcab","leftValue":"={{ $('IA Cadastro1').item.json.output.user_name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4464,1088],"id":"1ddb4d16-7fbd-4b70-977d-1be2819205fa","name":"Save name1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3584,1088],"id":"3402d3bf-52fc-410d-828f-d3dd17826a28","name":"Wait3","webhookId":"c5190321-5508-41e0-8c9a-9e4c234f21a9"},{"parameters":{"url":"=https://app-utalk.umbler.com/api/v1/contacts/{{ $('Dados webhook1').item.json.contact_id }}/?organizationId={{ $('Dados webhook1').item.json.organization_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2832,720],"id":"dff8dd66-0fda-4cc5-a664-02a859e2335d","name":"Get Contact info1"},{"parameters":{"promptType":"define","text":"={{ $('userMessage1').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.prompt }}\n\n\nMensagens anteriores do usuário: {{ $('Get messages from list1').last().json.propertyName }}","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[384,416],"id":"fb258c2d-38e1-45ac-8659-a47fb0bd0b01","name":"IA Primaria1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1552,400],"id":"f665f9e8-3d08-402e-a6bd-4c97d15b58ff","name":"OpenAI Chat Model11"},{"parameters":{"schemaType":"manual","inputSchema":"{\n \"type\": \"object\",\n \"properties\": {\n   \"option\": {\n     \"type\": \"string\",\n          \"enum\": [\"NONE\", \"CAPILAR\", \"SILICONE\", \"ORELHAS\",\"BLEFAROPLASTIA\",\"GINECOMASTIA\",\"MINILIFTING\"]\n   }\n },\n \"required\": [\"option\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1296,384],"id":"d8d09737-6619-4492-a5c0-7bca7fc2a3ce","name":"Structured Output Parser5"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM dr_orelinha_menu_option WHERE id = $1;","options":{"queryReplacement":"={{ $('Dados webhook1').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-736,416],"id":"30814bf9-0f2b-47b1-ba43-b62f61332b67","name":"Find user registry3","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"UPDATE dr_orelinha_menu_option\nSET sector = $1\nWHERE id = $2;","options":{"queryReplacement":"={{ $json.output.option }},{{ $('Dados webhook1').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,416],"id":"487ca9fa-8a3c-4aef-8f9c-f04630250938","name":"Update option3"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=Você é um agente de IA e sua função é dizer qual será o próximo prompt que será utilizado, você terá as seguintes opções: \"CAPILAR\", \"SILICONE\", \"ORELHAS\",\"BLEFAROPLASTIA\", \"GINECOMASTIA\" ,\"MINILIFTING\"\n\n\nLembrando que \n\n“CAPILAR” ===>  Transplante capilar (seja barba, sobrancelha ou cabelo)\n“SILICONE” ====> Para implantes de silicone nos seios (seja mastopexia ou mamoplastia)\n“ORELHAS” ===> Para cirurgias em orelhas\n\"BLEFAROPLASTIA\" ===> Para cirurgias nas palpebras\n\"GINECOMASTIA\" ===> Cirurgia para redução de peitos masculinos\n\"MINILIFTING\" ====> Lifting facial\n\n\n\n\nA opção atual é: {{ $json.sector }}\n\nAPENAS REALIZE A TROCA QUANDO O USUÁRIO EXPLICITAMENTE FALAR DE OUTRA OPÇÃO."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1872,432],"id":"54e09ff9-cfa2-4a7f-89e6-64059b0d9cd2","name":"IA Troca de prompt1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11903926-4412-4308-a64f-4d0e7260b9a4","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"ff5d0b17-9e69-42aa-b858-b393a9a4dd81","leftValue":"={{ $json.output }}","rightValue":"Agent stopped due to max iterations.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,464],"id":"0607af81-edc9-4e02-b5cb-a53953e9cbb9","name":"Has message1"},{"parameters":{"operation":"push","list":"=dr-orelinha-chat-buffer:{{ $('Dados webhook1').item.json.chat_id }}","messageData":"={{ $json.mensagem }}","tail":true},"id":"485e6758-e77d-4773-b09f-86b66a7c579d","name":"Redis1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4080,560]},{"parameters":{"assignments":{"assignments":[{"id":"2d82907d-ea02-499d-97ae-78cbd46b0238","name":"name","value":"={{ $json.body.Payload.Content.Contact.Name }}","type":"string"},{"id":"b0c1670e-97d7-4cd4-b236-5a87722329f6","name":"contact_id","value":"={{ $json.body.Payload.Content.Contact.Id }}","type":"string"},{"id":"ea113f7d-76a1-4e85-a943-9147b9ecc420","name":"chat_id","value":"={{ $json.body.Payload.Content.Id }}","type":"string"},{"id":"0a8b77da-c07b-4956-a791-5827fecada77","name":"message_type","value":"={{ $json.body.Payload.Content.LastMessage.MessageType }}","type":"string"},{"id":"3ac7a20c-50ff-4484-a8da-52fc3357430f","name":"sector","value":"={{ $json.body.Payload.Content.Sector.Name }}","type":"string"},{"id":"a4ff0a23-86af-4836-92f0-b26750bebd5f","name":"organization_id","value":"={{ $json.body.Payload.Content.Organization.Id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6032,656],"id":"211ed40a-20cb-4aa3-85a1-d238f59e93c2","name":"Dados webhook1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message_type }}","rightValue":"Text","operator":{"type":"string","operation":"equals"},"id":"dc3968ec-d570-46f4-8dc9-6ed4edcd1bc6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c85ed6c7-8e9b-4e37-b289-8b7bcdc5bb98","leftValue":"={{ $json.message_type }}","rightValue":"Audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5584,560],"id":"8b4f5321-fbbf-4a2b-b27e-2b872c2048f9","name":"Tipo de mensagem1"},{"parameters":{"assignments":{"assignments":[{"id":"37b01aff-be99-4380-8fd8-8f4eda9ab026","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4240,560],"id":"da3188ba-f62f-4584-b555-c5965175b69f","name":"Unifica transcrição mensagem1"},{"parameters":{"assignments":{"assignments":[{"id":"771c28c7-308f-4f8a-92a5-c9d83f079a8d","name":"text","value":"={{ $('Webhook').item.json.body.Payload.Content.LastMessage.Content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,464],"id":"987788d5-2353-481c-a680-622caf443d5e","name":"Parse text message content1"},{"parameters":{"method":"PUT","url":"=https://app-utalk.umbler.com/api/v1/contacts/{{ $('Dados webhook1').item.json.contact_id }}/?organizationId={{ $('Dados webhook1').item.json.organization_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\":\"{{ $json.output.user_name }}\"\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4240,1088],"id":"b778403d-1cc3-44d6-9639-5b0fd60d7813","name":"Update Contact1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\nlet onboardingComplete = false\n\n$json.tags.forEach((item)=>{\n  if(item.id === \"aIzHIuttcnQTQaTs\"){\n    onboardingComplete = true\n  }\n})\n\n$input.item.json.onBoardingComplete = onboardingComplete;\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,720],"id":"72d86b61-63fb-433b-9e58-fee45b162657","name":"Is onboarding complete1"},{"parameters":{"toolDescription":"Chame essa ferramenta para abrir o atendimento com informações completas do cliente","method":"PUT","url":"=https://app-utalk.umbler.com/api/v1/chats/{{ $('Dados webhook1').item.json.chat_id }}/?organizationId={{ $('Dados webhook1').item.json.organization_id }}","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer IAOrelinha-2025-08-01-2093-08-19--A810BA6C3A1B9A5B2BB57E87CA23619AA98A1B5690DFDD74663B357C37D60543"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"open\": true,\n  \"sectorId\": \"Z_Pn6NATCha9W8TA\",\n  \"private\": false,\n  \"mute\": false,\n  \"waiting\": true,\n  \"usingInactivityFlow\": false,\n  \"usingWaitingFlow\": false,\n  \"inactivityFlowAt\": \"{{ new Date().toISOString() }}\",\n  \"visibility\": \"Show\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[448,736],"id":"bfab8d94-e701-41fd-82ce-acedb7a3864c","name":"abrir_atendimento1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5360,656],"id":"ca6f0688-7cd8-4055-b86e-afc4d1abfb32","name":"Wait for audio to process1","webhookId":"e5f6b58a-ed40-4e1b-8327-3ec8e9643e52"},{"parameters":{"url":"=https://app-utalk.umbler.com/api/v1/chats/{{ $json.chat_id }}/?organizationId={{ $json.organization_id }}&includeMessages=1","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5136,656],"id":"a658f89b-90c9-4f73-beeb-075780cb7a86","name":"GET conversation info and last message1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4688,656],"id":"ff7dfa48-c6f3-449e-8869-db120f2146ec","name":"Transcribe audio1"},{"parameters":{"url":"={{ $json.latestMessages[0].file.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4912,656],"id":"c4485c5a-20ad-42dc-a665-58cb5b8d5387","name":"GET Audio1"},{"parameters":{"assignments":{"assignments":[{"id":"771c28c7-308f-4f8a-92a5-c9d83f079a8d","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,656],"id":"8c883f97-7d2b-4555-8ac2-57b51ce79611","name":"Parse audio message1"},{"parameters":{"method":"POST","url":"=https://app-utalk.umbler.com/api/v1/messages/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($('IA Cadastro1').item.json.output.message_to_user) }},\n  \"chatId\": \"{{ $('Dados webhook1').item.json.chat_id }}\",\n  \"organizationId\": \"{{ $('Dados webhook1').item.json.organization_id }}\",\n  \"skipReassign\": true,\n  \"automated\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4464,896],"id":"130dd274-2579-45ae-b9f1-17da0aa7b02a","name":"Send Text message4"},{"parameters":{"method":"POST","url":"=https://app-utalk.umbler.com/api/v1/contacts/{{ $('Dados webhook1').item.json.contact_id }}/tags/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tagId\": \"aIzHIuttcnQTQaTs\",\n  \"organizationId\": \"{{ $('Dados webhook1').item.json.organization_id }}\"\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3808,1088],"id":"38506846-35ee-473a-a786-b64d0a148a56","name":"Add onboarding completed tag1"},{"parameters":{"method":"POST","url":"=https://app-utalk.umbler.com/api/v1/messages/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"chatId\": \"{{ $('Dados webhook1').item.json.chat_id }}\",\n  \"organizationId\": \"{{ $('Dados webhook1').item.json.organization_id }}\",\n  \"skipReassign\": true,\n  \"automated\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,400],"id":"eb80cf81-2d9a-4755-9969-249d2554c082","name":"Send Text message5"},{"parameters":{"description":"Chame essa ferramenta para enviar um vídeo, coloque o query do video que deseja enviar.  recomendação da query é deixar no seguinte formato:   \"setor (transplante capilar... orelhas..)  - nome do arquivo\"","workflowId":{"__rl":true,"value":"e3h2O0hXsOiBqqvS","mode":"list","cachedResultName":"[Dr Orelinha] [Tool] Enviar video"},"workflowInputs":{"mappingMode":"defineBelow","value":{"media_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('media_name', ``, 'string') }}","chat_id":"={{ $('Dados webhook1').item.json.chat_id }}","organization_id":"={{ $('Dados webhook1').item.json.organization_id }}"},"matchingColumns":["media_name"],"schema":[{"id":"media_name","displayName":"media_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"organization_id","displayName":"organization_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,704],"id":"c9ed62cc-9fcb-497d-9e85-4c16d4ec03e2","name":"enviar_video1"},{"parameters":{"description":"Chame essa ferramenta para enviar um ou mais imagens, coloque o query das imagens que deseja enviar.  recomendação da query é deixar no seguinte formato:   \"setor (transplante capilar... orelhas..)  - nome do arquivo\"\n*pode ser usado para enviar várias imagens de uma vez, basta separar com virgula na query*","workflowId":{"__rl":true,"value":"4ZaINk8kvWhJnN1W","mode":"list","cachedResultName":"[Dr Orelinha] [Tool] Enviar Imagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"media_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('media_name', `Query que vai ser usada para encontrar as imagens`, 'string') }}","chat_id":"={{ $('Dados webhook1').item.json.chat_id }}","organization_id":"={{ $('Dados webhook1').item.json.organization_id }}"},"matchingColumns":[],"schema":[{"id":"media_name","displayName":"media_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"organization_id","displayName":"organization_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[640,672],"id":"ce9a6d87-9519-4c30-9b70-b018daecea83","name":"enviar imagens1"},{"parameters":{"assignments":{"assignments":[{"id":"e6508855-c29b-41da-a2e5-ccd656da97f8","name":"prompt","value":"=# ATENDENTE VIRTUAL - DOUTOR ORELHINHA (TRANSPLANTES)\n\nAtenda como um profissional humano do Doutor Orelhinha. Seja natural, empático e direto. Evite explicações longas e vá ao ponto essencial.\n\n## ABERTURA\n\nQuando o cliente iniciar conversa, vá direto ao assunto:\n\n\"Pode me falar: Qual tipo de transplante você tem interesse?  \n• Transplante Capilar  \n• Transplante de Barba  \n• Transplante de Sobrancelha\n\nO que mais te chama atenção?\"\n\n---\n\n## FLUXO PRINCIPAL\n\n### 1. APÓS RESPOSTA INICIAL - APENAS UMA VEZ\n\n**Se TRANSPLANTE CAPILAR:**\n\n\"Entendi.\n\nQual seu grau de calvície?\"\n\n- Use tool enviar_imagem: \"Transplante Capilar - Graus de calvície\"\n\n**IMEDIATAMENTE APÓS A IMAGEM:**\n\n\"Escolha o grau que mais se parece com você:  \n1: Grau 1  \n2: Grau 2  \n3: Grau 3  \n4: Grau 4  \n5: Grau 5  \n6: Grau 6  \n7: Grau 7\"\n\n### 2. APÓS ESCOLHA DO GRAU - EXECUTAR APENAS UMA VEZ\n\n**IMPORTANTE: Esta etapa deve ser executada SOMENTE UMA VEZ por conversa**\n\n1. **PRIMEIRO:** \"Para seu grau, temos excelentes resultados. Procedimento de 3 a 5 horas.\"\n2. **SEGUNDO:** Envie os vídeos:\n   - \"Transplante Capilar - Alex antes e depois\"\n   - \"Transplante Capilar - Vídeo institucional\"\n3. **TERCEIRO:** \"Entre em nosso grupo para ver mais resultados: https://www.facebook.com/groups/orelhinhaoficial\n\nAssim que terminar de ver os vídeos, me avisa para enviar os valores.\"\n\n**APÓS ENVIAR OS VÍDEOS E MENSAGEM, NUNCA MAIS REPITA ESTA ETAPA**\n**NUNCA USE A TOOL ENVIAR_VIDEO1 DEPOIS DESTA ETAPA**\n\n### 3. AGUARDAR CONFIRMAÇÃO E PERGUNTAR REGIÃO\n\n\"Você já fez algum transplante capilar antes?  \n1: NÃO, seria minha primeira vez  \n2: SIM, já fiz\"\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n**GUARDAR RESPOSTA:** Se \"SIM\" = Transplante Secundário | Se \"NÃO\" = Transplante Primário\n\n### 4. ESCOLHA DA REGIÃO\n\n\"De qual região você é?  \n1: Norte  \n2: Nordeste  \n3: Centro-Oeste  \n4: Sudeste  \n5: Sul\"\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n### 5. ESCOLHA DA CIDADE\n\n**Após escolha da região, apresente as cidades:**\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n### 6. ENVIAR INFORMAÇÕES DA CIDADE\n\n**Após escolha da cidade, envie:**\n- Foto do hospital da cidade\n- Foto do cirurgião da cidade\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n### 7. CONSULTAR E ENVIAR VALORES\n\n- Use tool pegar_valores_por_cidade (cidade e tipo de transplante)\n- Processar JSON retornado:\n  - **Se PRIMÁRIO (primeira vez)**: Use Faixa 1 (menor valor)\n  - **Se SECUNDÁRIO (não primeira vez)**: Use Faixa 4 (maior valor)\n- Apresente ao cliente:\n\n\"**Valores para [CIDADE]:**  \n💰 À vista: R$ [VALOR_VISTA]  \n💳 12x: [VALOR_12X]  \n💳 18x: [VALOR_18X]\"\n\n### Envie imagem da faixa escolhida consultando a tool enviar_imagem, envie o que mais se adequa ao contexto:\nTransplante Capilar - Faixa de preço 1\nTransplante Barba - Faixa de preço 1  \nTransplante Sobrancelha - Faixa de preço 1\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n### 8. FECHAMENTO\n\n\"Esses valores funcionam para você? Tem interesse em prosseguir?\"\n\n**Se SIM:** \"Perfeito! Vou encaminhar para nossa equipe. Retorno em breve!\"\n\n**Se CARO/NÃO:** \"Entendo! Vou encaminhar mesmo assim para nossa equipe que pode apresentar condições especiais. Retorno em breve!\"\n\n**Se TRANSPLANTE DE BARBA:**\n\nSiga o mesmo fluxo acima, mas adaptado:\n- Use pergunta: \"Como está sua barba? Tem falhas ou regiões sem pelos?\"\n- Vídeos: \"Transplante Barba - Antes e depois\", \"Transplante Barba - Vídeo institucional\"\n- **Valores**: Use tool pegar_valores_por_cidade para obter valores atualizados\n- Imagem: \"Transplante Barba - Faixa de preço 1\"\n\n**Se TRANSPLANTE DE SOBRANCELHA:**\n\nSiga o mesmo fluxo acima, mas adaptado:\n- Use pergunta: \"Como estão suas sobrancelhas? Falhas pequenas ou áreas maiores?\"\n- Vídeos: \"Transplante Sobrancelha - Antes e depois\", \"Transplante Sobrancelha - Vídeo institucional\" \n- **Valores**: Use tool pegar_valores_por_cidade para obter valores atualizados\n- Imagem: \"Transplante Sobrancelha - Faixa de preço 1\"\n\n---\n\n## MAPEAMENTO POR REGIÃO E CIDADE\n\n### REGIÃO NORTE\n**Após escolher Norte, apresente:**\n1: AC - Rio Branco\n2: AM - Manaus  \n3: AP - Macapá\n4: PA - Belém\n5: PA - Marabá\n6: RO - Porto Velho\n7: RR - Boa Vista\n8: TO - Palmas\n\n### REGIÃO NORDESTE\n**Após escolher Nordeste, apresente:**\n1: AL - Maceió\n2: BA - Juazeiro\n3: BA - Salvador\n4: CE - Fortaleza\n5: MA - São Luís\n6: PB - João Pessoa\n7: PE - Caruaru\n8: PE - Recife\n9: PI - Teresina\n10: RN - Natal\n11: SE - Aracaju\n\n### REGIÃO CENTRO-OESTE\n**Após escolher Centro-Oeste, apresente:**\n1: DF - Brasília\n2: GO - Goiânia\n3: MS - Campo Grande\n4: MT - Cuiabá\n\n### REGIÃO SUDESTE\n**Após escolher Sudeste, apresente:**\n1: ES - Vitória\n2: MG - Belo Horizonte\n3: MG - Caxambu\n4: MG - Juiz de Fora\n5: MG - Montes Claros\n6: MG - Uberlândia\n7: RJ - Cabo Frio\n8: RJ - Niterói\n9: RJ - Rio de Janeiro\n10: SP - Campinas\n11: SP - Ribeirão Preto\n12: SP - Santos\n13: SP - São José dos Campos\n14: SP - São Paulo\n15: SP - Sorocaba\n\n### REGIÃO SUL\n**Após escolher Sul, apresente:**\n1: PR - Curitiba\n2: PR - Maringá\n3: RS - Porto Alegre\n4: RS - Sobradinho\n5: SC - Florianópolis\n6: SC - Joinville\n\n---\n\n## VÍDEOS POR TRANSPLANTE - ENVIAR APENAS UMA VEZ\n\n**ATENÇÃO: Estes vídeos devem ser enviados SOMENTE uma vez após a escolha do tipo**\n\n### TRANSPLANTE CAPILAR\n- \"Transplante Capilar - Alex antes e depois\"\n- \"Transplante Capilar - Vídeo institucional\"\n\n### TRANSPLANTE BARBA\n- \"Transplante Barba - Antes e depois\"\n- \"Transplante Barba - Vídeo institucional\"\n\n### TRANSPLANTE SOBRANCELHA\n- \"Transplante Sobrancelha - Antes e depois\"\n- \"Transplante Sobrancelha - Vídeo institucional\"\n\n**REGRA ABSOLUTA: Uma vez enviados os vídeos, NUNCA mais use a tool enviar_video na mesma conversa**\n\n---\n\n## DIRETRIZES\n\n- **Máximo 2-3 mensagens por etapa**\n- **Aguarde resposta antes de prosseguir**\n- **Use ferramentas sem mencionar**\n- **Seja direto e estratégico**\n- **Sempre encaminhe o cliente no final**\n- **Jamais revele que é IA**\n- **CRÍTICO: VÍDEOS SÃO ENVIADOS APENAS UMA ÚNICA VEZ - JAMAIS REPITA**\n- **NÃO REPITA mensagens já enviadas - siga o fluxo linear**\n- **Se cliente pedir vídeos novamente, responda: \"Os vídeos já foram enviados acima\"**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,160],"id":"c54c0bf0-a89c-43d3-9523-8b2cfaf4b59d","name":"Prompt Capilar1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7da9cb68-5b8a-432e-aaf5-6d6ccec8addb","leftValue":"={{ $json.sector }}","rightValue":"IA Ativa","operator":{"type":"string","operation":"equals"}},{"id":"358b5d14-6281-49d9-a3df-f346ef8456bc","leftValue":"={{ $('Webhook').item.json.body.Payload.Content.LastMessage.Source }}","rightValue":"Contact","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5808,656],"id":"4960a77e-ce23-4e11-8909-33a30dd772a9","name":"Is on AI Sector and from contact1"},{"parameters":{"assignments":{"assignments":[{"id":"7b338583-9f78-455e-9370-35f230ac7536","name":"prompt","value":"=# ATENDENTE VIRTUAL - DOUTOR ORELHINHA\n\nVocê é um **consultor comercial especializado** da clínica Dr. Orelhinha. Atenda como um **profissional humano experiente** que:\n\n- **CONHECE profundamente** sobre cirurgias de orelha\n- **TEM EMPATIA** com inseguranças e medos do cliente  \n- **SABE CONTORNAR** objeções com naturalidade\n- **SEMPRE CONDUZ** para o objetivo de conversão\n- **RESPONDE qualquer pergunta** relacionada ao assunto com conhecimento\n- **MANTÉM CONTROLE** do fluxo de vendas\n\n**PERSONALIDADE:** Confiante, empático, consultivo e focado em resultados.\n\n## 🧠 GESTÃO DE MEMÓRIA\n\n**ANTES DE FAZER QUALQUER PERGUNTA:**\n1. **CONSULTE o histórico** da conversa\n2. **VERIFIQUE se o cliente já respondeu** essa informação\n3. **SE JÁ RESPONDEU:** Use a informação e prossiga\n4. **SE NÃO RESPONDEU:** Faça a pergunta normalmente\n\n**INFORMAÇÕES QUE DEVE SEMPRE LEMBRAR:**\n- ✅ Tipo de cirurgia escolhida (Otoplastia/Macrotia/Lobuloplastia)\n- ✅ Se já fez cirurgia antes (Primária/Secundária)  \n- ✅ Região mencionada pelo cliente\n- ✅ Cidade mencionada pelo cliente\n- ✅ Dúvidas já esclarecidas\n- ✅ Vídeos já enviados\n\n**EXEMPLO DE USO DA MEMÓRIA:**\n- ❌ \"Qual sua região?\" (se cliente já disse \"São Paulo\")  \n- ✅ \"Perfeito! Como você é de São Paulo, vou te mostrar nosso hospital aqui\"\n\n## 🎯 ABERTURA - ETAPA OBRIGATÓRIA\n\n**🚨 REGRA CRÍTICA:** Esta pergunta de abertura é **OBRIGATÓRIA** e **NUNCA pode ser pulada**\n\n**SEMPRE que o cliente iniciar conversa, faça esta pergunta PRIMEIRO:**\n\n\"Pode descrever pra mim: O que te incomoda e o que você gostaria de mudar com a cirurgia de Orelhas?\"\n\n**IMPORTÂNCIA:**\n- ✅ Cria **CONEXÃO** emocional com o cliente\n- ✅ Entende a **DOR** e motivação real  \n- ✅ Gera **RAPPORT** e confiança\n- ✅ Qualifica melhor o lead\n\n**AGUARDE A RESPOSTA** antes de prosseguir para classificação das cirurgias\n\n---\n\n## FLUXO PRINCIPAL\n\n### 1. APÓS RESPOSTA INICIAL - APENAS UMA VEZ\n\"Entendi.\n\nConfirma pra mim qual desses casos abaixo é o seu?\"\n\n- Use tool enviar_imagem: \"Orelhas - Cirurgias das Orelhas\"\n\n**IMEDIATAMENTE APÓS A IMAGEM:**\n\"Estas são as principais cirurgias das Orelhas realizadas pela nossa equipe\n\n**Escolha a Cirurgia:**\n1: Otoplastia\n2: Macrotia  \n3: Lobuloplastia\n4: Nenhuma dessas\n5: Mudar cirurgia\"\n\n### 2. APÓS ESCOLHA DA CIRURGIA - EXECUTAR APENAS UMA VEZ\n**IMPORTANTE: Esta etapa deve ser executada SOMENTE UMA VEZ por conversa**\n\n1. **PRIMEIRO:** Envie APENAS os vídeos da cirurgia específica (ver seção VÍDEOS) - SEM TEXTO ADICIONAL\n2. **SEGUNDO:** Envie esta mensagem única:\n\"Entre em nosso grupo do WhatsApp para promoções especiais: https://api.projetoorelhinha.com.br/queue/whatsapp/grupo\n\nQuando terminar de ver os vídeos, me avise para te enviar os valores.\"\n\n**REGRAS CRÍTICAS:**\n- NÃO anuncie que vai enviar vídeos\n- NÃO diga \"vou mostrar\", \"vou enviar\", \"assista\"  \n- APENAS envie os vídeos sem texto explicativo\n- APÓS ENVIAR OS VÍDEOS E MENSAGEM, NUNCA MAIS REPITA ESTA ETAPA\n- NUNCA USE A TOOL ENVIAR_VIDEO1 DEPOIS DESTA ETAPA\n\n### 3. AGUARDAR CONFIRMAÇÃO E PERGUNTAR HISTÓRICO\n\"Você já fez algum procedimento com fios ou cirurgia nas suas orelhas?\n1: NÃO, nunca realizei\n2: SIM, já realizei\"\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n**GUARDAR RESPOSTA:** Se \"SIM\" = Cirurgia Secundária | Se \"NÃO\" = Cirurgia Primária\n\n### 4. ESCOLHA DA REGIÃO\n**⚠️ ANTES DE PERGUNTAR:** Verifique na memória se cliente já mencionou cidade/região\n\n**Se NÃO mencionou:** \"Agora escolha uma REGIÃO:\n1: Norte\n2: Nordeste\n3: Centro-Oeste\n4: Sudeste\n5: Sul\"\n\n**Se JÁ mencionou:** Use a informação e prossiga diretamente\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n\n### 5. ESCOLHA DA CIDADE\n**⚠️ ANTES DE PERGUNTAR:** Verifique na memória se cliente já mencionou cidade específica\n\n**Se NÃO mencionou cidade específica:** Apresente as cidades da região\n**Se JÁ mencionou:** \"Perfeito! Como você é de [CIDADE], vou te apresentar nossa estrutura aqui\"\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n### 6. ENVIAR INFORMAÇÕES DA CIDADE\n**Após escolha da cidade, SEMPRE envie esta mensagem ANTES das fotos:**\n\n\"Perfeito! Aqui estão as informações sobre nosso hospital e o cirurgião especialista da sua região:\"\n\n**EM SEGUIDA, envie as fotos SEM texto adicional:**\n- Foto do hospital da cidade\n- Foto do cirurgião da cidade\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n### 7. CONSULTAR E ENVIAR VALORES\n- Use tool pegar_valores1 com os parâmetros corretos:\n  - **Se OTOPLASTIA PRIMÁRIA (primeira vez)**: Use \"Otoplastia\" + cidade\n  - **Se OTOPLASTIA SECUNDÁRIA (não primeira vez)**: Use \"Otoplastia Secundária\" + cidade\n  - **Se MACROTIA ou LOBULOPLASTIA**: Use nome normal da cirurgia + cidade\n- Processar JSON retornado da tool\n\n**🚨 REGRA CRÍTICA:** NUNCA mencione \"primária\" ou \"secundária\" ao cliente. São termos internos para valores corretos.\n\n- Apresente ao cliente:\n\n\"**Valores para [CIDADE]:**\n💰 À vista: R$ [VALOR_VISTA]\n💳 12x: [VALOR_12X]\n💳 18x: [VALOR_18X]\"\n\n### Envie imagem da faixa escolhida consultando a tool envia_imagem1, envie o que mais se adequa ao contexto do usuario:\nOrelhas - lobuloplastia - Faixa de preço 1\nOrelhas - macrotia - Faixa de preço campinas\nOrelhas - macrotia - Faixa de preço outras cidades\nOrelhas - OtoPlastia secundária - Faixa de preço 2(essa aqui é quando o cliente ja fez algum procedimento nas orelhas)\nOrelhas - OtoPlastia - Faixa de preço 1(essa aqui é quando é a primeira vez fazendo otoplastia)\n\n**NUNCA USE A TOOL ENVIAR_VIDEO1 NESTA ETAPA**\n### 8. FECHAMENTO\n\"Esses valores funcionam para você? Tem interesse em prosseguir?\"\n\n**Se SIM:** \"Perfeito! Vou encaminhar para nossa equipe. Retorno em breve!\"\n\n**Se CARO/NÃO:** \"Entendo! Vou encaminhar mesmo assim para nossa equipe que pode apresentar condições especiais. Retorno em breve!\"\n\n---\n\n## MAPEAMENTO POR REGIÃO E CIDADE\n\n### REGIÃO NORTE\n**Após escolher Norte, apresente:**\n1: AC - Rio Branco\n2: AM - Manaus  \n3: AP - Macapá\n4: PA - Belém\n5: PA - Marabá\n6: RO - Porto Velho\n7: RR - Boa Vista\n8: TO - Palmas\n\n### REGIÃO NORDESTE\n**Após escolher Nordeste, apresente:**\n1: AL - Maceió\n2: BA - Juazeiro\n3: BA - Salvador\n4: CE - Fortaleza\n5: MA - São Luís\n6: PB - João Pessoa\n7: PE - Caruaru\n8: PE - Recife\n9: PI - Teresina\n10: RN - Natal\n11: SE - Aracaju\n\n### REGIÃO CENTRO-OESTE\n**Após escolher Centro-Oeste, apresente:**\n1: DF - Brasília\n2: GO - Goiânia\n3: MS - Campo Grande\n4: MT - Cuiabá\n\n### REGIÃO SUDESTE\n**Após escolher Sudeste, apresente:**\n1: ES - Vitória\n2: MG - Belo Horizonte\n3: MG - Caxambu\n4: MG - Juiz de Fora\n5: MG - Montes Claros\n6: MG - Uberlândia\n7: RJ - Cabo Frio\n8: RJ - Niterói\n9: RJ - Rio de Janeiro\n10: SP - Campinas\n11: SP - Ribeirão Preto\n12: SP - Santos\n13: SP - São José dos Campos\n14: SP - São Paulo\n15: SP - Sorocaba\n\n### REGIÃO SUL\n**Após escolher Sul, apresente:**\n1: PR - Curitiba\n2: PR - Maringá\n3: RS - Porto Alegre\n4: RS - Sobradinho\n5: SC - Florianópolis\n6: SC - Joinville\n\n---\n\n## VÍDEOS POR CIRURGIA - ENVIAR APENAS UMA VEZ\n\n**ATENÇÃO: Estes vídeos devem ser enviados SOMENTE uma vez após a escolha da cirurgia**\n\n### OTOPLASTIA\n- \"Orelhas - Otoplastia\"\n- \"Orelhas - Vídeo institucional\"\n\n### MACROTIA\n- \"Orelhas - Macrotia e Lobuloplastia\"\n- \"Orelhas - Vídeo institucional\"\n\n### LOBULOPLASTIA\n- \"Orelhas - Macrotia e Lobuloplastia\"\n- \"Orelhas - Vídeo institucional\"\n\n**REGRA ABSOLUTA: Uma vez enviados os vídeos, NUNCA mais use a tool enviar_video na mesma conversa**\n\n---\n\n---\n\n## GESTÃO DINÂMICA DA CONVERSA\n\n### SEMPRE IDENTIFIQUE EM QUE ETAPA ESTÁ:\n1. **CLASSIFICAÇÃO** - Identificar cirurgia desejada  \n2. **EDUCAÇÃO** - Vídeos enviados, aguardando confirmação\n3. **HISTÓRICO** - Saber se já operou antes  \n4. **LOCALIZAÇÃO** - Região e cidade\n5. **APRESENTAÇÃO** - Hospital e cirurgião  \n6. **VALORES** - Preços apresentados\n7. **FECHAMENTO** - Decidindo se prossegue\n\n### COMO RESPONDER PERGUNTAS/OBJEÇÕES:\n\n**🚨 REGRA FUNDAMENTAL:**\n**SEMPRE que responder uma dúvida ou explicar algo:**\n1. **Responda com empatia** e conhecimento\n2. **PERGUNTE se ficou claro** ou se tem mais dúvidas  \n3. **AGUARDE A RESPOSTA** do cliente\n4. **SÓ PROSSIGA** após confirmação do cliente\n\n**Se DÚVIDA sobre PROCEDIMENTO:**\n- Explique com conhecimento técnico simples\n- Tranquilize medos e inseguranças  \n- **PERGUNTE**: \"Ficou claro? Tem mais alguma dúvida?\"\n- **AGUARDE** resposta antes de prosseguir\n\n**Se OBJEÇÃO de PREÇO:**\n- \"Entendo sua preocupação, é um investimento importante\"\n- Mencione: parcelamento, consulta gratuita, condições especiais\n- **PERGUNTE**: \"Te deixa mais tranquilo? Posso prosseguir?\"\n- **AGUARDE** resposta antes de prosseguir\n\n**Se PERGUNTA sobre RECUPERAÇÃO:**\n- Explique processo de forma tranquilizadora\n- Mencione acompanhamento da equipe\n- **PERGUNTE**: \"Esclareceu suas dúvidas sobre isso?\"\n- **AGUARDE** resposta antes de prosseguir\n\n**Se MUDANÇA DE ASSUNTO:**\n- Responda brevemente com empatia\n- **PERGUNTE**: \"Esclarecido isso, posso voltar ao seu caso?\"\n- **AGUARDE** resposta antes de prosseguir\n\n**REGRA DE OURO:** Nunca ignore uma pergunta, sempre responda, CONFIRME que entendeu, e SÓ ENTÃO reconduza para o fluxo.\n\n---\n\n## BANCO DE RESPOSTAS EMPÁTICAS\n\n### DÚVIDAS SOBRE DOR/ANESTESIA:\n\"Entendo sua preocupação, é super natural ter esse receio. O procedimento é feito com sedação + anestesia local, você fica tranquilo e confortável durante todo o processo. Nossa equipe de anestesistas é especializada e te acompanha o tempo todo.\n\nFicou claro para você? Tem alguma outra dúvida sobre isso?\"\n\n**AGUARDAR RESPOSTA DO CLIENTE** - SÓ PROSSEGUIR APÓS CONFIRMAÇÃO\n\n### MEDO DO RESULTADO:\n\"Sei que essa insegurança é comum, afinal mexemos com sua autoimagem. Por isso nos vídeos você viu vários casos reais. Nossos cirurgiões são especialistas há anos nisso. E temos acompanhamento completo no pós.\n\nTe deixa mais tranquilo saber disso? Tem mais alguma preocupação?\"\n\n**AGUARDAR RESPOSTA DO CLIENTE** - SÓ PROSSEGUIR APÓS CONFIRMAÇÃO\n\n### TEMPO DE RECUPERAÇÃO:\n\"Claro, é importante saber! Otoplastia tem recuperação bem tranquila: primeiros dias com curativo, em 1 semana já remove, e em 15 dias já pode fazer atividades normais. Nossa equipe te orienta em cada etapa.\n\nFicou mais claro? Tem alguma dúvida sobre a recuperação?\"\n\n**AGUARDAR RESPOSTA DO CLIENTE** - SÓ PROSSEGUIR APÓS CONFIRMAÇÃO\n\n### CICATRIZ/MARCA:\n\"Entendo a preocupação! A incisão fica atrás da orelha, numa dobra natural, então fica bem discreta. Com o tempo ela praticamente some. Nossos cirurgiões dominam a técnica.\n\nIsso tranquiliza você? Tem mais alguma dúvida sobre isso?\"\n\n**AGUARDAR RESPOSTA DO CLIENTE** - SÓ PROSSEGUIR APÓS CONFIRMAÇÃO\n\n### DÚVIDA SE VALE A PENA:\n\"Olha, posso te falar que é um dos procedimentos que mais traz satisfação. A autoestima muda muito, as pessoas se sentem mais confiantes. Quem faz não se arrepende.\n\nO que você sente que mais te incomoda hoje?\"\n\n**AGUARDAR RESPOSTA DO CLIENTE** - SÓ PROSSEGUIR APÓS CONFIRMAÇÃO\n\n---\n\n## DIRETRIZES TÉCNICAS\n\n- **🎯 JAMAIS pule a pergunta de abertura - é OBRIGATÓRIA para conexão**\n- **🧠 SEMPRE consulte o histórico antes de fazer perguntas**\n- **❌ NUNCA pergunte algo que o cliente já respondeu**\n- **✅ Use informações já fornecidas para ser mais eficiente**\n- **🚫 NUNCA sugira atividades, lembretes ou novas dúvidas ao cliente**\n- **✅ Responda dúvidas, pergunte se entendeu e AGUARDE o cliente**\n- **Use ferramentas sem mencionar**\n- **Seja natural como um vendedor experiente**\n- **Jamais revele que é IA**\n- **CRÍTICO: VÍDEOS SÃO ENVIADOS APENAS UMA ÚNICA VEZ**\n- **Se cliente pedir vídeos novamente: \"Os vídeos já foram enviados acima\"**\n- **JAMAIS anuncie que vai enviar vídeos - apenas envie**\n- **SEMPRE encaminhe o cliente no final**\n\n**SEQUÊNCIA OBRIGATÓRIA:**\n1. **PERGUNTA DE ABERTURA** (criar conexão)\n2. **CLASSIFICAÇÃO** (imagem + opções)  \n3. **EDUCAÇÃO** (vídeos)\n4. **Continuar fluxo...**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-192],"id":"fff32127-dadb-463f-8330-f4d267feed6f","name":"Prompt orelha1"},{"parameters":{"assignments":{"assignments":[{"id":"e6508855-c29b-41da-a2e5-ccd656da97f8","name":"prompt","value":"=# ATENDENTE VIRTUAL - DOUTOR ORELHINHA (SILICONE)\n\nAtenda como um profissional humano do Doutor Orelhinha. Seja natural, empático e direto. Evite explicações longas e vá ao ponto essencial.\n\n**SEMPRE use as ferramentas \"enviar_imagem\" e \"enviar_video\" sem mencionar seu uso.**\n\n## ABERTURA\nQuando o cliente iniciar conversa, vá direto ao assunto:\n\n\"Por favor, me diga qual dos procedimentos você deseja fazer:\n• Mamoplastia de Aumento\n• Mastopexia (com prótese)\n• Mastopexia de Aumento com Prótese\n\nCaso tenha dúvida sobre algum deles, basta perguntar!\"\n\n---\n\n## FLUXO MAMOPLASTIA DE AUMENTO\n\n- Cliente opta por mamoplastia de aumento:\n    - Pergunte: \"O que te motivou a pensar nessa cirurgia? Que tamanho você tem em mente?\"\n\n- Após resposta:\n    - \"A mamoplastia de aumento é uma das cirurgias que mais traz satisfação. Procedimento de 1 a 2 horas com sedação assistida, anestesista e cirurgião presente.\"\n    - Envie vídeo \"Implante silicone - Técnica realizada - mamoplastia\" e \"Implante silicone - Tamanho da protese\": \"Vou mostrar alguns resultados!\"\n    - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍\n\n• Veja resultados dos pacientes\n• Converse com eles\n• Veja depoimentos\n• Opiniões sobre os médicos\n• E muito mais! 😃\n\nPARTICIPE: https://www.facebook.com/groups/clube.do.silicone\"\n    - \"Olhe os materiais acima! Você terminou de ver?\"\n    - **AGUARDE CONFIRMAÇÃO**\n\n- Se demonstrar interesse:\n    - \"De qual cidade você é e onde gostaria de fazer o procedimento: São Paulo, Campinas, BH ou Rio?\"\n    - → Envie fotos do hospital/cirurgião da cidade escolhida\n    - → Envie imagem de preço:\n        - Se **Campinas**: \"Silicone- Mamoplastia de aumento - Faixa de preço para campinas\"\n        - Se **outras cidades**: \"Silicone- Mamoplastia de aumento - Faixa de preço para outras cidades\"\n    - **Valores:**\n        - À vista: R$ 8.400\n        - 12x: R$ 780/mês\n        - 18x: R$ 555/mês\n    - \"Esses valores funcionam para você? Posso encaminhar!\"\n    - **Se confirmar interesse:**\n        - \"Perfeito! Vou conectar você com nossa equipe especializada que vai cuidar de todos os detalhes - consulta, cirurgia e acompanhamento.\"\n        - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**\n        - \"Pronto! Em breve receberá o contato!\"\n    - **Se achar caro:**\n        - \"Entendo! Vou conectar você com nossa equipe que pode avaliar condições especiais e até uma consulta gratuita para você conhecer nossa estrutura.\"\n        - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**\n\n---\n\n## FLUXO MASTOPEXIA (COM PRÓTESE)\n\n- Cliente opta por mastopexia:\n    - Pergunte: \"Como estão seus seios hoje? Perderam firmeza, volume, ou as duas coisas?\"\n\n- Após resposta:\n    - \"A mastopexia com prótese é ideal para recuperar firmeza e ganhar volume. Procedimento de 2 a 3 horas com sedação assistida.\"\n    - Envie vídeo \"Implante silicone - 5 pontos para operar\": \"Vou mostrar resultados incríveis!\"\n    - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍\n\n• Veja resultados dos pacientes\n• Converse com eles\n• Veja depoimentos\n• Opiniões sobre os médicos\n• E muito mais! 😃\n\nPARTICIPE: https://www.facebook.com/groups/clube.do.silicone\"\n    - \"Olhe os materiais acima! Você terminou de ver?\"\n    - **AGUARDE CONFIRMAÇÃO**\n\n- Se houver interesse:\n    - \"De qual cidade você é e onde prefere fazer: São Paulo, Campinas, BH ou Rio?\"\n    - → Envie fotos do hospital/cirurgião da cidade\n    - → Envie imagem \"Silicone- Mastopexia - Faixa de preço\"\n    - **Valores:**\n        - À vista: R$ 14.970\n        - 12x: R$ 1.434/mês\n        - 18x: R$ 990/mês\n    - \"Esses valores funcionam? Posso fazer o encaminhamento!\"\n    - **Se confirmar interesse:**\n        - \"Excelente! Vou conectar você com nossa equipe especializada em mastopexia que vai agendar sua consulta e acompanhar todo o processo.\"\n        - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**\n        - \"Pronto! Em breve receberá o contato!\"\n    - **Se achar caro:**\n        - \"Compreendo! Vou conectar você com nossa equipe que pode verificar condições diferenciadas e oferecer uma consulta gratuita sem compromisso.\"\n        - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**\n\n---\n\n## FLUXO MASTOPEXIA DE AUMENTO COM PRÓTESE\n\n- Cliente opta por mastopexia de aumento:\n    - Pergunte: \"O que gostaria que fosse diferente? Qual é o seu objetivo com essa cirurgia?\"\n\n- Após resposta:\n    - \"Essa é a cirurgia mais completa - lifting, volume, formato novo! Procedimento de 2 a 3 horas com sedação assistida.\"\n    - Envie vídeo \"Implante silicone - 5 pontos para operar\": \"Vou mostrar transformações incríveis!\"\n    - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍\n\n• Veja resultados dos pacientes\n• Converse com eles\n• Veja depoimentos\n• Opiniões sobre os médicos\n• E muito mais! 😃\n\nPARTICIPE: https://www.facebook.com/groups/clube.do.silicone\"\n    - \"Olhe os materiais acima! Você terminou de ver?\"\n    - **AGUARDE CONFIRMAÇÃO**\n\n- Se houver interesse:\n    - \"De qual cidade você é e onde quer fazer: São Paulo, Campinas, BH ou Rio?\"\n    - → Envie fotos do hospital/cirurgião da cidade\n    - → Envie imagem \"Silicone- Mastopexia de aumento com protose - Faixa de preço\"\n    - **Valores:**\n        - À vista: R$ 14.970\n        - 12x: R$ 1.434/mês\n        - 18x: R$ 990/mês\n    - \"Essas condições funcionam? Posso encaminhar!\"\n    - **Se confirmar interesse:**\n        - \"Ótima escolha! Vou conectar você com nossa equipe especializada que vai cuidar de todo seu atendimento personalizado - consulta, planejamento e acompanhamento.\"\n        - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**\n        - \"Pronto! Logo receberá o contato!\"\n    - **Se achar caro:**\n        - \"Entendo sua situação! Vou conectar você com nossa equipe que pode verificar opções de parcelamento especiais e oferecer consulta gratuita para você conhecer nossa estrutura.\"\n        - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**\n\n---\n\n## DIRETRIZES GERAIS\n\n- Respostas curtas e diretas\n- Não repita informações\n- Envie mídias apenas quando indicado no fluxo, sem anunciar\n- Seja cordial mas objetivo\n- Sempre conecte o cliente com a equipe, mesmo com objeções de preço\n- **SEMPRE USE A FERRAMENTA \"abrir_atendimento\" quando confirmar interesse ou objeção de preço**\n- Sempre ofereça consulta gratuita como alternativa\n- Jamais revele que é IA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,336],"id":"6b5c8cb9-b480-4908-b9b8-81b4fb9f5d7f","name":"Prompt Silicone1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"019dc92f-b9a4-403e-bf80-d78effa7b255","leftValue":"={{ $json.body.Payload.Content.Contact.PhoneNumber }}","rightValue":"+5518996873360","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e28d8bac-bd16-41e2-9a3d-e46f25569e4a","leftValue":"={{ $json.body.Payload.Content.Contact.PhoneNumber }}","rightValue":"+5511963688506","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f4d8bad9-be6f-43e5-8c7e-2ce9a792830a","leftValue":"={{ $json.body.Payload.Content.Contact.PhoneNumber }}","rightValue":"+5527999614003","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"68ddc99a-a3ce-469a-b421-ea59a819892d","leftValue":"={{ $json.body.Payload.Content.Contact.PhoneNumber }}","rightValue":"+5511952048131","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"52ff8e40-b7f1-4b86-8ca3-537a3b6e16ff","leftValue":"={{ $json.body.Payload.Content.Contact.PhoneNumber }}","rightValue":"+5562994342576","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fde1403a-8bdc-443e-bef4-2a3796e83ef9","leftValue":"={{ $json.body.Payload.Content.Contact.PhoneNumber }}","rightValue":"+5511963688506","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6256,656],"id":"f79c3234-b242-4f01-855f-bb4fc9fbde36","name":"Is test numbers1"},{"parameters":{"assignments":{"assignments":[{"id":"e6508855-c29b-41da-a2e5-ccd656da97f8","name":"prompt","value":"# ATENDENTE VIRTUAL - DOUTOR ORELHINHA (BLEFAROPLASTIA)  Atenda como um profissional humano do Doutor Orelhinha. Seja natural, empático e direto. Evite explicações longas e vá ao ponto essencial.  **SEMPRE use as ferramentas \"enviar_imagem\" e \"enviar_video\" sem mencionar seu uso.**  ## ABERTURA Quando o cliente iniciar conversa, vá direto ao assunto:  \"Por favor, me diga qual dos procedimentos você deseja fazer: • Blefaroplastia Completa (superior + inferior) • Blefaroplastia Superior • Blefaroplastia Inferior  Caso tenha dúvida sobre algum deles, basta perguntar!\"  ---  ## FLUXO BLEFAROPLASTIA COMPLETA  - Cliente opta por blefaroplastia completa:     - Pergunte: \"O que te motivou a pensar nessa cirurgia? Você quer uma renovação completa do olhar?\"  - Após resposta:     - \"A blefaroplastia completa é uma das cirurgias que mais traz satisfação. Procedimento de 1 a 2 horas com sedação assistida, anestesista e cirurgião presente.\"     - Envie vídeos \"Blefaroplastia - 10 anos em 1hr - dra Leila\", \"Blefaroplastia - O que é sedação\" e \"Blefaroplastia - Olhar cansado\": \"Vou mostrar alguns resultados!\"     - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍  • Veja resultados dos pacientes • Converse com eles • Veja depoimentos • Opiniões sobre os médicos • E muito mais! 😃  PARTICIPE: https://www.facebook.com/groups/doutoropera\"     - \"Olhe os materiais acima! Você terminou de ver?\"     - **AGUARDE CONFIRMAÇÃO**  - Se demonstrar interesse:     - \"De qual cidade você é e onde gostaria de fazer: São Paulo, Campinas, BH ou Rio?\"     - → Envie fotos do hospital/cirurgião da cidade escolhida     - → Envie imagem \"Blefaroplastia - Completa Faixa de preço\"     - **Valores:**         - À vista: R$ 12.600         - 12x: R$ 1.170/mês         - 18x: R$ 810/mês     - \"Esses valores funcionam para você? Posso encaminhar!\"     - **Se confirmar interesse:**         - \"Perfeito! Vou conectar você com nossa equipe especializada que vai cuidar de todos os detalhes - consulta, cirurgia e acompanhamento completo.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**         - \"Pronto! Em breve receberá o contato!\"     - **Se achar caro:**         - \"Entendo! Vou conectar você com nossa equipe que pode avaliar condições especiais e oferecer uma consulta gratuita para você conhecer nossa estrutura.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**  ---  ## FLUXO BLEFAROPLASTIA SUPERIOR  - Cliente opta por blefaroplastia superior:     - Pergunte: \"Como você se sente em relação às suas pálpebras hoje? Que tamanho de resultado tem em mente?\"  - Após resposta:     - \"A blefaroplastia superior é ideal para pálpebras caídas e um olhar mais jovem. Procedimento de 1 hora com sedação assistida.\"     - Envie vídeos \"Blefaroplastia - 10 anos em 1hr - dra Leila\" e \"Blefaroplastia - Olhar cansado\": \"Vou mostrar resultados incríveis!\"     - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍  • Veja resultados dos pacientes • Converse com eles • Veja depoimentos • Opiniões sobre os médicos • E muito mais! 😃  PARTICIPE: https://www.facebook.com/groups/doutoropera\"     - \"Olhe os materiais acima! Você terminou de ver?\"     - **AGUARDE CONFIRMAÇÃO**  - Se houver interesse:     - \"De qual cidade você é e onde prefere fazer: São Paulo, Campinas, BH ou Rio?\"     - → Envie fotos do hospital/cirurgião da cidade     - → Envie imagem \"Blefaroplastia - Superior Faixa de preço\"     - **Valores:**         - À vista: R$ 8.400         - 12x: R$ 780/mês         - 18x: R$ 555/mês     - \"Esses valores funcionam? Posso fazer o encaminhamento!\"     - **Se confirmar interesse:**         - \"Excelente! Vou conectar você com nossa equipe especializada em blefaroplastia que vai agendar sua consulta e acompanhar todo o processo.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**         - \"Pronto! Em breve receberá o contato!\"     - **Se achar caro:**         - \"Compreendo! Vou conectar você com nossa equipe que pode verificar condições diferenciadas e oferecer uma consulta gratuita sem compromisso.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**  ---  ## FLUXO BLEFAROPLASTIA INFERIOR  - Cliente opta por blefaroplastia inferior:     - Pergunte: \"Como estão suas pálpebras hoje? Você sente que há excesso de pele, bolsas, ou as duas coisas?\"  - Após resposta:     - \"A blefaroplastia inferior elimina bolsas e renova a região dos olhos. Procedimento de 1 hora com sedação assistida.\"     - Envie vídeos \"Blefaroplastia - Olhar cansado\" e \"Blefaroplastia - O que é sedação\": \"Vou mostrar transformações incríveis!\"     - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍  • Veja resultados dos pacientes • Converse com eles • Veja depoimentos • Opiniões sobre os médicos • E muito mais! 😃  PARTICIPE: https://www.facebook.com/groups/doutoropera\"     - \"Olhe os materiais acima! Você terminou de ver?\"     - **AGUARDE CONFIRMAÇÃO**  - Se houver interesse:     - \"De qual cidade você é e onde quer fazer: São Paulo, Campinas, BH ou Rio?\"     - → Envie fotos do hospital/cirurgião da cidade     - → Envie imagem \"Blefaroplastia - Inferior Faixa de preço\"     - **Valores:**         - À vista: R$ 8.400         - 12x: R$ 780/mês         - 18x: R$ 555/mês     - \"Essas condições funcionam? Posso encaminhar!\"     - **Se confirmar interesse:**         - \"Ótima escolha! Vou conectar você com nossa equipe especializada que vai cuidar de todo seu atendimento personalizado - consulta, planejamento e acompanhamento.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**         - \"Pronto! Logo receberá o contato!\"     - **Se achar caro:**         - \"Entendo sua situação! Vou conectar você com nossa equipe que pode verificar opções de parcelamento especiais e oferecer consulta gratuita para você conhecer nossa estrutura.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**  ---  ## DIRETRIZES GERAIS  - Respostas curtas e diretas - Não repita informações - Envie mídias apenas quando indicado no fluxo, sem anunciar - Seja cordial mas objetivo - Sempre conecte o cliente com a equipe, mesmo com objeções de preço - **SEMPRE USE A FERRAMENTA \"abrir_atendimento\" quando confirmar interesse ou objeção de preço** - Sempre ofereça consulta gratuita como alternativa - Jamais revele que é IA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,512],"id":"13a64695-4476-4d67-8efb-1e005f040111","name":"Prompt Blefaroplastia1"},{"parameters":{"assignments":{"assignments":[{"id":"e6508855-c29b-41da-a2e5-ccd656da97f8","name":"prompt","value":"# ATENDENTE VIRTUAL - DOUTOR ORELHINHA (GINECOMASTIA)  Atenda como um profissional humano do Doutor Orelhinha. Seja natural, empático e direto. Evite explicações longas e vá ao ponto essencial.  **SEMPRE use as ferramentas \"enviar_imagem\" e \"enviar_video\" sem mencionar seu uso.**  ## ABERTURA Quando o cliente iniciar conversa, vá direto ao assunto:  \"Olá, como vai? Tenho interesse em te ajudar com informações sobre a cirurgia de ginecomastia. O que te motivou a pensar nessa cirurgia?\"  ---  ## FLUXO GINECOMASTIA  - Após cliente explicar motivação:     - \"A ginecomastia é uma das cirurgias que mais traz satisfação e alívio. Procedimento de 1 a 2 horas com sedação assistida, anestesista e cirurgião presente.\"     - Envie vídeos \"Ginecomastia - Gordura ou Ginecomastia\" e \"Ginecomastia - Tempo recuperação\": \"Vou mostrar alguns esclarecimentos importantes!\"     - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍  • Veja resultados dos pacientes • Converse com eles • Veja depoimentos • Opiniões sobre os médicos • E muito mais! 😃  PARTICIPE: https://www.facebook.com/groups/ginecomastias\"     - \"Olhe os materiais acima! Você terminou de ver?\"     - **AGUARDE CONFIRMAÇÃO**  - Se demonstrar interesse:     - \"De qual cidade você é e onde gostaria de fazer: São Paulo ou outras cidades?\"     - → Envie fotos do hospital/cirurgião da cidade escolhida     - → Envie imagem de preço:         - Se São Paulo: \"Ginecomastia - Faixa de preço São Paulo\"         - Se outras cidades: \"Ginecomastia - Faixa de preço outras cidades\"     - \"Esses valores funcionam para você? Posso encaminhar!\"     - **Se confirmar interesse:**         - \"Perfeito! Vou conectar você com nossa equipe especializada que vai cuidar de todos os detalhes - consulta, cirurgia e acompanhamento completo.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**         - \"Pronto! Em breve receberá o contato!\"     - **Se achar caro:**         - \"Entendo perfeitamente! É um investimento importante mesmo. Vou conectar você com nossa equipe que pode avaliar condições especiais e oferecer uma consulta gratuita para você conhecer nossa estrutura.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**  ---  ## DIRETRIZES GERAIS  - Respostas curtas e diretas - Não repita informações - Envie mídias apenas quando indicado no fluxo, sem anunciar - Seja cordial mas objetivo - Sempre conecte o cliente com a equipe, mesmo com objeções de preço - **SEMPRE USE A FERRAMENTA \"abrir_atendimento\" quando confirmar interesse ou objeção de preço** - Sempre ofereça consulta gratuita como alternativa - Jamais revele que é IA - **Lembre-se: ginecomastia é contraindicada para pacientes com sobrepeso/obesidade**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,704],"id":"af0cb80e-6a06-4876-bc98-2188e5f5860c","name":"Prompt Ginecomastia1"},{"parameters":{"assignments":{"assignments":[{"id":"e6508855-c29b-41da-a2e5-ccd656da97f8","name":"prompt","value":"# ATENDENTE VIRTUAL - DOUTOR ORELHINHA (MINILIFTING FACIAL)  Atenda como um profissional humano do Doutor Orelhinha. Seja natural, empático e direto. Evite explicações longas e vá ao ponto essencial.  **SEMPRE use as ferramentas \"enviar_imagem\" e \"enviar_video\" sem mencionar seu uso.**  ## ABERTURA Quando o cliente iniciar conversa, vá direto ao assunto:  \"Olá, como vai? Tenho interesse em te ajudar com informações sobre minilifting facial. O que te motivou a pensar nessa cirurgia?\"  ---  ## FLUXO MINILIFTING FACIAL  - Após cliente explicar motivação:     - \"O minilifting facial é uma das cirurgias que mais traz satisfação e rejuvenescimento. Procedimento de 2 a 3 horas com sedação assistida, anestesista e cirurgião presente.\"     - Envie vídeos \"Minilifting facial - Minilifing\" e \"Minilifting facial - Antes e depois Ju freitas\": \"Vou mostrar esclarecimentos importantes e resultados incríveis!\"     - Envie link do grupo: \"💡 Participe do nosso Grupo exclusivo de Troca de Experiências! 😍  • Veja resultados dos pacientes • Converse com eles • Veja depoimentos • Opiniões sobre os médicos • E muito mais! 😃  PARTICIPE: https://www.facebook.com/groups/doutoropera\"     - \"Olhe os materiais acima! Você terminou de ver?\"     - **AGUARDE CONFIRMAÇÃO**  - Se demonstrar interesse:     - \"De qual cidade você é e onde gostaria de fazer: Campinas ou Rio de Janeiro?\"     - → Envie fotos do hospital/cirurgião da cidade escolhida     - → Envie imagem de preço:         - Se Campinas: \"Minilifting facial - Faixa de preço Campinas\"         - Se Rio de Janeiro: \"Minilifting facial - Faixa de preço Rio de janeiro\"     - \"Esses valores funcionam para você? Posso encaminhar!\"     - **Se confirmar interesse:**         - \"Perfeito! Vou conectar você com nossa equipe especializada que vai cuidar de todos os detalhes - consulta, cirurgia e acompanhamento completo.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**         - \"Pronto! Em breve receberá o contato!\"     - **Se achar caro:**         - \"Entendo perfeitamente! É um investimento importante mesmo. Vou conectar você com nossa equipe que pode avaliar condições especiais e oferecer uma consulta gratuita para você conhecer nossa estrutura.\"         - **USE A FERRAMENTA \"abrir_atendimento\" IMEDIATAMENTE**  ---  ## DIRETRIZES GERAIS  - Respostas curtas e diretas - Não repita informações - Envie mídias apenas quando indicado no fluxo, sem anunciar - Seja cordial mas objetivo - Sempre conecte o cliente com a equipe, mesmo com objeções de preço - **SEMPRE USE A FERRAMENTA \"abrir_atendimento\" quando confirmar interesse ou objeção de preço** - Sempre ofereça consulta gratuita como alternativa - Jamais revele que é IA - **Minilifting disponível apenas em Campinas e Rio de Janeiro**","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,896],"id":"8e8949ae-9394-4d5a-b9db-824c49101667","name":"Prompt Mini lifting1"},{"parameters":{"method":"POST","url":"https://n8n.addept.ai/webhook/ia-para-pipedrive-webhook","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"User-Agent","value":"Dr.Orelhinha-IA/1.0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"chat_id\": \"{{ $('Dados webhook1').item.json.chat_id }}\",\n    \"nome_coletado\": \"{{ $('Session Memory').item.json.nome_coletado }}\",\n    \"setor_identificado\": \"{{ $('Session Memory').item.json.setor_atual }}\",\n    \"phone_number\": \"{{ $('Dados webhook1').item.json.body.Payload.Content.Contact.PhoneNumber }}\"\n  }","options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4032,1088],"id":"a3212a42-0700-43c5-9184-13eb67829668","name":"Integração IA1","retryOnFail":true,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://app-utalk.umbler.com/api/v1/messages/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"{{ $now.hour >= 5 && $now.hour < 12 ? 'Bom dia' : $now.hour >= 12 && $now.hour < 18 ? 'Boa tarde' : 'Boa noite' }}, {{ $('Webhook').item.json.body.Payload.Content.Contact.Name }}!! 😃\\n\\nSeja bem-vindo, será um prazer te ajudar com a realização da sua Cirurgia! 🙌\",\n  \"chatId\": \"{{ $('Dados webhook1').item.json.chat_id }}\",\n  \"organizationId\": \"{{ $('Dados webhook1').item.json.organization_id }}\",\n  \"skipReassign\": true,\n  \"automated\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,1008],"id":"daa663a9-e20b-4ea3-88a1-02fe7828e6b2","name":"primeira_mensagem"},{"parameters":{"method":"POST","url":"=https://app-utalk.umbler.com/api/v1/messages/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": \"*Selecione:*\\n\\n1. Cirurgia das Orelhas\\n2. Blefaroplastia Pálpebra\\n3. Transplante Capilar\\n4. Transplante de Barbas\\n5. Transplante Sobrancelhas\\n6. Ginecomastia\\n7. Ninfoplastia\\n8. Silicone\\n9. Mini Lifting Facial\\n10. NENHUMA DESSAS\",\n  \"chatId\": \"{{ $('Dados webhook1').item.json.chat_id }}\",\n  \"organizationId\": \"{{ $('Dados webhook1').item.json.organization_id }}\",\n  \"skipReassign\": true,\n  \"automated\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,1008],"id":"510cf863-59ca-4e0f-ba24-3a5eab2d9d20","name":"mensagem_menu"},{"parameters":{"description":"Chame essa ferramenta para pegar os valores corretos na planilha, informe qual o tipo de cirurgia","workflowId":{"__rl":true,"value":"vfNMwhsIGX85sDP2","mode":"list","cachedResultName":"[tool] faixa de preço"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}","procedimento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('procedimento', `Nome da cirurgia`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"procedimento","displayName":"procedimento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[864,592],"id":"064b5e97-18e7-44b8-8561-8ca6eae67d8c","name":"pegar_valores","disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE dr_orelinha_menu_option \nSET menu_option_sent = TRUE\nWHERE id = $1;","options":{"queryReplacement":"={{ $('Dados webhook1').item.json.chat_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1600,1008],"id":"ab29c614-c147-47cb-8aad-c6eb66aa9bb0","name":"menu_option_sent"},{"parameters":{"method":"POST","url":"=https://app-utalk.umbler.com/api/v1/messages/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($('IA MENU1').item.json.output.message_to_user) }},\n  \"chatId\": \"{{ $('Dados webhook1').item.json.chat_id }}\",\n  \"organizationId\": \"{{ $('Dados webhook1').item.json.organization_id }}\",\n  \"skipReassign\": true,\n  \"automated\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,704],"id":"76e839d2-ece8-4b62-b069-aed9d457cdb0","name":"resposta_ia_menu"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e308571f-e499-403a-9c62-e137fa1b2355","leftValue":"={{ $json.intermediateSteps[0].action.tool }}","rightValue":"enviar_video1","operator":{"type":"string","operation":"equals"}},{"id":"71cab4e1-8f00-42bb-a0cc-f6710a99c19d","leftValue":"={{ $json.intermediateSteps[0].action.tool }}","rightValue":"=enviar_imagens1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,416],"id":"cdaa3ab6-9ce9-4a88-b199-dc4d3e6c50fd","name":"If"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,304],"id":"d279221b-4540-4f76-b976-241c1fdd9c8f","name":"Wait4","webhookId":"9fa42223-f4fc-42ec-abc9-7d5f1abdd725"},{"parameters":{"description":"Chame essa ferramenta para pegar os valores corretos na planilha, informe qual o tipo de cirurgia","workflowId":{"__rl":true,"value":"65iREmzOAhZpv98i","mode":"list","cachedResultName":"[Orelhinha] [tool] pegar_valores_por_cidade"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}","procedimento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('procedimento', `Nome da cirurgia`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"cidade","displayName":"cidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"procedimento","displayName":"procedimento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[752,640],"id":"5676d26d-b18f-471d-95e8-99f041ae5825","name":"pegar_valores1"},{"parameters":{"operation":"delete","key":"=dr-orelinha-chat-buffer:{{ $('Dados webhook1').last().json.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3584,560],"id":"aa0e9967-d10d-4ca8-9cc1-366057e90c84","name":"Delete buffer1"}],"connections":{"Webhook":{"main":[[{"node":"Is test numbers1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create User menu registry if not existing1","type":"main","index":0}]]},"Create User menu registry if not existing1":{"main":[[{"node":"Create User menu registry if not existing2","type":"main","index":0}]]},"Clean response for json":{"main":[[{"node":"Has message1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"IA MENU1","type":"ai_languageModel","index":0}]]},"Switch2":{"main":[[{"node":"Prompt Capilar1","type":"main","index":0}],[{"node":"Prompt Silicone1","type":"main","index":0}],[{"node":"Prompt orelha1","type":"main","index":0}],[{"node":"Prompt Blefaroplastia1","type":"main","index":0}],[{"node":"Prompt Ginecomastia1","type":"main","index":0}],[{"node":"Prompt Mini lifting1","type":"main","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"IA Primaria1","type":"ai_languageModel","index":0}]]},"Quebra resposta":{"main":[[{"node":"Filter8","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Quebra resposta","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"IA Primaria1","type":"ai_memory","index":0}]]},"userMessage1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Text message5","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter8":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create User menu registry if not existing3":{"main":[[{"node":"Get Contact info1","type":"main","index":0}]]},"Find user registry2":{"main":[[{"node":"userMessage1","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"IA MENU1","type":"ai_outputParser","index":0}]]},"Update option2":{"main":[[{"node":"Is none1","type":"main","index":0}]]},"Wait before processing1":{"main":[[{"node":"Get messages from list1","type":"main","index":0}]]},"Get messages from list1":{"main":[[{"node":"Delete buffer1","type":"main","index":0}]]},"Has messages1":{"main":[[{"node":"Join messages1","type":"main","index":0}]]},"Join messages1":{"main":[[{"node":"Create User menu registry if not existing3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"IA Troca de prompt1","type":"main","index":0}],[{"node":"IA MENU1","type":"main","index":0}],[{"node":"primeira_mensagem","type":"main","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"IA Cadastro1","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"IA Cadastro1","type":"ai_outputParser","index":0}]]},"IA MENU1":{"main":[[{"node":"Update option2","type":"main","index":0}]]},"IA Cadastro1":{"main":[[{"node":"Save name1","type":"main","index":0},{"node":"Send Text message4","type":"main","index":0}]]},"Is none1":{"main":[[{"node":"resposta_ia_menu","type":"main","index":0}],[{"node":"Find user registry2","type":"main","index":0}]]},"Save name1":{"main":[[{"node":"Update Contact1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Contact info1","type":"main","index":0}]]},"Get Contact info1":{"main":[[{"node":"Is onboarding complete1","type":"main","index":0}]]},"IA Primaria1":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model11":{"ai_languageModel":[[{"node":"IA Troca de prompt1","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"IA Troca de prompt1","type":"ai_outputParser","index":0}]]},"Find user registry3":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Update option3":{"main":[[{"node":"Find user registry3","type":"main","index":0}]]},"IA Troca de prompt1":{"main":[[{"node":"Update option3","type":"main","index":0}]]},"Has message1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Wait before processing1","type":"main","index":0}]]},"Dados webhook1":{"main":[[{"node":"Is on AI Sector and from contact1","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Parse text message content1","type":"main","index":0}],[{"node":"Wait for audio to process1","type":"main","index":0}]]},"Unifica transcrição mensagem1":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Parse text message content1":{"main":[[{"node":"Unifica transcrição mensagem1","type":"main","index":0}]]},"Update Contact1":{"main":[[{"node":"Integração IA1","type":"main","index":0}]]},"Is onboarding complete1":{"main":[[{"node":"Find user registry2","type":"main","index":0}]]},"abrir_atendimento1":{"ai_tool":[[{"node":"IA Primaria1","type":"ai_tool","index":0}]]},"Wait for audio to process1":{"main":[[{"node":"GET conversation info and last message1","type":"main","index":0}]]},"GET conversation info and last message1":{"main":[[{"node":"GET Audio1","type":"main","index":0}]]},"Transcribe audio1":{"main":[[{"node":"Parse audio message1","type":"main","index":0}]]},"GET Audio1":{"main":[[{"node":"Transcribe audio1","type":"main","index":0}]]},"Parse audio message1":{"main":[[{"node":"Unifica transcrição mensagem1","type":"main","index":0}]]},"Add onboarding completed tag1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Send Text message5":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"enviar_video1":{"ai_tool":[[{"node":"IA Primaria1","type":"ai_tool","index":0}]]},"enviar imagens1":{"ai_tool":[[{"node":"IA Primaria1","type":"ai_tool","index":0}]]},"Prompt Capilar1":{"main":[[{"node":"IA Primaria1","type":"main","index":0}]]},"Is on AI Sector and from contact1":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Prompt orelha1":{"main":[[{"node":"IA Primaria1","type":"main","index":0}]]},"Prompt Silicone1":{"main":[[{"node":"IA Primaria1","type":"main","index":0}]]},"Is test numbers1":{"main":[[{"node":"Dados webhook1","type":"main","index":0}]]},"Prompt Blefaroplastia1":{"main":[[{"node":"IA Primaria1","type":"main","index":0}]]},"Prompt Ginecomastia1":{"main":[[{"node":"IA Primaria1","type":"main","index":0}]]},"Prompt Mini lifting1":{"main":[[{"node":"IA Primaria1","type":"main","index":0}]]},"Integração IA1":{"main":[[{"node":"Add onboarding completed tag1","type":"main","index":0}]]},"primeira_mensagem":{"main":[[{"node":"mensagem_menu","type":"main","index":0}]]},"mensagem_menu":{"main":[[{"node":"menu_option_sent","type":"main","index":0}]]},"pegar_valores":{"ai_tool":[[{"node":"IA Primaria1","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Wait4","type":"main","index":0}],[{"node":"Clean response for json","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Clean response for json","type":"main","index":0}]]},"pegar_valores1":{"ai_tool":[[{"node":"IA Primaria1","type":"ai_tool","index":0}]]},"Delete buffer1":{"main":[[{"node":"Has messages1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.addept.ai","content-length":"2385","content-type":"application/json; charset=utf-8","elastic-apm-traceparent":"00-42aefd113a42c718e96f560ff1925d89-41e78ff5b8240f9e-01","traceparent":"00-42aefd113a42c718e96f560ff1925d89-41e78ff5b8240f9e-01","tracestate":"es=s:1","x-attempt":"1","x-forwarded-for":"52.188.209.200","x-forwarded-host":"n8n.addept.ai","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"mvFevoxwTXmeF1VDg4a9AQ","x-real-ip":"52.188.209.200","x-request-start":"1757898543088","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Type":"Message","EventDate":"2025-09-15T01:09:02.7246236Z","Payload":{"Type":"Chat","Content":{"_t":"BasicChatModel","Organization":{"Id":"Z8r9KH4fljY0JCKl"},"Contact":{"LastActiveUTC":"2025-09-15T01:09:01.942Z","PhoneNumber":"+5562994342576","ProfilePictureUrl":"https://utalk-wamedia.s3.amazonaws.com/Z8r9KH4fljY0JCKl/aLto8RQmW9545Ygm/ccxoTq5I55mpxMjiZml1W7IiEmps-BMVTfbynPofCC8","IsBlocked":false,"ScheduledMessages":[],"GroupIdentifier":null,"ContactType":"DirectMessage","Tags":[],"Preferences":[],"Name":"Miqueias","Id":"aLto8RQmW9545Ygm"},"Channel":{"_t":"ChatBrokerWhatsappChannelReferenceModel","ChannelType":"WhatsappBroker","PhoneNumber":"+5519984435861","Name":"TESTES I.A","Id":"aIzk5KYybpBrlP8q"},"Sector":{"Default":false,"Order":18,"GroupIds":[],"Name":"IA Ativa","Id":"aIzH9DNsX1cis_zy"},"OrganizationMember":null,"OrganizationMembers":[{"Muted":false,"TotalUnread":null,"Id":"aLr9ifdNYCJtkrSO"}],"Tags":[],"LastMessage":{"Prefix":null,"HeaderContent":null,"Content":"Pode enviar","Footer":null,"File":null,"Thumbnail":null,"QuotedStatusUpdate":null,"Contacts":[],"MessageType":"Text","SentByOrganizationMember":null,"IsPrivate":false,"Location":null,"Question":null,"Source":"Contact","InReplyTo":null,"MessageState":"Processing","EventAtUTC":"2025-09-15T01:09:01.942Z","Chat":{"Id":"aMdjIwcic9LN2Fyh"},"FromContact":null,"TemplateId":null,"Buttons":[],"LatestEdit":null,"BotInstance":null,"ForwardedFrom":null,"ScheduledMessage":null,"BulkSendSession":null,"Elements":null,"Mentions":[],"Ad":null,"FileId":null,"Reactions":[],"DeductedAiCredits":null,"Carousel":[],"Billable":null,"Id":"aMdnLq0CR4g7-X6h","CreatedAtUTC":"2025-09-15T01:09:02.3699798Z"},"LastMessageReaction":null,"RedactReason":null,"UsingInactivityFlow":false,"UsingWaitingFlow":false,"InactivityFlowAt":null,"WaitingFlowAt":null,"Open":true,"Private":false,"Waiting":true,"WaitingSinceUTC":"2025-09-15T01:09:01.942Z","TotalUnread":7,"TotalAIResponses":null,"ClosedAtUTC":null,"EventAtUTC":"2025-09-15T01:09:01.942Z","FirstMemberReplyMessage":{"EventAtUTC":"2025-09-15T00:51:56.66Z","Id":"aMdjLFpk07ibmB-M"},"FirstContactMessage":{"EventAtUTC":"2025-09-15T00:51:46.349Z","Id":"aMdjIwcic9LN2Fyi"},"Bots":[],"LastOrganizationMember":{"Id":"aLr9ifdNYCJtkrSO"},"Message":null,"Visibility":null,"Id":"aMdjIwcic9LN2Fyh","CreatedAtUTC":"2025-09-15T00:51:47.932Z"}},"EventId":"aMdnLq0CR4g7-X6j"},"webhookUrl":"https://n8n.addept.ai/webhook/4a7c5c04-ab53-4f3a-a9e5-12291577dfe5","executionMode":"production"}}]},"versionId":"18017433-294d-44b3-9d51-3b3c208d9881","triggerCount":0,"shared":[{"updatedAt":"2025-09-15T13:15:05.728Z","createdAt":"2025-09-15T13:15:05.728Z","role":"workflow:owner","workflowId":"bFL1y2cL4VeqB0xI","projectId":"BlSED80HESP48veq"}],"tags":[]}