webhook:-retorno-de-msg-uG4u1yzAlU1Y1AkI.json
{"updatedAt":"2025-10-07T15:40:10.102Z","createdAt":"2025-10-07T15:22:33.177Z","id":"uG4u1yzAlU1Y1AkI","name":"WEBHOOK: RETORNO DE MSG","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8dce6b15-53fa-4775-8b2a-18889a190437","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,-192],"id":"509866fa-a29d-4bfb-8438-209da6655465","name":"Webhook","webhookId":"8dce6b15-53fa-4775-8b2a-18889a190437"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `notificacoes`\n  WHERE `contato` = '{{ $json.contato }}'\n  AND `done` = 0;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[480,-192],"id":"06d6c1bc-9ef8-4482-8876-244d63210573","name":"Execute a SQL query","credentials":{"mySql":{"id":"JGOB8ullb4MxT7Do","name":"operacional-consultoria"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0be8cb0-e4b4-41dd-beb1-ab57a5a4d394","name":"contato","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-96],"id":"f31d92a3-2684-4a1c-8235-8fcb9cd0609d","name":"remoteJid"},{"parameters":{"assignments":{"assignments":[{"id":"d0be8cb0-e4b4-41dd-beb1-ab57a5a4d394","name":"contato","value":"={{ $json.body.data.key.senderPn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-288],"id":"1b4db82b-e4b1-4165-976c-e68d78762e13","name":"senderPn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c934af8a-7940-4631-b60a-af7a960a5d39","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@lid","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,-192],"id":"7ec2dac2-35c8-4d09-ba68-b7205cacae01","name":"Se @lid privado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45961366-4a7d-4508-9fcc-9411927c1a4d","leftValue":"={{ $json.contato }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,-192],"id":"bdd6fa3c-ae5a-4702-be91-2f0ce498c0fc","name":"Se houver notificação enviada e não finalizada"},{"parameters":{"table":{"__rl":true,"value":"notificacao_retorno","mode":"list","cachedResultName":"notificacao_retorno"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"contato","value":"={{ $json.contato }}"},{"column":"msgs","value":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"column":"datetime","value":"={{ $now }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[992,-192],"id":"2952dd89-38ed-456c-accd-ff61e4f67058","name":"Insert rows in a table","credentials":{"mySql":{"id":"JGOB8ullb4MxT7Do","name":"operacional-consultoria"}}}],"connections":{"Webhook":{"main":[[{"node":"Se @lid privado","type":"main","index":0}]]},"remoteJid":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"senderPn":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Se @lid privado":{"main":[[{"node":"senderPn","type":"main","index":0}],[{"node":"remoteJid","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Se houver notificação enviada e não finalizada","type":"main","index":0}]]},"Se houver notificação enviada e não finalizada":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-production-70c40.up.railway.app","user-agent":"axios/1.10.0","content-length":"1032","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"134.199.215.35","x-forwarded-host":"primary-production-70c40.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"UwMvtOS5SieS2z5k-_9nXA","x-real-ip":"134.199.215.35","x-request-start":"1759850706206"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"notificacoes","data":{"key":{"remoteJid":"254914932519049@lid","fromMe":false,"id":"3FA862724383A13BC061","senderPn":"556294342576@s.whatsapp.net"},"pushName":"Miqueias","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"P/oQDgI2YUA0hg==","senderTimestamp":"1759786189","recipientKeyHash":"MIgz5lA+orS7Hg==","recipientTimestamp":"1759776378"},"deviceListMetadataVersion":2},"conversation":"teste"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1759850704,"instanceId":"a343080a-20c1-46c6-9a7b-e8c1dc9267b1","source":"desktop"},"destination":"https://primary-production-70c40.up.railway.app/webhook/8dce6b15-53fa-4775-8b2a-18889a190437","date_time":"2025-10-07T12:25:06.187Z","sender":"556295059726@s.whatsapp.net","server_url":"https://evolutionapi-evolutionapi.ac69mn.easypanel.host","apikey":"D3C9740607BF-4BB2-AA61-59413E3B59F6"},"webhookUrl":"https://primary-production-70c40.up.railway.app/webhook/8dce6b15-53fa-4775-8b2a-18889a190437","executionMode":"production"}}]},"versionId":"a59afb33-4ea8-4b24-899e-96e1b8faf8cf","activeVersionId":"a59afb33-4ea8-4b24-899e-96e1b8faf8cf","triggerCount":1,"shared":[{"updatedAt":"2025-10-07T15:22:33.177Z","createdAt":"2025-10-07T15:22:33.177Z","role":"workflow:owner","workflowId":"uG4u1yzAlU1Y1AkI","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"a59afb33-4ea8-4b24-899e-96e1b8faf8cf","workflowId":"uG4u1yzAlU1Y1AkI","nodes":[{"parameters":{"httpMethod":"POST","path":"8dce6b15-53fa-4775-8b2a-18889a190437","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,-192],"id":"509866fa-a29d-4bfb-8438-209da6655465","name":"Webhook","webhookId":"8dce6b15-53fa-4775-8b2a-18889a190437"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `notificacoes`\n  WHERE `contato` = '{{ $json.contato }}'\n  AND `done` = 0;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[480,-192],"id":"06d6c1bc-9ef8-4482-8876-244d63210573","name":"Execute a SQL query","credentials":{"mySql":{"id":"JGOB8ullb4MxT7Do","name":"operacional-consultoria"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0be8cb0-e4b4-41dd-beb1-ab57a5a4d394","name":"contato","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-96],"id":"f31d92a3-2684-4a1c-8235-8fcb9cd0609d","name":"remoteJid"},{"parameters":{"assignments":{"assignments":[{"id":"d0be8cb0-e4b4-41dd-beb1-ab57a5a4d394","name":"contato","value":"={{ $json.body.data.key.senderPn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-288],"id":"1b4db82b-e4b1-4165-976c-e68d78762e13","name":"senderPn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c934af8a-7940-4631-b60a-af7a960a5d39","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@lid","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,-192],"id":"7ec2dac2-35c8-4d09-ba68-b7205cacae01","name":"Se @lid privado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45961366-4a7d-4508-9fcc-9411927c1a4d","leftValue":"={{ $json.contato }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,-192],"id":"bdd6fa3c-ae5a-4702-be91-2f0ce498c0fc","name":"Se houver notificação enviada e não finalizada"},{"parameters":{"table":{"__rl":true,"value":"notificacao_retorno","mode":"list","cachedResultName":"notificacao_retorno"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"contato","value":"={{ $json.contato }}"},{"column":"msgs","value":"={{ $('Webhook').item.json.body.data.message.conversation }}"},{"column":"datetime","value":"={{ $now }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[992,-192],"id":"2952dd89-38ed-456c-accd-ff61e4f67058","name":"Insert rows in a table","credentials":{"mySql":{"id":"JGOB8ullb4MxT7Do","name":"operacional-consultoria"}}}],"connections":{"Webhook":{"main":[[{"node":"Se @lid privado","type":"main","index":0}]]},"remoteJid":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"senderPn":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Se @lid privado":{"main":[[{"node":"senderPn","type":"main","index":0}],[{"node":"remoteJid","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Se houver notificação enviada e não finalizada","type":"main","index":0}]]},"Se houver notificação enviada e não finalizada":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}