wzap---capturando-msgs-FOa8sJgCUr7N55GW.json
{"updatedAt":"2025-04-17T17:05:17.759Z","createdAt":"2025-04-15T17:25:47.395Z","id":"FOa8sJgCUr7N55GW","name":"WZAP - Capturando msgs","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"2651874b-0e6b-429e-9bbc-a82c8fa81c52","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-600,-120],"id":"1dabf083-3099-415c-8e54-6b5ffd008b1f","name":"Webhook","webhookId":"2651874b-0e6b-429e-9bbc-a82c8fa81c52"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc7876b0-4580-4cd5-abf3-1c5ea8446041","leftValue":"={{ $json.body.data.chat.type }}","rightValue":"group","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-120],"id":"c857c8fe-eb2a-4bc0-aaf7-49c260132e20","name":"Se Grupo"},{"parameters":{"table":{"__rl":true,"value":"msg","mode":"list","cachedResultName":"msg"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"autor","value":"={{ $('Webhook').item.json.body.data.meta.notifyName }}"},{"column":"id-autor","value":"={{ $('Webhook').item.json.body.data.author }}"},{"column":"lida","value":"0"},{"column":"grupo-id","value":"={{ $('Webhook').item.json.body.data.chat.id }}"},{"column":"nome-grupo","value":"={{ $('Webhook').item.json.body.data.chat.name }}"},{"column":"mensagem","value":"={{ $('Webhook').item.json.body.data.body }}"},{"column":"is-group","value":"1"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[280,-240],"id":"65b11353-9e9d-43ae-b1a0-e026683a0b76","name":"INSERT Grupo","credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"table":{"__rl":true,"value":"msg","mode":"list","cachedResultName":"msg"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"autor","value":"={{ $json.body.data.chat.name }}"},{"column":"id-autor","value":"={{ $json.body.data.chat.id }}"},{"column":"lida","value":"0"},{"column":"grupo-id","value":"="},{"column":"nome-grupo","value":"="},{"column":"mensagem","value":"={{ $('Webhook').item.json.body.data.body }}"},{"column":"is-group","value":"0"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[280,20],"id":"5459d52b-8b0d-4ce3-9e8a-f4c4b9a777f8","name":"INSERT Privado","credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cbbe482-3cb3-41e2-b3ff-b0da6ae717ad","leftValue":"={{ $json.body.data.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,-120],"id":"c7f6f5a7-596a-44c9-ae35-0a0e415fa50d","name":"Se texto"}],"connections":{"Webhook":{"main":[[{"node":"Se texto","type":"main","index":0}]]},"Se Grupo":{"main":[[{"node":"INSERT Grupo","type":"main","index":0}],[{"node":"INSERT Privado","type":"main","index":0}]]},"Se texto":{"main":[[{"node":"Se Grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40262bbb-e8bd-4d9a-85b3-aab06d9501cb","activeVersionId":"40262bbb-e8bd-4d9a-85b3-aab06d9501cb","triggerCount":1,"shared":[{"updatedAt":"2025-04-15T17:25:47.395Z","createdAt":"2025-04-15T17:25:47.395Z","role":"workflow:owner","workflowId":"FOa8sJgCUr7N55GW","projectId":"BlSED80HESP48veq"}],"activeVersion":{"updatedAt":"2025-12-01T11:56:54.083Z","createdAt":"2025-12-01T11:56:54.083Z","versionId":"40262bbb-e8bd-4d9a-85b3-aab06d9501cb","workflowId":"FOa8sJgCUr7N55GW","nodes":[{"parameters":{"httpMethod":"POST","path":"2651874b-0e6b-429e-9bbc-a82c8fa81c52","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-600,-120],"id":"1dabf083-3099-415c-8e54-6b5ffd008b1f","name":"Webhook","webhookId":"2651874b-0e6b-429e-9bbc-a82c8fa81c52"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc7876b0-4580-4cd5-abf3-1c5ea8446041","leftValue":"={{ $json.body.data.chat.type }}","rightValue":"group","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-120],"id":"c857c8fe-eb2a-4bc0-aaf7-49c260132e20","name":"Se Grupo"},{"parameters":{"table":{"__rl":true,"value":"msg","mode":"list","cachedResultName":"msg"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"autor","value":"={{ $('Webhook').item.json.body.data.meta.notifyName }}"},{"column":"id-autor","value":"={{ $('Webhook').item.json.body.data.author }}"},{"column":"lida","value":"0"},{"column":"grupo-id","value":"={{ $('Webhook').item.json.body.data.chat.id }}"},{"column":"nome-grupo","value":"={{ $('Webhook').item.json.body.data.chat.name }}"},{"column":"mensagem","value":"={{ $('Webhook').item.json.body.data.body }}"},{"column":"is-group","value":"1"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[280,-240],"id":"65b11353-9e9d-43ae-b1a0-e026683a0b76","name":"INSERT Grupo","credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"table":{"__rl":true,"value":"msg","mode":"list","cachedResultName":"msg"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"autor","value":"={{ $json.body.data.chat.name }}"},{"column":"id-autor","value":"={{ $json.body.data.chat.id }}"},{"column":"lida","value":"0"},{"column":"grupo-id","value":"="},{"column":"nome-grupo","value":"="},{"column":"mensagem","value":"={{ $('Webhook').item.json.body.data.body }}"},{"column":"is-group","value":"0"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[280,20],"id":"5459d52b-8b0d-4ce3-9e8a-f4c4b9a777f8","name":"INSERT Privado","credentials":{"mySql":{"id":"qcW74rM8fMjTo8mj","name":"agente-wzap"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cbbe482-3cb3-41e2-b3ff-b0da6ae717ad","leftValue":"={{ $json.body.data.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,-120],"id":"c7f6f5a7-596a-44c9-ae35-0a0e415fa50d","name":"Se texto"}],"connections":{"Webhook":{"main":[[{"node":"Se texto","type":"main","index":0}]]},"Se Grupo":{"main":[[{"node":"INSERT Grupo","type":"main","index":0}],[{"node":"INSERT Privado","type":"main","index":0}]]},"Se texto":{"main":[[{"node":"Se Grupo","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-04-15T17:22:06.213Z","createdAt":"2025-04-15T17:22:06.213Z","id":"dj75wiwsp56Shp4j","name":"WZAP"}]}